<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-model="listQuery.searchHfnCd" v-permission="['ROLE_SYS_ADMIN']" :placeholder="$t('billingMgmt.prdCtgy')" prop="codeList" class="filter-item" style="width: 150px" clearable>
          <el-option v-for="item in codeList" v-if="item.commCdId === '1100'" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <el-select v-model="listQuery.searchReceiptYn" :placeholder="$t('billingMgmt.receiptYn')" class="filter-item" style="width: 100px" clearable>
          <el-option v-for="item in statusOptions" :key="item.key" :label="item.statusName" :value="item.key"/>
      </el-select>
      <div class="filter-item el-input el-input--medium" style="width: 200px;">
        <input v-model="listQuery.searchAppNm" :placeholder="$t('billingMgmt.app')" type="text" autocomplete="off" class="el-input__inner">
      </div>
      <el-row class="filter-item">
        <el-date-picker 
          v-model="listQuery.searchDate" :picker-options="pickerOptions" type="daterange" align="right" style="width: 330px"
          :start-placeholder="$t('statistics.startDate')" :end-placeholder="$t('statistics.endDate')" clearable>
        </el-date-picker>
      </el-row>
      <el-button v-waves style="margin-left: 0px;" size="small" class="filter-item" type="primary" icon="el-icon-search" @click="getList">
        {{ $t('btn.search') }}
      </el-button>
      <el-button v-waves v-permission="['ROLE_SYS_ADMIN','ROLE_HFN_SALES']" size="small" class="filter-item" style="margin-left: 0px;" type="primary" icon="el-icon-edit"
            @click="handleRegister">{{ $t('btn.add') }}
      </el-button>
      <el-button v-waves style="margin-left: 0px;" size="small" class="filter-item" type="success" icon="el-icon-download" @click="excelDown">{{ $t('btn.excel') }}</el-button>
    </div>
    <el-table v-loading="listLoading" :data="list" border highlight-current-row>
      <el-table-column type="index" widht="30" align="center"></el-table-column>
      <el-table-column :label="$t('billingMgmt.prdCtgy')" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.prdCtgy | svcNmFilter('', codeList) }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('billingMgmt.app')" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.appNm }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('billingMgmt.billingDate')" align="center">
        <el-row slot-scope="scope">
          <span>{{ scope.row.billingDate | dateFilter }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('billingMgmt.billingPrd')" align="center">
        <el-row slot-scope="scope">
          <span v-if="scope.row.billingStDt">{{ scope.row.billingStDt | dateFilter }} ~ {{ scope.row.billingEnDt | dateFilter }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('billingMgmt.billingAmt')" align="center">
        <el-row slot-scope="scope">
          <span>{{ scope.row.billingAmount | wonFilter }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('billingMgmt.receiptAmt')" align="center">
        <el-row slot-scope="scope">
          <span>{{ scope.row.receiptAmount | wonFilter }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('billingMgmt.unpaidAmt')" align="center">
        <el-row slot-scope="scope">
          <span>{{ scope.row.unpaidAmount | wonFilter }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('billingMgmt.memo')" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.memo }}</span>
        </template>
      </el-table-column>
      <el-table-column v-permission="['ROLE_SYS_ADMIN','ROLE_HFN_SALES']" :label="$t('log.actions')" align="center" class-name="small-padding fixed-width" width="90">
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="handleClick(scope.row.appKey)">{{ $t('btn.detail') }}</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getList" />
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import moment from 'moment'
import axios from 'axios'
import permission from '@/directive/permission/index.js'
import { mapGetters } from 'vuex'
import { reqPost } from '@/api/common'
import { getToken } from '@/utils/auth'
import { isEmpty } from '@/utils/validate'
import { selectCommCodeList } from '@/api/product'

const statusOptions = [
  { key: 'Y', statusName: i18n.t('billingMgmt.full'), tag: 'warning' },
  { key: 'N', statusName: i18n.t('billingMgmt.non'), tag: 'success' }
]

export default {
  name: 'BillingIndex',
  directives: { waves, permission },
  components: { Pagination },
  computed: {
    ...mapGetters([
      'roles',
      'hfnCd'
    ])
  },
  data() {
    return {
      listQuery: {
        pageIdx: 1,
        pageSize: 20,
        searchHfnCd: '',
        searchReceiptYn: '',
        searchAppNm: '',
        searchDate: [new Date(), new Date()],
        searchStDt: '',
        searchEnDt: ''
      },
      pickerOptions: {
        shortcuts: [{
          text: this.$t('statistics.lastWeek'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
            picker.$emit('pick', [start, end])
          }
        }, {
          text: this.$t('statistics.lastMonth'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
            picker.$emit('pick', [start, end])
          }
        }]
      },
      listLoading: false,
      statusOptions,
      totCnt: 0,
      codeList: [],
      list: []
    }
  },
  created() {
    this.getCodeList()
    this.dateRange()
  },
  methods: {
    dateRange() {
      const end = new Date()
      const start = new Date()
      start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
      this.listQuery.searchDate = [start, end]
    },
    getCodeList() {
      selectCommCodeList().then(response => {
        this.codeList = response.codeList
        this.listQuery.searchHfnCd = this.hfnCd
        this.getList()
      })
    },
    getList() {
      if (this.listQuery.searchDate) {
        this.listQuery.searchStDt = this.format_date_yyyymmdd(this.listQuery.searchDate[0])
        this.listQuery.searchEnDt = this.format_date_yyyymmdd(this.listQuery.searchDate[1])
      } else {
        this.listQuery.searchStDt = ''
        this.listQuery.searchEnDt = ''
      }
      reqPost('/billing/selectBillingList',this.listQuery).then(response => {
        this.list = response.list
        this.totCnt = response.totCnt
      })
    },
    handleClick(appKey){
      this.$router.push({ path: '/billingManagement/update?appKey=' + appKey  })
    },
    handleRegister() {
      this.$router.push({ path: '/billingManagement/register' })
    },
    format_date_yyyymmdd(inputDate) {
      const y = inputDate.getFullYear()
      const m = inputDate.getMonth() + 1
      const d = inputDate.getDate()
      const mm = m < 10 ? '0' + m : m
      const dd = d < 10 ? '0' + d : d
      return '' + y + mm + dd
    },
    excelDown() {
      let url = location.origin;
      axios({
        url: url + '/billing/excelBilling',
        method: 'POST',
        headers: { 'Authorization': 'Bearer ' + getToken() },
        responseType: 'blob',
        params: {
          pageIdx: this.listQuery.pageIdx,
          pageSize: this.listQuery.pageSize,
          searchHfnCd: this.listQuery.searchHfnCd,
          searchReceiptYn: this.listQuery.searchReceiptYn,
          searchAppNm: this.listQuery.searchAppNm,
          searchStDt: this.listQuery.searchStDt,
          searchEnDt: this.listQuery.searchEnDt
        }
      }).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        let fileName = response.headers['content-disposition']
        fileName = this.getFileNameByContentDisposition(fileName)
        link.href = url
        link.setAttribute('download', fileName)
        document.body.appendChild(link)
        link.click()
      })
    },
    getFileNameByContentDisposition(contentDisposition){
      let regex = /filename[^;=\n]*=(UTF-8(['"]*))?(.*)/;
      let matches = regex.exec(contentDisposition);
      let filename;

      if (matches != null && matches[3]) {
        filename = matches[3].replace(/['"]/g, '');
      }
      return decodeURI(filename);
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .between_form_item {
    .el-form-item {
      width: 50%;
    }
  }
</style>
