<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.billingReg') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button v-waves type="primary" @click="handleConfirm">{{ $t('btn.add') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class=" app_detail app-container">
      <el-row class="left">
        <el-card shadow="hover">
          <el-form ref="ruleForm" :rules="rules" :model="info" label-position="left" label-width="130px" style="width: 520px;">
            <el-form-item v-permission="['ROLE_SYS_ADMIN']" :label="$t('billingMgmt.prdCtgy')" prop="prdCtgy"> 
              <el-select  v-model="info.prdCtgy" prop="hfnNm" class="filter-item" clearable style="width: 200px">
                <el-option v-for="item in codeList" v-if="item.commCdId === '1100'" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
              </el-select>
            </el-form-item>
            <el-form-item :label="$t('billingMgmt.app')" prop="appKey">
              <div class="el-input el-input--medium" style="width: 200px;">
                <input v-model="info.appNm" type="text" autocomplete="off" maxlength="20" class="el-input__inner">
              </div>
              <el-button type="primary" plain @click="handleDialog">검색</el-button>
            </el-form-item>
            <el-form-item :label="$t('billingMgmt.billingPrd')" prop="billingPeriod">
              <el-date-picker
                v-model="info.billingPeriod"
                :start-placeholder="$t('statistics.startDate')"
                :end-placeholder="$t('statistics.endDate')"
                type="daterange"
                value-format="yyyy-MM-dd"
                align="right">
              </el-date-picker>
            </el-form-item>
            <el-form-item :label="$t('billingMgmt.billingDate')" prop="billingDate">
              <el-date-picker v-model="info.billingDate" type="date" align="right" style="width: 200px" value-format="yyyy-MM-dd" />
            </el-form-item>
            <el-form-item :label="$t('billingMgmt.billingAmt')" prop="billingAmount">
              <el-row type="flex">
                <el-input v-model="info.billingAmount" maxlength="11" style="width: 200px;"/>
              </el-row>
            </el-form-item>
            <el-form-item :label="$t('billingMgmt.receiptDate')" prop="receiptDate">
              <el-date-picker v-model="info.receiptDate" type="date" align="right" style="width: 200px" value-format="yyyy-MM-dd" />
            </el-form-item>
            <el-form-item :label="$t('billingMgmt.receiptAmt')" prop="feereceiptAmountAmount">
              <el-input v-model="info.receiptAmount" maxlength="11" style="width: 200px;"/>
            </el-form-item>
            <el-form-item :label="$t('billingMgmt.unpaidAmt')" prop="unpaidAmount">
              <el-input v-model="info.unpaidAmount" maxlength="11" style="width: 200px;"/>
            </el-form-item>
            <el-form-item :label="$t('billingMgmt.receiptYn')" prop="limitYn">
              <el-radio-group v-model="info.receiptYn" size="small">
                 <el-radio-button label="Y">완납</el-radio-button>
                <el-radio-button label="N">미납</el-radio-button>
              </el-radio-group>
            </el-form-item>
            <el-form-item :label="$t('billingMgmt.memo')" prop="prdMemo">
              <textarea v-model="info.memo" maxlength="1000" :class="'custom-textarea'" rows="4"/>
            </el-form-item>
          </el-form>
        </el-card>
        <el-dialog :visible.sync="searchDialog" center class="dialog_form">
          <el-form>
            <el-row type="flex" align="middle">
              <el-select v-model="searchQuery.seacrhSelect" :placeholder="$t('btn.select')" >
                <el-option label="앱" value="appNm"></el-option>
                <el-option label="관리자" value="userNm"></el-option>
              </el-select>
              <el-input v-model="searchQuery.searchNm" maxlength="1000" type="input" style="margin-left:2px;"/>
              <el-button type="primary" @click="getAppList" style="margin-left:10px;">{{ $t('btn.search') }}</el-button>
            </el-row>
            <el-table :data="appList" border style="margin-top:10px;" highlight-current-row @row-click="handleClick">
              <el-table-column :label="$t('app.appNm')" align="center">
                <template slot-scope="scope">
                  <span>{{ scope.row.appNm }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('office.useorgUser')" align="center">
                <template slot-scope="scope"> 
                  <span data-type="date">{{ scope.row.userNm }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('office.officeInfo')" align="center">
                <template slot-scope="scope">
                  <span v-if="scope.row.copRegNo!=null">{{ scope.row.copRegNo | maskingCompRegNo('1') }} / {{ scope.row.copNm }}</span>
                </template>
              </el-table-column>
            </el-table>
            <pagination v-show="totCnt>0" :total="totCnt" :page.sync="searchQuery.pageIdx" :limit.sync="searchQuery.pageSize" @pagination="getAppList" small/> 
          </el-form>
        </el-dialog>
      </el-row>
    </div>
  </div>
</template>

<script>
  import Sticky from '@/components/Sticky'
  import waves from '@/directive/waves'
  import Pagination from '@/components/Pagination'
  import permission from '@/directive/permission/index.js'
  import { mapGetters } from 'vuex'
  import { scrollTo } from '@/utils/scrollTo'
  import { reqPost } from '@/api/common'
  import { isEmpty } from '@/utils/validate'
  import { selectCommCodeList } from '@/api/product'

  export default {
    name: 'BillingReg',
    directives: { waves, permission },
    components: { Sticky, Pagination },
    watch:{
      'info.billingAmount' : function(val) {
        this.info.billingAmount = val.replace(/[^0-9]/g, '')
      },
      'info.receiptAmount' : function(val) {
        this.info.receiptAmount = val.replace(/[^0-9]/g, '')
      },
      'info.unpaidAmount' : function(val) {
        this.info.unpaidAmount = val.replace(/[^0-9]/g, '')
      }
    },
    data() {
      return {
        pickerOptions: {
          disabledDate(time) {
            return time.getTime() < Date.now() - 8.64e7
          },
          shortcuts: [
            {
              text: this.$t('app.month'),
              onClick(picker) {
                const start = new Date()
                picker.$emit('pick', [start])
              }
            },
            {
              text: this.$t('app.year'),
              onClick(picker) {
                const start = new Date()
                picker.$emit('pick', [start])
              }
            }]
        },
        info: {
          prdCtgy: '',
          appKey: '',
          billingPeriod: '',
          billingDate: '',
          billingAmount: '',
          receiptDate:'',
          receiptAmount: '',
          receiptYn: '',
          unpaidAmount: '',
          memo: ''
        },
        ruleForm: {
          prdCtgy: '',
          appKey: ''
        },
        rules: {
          prdCtgy: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
          appKey: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }]
        },
        searchQuery: {
          pageIdx: 1,
          pageSize: 10,
          searchNm: ''
        },
        totCnt: 0,
        selCnt: null,
        codeList: [],
        appList: [],
        searchDialog: false
      }
    },
    computed: {
      ...mapGetters([
        'userKey',
        'hfnCd',
        'roles'
      ])
    },
    created() {
      scrollTo(0, 800)
      this.getCommCodeList()
    },
    methods: {
      getCommCodeList() {
        selectCommCodeList().then(response => {
          this.codeList = response.codeList
        })
      },
      getAppList() {
        reqPost('/billing/selectAppList',this.searchQuery).then(response => {
          this.appList = response.list
          this.totCnt = response.totCnt
          this.selCnt = response.selCnt
        })
      },
      handleConfirm() {
        this.$refs['ruleForm'].validate((valid) => {
          if (valid) {
            if (this.info.billingPeriod) {
              this.info.billingStDt = this.format_date_yyyymmdd(this.info.billingPeriod[0])
              this.info.billingEnDt = this.format_date_yyyymmdd(this.info.billingPeriod[1])
            }
            reqPost('/billing/insertInfo',this.info).then(response => {
              this.$router.push({ path: '/billingManagement' })
            }).catch(() => {})
          }
        })
      },
      handleDialog() {
        this.searchDialog = true
        this.getAppList()
      },
      handleClick(row) {
        this.info.appKey = row.appKey
        this.info.appNm = row.appNm
        this.searchDialog = false
      },
      handleCancel() {
        this.$router.push({ path: '/billingManagement' })
      },
      format_date_yyyymmdd(inputDate) {
        inputDate = new Date(inputDate)
        const y = inputDate.getFullYear()
        const m = inputDate.getMonth() + 1
        const d = inputDate.getDate()
        const mm = m < 10 ? '0' + m : m
        const dd = d < 10 ? '0' + d : d
        return '' + y + mm + dd
      }
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss">
  .container { 
    border:1px solid #cccccc; width:390px; height: 100px; overflow-y: scroll; 
  }
  .app_detail {
    display: flex;
    .left, .right {
      width: 700px;
    }
    .right {
      margin-left: 20px;
      .el-table {
        overflow: auto;
        .el-table__empty-block {
          border: none;
        }
        .cell { padding: 0 5px; }
      }
      .el-card {
        .el-card__header {
          padding: 8px 10px 5px;
          p {
            margin-right: 10px;
            font-weight: bold;
            font-size: 16px;
          }
          .el-tag {
            margin-right: 5px;
          }
          span {
            margin-left: 5px;
          }
        }
        .el-card__body {
          padding: 5px 10px;
        }
      }
      .el-card__body {
        padding-bottom: 5px;
      }
    }
    .el-header {
      background-color: #f7f7f7;
      font-size: 14px;
      line-height: 60px;
    }
    .el-container {
      height: 500px;
      padding-bottom: 10px;
    }
    .el-menu { border-right: 0; }
    .el-table td, .el-table th.is-leaf { border-bottom: 1; }
    .el-table::before { height: 0; }
    .el-table .none_highlight:hover td { background: transparent !important; }
  }
  @media screen and (max-width: 1430px){
    .app_detail {
      flex-direction: column;
      .right {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
</style>
