<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.billingReg') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button v-waves type="primary" @click="handleConfirm">{{ $t('btn.edit') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class=" app_detail app-container">
      <el-row class="left">
        <el-card shadow="hover">
          <el-form ref="ruleForm" :rules="rules" :model="info" label-position="left" label-width="130px" style="width: 520px;">
            <el-form-item :label="$t('billingMgmt.prdCtgy')" prop="prdCtgy" v-permission="['ROLE_SYS_ADMIN']"> 
              <el-select v-model="info.prdCtgy" prop="hfnNm" class="filter-item" disabled style="width: 200px">
                <el-option v-for="item in codeList" v-if="item.commCdId === '1100'" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
              </el-select>
            </el-form-item>
            <el-form-item :label="$t('billingMgmt.app')" prop="appNm">
              <el-input v-model="info.appNm" maxlength="20" style="width: 200px;" disabled/>
            </el-form-item>
            <el-form-item :label="$t('billingMgmt.billingPrd')" prop="billingPeriod">
              <el-date-picker
                v-model="info.billingPeriod"
                :start-placeholder="$t('statistics.startDate')"
                :end-placeholder="$t('statistics.endDate')"
                type="daterange"
                value-format="yyyy-MM-dd"
                align="right"/>
            </el-form-item>
            <el-form-item :label="$t('billingMgmt.billingDate')" prop="billingDate">
              <el-date-picker v-model="info.billingDate" type="date" align="right" style="width: 200px" value-format="yyyy-MM-dd" />
            </el-form-item>
            <el-form-item :label="$t('billingMgmt.billingAmt')" prop="billingAmount">
              <el-row type="flex">
                <el-input v-model="info.billingAmount" maxlength="11" style="width: 200px;" @keydown.native="handleNumber"/>
              </el-row>
            </el-form-item>
            <el-form-item :label="$t('billingMgmt.receiptDate')" prop="receiptDate">
              <el-date-picker v-model="info.receiptDate" type="date" align="right" style="width: 200px" value-format="yyyy-MM-dd" />
            </el-form-item>
            <el-form-item :label="$t('billingMgmt.receiptAmt')" prop="feereceiptAmountAmount">
              <el-row type="flex">
                <el-input v-model="info.receiptAmount" maxlength="11" style="width: 200px;" @keydown.native="handleNumber"/>
              </el-row>
            </el-form-item>
            <el-form-item :label="$t('billingMgmt.unpaidAmt')" prop="unpaidAmount">
              <el-row type="flex">
                <el-input v-model="info.unpaidAmount" maxlength="11" style="width: 200px;" @keydown.native="handleNumber"/>
              </el-row>
            </el-form-item>
            <el-form-item :label="$t('billingMgmt.receiptYn')" prop="receiptYn">
              <el-radio-group v-model="info.receiptYn" size="small">
                 <el-radio-button label="Y">완납</el-radio-button>
                <el-radio-button label="N">미납</el-radio-button>
              </el-radio-group>
            </el-form-item>
            <el-form-item :label="$t('billingMgmt.memo')" prop="prdMemo">
              <textarea v-model="info.memo" maxlength="1000" :class="'custom-textarea'" rows="4"/>
            </el-form-item>
          </el-form>
        </el-card>
      </el-row>
    </div>
  </div>
</template>

<script>
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import permission from '@/directive/permission/index.js'
import { mapGetters } from 'vuex'
import { scrollTo } from '@/utils/scrollTo'
import { reqPost } from '@/api/common'
import { selectCommCodeList } from '@/api/product'
import moment from 'moment'

export default {
  name: 'BillingUpd',
  directives: { waves, permission },
  components: { Sticky, Pagination },
  data() {
    return {
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() < Date.now() - 8.64e7
        },
        shortcuts: [
          {
            text: this.$t('app.month'),
            onClick(picker) {
              const start = new Date()
              picker.$emit('pick', [start])
            }
          },
          {
            text: this.$t('app.year'),
            onClick(picker) {
              const start = new Date()
              picker.$emit('pick', [start])
            }
          }]
      },
      info: {
        prdCtgy: '',
        appKey: '',
        billingPeriod: '',
        billingDate: '',
        billingAmount: '',
        receiptDate:'',
        receiptAmount: '',
        receiptYn: '',
        unpaidAmount: '',
        memo: ''
      },
      ruleForm: {
        prdCtgy: '',
        appKey: ''
      },
      rules: {
        prdNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        appKey: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }]
      },
      totCnt: 0,
      selCnt: null,
      codeList: []
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'hfnCd',
      'roles'
    ])
  },
  created() {
    scrollTo(0, 800)
    this.info.appKey = this.$route.query.appKey
    this.getCommCodeList()
  },
  methods: {
    getCommCodeList() {
      selectCommCodeList().then(response => {
        this.codeList = response.codeList
      })
      this.getInfo()
    },
    getInfo() {
      reqPost('/billing/selectDetail',this.info).then(response => {
        this.info = response.vo
        this.info.billingPeriod = ['', '']
        this.info.billingPeriod[0] = moment(response.vo.billingStDt).format("YYYY-MM-DD")
        this.info.billingPeriod[1] = moment(response.vo.billingEnDt).format("YYYY-MM-DD")
      })
    },   
    handleConfirm() {
      this.info.billingStDt = this.format_date_yyyymmdd(this.info.billingPeriod[0])
      this.info.billingEnDt = this.format_date_yyyymmdd(this.info.billingPeriod[1])
      reqPost('/billing/updateInfo',this.info).then(response => {
        this.$router.push({ path: '/billingManagement' })
      }).catch(() => {
        this.$router.push({ path: '/billingManagement' })
      })
    },
    handleNumber(event) {
      event = event || window.event
      var keyID = (event.which) ? event.which : event.keyCode
      if ((keyID >= 48 && keyID <= 57) || (keyID >= 96 && keyID <= 105) || keyID === 8 || keyID === 46 || keyID === 37 || keyID === 39 || keyID === 190) {
        return
      } else {
        event.preventDefault()
      }
    },
    handleCancel() {
      this.$router.push({ path: '/billingManagement' })
    },
    format_date_yyyymmdd(inputDate) {
      inputDate = new Date(inputDate)
      const y = inputDate.getFullYear()
      const m = inputDate.getMonth() + 1
      const d = inputDate.getDate()
      const mm = m < 10 ? '0' + m : m
      const dd = d < 10 ? '0' + d : d
      return '' + y + mm + dd
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
.container { 
  border:1px solid #cccccc; width:390px; height: 100px; overflow-y: scroll; 
}
.app_detail {
  display: flex;
  .left, .right {
    width: 700px;
  }
  .right {
    margin-left: 20px;
    .el-table {
      overflow: auto;
      .el-table__empty-block {
        border: none;
      }
      .cell { padding: 0 5px; }
    }
    .el-table--medium th, .el-table--medium td {
      padding: 5px 0;
    }
    .el-card {
      .el-card__header {
        padding: 8px 10px 5px;
        p {
          margin-right: 10px;
          font-weight: bold;
          font-size: 16px;
        }
        .el-tag {
          margin-right: 5px;
        }
        span {
          margin-left: 5px;
        }
      }
      .el-card__body {
        padding: 5px 10px;
      }
    }
    .el-card__body {
      padding-bottom: 5px;
    }
  }
  .input-new-tag {
    width: 190px;
    vertical-align: bottom;
  }
  .el-header {
    background-color: #f7f7f7;
    font-size: 14px;
    line-height: 60px;
  }
  .el-container {
    height: 500px;
    padding-bottom: 10px;
  }
  .el-menu { border-right: 0; }
  .el-table td, .el-table th.is-leaf { border-bottom: 0; }
  .el-table::before { height: 0; }
  .el-table .none_highlight:hover td { background: transparent !important; }
}
@media screen and (max-width: 1430px){
  .app_detail {
    flex-direction: column;
    .right {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}
</style>
