<template>
  <div class="dashboard-portal-container">
    <div class="article_content">
    </div>
    <div>
      <el-row :gutter="20">
        <el-col :xs="24" :sm="24" :lg="12" >
          <el-card shadow="hover">
            <iframe v-bind:src="grafanaUrl+'&from='+ fromTimeStamp +'&to='+toTimeStamp+'&viewPanel=39'" style="width: 100%; height: 300px; scrolling: no;" frameborder="0"></iframe>
          </el-card>
        </el-col>
        <el-col :xs="24" :sm="24" :lg="12">
          <el-card>
            <iframe v-bind:src="grafanaUrl+'&from='+ fromTimeStamp +'&to='+toTimeStamp+'&viewPanel=43'" style="width: 100%; height: 300px; scrolling: no;" frameborder="0"></iframe>
          </el-card>
        </el-col>
      </el-row>
    </div>
    <div style="margin-top: 20px;">
      <el-row :gutter="20">
        <el-col :xs="24" :sm="24" :lg="12" >
          <el-card shadow="hover">
            <iframe v-bind:src="grafanaUrl+'&from='+ fromTimeStamp +'&to='+toTimeStamp+'&viewPanel=6'" style="width: 100%; height: 300px; scrolling: no;" frameborder="0"></iframe>
          </el-card>
        </el-col>
        <el-col :xs="24" :sm="24" :lg="12">
          <el-card>
            <iframe v-bind:src="grafanaUrl+'&from='+ fromTimeStamp +'&to='+toTimeStamp+'&viewPanel=41'" style="width: 100%; height: 300px; scrolling: no;" frameborder="0"></iframe>
          </el-card>
        </el-col>
      </el-row>
    </div>  
  </div>
</template>
<script>
import i18n from '@/lang'
import CountTo from 'vue-count-to'
import PanelGroup from '../components/panelGroup'
import CardGroup from '../components/cardGroup'
import LineChart from '../components/LineChart'
import { mapGetters } from 'vuex'
import { fetchPortalDashboard, selectGrafana } from '@/api/dashboard'
import { selectCommCodeList } from '@/api/product'
import permission from '@/directive/permission/index.js'
import { reqPost } from '@/api/common'
import moment from 'moment'

export default {
  name: 'DashboardPortal',
  components: { CountTo, PanelGroup, LineChart, CardGroup },
   directives: { permission },
  data() {
    return {
      lineChartData: {
        tm: [],
        apiTrxCnt: [],
        procTerm: [],
        apiError: [],
        legendData: [i18n.t('dashboard.apiDeal'), i18n.t('dashboard.responseTime'), i18n.t('dashboard.errorRate')],
        yResponseTime: true,
        yErrorRate: true
      },
      grafanaUrl: '',
      fromTimeStamp: '',
      toTimeStamp: '',
      cond: {
        hfnCd: ''
      },
      list: {
        apiCloseCnt: '',
        apiError: '',
        apiTrxCnt: '',
        apiUseCnt: '',
        aplvWaitCnt: '',
        appCloseCnt: '',
        appExpireCnt: '',
        appOkCnt: '',
        avgProcTerm: '',
        dashBoardDayList: [],
        gwError: '',
        maxProcTerm: '',
        topApiErrorList: [],
        topApiUseList: [],
        topProcTermList: [],
        useorgCloseCnt: '',
        useorgOkCnt: ''
      },
      dataDuration: '',
      codeList: [],
      hfnQuery: ''
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'hfnCd',
      'roles'
    ])
  },
  watch: {
    // hfnQuery: function(changeHfn) {
    //   this.cond.hfnCd = this.hfnQuery
    //   this.getList(this.hfnQuery)
    // }
  },
  created() {
    this.getGrafana()
  },
  methods: {
    getGrafana() {
      console.log('getGrafana')
        selectGrafana().then(response => {
          this.grafanaUrl = response
          const today = moment(new Date()).format("YYYY-MM-DD")
          this.fromTimeStamp = new Date(today+" 00:00:00").getTime()
          this.toTimeStamp = new Date(today+" 23:59:59").getTime()
        })
    },
    getCodeList() {
      selectCommCodeList().then(response => {
        this.codeList = response.codeList
        this.hfnQuery = this.hfnCd
      })
    },
    dashBoardApiUseList(){
      reqPost('/api/dashBoardApiUseList', this.cond).then(response => {
        this.list.topApiUseList = response.topApiUseList
        this.dashBoardThreeDayTotal()
      })
    },
    dashBoardThreeDayTotal(){
      reqPost('/api/dashBoardThreeDayTotal', this.cond).then(response => {
        this.list.avgProcTerm = response.avgProcTerm
        this.list.apiTrxCnt = response.apiTrxCnt
        this.list.gwError = response.gwError
        this.list.apiError = response.apiError
        this.list.maxProcTerm = response.maxProcTerm
        this.dashBoardResTmList()
      })
    },
    dashBoardResTmList(){
      reqPost('/api/dashBoardResTmList', this.cond).then(response => {
        this.list.topProcTermList = response.topProcTermList
        this.dashBoardThreeDayList()
      })
    },
    dashBoardApiErrorList(){
      reqPost('/api/dashBoardApiErrorList', this.cond).then(response => {
        this.list.topApiErrorList = response.topApiErrorList
      })
    },
    dashBoardThreeDayList(){
      reqPost('/api/dashBoardThreeDayList', this.cond).then(response => {
        let tm = []
        let apiTrxCnt = []
        let procTerm = []
        let apiError = []

        response.dashBoardDayList.forEach(function(obj, idx) {
          tm.push(obj.regHour)
          apiTrxCnt.push(obj.regCnt)
          procTerm.push(obj.procTerm)
          apiError.push(obj.apiError)
        })

        this.lineChartData.tm = tm
        this.lineChartData.apiTrxCnt = apiTrxCnt
        this.lineChartData.procTerm = procTerm
        this.lineChartData.apiError = apiError

        this.dashBoardApiErrorList()
      })
    },
    getList(hfnQuery) {
      fetchPortalDashboard(hfnQuery).then(response => {
        this.list.apiCloseCnt = response.apiCloseCnt
        this.list.apiUseCnt = response.apiUseCnt
        this.list.aplvWaitCnt = response.aplvWaitCnt
        this.list.appCloseCnt = response.appCloseCnt
        this.list.appExpireCnt = response.appExpireCnt
        this.list.appOkCnt = response.appOkCnt
        this.list.useorgCloseCnt = response.useorgCloseCnt
        this.list.useorgOkCnt = response.useorgOkCnt
        this.list.qnaWaitCnt = response.qnaWaitCnt
        this.dashBoardApiUseList()
      })
    },
    dateFilter(date) {
      const y = date.substring(0, 4)
      const m = date.substring(4, 6)
      const d = date.substring(6, 8)
      date = y + '-' + m + '-' + d
      return date
    }
  }
}

</script>

<style rel="stylesheet/scss" lang="scss">
  .dashboard-portal-container {
    padding: 30px 30px 145px;
    background-color: #f7f7f7;
    .h3 {
      margin-bottom: 10px;
      font-size: 16px;
      color: #999999;
    }
    .date_duration {
      font-size: 14px;
      color: #00479d;
    }
  }


</style>
