<template>
  <div class="app-container">
    <el-card shadow="hover" style="width: 100%;">
      <div slot="header">
        <strong>{{ $t('title.terms') }}</strong>
      </div>
      <div style="width: 100%; overflow-x: auto">
        <div class="filter-container">
          <el-select
            v-model="searchQuery.termsCd"
            :placeholder="$t('terms.termsType')"
            prop="codeList"
            class="filter-item"
            style="width: 150px"
            clearable>
            <el-option v-for="item in codeList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
          </el-select>
          <div class="filter-item el-input el-input--medium" style="width: 240px;">
            <input v-model="searchQuery.searchTerms" :placeholder="$t('community.search')" @keyup.enter.native="getList" type="text" autocomplete="off" class="el-input__inner">
          </div>
          <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" icon="el-icon-search" @click="getList">{{ $t('btn.search') }}</el-button>
          <el-button v-waves class="filter-item" style="margin-left: 0px;" type="success" icon="el-icon-edit" @click="handleCreateNotice">{{ $t('btn.add') }}</el-button>
        </div>
        <div>
          <el-table :data="termsList" border highlight-current-row>
            <el-table-column :label="$t('community.seqNo')" align="center" width="100" minWidth="70">
              <template slot-scope="scope">
                <span>{{ scope.row.seqNo }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('terms.termsType')" align="center" minWidth="220">
              <template slot-scope="scope">
                <span>{{ scope.row.termsCd | termsCdFilter('', codeList) }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('terms.instDttm')" align="center" minWidth="90">
              <template slot-scope="scope">
                <span>{{ scope.row.instDttm | dateFilter }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('echo.api.regUser')" align="center" minWidth="100">
              <template slot-scope="scope">
                <span>{{ scope.row.regUser}}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('terms.regDttm')" align="center" minWidth="90">
              <template slot-scope="scope">
                <span>{{ scope.row.regDttm | dateFilter }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('echo.api.modUser')" align="center" minWidth="100">
              <template slot-scope="scope">
                <span>{{ scope.row.modUser}}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('terms.modDttm')" align="center" minWidth="90">
              <template slot-scope="scope">
                <span>{{ scope.row.modDttm | dateFilter }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('community.action.detail')" align="center" minWidth="100" width="100">
              <template slot-scope="scope">
                <el-button @click="showNotice(scope.row.seqNo)">{{ $t('community.action.detail') }}</el-button>
              </template>
            </el-table-column>
            <el-table-column :label="$t('community.action.delete')" align="center" width="100">
              <template slot-scope="scope">
                <el-button v-if="scope.row.statCd != 'DEL'" @click="delNotice(scope.row.seqNo)">{{ $t('community.action.delete') }}</el-button>
              </template>
            </el-table-column>
          </el-table>
          <pagination v-show="totCnt>0" :total="totCnt" :page.sync="searchQuery.pageIdx" :limit.sync="searchQuery.pageSize" @pagination="getList"/>
        </div>        
      </div>
    </el-card>
  </div>
</template>

<script>
import { selectCommCodeList, reqPost } from '@/api/common'
import { mapGetters } from 'vuex'
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
 
export default {
  name: 'terms',
  directives: { waves },
  components: { Pagination },
  filters: {
    termsCdFilter(code, txtParam, codeList) {
      const value = codeList.reduce((acc, cur) => {
        acc[cur.cdId] = cur.cdNm
        return acc
      }, {})
      return value[code]
    }
  },
  data() {
    return {
      totCnt: 0,
      selCnt: null,
      termsList: [],
      searchQuery: {
        pageIdx: 1,
        pageSize: 20,
        termsCd: '',
        searchTerms: '',
        seqNo: ''
      },
      searchCode: {
        commCdId: '800',
        cdId: '',
        cdNm: '',
        cdEng: '',
        cdUseYn: ''
      },
      codeList: []
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ])
  },
  created() {
    this.getCodeList()
  },
  methods: {
    getCodeList() {
      this.searchQuery.seqNo = ''
      selectCommCodeList(this.searchCode).then(response => {
        this.codeList = response.codeList
        this.codeList.unshift({ cdId: '', cdNm: i18n.t('guide.all') })
        this.getList()
      })
    },
    getList() {
      this.searchQuery.seqNo = ""
      reqPost('/terms/selectTermsList',this.searchQuery).then(response => {
        this.termsList = response.termsList
        this.totCnt = response.totCnt
        this.selCnt = response.selCnt
      })
    },    
    showNotice(seqNo) {
      this.$router.push({ path: '/termsDetail?seqNo=' + seqNo })
    },
    delNotice(seqNo) {
      this.$confirm('정말 삭제하시겠습니까?', {
        confirmButtonText: this.$t('btn.delete'),
        cancelButtonText: this.$t('btn.cancel'),
        type: 'warning'
      }).then(() => {
        this.searchQuery.seqNo = seqNo
        reqPost('/terms/deleteTerms',this.searchQuery).then(response => {
          this.$message.success('약관 삭제 완료')
          this.getList()
        })
      }).catch(() => {
      })
    },
    handleCreateNotice() {
      this.$router.push({ path: '/termsCreate' })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .noborder {
    overflow: auto;
    .el-container { height: calc(100vh - 429px); padding-bottom: 2px; }
    .el-aside { border-right: solid 1px #ededed; }
    .el-menu { border-right: 0; }
    .el-table td, .el-table th.is-leaf { border-bottom: 0; }
    .el-table::before { height: 0; }
    .el-table .none_highlight:hover td { background: transparent !important; }
    .list_card .el-card__header{ padding: 6px 20px; }
    .category {
      white-space: nowrap;
      margin-right: 20px;
      font-size: 14px;
      color: #00479d;
    }
    .name {
      white-space: nowrap;
      margin-right: 20px;
      font-size: 15px;
      font-weight: bold;
    }
  }
</style>
