<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.termsCreate') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button type="primary" @click="handleConfirm">{{ $t('btn.add') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="app_detail app-container">
      <el-row width="100%" >
        <el-card shadow="hover">
          <el-form :model="termsDetail" label-position="left" label-width="130px" style="width: 100%;">
            <el-row>
              <el-col :span="12">
                <el-form-item :label="$t('terms.termsType')" prop="termsCd">
                  <el-select
                    v-model="termsDetail.termsCd"
                    :placeholder="$t('terms.termsType')"
                    prop="codeList"
                    class="filter-item"
                    style="width: 200px"
                    clearable>
                    <el-option v-for="item in codeList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item :label="$t('terms.instDttm')" prop="instDttm" style="padding-left:10px">
                  <el-date-picker v-model="termsDetail.instDttm" :placeholder="$t('terms.instDttm')" type="date" align="right" style="width: 200px" value-format="yyyy-MM-dd" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('terms.termsTitle')" prop="subject">
                  <div class="el-input el-input--medium">
                    <input v-model="termsDetail.subject" type="text" autocomplete="off" maxlength="200" class="el-input__inner">
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('terms.termsCtnt')" prop="ctnt">
                  <textarea v-model="termsDetail.ctnt" :class="'custom-textarea'" rows="10"/>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-card>
      </el-row>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { scrollTo } from '@/utils/scrollTo'
import { selectCommCodeList, reqPost } from '@/api/common'

export default {
  name: 'TermsCreate',
  directives: { waves },
  components: { Sticky },
  filters: {
    termsCdFilter(code) {
      const value = this.codeList.reduce((acc, cur) => {
        acc[cur.key] = cur.cdNm
        return acc
      }, {})
      return value[code]
    }
  },data() {
    return {
      termsDetail: {
        seqNo: '',
        termsCd: '',
        subject: '',
        ctnt: '',
        instDttm: '',
        regId: '',
        regDttm: '',
        modId: '',
        modDttm: ''
      },
      searchCode: {
        commCdId: '800',
        cdId: '',
        cdNm: '',
        cdEng: '',
        cdUseYn: ''
      },
      codeList: []
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ])
  },
  created() {
    this.getCodeList()
  },
  methods: {
    getCodeList() {
      selectCommCodeList(this.searchCode).then(response => {
				this.codeList = response.codeList
      })
    },
    handleCancel() {
      this.$router.push({ path: '/terms' })
    },
    handleConfirm() {
      let subject = this.termsDetail.subject
      let ctnt = this.termsDetail.ctnt
      let termsCd = this.termsDetail.termsCd
      let instDttm = this.termsDetail.instDttm

      if(termsCd == null || termsCd == ""){
        this.$message.error('약관유형을 입력해주세요.')
        return false;
      }

      if(instDttm == null || instDttm == ""){
        this.$message.error('시행일을 입력해주세요.')
        return false;
      }

      if(subject == null || subject == ""){
        this.$message.error('약관제목을 입력해주세요.')
        return false;
      }

      if(ctnt == null || ctnt == ""){
        this.$message.error('약관내용을 입력해주세요.')
        return false;
      }
      
      this.termsDetail.ctnt = ctnt

      reqPost('/terms/insertTerms',this.termsDetail).then(response => {
        this.$router.push({ path: '/terms' })
      }).catch(() => {
        this.$router.push({ path: '/terms' })
      })
    }
  }
}
</script>
