<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select
        v-model="listQuery.batchId"
        :placeholder="$t('batchHistory.batchId')"
        clearable
        style="min-width: 90px"
        class="filter-item">
        <el-option v-for="item in batchIdList" :key="item.batchId" :label="item.batchId" :value="item.batchId"/>
      </el-select>
      <el-select
        v-model="listQuery.batchResult"
        :placeholder="$t('batchHistory.batchResult')"
        clearable
        style="width: 120px"
        class="filter-item">
        <el-option v-for="item in statusOptions" :key="item.key" :label="item.statusName" :value="item.key"/>
      </el-select>
      <el-row class="filter-item">
        <el-date-picker
          v-model="listQuery.searchDt"
          :picker-options="pickerOptions"
          type="daterange"
          align="right"
          :start-placeholder="$t('statistics.startDate')"
          :end-placeholder="$t('statistics.endDate')"/>
      </el-row>
      <el-button v-waves class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-search" @click="handleFilter">{{ $t('btn.search') }}
      </el-button>
    </div>
    <el-table
      v-loading="listLoading"
      :data="list"
      border
      highlight-current-row>
      <el-table-column :label="$t('batchHistory.no')" align="center" width="120" type="index">
      </el-table-column>
      <el-table-column :label="$t('batchHistory.batchId')" align="center" width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.batchId }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('batchHistory.numberOfProcessing')" align="center" width="140">
        <template slot-scope="scope">
          <span>{{ scope.row.numberOfProcessing }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('batchHistory.batchResult')" align="center" width="120">
        <template slot-scope="scope">
          <el-tag :type="scope.row.batchResult | statusFilter">{{ scope.row.batchResult | statusTextFilter }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column :label="$t('batchHistory.batchStartDate')" align="center" width="180">
        <el-row slot-scope="scope">
          <span>{{ scope.row.batchStartDate }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('batchHistory.batchEndDate')" class-name="status-col" width="180">
        <template slot-scope="scope">
          <span>{{ scope.row.batchEndDate }}</span>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getList" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import { fetchBatchIdList, batchLogList } from '@/api/setting'

const statusOptions = [
  { key: 'SUCCESS', statusName: i18n.t('batchHistory.success'), tag: 'success' },
  { key: 'FAIL', statusName: i18n.t('batchHistory.fail'), tag: 'danger' }
]

export default {
  name: 'Pass',
  directives: { waves },
  filters: {
    statusTextFilter(status) {
      const nameValue = statusOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.statusName
        return acc
      }, {})
      return nameValue[status]
    },
     statusFilter(status) {
      const nameValue = statusOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.tag
        return acc
      }, {})
      return nameValue[status]
    }
  },
  components: { Pagination },
  data() {
    return {
      batchIdList: [],
      statusOptions,
      listQuery: {
        pageIdx: 1,
        pageSize: 20,
        batchId: '',
        batchResult: '',
        searchDt: [new Date(), new Date()],
        searchStDt: '',
        searchEnDt: ''
      },
      pickerOptions: {
        shortcuts: [{
          text: this.$t('statistics.lastWeek'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
            picker.$emit('pick', [start, end])
          }
        }, {
          text: this.$t('statistics.lastMonth'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
            picker.$emit('pick', [start, end])
          }
        }]
      },
      listLoading: false,
      totCnt: 0,
      selCnt: null,
      list: []
    }
  },
  computed: {
    ...mapGetters([
      'roles',
      'userKey',
      'hfnCd'
    ])
  },
  created() {
    this.fetchBatchIdList()
    this.dateRange()
    this.getList()
  },
  methods: {
    dateRange() {
      const end = new Date()
      const start = new Date()
      start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
      this.listQuery.searchDt = [start, end]
    },
    fetchBatchIdList() {
      fetchBatchIdList().then(response => {
        this.batchIdList = response
      })
    },
    handleFilter() {
      this.listQuery.pageIdx = 1
      this.getList()
    },
    format_date_yyyymmdd(inputDate) {
      const y = inputDate.getFullYear()
      const m = inputDate.getMonth() + 1
      const d = inputDate.getDate()
      const mm = m < 10 ? '0' + m : m
      const dd = d < 10 ? '0' + d : d
      return '' + y + mm + dd
    },
    getList() {
      this.listLoading = true

      if (this.listQuery.searchDt) {
        this.listQuery.searchStDt = this.format_date_yyyymmdd(this.listQuery.searchDt[0])
        this.listQuery.searchEnDt = this.format_date_yyyymmdd(this.listQuery.searchDt[1])
      }

      batchLogList(this.listQuery).then(response => {
        this.list = response.list
        this.totCnt = response.totCnt

        setTimeout(() => {
          this.listLoading = false
        }, 1000)
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .table_like {
    width: 100%;
    overflow: auto;
    margin-top: -20px;
    .el-col {
      width: 120px;
      height: 40px;
      &.content {
        min-width: 220px;
      }
    }
  }
</style>
