<template>
<!-- app-container -->
    <div class="app-container">
        <div class="filter-container">
            <el-input placeholder="기관명" v-model="searchQuery.useorgNm" style="width:180px;" class="filter-item"></el-input>
            <el-input placeholder="서버 IP" v-model="searchQuery.cnlKey" style="width:180px;" class="filter-item" maxlength="10"></el-input>
            <el-select v-model="searchQuery.policyType" :placeholder="$t('policy.policy')" clearable style="width: 150px" class="filter-item">
                <el-option v-for="item in policyType" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
            </el-select>
            <el-select v-model="searchQuery.statCd" :placeholder="$t('useorg.status')" clearable style="width: 150px" class="filter-item">
                <el-option v-for="item in statusList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
            </el-select>
             <!-- <el-select v-model="searchQuery.policyType" :placeholder="$t('useorg.status')"
                 clearable style="width: 150px" class="filter-item">
                <el-option v-for="item in typeList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
            </el-select> -->
            <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" plain icon="el-icon-search" size="small" @click="getList">
                {{ $t('btn.search') }}
            </el-button>
            <el-button v-waves class="filter-item" style="margin-left: 0px;" plain icon="el-icon-refresh-left" size="small" @click="resetSearch">
                {{$t('btn.resetSearch')}}
            </el-button>
        </div>
        <div class="proc-container">
            <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" icon="el-icon-edit" size="small" @click="regServicePolicy">
                {{$t('btn.add')}}
            </el-button>
        </div> 
        <el-table v-loading="listLoading" :data="list" border highlight-current-row @row-click="detailPolicy">
            <el-table-column label="No." align="center">
                <template slot-scope="scope" align="center">
                    {{ scope.$index + (searchQuery.pageSize * (searchQuery.pageIdx-1))+1}}
                </template>
            </el-table-column>
            <el-table-column label="기관명" align="center">
                <template slot-scope="scope">
                    <span v-if="scope.row.useorgNm !== null">{{scope.row.useorgNm}}</span>
                    <span v-else>전체</span>
                </template>
            </el-table-column>
            <el-table-column label="서버 IP" align="center">
                <template slot-scope="scope">
                    <span v-if="scope.row.cnlKey !== null">{{scope.row.cnlKey}}</span>
                    <span v-else>전체</span>
                </template>
            </el-table-column>
            <el-table-column label="API명" align="center">
                <template slot-scope="scope">
                    <span v-if="scope.row.apiNm !== null">{{scope.row.apiNm}}</span>
                    <span v-else>전체</span>
                </template>
            </el-table-column>
            <el-table-column label="동시 접속자 수" align="center">
                <template slot-scope="scope">
                    <span v-if="scope.row.maxUser !== null">{{scope.row.maxUser | wonFilter}}</span>
                    <span v-else>-</span>
                </template>
            </el-table-column>
            <el-table-column label="이용건수" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.policy}}</span>
                </template>
            </el-table-column>
            <el-table-column label="앱제한" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.maxClient}}</span>
                </template>
            </el-table-column>
            <el-table-column label="상태" align="center">
                <template slot-scope="scope">
                    <!-- <el-tag class="button-no-bg" :type="scope.row.statCd=='OK'?'primary':scope.row.statCd=='CLOSE'?'info':'danger'">{{ scope.row.statCd | cdNmFilter('', codeStatusList)}}</el-tag> -->
                    <el-tag v-if="scope.row.statCd === 'OK'" class="button-no-bg" type="primary">적용</el-tag>
                    <el-tag v-if="scope.row.statCd === 'CLOSE'" class="button-no-bg" type="info">미적용</el-tag>
                    <el-tag v-if="scope.row.statCd === 'DEL'" class="button-no-bg" type="danger">삭제</el-tag>
                </template>
            </el-table-column>
            <el-table-column :label="$t('useorg.actions')" align="center">
                <template slot-scope="scope">
                    <el-button v-if="scope.row.statCd === 'CLOSE'" size="mini" plain @click.native.stop="handleModifyStatus(scope)">
                        적용
                    </el-button>
                    <el-button v-if="scope.row.statCd === 'OK'" size="mini" plain @click.native.stop="handleModifyStatus(scope)">
                        미적용
                    </el-button>    
                    
                </template>
            </el-table-column>
        </el-table>
        <pagination v-show="totCnt>0" :total="totCnt" :page.sync="searchQuery.pageIdx" :limit.sync="searchQuery.pageSize" @pagination="getList"/>
<!-- /app-container -->
    </div>
</template>

<script>
import { useOrgList, useOrgStatusUpd, insertUseOrgHis } from '@/api/useOrg'
import waves from '@/directive/waves'
import { selectCommCodeList } from '@/api/common'
import { mapGetters } from 'vuex'
import Pagination from '@/components/Pagination' // 페이징
import { getPolicyServiceList, updPolicyServiceStatus } from '@/api/policy'
const formatObj = {
    minute: 60,
    hour: 60*60,
    day: 60*60*24
}
export default {
     name: 'useOrgList',
     directives: { waves },
     components: { Pagination },
     filters: {
        cdNmFilter(code, txtParam, codeList) {
        const value = codeList.reduce((obj, cur) => {
            obj[cur.cdId] = cur.cdNm
            return obj
        }, {})
        return value[code]
        }
    },
     data() {
      return {
        condCode: {
            commCdId: '0300'
        },
        policyType: {},
        totCnt: 0, // 총건수
        form: {
          name: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          listLoading: true,
          type: [],
          resource: '',
          desc: ''
        },
        statusList: [
            {cdId: 'OK' , cdNm: '적용'},
            {cdId: 'CLOSE' , cdNm: '미적용'},
            {cdId: 'DEL' , cdNm: '삭제'}
        ],
        typeList: [
            {cdId: 'AB' , cdNm: '동시접속자수'},
            {cdId: 'BC' , cdNm: '사용주기'}
        ],
        list: null,
        searchQuery: {
            pageIdx: 1,
            pageSize: 20,
            useorgNm: '',   // 이용기관명
            cnlKey: '',     // 서버 IP
            statCd: '',     // 상태
            type: ''
        }
      }
    },
    watch: {
        sBrn: function() {
            return this.sBrn = this.sBrn.replace(/[^0-9]/g, '')
        }
    },
    computed: {
    ...mapGetters([
      'roles',
      'userKey'
    ])
    },
    created() {
      this.getList()
      this.getCodeList()
    },
    methods: {
        getCodeList() {
            selectCommCodeList(this.condCode).then(response => {
                this.policyType = response.codeList
            })
        },
        detailPolicy(data) {
            this.$router.push({ path: '/servicePolicyList/servicePolicyEdit?seqNo=' + data.seqNo})
        },
        handleModifyStatus(row) {
            const data = this.list[row.$index]
            this.$confirm(this.$t('message.changeConfirm'), {
            }).then(() => {
                updPolicyServiceStatus(data).then(response => {
                    this.$message.success(this.$t('message.success_stat'))
                    this.getList()
                })
            })
        },
        // 유량제어 등록
        regServicePolicy() {
            this.$router.push({ path: '/servicePolicyList/servicePolicyCreate'})
        },
        resetSearch() {
            this.searchQuery.pageIdx = 1
            this.searchQuery.pageSize = 20
            this.searchQuery.useorgNm = ''
            this.searchQuery.cnlKey = ''
            this.searchQuery.statCd = ''
            this.getList()
        },
        commaFilter(data) {
            var result = data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            return result;
        },
        getList() {
            this.listLoading = true
            getPolicyServiceList(this.searchQuery).then(response => {
                this.list = response.list
                this.totCnt = response.totCnt
                this.listLoading = false
                for (var i = 0; i < this.list.length; i++) {
                    if (this.list[i].ltdTimeFm === null || this.list[i].ltdTimeFm === '') {
                        this.list[i].policy = '-'
                    } else { // 사용주기
                        var value = formatObj[this.list[i].ltdTimeFm]
                        var limited = this.list[i].ltdTime * value
                        this.list[i].limitedValue = JSON.stringify({
                        "limitedCount": this.list[i].ltdCnt, "limitedTime": limited
                        }) 
                        switch(this.list[i].ltdTimeFm) {
                            case 'minute':
                                this.list[i].policy = this.list[i].ltdTime + '분당 ' + this.commaFilter(this.list[i].ltdCnt) + '건'
                                break
                            case 'hour' :
                                this.list[i].policy = this.list[i].ltdTime + '시간당 ' + this.commaFilter(this.list[i].ltdCnt) + '건'
                                break
                            case 'day' :
                                this.list[i].policy = this.list[i].ltdTime + '일당 ' + this.commaFilter(this.list[i].ltdCnt) + '건'
                                break
                        }
                    }
                }
            })


        },
    }
}
</script>

<style>

</style>