<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>유량제어 정책 수정</p>
        <el-row type="flex" class="btn_box">
          <el-button v-if="editList.statCd === 'OK'" @click="handleModifyStatus">미적용</el-button>
          <el-button v-if="editList.statCd === 'CLOSE'" @click="handleModifyStatus">적용</el-button>
          <el-button v-if="editList.statCd !== 'DEL'" v-waves type="danger" @click="handleDel">{{$t('btn.delete')}}</el-button>
          <el-button v-waves type="primary" @click="handleUpd">{{ $t('btn.edit') }}</el-button>
          <el-button v-waves type="info" @click="handleCancel">{{ $t('btn.list') }}</el-button>
        </el-row>
      </el-row>
    </sticky>

    <!-- app-container -->
    <div class="app-container">
      <el-card shadow="hover">
        <div slot="header">
              <div style="display: table-cell; width: 95%;">
                <strong>정책 정보</strong>
              </div>
        </div>
        <el-form ref="ruleForm" :model="editList" label-position="left" class="demo-form-inline">
          <el-form-item label="기관명(사업자)" label-width="250px">  
            <el-input readonly v-model="editList.useorgNm" disabled placeholder="전체"></el-input>
          </el-form-item>
          <el-form-item label="클라이언트 ID" label-width="250px">
            <el-select v-model="editList.clientId" placeholder="전체">
                    <el-option v-for="item in clientIdList" :key="item.appClientId" :label="item.appClientId" :value="item.appClientId" disabled>
                      <span style="float: left">{{ item.appNm }}</span>
                      <span style="float: right; color: #8492a6; font-size: 12px">{{ item.appClientId }}</span>
                    </el-option>
               </el-select>
          </el-form-item>
          <el-form-item label="서버 IP" label-width="250px">
            <el-select v-model="editList.cnlKey" placeholder="전체" disabled>
                    <el-option v-for="item in serverIpList" :key="item.cnlKey" :label="item.cnlKey" :value="item.cnlKey">
                    </el-option>
               </el-select>
          </el-form-item>
          <el-form-item label="API" label-width="250px">
              <el-select v-model="editList.apiNm" placeholder="전체" disabled>
                    <el-option v-for="item in apiList" :key="item.apiId" :label="item.apiNm" :value="item.apiId">
                      <span style="float: left">{{ item.apiNm }}</span>
                      <span style="float: right; color: #8492a6; font-size: 12px">{{ item.apiUrl }}</span>
                    </el-option>
               </el-select>
          </el-form-item>
          <!-- 추가 -->
          
          <el-row type="flex" align="left">
            <div class="el-form-item is-required el-form-item--medium" style="width: 250px;">
                <label style="width: 250px;" class="el-form-item__label"> 제어정책
                </label>
            </div>

            <div style="inline: block;">
            <el-row type="flex" width="100%">
                <el-radio-group v-model="ltdOptions" size="small" @change="changeOptions">
                    <el-radio-button label="1">동시접속자 수</el-radio-button>
                    <el-radio-button label="2" >사용주기</el-radio-button>
                </el-radio-group>    
            </el-row>
            <el-row style="margin-top: 10px;">
            <el-form-item v-if="ltdOptions === '1'" label-width="" label="" :show-message="showTagMessage" :error="tagErrorMessage">
                <el-row type="flex">
                    <el-input v-model="editList.maxUser" maxlength="10" placeholder="동시접속자수" @blur="handle1"></el-input><label class="el-form-item__label" style="margin-left: 10px;">명</label>
                </el-row>
            </el-form-item>
            <el-form-item v-if="ltdOptions === '2'" label-width="" label="" :show-message="showTagMessage2" :error="tagErrorMessage2">
                <el-row type="flex">
                    <el-input v-model="editList.ltdTime" maxlength="10" ></el-input>
                    <el-select v-model="editList.ltdTimeFm" placeholder="선택"
                    clearable  class="filter-item ml20">
                        <el-option v-for="item in options" :key="item.key" :label="item.label" :value="item.key"/>
                    </el-select><label class="el-form-item__label" style="margin-left: 10px;">당</label>
                    <el-input v-model="editList.ltdCnt" maxlength="10" class="ml20"></el-input><label class="el-form-item__label" style="margin-left: 10px;">건</label>
                </el-row>
            </el-form-item> 
           </el-row> 
           </div>
           <!-- 추가 -->
          </el-row>  
        </el-form>
      </el-card>
      <p style="color: #009591; margin-top: 10px; font-size: 15px;" >※ 기관, 서버 IP 모두 선택하지 않을 경우 전체 API 대상으로 정책이 적용됨.</p>
      <p style="color: #009591; font-size: 15px;">※ 이용기관은 전송토큰의 발급요청기관을 대상으로 함.</p>
      <p style="color: #009591; font-size: 15px;">※ 토큰발급요청/갱신/폐기에는 적용되지 않음</p>
      
    </div>
    <!-- /app-container -->
  </div>
</template>
<script>
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { policyGetClientIdList, delPolicyService, updPolicyServiceStatus, updPolicyService, getPolicyServiceDetail } from '@/api/policy'

const formatObj = {
    minute: 60,
    hour: 60*60,
    day: 60*60*24
}
export default {
  name: 'tAppCreate',
  directives: { waves },
  components: { Sticky },
  data() {
    return {
      searchQuery: {
        pageIdx: 1,
        pageSize: 100,
        brn:'', // 사업자등록번호
        useorgNm: '', // 기관명
      },
      options: [
        {key: 'minute', label: '분'},
        {key: 'hour', label: '시간'},
        {key: 'day', label: '일'}
      ],
      apiList: [], // apiList
      clientIdList: [], // clientId list
      appKeyList: [], // appKey List
      serverIpList: [], // 서버IP리스트
      ruleForm: {},
      sUseorgUserTel: '', // 연락처
      cnlKeyList: [],
      showTagMessage: false,
      tagErrorMessage: '',
      showTagMessage2: false,
      tagErrorMessage2: '',
      inputValue: '',
      inputValue2: '',
      inputVisible: false,
      sTotCnt: 0,
      editList: {
          userKey: '', // 기관(사업자)키
          statCd: '', // 상태코드
          cleintId: '',
          cnlKey: '',
          useorgNm: '',
          apiId: '', // API
          ltdOptions: '',
          maxUser: '', // 동시접속자수
          ltdTimeFm: '', // 사용주기 구분
          bfltdTime: '', // 사용주기 시간
          ltdTime: '', // 사용주기 시간
          ltdCnt: '', // 할당량
          limitedValue: ''
      },
      ltdTime: '',
      ltdOptions: ''
    }
  },
  
  created() {
    //   this.getApiList()
    this.detailList()
  },
  watch: {
      'editList.maxUser': function(val) {
          if (val !== null) {
              return this.editList.maxUser = this.editList.maxUser.replace(/[^0-9]/g, '')
          }
          
      },
      'editList.ltdTime': function(val) {
          if (val !== null) {
              return this.editList.ltdTime = this.editList.ltdTime.replace(/[^0-9]/g, '')
          }
      },
      'editList.ltdCnt': function(val) {
          if (val !== null) {
              return this.editList.ltdCnt = this.editList.ltdCnt.replace(/[^0-9]/g, '')
          }
      }
  },
  methods: {
    handleDel() {
        this.$confirm(this.$t('message.deleteConfirm'), {}).then( () => {
            delPolicyService(this.editList).then(response => {
                this.$message.success(this.$t('message.success_delete'))
                this.$router.push({ path: '/servicePolicyList'})
            })
          })
    },
    handleModifyStatus() {
        this.$confirm(this.$t('message.changeConfirm'), {
            }).then(() => {
                if (this.editList.ltdTimeFm !== null || this.editList.ltdTimeFm !== '') {
                    var value = formatObj[this.editList.ltdTimeFm]
                    var limited = this.editList.ltdTime * value
                    this.editList.limitedValue = JSON.stringify({
                        "limitedCount": this.editList.ltdCnt, "limitedTime": limited
                        }) 
                }
                updPolicyServiceStatus(this.editList).then(response => {
                    this.$message.success(this.$t('message.success_stat'))
                    this.$router.push({ path: '/servicePolicyList' })
                })
            })
    },
    detailList() {
        const data = { seqNo: this.$route.query.seqNo}
        getPolicyServiceDetail(data).then(response => {
            this.editList = response
            if(this.editList.ltdTimeFm === null || this.editList.ltdTimeFm === '') {
                this.ltdOptions = '1'
            } else {
                this.ltdOptions = '2'
            }
            this.getClientIdList()
        })
        
    },
    getClientIdList() {
        this.clientIdList = null
        this.appKeyList = []
        const clientData = { userKey: this.editList.userKey }
        policyGetClientIdList(clientData).then(response => {
            this.clientIdList = response
            for (var i = 0; i <this.clientIdList.length; i++) {
                 this.appKeyList.push({appKey: this.clientIdList[i].appKey})
            }
        })
    },
    handle1() {
        this.validationChk()
    },
    handle2() {
        this.validationChk()
    },
    changeOptions(data) {
        if (data === '1') {
            this.showTagMessage2 = false
            this.tagErrorMessage2 = ''
            
        } else {
            this.showTagMessage = false
            this.tagErrorMessage = ''
        }
    },
    validationChk() {
        if (this.ltdOptions === '1' && (this.editList.maxUser === '' || this.editList.maxUser === null)) { // 동시접속자수
            this.showTagMessage = true
            this.tagErrorMessage = this.$t('message.valid_required')
            return false
        } else if (this.ltdOptions === '2' && (this.editList.ltdTimeFm === '' || this.editList.bfltdTime === '' || this.editList.ltdCnt === '' || this.editList.ltdTimeFm === null || this.editList.bfltdTime === null || this.editList.ltdCnt === null)) {
            this.showTagMessage2 = true
            this.tagErrorMessage2 = this.$t('message.valid_required')
            return false
        } else {
            this.showTagMessage = false
            this.showTagMessage2 = false
            this.tagErrorMessage = ''
            this.tagErrorMessage2 = ''
            return true
        } 
    },
    handleCancel() {
      this.$router.push({ path: '/servicePolicyList' })
    },
    handleUpd() {
        if(this.validationChk()) {
            this.$confirm(this.$t('message.editConfirm'),{
            }).then(() => {
                if (this.ltdOptions === '1') {
                    // 사용주기 텍스트들 다 삭제
                    this.editList.ltdTime = ''
                    this.editList.ltdTimeFm = ''
                    this.editList.ltdCnt = ''
                } else {
                    // 동시접속자수 텍스트들 다 삭제
                    this.editList.maxUser = ''
                    var value = formatObj[this.editList.ltdTimeFm]
                    var ltdTimed = this.editList.ltdTime * value
                    this.editList.limitedValue = JSON.stringify({
                        "limitedCount": this.editList.ltdCnt, "limitedTime": String(ltdTimed)
                    })
                }
                updPolicyService(this.editList).then(response => {
                  this.$message.success(this.$t('message.success_upd'))
                  this.$router.push({ path: '/servicePolicyList'})
                })
                
            })
        }
    }
  }
}
</script>
<style>
</style>
