<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>유량제어 정책 등록</p>
        <el-row type="flex" class="btn_box">
          <el-button v-waves type="primary" @click="handleReg">{{ $t('btn.add') }}</el-button>
          <el-button v-waves type="info" @click="handleCancel">{{ $t('btn.list') }}</el-button>
        </el-row>
      </el-row>
    </sticky>

    <!-- app-container -->
    <div class="app-container">
      <el-card shadow="hover">
        <div slot="header">
              <div style="display: table-cell; width: 95%;">
                <strong>정책 정보</strong>
              </div>
        </div>
        <el-form ref="ruleForm" :model="createList" label-position="left" class="demo-form-inline">
          <el-form-item label="기관명(사업자)" label-width="250px">  
            <el-input readonly v-model="createList.useorgNm" @click.native="selectUseorg" placeholder="기관명(사업자)"></el-input>
          </el-form-item>
          <el-form-item label="클라이언트 ID" label-width="250px">
            <el-select v-model="createList.clientId" placeholder="클라이언트 ID">
                    <el-option v-for="item in clientIdList" :key="item.appClientId" :label="item.appClientId" :value="item.appClientId" disabled>
                      <span style="float: left">{{ item.appNm }}</span>
                      <span style="float: right; color: #8492a6; font-size: 12px">{{ item.appClientId }}</span>
                    </el-option>
               </el-select>
          </el-form-item>
          <el-form-item label="서버 IP" label-width="250px">
            <el-select v-model="createList.cnlKey" placeholder="서버 IP" clearable>
                    <el-option v-for="item in serverIpList" :key="item.cnlKey" :label="item.cnlKey" :value="item.cnlKey">
                    </el-option>
               </el-select>
          </el-form-item>
          <el-form-item label="API" label-width="250px">
              <el-select v-model="createList.apiId" placeholder="API" clearable @change="apiChange" :disabled="disabledApi" >
                    <el-option v-for="item in apiList" :key="item.apiId" :label="item.apiNm" :value="item.apiId">
                      <span style="float: left">{{ item.apiNm }}</span>
                      <span style="float: right; color: #8492a6; font-size: 12px">{{ item.apiUrl }}</span>
                    </el-option>
               </el-select>
          </el-form-item>
          <!-- 추가 -->
          <el-row type="flex" align="left">
            <div class="el-form-item is-required el-form-item--medium" style="width: 250px;">
                <label style="width: 250px;" class="el-form-item__label"> 제어정책
                </label>
            </div>
            <div style="inline: block;">
              <el-row type="flex" width="100%">
                  <el-radio-group v-model="createList.policyType" size="small" @change="changeOptions">
                      <el-radio-button label="RL01">동시 접속자 수 제한</el-radio-button>
                      <el-radio-button label="RL02" >이용건수 제한</el-radio-button>
                      <el-radio-button label="RL03" >거래 제한</el-radio-button>
                  </el-radio-group>    
                  <!-- <el-radio v-model="policyType" label="RL01" class="el-form-item__label" style="font-weight: 700; font-size: 14px;">동시접속자 수</el-radio>
                  <el-radio v-model="policyType" label="RL02" class="el-form-item__label" style="font-weight: 700; font-size: 14px;">사용주기</el-radio> -->
              </el-row>
              <el-row style="margin-top: 10px;">
                <el-form-item v-if="createList.policyType === 'RL01'" label-width="" label="" :show-message="showTagMessage" :error="tagErrorMessage">
                  <el-row type="flex">
                    <el-input v-model="createList.maxUser" maxlength="10" placeholder="동시접속자수" @blur="handle1"></el-input><label class="el-form-item__label" style="margin-left: 10px;">명</label>
                    <label class="el-form-item__label" style="width: 200px; margin-left: 50px;">현재 접속자 수 :</label> <span> {{ currentCnt | wonFilter }}</span> <label>명</label>
                  </el-row>
                </el-form-item>
                <el-form-item v-if="createList.policyType === 'RL02'" label-width="" label="" :show-message="showTagMessage2" :error="tagErrorMessage2">
                  <el-row type="flex">
                    <el-input v-model="createList.bfltdTime" maxlength="10" ></el-input>
                    <el-select v-model="createList.ltdTimeFm" placeholder="선택" clearable  class="filter-item ml20">
                        <el-option v-for="item in options" :key="item.key" :label="item.label" :value="item.key"/>
                    </el-select><label class="el-form-item__label" style="margin-left: 10px;">당</label>
                    <el-input v-model="createList.ltdCnt" maxlength="10" class="ml20"></el-input><label class="el-form-item__label" style="margin-left: 10px;">건</label>
                  </el-row>
                </el-form-item> 
                <el-form-item v-if="createList.policyType === 'RL03'" label-width="" label="" :show-message="showTagMessage3" :error="tagErrorMessage3">
                  <el-row type="flex">
                    <!-- [ "20:52", "21:52" ] -->
                    <el-form-item :label="$t('api.txRestrTime')" style="display:inline-inline;">
                      <el-time-picker is-range v-model="createList.txRestrStart" format="HH:mm" value-format="HH:mm" range-separator="" start-placeholder="시작시간" end-placeholder="종료시간"></el-time-picker>
                      <!-- <el-time-picker v-model="createList.txRestrStart" format="HH:mm" value-format="HH:mm" placeholder="시작시간"></el-time-picker>
                      <el-time-picker arrow-control v-model="createList.txRestrEnd" format="HH:mm" value-format="HH:mm" placeholder="종료시간"></el-time-picker> -->
                    </el-form-item>
                    <el-form-item :label="$t('api.txRestrWeek')">
                      <el-checkbox-group v-model="checkedWeeks" style="display:inline-block;">
                        <el-checkbox v-for="item in weekOptions" :label="item.key" :key="item.key" :value="item.key" :checked="isChecked">{{item.label}}</el-checkbox>
                      </el-checkbox-group>
                    </el-form-item>
                  </el-row>
                </el-form-item>
              </el-row> 
            </div>
          </el-row>  
        </el-form>
      </el-card>
      <p style="color: #009591; margin-top: 10px; font-size: 15px;" >※ 기관, 서버 IP 모두 선택하지 않을 경우 전체 API 대상으로 정책이 적용됨.</p>
      <p style="color: #009591; font-size: 15px;">※ 이용기관은 전송토큰의 발급요청기관을 대상으로 함.</p>
      <p style="color: #009591; font-size: 15px;">※ 토큰발급요청/갱신/폐기에는 적용되지 않음</p>
      <el-dialog :visible.sync="useorgSearchYN" :title="$t('app.useorgSearch')" width="60%" center @close="closeDialog">
        <div class="filter-container">
              <el-input  v-model="searchQuery.useorgNm" maxlength="1000" type="text" :placeholder="$t('app.useorgNm')" style="width:300px;" class="filter-item"/>
              <el-input v-model="searchQuery.brn" maxlength="1000" type="text" :placeholder="$t('app.brn')" style="width:300px;" class="filter-item"/>
            <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" plain icon="el-icon-search" size="small" @click="handleReleaseConfirm">
                {{ $t('btn.search') }}
            </el-button>
            <el-button v-waves class="filter-item" style="margin-left: 0px;" plain icon="el-icon-refresh-left" size="small" @click="resetDiagSearch">
                {{ $t('btn.resetSearch') }}
            </el-button>
        </div>
        <el-table height="280" :data="useorgList" @row-click="clickUseorg">
          <el-table-column :label="$t('app.useorgNm')" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.useorgNm}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('app.userKey')" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.userKey}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('app.brn')" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.brn }}</span>
                    <span v-if="scope.row.brn !== null">{{scope.row.brn | brnFilter}}</span>
                </template>
            </el-table-column>
        </el-table>
      </el-dialog>
    </div>
    <!-- /app-container -->
  </div>
</template>
<script>
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { mapGetters } from 'vuex'
import { isEmpty } from '@/utils/validate'
import { searchUseorg, serviceAppReg } from '@/api/app'
import { policyGetApiList, policyGetClientIdList, policyGetServerIpList, regPolicyService, getRedisData } from '@/api/policy'

const formatObj = {
    minute: 60,
    hour: 60*60,
    day: 60*60*24
}
export default {
  name: 'tAppCreate',
  directives: { waves },
  components: { Sticky },
  data() {
    return {
      searchQuery: {
        pageIdx: 1,
        pageSize: 100,
        brn:'',       // 사업자등록번호
        useorgNm: '', // 기관명
      },
      options: [
        {key: 'minute', label: '분'},
        {key: 'hour', label: '시간'},
        {key: 'day', label: '일'}
      ],
      weekOptions : [
        { key: '2', label: '월'},
        { key: '3', label: '화'},
        { key: '4', label: '수'},
        { key: '5', label: '목'},
        { key: '6', label: '금'},
        { key: '7', label: '토'},
        { key: '1', label: '일'}
      ],
      checkedWeeks: [],
      isChecked: false,
      disabledApi: false,
      currentCnt: 0,
      apiList: [],        // apiList
      clientIdList: [],   // clientId list
      appKeyList: [],     // appKey List
      serverIpList: [],   // 서버IP리스트
      ruleForm: {},
      sUseorgUserTel: '', // 연락처
      cnlKeyList: [],
      showTagMessage: false,
      tagErrorMessage: '',
      showTagMessage2: false,
      tagErrorMessage2: '',
      showTagMessage3: false,
      tagErrorMessage3: '',
      inputValue: '',
      inputValue2: '',
      inputVisible: false,
      useorgSearchYN: false,
      useorgNm: '',
      useorgList: null,
      sTotCnt: 0,
      createList: {
          userKey: '',    // 기관(사업자)키
          statCd: 'OK',   // 상태코드
          cleintId: '',
          cnlKey: '',
          useorgNm: '',
          apiId: '',      // API
          apiUrl: '',
          policyType: 'RL01',
          maxUser: '',    // 동시접속자수
          ltdTimeFm: '',  // 사용주기 구분
          bfltdTime: '',  // 사용주기 시간
          ltdTime: '',    // 사용주기 시간
          ltdCnt: '',     // 할당량
          limitedValue: ''
      },
    }
  },
  
  created() {
      this.getApiList()
      this.settingUseorg()
      this.getRedis(this.createList)
  },
  watch: {
      'createList.maxUser': function(val) {
          return this.createList.maxUser = this.createList.maxUser.replace(/[^0-9]/g, '')
      },
      'createList.bfltdTime': function(val) {
          return this.createList.bfltdTime = this.createList.bfltdTime.replace(/[^0-9]/g, '')
      },
      'createList.ltdCnt': function(val) {
          return this.createList.ltdCnt = this.createList.ltdCnt.replace(/[^0-9]/g, '')
      },
      'createList.userKey': function(val) {
        this.getRedis(this.createList)
      },
      'createList.cnlKey': function(val) {
        this.getRedis(this.createList)
      },
      'createList.apiId': function(val) {
        this.getRedis(this.createList)
      }
  },
  methods: {
    getRedis(data) {
      getRedisData(data).then(response => {
            if (response.redisList.length >= 1 ) {
              this.currentCnt = response.redisList[0].value
            } else {
              this.currentCnt = 0
            }
        })
    },
    settingUseorg() {
      if (this.$route.query.userKey === undefined && this.$route.query.apiId === undefined) {
        return false
      } else if(this.$route.query.apiId !== undefined || this.$route.query.apiId !== null) {
        const data = { apiId: this.$route.query.apiId, apiUrl: this.$route.query.apiUrl }
        this.clickApi(data)
        
      } else {
        const settingData = { userKey: this.$route.query.userKey, useorgNm: this.$route.query.useorgNm }
        this.clickUseorg(settingData)
      }
    },
    apiChange(data) {
      if (data === null || data === '') {
        this.createList.apiUrl = ''
        this.createList.apiId = ''
      }
      for(var i = 0; i < this.apiList.length; i++) {
        if (data === this.apiList[i].apiId) 
          this.createList.apiUrl = this.apiList[i].apiUrl
      }
    },
    handle1() {
        this.validationChk()
    },
    handle2() {
        this.validationChk()
    },
    changeOptions(data) {
        if (data === 'RL01') {
            this.showTagMessage2 = false
            this.tagErrorMessage2 = ''
            this.createList.bfltdTime = ''
            this.createList.ltdTime = ''
            this.createList.ltdTimeFm = ''
            this.createList.ltdCnt = ''
        } else if (data === 'RL02') {
             this.showTagMessage = false
            this.tagErrorMessage = ''
            this.createList.maxUser = ''
        } else if (data === 'RL03') {
            this.showTagMessage = false
            this.tagErrorMessage = ''
            this.createList.maxUser = ''
            this.createList.bfltdTime = ''
            this.createList.ltdTime = ''
            this.createList.ltdTimeFm = ''
            this.createList.ltdCnt = ''
        } else {

        }
    },  
    // api 정보조회
    getApiList() {
        policyGetApiList().then(response => {
            this.apiList = response
        })
    },
    resetDiagSearch() {
      this.sTotCnt = 0;
      this.useorgList = null
      this.searchQuery.useorgNm = ''
      this.searchQuery.brn = ''
    },
    closeDialog() {
      this.sTotCnt = 0;
      this.useorgList = null
      this.searchQuery.useorgNm = ''
      this.searchQuery.brn = ''
    },
    // dialog 기관 클릭
    clickUseorg(data) {
      this.createList.userKey = data.userKey
      this.createList.useorgNm = data.useorgNm
      this.useorgSearchYN = false
      // 클라이언트 ID 조회
      this.getClientIdList()
    },
    clickApi(data) {
      this.createList.apiId = data.apiId
      this.createList.apiUrl = data.apiUrl
      this.disabledApi = true
    },
    // 클라이언트 ID 조회 (userKey)
    getClientIdList() {
        this.clientIdList = null
        this.appKeyList = []
        const clientData = { userKey: this.createList.userKey }
        policyGetClientIdList(clientData).then(response => {
            this.clientIdList = response
            for (var i = 0; i <this.clientIdList.length; i++) {
                 this.appKeyList.push({appKey: this.clientIdList[i].appKey})
            }
            this.getServerIp()
        })
    },
    // 서버 IP 조회
    getServerIp() {
        this.serverIpList = null
        // const serverIpData = { appKey: this.appKeyList}
        const serverIpData = { userKey: this.createList.userKey }
        policyGetServerIpList(serverIpData).then(response => {
            this.serverIpList = response
        })
    },
    
    handleReleaseConfirm() {
      if(this.searchQuery.brn === '' && this.searchQuery.useorgNm === '') {
        this.$message.warning(this.$t('message.warning_no_input_useorgSearch'))
      } else {
        searchUseorg(this.searchQuery).then(response => {
          this.useorgList = response.list
          this.sTotCnt = response.totCnt
          for(var i = 0; i < this.useorgList.length; i++) {
            if (this.useorgList[i].useorgStatCd === 'DEL'){
              this.useorgList.splice(i,1)
            }
          }
        })
      }
    },
    selectUseorg() {
      this.useorgSearchYN = true
    },
    validationChk() {
      // 동시접속자수제한
      if (this.createList.policyType === 'RL01' && this.createList.maxUser === '') { 
          this.showTagMessage = true
          this.tagErrorMessage = this.$t('message.valid_required')
          return false
      // 이용건수제한
      } else if (this.createList.policyType === 'RL02' && (this.createList.ltdTimeFm === '' || this.createList.bfltdTime === '' || this.createList.ltdCnt === '')) {
          this.showTagMessage2 = true
          this.tagErrorMessage2 = this.$t('message.valid_required')
          return false
      // 거래제한
      } else if (this.createList.policyType === 'RL03') { 
          if ((!isEmpty(this.createList.txRestrStart) && isEmpty(this.createList.txRestrEnd)) 
          || (isEmpty(this.createList.txRestrStart) && !isEmpty(this.createList.txRestrEnd))) {
            this.showTagMessage3 = true
            this.tagErrorMessage3 = this.$t('message.valid_required')
            return false
          }
      } 
    },
    handleCancel() {
      this.$router.push({ path: '/servicePolicyList' })
    },
    handleReg() {
      if(this.validationChk()) {
          this.$confirm(this.$t('message.createConfirm'), {
          }).then(() => {
            
            if (this.createList.policyType === 'RL02') {
                var value = formatObj[this.createList.ltdTimeFm]
                this.createList.ltdTime = this.createList.bfltdTime * value
                this.createList.limitedValue = JSON.stringify({
                    "limitedCount": this.createList.ltdCnt, "limitedTime": String(this.createList.ltdTime)
                })
            }

            if (this.createList.policyType === 'RL03') {
                if(!isEmpty(this.createList.txRestrStart) && !isEmpty(this.createList.txRestrEnd) && !isEmpty(this.checkedWeeks)) {
                  var tmpTime = this.createList.txRestrStart+'~'+this.createList.txRestrEnd
                  tmpTime = tmpTime.replace(/:/gi,"")
                  this.createList.txRestrWeek = this.checkedWeeks.join()
                  this.createList.txRestrValue = JSON.stringify({ "time": tmpTime, "week": this.createList.txRestrWeek })
                }

                if(!isEmpty(this.createList.txRestrStart) && !isEmpty(this.createList.txRestrEnd) && isEmpty(this.checkedWeeks)) {
                  var tmpTime = this.createList.txRestrStart+'~'+this.createList.txRestrEnd
                  tmpTime = tmpTime.replace(/:/gi,"")
                  this.createList.txRestrValue = JSON.stringify({ "time": tmpTime })
                }

                if(!isEmpty(this.checkedWeeks) && isEmpty(this.createList.txRestrStart) && isEmpty(this.createList.txRestrEnd)) {
                  this.createList.txRestrWeek = this.checkedWeeks.join()
                  this.createList.txRestrValue = JSON.stringify({ "week": this.createList.txRestrWeek })
                }
            }
            

            // this.createList.policyType = this.createList.toString()

            console.log(this.createList.policyType)
            // regPolicyService(this.createList).then(response => {
            //   this.$message.success(this.$t('message.save'))
            //   this.$router.push({ path: '/servicePolicyList'})
            // })
        })
      }
    }
  }
}
</script>
<style>
</style>