<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.hfnUserEdit') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button v-waves :loading="confirmLoading" type="primary" @click="handleConfirm">{{ $t('btn.edit') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="app-container">
      <el-card shadow="hover" class="fit_normal_card">
        <div slot="header">
          <strong>{{ $t('title.hfnUserInfo') }} </strong>
        </div>
        <el-form v-loading="listLoading" ref="ruleForm" :rules="rules" :model="editList" label-position="left" label-width="130px">
          <el-form-item :label="$t('user.hfnCdAndId')" prop="hfnCdAndId">
            <el-row type="flex">
              <el-form-item prop="hfnCd">
                <el-select v-model="editList.hfnCd" disabled> 
                  <el-option v-for="item in prdCodeList" v-if="item.commCdId === '1100'" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                </el-select>
              </el-form-item>
              <el-form-item prop="hfnId">
                <el-row type="flex" justify="space-between">
                  <el-input v-model="editList.hfnId" type="text" maxlength="10" disabled @keydown.native="handleInputNumber" @change="checkHfnId = false"/>
                </el-row>
              </el-form-item>
            </el-row>
          </el-form-item>
          <el-form-item :label="$t('user.name')" prop="userNm">
            <el-input v-model="editList.userNm" maxlength="10" disabled/>
          </el-form-item>
          <el-form-item :label="$t('user.type')" prop="roleCd">
            <el-radio-group v-model="editList.roleCd">
              <el-radio v-for="item in hfnUserTypeList" :label="item.value" :key="item.value" disabled>{{ item.label }}</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item v-if="portalManagerSelect" :label="$t('user.signUserYn')" prop="signUserYn">
            <el-radio-group v-model="editList.signUserYn" size="medium">
              <el-radio-button v-for="item in signUserYnOptions" :label="item.label" :key="item.value"/>
            </el-radio-group>
          </el-form-item>
          <el-form-item :label="$t('user.status')">
            <el-select v-model="editList.userStatCd">
              <el-option v-for="item in statusOptions" :key="item.key" :label="item.statusName" :value="item.key"/>
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('user.deptNm')" prop="deptNm">
            <el-input v-model="editList.deptNm" maxlength="30" disabled/>
          </el-form-item>
          <el-form-item :label="$t('user.jobNm')" prop="jobNm">
            <el-input v-model="editList.jobNm" maxlength="10" disabled/>
          </el-form-item>
          <el-form-item :label="$t('user.contact')" prop="userTel">
            <el-input v-model="editList.userTel" type="tel" minlength="9" maxlength="11" @keydown.native="handleInputTelNumber" disabled/>
          </el-form-item>
          <el-form-item :label="$t('user.temporaryPassword')">
            <div style="min-width: 120px">
              <el-button v-loading="tempBtnLoading" type="warning" size="mini" @click="handleTemporaryPassword">{{ $t('btn.temporaryPassword') }}</el-button>
            </div>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { scrollTo } from '@/utils/scrollTo'
import { mapGetters } from 'vuex'
import { fetchHfnUserById, updateHfnUser, getTemporaryPassword } from '@/api/setting'
import { selectCommCodeList } from '@/api/product'

const signUserYnOptions = [
  { label: 'N', value: 'N' },
  { label: 'Y', value: 'Y' }
]

const statusOptions = [
  { key: 'Y', statusName: i18n.t('user.ok') },
  { key: 'N', statusName: i18n.t('user.close') }
]

export default {
  name: 'HfnUserEdit',
  directives: { waves },
  components: { Sticky },
  data() {
    return {
      hfnUserTypeList: [
        { label: '관계사 직원', value: '3' },
        { label: '관계사 관리자', value: '2' }
      ],
      prdCodeList: [],
      confirmLoading: false,
      listLoading: false,
      tempBtnLoading: false,
      signUserYnOptions,
      statusOptions,
      officeSelect: false,
      portalManagerSelect: false,
      editList: {
        hfnCd: '',
        hfnId: '',
        userNm: '',
        roleCd: '',
        accessCd: '',
        signLevel: '',
        useorgNm: '',
        signUserYn: 'N',
        jobNm: '',
        deptNm: ''
      },
      ruleForm: {
        hfnCdAndId: '',
        hfnCd: '',
        hfnId: '',
        userNm: '',
        roleCd: '',
        accessCd: '',
        signLevel: '',
        useorgNm: '',
        signUserYn: 'N',
        jobNm: '',
        deptNm: ''
      },
      rules: {
        hfnCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        jobNm: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' }
        ],
        deptNm: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' }
        ],
        userNm: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' }
        ],
        accessCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        roleCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        useorgNm: [{ required: false, message: this.$t('message.valid_required'), trigger: 'blur' }],
        signUserYn: [{ required: false, message: this.$t('message.valid_required'), trigger: 'blur' }],
        userTel: [
          { required: false, message: this.$t('message.valid_required'), trigger: 'blur' },
          { min: 10, max: 15, message: this.$t('login.userTelRule'), trigger: 'blur' }
        ],
        signLevel: [{ required: true, message: this.$t('message.valid_required'), trigger: 'change' }]
      }
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'roles',
      'hfnCd'
    ])
  },
  created() {
    scrollTo(0, 800)
    this.getCommCodeList()
  },
  methods: {
    getCommCodeList() {
      selectCommCodeList().then(response => {
        this.prdCodeList = response.codeList
        this.prdCodeList.unshift({ cdId: '', cdNm: i18n.t('guide.all') })
        this.getList()
      })
    },
    getList() {
      this.listLoading = true
      fetchHfnUserById(this.$route.query.userKey).then(response => {
        this.editList = response
        this.editList.signLevel = response.signLevel
        setTimeout(() => {
          this.listLoading = false
        }, 1000)
      })
    },
    handleInputNumber(event) {
      if (!(event.keyCode === 8 || event.keyCode === 46 || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105))) {
        event.preventDefault()
      }
    },
    handleInputTelNumber(event) {
      if (!(event.keyCode === 8 || event.keyCode === 46 || event.keyCode === 189 || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105))) {
        event.preventDefault()
      }
    },
    handleTemporaryPassword() {
      this.$confirm(this.$t('message.tempPasswordConfirm'), {
        confirmButtonText: this.$t('btn.issue'),
        cancelButtonText: this.$t('btn.cancel'),
        type: 'warning'
      }).then(() => {
        this.tempBtnLoading = true
        var that = this
        getTemporaryPassword(this.$route.query.userKey).then(response => {
          this.tempBtnLoading = false
          that.$alert(that.$t('user.temporaryPassword') + ': ' + response.tepPwd, {
            callback: action => {}
          })
        }).catch(() => { this.tempBtnLoading = false })
      }).catch(() => {
        this.confirmLoading = false
      })
    },
    handleConfirm() {
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          if (this.editList.accessCd === '10') {
            this.editList.signUserYn = 'N'
            this.editList.signLevel = null
          }
          else {
            this.editList.signUserYn = 'Y'
          }
          this.confirmLoading = true
          this.$confirm(this.$t('message.editConfirm'), {
            confirmButtonText: this.$t('btn.confirm'),
            cancelButtonText: this.$t('btn.cancel'),
            type: 'warning'
          }).then(() => {
            updateHfnUser(this.editList).then(response => {
              this.confirmLoading = false
              this.$message.success(this.$t('message.success'))
              this.$router.push({ path: '/hfnuser' })
            }).catch(() => {
              this.confirmLoading = false
            })
          }).catch(() => {
            this.confirmLoading = false
          })
        }
      })
    },
    handleCancel() {
      this.$router.push({ path: '/hfnuser/hfnUserDetail?userKey=' + this.$route.query.userKey })
    }
  }
}
</script>
