<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-if="roles[0] === 'ROLE_SYS_ADMIN'" v-model="listQuery.searchHfnCd" :disabled="!SuperAdminOrNot" class="filter-item" clearable>
        <el-option v-for="item in prdCodeList" v-if="item.commCdId === '1100'" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <el-select v-model="listQuery.searchRoleCd" class="filter-item">
        <el-option v-for="item in hfnUserType" :key="item.value" :label="item.label" :value="item.value">{{ item.label }}</el-option>
      </el-select>
      <el-input :placeholder="$t('user.hfnUserSearch')" v-model="listQuery.searchNm" style="width: 240px;" class="filter-item"
                @keyup.enter.native="handleFilter"/>
      <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" icon="el-icon-search" @click="handleFilter">{{ $t('btn.search') }}</el-button>
      <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" icon="el-icon-edit" @click="handleCreate">{{ $t('btn.add') }}</el-button>
    </div>
    <el-table v-loading="listLoading" :data="list" border highlight-current-row>
      <el-table-column :label="$t('product.prdCtgy')" align="center" minWidth="150">
        <template slot-scope="scope">
          <span>{{ scope.row.hfnCd | svcNmFilter('', prdCodeList) }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('user.userType')" align="center" minWidth="130">
        <template slot-scope="scope">
          <span>{{ scope.row.roleCd | roleNmFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('user.name')" align="center" minWidth="110">
        <template slot-scope="scope">
          <span>{{ scope.row.userNm }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('user.id')" align="center" minWidth="100">
        <template slot-scope="scope">
          <span>{{ scope.row.hfnId }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('user.deptNm')" align="center" minWidth="140">
        <template slot-scope="scope">
          <span>{{ scope.row.deptNm }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('user.jobNm')" align="center" minWidth="80">
        <template slot-scope="scope">
          <span>{{ scope.row.jobNm }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('user.status')" align="center" minWidth="80">
        <template slot-scope="scope">
          <el-tag :type="scope.row.userStatCd | statusFilter">{{ scope.row.userStatCd | statusTextFilter }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column :label="$t('user.actions')" align="center" class-name="small-padding fixed-width" width="150">
        <el-row slot-scope="scope" type="flex" align="start">
          <el-button type="primary" size="mini" @click="handleEdit(scope.row)">{{ $t('btn.detail') }}</el-button>
          <el-button v-if="scope.row.userStatCd!='Y'" size="mini" type="success" @click="handleModifyStatus(scope.row,'Y')">
            {{ $t('user.ok') }}
          </el-button>
          <el-button v-if="scope.row.userStatCd!='N'" size="mini" type="danger" @click="handleModifyStatus(scope.row,'N')">
            {{ $t('user.close') }}
          </el-button>
        </el-row>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getList"/>
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { maskingName } from '@/utils/masking'
import { fetchHfnUserList, updateHfnUserStatus } from '@/api/setting'
import { selectCommCodeList } from '@/api/product'

const statusOptions = [
  { key: 'Y', statusName: i18n.t('office.ok'), tag: 'success' },
  { key: 'N', statusName: i18n.t('office.close'), tag: 'danger' }
]

export default {
  name: 'HfnUser',
  directives: { waves },
  filters: {
    statusFilter(status) {
      const tagValue = statusOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.tag
        return acc
      }, {})
      return tagValue[status]
    },
    statusTextFilter(status) {
      const nameValue = statusOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.statusName
        return acc
      }, {})
      return nameValue[status]
    }
  },
  components: { Pagination },
  data() {
    return {
      hfnUserType: [
        { label: '전체', value: '' },
        { label: '포털관리자', value: 'ROLE_SYS_ADMIN' },
        { label: 'API운영자', value: 'ROLE_HFN_ADMIN' },
        { label: '개발담당자', value: 'ROLE_ORG_ADMIN' },
        { label: '영업담당자', value: 'ROLE_HFN_SALES' }
      ],
      prdCodeList: [],
      totCnt: 0,
      list: [],
      selUseId: '',
      listQuery: {
        pageIdx: 1,
        pageSize: 20,
        searchHfnCd: '',
        searchNm: '',
        searchRoleCd: ''
      },
      listLoading: false
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'roles',
      'hfnCd'
    ]),
    SuperAdminOrNot: function() {
      return this.roles.indexOf('ROLE_SYS_ADMIN') !== -1
    }
  },
  created() {
    this.getCommCodeList()
  },
  methods: {
    getCommCodeList() {
      selectCommCodeList().then(response => {
        this.prdCodeList = response.codeList
        this.prdCodeList.unshift({ cdId: '', cdNm: i18n.t('guide.all') })
        this.listQuery.searchHfnCd = this.hfnCd
        this.getList()
      })
    },
    getList() {
      this.listLoading = true
      fetchHfnUserList(this.listQuery).then(response => {
        this.list = response.list
        this.totCnt = response.totCnt

        for (let item of this.list) {
          item.userNm = maskingName(item.userNm)
        }

        setTimeout(() => {
          this.listLoading = false
        }, 1000)
      })
    },
    handleChangeType(value) {
      this.listQuery.searchRoleCd = value[1]
    },
    handleFilter() {
      this.listQuery.pageIdx = 1
      this.getList()
    },
    handleModifyStatus(row, status) {
      row.userStatCd = status
      this.uploadList(row.userKey)
    },
    handleCreate() {
      this.$router.push({ path: '/hfnuser/hfnUserCreate' })
    },
    handleEdit(row) {
      this.$router.push({ path: '/hfnuser/hfnUserDetail?userKey=' + row.userKey })
    },
    handleSizeChange(val) {
      this.listQuery.pageSize = val
    },
    handleCurrentChange(val) {
      this.listQuery.pageIndex = val
    },
    uploadList(data) {
      updateHfnUserStatus(data).then(response => {
        this.$message({
          message: this.$t('message.success'),
          type: 'success'
        })
        this.getList()
      })
    }
  }
}
</script>
