<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.mailSend') }}</p>
      </el-row>
    </sticky>
    <div class="app-container">
      <el-tabs type="border-card">
        <el-tab-pane label="Mail">
          <el-card shadow="hover">
            <div slot="header">
              <div style="display: table-cell; width: 95%;">
                <strong>{{ $t('mail.mailInfo') }} </strong>
              </div>
              <div style="display: table-cell;">
                <el-button v-waves :loading="confirmLoading" type="primary" @click="handleConfirm">{{ $t('btn.send') }}</el-button>
              </div>
            </div>
            <el-form ref="ruleForm" :rules="rules" :model="ruleForm" label-position="left" label-width="130px">
              <el-form-item :label="$t('mail.sender')" prop="sender">
                <el-input v-model="ruleForm.sender" type="email"/>
              </el-form-item>
              <el-form-item :label="$t('mail.receiver')" style="position: relative;">
                <el-form-item :prop="checkPrd">
                  <el-select v-model="ruleForm.receiverPrd" multiple filterable allow-create default-first-option class="filter-item" style="width: 100%">
                    <el-option v-for="item in codeList" :key="item.prdId" :label="item.prdNm" :value="item.prdId"/>
                  </el-select>
                </el-form-item>
                <el-form-item :prop="checkInput">
                  <el-row type="flex" justify="space-between" style="margin-top: 20px;">
                    <el-input v-model="ruleForm.receiverInput" style="width:90%"/>
                    <el-upload class="upload-demo" ref="upload" :on-change="excelUpload" :limit="1" :auto-upload="false" action="#" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                      <el-button type="primary">{{ $t('mail.excelUpload') }}</el-button>
                    </el-upload>
                  </el-row>
                </el-form-item>
              </el-form-item>
              <el-form-item :label="$t('mail.title')" prop="tagmap011">
                <el-row type="flex" justify="space-between">
                  <div class="el-input el-input--medium">
                    <input v-model="ruleForm.tagmap011" type="text" autocomplete="off" maxlength="255" class="el-input__inner">
                  </div>
                </el-row>
              </el-form-item>
              <el-form-item :label="$t('mail.ctnt')" prop="tagmap900">
                <div class="el-textarea el-input--medium">
                  <textarea v-model="ruleForm.tagmap900" autocomplete="off" rows="7" class="el-textarea__inner" style="min-height: 33px;"></textarea>
                </div>
              </el-form-item>
              <el-form-item :label="$t('mail.senddate')" prop="senddate">
                <el-checkbox v-model="ruleForm.reservate" style="margin-right:20px">{{$t('mail.reservate')}}</el-checkbox>
                <el-date-picker v-show="ruleForm.reservate" v-model="ruleForm.date" placeholder="발송일" value-format="yyyy-MM-dd"/>
                <el-time-select v-show="ruleForm.reservate" placeholder="발송시간" v-model="ruleForm.time" :picker-options="{ start: '00:00', step: '00:30', end: '23:59'}" />
              </el-form-item>
            </el-form>
          </el-card>
        </el-tab-pane>
        <el-tab-pane label="LMS">
          <el-card shadow="hover">
            <div slot="header">
              <div style="display: table-cell; width: 95%;">
                <strong>{{ $t('sms.smsInfo') }} </strong>
              </div>
              <div style="display: table-cell;">
                <el-button v-waves :loading="confirmLoading" type="primary" @click="handleConfirmSms">{{ $t('btn.send') }}</el-button>
              </div>
            </div>
            <el-form ref="ruleFormSms" :rules="rules" :model="ruleFormSms" label-position="left" label-width="130px">
              <el-form-item :label="$t('mail.sender')" prop="trCallback">
                <el-input v-model="ruleFormSms.trCallback" type="tel"/>
              </el-form-item>
              <el-form-item :label="$t('mail.receiver')" style="position: relative;">
                <el-form-item :prop="checkPrdSms">
                  <el-select v-model="ruleFormSms.receiverPrdSms" multiple filterable allow-create default-first-option class="filter-item" style="width: 100%">
                    <el-option v-for="item in codeList" :key="item.prdId" :label="item.prdNm" :value="item.prdId"/>
                  </el-select>
                </el-form-item>
                <!-- <el-form-item :prop="checkInputSms">
                  <el-row type="flex" justify="space-between" style="margin-top: 20px;">
                    <el-input v-model="ruleFormSms.receiverInputSms" style="width:90%"/>
                    <el-upload class="upload-demo" ref="uploadSms" :on-change="excelUploadSms" :limit="1" :auto-upload="false" action="#" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                      <el-button type="primary">{{ $t('mail.excelUpload') }}</el-button>
                    </el-upload>
                  </el-row>
                </el-form-item> -->
              </el-form-item>
              <el-form-item :label="$t('mail.title')" prop="trSubject">
                <div class="el-input el-input--medium">
                  <input v-model="ruleFormSms.trSubject" type="text" autocomplete="off" maxlength="255" class="el-input__inner">
                </div>
              </el-form-item>
              <el-form-item :label="$t('mail.ctnt')" prop="trMsg">
                <div class="el-textarea el-input--medium">
                  <textarea v-model="ruleFormSms.trMsg" autocomplete="off" rows="7" class="el-textarea__inner" style="min-height: 33px;"></textarea>
                </div>
              </el-form-item>
              <el-form-item :label="$t('mail.senddate')" prop="senddate">
                <el-checkbox v-model="ruleFormSms.reservate" style="margin-right:20px">{{$t('mail.reservate')}}</el-checkbox>
                <el-date-picker v-show="ruleFormSms.reservate" v-model="ruleFormSms.date" placeholder="발송일" value-format="yyyy-MM-dd"/>
                <el-time-select v-show="ruleFormSms.reservate" placeholder="발송시간" v-model="ruleFormSms.time" :picker-options="{ start: '00:00', step: '00:30', end: '23:59'}" />
              </el-form-item>
            </el-form>
          </el-card>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { scrollTo } from '@/utils/scrollTo'
import { parseTime } from '@/utils/index'
import { reqPost, selectPrdCodeList } from '@/api/common'

const signUserYnOptions = [
  { label: 'N', value: 'N' },
  { label: 'Y', value: 'Y' }
]

const typeOptions = [{
  value: 1,
  label: i18n.t('user.portal'),
  children: [{
    value: 4,
    label: i18n.t('user.portalManage')
  }, {
    value: 1,
    label: i18n.t('user.apiOwner')
  }]
}, {
  value: 2,
  label: i18n.t('user.office'),
  children: [{
    value: 2,
    label: i18n.t('user.officeManage')
  }, {
    value: 3,
    label: i18n.t('user.developer')
  }]
}]

export default {
  name: 'mailSend',
  directives: { waves },
  components: { Sticky },
  data() {
    return {
      confirmLoading: false,
      checkEmail: false,
      typeOptions,
      signUserYnOptions,
      officeOptions: [],
      officeSelect: false,
      portalManagerSelect: false,
      showAddTag: false,
      codeList: [],
      ruleFormSms: {
        trCallback: '16001522',
        receiverPrdSms: [],
        receiverInputSms: '',
        trSubject: '',
        trMsg: '',
        trSenddate: '',
        time: '', 
        date: '',
        reservate: false
      },
      ruleForm: {
        sender: 'admin@mail.niceapi.co.kr',
        receiver: [],
        receiverPrd: [],
        receiverInput: '',
        tagmap011: '',
        tagmap900: '',
        senddate: '',
        time: '', 
        date: '',
        reservate: false
      },
      rules: {
        sender: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
          { pattern: /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/, message: this.$t('message.warning_check_email_regex'), trigger: 'blur' }
        ],
        trCallback: [
          { required: true, message: this.$t('login.userTelRule'), trigger: 'blur' },
          { pattern: /(^\d{3}\d{3,4}\d{4})|(^\d{3}-\d{3,4}-\d{4})|(^\d{2,3}-\d{3,4}-\d{4})|(^\d{2,3}\d{3,4}\d{4})|(^\d{4}\d{4})$/, message: this.$t('login.userTelRule'), trigger: 'blur' }
        ],
        receiverPrdSms: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'change' }
        ],
        receiverInputSms: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' }
        ],
        receiverPrd: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'change' }
        ],
        receiverInput: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' }
        ],
        tagmap011: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' }
        ],
        tagmap900: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' }
        ],
        trSubject: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' }
        ],
        trMsg: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' }
        ],
      }
    }
  },
  computed: {
    checkPrd : function(){
      let prdList = this.ruleForm.receiverPrd
      let inputValue = this.ruleForm.receiverInput

      if((prdList != null && prdList.length > 0) || (inputValue != null && inputValue != '')){
        this.rules.receiverPrd.required = false
        this.rules.receiverInput.required = false
        if(inputValue == null || inputValue == ''){
          return 'receiverPrd'
        }else if(prdList == null || prdList.length < 1){
          return 'receiverInput'
        }else{
          return 'receiverPrd'
        }
      }else{
        this.rules.receiverInput.required = true
        this.rules.receiverPrd.required = true
      }

      return 'receiverPrd'
    },
    checkInput : function(){
      let prdList = this.ruleForm.receiverPrd
      let inputValue = this.ruleForm.receiverInput

      if((prdList != null && prdList.length > 0) || (inputValue != null && inputValue != '')){
        this.rules.receiverPrd.required = false
        this.rules.receiverInput.required = false
        if(inputValue == null || inputValue == ''){
          return 'receiverPrd'
        }else if(prdList == null || prdList.length < 1){
          return 'receiverInput'
        }else{
          return 'receiverPrd'
        }
      }else{
        this.rules.receiverInput.required = true
        this.rules.receiverPrd.required = true
      }

      return 'receiverInput'
    },
    checkPrdSms : function(){
      let prdList = this.ruleFormSms.receiverPrdSms
      let inputValue = this.ruleFormSms.receiverInputSms

      if((prdList != null && prdList.length > 0) || (inputValue != null && inputValue != '')){
        this.rules.receiverPrdSms.required = false
        this.rules.receiverInputSms.required = false
        if(inputValue == null || inputValue == ''){
          return 'receiverPrdSms'
        }else if(prdList == null || prdList.length < 1){
          return 'receiverInputSms'
        }else{
          return 'receiverPrdSms'
        }
      }else{
        this.rules.receiverInputSms.required = true
        this.rules.receiverPrdSms.required = true
      }

      return 'receiverPrd'
    },
    checkInputSms : function(){
      let prdList = this.ruleFormSms.receiverPrdSms
      let inputValue = this.ruleFormSms.receiverInputSms

      if((prdList != null && prdList.length > 0) || (inputValue != null && inputValue != '')){
        this.rules.receiverPrdSms.required = false
        this.rules.receiverInputSms.required = false
        if(inputValue == null || inputValue == ''){
          return 'receiverPrdSms'
        }else if(prdList == null || prdList.length < 1){
          return 'receiverInputSms'
        }else{
          return 'receiverPrdSms'
        }
      }else{
        this.rules.receiverInputSms.required = true
        this.rules.receiverPrdSms.required = true
      }

      return 'receiverInput'
    }
  },
  created() {
    scrollTo(0, 800)
    selectPrdCodeList({}).then(response => {
      this.codeList = response.codeList
    })
  },
  methods: {
    excelUpload (file, fileList) {
      let formData = new FormData()

      formData.append('file', file.raw)

      reqPost('/mail/getXlsData', formData, 'multipart/form-data').then(response => {
        this.ruleForm.receiverInput  = response
        this.confirmLoading = false
        this.$refs.upload.clearFiles()
      }).catch(() => {
        this.confirmLoading = false
        this.$refs.upload.clearFiles()
      })
    },
    excelUploadSms (file, fileList) {
      let formData = new FormData()

      formData.append('file', file.raw)

      reqPost('/mail/getXlsData', formData, 'multipart/form-data').then(response => {
        this.ruleFormSms.receiverInputSms  = response
        this.confirmLoading = false
        this.$refs.uploadSms.clearFiles()
      }).catch(() => {
        this.confirmLoading = false
        this.$refs.uploadSms.clearFiles()
      })
    },
    handleCancel() {
      this.$router.push({ path: '/user' })
    },
    handleConfirmSms(){
      var nextYn = true
      this.$refs['ruleFormSms'].validate((valid) => {
        if (valid) {
          let vsSendList = this.ruleFormSms.receiverInputSms

          if(vsSendList != null && vsSendList != ''){
            this.ruleFormSms.receiver = [];
            let sendList = vsSendList.trim().split(";")
            let numRex = /(^\d{3}\d{3,4}\d{4})|(^\d{3}-\d{3,4}-\d{4})|(^\d{2,3}-\d{3,4}-\d{4})|(^\d{2,3}\d{3,4}\d{4})$/
            for(let key in sendList){
              let num = sendList[key].trim()
              if(num != null && num != '') {
                this.ruleFormSms.receiver.push(num)
                if(!numRex.test(num)){
                  alert(this.$t('login.userTelRule')+'\n'+num)
                  nextYn = false
                  break
                }
              }
            }
            if(!nextYn){
              return
            }
          }

          this.confirmLoading = true

          if(this.ruleFormSms.reservate){
            var date = this.ruleFormSms.date 
            var time = this.ruleFormSms.time
            var objDate = new Date()

            if(date == null || date == ''){
              this.ruleFormSms.date = parseTime(objDate, '{y}-{m}-{d}')
            }

            if(time == null || time == ''){
              this.ruleFormSms.time = parseTime(objDate, '{h}:{i}')
            }
            
            this.ruleFormSms.trSenddate = this.ruleFormSms.date + ' ' + this.ruleFormSms.time + ':00'
          }
          
          this.$confirm(this.$t('message.warning_mail_send'), {
            confirmButtonText: this.$t('btn.confirm'),
            cancelButtonText: this.$t('btn.cancel'),
            type: 'warning'
          }).then(() => {
            reqPost("/mail/adminSmsSend",this.ruleFormSms).then(response => {
              this.$message.success(this.$t('message.success'))
              this.confirmLoading = false
            }).catch(() => {
              this.confirmLoading = false
            })
          }).catch(() => {
            this.confirmLoading = false
          })
        }
      })
    },
    handleConfirm() {
      var nextYn = true
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          let vsSendList = this.ruleForm.receiverInput

          if(vsSendList != null && vsSendList != ''){
            this.ruleForm.receiver = [];
            let sendList = vsSendList.trim().split(";")
            let emailRex = /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/
            for(let key in sendList){
              let email = sendList[key].trim()
              if(email != null && email != '') {
                this.ruleForm.receiver.push(email)
                if(!emailRex.test(email)){
                  alert(this.$t('message.warning_check_email_regex')+'\n'+email)
                  nextYn = false
                  break
                }
              }
            }
            if(!nextYn){
              return
            }
          }

          this.confirmLoading = true

          if(this.ruleForm.reservate){
            var date = this.ruleForm.date 
            var time = this.ruleForm.time
            var objDate = new Date()

            if(date == null || date == ''){
              this.ruleForm.date = parseTime(objDate, '{y}-{m}-{d}')
            }

            if(time == null || time == ''){
              this.ruleForm.time = parseTime(objDate, '{h}:{i}')
            }
            
            this.ruleForm.senddate = this.ruleForm.date + ' ' + this.ruleForm.time + ':00'
          }
          
          this.$confirm(this.$t('message.warning_mail_send'), {
            confirmButtonText: this.$t('btn.confirm'),
            cancelButtonText: this.$t('btn.cancel'),
            type: 'warning'
          }).then(() => {
            reqPost("/mail/adminMailSend",this.ruleForm).then(response => {
              this.$message.success(this.$t('message.success'))
              this.confirmLoading = false
            }).catch(() => {
              this.confirmLoading = false
            })
          }).catch(() => {
            this.confirmLoading = false
          })
        }
      })
    }
  }
}
</script>
