<template>
  <section class="app-main">
    <transition name="fade-transform" mode="out-in">
      <keep-alive :include="cachedViews">
        <router-view :key="key"/>
      </keep-alive>
    </transition>
    <main-footer/>
  </section>
</template>

<script>
import MainFooter from './MainFooter'
export default {
  name: 'AppMain',
  components: { MainFooter },
  data() {
    return {
      items: []
    }
  },
  computed: {
    cachedViews() {
      return this.$store.state.tagsView.cachedViews
    },
    key() {
      return this.$route.fullPath
    }
  }
}
</script>

<style scoped>

</style>
