<template>
  <el-menu class="footer">
    <el-row type="flex" align="middle" justify="space-between" class="footer_container">
        <el-row type="flex" align="right" class="footer_menu">
          <span @click="downloadManual">{{ $t('title.useGuide') }}</span>
        </el-row>
    </el-row>
  </el-menu>
</template>

<script>
import axios from 'axios'
import { getToken } from '@/utils/auth'

export default {
  name: 'MainFooter',
  data() {
    return {

    }
  },
  methods: {
    downloadManual() {
      const address = location.origin
      axios({
        url: address + '/api/downloadManual',
        method: 'POST',
        headers: { 'Authorization': 'Bearer ' + getToken() },
        responseType: 'blob'
      }).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        let fileName = response.headers['content-disposition']
        fileName = this.getFileNameByContentDisposition(fileName)
        link.href = url
        link.setAttribute('download', fileName)
        document.body.appendChild(link)
        link.click()
      })
    },
    getFileNameByContentDisposition(contentDisposition){
      var regex = /filename[^;=\n]*=(UTF-8(['"]*))?(.*)/;
      var matches = regex.exec(contentDisposition);
      var filename;

      if (matches != null && matches[3]) { 
        filename = matches[3].replace(/['"]/g, '');
      }

      return decodeURI(filename);
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  $borderColor: #e5e5e5;
  .footer {
    background-color: #fff;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0px !important;
    border-top: 1px solid $borderColor;
    .footer_container {
      height: 100%;
      min-width: 960px;
      padding-left: 62px;
      p {
        font-size: 14px;
        color: #666666;
      }
      .footer_menu {
        a {
          p {
            padding: 0 12px;
          }
          &:hover p {
            color: #00479d;
          }
        }
        span {
          color: #666666;
          font-size: 14px;
          cursor: pointer;
        }
      }
      .footer_select {
        margin-left: 99px;
        margin-right: 35px;
      }
    }
  }

</style>
