<template>
  <el-menu class="nav_bar">
    <el-row type="flex" align="middle" class="nav_container">
      <img class="img_logo" src="@/assets/logo.png">
      <p class="nav_title"><span class="green bdl0">마이데이터</span> 관리 포털</p>
      <template v-if="!loginPage">
        <p class="nav_sub_title" style="margin-right: 10px;">접속 유지 시간 ({{ time }})</p>
        <el-button size="mini" plain round @click="refreshToken()" style="margin-top:5px">갱신</el-button>
        <el-dropdown v-if="loginStatus" class="avatar-container" trigger="click">
          <div class="avatar-wrapper">
            <p class="user-avatar">{{ username }}{{ $t('navBar.auxiliary') }}</p>
            <i class="el-icon-arrow-down"/>
          </div>
          <el-dropdown-menu slot="dropdown" style="width: 165px;margin-left: -80px;" class="user-dropdown">
            <router-link class="inlineBlock" to="/my_info">
              <el-dropdown-item>{{ $t('navBar.myInfo') }}</el-dropdown-item>
            </router-link>
            <el-dropdown-item>
              <span style="display:block;" @click="logout">{{ $t('navBar.logOut') }}</span>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </template>
    </el-row>
  </el-menu>
</template>

<script>
import permission from '@/directive/permission/index.js'
import { mapGetters } from 'vuex'
import { refreshToken } from '@/api/api'
import { getTimer, setTimer } from '@/utils/auth'

let interval;

export default {
  name: 'NavBar',
  directives: { permission },
  props: {
    loginPage: {
      type: Boolean,
      default: false
    },
    propLoginStatus: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      dialogSignIn: false,
      loginStatus: this.propLoginStatus,
      time: '30 : 00'
    }
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'avatar',
      'username',
      'hfnCd',
      'hfnId',
      'roles'
    ]),
    token() {
      return this.$store.getters.token
    }
  },
  created() {
    this.refreshTime()
  },
  methods: {
    logout() {
      this.$store.dispatch('LogOut').then(() => {
        this.removeInterval()
        window.sessionStorage.setItem('timer', '0')
        this.loginStatus = false
        location.reload()
      })
    },
    refreshToken() {
      const requestData = {
        siteCd: 'adminPortal',
        username: this.hfnCd + this.hfnId
      }

      refreshToken(requestData).then(response => {
        window.sessionStorage.setItem('timer', '1800')
      })
    },
    refreshTime() {
      this.removeInterval();
      let minutes, seconds;
      let first = false

      interval = setInterval(() => {
        let timer = window.sessionStorage.getItem('timer')
        if (timer > 0) {
          first = true
        }

        if (timer < 0 && window.location.href.lastIndexOf('login') < 0) {
          this.$message.warning('잘못된 세션 접근입니다. 다시 로그인 해 주세요.')
          this.logout()
          return false
        }

        minutes = parseInt(timer / 60 % 3600, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        this.time = `${minutes} : ${seconds}`

        if (--timer < 0 && first) {
          timer = 0;
          this.removeInterval()
          this.$message.warning('세션 유지시간이 종료되었습니다. 다시 로그인 해 주세요.')
          this.logout()
        }
        window.sessionStorage.setItem('timer', timer)

        if (timer === 300) {
          this.$message.warning('접속 유지 시간이 5분 남았습니다. 연장을 원하시면 갱신을 눌러주세요.')
        }

        if (timer === 60) {
          this.$message.warning('접속 유지 시간이 1분 남았습니다. 연장을 원하시면 갱신을 눌러주세요.')
        }

        if (minutes <= 0 && seconds <= 0 && first) {
          this.removeInterval()
        }
      }, 1000);
    },
    removeInterval() {
      clearInterval(interval)
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
$borderColor: #e5e5e5;
$fontColor: #666666;
.nav_bar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0px !important;
  border-bottom: 1px solid $borderColor;
  z-index: 100;

  .nav_container {
    height: 100%;
    min-width: 960px;
    padding-left: 34px;
    img {
      max-height: 36px;
    }
    .nav_title {
      margin-left: 70px;
      padding-left: 70px;
      border-left: 1px solid $borderColor;
      line-height: 22px;
      font-weight: bold;
      font-size: 20px;
      color: $fontColor;
      span {
        color: #00479d;
      }
    }
    .nav_sub_title {
      margin-left: 40px;
      padding-left: 40px;
      border-left: 1px solid $borderColor;
      line-height: 22px;
      font-weight: bold;
      font-size: 20px;
      color: $fontColor;
      span {
        color: #00479d;
      }
    }
  }
  .avatar-container {
    position: absolute;
    right: 35px;
    height: 36px;
    .avatar-wrapper {
      cursor: pointer;
      position: relative;
      width: 166px;
      height: 100%;
      border: 1px solid #cccccc;
      border-radius: 4px;
      .user-avatar {
        line-height: 36px;
        margin: 0;
        padding-left: 15px;
        color: $fontColor;
      }
      i {
        position: absolute;
        right: 10px;
        top: 12px;
        font-size: 14px;
        color: #c0c4cc;
      }
    }
  }
}
</style>
