<template>
  <div class="dialog_close">
    <el-dialog :title="$t('api.dialogTitle')" :visible.sync="dialogCloseDate" :modal-append-to-body="false" center class="dialog_time_picker" @close="handleClose">
      <p style="margin-bottom: 20px;">{{ $t('api.dialogContent') }}</p>
      <el-form ref="ruleForm" :rules="rules" :model="changeStatusQuery">
        <el-form-item :label="$t('api.datePickerTitle')">
          <el-radio-group v-model="changeStatusQuery.dlyTermDiv" size="small">
            <el-radio-button v-for="item in codeDlyTermList" :key="item.cdId" :label="item.cdId">{{item.cdNm}}</el-radio-button>
          </el-radio-group>
        </el-form-item>
        <el-row v-if="changeStatusQuery.dlyTermDiv == 'SEL'" type="flex" align="middle" justify="space-between">
          <el-form-item prop="dlyTermDt">
            <el-date-picker v-model="changeStatusQuery.dlyTermDt" :placeholder="$t('api.selectDate')" :picker-options="datePickerOption" value-format="yyyy-MM-dd" type="date"/>
          </el-form-item>
          <el-form-item prop="dlyTermTm">
            <el-time-select v-model="changeStatusQuery.dlyTermTm" :picker-options="{start: '00:00',step: '00:15', end: '23:45'}" :placeholder="$t('api.selectTime')"/>
          </el-form-item>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleClose">{{ $t('btn.cancel') }}</el-button>
        <el-button type="primary" @click="closeOptionDialogConfirm">{{ $t('btn.confirm') }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { updateApiStatus } from '@/api/api'
import { selectCommCodeList } from '@/api/common'

export default {
  name: 'DialogCloseDate',
  props: {
    propDialogCloseDate: {
      type: Boolean,
      default: false
    },
    propDialogIdx: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      condCode: [
        {cond: {commCdId: '0225'},list: 'codeDlyTermList'},//유예설정 
      ],
      codeDlyTermList: [],
      dialogCloseDate: this.propDialogCloseDate,
      dialogIdx: this.propDialogIdx,
      changeStatusQuery: {
        apiId: '',
        dlyTermDiv: 'IM',
        dlyTermDt: '',
        dlyTermTm: ''
      },
      datePickerOption: { disabledDate(time) { return time.getTime() < Date.now() } },
      ruleForm: {
        dlyTermDt: '',
        dlyTermTm: ''
      },
      rules: {
        dlyTermDt: [{ required: true, message: this.$t('message.valid_required'), trigger: 'change' }],
        dlyTermTm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'change' }]
      }
    }
  },
  watch: {
    propDialogCloseDate(val) {
      this.dialogCloseDate = val
    },
    propDialogIdx(val) {
      this.dialogIdx = val
    }
  },
  created() {
    this.getCodeList()
  },
  methods: {
    //코드조회
    getCodeList() {
      for(var i in this.condCode){
        var codeCond = this.condCode[i];
        selectCommCodeList(codeCond.cond).then(response => {
          //async로인해 함수 밖 파라미터를 재대로 사용할수없어 코드존재여부 확인뒤
          //첫번째 대표코드를 통해서 코드 list에 맵핑 함
          if(response.codeList != null && response.codeList.length > 0){
            var codeObj = this.condCode.filter(function(e,i,a){
              if(e.cond.commCdId ==response.codeList[0].commCdId){
                return true
              }
            })
            this[codeObj[0].list] = response.codeList
            if(codeObj[0].nulldata != null){
              this[codeObj[0].list].unshift({ cdId: codeObj[0].nulldata.cdId, cdNm: codeObj[0].nulldata.cdNm})
            }
          }
        })
      }
    },
    closeOptionDialogConfirm() {
      this.changeStatusQuery.apiId = this.dialogIdx
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          updateApiStatus(this.changeStatusQuery).then(response => {
            this.reloadData()
            this.handleClose()
            this.$message.success(this.$t('message.success'))
          })
        }
      })
    },
    reloadData() {
      this.$emit('handle-reload-data')
    },
    handleClose() {
      this.resetData()
      this.$emit('handle-close')
    },
    resetData() {
      this.changeStatusQuery = {
        apiId: '',
        dlyTermDiv: 'IM',
        dlyTermDt: '',
        dlyTermTm: ''
      }
    }
  }
}
</script>

<style scoped>

</style>
