<script src="../../../../lang/ko.js"></script>
<script lang="javascript" src="dist/xlsx.full.min.js"></script>

<template>
  <div class="has-head-container">
    <!-- SubNavBar -->
    <sticky v-if="showSubNav" :class-name="'sub-navbar'">
      <!-- 개별등록 페이지용 SubNav -->
      <el-row v-if="!manageDetailPage" type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.apiRegisterIndividual') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="primary" v-waves :loading="confirmLoading" @click="handleConfirm" style="margin-left:3px;">{{ $t('btn.add') }}</el-button>
          <el-button type="info" @click="handleCancelEdit">{{ $t('btn.list') }}</el-button>
        </el-row>
      </el-row>
      <!-- 수정 페이지용 SubNav -->
      <el-row v-if="manageDetailPage" type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.apiEdit') }}</p>
        <el-row type="flex" class="btn_box">
          <div v-permission="['ROLE_SYS_ADMIN','ROLE_HFN_ADMIN','ROLE_ORG_ADMIN']" >
            <el-button v-waves v-if="dataQuery.apiStatCd === 'CLOSE'" plain @click="handleModifyStatus" style="margin-left: 0px;">
              {{ $t('api.ok') }}
            </el-button>
            <el-button v-waves v-if="dataQuery.apiStatCd === 'OK'" plain @click="handleModifyStatus" style="margin-left: 0px;">
              {{ $t('api.close') }}
            </el-button>
            <el-button v-waves :loading="confirmLoading" plain @click="handleVersionUp" style="margin-left: 0px;">
              {{ $t('btn.new') }}
            </el-button>
            <el-button type="danger" v-if="dataQuery.apiStatCd !== 'DEL'" @click="handleDeleteApi" style="margin-left: 0px;">
              {{ $t('btn.delete') }}
            </el-button>
            <el-button v-waves :loading="confirmLoading" type="primary" @click="handleConfirm" style="margin-left: 0px;">
              {{ $t('btn.edit') }}
            </el-button>
          </div>
          <el-button type="info" @click="handleCancelEdit" style="margin-left: 4px;">
            {{ $t('btn.list') }}
          </el-button>
        </el-row>
      </el-row>
    </sticky>
    <!-- API 페이지 container -->
    <div class="responsive_between_api app-container">
      <el-row style="width:100%">
        <el-card v-loading="loading" shadow="hover">
          <div slot="header">
            <strong class="strong-only">{{ $t('echo.apiInfo') }} </strong>
          </div>
          <el-form ref="ruleForm" :rules="rules" :model="dataQuery" label-position="left" label-width="130px">
            <template>
              <el-tabs>
                <!-- 탭1: 기본정보 -->
                <el-tab-pane :label="$t('api.tab1')">
                  <el-form-item :label="$t('api.apiName')" prop="apiNm">
                    <div class="el-input el-input--medium">
                      <input v-model="dataQuery.apiNm" type="text" autocomplete="off" :placeholder="$t('api.apiName')" maxlength="50" class="el-input__inner">
                    </div>
                  </el-form-item>
                  <el-form-item :label="$t('api.direction')" prop="apiCtnt">
                    <textarea v-model="dataQuery.apiCtnt" :placeholder="$t('api.apiCtnt')" :class="'custom-textarea'" maxlength="2000" rows="4"/>
                  </el-form-item>
                  <el-form-item v-if="manageDetailPage" :label="$t('api.status')">
                    <el-tag class="button-no-bg" :type="dataQuery.apiStatCd=='OK'?'primary':dataQuery.apiStatCd=='CLOSE'?'info':'danger'">{{ dataQuery.apiStatCd | cdNmFilter('', codeStatusList) }}</el-tag>
                  </el-form-item>
                  <el-form-item v-if="dataQuery.dlyTermDiv == 'SEL'" :label="$t('api.stopDate')">
                    <i class="el-icon-time">{{ dataQuery.dlyTermDt | dateFilter }}&nbsp;{{ dataQuery.dlyTermTm | hmFilter }}</i>
                    <el-button type="info" size="mini" @click="modifyStopDate">{{ $t('api.modify') }}</el-button>
                    <el-button type="danger" size="mini" @click="cancelStopDate" style="margin-left:0px;">{{ $t('api.cancel') }}</el-button>
                  </el-form-item>
                </el-tab-pane>
                <!-- 탭2: 상세정보 -->
                <el-tab-pane :label="$t('api.tab2')">
                  <el-row type="flex">
                    <el-form-item :label="$t('api.apiTypeCd')" prop="apiType">
                      <el-row type="flex" align="middle">
                        <el-select v-model="dataQuery.apiType" :placeholder="$t('api.apiTypeCd')" filterable clearable class="filter-item" @change="chageBtId">
                          <el-option v-for="item in codeApiTypeList" :key="item.cdId" :label="item.cdId" :value="item.cdId"/>
                        </el-select>
                        <el-checkbox v-model="dataQuery.checkSchema" false-label="N" true-label="Y" class="ml10">검증여부</el-checkbox>
                      </el-row>
                    </el-form-item>
                    <el-form-item :label="$t('api.apiBtId')" prop="apiBtId" class="ml20">
                      <el-input v-model="dataQuery.apiBtId" :placeholder="$t('api.apiBtId')" maxlength="14" disabled/>
                    </el-form-item>
                  </el-row>
                  <el-row type="flex">
                    <el-form-item :label="$t('api.apiDivCd')" prop="ctgrCd">
                      <el-radio-group v-model="dataQuery.ctgrCd" size="small" @change="doChangeDivCd">
                        <el-radio-button :disabled="manageDetailPage || manageVersionPage" v-for="item in codeApiDivList" :key="item.cdId" :label="item.cdId">{{item.cdNm}}</el-radio-button>
                      </el-radio-group>
                    </el-form-item>
                    <el-form-item :label="$t('api.apiVerYn')" prop="apiVerYn" class="ml20">
                      <el-radio-group v-model="dataQuery.apiVerYn" size="small">
                        <el-radio-button :disabled="manageDetailPage || manageVersionPage" v-for="item in codeRegYn" :key="item.cdId" :label="item.cdId">{{item.cdNm}}</el-radio-button>
                      </el-radio-group>
                    </el-form-item>
                  </el-row>
                  <el-row type="flex">
                    <el-form-item :label="$t('api.apiUrl')" class="is-required" >
                      <el-row type="flex" align="middle">
                        <el-form-item v-if="dataQuery.apiVerYn=='Y'" prop="apiVer" label-width="0px" style="width:20%">
                          <el-input v-model="dataQuery.apiVer" :placeholder="$t('api.apiVersion')" :disabled="manageDetailPage" maxlength="10" @change="chageBtId"/>
                        </el-form-item>
                        <p v-if="dataQuery.apiVerYn=='Y'" style="text-align: center;" class="ml10 mr10">/</p>
                        <el-form-item v-if="dataQuery.ctgrCd=='02'" prop="apiIndustry" label-width="0px" style="width:40%">
                          <el-select :disabled="codeIndustryList.length > 1?diabled:''" v-model="dataQuery.apiIndustry" :placeholder="$t('api.apiIndustry')" filterable clearable class="filter-item" value-key="">
                            <el-option v-for="item in codeIndustryList" :key="item.cdId" :label="item.cdId" :value="item.cdId"/>
                          </el-select>
                        </el-form-item>
                        <p v-if="dataQuery.ctgrCd=='02'" style="text-align: center;" class="ml10 mr10">/</p>
                        <el-form-item prop="apiUri" label-width="0px" :style="dataQuery.ctgrCd=='01'&& dataQuery.apiVerYn=='Y'?'width:80%':dataQuery.ctgrCd=='02'&& dataQuery.apiVerYn=='Y'?'width:40%':'width:100%'">
                          <el-input v-model="dataQuery.apiUri" :placeholder="$t('api.apiUri')" :disabled="manageDetailPage|| manageVersionPage" maxlength="50"/>
                        </el-form-item>
                      </el-row>
                    </el-form-item>
                    <el-form-item :label="$t('api.scope')" prop="scope" class="ml20">
                      <el-select :disabled="dataQuery.ctgrCd=='01'" v-model="dataQuery.scope" :placeholder="$t('api.scope')" filterable clearable class="filter-item">
                        <el-option v-for="item in codeScopeList" :key="item.cdNm" :label="item.cdNm" :value="item.cdNm"/>
                      </el-select>
                    </el-form-item>
                  </el-row>
                  <el-row type="flex">
                    <el-form-item :label="$t('api.contentType')" prop="contentType">
                      <el-input v-model="dataQuery.contentType" :placeholder="$t('api.apiUri')" maxlength="100"/>
                    </el-form-item>
                    <el-form-item :label="$t('api.apiAuthType')" prop="apiAuthType" class="ml20">
                      <el-radio-group v-model="dataQuery.apiAuthType" size="small" :disabled="manageDetailPage" @change="handleClear('subRuleForm')">
                        <el-radio-button v-for="item in codeCertType" :key="item.cdId" :label="item.cdId">{{item.cdNm}}</el-radio-button>
                      </el-radio-group>
                    </el-form-item>
                  </el-row>
                  <el-row type="flex">
                    <el-form-item :label="$t('api.gwType')" prop="gwType">
                      <el-radio-group v-model="dataQuery.gwType" size="small" :disabled="manageDetailPage">
                        <el-radio-button v-for="item in codeGwList" :key="item.cdId" :label="item.cdId">{{item.cdNm}}</el-radio-button>
                      </el-radio-group>
                    </el-form-item>
                    <el-form-item :label="$t('api.method')" prop="apiMthd" class="ml20">
                      <el-radio-group v-model="dataQuery.apiMthd" size="small">
                        <el-radio-button v-for="item in codeMethodList" :key="item.cdId" :label="item.cdId">{{item.cdNm}}</el-radio-button>
                      </el-radio-group>
                    </el-form-item>
                  </el-row>
                  <el-row type="flex">
                    <el-form-item class="is-required" :label="$t('api.transCycle')" prop="apiTransCycle">
                      <el-radio-group v-model="dataQuery.apiTransCycle" size="small">
                        <el-radio-button v-for="item in codeTranCycleList" :key="item.cdId" :label="item.cdId">{{item.cdNm}}</el-radio-button>
                      </el-radio-group>
                    </el-form-item>
                    <el-form-item :label="$t('api.msgType')" prop="msgType" class="ml20">
                      <el-radio-group v-model="dataQuery.msgType" size="small">
                        <el-radio-button v-for="item in codeMsgList" :key="item.cdId" :label="item.cdId">{{item.cdNm}}</el-radio-button>
                      </el-radio-group>
                    </el-form-item>
                  </el-row>
                  <el-row type="flex">
                    <el-form-item :label="$t('api.encodingType')" prop="encodingType">
                        <el-radio-group v-model="dataQuery.encodingType" size="small">
                          <el-radio-button v-for="item in codeIcList" :key="item.cdId" :label="item.cdId">{{item.cdNm}}</el-radio-button>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item :label="$t('api.apiProcType')" prop="apiProcType" class="ml20">
                      <el-radio-group v-model="dataQuery.apiProcType" size="small">
                        <el-radio-button v-for="item in codePtList" :key="item.cdId" :label="item.cdId">{{item.cdNm}}</el-radio-button>
                      </el-radio-group>
                    </el-form-item>
                  </el-row>
                  <el-row type="flex">
                    <el-form-item class="is-required" :label="$t('api.httpCnfgr')" v-show="dataQuery.apiProcType == 'HTTP'">
                      <el-row type="flex" align="middle">
                        <el-form-item prop="httpMethod">
                          <el-input v-model="dataQuery.httpMethod" placeholder="method" class="input-with-select"/>
                        </el-form-item>
                        <el-form-item prop="httpPrtcl">
                          <el-select v-model="dataQuery.httpPrtcl" placeholder="https(s)">
                            <el-option v-for="item in codeCmList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                          </el-select>
                        </el-form-item>
                      </el-row>
                      <el-row type="flex" align="middle">
                        <el-form-item prop="httpCtOut">
                          <el-input v-model="dataQuery.httpCtOut" placeholder="Connect Timeout" maxlength="24"/>
                        </el-form-item>
                        <el-form-item prop="httpRtOut">
                          <el-input v-model="dataQuery.httpRtOut" placeholder="Response Timeout" maxlength="24"/>
                        </el-form-item>
                      </el-row>
                      <el-form-item prop="httpUrl">
                        <el-input v-model="dataQuery.httpUrl" placeholder="URL" class="input-with-select"></el-input>
                      </el-form-item>
                    </el-form-item>
                    <el-form-item :label="$t('api.tcpCnfgr')" class="is-required" v-show="dataQuery.apiProcType == 'TCP'">
                      <el-row type="flex" align="middle">
                        <el-form-item prop="tcpIp" style="width: 40%;">
                          <el-input v-model="dataQuery.tcpIp" placeholder="서버IP" maxlength="100"/>
                        </el-form-item>
                        <el-form-item prop="tcpType" style="width: 20%;">
                          <el-select v-model="dataQuery.tcpType" placeholder="sync/async">
                            <el-option v-for="item in codeAsList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                          </el-select>
                        </el-form-item>
                        <el-form-item prop="tcpPort" style="width: 20%;">
                          <el-input v-model="dataQuery.tcpPort" placeholder="port" maxlength="24"/>
                        </el-form-item>
                        <el-form-item prop="tcpSvc" style="width: 20%;">
                          <el-input v-model="dataQuery.tcpSvc" placeholder="서비스코드" maxlength="24"/>
                        </el-form-item>
                      </el-row>
                      <el-row type="flex" align="middle">
                        <el-form-item prop="tcpCtOut">
                          <el-input v-model="dataQuery.tcpCtOut" placeholder="Connect Timeout" maxlength="24"/>
                        </el-form-item>
                        <el-form-item prop="tcpRtOut">
                          <el-input v-model="dataQuery.tcpRtOut" placeholder="Response Timeout" maxlength="24"/>
                        </el-form-item>
                        <el-form-item prop="tcpEnc">
                          <el-input v-model="dataQuery.tcpEnc" placeholder="encoding" maxlength="24"/>
                        </el-form-item>
                      </el-row>
                    </el-form-item>
                  </el-row>
                </el-tab-pane>
                <!-- 탭3: 이용요금 -->
                <el-tab-pane :label="$t('api.tab3')" v-if="false">
                  <el-form-item :label="$t('api.baseRateYn')" prop="baseRateYn">
                    <el-radio-group v-model="dataQuery.baseRateYn" size="small">
                      <el-radio-button label="Y">포함</el-radio-button>
                      <el-radio-button label="N">불포함</el-radio-button>
                    </el-radio-group>
                  </el-form-item>
                  <el-form-item :label="$t('api.apiRscdYn')" prop="apiRscdYn">
                    <el-radio-group v-model="dataQuery.apiRscdYn" size="small" @change="handleClear">
                      <el-radio-button label="N">거래응답</el-radio-button>
                      <el-radio-button label="Y">정상응답</el-radio-button>
                    </el-radio-group>
                    <el-row type="flex" align="middle">
                      <div class="el-input el-input--medium" style="width: 250px;">
                        <input v-show="dataQuery.apiRscdYn == 'Y'" v-model="dataQuery.apiRsKey" type="text" autocomplete="off" :placeholder="$t('api.apiRsKey')" maxlength="20" class="el-input__inner">
                      </div>
                      <div class="el-input el-input--medium" style="">
                        <input v-show="dataQuery.apiRscdYn == 'Y'" v-model="dataQuery.apiRsValue" type="text" autocomplete="off" :placeholder="$t('api.apiRsValue')" maxlength="50" class="el-input__inner">
                      </div>
                    </el-row>
                  </el-form-item>
                </el-tab-pane>
              </el-tabs>
            </template>
          </el-form>
        </el-card>
        <!---------------------------------    Option    --------------------------------->
        <el-card v-loading="loading" shadow="hover" style="margin-top: 20px;">
          <div slot="header">
            <el-row type="flex" align="middle" justify="space-between">
              <strong>{{ $t('title.parameters') }} </strong>
              <div style="display:inline-flex;">
                <el-upload style="margin-right:10px" action="" :auto-upload="false" :show-file-list="false" :on-change="excelImport">
                  <el-button size="small" icon="el-icon-upload el-icon-right">Excel</el-button>
                </el-upload>
                <el-button type="primary" plain size="small" @click="handleAddParam">+ {{ $t('api.addParam') }}</el-button>
              </div>
            </el-row>
          </div>
          <!---------------------------------    ParameterTable    --------------------------------->
          <el-table v-if="dataQuery.apiRequestList.length > 0" :header-cell-style="{textAlign: 'center'}" :data="dataQuery.apiRequestList" :default-expand-all="true"
                    current-row-key="dataQuery.apiRequestList.clmCd" border highlight-current-row @selection-change="handleSelectionChange">
            <el-table-column type="expand">
              <!-------서브 1 시작---------->
              <template slot-scope="scope">
                <el-table v-if="scope.row.apiColumnList" :data="scope.row.apiColumnList" :default-expand-all="true" :show-header="false" current-row-key="scope.row.apiColumnList.clmCd" border highlight-current-row>
                  <el-table-column type="expand">
                    <!-------서브 2 시작---------->
                    <template slot-scope="props">
                      <el-table v-if="props.row.apiColumnList" :data="props.row.apiColumnList" :show-header="false" 
                                current-row-key="props.row.apiColumnList.seqNo" border highlight-current-row>
                        <el-table-column align="right" width="105">
                          <el-row slot-scope="props2">
                            <span>{{ scope.$index + 1 }}-{{ props.$index + 1 }}-{{ props2.$index + 1 }}</span>
                          </el-row>
                        </el-table-column>
                        <el-table-column align="center" width="200">
                          <template slot-scope="props2">
                            <el-input v-model="props2.row.clmCd" maxlength="50" @change="changeOptionName(props.row.apiColumnList, props2, props2.row.clmCd)"/>
                          </template>
                        </el-table-column>
                        <el-table-column align="center" min-width="240">
                          <template slot-scope="props2">
                            <div class="el-input el-input--medium">
                              <input v-model="props2.row.clmCtnt" type="text" autocomplete="off" maxlength="1000" class="el-input__inner">
                            </div>
                          </template>
                        </el-table-column>
                        <el-table-column align="center" width="100">
                          <template slot-scope="props2">
                            <el-input v-model="props2.row.clmValue" maxlength="30"/>
                          </template>
                        </el-table-column>
                        <el-table-column align="center" width="80">
                          <template slot-scope="props2">
                            <el-input v-model="props2.row.clmLength" maxlength="5"/>
                          </template>
                        </el-table-column>
                        <el-table-column align="center" width="120">
                          <template slot-scope="props2">
                            <el-select v-model="props2.row.clmType">
                              <el-option v-for="item in typeFilter()" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                            </el-select>
                          </template>
                        </el-table-column>
                        <el-table-column align="center" width="100">
                          <template slot-scope="props2">
                            <el-select v-model="props2.row.required">
                              <el-option v-for="item in codeRqList" :key="item.cdId" :label="item.cdId" :value="item.cdId"/>
                            </el-select>
                          </template>
                        </el-table-column>
                        <el-table-column align="center" width="100">
                          <template slot-scope="props2">
                            <el-select v-model="props2.row.hideYn">
                              <el-option v-for="item in codeHideList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                            </el-select>
                          </template>
                        </el-table-column>
                        <el-table-column align="left" width="150">
                          <el-row slot-scope="props2">
                            <el-button type="danger" class="table-button-danger-is-plain" plain size="mini" @click="handleDeleteOptionChildren(props.row, props2)">{{$t('btn.delete') }}</el-button>
                          </el-row>
                        </el-table-column>
                      </el-table>
                    </template>
                    <!-------서브 2 종료---------->
                  </el-table-column>
                  <el-table-column align="right" width="75">
                    <el-row slot-scope="props">
                      <span>{{ scope.$index + 1 }}-{{ props.$index + 1 }}</span>
                    </el-row>
                  </el-table-column>
                  <el-table-column align="center" width="200">
                    <template slot-scope="props">
                      <el-input v-model="props.row.clmCd" maxlength="50" @change="changeOptionName(scope.row.apiColumnList, props, props.row.clmCd)"/>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" min-width="240">
                    <template slot-scope="props">
                      <div class="el-input el-input--medium">
                        <input v-model="props.row.clmCtnt" type="text" autocomplete="off" maxlength="1000" class="el-input__inner">
                      </div>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" width="100">
                    <template slot-scope="props">
                      <el-input v-model="props.row.clmValue" maxlength="30"/>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" width="80">
                    <template slot-scope="props">
                      <el-input v-model="props.row.clmLength" maxlength="5"/>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" width="120">
                    <template slot-scope="props">
                      <el-select v-model="props.row.clmType" @change="changeParamsDataType(props.row.clmType, props.row)">
                        <el-option v-for="item in codeCtList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                      </el-select>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" width="100">
                    <template slot-scope="props">
                      <el-select v-model="props.row.required">
                        <el-option v-for="item in codeRqList" :key="item.cdId" :label="item.cdId" :value="item.cdId"/>
                      </el-select>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" width="100">
                    <template slot-scope="props">
                      <el-select v-model="props.row.hideYn">
                        <el-option v-for="item in codeHideList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                      </el-select>
                    </template>
                  </el-table-column>
                  <el-table-column align="left" width="150">
                    <el-row slot-scope="props">
                      <el-button type="danger" class="table-button-danger-is-plain" plain size="mini" @click="handleDeleteOptionChildren(scope.row, props)">{{$t('btn.delete') }}</el-button>
                      <el-tooltip v-show="props.row.clmType=='LIST'" :content="$t('api.addBtnTip')" placement="top">
                        <el-button type="primary" class="table-button-primary-is-plain" plain size="mini" @click="handleAddParamChild(props.row)">{{$t('app.add') }}</el-button>
                      </el-tooltip>
                    </el-row>
                  </el-table-column>
                </el-table>
              </template>
              <!-------서브 1 종료---------->
            </el-table-column>
            <!---------------------------------    parent    --------------------------------->
            <el-table-column label="No" align="right" width="95">
              <el-row slot-scope="scope">
                <span>{{ scope.$index + 1 }}</span>
              </el-row>
            </el-table-column>
            <el-table-column :label="$t('api.item')" align="center" width="200">
              <template slot-scope="scope">
                <el-input v-model="scope.row.clmCd" maxlength="50" @change="changeOptionName(dataQuery.apiRequestList, scope, scope.row.clmCd)"/>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.direction')" align="center" min-width="240">
              <template slot-scope="scope">
                <div class="el-input el-input--medium">
                  <input v-model="scope.row.clmCtnt" type="text" autocomplete="off" maxlength="1000" class="el-input__inner">
                </div>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.value')" align="center" width="100">
              <template slot-scope="scope">
                <el-input v-model="scope.row.clmValue" maxlength="30"/>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.length')" align="center" width="80">
              <template slot-scope="scope">
                <el-input v-model="scope.row.clmLength" maxlength="5"/>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.type')" align="center" width="120">
              <template slot-scope="scope">
                <el-select v-model="scope.row.clmType" @change="changeParamsDataType(scope.row.clmType, scope.row)">
                  <el-option v-for="item in codeCtList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                </el-select>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.necessaryYN')" align="center" width="100">
              <template slot-scope="scope">
                <el-select v-model="scope.row.required">
                  <el-option v-for="item in codeRqList" :key="item.cdId" :label="item.cdId" :value="item.cdId"/>
                </el-select>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.hideOptions')" align="center" width="100">
              <template slot-scope="props">
                <el-select v-model="props.row.hideYn">
                  <el-option v-for="item in codeHideList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                </el-select>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.actions')" align="left" width="150">
              <template slot-scope="scope">
                <el-button type="danger" class="table-button-danger-is-plain" plain size="mini" @click="handleDeleteParam(scope)">{{$t('btn.delete') }}</el-button>
                <el-tooltip v-show="scope.row.clmType=='LIST'" :content="$t('api.addBtnTip')" placement="top">
                  <el-button type="primary" class="table-button-primary-is-plain" plain size="mini" @click="handleAddParamChild(scope.row)">{{$t('app.add') }}</el-button>
                </el-tooltip>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
        <el-card v-loading="loading" shadow="hover" style="margin-top: 20px;">
          <div slot="header">
            <el-row type="flex" align="middle" justify="space-between">
              <strong>{{ $t('title.responseInfo') }} </strong>
              <!-- <el-button type="text" @click="handleAddResponse">+{{ $t('api.addResponse') }}</el-button> -->
              <el-button type="primary" plain size="small" @click="handleAddResponse">+ {{ $t('api.addResponse') }}</el-button>
            </el-row>
          </div>
          <!---------------------------------    ResponseTable    --------------------------------->
          <el-table v-if="dataQuery.apiResponseList.length > 0" :header-cell-style="{textAlign: 'center'}" :data="dataQuery.apiResponseList" :default-expand-all="true"
                    current-row-key="dataQuery.apiResponseList.name" border highlight-current-row>
            <el-table-column type="expand">
              <!-------서브 1 시작---------->
              <template slot-scope="scope">
                <el-table v-if="scope.row.apiColumnList" :data="scope.row.apiColumnList" :default-expand-all="true" :show-header="false"
                          current-row-key="scope.row.apiColumnList.clmCd" border highlight-current-row>
                  <el-table-column type="expand">
                    <!-------서브 2 시작---------->
                    <template slot-scope="props">
                      <el-table v-if="props.row.apiColumnList" :data="props.row.apiColumnList" :show-header="false"
                                current-row-key="props.row.apiColumnList.clmCd" border highlight-current-row>
                        <el-table-column width="105" align="right">
                          <template slot-scope="props2" >
                            <span>{{ scope.$index + 1 }}-{{ props.$index + 1 }}-{{ props2.$index + 1 }}</span>
                          </template>
                        </el-table-column>
                        <el-table-column align="center" width="200">
                          <template slot-scope="props2">
                            <el-input v-model="props2.row.clmCd" maxlength="50" @change="changeOptionName(props.row.apiColumnList, props2, props2.row.clmCd)"/>
                          </template>
                        </el-table-column>
                        <el-table-column align="center" min-width="240">
                          <template slot-scope="props2">
                            <div class="el-input el-input--medium">
                              <input v-model="props2.row.clmCtnt" type="text" autocomplete="off" maxlength="1000" class="el-input__inner">
                            </div>
                          </template>
                        </el-table-column>
                        <el-table-column :label="$t('api.length')" width="80">
                          <template slot-scope="props2">
                            <el-input v-model="props2.row.clmLength" maxlength="5"/>
                          </template>
                        </el-table-column>
                        <el-table-column align="center" width="120">
                          <template slot-scope="props2">
                            <el-select v-model="props2.row.clmType" >
                              <el-option v-for="item in typeFilter()" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                            </el-select>
                          </template>
                        </el-table-column>
                        <el-table-column align="center" width="100">
                          <template slot-scope="props2">
                            <el-select v-model="props2.row.required">
                              <el-option v-for="item in codeRqList" :key="item.cdId" :label="item.cdId" :value="item.cdId"/>
                            </el-select>
                          </template>
                        </el-table-column>
                        <el-table-column align="center" width="100">
                          <template slot-scope="props2">
                            <el-select v-model="props2.row.hideYn">
                              <el-option v-for="item in codeHideList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                            </el-select>
                          </template>
                        </el-table-column>
                        <el-table-column align="left" width="150">
                          <template slot-scope="props2">
                            <el-button type="danger" class="table-button-danger-is-plain" plain size="mini"
                                      @click="handleDeleteOptionChildren(props.row, props2)">{{$t('btn.delete') }}</el-button>
                          </template>
                        </el-table-column>
                      </el-table>
                    </template>
                    <!-------서브 2 종료---------->
                  </el-table-column>
                  <el-table-column width="75" align="right">
                    <template slot-scope="props">
                      <span>{{ scope.$index + 1 }}-{{ props.$index + 1 }}</span>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" width="200">
                    <template slot-scope="props">
                      <el-input v-model="props.row.clmCd" maxlength="50" @change="changeOptionName(scope.row.apiColumnList, props, props.row.clmCd)"/>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" min-width="240">
                    <template slot-scope="props">
                      <div class="el-input el-input--medium">
                        <input v-model="props.row.clmCtnt" type="text" autocomplete="off" maxlength="1000" class="el-input__inner">
                      </div>
                    </template>
                  </el-table-column>
                  <el-table-column :label="$t('api.length')" width="80">
                    <template slot-scope="props">
                      <el-input v-model="props.row.clmLength" maxlength="5"/>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" width="120">
                    <template slot-scope="props">
                      <el-select v-model="props.row.clmType" @change="changeParamsDataType(props.row.clmType, props.row)">
                        <el-option v-for="item in codeCtList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                      </el-select>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" width="100">
                    <template slot-scope="props">
                      <el-select v-model="props.row.required">
                        <el-option v-for="item in codeRqList" :key="item.cdId" :label="item.cdId" :value="item.cdId"/>
                      </el-select>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" width="100">
                    <template slot-scope="props">
                      <el-select v-model="props.row.hideYn">
                        <el-option v-for="item in codeHideList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                      </el-select>
                    </template>
                  </el-table-column>
                  <el-table-column align="left" width="150">
                    <template slot-scope="props">
                      <el-button type="danger" class="table-button-danger-is-plain" plain size="mini"
                                 @click="handleDeleteOptionChildren(scope.row, props)">{{$t('btn.delete') }}</el-button>
                      <el-tooltip v-show="props.row.clmType=='LIST'" :content="$t('api.addBtnTip')" placement="top">
                        <el-button type="primary" class="table-button-primary-is-plain" plain size="mini" @click="handleAddResponseChild(props.row)">{{$t('app.add') }}</el-button>
                      </el-tooltip>
                    </template>
                  </el-table-column>
                </el-table>
              </template>
              <!-------서브 1 종료---------->
            </el-table-column>
            <!---------------------------------    parent    --------------------------------->
            <el-table-column label="No" align="right" width="95">
              <el-row slot-scope="scope">
                <span>{{ scope.$index + 1 }}</span>
              </el-row>
            </el-table-column>
            <el-table-column :label="$t('api.item')" align="center" width="200">
              <template slot-scope="scope">
                <el-input v-model="scope.row.clmCd" maxlength="50" @change="changeOptionName(dataQuery.apiResponseList, scope, scope.row.clmCd)"/>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.direction')" align="center" min-width="240">
              <template slot-scope="scope">
                <div class="el-input el-input--medium">
                  <input v-model="scope.row.clmCtnt" type="text" autocomplete="off" maxlength="1000" class="el-input__inner">
                </div>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.length')" align="center" width="80">
              <template slot-scope="scope">
                <el-input v-model="scope.row.clmLength" maxlength="5"/>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.type')" align="center" width="120">
              <template slot-scope="scope">
                <el-select v-model="scope.row.clmType" @change="changeParamsDataType(scope.row.clmType, scope.row)">
                  <el-option v-for="item in codeCtList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                </el-select>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.necessaryYN')" align="center" width="100">
              <template slot-scope="scope">
                <el-select v-model="scope.row.required" filterable :default-first-option="true">
                  <el-option v-for="item in codeRqList" :key="item.cdId" :label="item.cdId" :value="item.cdId"/>
                </el-select>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.hideOptions')" align="center" width="100">
              <template slot-scope="props">
                <el-select v-model="props.row.hideYn">
                  <el-option v-for="item in codeHideList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                </el-select>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.actions')" align="left" width="150">
              <template slot-scope="scope">
                <el-button type="danger" class="table-button-danger-is-plain" plain size="mini" @click="handleDeleteResponse(scope)">{{$t('btn.delete') }}</el-button>
                <el-tooltip v-show="scope.row.clmType=='LIST'" :content="$t('api.addBtnTip')" placement="top">
                  <el-button type="primary" class="table-button-primary-is-plain" plain size="mini" @click="handleAddResponseChild(scope.row)">{{$t('app.add') }}</el-button>
                </el-tooltip>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
        <el-card v-loading="loading" v-if="manageDetailPage" style="margin-top: 20px;">
          <div slot="header">
            <strong class="strong-only">{{ $t('title.apiEditHistory') }} </strong>
          </div>
          <el-table v-if="dataQuery.apiStatModHisList.length > 0" :data="dataQuery.apiStatModHisList" border highlight-current-row>
            <el-table-column :label="$t('api.changeContent')" align="center" prop="apiModDiv">
              <template slot-scope="scope">
                <el-tag class="button-no-bg" :type="scope.row.apiModDiv | modFilter('', codeModStatList)">{{ scope.row.apiModDiv | cdNmFilter('', codeModStatList) }}</el-tag>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.changeDate')" align="center" prop="regDttm"/>
            <el-table-column :label="$t('api.changeUser')" align="center" prop="regUser">
              <template slot-scope="scope">
                {{ scope.row.regUser }}
              </template>
            </el-table-column>
          </el-table>
        </el-card>
      </el-row>
    </div>
    <dialog-close-date v-if="manageDetailPage" :prop-dialog-close-date="dialogCloseOption" :prop-dialog-idx="dialogIdx"
                       @handle-close="dialogCloseOption = false" @handle-reload-data="getList"/>
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import Sticky from '@/components/Sticky'
import DialogCloseDate from './dialogCloseDate'
import { mapGetters } from 'vuex'
import { scrollTo } from '@/utils/scrollTo'
import { isEmpty } from '@/utils/validate'
import { maskingName } from '@/utils/masking'
import { apiDelete, apiRegister, editApi, fetchApiDetail, updateApiStatus, fetchApiSwaggerInfo } from '@/api/api'
import { selectCommCodeList } from '@/api/common'
import permission from '@/directive/permission/index.js'
import XLSX from 'xlsx'

export default {
  name: 'Individual',
  directives: { waves, permission },
  components: { DialogCloseDate, Sticky },
  filters: {
    cdNmFilter(code, txtParam, codeList) {
      const value = codeList.reduce((obj, cur) => {
        obj[cur.cdId] = cur.cdNm
        return obj
      }, {})
      return value[code]
    },
    modFilter(status, txtParam, codeList) {
      const tagValue = codeList.reduce((acc, cur) => {
        acc[cur.cdId] = cur.conn1Cd
        return acc
      }, {})
      return tagValue[status]
    }
  },
  props: {
    showSubNav: {
      type: Boolean,
      default: true
    },
    manageDetailPage: {
      type: Boolean,
      default: false
    },
    manageVersionPage: {
      type: Boolean,
      default: false
    },
    apiUrl: {
      type: Object,
      required: false,
      default: () => {}
    }
  },
  data() {
    return {
      condCode: [
        {cond: {commCdId: '0000',conn1Cd: 'Y'},list: 'codeIndustryList'},//업권
        {cond: {commCdId: '0030'},list: 'codeStatusList'},//상태
        {cond: {commCdId: '0100'},list: 'codeApiTypeList'},//API구분
        {cond: {commCdId: '0110'},list: 'codeApiDivList'},//API분류
        {cond: {commCdId: '0120',cdUseYn: 'Y'},list: 'codeMethodList'},//Method
        {cond: {commCdId: '0130'},list: 'codeScopeList'},//접근권한
        {cond: {commCdId: '0140'},list: 'codeMsgList'},//변환메시지형식
        {cond: {commCdId: '0150'},list: 'codeIcList'},//인코딩
        {cond: {commCdId: '0160'},list: 'codePtList'},//프로토콜
        {cond: {commCdId: '0170'},list: 'codeCmList'},//통신방식
        {cond: {commCdId: '0180'},list: 'codeAsList'},//동기여부
        {cond: {commCdId: '0190'},list: 'codeCtList'},//컬럼타입
        {cond: {commCdId: '0200'},list: 'codeRqList'},//필수여부
        {cond: {commCdId: '0210'},list: 'codeHideList'},//숨김여부
        {cond: {commCdId: '0220'},list: 'codeModStatList'},//변경상태
        {cond: {commCdId: '0230'},list: 'codeGwList'},//게이트웨이
        {cond: {commCdId: '0240'},list: 'codeTranCycleList',nulldata:{cdId: null, cdNm:'해당없음'}},//정기적전송주기,
        {cond: {commCdId: '0201'},list: 'codeRegYn'},//등록여부
        {cond: {commCdId: '0250'},list: 'codeCertType'}//인증방식
      ],
      codeApiDivList: [],
      codeIndustryList: [],
      codeMethodList: [],
      codeStatusList: [],
      codeApiTypeList: [],
      codeScopeList: [],
      codeMsgList: [],
      codeIcList: [],
      codePtList: [],
      codeCmList: [],
      codeAsList: [],
      codeCtList: [],
      codeRqList: [],
      codeHideList: [],
      codeModStatList: [],
      codeGwList: [],
      codeTranCycleList: [],
      codeRegYn: [],
      codeCertType: [],
      listQuery: {
        searchNm: '',
        pageIdx: 1,
        pageSize: 20,
        ctgrCd: ''
      },
      feeAmountString: '',
      subCtgrCd: '',
      tempStatCd: '',
      loading: false,
      confirmLoading: false,
      consentInfo: [],
      inputTagValue: '',
      showAddTag: false,
      dataQuery: {
        ctgrCd: '01',
        apiType: '',
        apiRequestList: [],
        apiResponseList: [],
        apiStatModHisList: [],
        apiSvc: '',
        apiVer: '',
        apiUri: '',
        scope: '',
        apiMthd: 'POST',
        msgType: 'json',
        encodingType: 'UTF-8',
        apiProcType: 'HTTP',
        dlyTermDt: '',
        dlyTermTm: '',
        httpMethod: '',
        httpPrtcl: '',
        httpCtOut: '',
        httpRtOut: '',
        httpUrl: '',
        tcpIp: '',
        tcpType: '',
        tcpPort: '',
        tcpSvc: '',
        tcpCtOut: '',
        tcpRtOut: '',
        tcpEnc: '',
        apiIndustry: '',
        gwType: 'inbound',
        apiBtId: '',
        apiTransCycle: null,
        apiAuthType: '',
        contentType: '',
        apiVerYn: 'Y',
        checkSchema: 'Y'
      },
      codeList: [],
      ruleForm: {
        ctgrCd: '01',
        apiType: '',
        apiRequestList: [],
        apiResponseList: [],
        apiStatModHisList: [],
        apiSvc: '',
        apiVer: '',
        apiUri: '',
        scope: '',
        apiMthd: '',
        msgType: '',
        encodingType: '',
        apiProcType: '',
        dlyTermDt: '',
        dlyTermTm: '',
        httpMethod: '',
        httpPrtcl: '',
        httpCtOut: '',
        httpRtOut: '',
        httpUrl: '',
        tcpIp: '',
        tcpType: '',
        tcpPort: '',
        tcpSvc: '',
        tcpCtOut: '',
        tcpRtOut: '',
        tcpEnc: '',
        gwType: '',
        apiBtId: '',
        apiTransCycle: null,
        apiAuthType: '',
        contentType: '',
        apiVerYn: '',
        checkSchema: 'Y'
      },
      datePickerOption: { disabledDate(time) { return time.getTime() < Date.now() } },
      paramValueCheck: false,
      responseValueCheck: false,
      dialogCloseOption: false,
      dialogIdx: '',
      changeStatusQuery: {
        apiId: '',
        dlyTermDiv: '',
        dlyTermDt: '',
        dlyTermTm: ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'roles',
      'hfnCd'
    ]),
  rules(){
    const isRequired = this.dataQuery.apiProcType === "HTTP" ? true : false;
    const isVerReq = this.dataQuery.apiVerYn === "Y"? true : false;
    return {
        apiNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        ctgrCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        apiVer: [
          { required: isVerReq, message: this.$t('message.valid_required'), trigger: 'blur' },
          { pattern: /^v[0-9.]+$/gi, message: this.$t('api.validUrl'), trigger: 'blur' }
        ],
        apiIndustry: [ { required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        apiUri: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
          { pattern: /^[A-Za-z0-9-_/.{}]+$/, message: this.$t('api.validUrl'), trigger: 'blur' }
        ],
        gwType: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        apiMthd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        msgType: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        encodingType: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        apiProcType: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        dlyTermDt: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        dlyTermTm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        httpMethod: [{ required: isRequired, message: this.$t('message.valid_required'), trigger: 'blur' }],
        httpPrtcl: [{ required: isRequired, message: this.$t('message.valid_required'), trigger: 'blur' }],
        httpCtOut: [{ required: isRequired, message: this.$t('message.valid_required'), trigger: 'blur' }],
        httpRtOut: [{ required: isRequired, message: this.$t('message.valid_required'), trigger: 'blur' }],
        httpUrl: [{ required: isRequired, message: this.$t('message.valid_required'), trigger: 'blur' }],
        tcpIp: [{ required: !isRequired, message: this.$t('message.valid_required'), trigger: 'blur' }],
        tcpType: [{ required: !isRequired, message: this.$t('message.valid_required'), trigger: 'blur' }],
        tcpPort: [{ required: !isRequired, message: this.$t('message.valid_required'), trigger: 'blur' }],
        tcpSvc: [{ required: !isRequired, message: this.$t('message.valid_required'), trigger: 'blur' }],
        tcpCtOut: [{ required: !isRequired, message: this.$t('message.valid_required'), trigger: 'blur' }],
        tcpRtOut: [{ required: !isRequired, message: this.$t('message.valid_required'), trigger: 'blur' }],
        tcpEnc: [{ required: !isRequired, message: this.$t('message.valid_required'), trigger: 'blur' }]
      }
    }
  },
  created() {
    scrollTo(0, 800)
    this.getList()
    this.dataQuery.apiIndustry = ""
    this.dataQuery.scope = "manage"
    this.getCodeList()
  },
  methods: {
    //코드조회
    getCodeList() {
      for(var i in this.condCode){
        var codeCond = this.condCode[i];
        selectCommCodeList(codeCond.cond).then(response => {
          //async로인해 함수 밖 파라미터를 재대로 사용할수없어 코드존재여부 확인뒤
          //첫번째 대표코드를 통해서 코드 list에 맵핑 함
          if(response.codeList != null && response.codeList.length > 0){
            var codeObj = this.condCode.filter(function(e,i,a){
              if(e.cond.commCdId ==response.codeList[0].commCdId){
                return true
              }
            })
            this[codeObj[0].list] = response.codeList
            if(codeObj[0].nulldata != null){
              this[codeObj[0].list].unshift({ cdId: codeObj[0].nulldata.cdId, cdNm: codeObj[0].nulldata.cdNm})
            }
          }
        })
      }
    },
    typeFilter() {
      return this.codeCtList.filter(function (item) {
        if(item.cdId != 'LIST') {
          return true
        }else{
          return false
        }
      })
      
    },
    handleSelectionChange(val) {
      for (let i = 0; i < val.length; i++) {
        for (let j = 0; j < this.dataQuery.apiRequestList.length; j++) {
          if (val[i].clmOrd === this.dataQuery.apiRequestList[j].clmOrd) {
            this.dataQuery.apiRequestList[j].clmSel = 'Y'
          }
        }
      }
    },
    excelImport(file) {
      const types = file.name.split('.')[1]
      const fileType = ['xlsx', 'xlc', 'xlm', 'xls', 'xlt', 'xlw', 'csv'].some(item => item === types)
      if (!fileType) {
        this.$message('Excel에서 지원하는 파일 형식만 가능합니다.')
        return
      }
      this.file2Xce(file).then(tabJson => {
        if (tabJson && tabJson.length > 0) {
          this.xlsxJson = tabJson
          this.dataQuery.apiRequestList = this.xlsxJson[0].sheet
          this.dataQuery.apiResponseList = this.xlsxJson[1].sheet
        }
      })
    },
    file2Xce(file) {
      return new Promise(function(resolve, reject) {
        const reader = new FileReader()
        reader.onload = function(e) {
          const data = e.target.result
          var wb = XLSX.read(data, {
            type: 'binary'
          })
          const result = []
          wb.SheetNames.forEach((sheetName) => {
            result.push({
              sheetName: sheetName,
              sheet: XLSX.utils.sheet_to_json(wb.Sheets[sheetName])
            })
          })
          resolve(result)
        }
        reader.readAsBinaryString(file.raw)
      })
    },
    //이용금액의 개발미정으로 현재 미사용
    handleClear(){
      // this.dataQuery.apiRsKey = ''
      // this.dataQuery.apiRsValue = ''
    },
    handleDeleteApi() {
      if (this.roles == 'ROLE_SYS_ADMIN' || this.roles == 'ROLE_HFN_ADMIN'){
        this.$confirm(this.$t('message.deleteConfirm'), {
          confirmButtonText: this.$t('btn.delete'),
          cancelButtonText: this.$t('btn.cancel'),
          type: 'warning'
        }).then(() => {
          this.tempStatCd = 'DEL'
          const data = { apiId: this.dataQuery.apiId, apiModDiv: this.tempStatCd, apiUseCnt: this.dataQuery.apiUseCnt }
          apiDelete(data).then(response => {
            this.$message.success(this.$t('message.success'))
            //성공 했을시에만 상태 변경
            this.dataQuery.apiStatCd = this.tempStatCd
            this.getList()
            this.$router.push({ path: '/apiManage' })
          })
        })
      }
      else {
        this.$message.error(this.$t('api.deleteErrorRole'))
      }
    },
    handleModifyStatus() {
      if (this.dataQuery.apiStatCd === 'OK') {
        this.dialogCloseOption = true
        this.dialogIdx = this.dataQuery.apiId
      } else {
        const data = { apiId: this.dataQuery.apiId }
        updateApiStatus(data).then(response => {
          this.$message.success(this.$t('message.success'))
          this.getList()
        })
      }
    },
    handleConfirm() {
      if (this.manageDetailPage === true) {
        this.manageEditConfirm()
      } else {
        this.individualConfirm()
      }
    },
    handleVersionUp() {
      this.$router.push({ path: '/apiManage/apiVersionUp?apiId=' + this.$route.query.apiId})
    },
    individualConfirm() {
      this.resetCheckData()
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          this.necessaryParamCheck(this.dataQuery.apiRequestList)
          if (this.paramValueCheck === true) {
            this.necessaryResponseCheck(this.dataQuery.apiResponseList)
            if (this.responseValueCheck === true) {
              this.confirmLoading = true
              this.$confirm(this.$t('message.createConfirm'), {
                confirmButtonText: this.$t('btn.confirm'),
                cancelButtonText: this.$t('btn.cancel'),
                type: 'warning'
              }).then(() => {
                if(this.manageVersionPage && isEmpty(this.dataQuery.parentId )) {
                  this.dataQuery.parentId = this.$route.query.apiId
                }
                this.dataQuery.apiSvc = this.$options.filters.svcEtcFilter(this.dataQuery.hfnCd,'', this.codeList)

                apiRegister(this.dataQuery).then(response => {
                  this.confirmLoading = false
                  this.$message.success(this.$t('message.success'))
                  this.getList()
                }).catch(() => { this.confirmLoading = false })
              }).catch(() => {
                this.confirmLoading = false
              })
            } else return
          } else return
        }
      })
    },
    manageEditConfirm() {
      this.resetCheckData()
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          this.necessaryParamCheck(this.dataQuery.apiRequestList)
          if (this.paramValueCheck === true) {
            this.necessaryResponseCheck(this.dataQuery.apiResponseList)
            if (this.responseValueCheck === true) {
              this.confirmLoading = true
              this.$confirm(this.$t('message.editConfirm'), {
                confirmButtonText: this.$t('btn.confirm'),
                cancelButtonText: this.$t('btn.cancel'),
                type: 'warning'
              }).then(() => {
                editApi(this.dataQuery).then(response => {
                  this.confirmLoading = false
                  this.$message.success(this.$t('message.success'))
                  this.getList()
                }).catch(() => { this.confirmLoading = false })
              }).catch(() => {
                this.confirmLoading = false
              })
            }
          }
        }
      })
    },
    closeIndividual() {
      this.resetData()
      this.$emit('close-individual')
    },
    handleCancelEdit() {
      this.$router.push({ path: '/apiManage' })
    },
    handleAddParam() {
      const newParam = { clmSel:'', clmOrd: this.dataQuery.apiRequestList.length + 1, clmCd: '', clmCtnt: '', clmValue: '', clmType: '', required: 'N', sqlInjection:'N', logVisible:'N', masking:'none', hideYn:'N' }
      this.dataQuery.apiRequestList.push(newParam)
    },
    handleAddParamChild(row) {
      if (row.clmType === 'LIST') {
        if (!row.apiColumnList) {
          this.$set(row, 'apiColumnList', [])
        }
        const newChild = { clmOrd: row.apiColumnList.length + 1, clmCd: '', clmCtnt: '', clmValue: '', clmType: '', required: 'N', sqlInjection:'N', logVisible:'N', masking:'none', hideYn:'N' }
        row.apiColumnList.push(newChild)
      } else return
    },
    handleDeleteParam(row) {
      this.dataQuery.apiRequestList.splice(row.$index, 1)
      for (let i = 0; i < this.dataQuery.apiRequestList.length; i++) {
        this.dataQuery.apiRequestList[i].clmOrd = i + 1
      }
    },
    handleAddResponse() {
      const newParam = { clmOrd: this.dataQuery.apiResponseList.length + 1, clmCd: '', clmCtnt: '', clmValue: '', clmType: '', required: 'N', sqlInjection:'N', logVisible:'N', masking:'none', hideYn:'N' }
      this.dataQuery.apiResponseList.push(newParam)
    },
    handleAddResponseChild(row) {
      if (row.clmType === 'LIST') {
        if (!row.apiColumnList) {
          this.$set(row, 'apiColumnList', [])
        }
        const newChild = { clmOrd: row.apiColumnList.length + 1, clmCd: '', clmCtnt: '', clmValue: '', clmType: '', required: 'N', sqlInjection:'N', logVisible:'N', masking:'none', hideYn:'N' }
        row.apiColumnList.push(newChild)
      } else return
    },
    handleDeleteResponse(row) {
      this.dataQuery.apiResponseList.splice(row.$index, 1)
      for (let i = 0; i < this.dataQuery.apiResponseList.length; i++) {
        this.dataQuery.apiResponseList[i].clmOrd = i + 1
      }
    },
    handleDeleteOptionChildren(parentRow, row) {
      if (parentRow.apiColumnList.length === 1) {
        this.$message.error(this.$t('message.error_delete_list'))
      } else {
        parentRow.apiColumnList.splice(row.$index, 1)
        for (let i = 0; i < parentRow.apiColumnList.length; i++) {
          parentRow.apiColumnList[i].clmOrd = i + 1
        }
      }
    },
    changeParamsDataType(val, row, parentRow) {
      if (val !== 'LIST' && row.apiColumnList) {
        this.$alert(this.$t('message.warning_will_delete_list'), {
          confirmButtonText: this.$t('btn.confirm'),
          type: 'warning',
          callback: action => {
            this.$delete(row, 'apiColumnList')
            this.$message.warning(this.$t('message.warning_delete_list'))
          }
        })
      } else if (val === 'LIST' && !row.apiColumnList) {
        this.$set(row, 'apiColumnList', [{ clmOrd: 1, clmCd: '', clmCtnt: '', clmValue: '', clmType: '', required: 'N', sqlInjection:'N', logVisible:'N', masking:'none', hideYn:'N' }])
      } else return
    },
    changeResponseDataType(val, row) {
      if (val !== 'LIST' && row.apiColumnList) {
        this.$alert(this.$t('message.warning_will_delete_list'), {
          confirmButtonText: this.$t('btn.confirm'),
          type: 'warning',
          callback: action => {
            this.$delete(row, 'apiColumnList')
            this.$message.warning(this.$t('message.warning_delete_list'))
          }
        })
      } else if (val === 'LIST' && !row.apiColumnList) {
        this.$set(row, 'apiColumnList', [{ clmOrd: 1, clmCd: '', clmCtnt: '', clmValue: '', clmType: '' }])
      } else return
    },
    changeOptionName(list, row, val) {
      if (list.length > 1) {
        for (let i = 0; i < list.length; i++) {
          if (val !== '' && i !== row.$index && list[i].clmCd === val) {
            this.$alert('<p>' + this.$t('message.error_repeat') + '<br/>' + this.$t('message.warning_will_delete') + '</p>', {
              dangerouslyUseHTMLString: true,
              confirmButtonText: this.$t('btn.confirm'),
              type: 'error',
              callback: action => {
                list.splice(row.$index, 1)
                this.$message.warning(this.$t('message.warning_delete'))
              }
            })
          }
        }
      }
    },
    getList() {
      if (this.manageDetailPage === true || this.manageVersionPage === true) {
        // this.loading = true
        fetchApiDetail(this.$route.query.apiId).then(response => {
          this.loading = false
          this.dataQuery = response

          // 마스킹 처리
          for (let item of this.dataQuery.apiStatModHisList) {
            item.regUser = maskingName(item.regUser)
          }

          this.dataQuery.hfnCd = response.hfnCd
          this.listQuery.ctgrCd = this.dataQuery.ctgrCd

          const params = {
            searchHfnCd: this.dataQuery.hfnCd
          }
        })
      }
    },
    doChangeDivCd(val) {
      if(val=="02"){
        this.dataQuery.apiIndustry = this.codeIndustryList[0].cdId
        this.dataQuery.scope = "" 
      }else if(val=="03"){
        this.dataQuery.apiIndustry = ""
        this.dataQuery.apiVer = ""
        this.dataQuery.scope = "" 
      }else{
        this.dataQuery.apiIndustry = ""
        this.dataQuery.scope = "manage"
      }
      this.$refs['ruleForm'].validate()
    },
    necessaryParamCheck(list) {
      if (list.length > 0) {
        for (let i = 0; i < list.length; i++) {
          var paramNm = list[i].clmCd
          var paramCtn = list[i].clmCtnt
          var paramType = list[i].clmType
          var paramNcsYn = list[i].required
          var paramLength = list[i].clmLength

          if((paramLength == null || paramLength == '') && paramType !== 'LIST') {
            this.paramValueCheck = false
            this.$message.error(this.$t('api.errorParam'))
            return
          }

          var sublist = list[i].apiColumnList
          if (paramNm === '' || paramNm === undefined || paramNm === null ||
              paramCtn === '' || paramCtn === undefined || paramCtn === null ||
              paramType === '' || paramType === undefined || paramType === null ||
              paramNcsYn === '' || paramNcsYn === undefined || paramNcsYn === null) {
            this.paramValueCheck = false
            this.$message.error(this.$t('api.errorParam'))
            return
          } else if (paramType === 'LIST') {
            if (sublist) {
              this.necessaryParamCheck(sublist)
            } else {
              this.paramValueCheck = false
              this.$message.error(this.$t('api.errorParamList'))
              return
            }
          } else {
            this.paramValueCheck = true
          }
        }
      } else {
        this.paramValueCheck = true
      }
    },
    necessaryResponseCheck(list) {
      if (list.length > 0) {
        for (let i = 0; i < list.length; i++) {
          var responseNm = list[i].clmCd
          var responseCtn = list[i].clmCtnt
          var responseType = list[i].clmType
          var responseLength = list[i].clmLength

          if((responseLength == null || responseLength == '') && responseType !== 'LIST') {
            this.responseValueCheck = false
            this.$message.error(this.$t('api.errorResponse'))
            return
          }

          if (responseNm === '' || responseNm === undefined || responseNm === null || responseCtn === '' || responseCtn === undefined || responseCtn === null || responseType === '' || responseType === undefined || responseType === null) {
            this.responseValueCheck = false
            this.$message.error(this.$t('api.errorResponse'))
            return
          } else if (responseType === 'LIST') {
            var sublist = list[i].apiColumnList
            if (sublist) {
              this.necessaryResponseCheck(sublist)
            } else {
              this.paramValueCheck = false
              this.$message.error(this.$t('api.errorResponseList'))
              return
            }
          } else {
            this.responseValueCheck = true
          }
        }
      } else {
        this.responseValueCheck = true
      }
    },
    resetCheckData() {
      this.paramValueCheck = false
      this.responseValueCheck = false
    },
    resetData() {
      this.$refs['ruleForm'].resetFields()
      this.ruleForm = {
        apiNm: '',
        ctgrCd: '',
        baseRateYn: '',
        userKey: '',
        apiSvc: '',
        apiVer: '',
        apiUri: '',
        apiMthd: '',
        apiProcType: '',
        apiAuthType: '',
        apiContentProvider: '',
        gwType: '',
        apiTosUrl: ''
      }
      this.dataQuery = {
        apiTagList: [],
        apiRequestList: [],
        apiResponseList: []
      }
      this.paramValueCheck = false
      this.responseValueCheck = false
      this.tempStatCd = ''
    },
    modifyStopDate(){
      if(this.dataQuery.dlyTermDiv != null) {
        if(this.dataQuery.dlyTermDt != null && this.dataQuery.dlyTermTm != null) {
          this.dialogCloseOption = true
          this.dialogIdx = this.dataQuery.apiId
        }
      }
    },
    cancelStopDate(){
      if(this.dataQuery.dlyTermDiv != null) {
        if(this.dataQuery.dlyTermDt != null && this.dataQuery.dlyTermTm != null) {
          this.changeStatusQuery.apiId = this.dataQuery.apiId
          this.changeStatusQuery.dlyTermDiv = null
          this.changeStatusQuery.dlyTermDt = null
          this.changeStatusQuery.dlyTermTm = null
          updateApiStatus(this.changeStatusQuery).then(response => {
            this.$message.success(this.$t('message.success'))
            this.getList()
          })
        }
      }
    },
    chageBtId(){
      if(this.dataQuery.apiType == null){
        this.dataQuery.apiType = "";
      }
      this.dataQuery.apiBtId = this.dataQuery.apiType.toLowerCase() + "0000_" + this.dataQuery.apiVer;
    }
  }
}
</script>
