<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>계정 등록</p>
        <el-row type="flex" class="btn_box">
          <el-button v-waves :loading="confirmLoading" type="primary" @click="handleRegisterHfnUserConfirm">{{ $t('btn.add') }}</el-button>
          <el-button type="info" @click="handleCancel">목록</el-button>
        </el-row>
      </el-row>
    </sticky>

    <div class="app-container">
      <el-card shadow="hover">
        <div slot="header">
          <strong>계정 정보</strong>
        </div>
        <el-form ref="ruleForm" :rules="rules" :model="createList" label-position="left" label-width="130px">
          <el-row type="flex">
            <el-form-item label="로그인 ID" prop="hfnCdAndId">
                <el-form-item prop="hfnId">
                  <el-row type="flex" >
                    <div class="el-input el-input--medium" style="margin-left: 3px; margin-right: 10px;">
                      <input v-model="createList.hfnId" placeholder="로그인ID" @keydown.native="handleInputNumber" @input="handleInput" @blur="idBlur" @change="checkHfnId = false" type="text" maxlength="30" class="el-input__inner">
                    </div>
                    <el-button :disabled="createList.hfnId.length<1" size="mini" plain @click="handleCheckHfnId">{{ $t('btn.checkRepetition') }}</el-button>
                  </el-row>
                </el-form-item>
            </el-form-item>
            <el-form-item :label="$t('user.type')" prop="roleCd" class="ml20" >
            <el-radio-group v-model="createList.roleCd" size="small">
              <el-radio-button v-for="item in roleOptions" :label="item.value" :key="item.value">{{ item.label }}</el-radio-button>
            </el-radio-group>
          </el-form-item>
          </el-row>
          <el-row type="flex">
            <el-form-item label="이름" prop="userNm">
              <el-input v-model="createList.userNm" maxlength="16" placeholder="이름"/>
            </el-form-item>
            <el-form-item label="연락처" prop="userTel" class="ml20" autocomplete="false">
              <el-input v-model="createList.userTel" maxlength="11" placeholder="연락처" autocomplete="false"/>
            </el-form-item>
          </el-row>
          <el-row type="flex">
            <el-form-item :label="$t('user.temporary') + $t('user.password')" prop="userPwd">
              <el-input autocomplete="new-password" v-model="createList.userPwd" :placeholder="$t('login.placeholderPassword')" minlength="8" type="password"/>
            </el-form-item>
            <el-form-item :label="$t('user.passwordCheck')" prop="passwordCheck" class="ml20">
              <el-input v-model="createList.passwordCheck" :placeholder="$t('login.placeholderPasswordCheck')" minlength="8" type="password"/>
            </el-form-item>
          </el-row>
          <el-form-item class="is-required" :show-message="showTagMessage" :error="tagErrorMessage" label="허용 IP" label-width="" prop="cnlKey">  
                <el-tag v-for="(tag, index) in createList.clientIPs" :key="tag.cnlKey" :disable-transitions="false" type="primary" plain closable @close="addCnlKeyClose(index)">{{ tag.cnlKey }}</el-tag>
                <el-button v-if="!inputVisible" class="button-new-tag" style="margin-bottom: 5px;margin-left: 0px;" plain  @click="showCnlKey">{{ $t('app.add') }}</el-button>
                <el-input style="width: 150px;" v-show="inputVisible" ref="save" @focus="inputVisible = true" v-model="inputValue" class="input-new-tag" size="small" @keydown.native="handleNumber" @blur="handleCnlKeyConfirm"/>
          </el-form-item>
          <el-form-item label="메모">
            <el-input type="textarea" placeholder="메모" :rows="2" v-model="createList.memo" maxlength="650"></el-input>
          </el-form-item>         
        </el-form>
      </el-card>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { scrollTo } from '@/utils/scrollTo'
import { mapGetters } from 'vuex'
import { checkHfnId, addHfnUser, addAccount } from '@/api/setting'
import { selectCommCodeList } from '@/api/product'

export default {
  name: 'AccountCreate',
  directives: { waves },
  components: { Sticky },
  data() {
    return {
      prdCodeList: [],
      showTagMessage: false,
      tagErrorMessage: '',
      confirmLoading: false,
      idValid: false,
      checkHfnId: false,
      officeOptions: [],
      officeSelect: false,
      portalManagerSelect: false,
      roleOptions: [
        { label: '포털 관리자', value: 'ROLE_SYS_ADMIN' },
        { label: 'IT 담당자', value: 'ROLE_HFN_ADMIN' },
        { label: '현업 담당자', value: 'ROLE_ORG_ADMIN' }
      ],
      ruleForm: {
        hfnCdAndId: '',
        hfnCd: '',
        hfnId: '',
        roleCd: '',
        useorgNm: '',
        userPwd: '',
        passwordCheck: ''
      },
      createList: {
        hfnCd: '',
        hfnId: '',
        userNm: '',
        userId: '',
        userPwd: '',
        passwordCheck: '',
        roleCd: null,
        userTel: '',
        userEmail: '',
        userKey: '',
        ipAddr: '',
        clientIPs: [] // 허용IP
      },
      inputVisible: false,
      inputValue: '',
      inputValue2: '',
      rules: {
        userNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }], // 이름
        hfnCdAndId: [{ required: false, message: this.$t('message.valid_required'), trigger: 'blur' }], // 로그인ID
        hfnId: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
          { pattern: /^(?!(?:[0-9]+)$)([a-z]|[0-9a-z]){4,}$/, message: this.$t('login.placeholderHfnId'), trigger: 'blur' }
        ], 
        roleCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'change' }], // 사용자유형
        userPwd: [ // 임시비밀번호
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
          { pattern: /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,}$/, message: this.$t('login.placeholderPassword'), trigger: 'blur' }
        ],
        passwordCheck: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }], // 임시비밀번호 확인
        userTel: [
          { min: 10, max: 15, message: this.$t('login.userTelRule'), trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'roles',
      'hfnCd'
    ]),
    adminOrNot: function() {
      return this.roles.indexOf('ROLE_SYS_ADMIN') !== -1
    }
  },
  watch: {
    'createList.userTel': function(val){
      return this.createList.userTel = this.createList.userTel.replace(/[^0-9]/g, '')
    }
  },
  created() {
    scrollTo(0, 800)
    
    this.getCommCodeList()
  },
  
  methods: {
    idBlur() {
      this.$refs.ruleForm.validateField('hfnId')
    },
    showCnlKey() {
        this.inputVisible = true
        this.$nextTick(_ => {
          this.$refs.save.$refs.input.focus()
        })
      },
    handleCnlKeyConfirm() {
        const inputValue = this.inputValue
        if (inputValue) {
          var indexYN = inputValue.indexOf(':')
          if (indexYN === -1) {
            if (!(/^(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)$/).test(inputValue)) {
              this.showTagMessage = true
              this.tagErrorMessage = this.$t('message.error_rule_ip') // IP형식에 맞춰서 입력하세요.
            } else { // ip 형식에 맞음
              this.createList.clientIPs.push({ cnlKey: inputValue })
              this.createList.clientIPs = this.createList.clientIPs.filter((li, idx, self) => self.map(itm => itm.cnlKey).indexOf(li.cnlKey) === idx)
              this.inputVisible = false
              this.inputValue = ''
              this.showTagMessage = false
              this.tagErrorMessage = ''
           }
          } else {
            if (!(/^(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*){1}([:][0-9]{2,4})$/).test(inputValue)) {
              this.showTagMessage = true
              this.tagErrorMessage = this.$t('message.error_rule_ip') // IP형식에 맞춰서 입력하세요.
            } else { // ip 형식에 맞음
              this.createList.clientIPs.push({ cnlKey: inputValue })
              this.createList.clientIPs = this.createList.clientIPs.filter((li, idx, self) => self.map(itm => itm.cnlKey).indexOf(li.cnlKey) === idx)
              this.inputVisible = false
              this.inputValue = ''
              this.showTagMessage = false
              this.tagErrorMessage = ''
             }
          }
        } else {
          this.inputVisible = false
          this.inputValue = ''
          this.showTagMessage = false
        }
      },
    handleNumber(event) {
        event = event || window.event
        var keyID = (event.which) ? event.which : event.keyCode
        if ((keyID >= 48 && keyID <= 57) || keyID === 9 || (keyID >= 96 && keyID <= 105) || keyID === 16  || keyID === 186 || keyID === 8 || keyID === 46 || keyID === 37 || keyID === 39 || keyID === 190 || keyID === 110) {
          return
        } else {
          event.preventDefault()
        }
    },
    addCnlKeyClose(idx) {
      this.createList.clientIPs.splice(idx, 1)
    },
    handleInput(value) {
      //this.createList.hfnId = this.createList.hfnId.toUpperCase()
    },
    getCommCodeList() {
      selectCommCodeList().then(response => {
        this.prdCodeList = response.codeList
        this.createList.hfnCd = this.hfnCd
      })
    },
    handleInputNumber(event) {
      if (!(event.keyCode === 8 || event.keyCode === 46 || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || (event.keyCode >= 65 && event.keyCode <= 90))) {
        event.preventDefault()
      }
    },
    handleInputTelNumber(event) {
      if (!(event.keyCode === 8 || event.keyCode === 46 || event.keyCode === 189 || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105))) {
        event.preventDefault()
      }
    },
    // ID 중복체크
    handleCheckHfnId() {
      checkHfnId(this.createList).then(response => {
        if (response.hfnIdDupYn === 'N') {
          this.$message({
            message: i18n.t('message.success_check'),
            type: 'success'
          })
          this.checkHfnId = true
        } else {
          this.$message.error(i18n.t('message.error_check_hfnId'))
        }
      })
    },
    
    handleCancel() {
      this.$router.push({ path: '/account' })
    },
    setIp() {
      this.createList.ipAddr = ''
      if (this.createList.clientIPs.length> 1) {
        for (var i = 0; i < this.createList.clientIPs.length; i++) {
          this.createList.ipAddr += this.createList.clientIPs[i].cnlKey
          if (i !== this.createList.clientIPs.length - 1)
            this.createList.ipAddr += ','
        }
      } else {
        this.createList.ipAddr = this.createList.clientIPs[0].cnlKey
      }
    },
    handleRegisterHfnUserConfirm() {
      this.hfnCdAndId = 'true'
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          if (this.checkHfnId === false) {
            this.$message.warning(i18n.t('message.warning_check_hfnId'))
          } else if (this.createList.userPwd !== this.createList.passwordCheck) {
            this.$message.error(i18n.t('message.error_check_password'))
          } else if (this.createList.clientIPs.length === 0) {
              this.showTagMessage = true
              this.tagErrorMessage = this.$t('message.valid_required')
              return false
          } else {
            this.confirmLoading = true
            this.$confirm(this.$t('message.createConfirm'), {
              confirmButtonText: this.$t('btn.confirm'),
              cancelButtonText: this.$t('btn.cancel'),
              type: 'warning'
            }).then(() => {
              this.setIp()
              addAccount(this.createList).then(response => {
                this.confirmLoading = false
                this.$message.success(this.$t('message.success'))
                this.$router.push({ path: '/account' })
              }).catch(() => {
                this.confirmLoading = false
              })
            }).catch(() => {
              this.confirmLoading = false
            })
          }
        }
      })
    }
  }
}
</script>