<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>계정 수정</p>
        <el-row type="flex" class="btn_box">
          <template v-if="info.userStatCd!='N'">
            <el-button plain @click="handleModifyStatus">{{ $t('security.close') }}</el-button>
          </template>
          <template v-else>
            <el-button plain @click="handleModifyStatus">{{ $t('security.ok') }}</el-button>          
          </template>
          <el-button plain @click="handleReleaseDialog" :disabled="releaseYn?'':null">마스킹해제</el-button>
          <el-button v-loading="tempBtnLoading" plain @click="handleTemporaryPassword">{{ $t('btn.temporaryPassword') }}</el-button>
          <el-button v-if="info.loginLock == 'Y'" plain @click="handleHfnLockRelease">잠금해제</el-button>
          <el-button type="primary" @click="handleEditDialog">{{ $t('btn.edit') }}</el-button>
          <el-button type="info" @click="handleCancel">목록</el-button>
          
          
        </el-row>
      </el-row>
    </sticky>
    <div class="app-container">
      <el-card shadow="hover">
        <div slot="header">
          <strong>계정 정보</strong>
        </div>
        <el-form v-loading="listLoading" ref="ruleForm" :rules="rules" :model="info" label-position="left" label-width="130px">
          <el-row type="flex">
            <el-form-item label="로그인 ID" prop="hfnCdAndId">
              <el-form-item prop="hfnId">
                <el-row type="flex" justify="space-between">
                  <el-input v-model="info.hfnId" type="text" placeholder="통합사번" maxlength="10" disabled @keydown.native="handleInputNumber" @change="checkHfnId=false" style="margin-left:3px"/>
                </el-row>
              </el-form-item>
            </el-form-item>
            <el-form-item :label="$t('user.type')" prop="roleCd" class="ml20">
              <el-radio-group v-model="info.roleCd" size="small" disabled>
                <el-radio-button v-for="item in roleOptions" :label="item.value" :key="item.value">{{ item.label }}</el-radio-button>
              </el-radio-group>
            </el-form-item>
          </el-row>
          <el-row type="flex">
            <el-form-item label="이름" prop="userNm">
              <el-input v-model="info.userNm" maxlength="10" disabled/>
            </el-form-item>
            <el-form-item label="연락처" prop="userTel" class="ml20" autocomplete="false">
                <el-input v-model="info.userTel" maxlength="10" placeholder="연락처" autocomplete="false" :disabled="disableChk"/>
            </el-form-item>
          </el-row>
          <!-- <el-form-item :label="$t('user.temporaryPassword')">
            <div style="min-width: 120px">
              <el-button v-loading="tempBtnLoading" type="success" size="mini" @click="handleTemporaryPassword">{{ $t('btn.temporaryPassword') }}</el-button>
            </div>
          </el-form-item> -->
          
          <el-form-item class="is-required" :show-message="showTagMessage" :error="tagErrorMessage" label="허용 IP" label-width="" prop="cnlKey">  
                  <el-tag v-for="(tag, index) in ipList" :key="tag.cnlKey" :disable-transitions="false" type="primary" plain closable @close="addCnlKeyClose(index)">{{ tag.cnlKey }}</el-tag>
                  <!-- <el-tag v-for="(tag, index) in info.clientIPs" :key="tag.cnlKey" :disable-transitions="false" type="primary" plain closable @close="addCnlKeyClose(index)">{{ tag.cnlKey }}</el-tag> -->
                  <el-button v-if="!inputVisible" class="button-new-tag" style="margin-bottom: 5px;margin-left: 0px;" plain @click="showCnlKey">{{ $t('app.add') }}</el-button>
                  <el-input style="width: 150px;" v-show="inputVisible" ref="save" @focus="inputVisible = true" v-model="inputValue" class="input-new-tag" size="small" @keydown.native="handleNumber" @blur="handleCnlKeyConfirm"/>
          </el-form-item>
          <el-form-item label="메모">
            <el-input type="textarea" placeholder="메모" :rows="2" v-model="info.memo" maxlength="650"></el-input>
          </el-form-item>         
          <el-form-item :label="$t('user.status')">
              <el-tag class="button-no-bg" :type="this.info.userStatCd=='Y'?'primary':this.info.userStatCd=='N'?'info':'danger'">{{ this.info.userStatCd | statusTextFilter}}</el-tag>
          </el-form-item>
        </el-form>
      </el-card>
      <!-- 마스킹 해제 dialog -->
      <el-dialog :visible.sync="dialogPassword" :title="$t('btn.release')" width="30%" center>
        <el-form label-width="100px" label-position="left">
          <el-form-item :label="$t('login.password')">
            <el-input v-model="userPassword" maxlength="1000" type="password"/>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click="handleReleaseConfirm">{{ $t('btn.release') }}</el-button>
        </div>
      </el-dialog>
      <!-- /마스킹 해제 dialog -->
      <el-dialog :visible.sync="dialogEdit" :title="$t('btn.edit')" width="30%" center>
        <el-form label-width="100px" label-position="left">
          <el-form-item :label="$t('login.password')">
            <el-input v-model="userPassword" maxlength="1000" type="password"/>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click="handleEditPageMoveConfirm">{{ $t('btn.edit') }}</el-button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import { accountStatusUpd, accountLockRelease } from '@/api/setting'
import waves from '@/directive/waves'
import { scrollTo } from '@/utils/scrollTo'
import { mapGetters } from 'vuex'
import { maskingName, maskingTel } from '@/utils/masking'
import { checkPwd } from '@/api/login'
import { updateHfnUser, accountUnMasking, getTemporaryPassword, registerPrivacyReleaseLog, accountUpd } from '@/api/setting'
import { selectCommCodeList } from '@/api/product'
import { reqPost } from '@/api/common'

const statusOptions = [
  { key: 'Y', statusName: i18n.t('user.ok') },
  { key: 'N', statusName: i18n.t('user.close') }
]

export default {
  name: 'AccountDetail',
  directives: { waves },
  components: { Sticky },
  data() {
    return {
      sourceInformation: {
        userNm: '',
        userTel: ''
      },
      inputVisible: false,
      inputValue: '',
      inputValue2: '',
      disableChk: true, // 개인정보 disable 여부
      dialogPassword: false,
      dialogEdit: false,
      releaseYn: false,
      userPassword: '',
      tagErrorMessage: '',
      showTagMessage: false,
      // roleOptions: [
      //   { label: '포털관리자', value: 'ROLE_SYS_ADMIN' },
      //   { label: 'API운영자', value: 'ROLE_HFN_ADMIN' },
      //   { label: '개발담당자', value: 'ROLE_ORG_ADMIN' },
      //   { label: '영업담당자', value: 'ROLE_HFN_SALES' }
      // ],
      roleOptions: [
        { label: '포털 관리자', value: 'ROLE_SYS_ADMIN' },
        { label: 'IT 담당자', value: 'ROLE_HFN_ADMIN' },
        { label: '현업 담당자', value: 'ROLE_ORG_ADMIN' }
      ],

      prdCodeList: [],
      confirmLoading: false,
      listLoading: false,
      tempBtnLoading: false,
      statusOptions,
      officeSelect: false,
      portalManagerSelect: false,
      userInfoCond: {
        userKey: '',
        userPwd: ''
      },
      info: {
        hfnCd: '',
        hfnId: '',
        userNm: '',
        roleCd: '',
        userPwd: '',
        ipAddr: '',
        memo: '',
        clientIPs: []
      },
      ruleForm: {
        hfnCdAndId: '',
        hfnCd: '',
        hfnId: '',
        userNm: '',
        roleCd: '',
        userTel: ''
      },
      ipList: [],
      rules: {
        accessCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        roleCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        userTel: [
          { min: 10, max: 15, message: this.$t('login.userTelRule'), trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'roles',
      'hfnCd'
    ])
  },
  created() {
    scrollTo(0, 800)
    // this.getCommCodeList()
    this.getList()
  },
  filters: {
    statusTextFilter(status) {
      const nameValue = statusOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.statusName
        return acc
      }, {})
      return nameValue[status]
    }
  },
  methods: {
    
    // 잠금해제
    handleHfnLockRelease() {
      const lockData = {userKey: this.info.userKey}
      accountLockRelease(lockData).then(response => {
        this.$message.success(this.$t('message.success_stat'))
        this.$router.push({ path: '/account' })
        // this.getList()
      })

    },
    handleNumber(event) {
      event = event || window.event
        var keyID = (event.which) ? event.which : event.keyCode
        if ((keyID >= 48 && keyID <= 57) || keyID === 9 ||  keyID === 16  || keyID === 186 || (keyID >= 96 && keyID <= 105) || keyID === 8 || keyID === 46 || keyID === 37 || keyID === 39 || keyID === 190 || keyID === 110) {
          return
        } else {
          event.preventDefault()
        }
    },
    addCnlKeyClose(idx) {
      this.ipList.splice(idx, 1)
    },
    // O
    showCnlKey() {
        this.inputVisible = true
        this.$nextTick(_ => {
          this.$refs.save.$refs.input.focus()
        })
    },
    // O
    handleCnlKeyConfirm() {
        const inputValue = this.inputValue
        if (inputValue) {
          var indexYN = inputValue.indexOf(':')
          if (indexYN === -1) {
            if (!(/^(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)$/).test(inputValue)) {
              this.showTagMessage = true
              this.tagErrorMessage = this.$t('message.error_rule_ip') // IP형식에 맞춰서 입력하세요.
            } else { // ip 형식에 맞음
              this.ipList.push({ cnlKey: inputValue })
              this.ipList = this.ipList.filter((li, idx, self) => self.map(itm => itm.cnlKey).indexOf(li.cnlKey) === idx)
              this.inputVisible = false
              this.inputValue = ''
              this.showTagMessage = false
              this.tagErrorMessage = ''
           }
          } else {
            if (!(/^(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*){1}([:][0-9]{2,4})$/).test(inputValue)) {
              this.showTagMessage = true
              this.tagErrorMessage = this.$t('message.error_rule_ip') // IP형식에 맞춰서 입력하세요.
            } else { // ip 형식에 맞음
              this.ipList.push({ cnlKey: inputValue })
              this.ipList = this.ipList.filter((li, idx, self) => self.map(itm => itm.cnlKey).indexOf(li.cnlKey) === idx)
              this.inputVisible = false
              this.inputValue = ''
              this.showTagMessage = false
              this.tagErrorMessage = ''
             }
          }
        } else {
          this.inputVisible = false
          this.inputValue = ''
          this.showTagMessage = false
        }
      },
    // 휴대전화 하이픈
    hyphenPhone(data) {
      if(data != null && data != ''){
        var phone = ''
        phone += data.substr(0,3)
        phone += '-'
        phone += data.substr(3,4)
        phone += '-'
        phone += data.substr(7)
        return phone
      }
    },    
    getList() {
      this.ipList = []
      this.listLoading = true
      this.userInfoCond.userKey = this.$route.query.userKey
      reqPost('/api/hfnUserByIdMasking', this.userInfoCond).then(response => {
        this.listLoading = false
        this.info = response.hfnUserVO
        // this.info.clientIPs = []
        this.info.userTel = this.hyphenPhone(this.info.userTel)
        var arr = this.info.ipAddr.split(',')
        
        for (var i = 0; i < arr.length; i++) {
          this.ipList.push({cnlKey: arr[i]})
          // this.info.clientIPs.push({cnlKey: arr[i]})
        }
        setTimeout(() => {
          this.listLoading = false
        }, 1000)
      })
    },
    // 수정시 PW
    handleEditPageMoveConfirm() {
      if (this.userPassword.length <= 0) {
        this.$message.warning('비밀번호를 입력해 주세요.')
      } else {
        this.info.userPwd = this.userPassword
        accountUpd(this.info).then(response => {
          if (response.success === true){
            this.dialogPassword = false
            this.dialogEdit = false
            this.userPassword = ''
            this.$message.success(this.$t('message.success_upd'))
            this.$router.push({ path: '/account' })
            // this.getList()
          } 
        })
      }
    },
    setIp() {
      this.info.ipAddr = ''
      if (this.ipList.length> 1) {
        for (var i = 0; i < this.ipList.length; i++) {
          this.info.ipAddr += this.ipList[i].cnlKey
          if (i !== this.ipList.length - 1)
            this.info.ipAddr += ','
        }
      } else {
        this.info.ipAddr = this.ipList[0].cnlKey
      }
    },
    handleReleaseConfirm() {
      if (this.userPassword.length <= 0) {
        this.$message.warning('비밀번호를 입력해 주세요.')
      } else {
        this.userInfoCond.userKey = this.$route.query.userKey
        this.userInfoCond.userPwd = this.userPassword
        reqPost('/api/hfnUserByIdUnMasking', this.userInfoCond).then(response => {
          if (response !== false){
            this.dialogPassword = false
            let data = {
              menuNm: '계정 관리',
              userKey: this.$route.query.userKey
            }
            this.disableChk = false
            this.userInfoCond.userPwd = ''
            this.info = response.hfnUserVO
            this.releaseYn = true
            registerPrivacyReleaseLog(data)
          }
          else {
            this.$message.error(i18n.t('login.error_check_password'))
          }
        })
      }
    },
    handleEditDialog() {
      // if(!this.releaseYn){
      //   this.$message.warning('해제 후 수정해 주세요.')
      //   return
      // }
      this.$refs['ruleForm'].validate((valid) => {
        if(valid){
          if (this.ipList.length === 0) {
            this.showTagMessage = true
            this.tagErrorMessage = this.$t('message.valid_required')
            return false
          }
          this.setIp()
          this.releaseYn = false
          this.dialogPassword = false
          this.userPassword = ''
          this.dialogEdit = true
        }
      })
    },
    handleReleaseDialog() {
      this.dialogEdit = false
      this.userPassword = ''
      this.dialogPassword = true
    },
    handleInputNumber(event) {
      if (!(event.keyCode === 8 || event.keyCode === 46 || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105))) {
        event.preventDefault()
      }
    },
    handleInputTelNumber(event) {
      if (!(event.keyCode === 8 || event.keyCode === 46 || event.keyCode === 189 || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105))) {
        event.preventDefault()
      }
    },
    handleTemporaryPassword() {
      // 임시비밀번호 발급
      this.$confirm(this.$t('message.tempPasswordConfirm'), {
        confirmButtonText: this.$t('btn.issue'),
        cancelButtonText: this.$t('btn.cancel'),
        type: 'warning'
      }).then(() => {
        this.tempBtnLoading = true
        var that = this
        getTemporaryPassword(this.$route.query.userKey).then(response => {
          this.tempBtnLoading = false
          that.$alert(that.$t('user.temporaryPassword') + ': ' + response.tepPwd, {
            callback: action => {}
          })
        }).catch(() => { this.tempBtnLoading = false })
      }).catch(() => {
        this.confirmLoading = false
      })
    },
    handleModifyStatus() {      
      const data = {userKey: this.info.userKey, userStatCd: this.info.userStatCd}
      this.$confirm(this.$t('message.changeConfirm'), {
      }).then(() => {
        accountStatusUpd(data).then(response => {
          this.$message.success(this.$t('message.success_stat'))
          this.getList()
        })
      })
    },
    handleCancel() {
      this.$router.push({ path: '/account' })
    }
  }
}
</script>