<template>
  <div class="app-container">
    <div class="filter-container">
      <div class="filter-item el-input el-input--medium" style="width: 200px;">
        <input v-model="listQuery.searchId" type="text" autocomplete="off" placeholder="로그인 ID" class="el-input__inner">
      </div>
      <el-input placeholder="이름" v-model="listQuery.searchNm" style="width:180px;" class="filter-item" maxlength="10"></el-input>
      <el-select v-model="listQuery.searchRoleCd" placeholder="사용자 유형" class="filter-item" style="width: 150px" clearable>
          <el-option v-for="item in roleOptions" :key="item.key" :label="item.statusName" :value="item.key"/>
      </el-select>
      <el-select v-model="listQuery.searchStatus" :placeholder="$t('security.status')" class="filter-item" style="width: 150px" clearable>
          <el-option v-for="item in statusOptions" :key="item.key" :label="item.statusName" :value="item.key"/>
      </el-select>
      <el-button v-waves style="margin-left: 0px;" size="small" class="filter-item" type="primary" plain icon="el-icon-search" @click="getList">{{ $t('btn.search') }}</el-button>
      <el-button v-waves class="filter-item" style="margin-left: 0px;" plain icon="el-icon-refresh-left" size="small" @click="resetSearch">
                초기화
      </el-button>
      <!-- <el-button v-waves style="margin-left: 0px;" size="small" class="filter-item" type="success" icon="el-icon-download" @click="excelDown">{{ $t('btn.excel') }}</el-button> -->
    </div>
    <div class="proc-container">
            <el-button v-waves class="filter-item" size="small" style="margin-left: 0px;" type="primary" icon="el-icon-edit" @click="handleCreate">{{ $t('btn.add') }}</el-button>
        </div> 
    <el-table v-loading="listLoading" :data="list" border highlight-current-row @row-click="handleDetail">
      <el-table-column label="No." widht="30" align="center">
        <template slot-scope="scope" align="center">
            {{ scope.$index + (listQuery.pageSize * (listQuery.pageIdx-1))+1}}
        </template>
      </el-table-column>
      <el-table-column label="로그인 ID" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.hfnId }}</span>
        </template>
      </el-table-column>
      <el-table-column label="이름" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.userNm }}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column :label="$t('product.prdCtgy')" align="center" minWidth="100">
          <template slot-scope="scope">
            <span>{{ scope.row.hfnCd | svcNmFilter('', codeList) }}</span>
          </template>
        </el-table-column> -->
      <el-table-column label="사용자 유형" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.roleCd | roleNmFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column label="잠금처리" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.loginLock }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('security.status')" align="center" width="130">
          <template slot-scope="scope">
              <el-tag class="button-no-bg" :type="scope.row.userStatCd=='Y'?'primary':scope.row.userStatCd=='N'?'info':'danger'">{{ scope.row.userStatCd | statusTextFilter}}</el-tag>
          </template>
      </el-table-column>
      <el-table-column :label="$t('useorg.actions')" align="center" width="200">
          <!-- <template slot-scope="scope"> -->
          <el-row slot-scope="scope" type="flex" align="left">  
              <el-button v-if="scope.row.userStatCd === 'N'" size="mini" plain @click.native.stop="handleModifyStatus(scope.row)">
                  {{ $t('api.ok')}}
              </el-button>
              <el-button v-if="scope.row.userStatCd === 'Y'" size="mini" plain @click.native.stop="handleModifyStatus(scope.row)">
                  {{ $t('api.close') }}
              </el-button>    
              <el-button v-if="scope.row.loginLock === 'Y'" size="mini" plain @click.native.stop="handleHfnLockRelease(scope.row)">
                  잠금해제
              </el-button>
          <!-- </template> -->
          </el-row>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getList" />
  </div>
</template>

<script>
import i18n from '@/lang'
import { hfnLoginLockRelease, accountLockRelease } from '@/api/setting'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import axios from 'axios'
import { mapGetters } from 'vuex'
import { reqPost } from '@/api/common'
import { getToken } from '@/utils/auth'
import { accountStatusUpd } from '@/api/setting'
import { selectCommCodeList } from '@/api/product'

const roleOptions = [
  { key: 'ROLE_SYS_ADMIN', statusName: i18n.t('security.sysRole'), tag: 'success' },
  { key: 'ROLE_HFN_ADMIN', statusName: i18n.t('security.apiRole'), tag: 'success' },
  { key: 'ROLE_ORG_ADMIN', statusName: '현업담당자', tag: 'danger' },
]


const statusOptions = [
  { key: 'Y', statusName: i18n.t('security.normal'), tag: 'success' },
  { key: 'N', statusName: i18n.t('security.stop'), tag: 'warning' }
]

export default {
  name: 'Account',
  directives: { waves },
  filters: {
    statusFilter(status) {
      const tagValue = statusOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.tag
        return acc
      }, {})
      return tagValue[status]
    },
    statusTextFilter(status) {
      const nameValue = statusOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.statusName
        return acc
      }, {})
      return nameValue[status]
    },
    lockFilter(status) {
      const nameValue = {
        'Y': i18n.t('security.lockY'),
        'N': i18n.t('security.lockN')
      }
      return nameValue[status]
    }
  },
  components: { Pagination },
  computed: {
    ...mapGetters([
      'roles',
      'hfnCd'
    ])
  },
  data() {
    return {
      listQuery: {
        pageIdx: 1,
        pageSize: 20,
        searchHfnCd: '',  // 관계사코드 필요없음
        searchId: '',     // 사용자id
        searchNm: '',     // 사용자명
        searchRoleCd: '', // 권한
        searchStatus: ''  // 상태
      },
      listLoading: false,
      roleOptions,
      statusOptions,
      totCnt: 0,
      codeList: [],
      list: []
    }
  },
  created() {
    // this.getCodeList()
    this.getList()
  },
  methods: {
    // 잠금해제
    handleHfnLockRelease(row) {
      accountLockRelease(row).then(response => {
        this.$message.success(this.$t('message.success_stat'))
        this.getList()
      })

    },
    handleModifyStatus(row) {
      const data = {userKey: row.userKey, userStatCd: row.userStatCd }
      this.$confirm(this.$t('message.changeConfirm'), {
      }).then(() => {
        accountStatusUpd(data).then(response => {
          if (!response.success) {
            this.$message.error('권한이 없습니다.')  
            return
          }
          this.$message.success(this.$t('message.success_stat'))
          this.getList()
        })
      })
    },
    resetSearch() {
      this.listQuery.pageIdx = 1
      this.listQuery.pageSize = 20
      this.listQuery.searchHfnCd = ''
      this.listQuery.searchNm = ''
      this.listQuery.searchId = ''
      this.listQuery.searchRoleCd = ''
      this.listQuery.searchStatus = ''
      this.getList()
    },
    getList() {
      reqPost('/api/adminAccountList',this.listQuery).then(response => {
        this.list = response.list
        this.totCnt = response.totCnt
      })
    },
    handleCreate() {
      this.$router.push({ path: '/account/accountCreate' })
      // this.$router.push({ path: '/createAccount' })
    },
    handleDetail(row) {
      this.$router.push({ path: '/account/accountDetail?userKey=' + row.userKey })
    },
    excelDown() {
      let url = location.origin;
      axios({
        url: url + '/api/excelAccount',
        method: 'POST',
        headers: { 'Authorization': 'Bearer ' + getToken() },
        responseType: 'blob',
        params: {
          searchHfnCd: this.listQuery.searchHfnCd,
          searchNm: this.listQuery.searchNm,
          searchRoleCd: this.listQuery.searchRoleCd,
          searchStatus: this.listQuery.searchStatus
        }
      }).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        let fileName = response.headers['content-disposition']
        fileName = this.getFileNameByContentDisposition(fileName)
        link.href = url
        link.setAttribute('download', fileName)
        document.body.appendChild(link)
        link.click()
      })
    },
    getFileNameByContentDisposition(contentDisposition){
      let regex = /filename[^;=\n]*=(UTF-8(['"]*))?(.*)/;
      let matches = regex.exec(contentDisposition);
      let filename;

      if (matches != null && matches[3]) {
        filename = matches[3].replace(/['"]/g, '');
      }
      return decodeURI(filename);
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .between_form_item {
    .el-form-item {
      width: 50%;
    }
  }
</style>
