<template>
  <div class="app-container statistics-container">
    <div class="filter-container">
      <el-select v-model="listQuery.prdCtgy" :placeholder="$t('admin.prdCtgy')" class="filter-item" style="width:150px" @change="changeCtgyCd">
        <el-option v-for="item in ctgrCodeList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <el-select v-model="listQuery.prdId" :placeholder="$t('title.product')" clearable class="filter-item" style="width:250px" @change="changePrdId">
        <el-option v-for="item in prdCodeList" :key="item.prdId" :label="item.prdNm" :value="item.prdId"/>
      </el-select>
      <el-select v-model="listQuery.apiId" :placeholder="$t('statistics.api')" clearable class="filter-item" style="width:150px">
        <el-option v-for="item in apiCodeList" :key="item.apiId" :label="item.apiNm" :value="item.apiId"/>
      </el-select>
      <el-button v-waves class="filter-item" size="small" type="primary" icon="el-icon-search" @click="handleFilter" style="margin-left: 0px;">{{ $t('btn.search') }}
      </el-button>
      <el-button v-waves style="margin-left: 0px;" class="filter-item" size="small" type="success" icon="el-icon-download" @click="excelDown">{{ $t('btn.excel') }}</el-button>
    </div>
    <el-table v-loading="listLoading" :data="list" border style="width: 100%" highlight-current-row>
      <el-table-column :label="$t('product.prdNm')" align="center" :min-width="40">
        <template slot-scope="scope">
          <span>{{ scope.row.prdNm }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('statistics.apiName')" align="center" :min-width="40">
        <template slot-scope="scope">
          <span>{{ scope.row.apiNm }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('echo.api.apiUrl')" align="center" :min-width="40">
        <template slot-scope="scope">
          <span>{{ scope.row.apiUrl }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('statistics.useAmount')" align="center" :min-width="17">
        <template slot-scope="scope">
          <el-button v-waves style="margin-left: 0px;" class="filter-item" size="small" type="success" @click="getDetail(scope.row)">{{ scope.row.apiTrxCnt }}</el-button>
        </template>
      </el-table-column>
      <el-table-column :label="$t('statistics.average') + $t('statistics.responseTime')+'('+$t('statistics.ms')+')'" align="center" :min-width="13">
        <template slot-scope="scope">
          <span>{{ scope.row.avgProcTerm }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('statistics.max') + $t('statistics.responseTime')+'('+$t('statistics.ms')+')'" align="center" :min-width="13">
          <template slot-scope="scope"><span>{{ scope.row.maxProcTerm }}</span></template>
      </el-table-column>
      <el-table-column :label="$t('statistics.errorRate') + '(%)'" align="center" :min-width="10">
          <template slot-scope="scope"><span>{{ scope.row.apiError }}</span></template>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getList"/>
    <el-dialog :visible.sync="dialogDetail" :title="dialogTitle" center class="dialog_table">
      <div class="filter-container" style="text-align:right;">
        <el-button v-waves style="margin-left: 0px;" class="filter-item" size="small" type="success" icon="el-icon-download" @click="excelDetailDown">{{ $t('btn.excel') }}</el-button>
      </div>
      <el-table v-loading="listLoading" :data="listDetail" border style="width: 100%" highlight-current-row>
        <el-table-column :label="$t('statistics.time')" align="center" :min-width="10">
          <template slot-scope="scope">
            <span>{{ scope.row.time }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('statistics.useAmount')" align="center" :min-width="17">
          <template slot-scope="scope">
            <span>{{ scope.row.apiTrxCnt }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('statistics.average') + $t('statistics.responseTime')+'('+$t('statistics.ms')+')'" align="center" :min-width="13">
          <template slot-scope="scope">
            <span>{{ scope.row.avgProcTerm }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('statistics.max') + $t('statistics.responseTime')+'('+$t('statistics.ms')+')'" align="center" :min-width="13">
            <template slot-scope="scope"><span>{{ scope.row.maxProcTerm }}</span></template>
        </el-table-column>
        <el-table-column :label="$t('statistics.errorRate') + '(%)'" align="center" :min-width="10">
            <template slot-scope="scope"><span>{{ scope.row.apiError }}</span></template>
        </el-table-column>
      </el-table>
    </el-dialog>
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import { mapGetters } from 'vuex'
import { selectAppUserList } from '@/api/app'
import { selectCommCodeList, reqPost, selectPrdCodeList, excelDown } from '@/api/common'
import permission from '@/directive/permission/index.js'
import Pagination from '@/components/Pagination'

export default {
  name: 'apiUseRealTime',
  components: { Pagination },
  directives: { waves, permission },
  filters: {
  },
  data() {
    return {
      dialogDetail: false,
      totCnt: 0,
      officeOptions: [],
      listLoading: false,
      list: [],
      listDetail: [],
      codeCtgrCd: {
        commCdId: '1100',
      },
      ctgrCodeList: [],
      prdCodeList: [],
      apiCodeList: [],
      listDetailQuery: {
        apiUrl: ''
      },
      listQuery: {
        pageIdx: 1,
        pageSize: 10,
        prdCtgy: '',
        prdId: '',
        apiId: ''
      },
      userList: [],
      dialogTitle: ""
    }
  },
  computed: {
    ...mapGetters([
      'roles',
      'userKey',
      'hfnCd',
      'hfnId'
    ])
  },
  watch: {
  },
  created() {
    this.getCtgrCodeList()
  },
  methods: {
    getCtgrCodeList() {
      selectCommCodeList(this.codeCtgrCd).then(response => {
        this.ctgrCodeList = response.codeList
        this.listQuery.prdCtgy = this.hfnCd
        this.changeCtgyCd()
      })
    },
    changeCtgyCd(){
      if(this.listQuery.prdCtgy != null && this.listQuery.prdCtgy != ''){
        var param = {
          prdCtgy : this.listQuery.prdCtgy
        }
        selectPrdCodeList(this.listQuery).then(response => {
          this.prdCodeList = response.codeList
        })
      }else{
        this.prdCodeList = []
        this.listQuery.prdId = ''
        this.apiCodeList = []
        this.listQuery.apiId = ''
      }
    },
    changePrdId(){
      if(this.listQuery.prdId != null && this.listQuery.prdId != ''){
        var param = {
          prdId : this.listQuery.prdId
        }
        reqPost("/api/selectApiCodeList", param).then(response => {
          this.apiCodeList = response.list
        })
      }else{
        this.apiCodeList = []
        this.listQuery.apiId = ''
      }
    },
    handleFilter() {
      this.getList()
    },
    getList() {
      if(this.listQuery.prdCtgy == null || this.listQuery.prdCtgy == ''){
        this.$message.warning('서비스 카테고리는 필수 입니다.')
        return false
      }
      this.listLoading = true

      reqPost("/api/selectRealTimeList", this.listQuery).then(response => {
        this.list = response.dayList
        this.totCnt = response.totCnt
        this.listLoading = false
      }).catch(() => {
        this.listLoading = false
      })
    },
    getDetail(row){
      this.dialogDetail = true
      this.dialogTitle = row.apiUrl
      this.listDetailQuery.apiUrl = row.apiUrl
      reqPost("/api/selectRealTimeDetailList", this.listDetailQuery).then(response => {
        this.listDetail = response.dayList
        this.listLoading = false
      }).catch(() => {
        this.listLoading = false
      })
    },
    excelDown() {
      var params = {
        searchType: 'excel',
        prdCtgy: this.listQuery.prdCtgy,
        prdId: this.listQuery.prdId,
        apiId: this.listQuery.apiId
      }
      excelDown('/api/realTimeExcelDown', params)
    },
    excelDetailDown(){
      var params = {
          apiUrl: this.listDetailQuery.apiUrl
      }
      excelDown('/api/realTimeDetailExcelDown', params)
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .statistics-container {
    padding: 30px 30px 145px;
    background-color: #f7f7f7;
    .h3 {
      margin-bottom: 10px;
      font-size: 16px;
      color: #999999;
    }
    .num {
      font-weight: bold;
    }
  }
</style>
