<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.bannerCreate') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button type="primary" @click="handleConfirm">{{ $t('btn.add') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="app_detail app-container">
      <el-row width="100%" >
        <el-card shadow="hover">
          <el-form ref="ruleForm" :model="bannerDetail" label-position="left" label-width="130px" style="width: 100%;">
            <el-row>
              <el-col> 
                <el-form-item :label="$t('banner.bannerGb')" prop="bannerGb">
                  <el-select
                    v-model="bannerDetail.bannerGb"
                    :placeholder="$t('banner.bannerGb')"
                    prop="codeList"
                    class="filter-item"
                    clearable>
                    <el-option v-for="item in codeList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col> 
                <el-form-item :label="$t('banner.subject')" prop="subject">
                  <el-input v-model="bannerDetail.subject" maxlength="200"/>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('banner.ctnt')" prop="ctnt">
                  <textarea v-model="bannerDetail.ctnt" :class="'custom-textarea'" rows="10"/>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('banner.url')" prop="url">
                  <el-input v-model="bannerDetail.url" maxlength="200"/>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="12">
                <el-form-item :label="$t('banner.upload')">
                  <el-upload v-if="!isUploaded" drag action="#" :on-change="handleChange" :auto-upload="false" :limit="1">
                    <i class="el-icon-upload"/>
                    <div class="el-upload__text">마우스로 파일을 끌어오거나 <em>클릭하세요</em></div>
                  </el-upload>
                  <el-tag v-if="isUploaded" closable type="info" size="default" @close="handleClose">{{ bannerDetail.imgFileNm }}</el-tag>
                  <span v-if="bannerDetail.bannerGb=='02'" style="color:#999999">배너 1개 : 1200px X 100px, 배너 2개 : 600px X 100px</span>
                  <span v-if="bannerDetail.bannerGb=='01'" style="color:#999999">배너 : 875px X 300px</span>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item :label="$t('banner.orderNo')" prop="orderNo" style="padding-left:10px">
                  <el-input type="number" v-model="bannerDetail.orderNo" maxlength="11"/>
                </el-form-item>
                <el-form-item :label="$t('banner.dispYn')" prop="dsipYn" style="padding-left:10px">
                  <el-checkbox v-model="bannerDetail.dispYn" false-label="N" true-label="Y"></el-checkbox>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-card>
      </el-row>
    </div>
  </div>
</template>

<script>
import { selectCommCodeList, reqPost } from '@/api/common'
import { mapGetters } from 'vuex'
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { scrollTo } from '@/utils/scrollTo'
import { Form } from 'element-ui'

export default {
  name: 'BannerCreate',
  directives: { waves },
  components: { Sticky },
  data() {
    return {
      bannerDetail: {
        seqNo: '',
        subject: '',
        ctnt: '',
        orderNo: '',
        dispYn: 'Y',
        bkImg: '',
        regId: '',
        regDttm: '',
        modId: '',
        modDttm: '',
        img: '',
        imgFileNm: '',
        url: '',
        bannerGb: ''
      },
      isChecked: true,
      isUploaded: false,
      searchCode: {
        commCdId: '1300',
        cdId: '',
        cdNm: '',
        cdEng: '',
        cdUseYn: ''
      },
      codeList: []
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ])
  },
  created() {
    this.getCodeList()
  },
  methods: {
    getCodeList() {
      selectCommCodeList(this.searchCode).then(response => {
        this.codeList = response.codeList
      })
    },
    handleCancel() {
      this.$router.push({ path: '/banner' })
    },
    handleConfirm() {
      this.resetCheckData()
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          let subject = this.bannerDetail.subject
          let ctnt = this.bannerDetail.ctnt
          let orderNo = this.bannerDetail.orderNo
          let dispYn = this.bannerDetail.dispYn
          let bannerGb = this.bannerDetail.bannerGb

          if(bannerGb == null || bannerGb == ""){ 
            this.$message.error('컨텐츠구분을 입력해주세요.')
            return false;
          }

          if(subject == null || subject == ""){ 
            this.$message.error('배너제목을 입력해주세요.')
            return false;
          }

          if(ctnt == null || ctnt == ""){
            this.$message.error('배너내용을 입력해주세요.')
            return false;
          }

          if(orderNo == null || orderNo == ""){
            this.$message.error('표시순서을 입력해주세요.')
            return false;
          }

          if(dispYn == null || dispYn == ""){
            this.$message.error('화면표시여부를 입력해주세요.')
            return false;
          }

          ctnt = ctnt.replace(/(?:\r\n|\r|\n)/g, '<br/>')
          this.bannerDetail.ctnt = ctnt

          let formData = new FormData()
          formData.append('subject', subject)
          formData.append('ctnt', ctnt)
          formData.append('orderNo', orderNo)
          formData.append('dispYn', dispYn)
          formData.append('imgFileNm', this.bannerDetail.imgFileNm)
          formData.append('img', this.bannerDetail.img)
          formData.append('url', this.bannerDetail.url) 
          formData.append('bannerGb', this.bannerDetail.bannerGb)

          reqPost('/banner/insertBanner', formData, 'multipart/form-data').then(response => {
            this.$router.push({ path: '/banner' })
          }).catch(() => {
          })
        }
      })
    },
    resetCheckData() {
      this.paramValueCheck = false
      this.responseValueCheck = false
    },
    handleChange(file) {
      const fileUrl = file.url
      this.bannerDetail.imgFileNm = file.name
      this.bannerDetail.img = file.raw
      this.isUploaded = true
    },
    handleClose() {
      this.isUploaded = false
    }
  }
}
</script>
