<template>
  <div class="app-container">
    <el-card shadow="hover" style="width: 100%;">
      <div slot="header">
        <strong>{{ $t('title.banner') }}</strong>
      </div>
      <div style="width: 100%; overflow-x: auto">
        <div class="filter-container">
          <el-select
            v-model="searchQuery.bannerGb"
            :placeholder="$t('banner.bannerGb')"
            prop="codeList"
            class="filter-item"
            style="width: 200px"
            clearable>
            <el-option v-for="item in codeList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
          </el-select>
          <el-input v-model="searchQuery.searchTerms" :placeholder="$t('community.search')" class="filter-item" style="width: 240px;" @keyup.enter.native="getList"/>
          <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" icon="el-icon-search" @click="getList">{{ $t('btn.search') }}</el-button>
          <el-button v-waves class="filter-item" style="margin-left: 0px;" type="success" icon="el-icon-edit" @click="handleCreateBanner">{{ $t('btn.add') }}</el-button>
        </div>
        <div>
          <el-table :data="bannerList" border highlight-current-row>
            <el-table-column :label="$t('community.seqNo')" align="center" width="90">
              <template slot-scope="scope">
                <span>{{ scope.row.seqNo }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('banner.bannerGb')" align="center" minWidth="90">
              <template slot-scope="scope">
                <span>{{ scope.row.bannerGb | bannerGbFilter('', codeList) }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('community.subject')" align="center" minWidth="200">
              <template slot-scope="scope">
                <span>{{ scope.row.subject }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('banner.orderNo')" align="center" minWidth="80">
              <template slot-scope="scope">
                <span>{{scope.row.orderNo}}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('banner.dispYn')" align="center" minWidth="80">
              <template slot-scope="scope">
                <span>{{scope.row.dispYn}}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('echo.api.regUser')" align="center" minWidth="100">
              <template slot-scope="scope">
                <span>{{ scope.row.regUser}}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('community.action.detail')" align="center" width="80">
              <template slot-scope="scope">
                <el-button @click="showBanner(scope.row.seqNo)">{{ $t('community.action.detail') }}</el-button>
              </template>
            </el-table-column>
            <el-table-column :label="$t('community.action.delete')" align="center" width="80">
              <template slot-scope="scope">
                <el-button v-if="scope.row.statCd != 'DEL'" @click="delBanner(scope.row.seqNo)">{{ $t('community.action.delete') }}</el-button>
              </template>
            </el-table-column>
          </el-table>
          <pagination v-show="totCnt>0" :total="totCnt" :page.sync="searchQuery.pageIdx" :limit.sync="searchQuery.pageSize" @pagination="getList"/>
        </div>        
      </div>
    </el-card>
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import { selectCommCodeList, reqPost } from '@/api/common'
import { mapGetters } from 'vuex'
 
export default {
  name: 'banner',
  directives: { waves },
  components: { Pagination },
  filters: {
    bannerGbFilter(code, txtParam, codeList) {
      const value = codeList.reduce((acc, cur) => {
        acc[cur.cdId] = cur.cdNm
        return acc
      }, {})
      return value[code]
    },
  },
  data() {
    return {
      totCnt: 0,
      selCnt: null,
      bannerList: [],
      searchQuery: {
        pageIdx: 1,
        pageSize: 10,
        searchBanner: '',
        seqNo: '',
        bannerGb: ''
      },
      searchCode: {
        commCdId: '1300',
        cdId: '',
        cdNm: '',
        cdEng: '',
        cdUseYn: ''
      },
      codeList: []
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ])
  },
  created() {
    this.getCodeList()
  },
  methods: {
    getCodeList() {
      selectCommCodeList(this.searchCode).then(response => {
        this.codeList = response.codeList
        this.getList()
      })
    },
    getList() {
      this.searchQuery.seqNo =''
      reqPost('/banner/selectBannerList',this.searchQuery).then(response => {
        this.bannerList = response.bannerList
        this.totCnt = response.totCnt
        this.selCnt = response.selCnt
      })
    },    
    showBanner(seqNo) {
      this.$router.push({ path: '/bannerDetail?seqNo=' + seqNo })
    },
    delBanner(seqNo) {
      this.$confirm('정말 삭제하시겠습니까?', {
        confirmButtonText: this.$t('btn.delete'),
        cancelButtonText: this.$t('btn.cancel'),
        type: 'warning'
      }).then(() => {
        this.searchQuery.seqNo = seqNo
        reqPost('/banner/deleteBanner',this.searchQuery).then(response => {
          this.$message.success('배너 삭제 완료')
          this.getList()
        })
      }).catch(() => {
      })
    },
    handleCreateBanner() {
      this.$router.push({ path: '/bannerCreate' })
    }
  }
}
</script>
