<template>
  <div class="app-wrapper">
    <sidebar class="sidebar-container"/>
    <nav-bar :layout-page="true"/>
    <div class="main-container">
      <div class="main-inner-container">
        <app-main/>
      </div>
    </div>
  </div>
</template>

<script>
import { NavBar, Sidebar, AppMain } from './components'

export default {
  name: 'Layout',
  components: {
    NavBar,
    Sidebar,
    AppMain
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .app-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
</style>
