<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-model="listQuery.searchNm" :placeholder="$t('security.menuFunc')" class="filter-item" style="width: 100px" clearable>
        <el-option v-for="item in funcOptions" :key="item.key" :label="item.statusName" :value="item.key"/>
      </el-select>
      <div class="filter-item el-input el-input--medium" style="width: 200px;">
        <input v-model="listQuery.searchOperator" type="text" autocomplete="off" :placeholder="$t('security.operator')" class="el-input__inner">
      </div>
      <el-row class="filter-item">
        <el-date-picker v-model="listQuery.searchDate" :picker-options="pickerOptions" type="daterange" align="right" style="width: 330px"
                        :start-placeholder="$t('statistics.startDate')" :end-placeholder="$t('statistics.endDate')"/>
      </el-row>
      <el-button v-waves style="margin-left: 0px;" size="small" class="filter-item" type="primary" icon="el-icon-search" @click="getList">
        {{ $t('btn.search') }}
      </el-button>
      <el-button v-waves style="margin-left: 0px;" size="small" class="filter-item" type="success" icon="el-icon-download" @click="excelDown">{{ $t('btn.excel') }}</el-button>
    </div>
    <el-table v-loading="listLoading" :data="list" border highlight-current-row>
      <el-table-column type="index" widht="30" align="center"></el-table-column>
       <el-table-column :label="$t('security.time')" align="center">
        <el-row slot-scope="scope">
          <span>{{ scope.row.regDttm | dtFilter }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('security.userId')" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.hfnId }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('security.prdCtgy')" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.hfnCd | svcNmFilter('', codeList) }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('security.userNm')" align="center">
        <el-row slot-scope="scope">
          <span>{{ scope.row.userNm }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('security.ip')" align="center">
        <el-row slot-scope="scope">
          <span>{{ scope.row.ipAddress }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('security.menu')" align="center">
        <el-row slot-scope="scope">
          <span>{{ scope.row.trxNm }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('security.menuFunc')" align="center">
         <template slot-scope="scope">
          <el-tag :type="scope.row.menuFunc | statusFilter">{{ scope.row.menuFunc | statusTextFilter }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column :label="$t('security.inqryCndtn')" align="center">
        <template slot-scope="scope">
          <el-button v-if="scope.row.menuFunc == 'SEL'" type="info" icon="el-icon-search" size="mini" @click="getLogDetail(scope.row)"></el-button>
        </template>
      </el-table-column>
       <el-table-column :label="$t('security.selCnt')" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.cnt }}</span>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getList" />
    <el-dialog :visible.sync="dialogViewDetail" :modal-append-to-body="false" center class="dialog_table">
      <el-form ref="detailForm" :model="detailForm" label-position="left" label-width="130px">
        <el-form-item :label="$t('security.inputCtnt')">
          <code style="background: #666666; margin-top:0px; margin-bottom:0px; line-height: initial;">
            <span style="word-wrap:break-word; color: #FFFFFF;">{{ detailForm.inputCtnt }}</span>
          </code>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import axios from 'axios'
import moment from 'moment'
import { mapGetters } from 'vuex'
import { reqPost } from '@/api/common'
import { isEmpty } from '@/utils/validate'
import { getToken } from '@/utils/auth'
import { selectCommCodeList } from '@/api/product'

const funcOptions = [
  { key: 'SEL', statusName: i18n.t('security.sel'), tag: 'success' },
  { key: 'INS', statusName: i18n.t('security.ins'), tag: 'warning' },
  { key: 'UPD', statusName: i18n.t('security.upd'), tag: 'info' },
  { key: 'APR', statusName: i18n.t('security.apr'), tag: 'danger' },
  { key: 'DEL', statusName: i18n.t('security.del'), tag: 'success' }
]

export default {
  name: 'PersonalInfo',
  directives: { waves },
  filters: {
    statusFilter(status) {
      const tagValue = funcOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.tag
        return acc
      }, {})
      return tagValue[status]
    },
    statusTextFilter(status) {
      const nameValue = funcOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.statusName
        return acc
      }, {})
      return nameValue[status]
    }
  },
  components: { Pagination },
  computed: {
    ...mapGetters([
      'roles',
      'hfnCd'
    ])
  },
  data() {
    return {
      dialogViewDetail: false,
      listQuery: {
        pageIdx: 1,
        pageSize: 20,
        searchMenu: 'pinfo',
        searchNm: '',
        searchDate: [new Date(), new Date()],
        searchStDt: '',
        searchEnDt: ''
      },
      pickerOptions: {
        shortcuts: [{
          text: this.$t('statistics.lastWeek'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
            picker.$emit('pick', [start, end])
          }
        }, {
          text: this.$t('statistics.lastMonth'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
            picker.$emit('pick', [start, end])
          }
        }]
      },
      listLoading: false,
      funcOptions,
      totCnt: 0,
      codeList: [],
      list: [],
      detailForm: {
        inputCtnt: ''
      }
    }
  },
  created() {
    this.dateRange()
    this.getCodeList()
  },
  methods: {
    dateRange() {
      const end = new Date()
      const start = new Date()
      start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
      this.listQuery.searchDate = [start, end]
    },
    getCodeList() {
      selectCommCodeList().then(response => {
        this.codeList = response.codeList
        this.getList()
      })
    },
     getList() {
      if (this.listQuery.searchDate) {
        this.listQuery.searchStDt = this.format_date_yyyymmdd(this.listQuery.searchDate[0])
        this.listQuery.searchEnDt = this.format_date_yyyymmdd(this.listQuery.searchDate[1])
      } else {
        this.listQuery.searchStDt = ''
        this.listQuery.searchEnDt = ''
      }
      reqPost('/api/adminActivityHistory',this.listQuery).then(response => {
        this.list = response.list
        this.totCnt = response.totCnt
      })
    },
    getLogDetail(row) {
        this.dialogViewDetail = true
        this.detailForm = row
    },
    excelDown() {
      let url = location.origin;
      axios({
        url: url + '/api/excelActivityHis',
        method: 'POST',
        headers: { 'Authorization': 'Bearer ' + getToken() },
        responseType: 'blob',
        params: {
          searchMenu: 'pinfo',
          searchNm: this.listQuery.searchNm,
          searchOperator: this.listQuery.searchOperator,
          searchStDt: this.listQuery.searchStDt,
          searchEnDt: this.listQuery.searchEnDt
        }
      }).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        let fileName = response.headers['content-disposition']
        fileName = this.getFileNameByContentDisposition(fileName)
        link.href = url
        link.setAttribute('download', fileName)
        document.body.appendChild(link)
        link.click()
      })
    },
    getFileNameByContentDisposition(contentDisposition){
      let regex = /filename[^;=\n]*=(UTF-8(['"]*))?(.*)/;
      let matches = regex.exec(contentDisposition);
      let filename;

      if (matches != null && matches[3]) {
        filename = matches[3].replace(/['"]/g, '');
      }
      return decodeURI(filename);
    },
    format_date_yyyymmdd(inputDate) {
      const y = inputDate.getFullYear()
      const m = inputDate.getMonth() + 1
      const d = inputDate.getDate()
      const mm = m < 10 ? '0' + m : m
      const dd = d < 10 ? '0' + d : d
      return '' + y + mm + dd
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .between_form_item {
    .el-form-item {
      width: 50%;
    }
  }
</style>
