<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input :placeholder="$t('user.id')" v-model="listQuery.searchNm" style="width:180px;" class="filter-item" @keyup.enter.native="handleFilter"/>
      <div class="filter-item el-input el-input--medium" style="width: 150px;">
        <input v-model="listQuery.encSearchNm" type="text" autocomplete="off" :placeholder="$t('user.name')" class="el-input__inner" @keyup.enter.native="handleFilter">
      </div>
      <el-input :placeholder="$t('user.tel')" v-model="listQuery.encSearchTel" style="width:150px;" class="filter-item" @keyup.enter.native="handleFilter"/>
      <el-input :placeholder="$t('user.email')" v-model="listQuery.encSearchEmail" style="width:200px;" class="filter-item" @keyup.enter.native="handleFilter"/>
      <el-button v-waves class="filter-item" style="margin-left: 0px;" size="small" type="primary" icon="el-icon-search" @click="handleFilter">
        {{ $t('btn.search') }}
      </el-button>
    </div>
    <el-table v-loading="listLoading" :data="list" border highlight-current-row>
      <el-table-column :label="$t('user.id')" align="center" width="220">
        <el-row slot-scope="scope">
          <span>{{ scope.row.userId | maskingId }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('user.name')" align="center" width="150">
        <template slot-scope="scope">
          <span>{{ scope.row.userNm }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('user.contact')" align="center" width="150">
        <template slot-scope="scope">
          <span>{{ scope.row.userTel }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('user.email')" align="center" width="220">
        <el-row slot-scope="scope">
          <span>{{ scope.row.userEmail }}</span>
        </el-row>
      </el-table-column> 
      <el-table-column :label="$t('user.certType')" align="center" width="120">
        <el-row slot-scope="scope">
          <span>{{ scope.row.sendCd }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('user.rgstrDate')" align="center" width="100">
        <el-row slot-scope="scope">
          <span>{{ scope.row.regDttm }}</span>
        </el-row>
      </el-table-column>     
      <el-table-column :label="$t('user.actions')" align="center" class-name="small-padding fixed-width" width="170">
        <el-row slot-scope="scope" type="flex" align="start">
          <el-button type="primary" size="mini" @click="handleEdit(scope.row)" v-if="scope.row.userStatCd !== 'DEL'">{{ $t('btn.detail') }}</el-button>
          <el-button type="primary" size="mini" @click="handleEdit(scope.row)" v-if="scope.row.userStatCd === 'DEL'">{{ $t('btn.detail') }}</el-button>
          <el-button
            v-if="scope.row.userStatCd!='OK' && scope.row.userStatCd !== 'DEL'" size="mini" type="success" @click="handleModifyStatus(scope.row,'OK')">{{ $t('user.ok') }}
          </el-button>
          <el-button
            v-if="scope.row.userStatCd!='CLOSE' && scope.row.userStatCd !== 'DEL'" size="mini" type="danger"
            @click="handleModifyStatus(scope.row,'CLOSE')">{{ $t('user.close') }}
          </el-button>
        </el-row>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getList" />
  </div>
</template>

<script>
  import i18n from '@/lang'
  import axios from 'axios'
  import waves from '@/directive/waves'
  import Pagination from '@/components/Pagination'
  import { getToken } from '@/utils/auth'
  import { fetchUserList, updateUserStatus } from '@/api/setting'
  import { maskingId, maskingName, maskingEmail, maskingTel } from '@/utils/masking'
  import { isEmpty } from '@/utils/validate'

  export default {
    name: 'User',
    directives: { waves },
    components: { Pagination },
    data() {
      return {
        totCnt: 0,
        list: [],
        listQuery: {
          pageIdx: 1,
          pageSize: 20,
          searchNm: '',
          encSearchNm: '',
          encSearchTel: '',
          encSearchEmail: ''
        },
        listLoading: false,
      }
    },
    created() {
    },
    methods: {
      handleFilter() {
        this.listQuery.pageIdx = 1
        if (!isEmpty(this.listQuery.searchNm || this.listQuery.encSearchNm 
        || this.listQuery.encSearchTel || this.listQuery.encSearchEmail )) {
          this.getList()
        }
      },
      handleModifyStatus(row, status) {
        row.userStatCd = status
        updateUserStatus(row.userKey).then(response => {
          this.$message({
            message: this.$t('message.success'),
            type: 'success'
          })
          this.getList()
        })
      },
      handleEdit(row) {
        this.$router.push({ path: '/user/userDetail?userKey=' + row.userKey })
      },
      handleSizeChange(val) {
        this.listQuery.pageSize = val
      },
      handleCurrentChange(val) {
        this.listQuery.pageIndex = val
      },
      getList() {
        this.listLoading = true
        fetchUserList(this.listQuery).then(response => {
          this.list = response.list
          this.totCnt = response.totCnt

          // 마스킹 처리
          for (let item of this.list) {
            item.userNm = maskingName(item.userNm)
            item.userEmail = maskingEmail(item.userEmail)
            item.userTel = maskingTel(item.userTel)
          }

          setTimeout(() => {
            this.listLoading = false
          }, 1000)
        })
      }
    }
  }
</script>