<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.userEdit') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button v-if="!userStatCdDelOrNot" v-waves :loading="confirmLoading" type="primary" @click="handleConfirm">{{ $t('btn.edit') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="app-container">
      <el-card shadow="hover" class="fit_normal_card">
        <div slot="header">
          <strong>{{ $t('title.userInfo') }} </strong>
        </div>
        <el-form v-loading="listLoading" ref="ruleForm" :rules="rules" :model="editList" label-position="left" label-width="130px">
          <el-form-item :label="$t('user.name')" prop="userNm">
            <el-input v-model="editList.userNm" maxlength="25" :disabled="userStatCdDelOrNot"/>
          </el-form-item>
          <el-form-item :label="$t('user.id')">
            <el-input v-model="editList.userId" disabled/>
          </el-form-item>
          <el-form-item :label="$t('user.type')" prop="type">
            <el-cascader
              v-model="editList.type"
              :placeholder="$t('user.type')"
              :options="typeOptions"
              expand-trigger="hover"
              class="filter-item"
              style="width: 230px;"
              :disabled="true"
              @change="handleChangeType"/>
          </el-form-item>
          <el-form-item v-if="officeSelect" :label="$t('user.office')" prop="userKey">
            <el-select v-model="editList.entrCd" style="width: 200px;" :disabled="true">
              <el-option v-for="item in officeOptions" :key="item.userKey" :label="item.useorgNm" :value="item.userKey"/>
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('user.userGb')">
            <el-radio-group v-model="editList.userGb">
              <el-radio v-for="item in useorgGbList" :label="item.value" :key="item.key" :value="item.value" disabled>{{item.label}}</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item v-if="editList.userGb === 'K'" :label="$t('user.contact')" prop="userTel">
            <el-input v-model="editList.userTel" minlength="9" maxlength="12" type="tel" @keydown.native="handleInputNumber" :disabled="userStatCdDelOrNot"/>
          </el-form-item>
          <el-form-item v-if="editList.userGb === 'F'" :label="$t('user.contact')">
            <el-input v-model="editList.userTel" minlength="9" maxlength="12" type="tel" @keydown.native="handleInputNumber" :disabled="userStatCdDelOrNot"/>
          </el-form-item>
          <el-form-item v-if="!officeSelect" :label="$t('user.company')" prop="userCompany">
            <el-input v-model="editList.userCompany" :disabled="userStatCdDelOrNot"/>
          </el-form-item>
          <el-form-item :label="$t('user.email')" prop="userEmail">
            <el-input v-model="editList.userEmail" maxlength="30" :disabled="userStatCdDelOrNot"/>
          </el-form-item>
          <el-form-item :label="$t('office.withdrawReasonGb')" v-if="userStatCdDelOrNot">
            <el-row type="flex" class="btn_box">
              <textarea v-model="withdrawObject.reasonGb" :class="'custom-textarea'" rows="6" disabled />
            </el-row>
          </el-form-item>
          <el-form-item :label="$t('office.withdrawReasonDetail')" v-if="userStatCdDelOrNot">
            <el-row type="flex" class="btn_box">
              <textarea v-model="withdrawObject.reasonDetail" :class="'custom-textarea'" rows="6" disabled />
            </el-row>
          </el-form-item>
          <el-form-item :label="$t('office.registerInfo')">
            <span> {{ editList.regUser }} </span> <i class="el-icon-time"> {{ editList.regDttm }} </i>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import { fetchUser, editUser, getTemporaryPassword, fetchOfficeListAll, getUserWidhdraw } from '@/api/setting'
import waves from '@/directive/waves'
import { scrollTo } from '@/utils/scrollTo'

const signUserYnOptions = [
  { label: 'N', value: 'N' },
  { label: 'Y', value: 'Y' }
]

const typeOptions = [{
  value: 1,
  label: i18n.t('user.useorg'),
  disabled: false,
  children: [{
    value: 4,
    label: i18n.t('user.officeManage'),
    disabled: true
  }, {
    value: 5,
    label: i18n.t('user.officeEmployee')
  }]
}, {
  value: 2,
  label: i18n.t('user.individual'),
  disabled: false,
  children: [{
    value: 6,
    label: i18n.t('user.individual')
  }]
}]

const statusOptions = [
  { key: 'OK', statusName: i18n.t('user.ok') },
  { key: 'CLOSE', statusName: i18n.t('user.close') }
]

export default {
  name: 'UserEdit',
  directives: { waves },
  components: { Sticky },
  data() {
    return {
      useorgGbList: [
        {
          key: '2',
          label: '내국인',
          value: 'K'
        },
        {
          key: '3',
          label: '외국인',  
          value: 'F'
        }
      ],
      confirmLoading: false,
      listLoading: false,
      tempBtnLoading: false,
      typeOptions,
      signUserYnOptions,
      statusOptions,
      officeOptions: [],
      officeSelect: false,
      portalManagerSelect: false,
      withdrawObject: {

      },
      editList: {
        userKey: '',
        userGb: '',
        userNm: '',
        userId: '',
        userNm: '',
        userTel: '',
        userCompany: '',
        userEmail: ''
      },
      userRequestInfo: {
        userKey: ''
      },
      ruleForm: {
        userNm: '',
        type: '',
        useorgNm: '',
        userEmail: '',
        userTel: '',
        userGb: ''
      },
      rules: {
        userKey: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        userNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        type: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        useorgNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        signUserYn: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        userTel: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
          {  min: 9, max: 12, message: this.$t('message.error_input_number9to12'), trigger: 'blur' }
        ],
        userEmail: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
          { pattern: /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/, message: this.$t('message.warning_check_email_regex'), trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    userStatCdDelOrNot() {
      return this.editList.userStatCd === 'DEL'
    }
  },
  created() {
    scrollTo(0, 800)
    this.getList()
    this.fetchOfficeList()
  },
  methods: {
    getUserWithdraw() {
      const params= {
        userKey: this.$route.query.userKey
      }
      getUserWidhdraw(params).then(response => {
        this.withdrawObject = response
        this.getWithdrawReasonGb()
      })
    },
    getWithdrawReasonGb() {
      let withdrawReasonList = [];
      withdrawReasonList.push({code: '01', reason: '상품 다양성/가격품질 불만'})
      withdrawReasonList.push({code: '02', reason: '이용빈도 낮음'})
      withdrawReasonList.push({code: '03', reason: '이용빈도 낮음A/S불만'})
      withdrawReasonList.push({code: '04', reason: 'API 속도 불만'})
      withdrawReasonList.push({code: '05', reason: '기타'})

      let reasonText = ''
      var withdrawResaonGbArray = this.withdrawObject.reasonGb.split(',')
      for (const item of withdrawResaonGbArray) {
        for (const reasonItem of withdrawReasonList) {
          if (item === reasonItem.code) {
            reasonText += reasonItem.reason + "\r\n"
          }
        }
      }
      this.withdrawObject.reasonGb = reasonText
    },
    fetchOfficeList() {
      fetchOfficeListAll().then(response => {
        this.officeOptions = response.list
        this.$forceUpdate()
      })
    },
    handleChangeType(value) {
      this.editList.roleCd = value[1]
      if (value[0] === 1) {
        this.officeSelect = true
      } else {
        this.officeSelect = false
      }
    },
    handleInputNumber(event) {
      if (!(event.keyCode === 8 || event.keyCode === 46 || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105))) {
        event.preventDefault()
      }
    },
    handleTemporaryPassword() {
      this.$confirm(this.$t('message.tempPasswordConfirm'), {
        confirmButtonText: this.$t('btn.issue'),
        cancelButtonText: this.$t('btn.cancel'),
        type: 'warning'
      }).then(() => {
        this.tempBtnLoading = true
        var that = this
        getTemporaryPassword(this.$route.query.id).then(response => {
          this.tempBtnLoading = false
          that.$alert(that.$t('user.temporaryPassword') + ': ' + response.tepPwd, {
            callback: action => {}
          })
        }).catch(() => { this.tempBtnLoading = false })
      }).catch(() => {
        this.confirmLoading = false
      })
    },
    handleConfirm() {
      if(this.editList.roleCd === '6') {
        this.editList.entrCd = null
      }
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          if (this.officeSelect) {
            if (this.editList.entrCd === null) {
              this.$message.warning('이용기관은 필수값 입니다.')
              return false
            }
          }

          this.confirmLoading = true
          this.$confirm(this.$t('message.editConfirm'), {
            confirmButtonText: this.$t('btn.confirm'),
            cancelButtonText: this.$t('btn.cancel'),
            type: 'warning'
          }).then(() => {
            editUser(this.editList).then(response => {
              this.confirmLoading = false
              this.$message.success(this.$t('message.success'))
              this.$router.push({ path: '/user' })
            }).catch(() => {
              this.confirmLoading = false
            })
          }).catch(() => {
            this.confirmLoading = false
          })
        }
      })
    },
    handleCancel() {
      this.$router.push({ path: '/user/userDetail?userKey=' + this.$route.query.userKey })
    },
    getList() {
      this.listLoading = true
      this.userRequestInfo.userKey = this.$route.query.userKey
      fetchUser(this.userRequestInfo).then(response => {
        this.editList = response
        this.selectType(response.roleCd)
        if(this.editList.userStatCd === 'DEL') {
          this.getUserWithdraw()
        }
        setTimeout(() => {
          this.listLoading = false
        }, 1000)
      })
    },
    selectType(val) {
      if (val === '4' || val === '5') {
        this.officeSelect = true
        fetchOfficeListAll().then(response => {
          this.officeOptions = response.list
        })
        if(val === '4'){
          this.editList.type = [1, 4]
        }
        if (val === '5') {
        this.editList.type = [1, 5]
        }
      } 
      if (val === '6') {
        this.editList.type = [2,6]
      }
    }
  }
}
</script>
