<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.userCreate') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button v-waves :loading="confirmLoading" type="primary" @click="handleConfirm">{{ $t('btn.add') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="app-container">
      <el-card shadow="hover" class="fit_normal_card">
        <div slot="header">
          <strong>{{ $t('title.userInfo') }} </strong>
        </div>
        <el-form ref="ruleForm" :rules="rules" :model="createList" label-position="left" label-width="130px">
          <el-form-item :label="$t('user.name')" prop="userNm">
            <el-input v-model="createList.userNm" maxlength="25"/>
          </el-form-item>
          <el-form-item :label="$t('user.email')" prop="userId" style="position: relative;">
            <el-row type="flex" justify="space-between">
              <el-input v-model="createList.userId" type="email" @change="checkEmail = false"/>
              <el-button :disabled="createList.userId.length<1" style="position: absolute; right: -100px; width: 90px;" @click="handleCheckEmail">{{ $t('btn.checkRepetition') }}</el-button>
            </el-row>
          </el-form-item>
          <el-form-item :label="$t('user.type')" prop="type">
            <el-cascader
              v-model="createList.type"
              :placeholder="$t('user.type')"
              :options="typeOptions"
              clearable
              expand-trigger="hover"
              style="width: 230px;"
              @change="handleChangeType"/>
          </el-form-item>
          <el-form-item v-if="portalManagerSelect" :label="$t('user.signUserYn')" prop="signUserYn">
            <el-radio-group v-model="createList.signUserYn" size="medium">
              <el-radio-button v-for="item in signUserYnOptions" :label="item.label" :key="item.value"/>
            </el-radio-group>
          </el-form-item>
          <el-form-item v-if="officeSelect" :label="$t('user.office')" prop="userKey">
            <el-select v-model="createList.userKey" style="width: 200px;">
              <el-option v-for="item in officeOptions" :key="item.userKey" :label="item.useorgNm" :value="item.userKey"/>
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('user.temporary') + $t('user.password')" prop="userPwd">
            <el-input v-model="createList.userPwd" :placeholder="$t('login.placeholderPassword')" minlength="8" type="password"/>
          </el-form-item>
          <el-form-item :label="$t('user.passwordCheck')" prop="passwordCheck">
            <el-input v-model="createList.passwordCheck" :placeholder="$t('login.placeholderPasswordCheck')" maxlength="16" type="password"/>
          </el-form-item>
          <el-form-item :label="$t('user.contact')" prop="userTel">
            <el-input v-model="createList.userTel" type="tel" maxlength="15" @keydown.native="handleInputNumber"/>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import { checkId, addUser, fetchOfficeListAll } from '@/api/setting'
import waves from '@/directive/waves'
import { scrollTo } from '@/utils/scrollTo'

const signUserYnOptions = [
  { label: 'N', value: 'N' },
  { label: 'Y', value: 'Y' }
]

const typeOptions = [{
  value: 1,
  label: i18n.t('user.portal'),
  children: [{
    value: 4,
    label: i18n.t('user.portalManage')
  }, {
    value: 1,
    label: i18n.t('user.apiOwner')
  }]
}, {
  value: 2,
  label: i18n.t('user.office'),
  children: [{
    value: 2,
    label: i18n.t('user.officeManage')
  }, {
    value: 3,
    label: i18n.t('user.developer')
  }]
}]

export default {
  name: 'UserCreate',
  directives: { waves },
  components: { Sticky },
  data() {
    return {
      confirmLoading: false,
      checkEmail: false,
      typeOptions,
      signUserYnOptions,
      officeOptions: [],
      officeSelect: false,
      portalManagerSelect: false,
      ruleForm: {
        userKey: '',
        userId: '',
        type: '',
        useorgNm: '',
        userPwd: '',
        passwordCheck: ''
      },
      createList: {
        userNm: '',
        userId: '',
        userPwd: '',
        passwordCheck: '',
        type: null,
        roleCd: null,
        userTel: '',
        userKey: '',
        signUserYn: 'N'
      },
      rules: {
        userNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        userId: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
          { pattern: /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/, message: this.$t('login.isValidName'), trigger: 'blur' }
        ],
        type: [{ required: true, message: this.$t('message.valid_required'), trigger: 'change' }],
        signUserYn: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        userKey: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        userPwd: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
          { pattern: /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,}$/, message: this.$t('login.placeholderPassword'), trigger: 'blur' }
        ],
        passwordCheck: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        userTel: [
          { required: false, message: this.$t('message.valid_required'), trigger: 'blur' },
          { min: 10, max: 15, message: this.$t('login.userTelRule'), trigger: 'blur' }
        ]
      }
    }
  },
  created() {
    scrollTo(0, 800)
  },
  methods: {
    handleInputNumber(event) {
      if (!(event.keyCode === 8 || event.keyCode === 46 || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105))) {
        event.preventDefault()
      }
    },
    handleCheckEmail() {
      checkId(this.createList.userId).then(response => {
        if (response.userIdDupYn === 'N') {
          this.$message({
            message: i18n.t('message.success_check'),
            type: 'success'
          })
          this.checkEmail = true
        } else {
          this.$message.error(i18n.t('message.error_check_email'))
        }
      })
    },
    handleChangeType(value) {
      this.createList.roleCd = value[1]
      if (value[0] === 2) {
        fetchOfficeListAll().then(response => {
          this.officeOptions = response.list
        })
        this.officeSelect = true
      } else {
        this.officeSelect = false
      }

      if (value[1] === 4) {
        this.portalManagerSelect = true
      } else {
        this.portalManagerSelect = false
      }
    },
    handleCancel() {
      this.$router.push({ path: '/user' })
    },
    handleConfirm() {
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          if (this.checkEmail === false) {
            this.$message.warning(i18n.t('message.warning_check_email'))
          } else if (this.createList.userPwd !== this.createList.passwordCheck) {
            this.$message.error(i18n.t('message.error_check_password'))
          } else {
            this.confirmLoading = true

            this.$confirm(this.$t('message.createConfirm'), {
              confirmButtonText: this.$t('btn.confirm'),
              cancelButtonText: this.$t('btn.cancel'),
              type: 'warning'
            }).then(() => {
              addUser(this.createList).then(response => {
                this.confirmLoading = false
                this.$message.success(this.$t('message.success'))
                this.$router.push({ path: '/user' })
              }).catch(() => {
                this.confirmLoading = false
              })
            }).catch(() => {
              this.confirmLoading = false
            })
          }
        }
      })
    }
  }
}
</script>
