<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.userDetail') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button v-permission="['ROLE_SYS_ADMIN', 'ROLE_HFN_ADMIN']" type="warning" @click="handleReleaseDialog">{{ $t('btn.release') }}</el-button>
          <el-button v-permission="['ROLE_SYS_ADMIN', 'ROLE_HFN_ADMIN']" type="primary" @click="handleEditDialog">{{ $t('btn.edit') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="app-container">
      <el-card shadow="hover" class="fit_normal_card">
        <div slot="header">
          <strong>{{ $t('title.userInfo') }} </strong>
        </div>
        <el-form v-loading="listLoading" :model="detailInfo" label-position="left" label-width="130px">
          <el-form-item :label="$t('user.name')" prop="userNm">
            <el-input v-model="detailInfo.userNm" maxlength="25" :disabled="true"/>
          </el-form-item>
          <el-form-item :label="$t('user.id')">
            <el-input v-model="detailInfo.userId" disabled/>
          </el-form-item>
          <el-form-item v-if="officeSelect" :label="$t('user.office')" prop="userKey">
            <el-select v-model="detailInfo.entrCd" style="width: 200px;" :disabled="true">
              <el-option v-for="item in officeOptions" :key="item.userKey" :label="item.useorgNm" :value="item.userKey"/>
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('user.bday')">
            <el-input :value="detailInfo.userBirthDt | dateDotFilter" disabled/>
          </el-form-item>
          <el-form-item :label="$t('user.contact')">
            <el-input v-model="detailInfo.userTel" minlength="9" maxlength="12" type="tel" @keydown.native="handleInputNumber" :disabled="true"/>
          </el-form-item>
          <el-form-item :label="$t('user.email')" prop="userEmail">
            <el-input v-model="detailInfo.userEmail" maxlength="30" :disabled="true"/>
          </el-form-item>
          <el-form-item :label="$t('office.withdrawReasonGb')" v-if="userStatCdDelOrNot">
            <el-row type="flex" class="btn_box">
              <textarea v-model="withdrawObject.reasonGb" :class="'custom-textarea'" rows="6" disabled/>
            </el-row>
          </el-form-item>
          <el-form-item :label="$t('office.withdrawReasonDetail')" v-if="userStatCdDelOrNot">
            <el-row type="flex" class="btn_box">
              <textarea :value="withdrawObject.reasonDetail" :class="'custom-textarea'" rows="6" disabled/>
            </el-row>
          </el-form-item>
          <el-form-item :label="$t('user.memo')">
            <textarea v-model="detailInfo.userMemo" :class="'custom-textarea'" :autosize="{ minRows: 2, maxRows: 4}"/>
          </el-form-item>
        </el-form>
      </el-card>
      <el-dialog :visible.sync="dialogPassword" :title="$t('btn.release')" width="30%" center>
        <el-form ref="ruleForm" label-width="100px" label-position="left">
          <el-form-item :label="$t('login.password')">
            <el-input v-model="userPassword" maxlength="1000" type="password"/>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click="handleReleaseConfirm">{{ $t('btn.release') }}</el-button>
        </div>
      </el-dialog>
      <!-- 수정을 위한 비밀번호 입력창 -->
      <el-dialog title="비밀번호 입력" :visible.sync="dialogEdit" width="30%" center>
        <el-form ref="ruleForm">
          <el-form-item style="text-align:center;">
            <el-input v-model="userPassword" maxlength="100" type="password" style="width:80%;"/>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogEdit = false">{{ $t('btn.cancel') }}</el-button>
          <el-button type="primary" @click="handleEditConfirm">{{ $t('btn.confirm') }}</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { scrollTo } from '@/utils/scrollTo'
import { maskingId, maskingName, maskingEmail, maskingTel } from '@/utils/masking'
import { checkPwd } from '@/api/login'
import { fetchUser, editUser, getTemporaryPassword, fetchOfficeListAll, getUserWidhdraw, registerPrivacyReleaseLog } from '@/api/setting'
import permission from '@/directive/permission/index.js'
import moment from 'moment'

export default {
  name: 'UserEdit',
  directives: { waves, permission },
  components: { Sticky },
  data() {
    return {
      dialogPassword: false,
      dialogEdit: false,
      userPassword: '',
      sourceInformation: {
        userId: '',
        userNm: '',
        userTel: '',
        userEmail: ''
      },
      confirmLoading: false,
      listLoading: false,
      tempBtnLoading: false,
      officeOptions: [],
      officeSelect: false,
      portalManagerSelect: false,
      withdrawObject: {

      },
      detailInfo: {},
      editInfo: {
        userStatCd: 'OK',
        userKey: '',
        userMemo: ''
      },
      userRequestInfo: {
        userKey: ''
      },
      ruleForm: {
        userNm: '',
        type: '',
        useorgNm: '',
        userEmail: '',
        userTel: '',
        userGb: ''
      },
      rules: {
        userKey: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        userNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        userTel: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
          {  min: 9, max: 12, message: this.$t('message.error_input_number9to12'), trigger: 'blur' }
        ],
        userEmail: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
          { pattern: /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/, message: this.$t('message.warning_check_email_regex'), trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    userStatCdDelOrNot() {
      return this.detailInfo.userStatCd === 'DEL'
    }
  },
  created() {
    scrollTo(0, 800)
    this.getList()
  },
  methods: {
    handleEditConfirm() {
      if (this.userPassword.length <= 0) {
        this.$message.warning('비밀번호를 입력해 주세요.')
      } else {
        checkPwd(this.userPassword).then((response) => {
          if (response === true){
            this.dialogPassword = false
            // this.replaceToEditPage()
            this.editInfo.userKey = this.detailInfo.userKey
            this.editInfo.userMemo = this.detailInfo.userMemo
            this.editInfo.roleCd = this.detailInfo.roleCd

            editUser(this.editInfo).then(response => {
              this.confirmLoading = false
              this.$message.success(this.$t('message.success'))
              this.$router.push({ path: '/user' })
            }).catch(() => {
              this.confirmLoading = false
            })
          } else {
            this.$message.error(i18n.t('login.error_check_password'))
          }
        })
      }
    },
    handleReleaseConfirm() {
      if (this.userPassword.length <= 0) {
        this.$message.warning('비밀번호를 입력해 주세요.')
      } else {
        checkPwd(this.userPassword).then((response) => {
          if (response === true){
            // 마스킹 처리된 정보를 원본 정보로 원복
            this.detailInfo.userId = this.sourceInformation.userId
            this.detailInfo.userNm = this.sourceInformation.userNm
            this.detailInfo.userTel = this.sourceInformation.userTel
            this.detailInfo.userEmail = this.sourceInformation.userEmail
            this.dialogPassword = false

            let data = {
              menuNm: '사용자 정보',
              userKey: this.$route.query.userKey
            }
            registerPrivacyReleaseLog(data)
          }
          else {
            this.$message.error(i18n.t('login.error_check_password'))
          }
        })
      }
    },
    handleEditDialog() {
      this.dialogPassword = false
      this.userPassword = ''
      this.dialogEdit = true
    },
    handleReleaseDialog() {
      this.dialogEdit = false
      this.userPassword = ''
      this.dialogPassword = true
    },
    // getUserWithdraw() {
    //   const params= {
    //     userKey: this.$route.query.userKey
    //   }
    //   getUserWidhdraw(params).then(response => {
    //     this.withdrawObject = response
    //     this.getWithdrawReasonGb()
    //   })
    // },
    // getWithdrawReasonGb() {
    //   let withdrawReasonList = [];
    //   withdrawReasonList.push({code: '01', reason: '상품 다양성/가격품질 불만'})
    //   withdrawReasonList.push({code: '02', reason: '이용빈도 낮음'})
    //   withdrawReasonList.push({code: '03', reason: '이용빈도 낮음A/S불만'})
    //   withdrawReasonList.push({code: '04', reason: 'API 속도 불만'})
    //   withdrawReasonList.push({code: '05', reason: '기타'})

    //   let reasonText = ''
    //   var withdrawResaonGbArray = this.withdrawObject.reasonGb.split(',')
    //   for (const item of withdrawResaonGbArray) {
    //     for (const reasonItem of withdrawReasonList) {
    //       if (item === reasonItem.code) {
    //         reasonText += reasonItem.reason + "\r\n"
    //       }
    //     }
    //   }
    //   this.withdrawObject.reasonGb = reasonText
    // },
    // fetchOfficeList() {
    //   fetchOfficeListAll().then(response => {
    //     this.officeOptions = response.list
    //     this.$forceUpdate()
    //   })
    // },
    handleChangeType(value) {
      this.detailInfo.roleCd = value[1]
      if (value[0] === 1) {
        this.officeSelect = true
      } else {
        this.officeSelect = false
      }
    },
    handleInputNumber(event) {
      if (!(event.keyCode === 8 || event.keyCode === 46 || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105))) {
        event.preventDefault()
      }
    },
    handleTemporaryPassword() {
      this.$confirm(this.$t('message.tempPasswordConfirm'), {
        confirmButtonText: this.$t('btn.issue'),
        cancelButtonText: this.$t('btn.cancel'),
        type: 'warning'
      }).then(() => {
        this.tempBtnLoading = true
        var that = this
        getTemporaryPassword(this.$route.query.id).then(response => {
          this.tempBtnLoading = false
          that.$alert(that.$t('user.temporaryPassword') + ': ' + response.tepPwd, {
            callback: action => {}
          })
        }).catch(() => { this.tempBtnLoading = false })
      }).catch(() => {
        this.confirmLoading = false
      })
    },
    handleConfirm() {
      if(this.detailInfo.roleCd === '6') {
        this.detailInfo.entrCd = null
      }
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          if (this.officeSelect) {
            if (this.detailInfo.entrCd === null) {
              this.$message.warning('이용기관은 필수값 입니다.')
              return false
            }
          }

          this.confirmLoading = true
          this.$confirm(this.$t('message.editConfirm'), {
            confirmButtonText: this.$t('btn.confirm'),
            cancelButtonText: this.$t('btn.cancel'),
            type: 'warning'
          }).then(() => {
            editUser(this.detailInfo).then(response => {
              this.confirmLoading = false
              this.$message.success(this.$t('message.success'))
              this.$router.push({ path: '/user' })
            }).catch(() => {
              this.confirmLoading = false
            })
          }).catch(() => {
            this.confirmLoading = false
          })
        }
      })
    },
    handleCancel() {
      this.$router.push({ path: '/user' })
    },
    getList() {
      this.listLoading = true
      this.userRequestInfo.userKey = this.$route.query.userKey
      fetchUser(this.userRequestInfo).then(response => {
        this.detailInfo = response

        // 원본 정보 저장
        this.sourceInformation.userId = this.detailInfo.userId
        this.sourceInformation.userNm = this.detailInfo.userNm
        this.sourceInformation.userTel = this.detailInfo.userTel
        this.sourceInformation.userEmail = this.detailInfo.userEmail

        // 마스킹 처리
        this.detailInfo.userId = maskingId(this.detailInfo.userId)
        this.detailInfo.userNm = maskingName(this.detailInfo.userNm)
        this.detailInfo.userTel = maskingTel(this.detailInfo.userTel)
        this.detailInfo.userEmail = maskingEmail(this.detailInfo.userEmail)

        this.selectType(response.roleCd)
        // if(this.detailInfo.userStatCd === 'DEL') {
        //   this.getUserWithdraw()
        // }
        setTimeout(() => {
          this.listLoading = false
        }, 1000)
      })
    },
    selectType(val) {
      if (val === '4' || val === '5') {
        this.officeSelect = true
        fetchOfficeListAll().then(response => {
          this.officeOptions = response.list
        })
        if(val === '4'){
          this.detailInfo.type = [1, 4]
        }
        if (val === '5') {
        this.detailInfo.type = [1, 5]
        }
      } 
      if (val === '6') {
        this.detailInfo.type = [2,6]
      }
    }
  }
}
</script>