<template>
  <div class="app-container">

    <!-- Button -->
    <h1>Button</h1>
    <h3>Primary Button</h3>
    <p style="font-size: 14px; color: #666;">페이지 전체 주요 기능 버튼</p>
    <br>

    <span style="font-size: 12px; color: #009591;">기본 사이즈 100*48</span>
    <el-row>
      <el-button class="df_button">BTN</el-button>
    </el-row>

    <br>
    <span style="font-size: 12px; color: #009591;">버튼 레이블 5자(국문) 이상일 경우 텍스트 좌우여백  20px</span>
    <el-row>
      <el-button class="df_button_w">일이삼사오일이삼사오</el-button>
    </el-row>

    <br>
    <span style="font-size: 12px; color: #009591;">버튼이 여러 개인 경우 컬러 베리에이션 Default</span>
    <el-row>
      <el-button class="df_button_c">삭제</el-button>
      <el-button class="df_button">등록</el-button>
      <el-button class="df_button_l">목록</el-button>
    </el-row>

    <br>
    <span style="font-size: 12px; color: #009591;">버튼이 여러 개인 경우 컬러 베리에이션 Disabled</span>
    <el-row>
      <el-button disabled class="df_button">BTN</el-button>
      <el-button disabled class="df_button">BTN</el-button>
      <el-button disabled class="df_button">BTN</el-button>
    </el-row>

    <br>
    <span style="font-size: 12px; color: #009591;">Ghost Button</span>
    <el-row>
      <el-button class="df_button_g">BTN</el-button>
      <el-button class="df_button_g">BTN</el-button>
      <el-button class="df_button_g">BTN</el-button>
    </el-row>

<br><br>

    <h3>Secondary Button</h3>
    <p style="font-size: 14px; color: #666;">페이지 내 컨텐츠 부분 기능 버튼</p>
    <br>
    <span style="font-size: 12px; color: #009591;">기본 사이즈 80*40</span>
    <el-row>
      <el-button class="sd_button">BTN</el-button>
    </el-row>

    <br>
    <span style="font-size: 12px; color: #009591;">버튼 레이블 4자(국문) 이상일 경우 텍스트 좌우여백 16px</span>
    <el-row>
      <el-button class="sd_button_w">일이삼사오일이삼사오</el-button>
    </el-row>

    <br>
    <span style="font-size: 12px; color: #009591;">버튼이 여러 개인 경우 컬러 베리에이션</span>
    <el-row>
      <el-button class="sd_button_pk">BTN</el-button>
      <el-button class="sd_button">BTN</el-button>
      <el-button class="sd_button_gr">BTN</el-button>
    </el-row>

    <br><br>

    <h3>Board Button</h3>
    <p style="font-size: 14px; color: #666;">테이블 내에서 인풋 등과 함께 사용되는 버튼</p>
    <br>
    <span style="font-size: 12px; color: #009591;">기본 사이즈 60*34</span>
    <el-row>
      <el-button class="bd_button">BTN</el-button>
    </el-row>

    <br>
    <span style="font-size: 12px; color: #009591;">버튼 레이블 3자(국문) 이상일 경우 텍스트 좌우여백  14px</span>
    <el-row>
      <el-button class="bd_button_w">일이삼사오일이삼사오</el-button>
    </el-row>

    <br>
    <span style="font-size: 12px; color: #009591;">기본 컴포넌트</span>
    <el-row>
      <el-button class="bd_button">BTN</el-button>
      <el-button class="bd_button_g">BTN</el-button>
      <el-button class="bd_button_r">BTN</el-button>
    </el-row>

    <br>
    <span style="font-size: 12px; color: #009591;">컬러 베리에이션</span>
    <el-row>
      <el-button class="bd_button_b">BTN</el-button>
      <el-button class="bd_button_o">BTN</el-button>
      <el-button class="bd_button_p">BTN</el-button>
      <el-button class="bd_button_y">BTN</el-button>
    </el-row>

    <br>
    <hr>

    <!-- Elements -->
    <h1>Elements</h1>
    <h3>Input Field</h3>
    <br>
    <span style="font-size: 12px; color: #009591;">Default Empty</span><br>
    <input type="text" placeholder="Label" class="el-input__inner w300 df_input"><br>
    <!-- <el-input placeholder="Label" v-model="input" class="w300 df_input"></el-input> -->

    <br><br>
    <span style="font-size: 12px; color: #009591;">Focus +  Clear Text</span><br>
    <input type="text" placeholder="Label" class="el-input__inner w300 df_input">

    <br><br>
    <span style="font-size: 12px; color: #009591;">Error</span><br>
    <input type="text" placeholder="Text" class="el-input__inner w300 df_input_err">

    <br><br>
    <span style="font-size: 12px; color: #009591;">Disabled</span><br>
    <input type="text" placeholder="Disabled" disabled class="el-input__inner w300 df_input">

    <br><br>
    <h3>Textarea</h3>
    <br>
    <span style="font-size: 12px; color: #009591;">Default Empty</span><br>
    <textarea placeholder="Text" class="el-textarea__inner w300 h80 df_textarea"></textarea>

    <br>
    <span style="font-size: 12px; color: #009591;">Error</span><br>
    <textarea placeholder="Text" class="el-textarea__inner w300 h80 df_textarea_err"></textarea>

    <br>
    <span style="font-size: 12px; color: #009591;">Disabled</span><br>
    <textarea placeholder="Text" Disabled class="el-textarea__inner w300 h80 df_textarea"></textarea>

    <br><br>
    <h3>Dropdown</h3>
    <br>
    <span style="font-size: 12px; color: #009591;">Default</span><br>
    <el-select v-model="value" placeholder="Select" class="df_dropdown w300" popper-class="df_dropdown_o">
      <el-option
        v-for="item in options"
        :key="item.value"
        :label="item.label"
        :value="item.value">
      </el-option>
    </el-select>

    <br><br>
    <span style="font-size: 12px; color: #009591;">Disabled</span><br>
    <el-select v-model="value2" disabled placeholder="Disabled" class="df_dropdown w300" popper-class="df_dropdown_o">
      <el-option
        v-for="item in options"
        :key="item.value"
        :label="item.label"
        :value="item.value">
      </el-option>
    </el-select>

  <br><br>
  <h3>Selection</h3>
  <br>
  <span style="font-size: 12px; color: #009591;">Default, Active</span><br>
  <el-radio-group v-model="radio1" size="medium" class="df_radio">
      <el-radio-button label="예"></el-radio-button>
      <el-radio-button label="아니오"></el-radio-button>
  </el-radio-group>

  <br><br>
  <span style="font-size: 12px; color: #009591;">레이블 5자(국문) 이상일 경우 레이블 좌우 여백 10px </span><br>
  <el-radio-group v-model="radio2" size="medium" class="df_radio_w">
      <el-radio-button label="일이삼사오"></el-radio-button>
      <el-radio-button label="일이삼사오육"></el-radio-button>
  </el-radio-group>

  <br><br>
  <span style="font-size: 12px; color: #009591;">요일 선택 케이스</span><br>
  <el-radio-group v-model="radio3" size="medium" class="df_radio_w">
      <el-radio-button label="월"></el-radio-button>
      <el-radio-button label="화"></el-radio-button>
      <el-radio-button label="수"></el-radio-button>
      <el-radio-button label="목"></el-radio-button>
      <el-radio-button label="금"></el-radio-button>
  </el-radio-group>


  </div>
</template>


<script>
  export default {
    name: 'Sample1',
    directives: { },
    filters: {
    },
    components: { },
    data() {
      return {
        options: [{
          value: 'Option1',
          label: 'Option1'
        }, {
          value: 'Option2',
          label: 'Option2'
        }, { 
          value: 'Option3',
          label: 'Option3'
        }],
        value: '',
        value2: '',
        radio1: '',
        radio2: '',
        radio3: ''
      }
    },
    computed: {
    },
    created() {
    },
    mounted() {
    },
    methods: {
    }
  }
</script>

<style scoped>

</style>