<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.regService') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button v-waves type="primary" @click="handleReg">{{ $t('btn.add') }}</el-button>
          <el-button v-waves type="info" @click="handleCancel">{{ $t('btn.list') }}</el-button>
        </el-row>
      </el-row>
    </sticky>

    <!-- app-container -->
    <div class="app-container">
      <el-card shadow="hover">
        <div slot="header">
              <div style="display: table-cell; width: 95%;">
                <strong>{{ $t('title.serviceInfo') }}</strong>
              </div>
        </div>
        <el-form ref="ruleForm" :rules="rules" :model="createList" label-position="left" class="demo-form-inline">
          <el-form-item :label="$t('app.userKey')" label-width="250px" prop="userKey">  
            <el-input v-model="createList.userKey" @click.native="selectUseorg" :placeholder="$t('app.userKey')"></el-input>
          </el-form-item>
          <el-form-item :label="$t('app.svcNm')" label-width="250px" prop="appNm">
            <el-input v-model="createList.appNm" maxlength="16" :placeholder="$t('app.svcNm')"></el-input>
          </el-form-item>
          <el-form-item :label="$t('app.clientId')" label-width="250px" prop="appClientId">
            <el-input v-model="createList.appClientId" maxlength="50" :placeholder="$t('app.clientId')"></el-input>
          </el-form-item>
          <el-form-item :label="$t('app.appScr')" label-width="250px" prop="appScr">
            <span slot="label">{{ $t('app.appScr') }}
              <el-popover placement="top-start" width="300px" trigger="hover" :content="$t('app.scrContents')">
                  <el-button slot="reference" type="text" size="default" icon="el-icon-question" ></el-button>
              </el-popover>
            </span>
              <el-input v-model="createList.appScr" maxlength="50" :placeholder="$t('app.appScr')"></el-input>
          </el-form-item>
          <el-row type="flex" align="left">
            <div class="el-form-item el-form-item--medium" style="width: 250px;">
                  <label class="el-form-item__label" style="width: 250px;">{{ $t('app.redirectUri') }}
                    <el-popover placement="top-start" width="300px" trigger="hover" :content="$t('app.reUriContents')">
                      <el-button slot="reference" type="text" size="default" icon="el-icon-question" ></el-button>
                  </el-popover>
                  </label>
              </div>
              <el-form-item :show-message="showTagMessageCallback" :error="tagErrorMessageCallback" label-width="" label="" prop="redirectUri">  
                  <el-tag v-for="(tag, index) in createList.callbackList" :key="tag.redirectUri" :disable-transitions="false" type="primary" plain closable @close="addCallbackClose(index)">{{ tag.redirectUri }}</el-tag>
                  <el-button v-if="!inputVisibleCallback" class="button-new-tag" style="margin-bottom: 5px;" plain @click="showCallbackKey" :disabled="createList.callbackList.length >= 4" >{{ $t('app.add') }}</el-button>
                  <el-input maxlength="100" style="width: 850px;" v-show="inputVisibleCallback" ref="callback" @focus="inputVisibleCallback = true" v-model="inputValueCallback" class="input-new-tag" size="small" @blur="handleCallbackKeyConfirm"/>
            </el-form-item>
          </el-row>
          <el-row type="flex" align="left">
            <div class="el-form-item el-form-item--medium" style="width: 250px;">
                  <label class="el-form-item__label" style="width: 250px;">앱 URL 스킴
                    <el-popover placement="top-start" width="300px" trigger="hover" content="마이데이터 서비스 앱 스킴(마이데이터사업자가 종합포털에 등록한 앱스킴)">
                      <el-button slot="reference" type="text" size="default" icon="el-icon-question" ></el-button>
                  </el-popover>
                  </label>
              </div>
              <el-form-item :show-message="showTagMessageScheme" :error="tagErrorMessageScheme" label-width="" label="" prop="appScheme">  
                  <el-tag v-for="(tag, index) in createList.schemeList" :key="tag.appScheme" :disable-transitions="false" type="primary" plain closable @close="addSchemeClose(index)">{{ tag.appScheme }}</el-tag>
                  <el-button v-if="!inputVisibleScheme" class="button-new-tag" style="margin-bottom: 5px;" plain @click="showSchemeKey" :disabled="createList.schemeList.length >= 4" >{{ $t('app.add') }}</el-button>
                  <el-input maxlength="100" style="width: 850px;" v-show="inputVisibleScheme" ref="scheme" @focus="inputVisibleScheme = true" v-model="inputValueScheme" class="input-new-tag" size="small" @blur="handleSchemeKeyConfirm"/>
            </el-form-item>
          </el-row>
          <el-form-item :label="$t('app.memo')" label-width="250px">
            <el-input type="textarea" :rows="2" v-model="createList.appMemo" maxlength="650" :placeholder="$t('app.memo')"></el-input>
          </el-form-item> 
        </el-form>
      </el-card>
      <el-dialog :visible.sync="useorgSearchYN" :title="$t('app.useorgSearch')" width="60%" center @close="closeDialog">
        <div class="filter-container">
              <el-input  v-model="searchQuery.useorgNm" maxlength="1000" type="text" :placeholder="$t('app.useorgCdNm')" style="width:300px;" class="filter-item"/>
              <el-input v-model="searchQuery.brn" maxlength="1000" type="text" :placeholder="$t('app.brn')" style="width:300px;" class="filter-item"/>
            <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" plain icon="el-icon-search" size="small" @click="handleReleaseConfirm">
                {{ $t('btn.search') }}
            </el-button>
            <el-button v-waves class="filter-item" style="margin-left: 0px;" plain icon="el-icon-refresh-left" size="small" @click="resetDiagSearch">
                {{ $t('btn.resetSearch') }}
            </el-button>
        </div>
        <el-table height="280" :data="useorgList" @row-click="clickUseorg">
          <el-table-column :label="$t('app.useorgNm')" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.useorgNm}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('app.userKey')" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.userKey}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('app.brn')" align="center">
                <template slot-scope="scope">
                    <span v-if="scope.row.brn !== null">{{scope.row.brn | brnFilter}}</span>
                    <span v-else>{{scope.row.brn}}</span>
                </template>
            </el-table-column>
        </el-table>
      </el-dialog>
    </div>
    <!-- /app-container -->
  </div>
</template>
<script>
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { mapGetters } from 'vuex'
import { searchUseorg, serviceAppReg } from '@/api/app'

export default {
  name: 'tAppCreate',
  directives: { waves },
  components: { Sticky },
  data() {
    return {
      searchQuery: {
        pageIdx: 1,
        pageSize: 100,
        brn:'', // 사업자등록번호
        useorgNm: '', // 기관명
      },
      ruleForm: {},
      sUseorgUserTel: '', // 연락처
      inputVisible: false,
      showTagMessageCallback: false,
      tagErrorMessageCallback: '',
      inputValueCallback: '',
      inputVisibleCallback: false,
      showTagMessageScheme: false,
      tagErrorMessageScheme: '',
      inputValueScheme: '',
      inputVisibleScheme: false,

      useorgSearchYN: false,
      useorgNm: '',
      useorgList: null,
      sTotCnt: 0,
      createList: {
        userKey: '', // 기관코드(PORTAL_USEORG_INFO)
        appNm: '', // 서비스명
        appClientId: '', // 클라이언트ID
        appScr: '', // 클라이언트 시크릿키
        callbackList: [], // 콜백URL리스트
        schemeList: [],
        appMemo: '' // 메모
      },
    }
  },
  computed: {
    rules() {
      return {
        userKey: [{ required: true, message: this.$t('message.valid_required')}],
        appNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        appClientId: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }]
        // appScr: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        // redirectUri: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }]
        // cnlKey: [{ required: true }]
      }
    }
    
  },
  created() {

  },
  watch: {
  },
  methods: {
    resetDiagSearch() {
      this.sTotCnt = 0;
      this.useorgList = null
      this.searchQuery.useorgNm = ''
      this.searchQuery.brn = ''
    },
    closeDialog() {
      this.sTotCnt = 0;
      this.useorgList = null
      this.searchQuery.useorgNm = ''
      this.searchQuery.brn = ''
    },
    // dialog 기관 클릭
    clickUseorg(data) {
      this.createList.userKey = data.userKey
      this.useorgSearchYN = false

    },
    handleReleaseConfirm() {
      if(this.searchQuery.brn === '' && this.searchQuery.useorgNm === '') {
        this.$message.warning(this.$t('message.warning_no_input_useorgSearch'))
      } else {
        searchUseorg(this.searchQuery).then(response => {
          this.useorgList = response.list
          this.sTotCnt = response.totCnt
          for(var i = 0; i < this.useorgList.length; i++) {
            if (this.useorgList[i].useorgStatCd === 'DEL'){
              this.useorgList.splice(i,1)
            }
          }
        })
      }
    },
    selectUseorg() {
      this.useorgSearchYN = true

    },
    addCallbackClose(idx) {
      this.createList.callbackList.splice(idx, 1)
    },
    addSchemeClose(idx) {
      this.createList.schemeList.splice(idx, 1)
    },
    handleCallbackKeyConfirm() {
      const inputValue = this.inputValueCallback
      if (inputValue) {
        this.createList.callbackList.push({ redirectUri: inputValue })
        this.createList.callbackList = this.createList.callbackList.filter((li, idx, self) => self.map(itm => itm.redirectUri).indexOf(li.redirectUri) === idx)
        this.inputVisibleCallback = false
        this.inputValueCallback = ''
        this.showTagMessageCallback = false
        this.tagErrorMessageCallback = ''
      } else {
         this.inputVisibleCallback = false
          this.inputValueCallback = ''
          this.showTagMessageCallback = false
      }
    },
    handleSchemeKeyConfirm() {
      const inputValue = this.inputValueScheme
      if (inputValue) {
        this.createList.schemeList.push({ appScheme: inputValue })
        this.createList.schemeList = this.createList.schemeList.filter((li, idx, self) => self.map(itm => itm.appScheme).indexOf(li.appScheme) === idx)
        this.inputVisibleScheme = false
        this.inputValueScheme = ''
        this.showTagMessageScheme = false
        this.tagErrorMessageScheme = ''
      } else {
         this.inputVisibleScheme = false
          this.inputValueScheme = ''
          this.showTagMessageScheme = false
      }
    },
    showCallbackKey() {
      this.inputVisibleCallback = true
        this.$nextTick(_ => {
          this.$refs.callback.$refs.input.focus()
        })
    }, 
    showSchemeKey() {
      this.inputVisibleScheme = true
        this.$nextTick(_ => {
          this.$refs.scheme.$refs.input.focus()
        })

    }, 
    handleCancel() {
      this.$router.push({ path: '/tAppManage' })
    },
    handleReg() {
      
        this.$refs['ruleForm'].validate((valid) => {
          if (valid) {
            this.$confirm(this.$t('message.createConfirm'), {
              }).then(() => {
                serviceAppReg(this.createList).then(response => {
                  if (response.error === 'Accepted') {
                    this.$message.error(this.$t('message.error_reg_serviceApp'))
                  } else {
                    this.$message.success(this.$t('message.save'))
                    this.$router.push({ path: '/tAppManage' })
                 }
               })
            })
          }
        })
      }

  }
}
</script>

<style>
</style>
