<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.appDetail') }}</p>

        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="app_detail app-container">
      <el-row class="left">
        <el-card shadow="hover">
          <div slot="header" class="clearfix">
            <strong>{{ $t('app.basicInfo') }}</strong>
          </div>
          <el-form ref="appInfo" :model="appInfo" label-position="left" label-width="130px" style="width: 520px;">
            <el-form-item :label="$t('app.master')" prop="managerNm">
              <el-input v-model="appInfo.managerNm" readonly/>
            </el-form-item>
            <el-form-item :label="$t('app.appNm')" prop="appNm">
              <el-input v-model="appInfo.appNm" maxlength="50" readonly/>
            </el-form-item>
            <el-form-item :label="$t('app.appCtnt')" prop="appCtnt">
              <textarea v-model="appInfo.appCtnt" maxlength="2000" :class="'custom-textarea'" rows="4" readonly/>
            </el-form-item>
            <el-form-item :label="$t('app.cryptoKey.keyCertSearch')">
              <el-button type="warning" size="small" @click="handleKeyDownload">{{ $t('app.cryptoKey.keySearch') }}</el-button>
            </el-form-item>
          </el-form>
        </el-card>

        <el-card shadow="hover" style="margin-top: 20px;">
          <div slot="header" class="clearfix">
            <strong>{{ $t('app.approveInfo') }}</strong>
          </div>
          <el-form ref="ruleFormCnl" :rules="rules" :model="appInfo" label-position="left" label-width="130px">
            <el-row type="flex" align="middle">
              <div class="el-form-item is-required el-form-item--medium">
                <label class="el-form-item__label" style="width: 130px;">{{ $t('app.cnlKey') }}</label>
              </div>
              <el-form-item :show-message="showTagMessage" :error="tagErrorMessage" label-width="0" prop="cnlKey">
                <el-tag v-for="tag in appInfo.cnlKeyList" :key="tag.cnlKey" :disable-transitions="false" type="warning">{{ tag.cnlKey }}</el-tag>
              </el-form-item>
            </el-row>
            <el-row>
              <el-form-item :label="$t('app.anyCnl')" prop="appAnyCnlYn">
                <el-checkbox v-model="appInfo.appAnyCnlYn" true-label="Y" false-label="N" disabled="disabled">{{ $t('app.cnl') }}</el-checkbox>&nbsp;&nbsp;&nbsp;{{$t('app.anyCnlCtnt')}}
              </el-form-item>
            </el-row>
            <el-row type="flex" align="middle">
              <div class="el-form-item el-form-item--medium">
                <label class="el-form-item__label" style="width: 130px;">{{ $t('app.blockKey') }}</label>
              </div>
              <el-form-item label-width="0" prop="cnlKey">
                <el-tag v-for="tag in appInfo.blockKeyList" :key="tag.cnlKey" :disable-transitions="false" type="warning">{{ tag.cnlKey }}</el-tag>
              </el-form-item>
            </el-row>
            <el-row>
              <el-form-item :label="$t('app.memo')" prop="appMemo">
                <textarea v-model="appInfo.appMemo" maxlength="2000" :class="'custom-textarea'" rows="4" readonly/>
              </el-form-item>
            </el-row>
          </el-form>
        </el-card>

        <el-card shadow="hover" style="margin-top: 20px;">
          <div slot="header" class="clearfix">
            <strong>{{ $t('app.copInfo') }}</strong>
          </div>
          <el-form ref="ruleFormCop" :rules="rules" :model="appInfo" label-position="left" label-width="130px" style="width: 520px;">
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.copNm')" prop="copNm">
                  <el-input v-model="appInfo.copNm" maxlength="50" readonly/>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.copNo')" prop="copRegNo">
                  <el-input v-model="appInfo.copRegNo" maxlength="10" readonly/>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.ownNm')" prop="ownNm">
                  <el-input v-model="appInfo.ownNm" maxlength="50" readonly/>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="12">
                <el-form-item :label="$t('app.bizType')" prop="bizType">
                  <el-input v-model="appInfo.bizType" maxlength="20" readonly/>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item :label="$t('app.bizCdtn')" prop="bizCdtn" style="margin-left: 10px;">
                  <el-input v-model="appInfo.bizCdtn" maxlength="20" readonly/>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.copPostNo')" prop="copAddrNo">
                  <el-input v-model="appInfo.copAddrNo" maxlength="6" style="width: 290px;" readonly/>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.copAddr1')" prop="copAddr1" >
                  <el-input v-model="appInfo.copAddr1" maxlength="300" readonly/>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.copAddr2')" prop="copAddr2">
                  <el-input v-model="appInfo.copAddr2" maxlength="200" readonly/>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.dirInfo')" />
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.dirNm')" prop="dirNm">
                  <el-input v-model="appInfo.dirNm" maxlength="50" readonly/>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.dirTel1')">
                  <el-col :span="7">
                    <el-form-item prop="dirTelNo1">
                      <el-select
                        v-model="appInfo.dirTelNo1"
                        :placeholder="$t('app.dirTel1')"
                        class="filter-item"
                        disabled="disabled">
                        <el-option value="010" label="010"/>
                        <el-option value="02" label="02"/>
                        <el-option value="031" label="031"/>
                        <el-option value="032" label="032"/>
                        <el-option value="033" label="033"/>
                        <el-option value="041" label="041"/>
                        <el-option value="042" label="042"/>
                        <el-option value="043" label="043"/>
                        <el-option value="044" label="044"/>
                        <el-option value="051" label="051"/>
                        <el-option value="052" label="052"/>
                        <el-option value="053" label="053"/>
                        <el-option value="054" label="054"/>
                        <el-option value="055" label="055"/>
                        <el-option value="061" label="061"/>
                        <el-option value="062" label="062"/>
                        <el-option value="063" label="063"/>
                        <el-option value="064" label="064"/>
                      </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="17">
                    <el-form-item prop="dirTelNo2" >
                      <el-input v-model="appInfo.dirTelNo2" maxlength="30" style="padding-left:3px;width: 275px" readonly/>
                    </el-form-item>
                  </el-col>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.dirEmail')">
                  <el-col :span="12">
                    <el-form-item prop="dirEmail">
                      <el-input v-model="appInfo.dirEmail" maxlength="200" style="width: 170px" readonly/>
                      @
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item prop="dirDomain">
                      <el-input v-model="appInfo.dirDomain"  maxlength="100" style="width: 194px" readonly/>
                    </el-form-item>
                  </el-col>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.svcNm')" prop="appSvcNm">
                  <el-input v-model="appInfo.appSvcNm" maxlength="50" readonly/>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.svcUrl')" prop="appSvcUrl">
                  <el-input v-model="appInfo.appSvcUrl" maxlength="256" readonly/>
                </el-form-item>
              </el-col>
            </el-row> 
          </el-form>
        </el-card>
      </el-row>
      <el-row class="right">
        <el-card shadow="hover" >
          <div slot="header" class="clearfix">
            <strong>{{ $t('product.productInfo') }}</strong>
          </div>
          <el-container>
            <el-header style="font-size: 14px">
              <div class="filter-container">
              </div>
            </el-header>
            <el-table :data="appInfo.prdList" :show-header="false" row-class-name="none_highlight">
              <el-table-column>
                <template slot-scope="scope">
                  <el-card shadow="hover">
                    <el-row type="flex">
                      <el-col style="width: 85%">
                        <span>{{ scope.row.dispPrdNm }}</span>
                      </el-col>
                    </el-row>
                  </el-card>
                </template>
              </el-table-column>
            </el-table>
          </el-container>
        </el-card>

        <el-card shadow="hover" style="margin-top: 20px;">
          <div slot="header" class="clearfix">
            <strong>{{ $t('app.appReadUser') }}</strong>
          </div>
          <el-table :data="appInfo.appReadInfo" :show-header="true" row-class-name="none_highlight">
            <el-table-column :label="$t('user.id')" align="center" width="120">
              <template slot-scope="scope">
                <span>{{ scope.row.userId }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('user.name')" align="center" width="130">
              <template slot-scope="scope">
                <span>{{ scope.row.userNm }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('user.contact')" align="center" width="140">
              <template slot-scope="scope">
                <span>{{ scope.row.userTel }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('user.email')" align="center" width="250">
              <template slot-scope="scope">
                <span>{{ scope.row.userEmail }}</span>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
      </el-row>

      <el-dialog :visible.sync="pwdCheckNeed" :title="$t('login.passwordCheck')" center class="dialog_form">
        <el-form label-position="left" label-width="130px">
          <el-form-item :label="$t('login.password')">
            <el-input v-model="userPwd" maxlength="20" type="password" rows="1"/>
          </el-form-item>
          <strong>{{ $t('login.checkPasswordForKeyDownload') }}</strong>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="pwdCheckNeed = false">{{ $t('btn.cancel') }}</el-button>
          <el-button type="primary" @click="handleCheckPwdBtn">{{ $t('btn.confirm') }}</el-button>
        </div>
      </el-dialog>
      <el-dialog :visible.sync="pubKeyNeed" :title="$t('app.appPubKeyEnter')" center class="dialog_form">
        <el-form :model="appInfo" label-position="left" label-width="130px">
          <el-form-item :label="$t('app.appPubKey')">
            <textarea v-model="appInfo.pubKey" maxlength="1000" :class="'custom-textarea'" rows="5"/>
          </el-form-item>
          <el-form-item v-if="appInfo.appScrReisuYn === 'Y'" :label="$t('app.appPubKey')">
            <strong>기존 CI/CS와 재발급된 CI/CS가 다운로드 됩니다.</strong>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="pubKeyNeed = false">{{ $t('btn.cancel') }}</el-button>
          <el-button type="primary" @click="handleKeyDownloadConfirm">{{ $t('btn.confirm') }}</el-button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { scrollTo } from '@/utils/scrollTo'
import { appDelete } from '@/api/app'
import { mapGetters } from 'vuex'
import { checkPwd } from '@/api/login'
import { reqPost, selectCommCodeList } from '@/api/common'
import { fetchAppInfo, updateAppStat, updateAppInfo, appServiceExtend, reissue, keyDownload } from '@/api/app'

const statusOptions = [
  { key: 'OK', statusName: i18n.t('office.ok') },
  { key: 'CLOSE', statusName: i18n.t('office.close') },
  { key: 'UNUSED', statusName: i18n.t('app.stat.UNUSED') },
  { key: 'WAIT', statusName: i18n.t('app.stat.WAIT') }
]
const methodOptions = [
  { key: 'GET', name: 'GET', tag: 'primary' },
  { key: 'POST', name: 'POST', tag: 'success' },
  { key: 'PUT', name: 'PUT', tag: 'info' },
  { key: 'DELETE', name: 'DELETE', tag: 'danger' }
]

export default {
  name: 'tAppEdit',
  directives: { waves },
  filters: {
    methodFilter(status) {
      const tagValue = methodOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.tag
        return acc
      }, {})
      return tagValue[status]
    },
    dateFilter(date) {
      const d = date.substring(0, 10)
      date = '' + d
      return date
    }
  },
  components: { Sticky },
  data() {
    return {
      pubKeyNeed: false,
      pwdCheckNeed: false,
      userPwd: '',
      listLoading: false,
      showTagMessage: false,
      tagErrorMessage: '',
      confirm: 0,
      serviceExtend: false,
      inputValue: '',
      confirmLoading: false,
      methodOptions,
      statusOptions,
      officeOptions: [],
      inputVisible: false,
      inputBlockVisible: false,
      inputBlockValue: '',
      secrchCtgr: {
        commCdId: '1100',
        cdId: '',
        cdNm: '',
        cdEng: '',
        cdUseYn: ''
      },
      secrchPrdKind: {
        commCdId: '1110',
        cdId: '',
        cdNm: '',
        cdEng: '',
        cdUseYn: '',
        uprCdId: ''
      },
      appInfo: {
        pubKey: '',
        appKey: '',
        appNm: '',
        appCtnt: '',
        userKey: '',
        useorgNm: '',
        appStatCd: '',
        validDt: [],
        appSvcStDt: '',
        appSvcEnDt: '',
        cnlKeyList: [],
        apiList: [],
        accCd: '',
        accNo: ''
      },
      ruleFormTop: {
        appNm: '',
        appCtnt: ''
      },
      ruleForm: {
        appSvcTerm: ''
      },
      rules: {
        pubKey: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        appNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        appCtnt: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        appSvcTerm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        accCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        accNo: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }]
      },
      searchQuery: {
        pageIdx: 1,
        pageSize: 20,
        searchApiStatCd: 'OK',
        searchCtgrCd: '',
        searchNm: '',
        searchUserKey: ''
      },
      ctgrList: [],
      listData: [],
      selApi: [],
      apiList: [],
      useOrg: '',
      accCdList: [],
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'hfnCd',
      'roles'
    ])
  },
  created() {
    scrollTo(0, 800)
    this.fetchApiCategoryList()
    this.fetchPrdKindList()
    this.getAppInfo()
  },
  methods: {
    changeAccNo() {
      this.isAccNoVerification = false
    },
    fetchApiCategoryList() {
      selectCommCodeList(this.secrchCtgr).then(response => {
        this.ctgrList = response.codeList
      })
    },
    fetchPrdKindList() {
      selectCommCodeList(this.secrchPrdKind).then(response => {
        this.subCtgrList = response.codeList
        this.appInfo.prdKind = ''
        this.$forceUpdate()
      })
    },
    getAppInfo() {
      this.listLoading = true
      let searchData = {
        appKey: this.$route.query.appKey,
        page: 'edit'
      }
      reqPost('/api/appDetailModNiceAdmin',searchData).then(response => {
        this.appInfo = response
        this.appInfo.prdList = response.appPrdInfo
        this.getPrdList()
        this.listLoading = false
      }).catch(() => { this.listLoading = false })
      // this.listLoading = true
      // const searchData = {
      //   appKey: this.$route.query.appKey,
      //   page: 'detail'
      // }
      // fetchAppInfo(searchData).then(response => {
      //   this.appInfo = response
      //   this.appInfo.validDt = ['', '']

      //   if (response.appSvcStDt != null) {
      //     this.appInfo.validDt[0] = this.format_date(response.appSvcStDt, '-')
      //   }
      //   if (response.appSvcEnDt != null) {
      //     this.appInfo.validDt[1] = this.format_date(response.appSvcEnDt, '-')
      //   }

      //   this.selApi = this.appInfo.apiList

      //   this.appInfo.exApiList = JSON.parse(JSON.stringify(this.selApi))
      //   this.appInfo.redisExApiList = JSON.parse(JSON.stringify(this.selApi))

      //   this.appInfo.exCnlKeyList = JSON.parse(JSON.stringify(this.appInfo.cnlKeyList))
      //   this.appInfo.redisExCnlList = JSON.parse(JSON.stringify(this.appInfo.cnlKeyList))

      //   this.listLoading = false

      //   // 마스킹 처리
      //   this.appInfo.regUser = maskingName(this.appInfo.regUser)
      //   this.appInfo.modUser = maskingName(this.appInfo.modUser)

      // }).catch(() => { this.listLoading = false })
    },
    addCnlKeyClose(idx) {
      this.appInfo.cnlKeyList.splice(idx, 1)
    },
    showCnlKey() {
      this.inputVisible = true
      this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus()
      })
    },
    handleStatus() {
      this.confirmLoading = true
      updateAppStat(this.appInfo).then(response => {
        this.$message.success(this.$t('app.success_stat'))
        this.appInfo.appStatCd = response.appStatCd
        this.confirmLoading = false
      }).catch(() => { this.confirmLoading = false })
    },
    handleCancel() {
      this.$router.push({ path: '/appManage' })
    },
    handleDelete() {
      this.appInfo.appKey = this.$route.query.appKey
      this.appInfo.appStatCd = 'DEL'
      appDelete(this.appInfo).then(response => {
        this.$router.push({ path: '/appManage' })
      })
    },
    handleCnlKeyConfirm() {
      const inputValue = this.inputValue
      if (inputValue) {
        if (!(/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/).test(inputValue)) {
          this.showTagMessage = true
          this.tagErrorMessage = this.$t('message.error_rule_ip')
        } else {
          this.appInfo.cnlKeyList.push({ cnlKey: inputValue })
          this.appInfo.cnlKeyList = this.appInfo.cnlKeyList.filter((li, idx, self) => self.map(itm => itm.cnlKey).indexOf(li.cnlKey) === idx)
          this.inputVisible = false
          this.inputValue = ''
          this.showTagMessage = false
        }
      } else {
        this.inputVisible = false
        this.inputValue = ''
        this.showTagMessage = false
      }
    },
    handleConfirm() {
      if (this.appInfo.cnlKeyList.length === 0) {
        this.showTagMessage = true
        this.tagErrorMessage = this.$t('message.valid_required')
      } else {
        this.$refs['ruleFormTop'].validate((valid) => {
          if (valid) {
            this.$refs['ruleForm'].validate((valid) => {
              if (valid) {
                this.confirmLoading = true
                this.appInfo.redisApiList = this.appInfo.apiList
                this.appInfo.redisCnlList = this.appInfo.cnlKeyList

                this.$confirm(this.$t('message.editConfirm'), {
                  confirmButtonText: this.$t('btn.confirm'),
                  cancelButtonText: this.$t('btn.cancel'),
                  type: 'warning'
                }).then(() => {
                  updateAppInfo(this.appInfo).then(response => {
                    this.confirmLoading = false
                    this.$message.success(this.$t('message.success'))
                    this.$router.push({ path: '/appManage' })
                  }).catch(() => { this.confirmLoading = false })
                }).catch(() => { this.confirmLoading = false })
              }
            })
          }
        })
      }
    },
    addApi(index, row) {
      row.disabled = true
      this.selApi.push(row)
      // this.listData.splice(index, 1)
    },
    removeApi(index, row) {
      for (let i = 0; i < this.apiList.length; i++) {
        if (row.apiId === this.apiList[i].apiId) {
          this.apiList[i].disabled = false
        }
      }
      this.selApi.splice(index, 1)
      // this.listData.push(row)
    },
    handleKeyDownload() {
      this.pwdCheckNeed = true
    },
    handleCheckPwdBtn() {
      if (this.userPwd.length <= 0) {
        this.$message.warning('비밀번호를 입력해 주세요.')
      } else {
        checkPwd(this.userPwd).then((response) => {
          if (response == true){
            this.pubKeyNeed = true
          }
          else {
            this.$message.error(i18n.t('login.error_check_password'))
          }
        })
      }
    },
    handleKeyDownloadConfirm() {
      keyDownload(this.appInfo).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.token]))
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', 'key.txt')
        document.body.appendChild(link)
        link.click()
        this.pubKeyNeed = false
        this.pwdCheckNeed = false
        this.userPwd = ''
        this.pubKey = ''
        this.$message.success(i18n.t('app.keyDownloadSuccess'))
      }).catch(() => {
        this.pubKeyNeed = true
      }
      )
    },
    handleReissue() {
      this.$confirm(this.$t('message.issueNotice'), {
        confirmButtonText: this.$t('btn.confirm'),
        cancelButtonText: this.$t('btn.cancel'),
        type: 'warning'
      }).then(() => {
        reissue(this.appInfo).then(response => {
          this.$message.success(this.$t('message.issueNotice2'))
          this.getAppInfo()
        }).catch(() => {})
      }).catch(() => {})
    },
    openExConfirm() {
      this.$confirm(i18n.t('app.serviceExtendNotice'), {
        confirmButtonText: i18n.t('btn.confirm'),
        cancelButtonText: i18n.t('btn.cancel'),
        type: 'warning'
      }).then(() => {
        appServiceExtend(this.appInfo).then(response => {
          if (response.success) {
            this.$message.success(i18n.t('app.success_extend'))
            this.confirm = 1
          }
        })
      }).catch(() => {})
    },
    format_date(strDate, deli) {
      const y = strDate.substring(0, 4)
      const m = strDate.substring(4, 6)
      const d = strDate.substring(6, 8)
      return '' + y + deli + m + deli + d
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .app_detail {
    display: flex;
    .left, .right {
      width: 670px;
    }
    .right {
      margin-left: 20px;
      .el-table {
        overflow: auto;
        .el-table__empty-block {
          border-right: 0;
        }
        .cell { padding: 0 5px; }
      }
      .el-table--medium th, .el-table--medium td {
        padding: 5px 0;
      }
      .el-card {
        .el-card__header {
          padding: 8px 10px 5px;
          p {
            margin-right: 10px;
            font-weight: bold;
            font-size: 16px;
          }
          .el-tag {
            margin-right: 5px;
          }
          span {
            margin-left: 5px;
          }
        }
        .el-card__body {
          padding: 5px 10px;
        }
      }
      .el-card__body {
        padding-bottom: 5px;
      }
    }
    .input-new-tag {
      width: 190px;
      vertical-align: bottom;
    }
    .el-header {
      background-color: #f7f7f7;
      font-size: 14px;
      line-height: 60px;
    }

    .date {
      color: #ff0064;
    }

    .el-container {
      height: 500px;
      padding-bottom: 10px;
    }
    .el-menu { border-right: 0; }
    .el-table td, .el-table th.is-leaf { border-bottom: 0; }
    .el-table::before { height: 0; }
    .el-table .none_highlight:hover td { background: transparent !important; }
  }
  @media screen and (max-width: 1500px){
    .app_detail {
      flex-direction: column;
      .right {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
</style>
