<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.editService') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button v-if="editList.appStatCd === 'OK'" plain @click="handleModifyStatus">{{$t('app.action.close')}}</el-button>
          <el-button v-if="editList.appStatCd === 'CLOSE'" plain @click="handleModifyStatus">{{$t('app.action.ok')}}</el-button>
          <el-button  v-waves type="primary" @click="handleUpd">{{$t('app.action.edit')}}</el-button>
          <el-button v-if="editList.appStatCd !== 'DEL'" v-waves type="danger" @click="handleDel">{{$t('app.action.del')}}</el-button>
          <el-button  v-waves @click="handleCancel" type="info">{{ $t('btn.list')}}</el-button>
        </el-row>
      </el-row>
    </sticky>

    <!-- app-container -->
    <div class="app-container">
      <el-card shadow="hover">
        <div slot="header">
              <div style="display: table-cell; width: 95%;">
                <strong>{{ $t('title.serviceInfo') }}</strong>
              </div>
        </div>
        <el-form ref="ruleForm" :rules="rules" :model="editList" label-position="left" class="demo-form-inline">
          <el-form-item :label="$t('app.userKey')" label-width="250px"  prop="userKey">
            <el-input v-model="editList.userKey" @click.native="selectUseorg" :placeholder="$t('app.userKey')"></el-input>
          </el-form-item>
          <el-form-item :label="$t('app.svcNm')" label-width="250px"  prop="appNm">
            <el-input v-model="editList.appNm" maxlength="16" :placeholder="$t('app.svcNm')"></el-input>
          </el-form-item>
          <el-form-item :label="$t('app.clientId')" label-width="250px"  prop="appClientId">
            <el-input v-model="editList.appClientId"  maxlength="50" :placeholder="$t('app.clientId')"></el-input>
          </el-form-item>
          <el-form-item :label="$t('app.appScr')" label-width="250px"  prop="appScr">
            <span slot="label">{{ $t('app.appScr') }}
              <el-popover placement="top-start" :title="$t('app.scrTitle')" width="300px" trigger="hover" :content="$t('app.scrContents')">
                  <el-button slot="reference" type="text" size="default" icon="el-icon-question" ></el-button>
              </el-popover>
            </span>
            <el-input v-model="editList.appScr" maxlength="50" :placeholder="$t('app.appScr')"></el-input>
          </el-form-item>
          <!-- 콜백 url -->
            <el-row type="flex" align="left">
            <div class="el-form-item el-form-item--medium" style="width: 250px;">
                  <label class="el-form-item__label" style="width: 250px;">{{ $t('app.redirectUri') }}
                    <el-popover placement="top-start" width="300px" trigger="hover" :content="$t('app.reUriContents')">
                      <el-button slot="reference" type="text" size="default" icon="el-icon-question" ></el-button>
                  </el-popover>
                  </label>
              </div>
              <el-form-item :show-message="showTagMessageCallback" :error="tagErrorMessageCallback" label-width="" label="" prop="redirectUri">  
                  <el-tag v-for="(tag, index) in editList.callbackList" :key="tag.redirectUri" :disable-transitions="false" type="primary" plain closable @close="addCallbackClose(index)">{{ tag.redirectUri }}</el-tag>
                  <el-button v-if="!inputVisibleCallback" class="button-new-tag" style="margin-bottom: 5px;" plain @click="showCallbackKey" :disabled="editList.callbackList.length >= 4" >{{ $t('app.add') }}</el-button>
                  <el-input maxlength="100" style="width: 850px;" v-show="inputVisibleCallback" ref="callback" @focus="inputVisibleCallback = true" v-model="inputValueCallback" class="input-new-tag" size="small" @blur="handleCallbackKeyConfirm"/>
            </el-form-item>
          </el-row>
          <!-- 앱 Scheme -->
          <el-row type="flex" align="left">
            <div class="el-form-item el-form-item--medium" style="width: 250px;">
                  <label class="el-form-item__label" style="width: 250px;">앱 URL 스킴
                    <el-popover placement="top-start" width="300px" trigger="hover" content="마이데이터 서비스 앱 스킴(마이데이터사업자가 종합포털에 등록한 앱스킴)">
                      <el-button slot="reference" type="text" size="default" icon="el-icon-question" ></el-button>
                  </el-popover>
                  </label>
              </div>
              <el-form-item :show-message="showTagMessageScheme" :error="tagErrorMessageScheme" label-width="" label="" prop="appScheme">  
                  <el-tag v-for="(tag, index) in editList.schemeList" :key="tag.appScheme" :disable-transitions="false" type="primary" plain closable @close="addSchemeClose(index)">{{ tag.appScheme }}</el-tag>
                  <el-button v-if="!inputVisibleScheme" class="button-new-tag" style="margin-bottom: 5px;" plain @click="showSchemeKey" :disabled="editList.schemeList.length >= 4" >{{ $t('app.add') }}</el-button>
                  <el-input maxlength="100" style="width: 850px;" v-show="inputVisibleScheme" ref="scheme" @focus="inputVisibleScheme = true" v-model="inputValueScheme" class="input-new-tag" size="small" @blur="handleSchemeKeyConfirm"/>
            </el-form-item>
          </el-row>
          <!-- <el-row type="flex" align="left">  
            <div class="el-form-item is-required el-form-item--medium" style="width: 250px;">
                  <label class="el-form-item__label" style="width: 250px;">{{$t('app.clientIp')}}
                    <el-popover placement="top-start" :title="$t('app.clientIpTitle')" width="300px" trigger="hover" :content="$t('app.clientIpContents')">
                      <el-button slot="reference" type="text" size="default" icon="el-icon-question" ></el-button>
                  </el-popover>
                  </label>
            </div>
            <el-form-item label-width="" :show-message="showTagMessage" :error="tagErrorMessage" label="" prop="cnlKey">
                  <el-tag v-for="(tag, index) in editList.clientIPs" :key="tag.cnlKey" :disable-transitions="false" type="primary" plain closable @close="addCnlKeyClose(index)">{{ tag.cnlKey }}</el-tag>
                  <el-button v-if="!inputVisible" class="button-new-tag" style="margin-bottom: 5px;" @click="showCnlKey">{{ $t('app.add')}}</el-button>
                  <el-input style="width: 150px;" v-show="inputVisible" ref="save" @focus="inputVisible = true" v-model="inputValue" class="input-new-tag" size="small" @keydown.native="handleNumber" @blur="handleCnlKeyConfirm"/>
                  <span style="font-weight: bold;" v-show="inputVisible"> : </span>
                  <el-input style="width: 87px;" v-show="inputVisible" ref="save2" v-model="inputValue2" class="input-new-tag" @focus="inputVisible = true" size="small" @keydown.native="handleNumber" @blur="handleCnlKeyConfirm"/>
            </el-form-item>
          </el-row> -->
          <el-form-item :label="$t('app.memo')" label-width="250px">
            <el-input type="textarea" :rows="2"  v-model="editList.appMemo" maxlength="650"></el-input>
          </el-form-item>
          <el-form-item :label="$t('app.status')" label-width="250px">
            <el-tag class="button-no-bg" :type="editList.appStatCd=='OK'?'primary':editList.appStatCd=='CLOSE'?'info':'danger'">{{ editList.appStatCd | cdNmFilter('', codeStatusList) }}</el-tag>
          </el-form-item>

          
        </el-form>
      </el-card>
      <el-dialog :visible.sync="useorgSearchYN" :title="$t('app.useorgSearch')" width="60%" center @close="closeDialog">
        <div class="filter-container">
              <el-input  v-model="searchQuery.useorgNm" maxlength="1000" type="text" :placeholder="$t('app.useorgCdNm')" style="width:300px;" class="filter-item"/>
              <el-input v-model="searchQuery.brn" maxlength="1000" type="text" :placeholder="$t('app.brn')" style="width:300px;" class="filter-item"/>
            <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" plain icon="el-icon-search" size="small" @click="handleReleaseConfirm">
                {{ $t('btn.search') }}
            </el-button>
            <el-button v-waves class="filter-item" style="margin-left: 0px;" plain icon="el-icon-refresh-left" size="small" @click="resetDiagSearch">
                {{$t('btn.resetSearch')}}
            </el-button>
        </div>
        <el-table height="280" :data="useorgList" @row-click="clickUseorg">
          <el-table-column label="기관명" align="center">
                <template slot-scope="scope">
                    <!-- <el-link @click="clickUseorg(scope.row)">{{ scope.row.useorgNm }}</el-link> -->
                    <span>{{scope.row.useorgNm}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('app.useorgNm')" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.userKey}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('app.brn')" align="center">
                <template slot-scope="scope">
                    <span v-if="scope.row.brn !== null">{{scope.row.brn | brnFilter}}</span>
                    <span>{{scope.row.brn}}</span>
                </template>
            </el-table-column>
        </el-table>
      </el-dialog>
    </div>
    <!-- /app-container -->
  </div>
</template>

<script>
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { mapGetters } from 'vuex'
import { selectCommCodeList } from '@/api/common'
import { searchUseorg, serviceAppStatusUpd, serviceAppDetail, selectServiceAppIps, serviceAppUpd } from '@/api/app'

export default {
  name: 'tAppEdit',
  directives: { waves },
  components: { Sticky },
  filters: {
    cdNmFilter(code, txtParam, codeList) {
      const value = codeList.reduce((obj, cur) => {
        obj[cur.cdId] = cur.cdNm
        return obj
      }, {})
      return value[code]
    },
    dateTimeFilter(date) {
      const text = date.substring(0, 4)
      const y = date.substring(4, 8)
      const m = date.substring(8, 10)
      const d = date.substring(10, 12)
      const h = date.substring(12, 14)
      const tm = date.substring(14, 16)
      date = text + ' : ' + y + '-' + m + '-' + d + '  ' + h + ':' + tm
      return date
    }
  },
  data() {
    return {
      searchQuery: {
        pageIdx: 1,
        pageSize: 100,
        brn:'', // 사업자등록번호
        useorgNm: '', // 기관명
      },
      appKey: '',
      sUseorgUserTel: '', // 연락처
      cnlKeyList: [],
      showTagMessage: false,
      tagErrorMessage: '',
      inputValue: '',
      inputValue2: '',
      inputVisible: false,
      useorgSearchYN: false,
      useorgNm: '',
      useorgList: null,
      sTotCnt: 0,
      ruleForm: {},
      showTagMessageCallback: false,
      tagErrorMessageCallback: '',
      inputValueCallback: '',
      inputVisibleCallback: false,
      showTagMessageScheme: false,
      tagErrorMessageScheme: '',
      inputValueScheme: '',
      inputVisibleScheme: false,
      editList: {
        appKey: '',
        appStatCd: '',
        userKey: '',
        appClientId: '',
        appScr: '',
        redirectUri: '',
        appNm: '',
        appMemo: '',
        regUser: '',
        regDttm: '',
        callbackList: [],
        schemeList: []

      },
      ipList: [], // 기관구분 코드리스트
      ipChangeYN: false,
      codeStatusList: [],
      condStatusCode: {
        commCdId: '0030'
      },
      compareIp: []
    }
  },
  computed: {
    rules() {
      return {
        userKey: [{ required: true, message: this.$t('message.valid_required')}],
        appNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        appClientId: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }]
      }
    }
  },
  created() {
    this.getCodeList()
    this.detailList()
  },
  methods: {
    addCallbackClose(idx) {
      this.editList.callbackList.splice(idx, 1)
    },
    addSchemeClose(idx) {
      this.editList.schemeList.splice(idx, 1)
    },
    handleCallbackKeyConfirm() {
      const inputValue = this.inputValueCallback
      if (inputValue) {
        this.editList.callbackList.push({ redirectUri: inputValue })
        this.editList.callbackList = this.editList.callbackList.filter((li, idx, self) => self.map(itm => itm.redirectUri).indexOf(li.redirectUri) === idx)
        this.inputVisibleCallback = false
        this.inputValueCallback = ''
        this.showTagMessageCallback = false
        this.tagErrorMessageCallback = ''
      } else {
         this.inputVisibleCallback = false
          this.inputValueCallback = ''
          this.showTagMessageCallback = false
      }
    },
    handleSchemeKeyConfirm() {
      const inputValue = this.inputValueScheme
      if (inputValue) {
        this.editList.schemeList.push({ appScheme: inputValue })
        this.editList.schemeList = this.editList.schemeList.filter((li, idx, self) => self.map(itm => itm.appScheme).indexOf(li.appScheme) === idx)
        this.inputVisibleScheme = false
        this.inputValueScheme = ''
        this.showTagMessageScheme = false
        this.tagErrorMessageScheme = ''
      } else {
         this.inputVisibleScheme = false
          this.inputValueScheme = ''
          this.showTagMessageScheme = false
      }
    },
    showCallbackKey() {
      this.inputVisibleCallback = true
        this.$nextTick(_ => {
          this.$refs.callback.$refs.input.focus()
        })
    }, 
    showSchemeKey() {
      this.inputVisibleScheme = true
        this.$nextTick(_ => {
          this.$refs.scheme.$refs.input.focus()
        })

    }, 
    // 삭제
    handleDel() {
      const sData = { appClientId: this.editList.appClientId, appKey: this.appKey, appStatCd: 'DEL'}
      this.$confirm(this.$t('message.deleteConfirm'), {
      }).then(() => {
        serviceAppStatusUpd(sData).then(response => {
                this.$message.success(this.$t('message.success_delete'))
                this.$router.push({ path: '/tAppManage' })
            })
      })
    },
    // 목록 버튼
    handleCancel() {
      this.$router.push({ path: '/tAppManage' })
    },
    getCodeList() {
      selectCommCodeList(this.condStatusCode).then(response => {
        this.codeStatusList = response.codeList
        this.codeStatusList.unshift({ cdId: '', cdNm: '전체'})
      })
    },
    // 중지 or 정상처리
    handleModifyStatus() {
      const data = {appClientId: this.editList.appClientId, appKey: this.appKey, appStatCd: this.editList.appStatCd}
      this.$confirm(this.$t('message.changeConfirm'), {
      }).then(() => {
        serviceAppStatusUpd(data).then(response => {
                this.$message.success(this.$t('app.success_stat'))
                this.detailList()
            })
      })
    },
    detailList() {
      const data = { appKey: this.$route.query.appKey }
      serviceAppDetail(data).then(response => {
        this.editList = response
        this.appKey = response.appKey
      })
    },
    resetDiagSearch() {
      this.sTotCnt = 0;
      this.useorgList = null
      this.searchQuery.useorgNm = ''
      this.searchQuery.brn = ''
    },
    closeDialog() {
      this.sTotCnt = 0;
      this.useorgList = null
      this.searchQuery.useorgNm = ''
      this.searchQuery.brn = ''
    },
    // dialog 기관 클릭
    clickUseorg(data) {
      this.editList.userKey = data.userKey
      this.useorgSearchYN = false

    },
    handleReleaseConfirm() {
      if(this.searchQuery.brn === '' && this.searchQuery.useorgNm === '') {
        this.$message.warning(this.$t('message.warning_no_input_useorgSearch'))
      } else {
        searchUseorg(this.searchQuery).then(response => {
          this.useorgList = response.list
          this.sTotCnt = response.totCnt
          for(var i = 0; i < this.useorgList.length; i++) {
            if (this.useorgList[i].useorgStatCd === 'DEL'){
              this.useorgList.splice(i,1)
            }
          }
        })
      }
    },
    selectUseorg() {
      this.useorgSearchYN = true

    },
    handleUpd() {
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
            this.$confirm(this.$t('message.editConfirm'), {
              }).then(() => {
                serviceAppUpd(this.editList).then(response => {
                  if (response.error === 'Accepted') {
                    this.$message.warning(this.$t('message.error_upd_serviceApp'))
                  } else {
                    this.$message.success(this.$t('message.success_upd'))
                    this.$router.push({ path: '/tAppManage' })
                  }
                })
              })
            }
         })
    },
  }
}
</script>

<style>


</style>