<template>
  <div class="app-container">
        <div class="filter-container">
            <el-input :placeholder="$t('app.svcClientNm')" v-model="searchQuery.appNm" style="width:180px;" class="filter-item"></el-input>
            <el-input :placeholder="$t('app.useorgCdNm')" v-model="searchQuery.useorgNm" style="width:180px;" class="filter-item"></el-input>
            <el-select v-model="searchQuery.appStatCd" :placeholder="$t('app.status')" 
                 clearable style="width: 150px" class="filter-item">
                <el-option v-for="item in codeStatusList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
            </el-select>
            <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" plain icon="el-icon-search" size="small" @click="getList">
                {{ $t('btn.search') }}
            </el-button>
            <el-button v-waves class="filter-item" style="margin-left: 0px;" plain icon="el-icon-refresh-left" size="small" @click="resetSearch">
                {{ $t('btn.resetSearch')}}
            </el-button>
        </div>
        <div class="proc-container">
            <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" icon="el-icon-edit" size="small" @click="regServiceApp">
                {{ $t('btn.add')}}
            </el-button>
        </div> 
        <el-table v-loading="listLoading" :data="list" border highlight-current-row @row-click="detailServiceApp">            
            <el-table-column label="No." align="center">
                <template slot-scope="scope" align="center">
                    {{ scope.$index + (searchQuery.pageSize * (searchQuery.pageIdx-1))+1}}
                </template>
            </el-table-column>            
            <!-- 서비스명 -->
            <el-table-column :label="$t('app.svcNm')" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.appNm}}</span>
                </template>
            </el-table-column>
            <!-- 기관코드 -->
            <el-table-column :label="$t('app.userKey')" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.userKey}}</span>
                </template>
            </el-table-column>
            <!-- 기관명 -->
            <el-table-column :label="$t('app.useorgNm')" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.useorgNm}}</span>
                </template>
            </el-table-column>
            <!-- client_id -->
            <el-table-column :label="$t('app.clientId')" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.appClientId}}</span>
                </template>
            </el-table-column>
            <!-- 상태 -->
            <el-table-column :label="$t('app.status')" align="center" min-width="40">
                <template slot-scope="scope">
                    <el-tag class="button-no-bg" :type="scope.row.appStatCd=='OK'?'primary':scope.row.appStatCd=='CLOSE'?'info':'danger'">{{ scope.row.appStatCd | cdNmFilter('', codeStatusList)}}</el-tag>
                </template>
            </el-table-column>
            <!-- Actions -->
            <el-table-column :label="$t('app.actions')" align="center" min-width="30">
                <el-row slot-scope="scope" type="flex" align="start">
                    <el-button v-if="scope.row.appStatCd === 'CLOSE'" size="mini" plain @click.native.stop="handleModifyStatus(scope.row)">
                        {{ $t('api.ok')}}
                    </el-button>
                    <el-button v-if="scope.row.appStatCd === 'OK'" size="mini" plain @click.native.stop="handleModifyStatus(scope.row)">
                        {{ $t('api.close') }}
                    </el-button>
                    <el-button v-if="scope.row.appStatCd !== 'DEL'" plain size="mini" @click.native.stop="handlePolicy(scope.$index)">{{ $t('btn.policy') }}
                    </el-button>
                </el-row>
            </el-table-column>
        </el-table>
        <pagination v-show="totCnt>0" :total="totCnt" :page.sync="searchQuery.pageIdx" :limit.sync="searchQuery.pageSize" @pagination="getList"/>
        

        
<!--/app-container -->
    </div>
</template>

<script>
import { selectServiceAppList, serviceAppStatusUpd  } from '@/api/app'
import { selectCommCodeList } from '@/api/common'
import waves from '@/directive/waves'
import { mapGetters } from 'vuex'
import Pagination from '@/components/Pagination' // 페이징
export default {
     name: 'tAppManage',
     directives: { waves },
     components: { Pagination },
     filters: {
        cdNmFilter(code, txtParam, codeList) {
        const value = codeList.reduce((obj, cur) => {
            obj[cur.cdId] = cur.cdNm
            return obj
        }, {})
        return value[code]
        }
  },
     data() {
      return {
        totCnt: 0, // 총건수
        condStatusCode: {
            commCdId: '0030'
        },
        list: null,
        searchQuery: {
            pageIdx: 1,
            pageSize: 20,
            appNm: '',    // 서비스명
            useorgNm: '', // 기관명
            appStatCd: '' // 앱상태
        },
        codeStatusList: []
      }
    },
    watch: {
    },
    computed: {
    ...mapGetters([
      'roles',
      'userKey'
    ])
    },
    created() {
      this.getCodeList()
      this.getList()
    },
    
    methods: {
        handlePolicy(row) {
            this.$router.push({ path: '/servicePolicyList/servicePolicyCreate?userKey=' + this.list[row].userKey + '&useorgNm=' + this.list[row].useorgNm})

        },
        getCodeList() {
            selectCommCodeList(this.condStatusCode).then(response => {
                this.codeStatusList = response.codeList
                this.codeStatusList.unshift({ cdId: '', cdNm: '상태'})
            })
        },
        regServiceApp() {
          this.$router.push({ path: '/tAppManage/appCreate'})

        },
        detailServiceApp(data) {
            this.$router.push({path: '/tAppManage/appEdit?appKey=' + data.appKey})
        },
        // Actions (상태값 변경)
        handleModifyStatus(row) {
            const data = { appClientId: row.appClientId, appKey: row.appKey, appStatCd: row.appStatCd }
            this.$confirm(this.$t('message.changeConfirm'), {
            }).then(() => {
                serviceAppStatusUpd(data).then(response => {
                this.$message.success(this.$t('app.success_stat'))
                this.getList()
                })
            })
        },
        resetSearch() {
            this.searchQuery.pageIdx = 1
            this.searchQuery.pageSize = 20
            this.searchQuery.appNm = ''
            this.searchQuery.useorgNm = ''
            this.searchQuery.appStatCd = ''
            this.getList()
        },
        getList() {
            this.listLoading = true
            selectServiceAppList(this.searchQuery).then(response => {
                this.list = response.list
                this.totCnt = response.totCnt
                this.listLoading = false
            })
        }
    }
}
</script>

<style>

</style>