<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-model="listQuery.batchResult" :placeholder="$t('batchHistory.batchResult')" clearable style="width: 120px" class="filter-item">
        <el-option v-for="item in statusOptions" :key="item.key" :label="item.statusName" :value="item.key"/>
      </el-select>
      <el-date-picker v-model="listQuery.searchDt" :picker-options="pickerOptions" type="daterange" align="right" class="filter-item" :start-placeholder="$t('statistics.startDate')" :end-placeholder="$t('statistics.endDate')"/>
      <el-button v-waves class="filter-item" type="primary" plain icon="el-icon-search" size="small" style="margin-left: 0px;" @click="doSearch">{{ $t('btn.search') }}</el-button>
      <el-button v-waves class="filter-item" plain icon="el-icon-refresh-left" size="small" style="margin-left: 0px;" @click="doReset">{{ $t('btn.reset') }}</el-button>
    </div>
    <div class="proc-container">
      <el-date-picker class="filter-item"  v-model="batchCond.regDate" :picker-options="pickerOptions" placeholder="조회날짜" type="date" value-format="yyyyMMdd"/>
      <el-select v-model="batchCond.tmSlot" :placeholder="$t('batchHistory.tmSlot')" clearable style="width: 200px" class="filter-item">
        <el-option v-for="item in codeStatTimeList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <el-button v-waves :loading="confirmLoading" type="primary" @click="doBatchManual" style="margin-left: 0px;">
        {{ $t('batchHistory.batchExec') }}
      </el-button>
    </div>
    <el-table v-loading="listLoading" :data="list" border highlight-current-row :header-cell-style="{textAlign: 'center'}" >
      <el-table-column :label="$t('batchHistory.no')" align="center" width="120" type="index">
      </el-table-column>
      <el-table-column :label="$t('batchHistory.batchId')" align="left" min-width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.batchId }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('batchHistory.numberOfProcessing')" align="center" width="140">
        <template slot-scope="scope">
          <span>{{ scope.row.numberOfProcessing }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('batchHistory.batchResult')" align="center" width="120">
        <template slot-scope="scope">
          <el-tag :type="scope.row.batchResult | statusFilter">{{ scope.row.batchResult | statusTextFilter }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column :label="$t('batchHistory.batchStartDate')" align="center" width="180">
        <el-row slot-scope="scope">
          <span>{{ scope.row.batchStartDate }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('batchHistory.batchEndDate')" class-name="status-col" width="180">
        <template slot-scope="scope">
          <span>{{ scope.row.batchEndDate }}</span>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getList" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import { batchLogList } from '@/api/setting'
import { selectCommCodeList } from '@/api/common'
import { reqPost } from '@/api/common'
import { dateFormat } from '@/utils/common'

const statusOptions = [
  { key: 'SUCCESS', statusName: i18n.t('batchHistory.success'), tag: 'success' },
  { key: 'FAIL', statusName: i18n.t('batchHistory.fail'), tag: 'danger' }
]

export default {
  name: 'Pass',
  directives: { waves },
  filters: {
    statusTextFilter(status) {
      const nameValue = statusOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.statusName
        return acc
      }, {})
      return nameValue[status]
    },
     statusFilter(status) {
      const nameValue = statusOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.tag
        return acc
      }, {})
      return nameValue[status]
    }
  },
  components: { Pagination },
  data() {
    return {
      condCode: [
        {cond: {commCdId: '0600'},list: 'codeStatTimeList'},//통계코드
      ],
      codeStatTimeList: [],
      batchCond: {
        regDate: dateFormat('', 'yyyyMMdd'),
        tmSlot: ''
      },
      statusOptions,
      listQuery: {
        pageIdx: 1,
        pageSize: 20,
        batchId: '',
        batchResult: '',
        searchDt: [new Date(), new Date()],
        searchStDt: '',
        searchEnDt: ''
      },
      pickerOptions: {
        shortcuts: [{
          text: this.$t('statistics.lastWeek'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
            picker.$emit('pick', [start, end])
          }
        }, {
          text: this.$t('statistics.lastMonth'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
            picker.$emit('pick', [start, end])
          }
        }]
      },
      listLoading: false,
      totCnt: 0,
      selCnt: null,
      list: [],
      confirmLoading: false
    }
  },
  computed: {
    ...mapGetters([
      'roles',
      'userKey',
      'hfnCd'
    ])
  },
  created() {
    this.dateRange()
    this.getList()
    this.getCodeList()
  },
  methods: {
    //코드조회
    getCodeList() {
      for(var i in this.condCode){
        var codeCond = this.condCode[i];
        selectCommCodeList(codeCond.cond).then(response => {
          //async로인해 함수 밖 파라미터를 재대로 사용할수없어 코드존재여부 확인뒤
          //첫번째 대표코드를 통해서 코드 list에 맵핑 함
          if(response.codeList != null && response.codeList.length > 0){
            var codeObj = this.condCode.filter(function(e,i,a){
              if(e.cond.commCdId ==response.codeList[0].commCdId){
                return true
              }
            })
            this[codeObj[0].list] = response.codeList
            if(codeObj[0].nulldata != null){
              this[codeObj[0].list].unshift({ cdId: codeObj[0].nulldata.cdId, cdNm: codeObj[0].nulldata.cdNm})
            }
          }
        })
      }
    },
    dateRange() {
      const end = new Date()
      const start = new Date()
      start.setTime(new Date() - 3600 * 1000 * 24 * 7)
      this.listQuery.searchDt = [start, end]
    },
    doSearch() {
      this.listQuery.pageIdx = 1
      this.getList()
    },
    format_date_yyyymmdd(inputDate) {
      const y = inputDate.getFullYear()
      const m = inputDate.getMonth() + 1
      const d = inputDate.getDate()
      const mm = m < 10 ? '0' + m : m
      const dd = d < 10 ? '0' + d : d
      return '' + y + mm + dd
    },
    getList() {
      this.listLoading = true

      if (this.listQuery.searchDt) {
        this.listQuery.searchStDt = this.format_date_yyyymmdd(this.listQuery.searchDt[0])
        this.listQuery.searchEnDt = this.format_date_yyyymmdd(this.listQuery.searchDt[1])
      }

      batchLogList(this.listQuery).then(response => {
        this.list = response.list
        this.totCnt = response.totCnt

        setTimeout(() => {
          this.listLoading = false
        }, 1000)
      })
    },
    doBatchManual() {
      this.confirmLoading = true
      var regDate = this.batchCond.regDate
      var tmSlot = this.batchCond.tmSlot
      if(regDate == null || regDate == ''){
        return this.$alert(this.$t("batchHistory.regDateReq")).then(() => {
          this.confirmLoading = false
          return false
        });
      }

      if(tmSlot == null || tmSlot == ''){
        return this.$alert(this.$t("batchHistory.tmSlotReq")).then(() => {
          this.confirmLoading = false
          return false
        });
      }

      var param = {
        regDate : regDate
        ,tmSlot : tmSlot
      }
      reqPost('/api/batchManual', param).then(response => {
        this.confirmLoading = false
        this.doSearch()
      }).catch((err) => {
        this.confirmLoading = false
      })
    },
    doReset() {
      this.listQuery = {
        pageIdx: 1,
        pageSize: 20,
        batchId: '',
        batchResult: '',
        searchDt: [new Date(), new Date()],
        searchStDt: '',
        searchEnDt: ''
      },
      this.list = []
      this.dateRange()
    }
  }
}
</script>