<script src="../../../../lang/ko.js"></script>
<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.apiPolicy') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancelEdit">{{ $t('btn.before') }}</el-button>
          <el-button v-waves :loading="confirmLoading" type="primary" @click="handleConfirm">{{ $t('btn.add') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="responsive_between_p app-container">
      <el-card v-loading="loading" shadow="hover" class="left">
        <div slot="header">
          <strong>{{ dataQuery.apiNm }}</strong>
        </div>
        <el-form ref="ruleForm" :rules="rules" :model="dataQuery" label-position="left" label-width="150px">
          <el-form-item :label="$t('api.apiId')">
            <el-input v-model="dataQuery.apiId" maxlength="25" :disabled="true">{{ dataQuery.apiId }}</el-input>
          </el-form-item>
          <el-form-item :label="$t('api.maxUser')" prop="maxUser">
            <el-input v-model="dataQuery.maxUser" maxlength="10"/>
          </el-form-item>
          <el-form-item :label="$t('api.maxSize')" prop="maxSize">
            <el-input v-model="dataQuery.maxSize" maxlength="50"/>
          </el-form-item>
        </el-form>
      </el-card>
      <el-card v-loading="loading" shadow="hover" class="left">
        <el-form :inline="true" :model="dataQuery" class="demo-form-inline" label-position="left" label-width="150px">
          <el-form-item :label="$t('api.ltdTime')">
            <el-input v-model="dataQuery.ltdTime"></el-input>
          </el-form-item>
          <el-form-item>
            <el-select v-model="dataQuery.ltdTimeFm" style="width: 160px;">
              <el-option v-for="item in options" :key="item.key" :label="item.label" :value="item.key"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('api.ltdCnt')">
            <el-input v-model="dataQuery.ltdCnt"></el-input>
          </el-form-item>
        </el-form>
      </el-card>
      <el-card v-loading="loading" shadow="hover" class="left">
        <el-form :inline="true" :model="dataQuery" class="demo-form-inline" label-position="left" label-width="150px">
          <el-form-item :label="$t('api.txRestrTime')">
            <el-time-picker
              v-model="dataQuery.txRestrStart"
              format="HH:mm"
              value-format="HH:mm"
              placeholder="시작시간">
            </el-time-picker>
            <el-time-picker
              arrow-control
              v-model="dataQuery.txRestrEnd"
              format="HH:mm"
              value-format="HH:mm"
              placeholder="종료시간">
            </el-time-picker>
          </el-form-item>
          <el-form-item :label="$t('api.txRestrWeek')">
            <el-checkbox-group v-model="checkedWeeks">
              <el-checkbox v-for="item in weekOptions" :label="item.key" :key="item.key" :value="item.key" :checked="isChecked">{{item.label}}</el-checkbox>
            </el-checkbox-group>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { mapGetters } from 'vuex'
import { scrollTo } from '@/utils/scrollTo'
import { isEmpty } from '@/utils/validate'
import { selApiPolicy, regApiPolicy } from '@/api/policy'

const formatObj = {
  second: 1,
  minute: 60
}

export default {
  name: 'ApiPolicy',
  directives: { waves },
  components: { Sticky },
  data() {
    return {
      loading: false,
      confirmLoading: false,
      isChecked: false,
      value: '',
      totalSeconds: '',
      options: [
        { key: 'second', label: '초' },
        { key: 'minute', label: '분' }
      ],
      weekOptions : [
        { key: '2', label: '월'},
        { key: '3', label: '화'},
        { key: '4', label: '수'},
        { key: '5', label: '목'},
        { key: '6', label: '금'},
        { key: '7', label: '토'},
        { key: '1', label: '일'}
      ],
      checkedWeeks: [],
      isIndeterminate: true,
      dataQuery: {
        apiNm: '',
        apiId: '',
        maxUser: '',
        maxSize: '',
        ltdCnt: '',
        ltdTime: '',
        ltdTimeFm: '',
        limitedValue: '',
        txRestrStart: '',
        txRestrEnd: '',
        txRestrWeek: [],
        txRestrValue: '',
        apiUrl: '',
        gubun: ''
      },
      ruleForm: {
      },
      rules: {
      }
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'roles'
    ])
  },
  created() {
    scrollTo(0, 800)
    this.getList()
  },
  methods: {
    handleConfirm() {
      this.$refs['ruleForm'].validate((valid) => {
        if ((!isEmpty(this.dataQuery.ltdTime) && isEmpty(this.dataQuery.ltdCnt)) || (isEmpty(this.dataQuery.ltdTime) && !isEmpty(this.dataQuery.ltdCnt) || (!isEmpty(this.dataQuery.ltdTime) && isEmpty(this.dataQuery.ltdTimeFm))))  {
          alert(this.$t('api.validTimeCnt'))
          return false
        }
        if ((!isEmpty(this.dataQuery.txRestrStart) && isEmpty(this.dataQuery.txRestrEnd)) || (isEmpty(this.dataQuery.txRestrStart) && !isEmpty(this.dataQuery.txRestrEnd))) {
          alert(this.$t('api.validTxRestr'))
          return false
        }
        if (valid) {
          this.confirmLoading = true
          this.$confirm(this.$t('message.createConfirm'), {
            confirmButtonText: this.$t('btn.confirm'),
            cancelButtonText: this.$t('btn.cancel'),
            type: 'warning'
          }).then(() => {

            if (!isEmpty(this.dataQuery.ltdTime) || !isEmpty(this.dataQuery.ltdCnt)) {
              var value = formatObj[this.dataQuery.ltdTimeFm]
              this.dataQuery.ltdTime = this.dataQuery.ltdTime * value
              this.dataQuery.limitedValue = JSON.stringify({
                "limitedCount": this.dataQuery.ltdCnt, "limitedTime": this.dataQuery.ltdTime
              })
            }

            if (isEmpty(this.dataQuery.ltdTime)) {
              this.dataQuery.ltdTimeFm = ''
            }

            if (isEmpty(this.checkedWeeks)) {
              this.checkedWeeks = null
              this.dataQuery.txRestrWeek = null
            }

            if(!isEmpty(this.dataQuery.txRestrStart) && !isEmpty(this.dataQuery.txRestrEnd) && !isEmpty(this.checkedWeeks)) {
              var tmpTime = this.dataQuery.txRestrStart+'~'+this.dataQuery.txRestrEnd
              tmpTime = tmpTime.replace(/:/gi,"")
              this.dataQuery.txRestrWeek = this.checkedWeeks.join()
              this.dataQuery.txRestrValue = JSON.stringify({ "time": tmpTime, "week": this.dataQuery.txRestrWeek })
            }

            if(!isEmpty(this.dataQuery.txRestrStart) && !isEmpty(this.dataQuery.txRestrEnd) && isEmpty(this.checkedWeeks)) {
              var tmpTime = this.dataQuery.txRestrStart+'~'+this.dataQuery.txRestrEnd
              tmpTime = tmpTime.replace(/:/gi,"")
              this.dataQuery.txRestrValue = JSON.stringify({ "time": tmpTime })
            }

            if(!isEmpty(this.checkedWeeks) && isEmpty(this.dataQuery.txRestrStart) && isEmpty(this.dataQuery.txRestrEnd)) {
              this.dataQuery.txRestrWeek = this.checkedWeeks.join()
              this.dataQuery.txRestrValue = JSON.stringify({ "week": this.dataQuery.txRestrWeek })
            }

            regApiPolicy(this.dataQuery).then(response => {
              this.confirmLoading = false
              this.$message.success(this.$t('message.success'))
              this.$router.push({ path: '/apiManage' })
            }).catch(() => { this.confirmLoading = false })

          }).catch(() => {
            this.confirmLoading = false
          })
        }
      })
    },
    handleCancelEdit() {
      this.$router.push({ path: '/apiManage' })
    },
    getList() {
      selApiPolicy(this.$route.query.apiId).then(response => {
        this.loading = false
        this.dataQuery = response
        if (this.dataQuery.ltdTimeFm === "minute"){
          this.dataQuery.ltdTime = this.dataQuery.ltdTime /60
        }
        if ( !isEmpty(this.dataQuery.txRestrWeek) ) {
          var checked = this.dataQuery.txRestrWeek.split(',');
          for (let i = 0; i < checked.length; i++) {
            this.checkedWeeks.push(checked[i])
          }
        }
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .responsive_between_p {
    .left, .right {
      width: 880px;
    }
    .right {
      flex-direction: column;
      margin-left: 20px;
      .el-table .el-table{
        border-top: 1px solid #ededed;
      }
      .el-card__header {
        display: flex;
        align-items: center;
        height: 55px;
        padding: 0 20px;
        >div {
          width: 100%;
        }
      }
    }
    .el-table .el-table__expanded-cell {
      padding: 0 20px 0 80px;
    }
  }
  @media screen and (max-width: 1650px){
    .responsive_between_p {
      flex-direction: column;
      .right {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
</style>
