<template>
  <individual :manage-version-page="true"/>
</template>

<script>
import Individual from '@/views/api/apiManage/components/individual'

export default {
  name: 'ApiVersionUp',
  components: { Individual }
}
</script>
