<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-model="condMain.ctgrCd" :placeholder="$t('api.apiDivCd')" clearable style="width: 150px" class="filter-item">
        <el-option v-for="item in codeApiDivList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <el-select v-model="condMain.apiStatCd" :placeholder="$t('api.status')" clearable style="width: 120px" class="filter-item">
        <el-option v-for="item in codeStatusList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <div class="filter-item el-input el-input--medium" style="width: 280px;">
        <input v-model="condMain.apiNm" type="text" autocomplete="off" :placeholder="$t('api.searchApi')" @keyup.enter.native="doSearch" class="el-input__inner">
      </div>
      <el-button v-waves class="filter-item" type="primary" plain icon="el-icon-search" size="small" style="margin-left: 0px;" @click="doSearch">{{ $t('btn.search') }}</el-button>
      <el-button v-waves class="filter-item" plain icon="el-icon-refresh-left" size="small" style="margin-left: 0px;" @click="doReset">{{ $t('btn.reset') }}</el-button>
    </div>
    <div class="proc-container">
      <el-button v-waves style="margin-left: 0px;" class="filter-item" size="small" type="info" icon="el-icon-download" @click="excelDown">{{ $t('btn.excel') }}</el-button>
      <el-button v-permission="['ROLE_SYS_ADMIN','ROLE_HFN_ADMIN','ROLE_ORG_ADMIN']"  v-waves class="filter-item" type="primary" size="small" icon="el-icon-edit" style="margin-left: 0px;" @click="registerIndividual">
        {{ $t('btn.registerIndividual') }}
      </el-button>
      <el-button v-show="false" v-waves class="filter-item" type="primary" icon="el-icon-edit" @click="registerUnify">
        {{ $t('btn.registerUnify') }}
      </el-button>
    </div>
    <el-table v-loading="listLoading" :data="list" border highlight-current-row  @row-click="doEdit">
      <el-table-column label="No." type="index" width="50" align="center"></el-table-column>
      <el-table-column :label="$t('api.apiDivCd')" align="center" :min-width="3">
        <template slot-scope="scope">
          <span>{{ scope.row.ctgrCd | cdNmFilter('', codeApiDivList) }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('api.apiName')" align="center" :min-width="5">
        <el-row slot-scope="scope" type="flex" align="start">
          <span style="text-align: left;">{{ scope.row.apiNm }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('api.apiUrl')" align="center" :min-width="5">
        <el-row slot-scope="scope" type="flex" align="start">
          <span>{{ scope.row.apiUrl }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('api.method')" align="center" :min-width="2">
        <template slot-scope="scope">
          <el-tag class="button-no-bg" :type="scope.row.apiMthd=='GET'?'warning':scope.row.apiMthd=='POST'?'primary':'info'">{{ scope.row.apiMthd }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column :label="$t('api.status')" class-name="status-col" width="90">
        <template slot-scope="scope">
          <el-tooltip :disabled="scope.row.dlyTermDiv !== 'SEL'"
                      :content="$t('api.stopDate') + scope.row.dlyTermDt + scope.row.dlyTermTm | dateTimeFilter" placement="top">
            <el-tag class="button-no-bg" :type="scope.row.apiStatCd=='OK'?'primary':scope.row.apiStatCd=='CLOSE'?'info':'danger'">{{ scope.row.apiStatCd  | cdNmFilter('', codeStatusList) }}</el-tag>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column v-if="checkPermission(['ROLE_SYS_ADMIN','ROLE_HFN_ADMIN','ROLE_ORG_ADMIN'])" :label="$t('api.actions')" align="center" class-name="small-padding fixed-width" width="150">
        <el-row slot-scope="scope" type="flex" align="start">
          <el-button v-if="scope.row.apiStatCd === 'CLOSE'" size="mini" plain @click.native.stop="handleModifyStatus(scope.row,'OK')">
            {{ $t('api.ok')}}
          </el-button>
          <el-button v-if="scope.row.apiStatCd === 'OK' && scope.row.dlyTermDiv !== 'SEL'" size="mini" plain @click.native.stop="handleModifyStatus(scope.row,'CLOSE')">
            {{ $t('api.close') }}
          </el-button>
          <el-button plain size="mini" @click.native.stop="handlePolicy(scope.row)">{{ $t('btn.policy') }}</el-button>
        </el-row>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="condMain.pageIdx" :limit.sync="condMain.pageSize" @pagination="doSearch"/>
    <dialog-close-date :prop-dialog-close-date="dialogCloseOption" :prop-dialog-idx="dialogIdx" @handle-close="dialogCloseOption = false" @handle-reload-data="doSearch"/>
  </div>
</template>

<script>
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import DialogCloseDate from '@/views/api/apiManage/components/dialogCloseDate'
import axios from 'axios'
import permission from '@/directive/permission/index.js'
import checkPermission from '@/utils/permission'
import { getToken } from '@/utils/auth'
import { mapGetters } from 'vuex'
import { fetchApiList, updateApiStatus } from '@/api/api'
import { selectCommCodeList } from '@/api/common'
import { excelDown } from '@/api/common'

export default {
  name: 'ApiManage',
  directives: { waves, permission },
  filters: {
    cdNmFilter(code, txtParam, codeList) {
      const value = codeList.reduce((obj, cur) => {
        obj[cur.cdId] = cur.cdNm
        return obj
      }, {})
      return value[code]
    },
    dateTimeFilter(date) {
      const text = date.substring(0, 4)
      const y = date.substring(4, 8)
      const m = date.substring(8, 10)
      const d = date.substring(10, 12)
      const h = date.substring(12, 14)
      const tm = date.substring(14, 16)
      date = text + ' : ' + y + '-' + m + '-' + d + '  ' + h + ':' + tm
      return date
    }
  },
  components: { DialogCloseDate, Pagination },
  data() {
    return {
      condApiDivCode: {
        commCdId: '0110'
      },
      condMethodCode: {
        commCdId: '0120'
      },
      condStatusCode: {
        commCdId: '0030'
      },
      codeApiDivList: [],
      codeMethodList: [],
      codeStatusList: [],
      condMain: {
        ctgrCd: '',
        apiStatCd: '',
        apiNm: '',
        pageIdx: 1,
        pageSize: 20,
      },
      list: [],
      listLoading: false,
      totCnt: 0,    // 총건수
      selCnt: null, // 선택건수
      errorMsg: '', // 상태 중지로 변경시 필수
      dialogCloseOption: false,
      dialogIdx: '',
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'roles',
      'hfnCd'
    ]),
  },
  created() {
    this.getCodeList()
    this.doSearch()
  },
  methods: {
    checkPermission,
    getCodeList() {
      selectCommCodeList(this.condApiDivCode).then(response => {
        this.codeApiDivList = response.codeList
      })
      selectCommCodeList(this.condMethodCode).then(response => {
        this.codeMethodList = response.codeList
      })
      selectCommCodeList(this.condStatusCode).then(response => {
        this.codeStatusList = response.codeList
      })
    },
    doSearch() {
      this.listLoading = true
      fetchApiList(this.condMain).then(response => {
        this.list = response.list
        this.totCnt = response.totCnt
        this.listLoading = false
      })
    },
    doReset() {
      this.condMain = {
        ctgrCd: '',
        apiStatCd: '',
        apiNm: '',
        pageIdx: 1,
        pageSize: 20,
      }
      this.list = []
    },
    handlePolicy(row) {
      this.$router.push({ path: '/servicePolicyList/servicePolicyCreate?apiId=' + row.apiId + '&apiUrl=' + row.apiUrl})
    },
    registerIndividual() {
      this.$router.push({ path: '/apiManage/apiRegisterIndividual' })
    },
    registerUnify() {
      this.$router.push({ path: '/apiManage/apiRegisterUnify' })
    },
    handleModifyStatus(row, status) {
      if (row.apiStatCd === 'OK') {
        this.dialogCloseOption = true
        this.dialogIdx = row.apiId
      } else {
        const data = { apiId: row.apiId }
        updateApiStatus(data).then(response => {
          this.$message.success(this.$t('message.success'))
          this.doSearch()
        })
      }
    },
    doEdit(row) {
      this.$router.push({ path: '/apiManage/apiEdit?apiId=' + row.apiId})
    },
    excelDown() {
      let url = location.origin;
      var params = {
        searchType: 'apiExcel',
        ctgrCd: this.condMain.ctgrCd,
        apiStatCd: this.condMain.apiStatCd,
        apiNm: this.condMain.apiNm,
        pageIdx: this.condMain.pageIdx,
        pageSize: 50,
      }
      excelDown('/api/excelApi', params)
    },
    getFileNameByContentDisposition(contentDisposition){
      let regex = /filename[^;=\n]*=(UTF-8(['"]*))?(.*)/;
      let matches = regex.exec(contentDisposition);
      let filename;

      if (matches != null && matches[3]) {
        filename = matches[3].replace(/['"]/g, '');
      }
      return decodeURI(filename);
    }
  }
}
</script>
