<template>
  <div class="api_register_unify">
    <div v-show="unifyList" class="app-container">
      <p class="h3">{{ $t('api.addSwaggerTitle') }}</p>
      <div class="filter-container">
        <el-input :placeholder="$t('api.serveNamePlaceholder')" v-model="listQuery.apiSvc" style="width: 400px;" class="filter-item" />
        <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleSearch">{{ $t('btn.search') }}</el-button>
      </div>
      <div v-if="list.length>0" class="table_info">
        <el-row type="flex" align="middle">
          <p class="h4">API Server :</p>
          <p class="content">{{ listQuery.apiSvc }}</p>
        </el-row>
      </div>
      <el-table v-if="list.length>0" :data="list" border highlight-current-row>
        <el-table-column :label="$t('api.apiName')" align="center" width="200">
          <template slot-scope="scope">
            <span>{{ scope.row.apiNm }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('api.apiUrl')" align="center" width="240">
          <el-row slot-scope="scope" type="flex" align="start">
            <span>{{ scope.row.apiSvc }}/{{ scope.row.apiVer }}/{{ scope.row.apiUri }}</span>
          </el-row>
        </el-table-column>
        <el-table-column :label="$t('api.method')" align="center" width="80">
          <template slot-scope="scope">
            <span>{{ scope.row.apiMthd }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('api.actions')" align="center" width="80">
          <template slot-scope="scope">
            <el-button type="success" size="mini" @click="handleRegister(scope.row)">{{ $t('btn.add') }}</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <transition name="fade-transform" mode="out-in">
      <individual v-if="!unifyList" :unify-page="true" :api-url="apiUrl" @close-individual="unifyList = true; handleSearch()"/>
    </transition>
  </div>
</template>

<script>
import { fetchApiSwaggerList } from '@/api/api'
import waves from '@/directive/waves'
import Individual from '@/views/api/apiManage/components/individual'

export default {
  name: 'Unify',
  components: { Individual },
  directives: { waves },
  data() {
    return {
      unifyList: true,
      listQuery: {
        apiSvc: ''
      },
      apiUrl: {},
      list: []
    }
  },
  methods: {
    handleSearch() {
      if (this.listQuery.apiSvc.trim() !== '') {
        fetchApiSwaggerList(this.listQuery).then(response => {
          this.list = response.list
          if (response.list.length === 0) {
            this.$message.warning(this.$t('message.noResult'))
          }
        })
      } else {
        this.$message.warning(this.$t('api.serveNamePlaceholder'))
      }
    },
    handleRegister(row) {
      this.unifyList = false
      this.apiUrl = {
        apiSvc: row.apiSvc,
        apiVer: row.apiVer,
        apiUri: row.apiUri,
        apiMthd: row.apiMthd
      }
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .api_register_unify {
    .h3 {
      margin-bottom: 10px;
      color: #999999;
    }
    .table_info {
      padding: 20px 0 10px;
    }
    .h4 {
      width: 100px;
    }
    .content {
      line-height: 26px;
      font-size: 16px;
    }
  }
</style>
