<template>
  <individual/>
</template>

<script>
import Individual from '@/views/api/apiManage/components/individual'
export default {
  name: 'RegisterIndividual',
  components: { Individual }
}
</script>

<style scoped>

</style>
