<script src="../../../../lang/ko.js"></script>
<template>
  <div class="has-head-container">
    <!-- SubNavBar -->
    <sticky :class-name="'sub-navbar'">
      <!-- 개별등록 페이지용 SubNav -->
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.apiEchoDetail') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancelEdit">{{ $t('echo.before') }}</el-button>
					<el-button v-waves type="primary" @click="handleEditEcho">{{ $t('echo.edit') }}</el-button>
					<el-button v-waves type="danger" @click="handleDeleteEcho">{{ $t('echo.delete') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <!-- API 페이지 container -->
    <div class="responsive_between app-container">
      <el-row type="flex" class="right">

        <!--         -------------------------------    Option      -------------------------------            -->
        <el-card style="margin-top: 20px;">
          <div slot="header">
            <el-row type="flex" align="middle" justify="space-between">
              <el-col type="flex" align="left">
                <strong>{{ $t('echo.api.apiEchoInfo') }} </strong>
              </el-col>
            </el-row>
          </div>
          <div>
            <el-form label-position="left" label-width="130px" style="width: 100%;">
							<el-row type="flex" align="top" justify="space-between" class="between_form_item">
								<el-form-item :label="$t('echo.api.apiId')">
									<span>{{ echoQuery.apiId }}</span>
								</el-form-item>
								<el-form-item :label="$t('echo.api.apiNm')">
									<span>{{ echoQuery.apiNm }}</span>
								</el-form-item>
							</el-row>
							<el-form-item :label="$t('echo.api.apiUrl')">
								<span>{{ echoQuery.apiUrl }}</span>
              </el-form-item>

							<hr style="border: 0px; border-top: 1px solid #dce0e0;"/><br/>

							<el-row type="flex" align="top" justify="space-between" class="between_form_item">
								<el-form-item :label="$t('echo.api.regUser')">
									<span>{{ echoQuery.regUser }}</span>
								</el-form-item>
								<el-form-item :label="$t('echo.api.modUser')">
									<span>{{ echoQuery.modUser }}</span>
								</el-form-item>
							</el-row>
							<el-row type="flex" align="top" justify="space-between" class="between_form_item">
								<el-form-item :label="$t('echo.api.regDttm')">
									<span>{{ echoQuery.regDttm | dateFilter }}</span>
								</el-form-item>
								<el-form-item :label="$t('echo.api.modDttm')">
									<span>{{ echoQuery.modDttm | dateFilter }}</span>
								</el-form-item>
							</el-row>

							<hr style="border: 0px; border-top: 1px solid #dce0e0;"/><br/>

							<el-row type="flex" align="top" justify="space-between" class="between_form_item">
								<el-form-item :label="$t('api.searchKey')">
									<span>{{ echoQuery.searchKey }}</span>
								</el-form-item>
								<el-form-item :label="$t('api.searchValue')">
									<span>{{ echoQuery.searchValue }}</span>
								</el-form-item>
							</el-row>

							<el-form label-position="left" label-width="130px" style="width: 100%;">
								<el-form-item :label="$t('echo.echoStr')">
                  <textarea v-model="echoQuery.apiEcho" readonly maxlength="1000" :class="'custom-textarea'" rows="5"/>
								</el-form-item>
							</el-form>
							<el-form label-position="left" label-width="130px" style="width: 100%;">
								<el-form-item :label="$t('echo.echoForm')">
                  <textarea v-model="echoQuery.apiEcho2" readonly maxlength="1000" :class="'custom-textarea'" rows="10"/>
								</el-form-item>
							</el-form>
            </el-form>
          </div>
        </el-card>

        <el-card shadow="hover" style="margin-top: 20px;">
          <div slot="header">
            <el-row type="flex" align="middle" justify="space-between">
              <strong>{{ $t('title.responseInfo') }} </strong>
            </el-row>
          </div>
          <!--         ---------------------------    ResponseTable      ---------------------------            -->
          <el-table v-if="apiColumns.length > 0" :data="apiColumns" :default-expand-all="true" current-row-key="apiColumns.name" border highlight-current-row>
            <el-table-column type="expand">
              <template slot-scope="scope">
                <el-table v-if="scope.row.apiColumnList" :data="scope.row.apiColumnList" :show-header="false" current-row-key="scope.row.apiColumnList.clmCd" border highlight-current-row>
                  <el-table-column align="center" width="64">
                    <template slot-scope="props">
                      <span>{{ scope.$index + 1 }}-{{ props.$index + 1 }}</span>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" width="180">
                    <template slot-scope="props">
                      <el-input v-model="props.row.clmCd" maxlength="25" disabled/>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" width="240">
                    <template slot-scope="props">
                      <el-input v-model="props.row.clmCtnt" maxlength="1000" disabled/>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" width="180">
                    <template slot-scope="props">
                      <el-select v-model="props.row.clmType" style="width: 160px;" disabled>
                        <el-option v-for="item in listTypeOptions" :key="item.key" :label="item.name" :value="item.key"/>
                      </el-select>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" width="271">
                    <template slot-scope="props">
                      <el-input v-model="props.row.clmDefRes" readonly maxlength="50"/>
                    </template>
                  </el-table-column>
                </el-table>
              </template>
            </el-table-column>
            <!--    =========================   parent  ===============================    -->
            <el-table-column label="No" align="center" width="49">
              <template slot-scope="scope">
                <span>{{ scope.$index + 1 }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.item')" align="center" width="180">
              <template slot-scope="scope">
                <el-input v-model="scope.row.clmCd" maxlength="25" disabled/>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.direction')" align="center" width="240">
              <template slot-scope="scope">
                <el-input v-model="scope.row.clmCtnt" maxlength="1000" disabled/>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.type')" align="center" width="180">
              <template slot-scope="scope">
                <el-select v-model="scope.row.clmType" style="width: 160px;" disabled>
                  <el-option v-for="item in typeOptionsRes" :key="item.key" :label="item.name" :value="item.key"/>
                </el-select>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.clmDefRes')" align="center" width="340">
              <template slot-scope="scope">
                <el-input v-model="scope.row.clmDefRes" readonly :disabled="scope.row.clmType == 'LIST'" maxlength="50"/>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
      </el-row>
    </div>
	</div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import Element from 'element-ui'
import { scrollTo } from '@/utils/scrollTo'
import { fetchApiResponseList, detailApiEcho, deleteApiEcho } from '@/api/api'

export default {
  name: 'ApiEchoDetail',
  directives: { waves },
  components: { Sticky },
  filters: {
    dateFilter(date) {
      if (date !== null && date !== undefined) {
        const d = date.substring(0, 19)
        date = '' + d
      }
      return date
    }
  },
  props: {},
  data() {
    return {
      // typeOptionsRes: [
      //   { key: 'STRING', name: 'String' },
      //   { key: 'NUMBER', name: 'Number' },
      //   { key: 'BOOLEAN', name: 'Boolean' },
      //   { key: 'LIST', name: 'List' }
      // ],
      // listTypeOptions: [
      //   { key: 'STRING', name: 'String' },
      //   { key: 'NUMBER', name: 'Number' },
      //   { key: 'BOOLEAN', name: 'Boolean' }
      // ],
      typeOptionsRes: [
        { key: 'string', name: 'String' },
        { key: 'integer', name: 'Number' },
        { key: 'boolean', name: 'Boolean' },
        { key: 'LIST', name: 'List' }
      ],
      listTypeOptions: [
        { key: 'string', name: 'String' },
        { key: 'integer', name: 'Number' },
        { key: 'boolean', name: 'Boolean' }
      ],
      apiColumnDetail: {
        apiId: ''
      },
      apiColumns: [],
      defResStr: '',
      echoQuery: {
        seq: '',
				apiId: '',
				apiNm: '',
				apiEcho: '',
				apiEcho2: '',
        searchKey: '',
        searchValue: '',
				apiUrl: '',
				regUser: '',
				regDttm: '',
				modUser: '',
				modDttm: ''
      },
      keyIndex: ''
    }
  },
  computed: {
  },
  created() {
		scrollTo(0, 800)
		this.echoQuery.seq = this.$route.query.seq
		this.getDetail()
  },
  methods: {
    handleCancelEdit() {
      this.$router.push({ path: '/apiEchoManage' })
		},
		handleDeleteEcho() {
			deleteApiEcho(this.echoQuery).then(response => {
				this.$message.success('API 대응답 정보를 삭제하였습니다.')
				this.$router.push({ path: '/apiEchoManage' })
			})
		},
		handleEditEcho() {
			this.$router.push({ path: '/apiEchoManage/edit?seq=' + this.echoQuery.seq })
		},
		getDetail() {
			detailApiEcho(this.echoQuery).then(response => {
				this.echoQuery.apiId = response.echo.apiId
				this.echoQuery.apiNm = response.echo.apiNm
				this.echoQuery.apiEcho = response.echo.apiEcho
				this.echoQuery.searchKey = response.echo.searchKey
				this.echoQuery.searchValue = response.echo.searchValue
				this.echoQuery.apiUrl = response.echo.apiUrl
				this.echoQuery.regUser = response.echo.regUser
				this.echoQuery.regDttm = response.echo.regDttm
				this.echoQuery.modUser = response.echo.modUser
				this.echoQuery.modDttm = response.echo.modDttm
				
				this.getResponseList()
			})
		},
		getResponseList() {
			this.apiColumnDetail.apiId = this.echoQuery.apiId
      fetchApiResponseList(this.apiColumnDetail).then(response => {
				this.apiColumns = response.columns
				
				this.strToJson()
				this.jsonPretty()
      })
		},
		// strToJson() {
    //   let obj = JSON.parse(this.echoQuery.apiEcho)
		// 	for(var i=0; i<this.apiColumns.length; i++) {
		// 		if (this.apiColumns[i].clmType == 'STRING') {
		// 			this.apiColumns[i].clmDefRes = String(obj[this.apiColumns[i].clmCd])
		// 		} else if (this.apiColumns[i].clmType == 'NUMBER') {
		// 			this.apiColumns[i].clmDefRes = String(obj[this.apiColumns[i].clmCd])
		// 		} else if (this.apiColumns[i].clmType == 'BOOLEAN') {
		// 			this.apiColumns[i].clmDefRes = String(obj[this.apiColumns[i].clmCd])
		// 		} else if(this.apiColumns[i].clmType == 'LIST') {
		// 			for(var j=0; j<this.apiColumns[i].apiColumnList.length; j++) {
		// 				if(this.apiColumns[i].apiColumnList[j].clmType == 'STRING') {
		// 					this.apiColumns[i].apiColumnList[j].clmDefRes = String(obj[this.apiColumns[i].clmCd][0][this.apiColumns[i].apiColumnList[j].clmCd])
		// 				} else if (this.apiColumns[i].apiColumnList[j].clmType == 'NUMBER') {
		// 					this.apiColumns[i].apiColumnList[j].clmDefRes = String(obj[this.apiColumns[i].clmCd][0][this.apiColumns[i].apiColumnList[j].clmCd])
		// 				} else if (this.apiColumns[i].apiColumnList[j].clmType == 'BOOLEAN') {
		// 					this.apiColumns[i].apiColumnList[j].clmDefRes = String(obj[this.apiColumns[i].clmCd][0][this.apiColumns[i].apiColumnList[j].clmCd])
		// 				}						
		// 			}
		// 		}
		// 	}
    // },
    strToJson() {
      let obj = JSON.parse(this.echoQuery.apiEcho)
			for(var i=0; i<this.apiColumns.length; i++) {
				if (this.apiColumns[i].clmType == 'string') {
					this.apiColumns[i].clmDefRes = String(obj[this.apiColumns[i].clmCd])
				} else if (this.apiColumns[i].clmType == 'integer') {
					this.apiColumns[i].clmDefRes = String(obj[this.apiColumns[i].clmCd])
				} else if (this.apiColumns[i].clmType == 'boolean') {
					this.apiColumns[i].clmDefRes = String(obj[this.apiColumns[i].clmCd])
				} else if(this.apiColumns[i].clmType == 'LIST') {
					for(var j=0; j<this.apiColumns[i].apiColumnList.length; j++) {
						if(this.apiColumns[i].apiColumnList[j].clmType == 'string') {
							this.apiColumns[i].apiColumnList[j].clmDefRes = String(obj[this.apiColumns[i].clmCd][0][this.apiColumns[i].apiColumnList[j].clmCd])
						} else if (this.apiColumns[i].apiColumnList[j].clmType == 'integer') {
							this.apiColumns[i].apiColumnList[j].clmDefRes = String(obj[this.apiColumns[i].clmCd][0][this.apiColumns[i].apiColumnList[j].clmCd])
						} else if (this.apiColumns[i].apiColumnList[j].clmType == 'boolean') {
							this.apiColumns[i].apiColumnList[j].clmDefRes = String(obj[this.apiColumns[i].clmCd][0][this.apiColumns[i].apiColumnList[j].clmCd])
						}						
					}
				}
			}
		},
		jsonPretty() {
			let obj = JSON.parse(this.echoQuery.apiEcho)
			let obj2 = JSON.stringify(obj,null, 8)
			this.echoQuery.apiEcho2 = obj2
		}
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .responsive_between {
    display: flex;
    .left, .right {
      width: 1080px;
    }
    .right {
      flex-direction: column;
      margin-left: 20px;
      .el-table .el-table{
        border-top: 1px solid #ededed;
      }
      .el-card__header {
        display: flex;
        align-items: center;
        height: 55px;
        padding: 0 20px;
        >div {
          width: 100%;
        }
      }
    }
    .el-table .el-table__expanded-cell {
      padding: 0 20px 0 80px;
    }
  }
  .input-new-tag {
    width: 100px;
  }
  @media screen and (max-width: 1650px){
    .responsive_between {
      flex-direction: column;
      .right {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
	.between_form_item {
		.el-form-item {
			width: 50%;
		}
	}
</style>
