<template>
  <div class="has-head-container">
    <!-- SubNavBar -->
    <sticky :class-name="'sub-navbar'">
      <!-- 개별등록 페이지용 SubNav -->
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.apiEchoEdit') }}</p>
        <el-row type="flex" class="btn_box">
					<el-button :disabled="isGen" v-waves plain @click="makeJsonString">{{ $t('echo.genDefRes') }}</el-button>
          <el-button v-waves type="danger" @click="handleDeleteEcho">{{ $t('echo.delete') }}</el-button>
					<el-button :disabled="!isGen" v-waves type="primary" @click="handleUpdateEcho">{{ $t('btn.edit') }}</el-button>
          <el-button type="info" @click="handleCancelEdit">{{ $t('btn.list') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <!-- API 페이지 container -->
    <div class="responsive_between_api app-container">
      <el-row>
        <!---------------------------------    Option      --------------------------------->
        <el-card>
          <div slot="header">
            <strong class="strong-only">{{ $t('echo.apiInfo') }} </strong>
          </div>
          <div>
            <el-form label-position="left" label-width="130px">
							<el-row type="flex">
								<el-form-item :label="$t('api.apiDivCd')">
									<span>{{ echoQuery.apiDivNm }}</span>
								</el-form-item>
								<el-form-item :label="$t('echo.api.apiNm')">
									<span>{{ echoQuery.apiNm }}</span>
								</el-form-item>
							</el-row>
							<el-form-item :label="$t('echo.api.apiUrl')">
								<span>{{ echoQuery.apiUrl }}</span>
              </el-form-item>
            </el-form>
          </div>
        </el-card>

        <el-card shadow="hover" style="margin-top: 20px;">  
          <div slot="header">
            <strong class="strong-only">{{ $t('echo.api.setSearchKey') }}</strong>
          </div>
          <div>
            <el-form label-position="left" label-width="130px">
              <el-row type="flex">
                <el-form-item :label="$t('echo.api.searchKey')" class="width-half">
                  <el-select v-model="searchKey" :placeholder="searchKey" disabled clearable style="width:calc(100% - 90px)">
                    <el-option v-for="item in apiRequest" :key="item.clmCd" :label="item.clmNm" :value="item.clmCd">
                      <span style="float: left">{{ item.clmCd }}</span>
                      <span style="float: right; color: #8492a6; font-size: 12px">{{ item.clmType }}</span>
                    </el-option>
                  </el-select>
                  <el-button plain size="medium" style="margin-left: 10px;" @click="handleKeyChange">{{ $t('echo.changeSearchKey') }}</el-button>
                </el-form-item>
                <el-form-item :label="$t('echo.api.searchValue')" v-if="isKeyReg && !isKeyNULL" class="width-half ml20">
                  <el-input :placeholder="$t('echo.inputSearchValue')" v-model="echoQuery.searchValue" clearable class="filter-item"/>
                </el-form-item>
              </el-row>
            </el-form>
          </div>
        </el-card>

        <el-card v-if="apiColumns.length > 0" shadow="hover" style="margin-top: 20px;">
          <div slot="header">
            <strong class="strong-only">{{ $t('title.responseInfo') }} </strong>
          </div>
          <!----------------------------- ResponseTable ----------------------------->
          <el-table :data="apiColumns" default-expand-all :header-cell-style="{textAlign: 'center'}" current-row-key="apiColumns.name" border highlight-current-row>
            <el-table-column type="expand">
              <!-------서브 1 시작---------->
              <template slot-scope="scope">
                <el-table v-if="scope.row.apiColumnList" :data="scope.row.apiColumnList" :default-expand-all="true" :show-header="false" current-row-key="scope.row.apiColumnList.seqNo" border highlight-current-row>
                  <el-table-column type="expand">
                    <!-------서브 2 시작---------->
                    <template slot-scope="props">
                      <el-table v-if="props.row.apiColumnList" :data="props.row.apiColumnList" :show-header="false"
                                current-row-key="props.row.apiColumnList.clmCd" border highlight-current-row>
                        <el-table-column width="105" align="right">
                          <template slot-scope="props2" >
                            <span>{{ scope.$index + 1 }}-{{ props.$index + 1 }}-{{ props2.$index + 1 }}</span>
                          </template>
                        </el-table-column>
                        <el-table-column align="center" width="180">
                          <template slot-scope="props2">
                            <el-input v-model="props2.row.clmCd" disabled maxlength="25" />
                          </template>
                        </el-table-column>
                        <el-table-column align="center" width="240">
                          <template slot-scope="props2">
                            <el-input v-model="props2.row.clmCtnt" disabled maxlength="1000" />
                          </template>
                        </el-table-column>
                        <el-table-column align="center" width="180">
                          <template slot-scope="props2">
                            <el-select v-model="props2.row.clmType" disabled>
                              <el-option v-for="item in codeCtList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                            </el-select>
                          </template>
                        </el-table-column>
                        <el-table-column align="center" min-width="271">
                          <template slot-scope="props2">
                            <el-input v-model="props2.row.clmDefRes" maxlength="50" @change="echoSubListValidation(props.$index, props2.$index)"/>
                          </template>
                        </el-table-column>
                      </el-table>
                    </template>
                    <!-------서브 2 종료---------->
                  </el-table-column>
                  <el-table-column align="right" width="75">
                    <template slot-scope="props">
                      <span>{{ scope.$index + 1 }}-{{ props.$index + 1 }}</span>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" width="180">
                    <template slot-scope="props">
                      <el-input v-model="props.row.clmCd" maxlength="25" disabled/>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" width="240">
                    <template slot-scope="props">
                      <el-input v-model="props.row.clmCtnt" maxlength="1000" disabled/>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" width="180">
                    <template slot-scope="props">
                      <el-select v-model="props.row.clmType" style="width: 160px;" disabled>
                        <el-option v-for="item in codeCtList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                      </el-select>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" min-width="271">
                    <template slot-scope="props">
                      <el-input v-model="props.row.clmDefRes" maxlength="50" :disabled="props.row.clmType == 'LIST'" @change="echoSubListValidation(scope.$index, props.$index)"/>
                    </template>
                  </el-table-column>
                </el-table>
              </template>
            </el-table-column>
            <!------------------------- parent ----------------------------->
            <el-table-column label="No" align="right" width="95">
              <template slot-scope="scope">
                <span>{{ scope.$index + 1 }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.item')" align="center" width="180">
              <template slot-scope="scope">
                <el-input v-model="scope.row.clmCd" maxlength="25" disabled/>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.direction')" align="center" width="240">
              <template slot-scope="scope">
                <el-input v-model="scope.row.clmCtnt" maxlength="1000" disabled/>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.type')" align="center" width="180">
              <template slot-scope="scope">
                <el-select v-model="scope.row.clmType" style="width: 160px;" disabled>
                  <el-option v-for="item in codeCtList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                </el-select>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.clmDefRes')" align="center" min-width="271">
              <template slot-scope="scope">
                <el-input v-model="scope.row.clmDefRes" :disabled="scope.row.clmType == 'LIST'" maxlength="50" @change="echoValidation(scope.$index)"/>
              </template>
            </el-table-column>
          </el-table>
        </el-card>

				<!-------------------------- 대응답정보 생성 card ----------------------------->
        <el-card shadow="hover" style="margin-top: 20px;">
          <div slot="header">
            <strong class="strong-only">{{ $t('api.clmDefRes') }} </strong>
          </div>
          <div>
            <el-form label-position="left" label-width="130px" style="width: 100%;">
              <el-row>
                <el-form-item :label="$t('echo.echoStr')">
                  <textarea v-model="echoQuery.apiEcho" maxlength="1000" :class="'custom-textarea'" rows="5" readonly/>
                </el-form-item>
              </el-row>
              <el-row>
                <el-form-item :label="$t('echo.echoForm')">
                  <textarea v-model="jsonForm" maxlength="1000" :class="'custom-textarea'" rows="10" readonly/>
                </el-form-item>
              </el-row>
              <el-row type="flex">
                <el-form-item :label="$t('echo.api.searchKey')">
                  <el-input v-model="searchKey" readonly maxlength="30"/>
                </el-form-item>
                <el-form-item :label="$t('echo.api.searchValue')" class="ml20">
                  <el-input v-model="echoQuery.searchValue" readonly maxlength="30"/>
                </el-form-item>
              </el-row>
            </el-form>
          </div>
        </el-card>

        <el-card style="margin-top: 20px;">
          <div slot="header">
            <strong class="strong-only">{{ $t('echo.regSearchKey') +'/' +$t('echo.edit')}} </strong>
          </div>
          <div>
            <el-form label-position="left" label-width="130px" style="width: 100%;">
              <el-row type="flex" align="top" justify="space-between" class="between_form_item">
                <el-form-item :label="$t('echo.api.regUser')">
                  <span>{{ echoQuery.regUser }}</span>
                </el-form-item>
                <el-form-item :label="$t('echo.api.modUser')">
                  <span>{{ echoQuery.modUser }}</span>
                </el-form-item>
              </el-row>
              <el-row type="flex" align="top" justify="space-between" class="between_form_item">
                <el-form-item :label="$t('echo.api.regDttm')">
                  <span>{{ echoQuery.regDttm | dateFilter }}</span>
                </el-form-item>
                <el-form-item :label="$t('echo.api.modDttm')">
                  <span>{{ echoQuery.modDttm | dateFilter }}</span>
                </el-form-item>
              </el-row>
            </el-form>
          </div>
        </el-card>
      </el-row>
    </div>

		<!------------------------- API 검색 키 변경 확인질의 Dialog --------------------------->
    <el-dialog title="API 대응답 검색 키 사용 현황" :visible.sync="dialogKeyDetail" width="60%">
      <el-card shadow="never">
        <div slot="header">
          <strong class="strong-only" style="font-size:16px">{{ $t('echo.apiInfo') }}</strong>
        </div>
        <div>
          <el-form label-position="left" label-width="130px" style="width: 100%; margin-bottom:0px">
            <el-row type="flex">
              <el-col :span="24">
                 <el-form-item :label="$t('echo.api.apiId')" style="margin-bottom:0px !important;">
                  <span>{{ apiInfo.apiId }}</span>
                </el-form-item>
              </el-col>
              <el-col>
                <el-form-item :label="$t('echo.api.searchKey')" style="margin-bottom:0px !important;">
                  <span>{{ apiInfo.searchKey }}</span>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-card>
      <span style="display:block; margin:20px 0px"><b style="font-size: 16px;">[ 현재 사용중인 대응답 : {{ apiInfo.echoList.length }} 개 ]</b></span>
      <el-table :data="apiInfo.echoList" border highlight-current-row height="250" style="margin-top: 10px;">
        <el-table-column :label="$t('api.apiId')" align="center" width="120">
          <template slot-scope="scope">
            <span>{{ scope.row.apiId }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('api.searchValue')" align="center" width="120">
          <el-row slot-scope="scope">
            <span>{{ scope.row.searchValue }}</span>
          </el-row>
        </el-table-column>
        <el-table-column :label="$t('echo.api.echo')" align="left" min-width="447">
          <el-row slot-scope="scope">
            <span>{{ scope.row.apiEcho | textLengthFilter }}</span>
          </el-row>
        </el-table-column>
      </el-table>
      <p/>
      <code style="height: 20px; background: #FFFFFF;" align="center">
        <span style="font-size: 17px;">API의 검색키를 변경하면 해당 API의 기존 대응답들의 검색키가 <b style="color: red;">일괄 변경</b>됩니다.</span>
        <span style="font-size: 12px;"><br/>변경 후 대응답정보를 저장하지 않으면 키 변경은 반영되지 않습니다.</span>
      </code>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogKeyDetail = false">취소</el-button>
        <el-button type="primary" @click="dialogKeyChange = true">변경</el-button>
      </span>
    </el-dialog>

    <!------------------------- API 검색 키 변경 Dialog --------------------------->
    <el-dialog title="API 대응답 검색 키 변경" :visible.sync="dialogKeyChange" width="500px">
      <div>
        <el-form label-position="left" label-width="130px" style="width: 100%; height: 70px;">
          <el-row type="flex">
            <el-form-item :label="$t('echo.api.searchKey')" style="position: relative; left: 12%;">
              <el-select v-model="searchKey" :placeholder="searchKey" clearable>
                <el-option v-for="item in apiRequest" :key="item.clmCd" :label="item.clmNm" :value="item.clmCd">
                  <span style="float: left">{{ item.clmCd }}</span>
                  <span style="float: right; color: #8492a6; font-size: 12px">{{ item.clmType }}</span>
                </el-option>
              </el-select>
            </el-form-item>
          </el-row>
        </el-form>
        <code style="height: 20px; background: #FFFFFF; position: relative; top: -34px;" align="center">
          <span style="font-size: 16px;">검색키를 "사용안함"으로 변경하면 기존 등록되어 있던<br/>해당 API의 대응답들이 <b style="color: red;">일괄 삭제</b>됩니다.</span>
          <span style="font-size: 12px;"><br/>변경 후 대응답정보를 저장하지 않으면 키 변경은 반영되지 않습니다.</span>
        </code>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogKeyChange = false">취소</el-button>
        <el-button type="primary" @click="handleKeyUpdate">변경 완료</el-button>
      </span>
    </el-dialog>

	</div>
</template>

<script>
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { selectCommCodeList } from '@/api/common'
import { scrollTo } from '@/utils/scrollTo'
import { fetchApiRequestList, fetchApiResponseList, detailApiEcho, deleteApiEcho, apiEchos, updateApiSearchKey, updateApiEcho, regApiEcho } from '@/api/api'

export default {
  name: 'ApiEchoEdit',
  directives: { waves },
  components: { Sticky },
  filters: {
    textLengthFilter(str) {
      const s = str
      if(s.length > 64) {
        str = s.substring(0,64) + ' ...'
      }
      return str
    }
  },
  props: {},
  data() {
    return {
      condCode: [
        {cond: {commCdId: '0190'},list: 'codeCtList'}//컬럼타입
      ],
      apiColumnDetail: {
        apiId: ''
      },
      codeCtList: [],
      apiColumns: [],
      defResStr: '',
      echoQuery: {
        seq: '',
				apiId: '',
				apiNm: '',
				apiEcho: '',
        searchValue: '',
        apiDivCd: '',
        apiDivNm: '',
				apiUrl: ''
      },
			keyIndex: '',
			isKeyReg: true,
			isKeyNULL: false,
			isKeyChange: false,
			apiRequest: [],
			isGen: false,
			dialogKeyDetail: false,
			dialogKeyChange: false,
			apiInfo: {
        apiId: '',
        apiNm: '',
        apiUrl: '',
        searchKey: '',
        echoList: []
			},
			jsonForm: '',
			searchKey: ''
    }
  },
  computed: {
  },
  watch: {
    apiColumns: {
      deep: true,
      immediate: true,
      handler: function() {
        this.isGen = false
      }
		},
		isKeyChange: {
			deep: true,
      immediate: true,
      handler: function() {
        this.isGen = false
      }
		}
  },
  created() {
		scrollTo(0, 800)
		this.echoQuery.seq = this.$route.query.seq
    this.getCodeList()
		this.getDetail()
  },
  methods: {
    //코드조회
    getCodeList() {
      for(var i in this.condCode){
        var codeCond = this.condCode[i];
        selectCommCodeList(codeCond.cond).then(response => {
          //async로인해 함수 밖 파라미터를 재대로 사용할수없어 코드존재여부 확인뒤
          //첫번째 대표코드를 통해서 코드 list에 맵핑 함
          if(response.codeList != null && response.codeList.length > 0){
            var codeObj = this.condCode.filter(function(e,i,a){
              if(e.cond.commCdId ==response.codeList[0].commCdId){
                return true
              }
            })
            this[codeObj[0].list] = response.codeList
          }
        })
      }
    },
    handleCancelEdit() {
      this.$router.push({ path: '/apiEchoManage' })
		},
		handleUpdateEcho() {

			// 대응답 생성이 완료되었다면 대응답 업데이트
			if(this.isGen) {
					// API 검색 키가 변경되었다면 검색키 업데이트
				if(this.isKeyChange) {
					const params =  {
						apiId: this.echoQuery.apiId,
						searchKey: ''
					}

          this.echoQuery.searchKey = this.searchKey

          // API 검색키가 '사용안함'으로 변경되고 대응답 수정 -> 키 업데이트, 대응답 등록
					if(this.searchKey == '사용안함') {
            params.searchKey = 'NULL'
            this.echoQuery.searchValue = 'NULL'
            this.isKeyNULL = true

            // API 검색키 업데이트
            updateApiSearchKey(params)

            regApiEcho(this.echoQuery).then(response => {
              this.$message.success('대응답정보 등록 성공')
              this.$router.push({ path: '/apiEchoManage' })
            })

					} else {
            // API 검색키가 '사용안함'이 아닌 것으로 변경되고 대응답 수정 -> 키 업데이트, 대응답 업데이트
						params.searchKey = this.searchKey
            this.isKeyNULL = false

            // API 검색키 업데이트
            updateApiSearchKey(params)

            updateApiEcho(this.echoQuery).then(response => {
              this.$message.success('API 대응답 업데이트를 완료했습니다.')
              this.getDetail()
            })
          }
				} else {
          // 검색키가 '사용안함'이면 검색값은 무조건 NULL
          if(this.searchKey == '사용안함') {
            this.echoQuery.searchValue = 'NULL'
					}
          // API 검색키가 변경되지 않고 대응답 수정 -> 대응답 업데이트
          updateApiEcho(this.echoQuery).then(response => {
            this.$message.success('API 대응답 업데이트를 완료했습니다.')
            this.getDetail()
          })
        }
			} else {
				this.$message.error('\"대응답정보 생성\" 버튼을 클릭하여 확인 후 저장 버튼을 눌러 저장해주세요.')
			}

		},
		handleKeyChange() {
			const params =  {
        apiId: this.echoQuery.apiId
      }
      apiEchos(params).then(response => {
        this.apiInfo.echoList = response.echoList
        this.dialogKeyDetail = true
      })
		},
		handleKeyUpdate() {
			this.dialogKeyDetail = false
      this.dialogKeyChange = false
      this.isKeyChange = true

      if(this.searchKey == '사용안함') {
        this.isKeyNULL = true
        this.echoQuery.searchValue = 'NULL'
      } else {
        this.isKeyNULL = false
      }

			this.$message.success('API 대응답 검색 키 변경을 완료하였습니다. 검색키 변경은 대응답정보 저장 시에 반영됩니다.')
		},
		getDetail() {
			detailApiEcho(this.echoQuery).then(response => {
        this.echoQuery.seq = response.echo.seq
				this.echoQuery.apiId = response.echo.apiId
				this.echoQuery.apiNm = response.echo.apiNm
				this.echoQuery.apiEcho = response.echo.apiEcho
				this.echoQuery.searchValue = response.echo.searchValue
				this.echoQuery.apiUrl = response.echo.apiUrl
        this.echoQuery.regUser = response.echo.regUser
				this.echoQuery.regDttm = response.echo.regDttm
				this.echoQuery.modUser = response.echo.modUser
				this.echoQuery.modDttm = response.echo.modDttm
        this.echoQuery.apiDivNm = response.echo.apiDivNm


				this.apiInfo.apiId = response.echo.apiId

        if(response.echo.searchKey == 'NULL') {
          this.searchKey = '사용안함'
          this.isKeyNULL = true
          this.echoQuery.searchValue = 'NULL'
        } else {
          this.apiInfo.searchKey = response.echo.searchKey
          this.searchKey = response.echo.searchKey
          this.isKeyNULL = false
        }
				this.getRequestList()
				this.getResponseList()
			})
		},
		getRequestList() {
			this.apiColumnDetail.apiId = this.echoQuery.apiId
			fetchApiRequestList(this.apiColumnDetail).then(response => {
        this.apiRequest = response.columns
        this.apiRequest.unshift({ clmType: 'NULL', clmCd: '사용안함' })
      })
		},
		getResponseList() {
			this.apiColumnDetail.apiId = this.echoQuery.apiId
      fetchApiResponseList(this.apiColumnDetail).then(response => {
				this.apiColumns = response.columns
        let obj = JSON.parse(this.echoQuery.apiEcho)
				this.strToJson(this.apiColumns, obj)
        this.jsonPretty()
      })
		},
    strToJson(obj, valueObj) {
      
			for(var i=0; i<obj.length; i++) {
        let val = valueObj[obj[i].clmCd];
        if(val == null) continue;
				if (obj[i].clmType == 'string') {
					obj[i].clmDefRes = String(val)
				} else if (obj[i].clmType == 'integer') {
					obj[i].clmDefRes = String(val)
				} else if (obj[i].clmType == 'boolean') {
					obj[i].clmDefRes = String(val)
				} else if(obj[i].clmType == 'LIST') {
					this.strToJson(obj[i].apiColumnList,val[0])
				}
			}
		},
		jsonPretty() {
			let obj = JSON.parse(this.echoQuery.apiEcho)
			let obj2 = JSON.stringify(obj,null, 8)
			this.jsonForm = obj2
		},
    makeJsonString() {
      if (this.apiColumns != null && this.apiColumns != '' && this.apiColumns != undefined) {
        let obj = new Object
        var formList = this.apiColumns
        this.parseJson(obj, formList)
        this.echoQuery.apiEcho = JSON.stringify(obj)
        this.isGen = true

        this.jsonPretty()
        if(this.searchKey == '사용안함') {
          this.echoQuery.searchValue = 'NULL'
        }
      }
    },
    parseJson(obj, orgObj){
      for (var i=0; i<orgObj.length; i++) {
        if (orgObj[i].clmType == 'LIST') {
          var subList = orgObj[i].apiColumnList
          let subObj = new Object
          var arr = new Array
          arr.push(this.parseJson(subObj, subList))
          obj[orgObj[i].clmCd] = arr
        } else if (orgObj[i].clmType == 'string') {
          obj[orgObj[i].clmCd] = String(orgObj[i].clmDefRes)
        } else if (orgObj[i].clmType == 'integer') {
          obj[orgObj[i].clmCd] = Number(orgObj[i].clmDefRes)
        } else if (orgObj[i].clmType == 'boolean') {
          obj[orgObj[i].clmCd] = Boolean(orgObj[i].clmDefRes)
        }
      }
      return obj
    },
    echoValidation(scope) {
      if (this.apiColumns[scope].clmType == 'string') {
        if(!this.isString(this.apiColumns[scope].clmDefRes)) {
          this.apiColumns[scope].clmDefRes = ''
          this.$message.error('대응답 값 형식이 올바르지 않습니다. ' + this.apiColumns[scope].clmCd + '의 대응답 정보에는 \"' + this.apiColumns[scope].clmType + '\"을(를) 넣어주세요.')
        }
      } else if (this.apiColumns[scope].clmType == 'integer') {
        if (!this.isNumber(this.apiColumns[scope].clmDefRes)) {
          this.apiColumns[scope].clmDefRes = ''
          this.$message.error('대응답 값 형식이 올바르지 않습니다. ' + this.apiColumns[scope].clmCd + '의 대응답 정보에는 \"' + this.apiColumns[scope].clmType + '\"을(를) 넣어주세요.')
        }
      } else if (this.apiColumns[scope].clmType == 'boolean') {
        if (!this.isBoolean(this.apiColumns[scope].clmDefRes)) {
          this.apiColumns[scope].clmDefRes = ''
          this.$message.error('대응답 값 형식이 올바르지 않습니다. ' + this.apiColumns[scope].clmCd + '의 대응답 정보에는 \"' + this.apiColumns[scope].clmType + '\"을(를) 넣어주세요.')
        }
      }
    },
    echoSubListValidation(scope, props) {
      if (this.apiColumns[scope].apiColumnList[props].clmType == 'string') {
        if(!this.isString(this.apiColumns[scope].apiColumnList[props].clmDefRes)) {
          this.apiColumns[scope].apiColumnList[props].clmDefRes = ''
          this.$message.error('대응답 값 형식이 올바르지 않습니다. ' + this.apiColumns[scope].apiColumnList[props].clmCd + '의 대응답 정보에는 \"' + this.apiColumns[scope].apiColumnList[props].clmType + '\"을(를) 넣어주세요.')
        }
      } else if (this.apiColumns[scope].apiColumnList[props].clmType == 'integer') {
        if (!this.isNumber(this.apiColumns[scope].apiColumnList[props].clmDefRes)) {
          this.apiColumns[scope].apiColumnList[props].clmDefRes = ''
          this.$message.error('대응답 값 형식이 올바르지 않습니다. ' + this.apiColumns[scope].apiColumnList[props].clmCd + '의 대응답 정보에는 \"' + this.apiColumns[scope].apiColumnList[props].clmType + '\"을(를) 넣어주세요.')
        }
      } else if (this.apiColumns[scope].apiColumnList[props].clmType == 'boolean') {
        if (!this.isBoolean(this.apiColumns[scope].apiColumnList[props].clmDefRes)) {
          this.apiColumns[scope].apiColumnList[props].clmDefRes = ''
          this.$message.error('대응답 값 형식이 올바르지 않습니다. ' + this.apiColumns[scope].apiColumnList[props].clmCd + '의 대응답 정보에는 \"' + this.apiColumns[scope].apiColumnList[props].clmType + '\"을(를) 넣어주세요.')
        }
      }
    },
    isNumber(value) {
      const regex = /^[+-]?[0-9]*(\.?[0-9]*)*$/g
      return regex.test(value)
    },
    isBoolean(value) {
      return value === true || value === false || String(value) === 'true' | String(value) === 'false'
    },
    isString(value) {
      return typeof(value) === 'string' || value != null || value != undefined
    },
    handleDeleteEcho() {
			deleteApiEcho(this.echoQuery).then(response => {
				this.$message.success('API 대응답 정보를 삭제하였습니다.')
				this.$router.push({ path: '/apiEchoManage' })
			})
		},
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .responsive_between {
    display: flex;
    .left, .right {
      width: 1080px;
    }
    .right {
      flex-direction: column;
      margin-left: 20px;
      .el-table .el-table{
        border-top: 1px solid #ededed;
      }
      .el-card__header {
        display: flex;
        align-items: center;
        height: 55px;
        padding: 0 20px;
        >div {
          width: 100%;
        }
      }
    }
    .el-table .el-table__expanded-cell {
      padding: 0 20px 0 80px;
    }
  }
  .input-new-tag {
    width: 100px;
  }
  @media screen and (max-width: 1650px){
    .responsive_between {
      flex-direction: column;
      .right {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
	.between_form_item {
		.el-form-item {
			width: 50%;
		}
	}
</style>
