<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-model="condMain.apiDivCd" :placeholder="$t('api.apiDivCd')" clearable filterable style="width: 150px" class="filter-item">
        <el-option v-for="item in codeApiDivList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <div class="filter-item el-input el-input--medium" style="width: 280px;">
        <input v-model="condMain.searchNm" type="text" autocomplete="off" :placeholder="$t('api.searchApi')" @keyup.enter.native="doSearch" class="el-input__inner">
      </div>
      <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" size="small" plain icon="el-icon-search" @click="doSearch">{{ $t('btn.search') }}</el-button>
      <el-button v-waves class="filter-item" plain icon="el-icon-refresh-left" size="small" style="margin-left: 0px;" @click="doReset">{{ $t('btn.reset') }}</el-button>
    </div>
    <div class="proc-container">
      <el-button v-waves class="filter-item" style="margin-left: 0px;" size="small" type="primary" icon="el-icon-edit" @click="doAdd">{{ $t('btn.add') }}</el-button>
    </div>
    <el-table v-loading="listLoading" :data="apiEchoList" @row-click="doDetail" border highlight-current-row>
      <el-table-column label="No" type="index" width="50" align="center"></el-table-column>
      <el-table-column :label="$t('api.apiDivCd')" align="center" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.apiDivCd | cdNmFilter('', codeApiDivList) }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('api.apiName')" align="center" width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.apiNm }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('api.apiUrl')" align="center" min-width="350">
        <el-row slot-scope="scope" type="flex" align="start">
          <span>{{ scope.row.apiUrl }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('api.searchKey')" align="center" width="150">
        <el-row slot-scope="scope">
          <span>{{ scope.row.searchKey }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('api.searchValue')" align="center" width="150">
        <el-row slot-scope="scope">
          <span>{{ scope.row.searchValue }}</span>
        </el-row>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="condMain.pageIdx" :limit.sync="condMain.pageSize" @pagination="doSearch" />
	</div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { fetchApiEchoList } from '@/api/api'
import { selectCommCodeList } from '@/api/common'

export default {
  name: 'ApiEchoManage',
  directives: { waves },
  filters: {
    cdNmFilter(code, txtParam, codeList) {
      const value = codeList.reduce((obj, cur) => {
        obj[cur.cdId] = cur.cdNm
        return obj
      }, {})
      return value[code]
    }
  },
  components: { Pagination },
  data() {
    return {
      condCode: [
        {cond: {commCdId: '0110'},list: 'codeApiDivList'}//API구분
      ],
      codeApiDivList: [],
      totCnt: 0,
      selCnt: null,
      listLoading: false,
			codeList: [],
			apiEchoList: [],
      condMain: {
        apiDivCd: '',
        apiNm: '',
        pageIdx: 1,
        pageSize: 20
      },
      listLoading: false
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'roles'
    ])
  },
  created() {
		this.getCodeList()
    this.doSearch()
  },
  methods: {
    //코드조회
    getCodeList() {
      for(var i in this.condCode){
        var codeCond = this.condCode[i];
        selectCommCodeList(codeCond.cond).then(response => {
          //async로인해 함수 밖 파라미터를 재대로 사용할수없어 코드존재여부 확인뒤
          //첫번째 대표코드를 통해서 코드 list에 맵핑 함
          if(response.codeList != null && response.codeList.length > 0){
            var codeObj = this.condCode.filter(function(e,i,a){
              if(e.cond.commCdId ==response.codeList[0].commCdId){
                return true
              }
            })
            this[codeObj[0].list] = response.codeList
            if(codeObj[0].nulldata != null){
              this[codeObj[0].list].unshift({ cdId: codeObj[0].nulldata.cdId, cdNm: codeObj[0].nulldata.cdNm})
            }
          }
        })
      }
    },
    doReset() {
      this.condMain = {
        apiType: '',
        searchNm: '',
        pageIdx: 1,
        pageSize: 20,
      }
      this.apiEchoList = []
    },
    doSearch() {
      this.condMain.pageIdx = 1
      this.listLoading = true
      fetchApiEchoList(this.condMain).then(response => {
        this.apiEchoList = response.echoList
        this.totCnt = response.totCnt        
        this.listLoading = false
      })
    },
    doAdd() {
      this.$router.push({ path: '/apiEchoManage/create?apiType=' + this.condMain.apiType + "&searchNm=" + this.condMain.searchNm })
    },
    doDetail(row) {
      this.$router.push({ path: '/apiEchoManage/edit?seq=' + row.seq })
    }
  }
}
</script>