<template>
  <div class="has-head-container">
    <div class="responsive_between_api app-container">
      <el-row>
        <el-card>
          <div slot="header">
            <strong class="strong-only">{{ $t('title.apiServiceSetting') }} </strong>
          </div>
          <div>
            <el-form label-position="left" label-width="130px">
              <el-form-item :label="$t('settingService.apiServerUseYn')">
                <el-select v-model="apiServiceInfo.apiSvrStatCd" :placeholder="$t('settingService.apiServerUseYn')" clearable style="width:calc(100% - 120px)">
                  <el-option v-for="item in codeApiUseList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                </el-select>
                <el-button plain size="medium" style="margin-left: 10px;" @click="updateApiSvcStatCd">{{ $t('btn.patch') }}</el-button>
              </el-form-item>
            </el-form>
          </div>
        </el-card>
        <el-card class="mt20">
          <div slot="header">
            <strong class="strong-only">{{ $t('settingService.verInfo') }} </strong>
          </div>
          <div>
            <el-form label-position="left" label-width="130px">
              <el-row type="flex">
                <el-form-item :label="$t('settingService.curVer')" class="width-half">
                  <el-select v-model="apiServiceInfo.curVer" :placeholder="$t('settingService.curVer')" clearable style="width:calc(100% - 120px)">
                    <el-option v-for="item in codeVerList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                  </el-select>
                  <el-button plain size="medium" style="margin-left: 10px;" @click="updateCurVer">{{ $t('btn.patch') }}</el-button>
                </el-form-item>
                <el-form-item :label="$t('settingService.minVer')" class="width-half ml20">
                  <el-select v-model="apiServiceInfo.minVer" :placeholder="$t('settingService.minVer')" clearable style="width:calc(100% - 120px)">
                    <el-option v-for="item in codeVerList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                  </el-select>
                  <el-button plain size="medium" style="margin-left: 10px;" @click="updateMinVer">{{ $t('btn.patch') }}</el-button>
                </el-form-item>
              </el-row>
            </el-form>
          </div>
        </el-card>
        <el-card class="mt20">
          <div slot="header">
            <strong class="strong-only">{{ $t('settingService.serviceEditHistory') }} </strong>
          </div>
          <el-table :data="hisList" border highlight-current-row>
            <el-table-column :label="$t('api.name')" align="center" prop="regUser" width="220">
              <template slot-scope="scope">
                <span>{{ scope.row.modUserNm }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('community.div')" align="center" prop="apiModDiv" min-width="220">
              <template slot-scope="scope">
                <span>{{ scope.row.modDivNm }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('settingService.before')" align="center" prop="apiModDiv" width="220">
              <template slot-scope="scope">
                <span v-if="scope.row.modDivCd == '01'">{{ scope.row.beforeData | cdNmFilter('', codeApiUseList)}}</span>
                <span v-if="scope.row.modDivCd != '01'">{{ scope.row.beforeData}}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('settingService.after')" align="center" prop="apiModDiv" width="220">
              <template slot-scope="scope">
                <span v-if="scope.row.modDivCd == '01'">{{ scope.row.afterData | cdNmFilter('', codeApiUseList) }}</span>
                <span v-if="scope.row.modDivCd != '01'">{{ scope.row.afterData }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.changeDate')" align="center" prop="regDttm" min-width="250">
              <template slot-scope="scope">
                <span>{{ scope.row.modDttm }}</span>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
      </el-row>
    </div>
	</div>
</template>

<script>
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { selectCommCodeList, reqPost } from '@/api/common'
import { scrollTo } from '@/utils/scrollTo'

export default {
  name: 'ApiServiceSetting',
  directives: { waves },
  components: { Sticky },
  filters: {
    cdNmFilter(code, txtParam, codeList) {
      const value = codeList.reduce((obj, cur) => {
        obj[cur.cdId] = cur.cdNm
        return obj
      }, {})
      return value[code]
    }
  },
  props: {},
  data() {
    return {
      condCode: [
        {cond: {commCdId: '0101'},list: 'codeVerList'},//버전
        {cond: {commCdId: '0102'},list: 'codeApiUseList'},//가용구분
      ],
      apiColumnDetail: {
        apiId: ''
      },
      codeVerList: [],
      codeApiUseList: [],
      apiServiceInfo: {
        apiSvrStatCd: '',
				minVer: '',
        curVer: '',
        modDivCd: ''
      },
      hisList: [],
      listLoading: false
    }
  },
  computed: {
  },
  watch: {
  },
  created() {
		scrollTo(0, 800)
    this.getCodeList()
		this.doList()
  },
  methods: {
    //코드조회
    getCodeList() {
      for(var i in this.condCode){
        var codeCond = this.condCode[i];
        selectCommCodeList(codeCond.cond).then(response => {
          //async로인해 함수 밖 파라미터를 재대로 사용할수없어 코드존재여부 확인뒤
          //첫번째 대표코드를 통해서 코드 list에 맵핑 함
          if(response.codeList != null && response.codeList.length > 0){
            var codeObj = this.condCode.filter(function(e,i,a){
              if(e.cond.commCdId ==response.codeList[0].commCdId){
                return true
              }
            })
            this[codeObj[0].list] = response.codeList
          }
        })
      }
    },
    doList() {
      this.listLoading = true
      reqPost('/api/selectApiSvcInfo',{}).then(response => {
        this.apiServiceInfo.apiSvrStatCd = response.apiSvrStatCd
        this.apiServiceInfo.curVer = response.curVer
        this.apiServiceInfo.minVer = response.minVer
        this.hisList = response.hisList
        this.listLoading = false
      })
    },
    updateApiSvcStatCd(){
      this.apiServiceInfo.modDivCd = '01'
      this.doSave()
    },
    updateMinVer(){
      this.apiServiceInfo.modDivCd = '03'
      this.doSave()
    },
    updateCurVer(){
      this.apiServiceInfo.modDivCd = '02'
      this.doSave()
    },
    doSave() {
      this.$confirm(this.$t('message.changeConfirm'), {
        confirmButtonText: this.$t('btn.confirm'),
        cancelButtonText: this.$t('btn.cancel'),
        type: 'warning'
      }).then(() => {
        this.listLoading = true
        reqPost('/api/updateApiSvcInfo',this.apiServiceInfo).then(response => {
          this.listLoading = false
          this.$message.success(this.$t('message.success'))
          this.doList()
        })
      })
    }
  }
}
</script>
