<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-model="cond.grantType" :placeholder="$t('settingService.divG')" clearable filterable style="width: 150px" class="filter-item">
        <template v-for="data in codeDivGList">
          <el-option :label="data.cdNm" :value="data.cdId" :key="data.cdId"></el-option>
        </template>
      </el-select>
      <div class="filter-item el-input el-input--medium" style="width: 280px;">
        <input v-model="cond.scope" type="text" autocomplete="off" :placeholder="$t('settingService.divS')" @keyup.enter.native="doSearch" class="el-input__inner">
      </div>
      <el-button v-waves class="filter-item" type="primary" @click="selectList" size="small" >{{ $t('btn.search') }}</el-button>
      <el-button v-waves class="filter-item" plain icon="el-icon-refresh-left" size="small" style="margin-left: 0px;" @click="doReset">{{ $t('btn.reset') }}</el-button>
    </div>
    <el-card shadow="never">
      <div slot="header">
        <el-row type="flex" justify="space-between">
          <strong class="strong-only">{{ $t('settingService.tokenInfo') }} </strong>
          <div style="display:inline-flex;">
            <el-button type="primary" size="small" plain @click="save">{{ $t('btn.save') }}</el-button>
            <el-button type="primary" size="small" plain @click="addRow">{{ $t('app.add') }}</el-button>
          </div>
        </el-row>
      </div>
      <div class="text item">
        <el-form :rules="rulesInfo" ref="rulesInfo">
          <el-table :current-row-key="curRow" highlight-current-row ref="tokenInfo" v-loading="listLoading" :data="list" order size="mini">
            <el-table-column label="No" width="50" type="index">
            </el-table-column>
            <el-table-column :label="$t('settingService.redisKey')" align="center" width="250">
              <el-form-item slot-scope="scope" class="el-form-item--mt0">
                <span>gw|accessTokenIssueInfo|{{scope.row.grantType + '|' + scope.row.scope}}</span>
              </el-form-item>
            </el-table-column>
            <el-table-column :label="'* '+$t('settingService.divGNm')" align="center" width="130">
              <el-form-item slot-scope="scope" class="el-form-item--mt0" prop="grantType">
                <el-select v-model="scope.row.grantType" :placeholder="$t('settingService.divG')" clearable filterable style="width: 100%" class="filter-item">
                  <template v-for="data in codeDivGList">
                    <el-option :label="data.cdNm" :value="data.cdId" :key="data.cdId"></el-option>
                  </template>
                </el-select>
              </el-form-item>
            </el-table-column>
            <el-table-column :label="$t('settingService.divG')" align="center" width="130">
              <el-form-item slot-scope="scope" class="el-form-item--mt0">
                <span>{{scope.row.grantType}}</span>
              </el-form-item>
            </el-table-column>
            <el-table-column :label="'* '+$t('settingService.divS')" align="center" width="120">
              <el-form-item slot-scope="scope" class="el-form-item--mt0" prop="scope">
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.scope}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.scope" size="small" maxlength="50"></el-input>
              </el-form-item>
            </el-table-column>
            <el-table-column :label="'* '+$t('settingService.orgInfo')" align="center" width="120">
              <el-form-item slot-scope="scope" class="el-form-item--mt0" prop="issueOrgCd">
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.issueOrgCd}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.issueOrgCd" size="small" maxlength="10"></el-input>
              </el-form-item>
            </el-table-column>
            <el-table-column :label="'* '+$t('settingService.clientId')" align="center" width="300">
              <el-form-item slot-scope="scope" class="el-form-item--mt0" prop="clientId">
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.clientId}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.clientId" size="small" maxlength="50"></el-input>
              </el-form-item>
            </el-table-column>
            <el-table-column :label="'* '+$t('settingService.secret')" align="center" width="300">
              <el-form-item slot-scope="scope" class="el-form-item--mt0" prop="scr">
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.scr}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.scr" size="small" maxlength="50"></el-input>
              </el-form-item>
            </el-table-column>
            <el-table-column :label="$t('settingService.domain')" align="center" width="400">
              <template slot-scope="scope" >
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.token}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.token" size="small"></el-input>
              </template>
            </el-table-column>
            <el-table-column :label="$t('app.actions')" class-name="status-col" fixed="right" width="140">  
              <el-row slot-scope="scope" type="flex" align="start">
                <el-button v-if="scope.row.status!='U' && scope.row.status!='N'" class="table-button-primary-is-plain" type="primary" size="small" plain @click="editRow(scope.row)">{{ $t('btn.edit') }}</el-button>
                <el-button style="float: right;" class="table-button-danger-is-plain" type="danger" size="small" plain @click="deleteRow(scope.row)">{{ $t('btn.delete') }}</el-button>
              </el-row>
            </el-table-column>
          </el-table>
        </el-form>
      </div>
    </el-card>
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import { mapGetters } from 'vuex'
import { selectCommCodeList, reqPost } from '@/api/common'

export default {
  name: 'CodeList',
  directives: { waves },
  filters: {
  },
  components: { },
  data() {
    return {
      condCode: [
        {cond: {commCdId: '0800'},list: 'codeDivGList'},//대분류
      ],
      codeDivGList: [],
      list: [],
      saveObj: {},
      listLoading: false,
      cond: {
        grantType: '',
        scope: '',
      },
      currentRow: null,
      curRow:-1
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'roles',
      'hfnCd'
    ]),
    rulesInfo() {
      return {
        issueOrgCd: [{ required: true, message: '', trigger: 'blur' }],
        grantType: [{ required: true, message: '', trigger: 'blur' }],
        scope: [{ required: true, message: '', trigger: 'blur' }],
        clientId: [{ required: true, message: '', trigger: 'blur' }],
        scr: [{ required: true, message: '', trigger: 'blur' }]
      }
    }
  },
  created() {
    this.getCodeList()
  },
  methods: {
    getCodeList() {
      for(var i in this.condCode){
        var codeCond = this.condCode[i];
        selectCommCodeList(codeCond.cond).then(response => {
          //async로인해 함수 밖 파라미터를 재대로 사용할수없어 코드존재여부 확인뒤
          //첫번째 대표코드를 통해서 코드 list에 맵핑 함
          if(response.codeList != null && response.codeList.length > 0){
            var codeObj = this.condCode.filter(function(e,i,a){
              if(e.cond.commCdId ==response.codeList[0].commCdId){
                return true
              }
            })
            this[codeObj[0].list] = response.codeList
            if(codeObj[0].nulldata != null){
              this[codeObj[0].list].unshift({ cdId: codeObj[0].nulldata.cdId, cdNm: codeObj[0].nulldata.cdNm})
            }
          }
        })
      }
    },
    doReset() {
      this.cond = {
        grantType: '',
        scope: ''
      }
      this.list = []
    },
    selectList() {
      reqPost('/api/selectTokenInfo', this.cond).then(response => {
        this.list = response.list
        this.$refs.tokenInfo.setCurrentRow(this.list[0]);
      })
    },
    addRow() {
      const newParam = { 
        issueOrgCd: '',
        token: '',
        scope: '',
        grantType: '',
        clientId: '',
        scr: '',
        status: 'N'
      }
      this.list.splice(0, 0, newParam);
      this.$refs.tokenInfo.setCurrentRow(this.list[0]);
      this.$refs.tokenInfo.bodyWrapper.scrollTo(0,0)
    },
    editRow(row){
      row.status = 'U'
    },
    save(){
      var checkList = this.list.filter(function(e,i,a){
          if(e.grantType == null || e.grantType == '' 
          || e.scope == null || e.scope == ''
          || e.clientId == null || e.clientId == ''
          || e.scr == null || e.scr == ''
          || e.issueOrgCd == null || e.issueOrgCd == '') {
            return true
          }
      })
      
      if (checkList.length > 0) {
        this.$message.error(this.$t('message.valid_all_required'));
      }else{
        var saveFilterList = this.list.filter(function(e,i,a){
          if(e.status =='N' || e.status =='U'){
            return true
          }
        })

        if(saveFilterList.length > 0) {
          this.$confirm(this.$t('message.saveConfirm'), {
            confirmButtonText: this.$t('btn.save'),
            cancelButtonText: this.$t('btn.cancel'),
            type: 'warning'
          }).then(() => {
            this.saveObj.tokenInfoList = saveFilterList
            reqPost('/api/saveTokenInfo', this.saveObj).then(response => {
              this.$message.success(this.$t('message.success'))
              this.selectList();
            })
          })
        }else{
          this.$message.error(this.$t('message.noChangeData'))
        }
      }
    },
    deleteRow(row){
      if(row.status == 'N'){
        this.list.splice(row.$index, 1)
      }else{
        this.$confirm(this.$t('message.deleteConfirm'), {
          confirmButtonText: this.$t('btn.delete'),
          cancelButtonText: this.$t('btn.cancel'),
          type: 'warning'
        }).then(() => {
          var param = {
             issueOrgCd: row.issueOrgCd
            ,clientId: row.clientId
            ,grantType: row.grantType
            ,scope: row.scope
          }
          reqPost('/api/deleteTokenInfo', param).then(response => {
            this.$message.success(this.$t('message.success'))
            this.selectList();
          })
        })
      }
    }
  }
}
</script>
