<template>
  <el-row :gutter="30" class="card-group">
    <el-col :xs="24" :sm="24" :lg="8" class="card-panel-col">
      <el-card shadow="hover">
        <el-table :data="list.topApiUseList" :header-cell-style="getRowClass">
          <el-table-column :label="$t('dashboard.apiName')" prop="apiNm" align="center"/>
          <el-table-column :label="$t('dashboard.useAmount') + '(' + $t('dashboard.piece') + ')'" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.apiTrxCnt | format }}</span>
            </template>
          </el-table-column>
        </el-table>
      </el-card>
    </el-col>
    <el-col :xs="24" :sm="24" :lg="8" class="card-panel-col">
      <el-card shadow="hover">
        <el-table :data="list.topProcTermList" :header-cell-style="getRowClass">
          <el-table-column :label="$t('dashboard.apiName')" prop="apiNm" align="center"/>
          <el-table-column :label="$t('dashboard.responseTime') + '(' + $t('dashboard.ms') + ')'" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.procTerm | filterData }}</span>
            </template>
          </el-table-column>
        </el-table>
      </el-card>
    </el-col>
    <el-col :xs="24" :sm="24" :lg="8" class="card-panel-col">
      <el-card shadow="hover">
        <el-table :data="list.topApiErrorList" :header-cell-style="getRowClass">
          <el-table-column :label="$t('dashboard.apiName')" prop="apiNm" align="center"/>
          <el-table-column :label="$t('dashboard.errorRate') + '( % )'" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.apiError | filterData }}</span>
            </template>
          </el-table-column>
        </el-table>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
export default {
  name: 'PanelGroup',
  filters: {
    format(data) {
      data = data + ''
      var str = ''
      for (var i = data.length - 1, j = 1; i >= 0; i--, j++) {
        if (j % 3 === 0 && i !== 0) {
          str += data[i] + ','
          continue
        }
        str += data[i]
      }
      data = str.split('').reverse().join('')
      return data
    },
    filterData(data) {
      data = parseFloat((data + '').replace(/[^\d\.-]/g, '')).toFixed(2) + ''
      var l = data.split('.')[0].split('').reverse()
      var r = data.split('.')[1]
      var t = ''
      for (var i = 0; i < l.length; i++) {
        t += l[i] + ((i + 1) % 3 === 0 && (i + 1) !== l.length ? ',' : '')
      }
      data = t.split('').reverse().join('') + '.' + r
      return data
    }
  },
  props: {
    list: {
      required: true,
      type: Object,
      default: () => {}
    }
  },
  methods: {
    getRowClass({ rowIndex }) {
      if (rowIndex === 0) {
        return 'background: #F7F7F7'
      } else {
        return ''
      }
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .card-group {
    .el-card {
      /*background: linear-gradient(to right, #008485 0%, #00aaaa 100%);*/
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      .el-card__header {
        padding: 20px 0px 20px 15px;
        border: none;
        p {
          font-weight: 500;
          font-size: 16px;
          width: 58px;
          color: #707070;
        }
      }
      .el-card__body {
        width: 100%;
        .el-row {
          width: 100%;
        }
      }
      .data_container {
        span {
          font-size: 16px;
          color: #999999;
        }
        p {
          font-weight: 600;
          line-height: 30px;
          font-size: 18px;
          color: #707070;
        }
      }
    }
  }
</style>
