<template>
  <div :class="className" :style="{height:height,width:width}"/>
</template>

<script>
import i18n from '@/lang'
import echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme
import { debounce } from '@/utils'
//                검정     진한빨강  진한파랑   진한분홍     주홍       
const colors = ['#000000','#a81113', '#1611a8', '#bf3266', '#bd02a4', '#f75620', '#5796de', '#03827a', '#02ad69', '#FF0000', '#D0D00C']

export default {
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '350px'
    },
    autoResize: {
      type: Boolean,
      default: true
    },
    chartData: {
      required: true,
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      chart: null,
      sidebarElm: null
    }
  },
  watch: {
    chartData: {
      deep: true,
      handler(val) {
        this.setOptions(val)
      }
    }
  },
  mounted() {
    this.initChart()
    if (this.autoResize) {
      this.__resizeHandler = debounce(() => {
        if (this.chart) {
          this.chart.resize()
        }
      }, 100)
      window.addEventListener('resize', this.__resizeHandler)
    }
    this.sidebarElm = document.getElementsByClassName('sidebar-container')[0]
    this.sidebarElm && this.sidebarElm.addEventListener('transitionend', this.sidebarResizeHandler)
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    if (this.autoResize) {
      window.removeEventListener('resize', this.__resizeHandler)
    }

    this.sidebarElm && this.sidebarElm.removeEventListener('transitionend', this.sidebarResizeHandler)

    this.chart.dispose()
    this.chart = null
  },
  methods: {
    sidebarResizeHandler(e) {
      if (e.propertyName === 'width') {
        this.__resizeHandler()
      }
    },
    setOptions({ tm, maxApiCnt, failApiCnt, successApiCnt, legendData, yResponseTime, yErrorRate } = {}) {
      this.chart.setOption({
        color: colors,
        grid: {
          right: 60,
          left: 60
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            lineStyle: {
              color: colors[0]
            },
            crossStyle: {
              color: colors[0]
            }
          }
        },
        xAxis: {
          type: 'category',
          data: tm,
          axisLine: {
            lineStyle: {
              color: colors[0]
            }
          },
          axisTick: {
            alignWithLabel: true
          }
        },
        yAxis: [
          // 거래
          {
            type: 'value',
            name: i18n.t('dashboard.apiDeal') + '(' + i18n.t('dashboard.piece') + ')',
            position: 'left',
            axisLine: {
              lineStyle: {
                color: colors[1]
              }
            },
            axisLabel: {
              formatter: '{value}'
            },
            splitNumber: 5
          }
        ],
        legend: {
          data: legendData
        },
        series: [
          {
            name: '총 건수',
            yAxisIndex: 0,
            itemStyle: {
              normal: {
                color: colors[0],
                lineStyle: {
                  color: colors[0],
                  width: 2
                }
              }
            },
            smooth: true,
            type: 'line',
            data: maxApiCnt,
            animationDuration: 2800,
            animationEasing: 'cubicInOut'
          },
          // 추가
          {
            name: '오류건수',
            yAxisIndex: 0,
            itemStyle: {
              normal: {
                color: colors[1],
                lineStyle: {
                  color: colors[1],
                  width: 2
                }
              }
            },
            smooth: true,
            type: 'line',
            data: failApiCnt,
            animationDuration: 2800,
            animationEasing: 'cubicInOut'
          },
          // 정상건수 (이름이 같아야함)
          {
            // name: '정상건수11',
            name: '완료건수',
            yAxisIndex: 0,
            itemStyle: {
              normal: {
                color: colors[2],
                lineStyle: {
                  color: colors[2],
                  width: 2
                }
              }
            },
            smooth: true,
            type: 'line',
            data: successApiCnt,
            animationDuration: 2800,
            animationEasing: 'cubicInOut'
          }
        ]
      })
    },
    initChart() {
      this.chart = echarts.init(this.$el, 'macarons')
      this.setOptions(this.chartData)
    }
  }
}
</script>
