<template>
  <el-row :gutter="30" class="panel-group">
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <el-card shadow="hover">
        <el-row slot="header" type="flex">
          <svg-icon class-name="api_data" icon-class="api" /><p class="api_data">{{ $t('dashboard.api') }} </p>
        </el-row>
        <el-row type="flex" align="middle" justify="space-between" class="data_container">
          <span>{{ $t('dashboard.operation') }}</span>
          <count-to v-if="list.apiUseCnt" :start-val="0" :end-val="Number(list.apiUseCnt)" :duration="2600" class="card-panel-num"/>
        </el-row>
        <el-row type="flex" align="middle" justify="space-between" class="data_container">
          <span>{{ $t('dashboard.stop') }}</span>
          <count-to v-if="list.apiCloseCnt" :start-val="0" :end-val="Number(list.apiCloseCnt)" :duration="2600" class="card-panel-num"/>
        </el-row>
      </el-card>
    </el-col>
    <!-- <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <el-card shadow="hover">
        <el-row slot="header" type="flex">
          <svg-icon class-name="office_data" icon-class="office" /><p class="office_data">{{ $t('dashboard.office') }} </p>
        </el-row>
        <el-row type="flex" align="middle" justify="space-between" class="data_container">
          <span>{{ $t('dashboard.operation') }}</span>
          <count-to v-if="list.useorgOkCnt" :start-val="0" :end-val="Number(list.useorgOkCnt)" :duration="2600" class="card-panel-num"/>
        </el-row>
        <el-row type="flex" align="middle" justify="space-between" class="data_container">
          <span>{{ $t('dashboard.stop') }}</span>
          <count-to v-if="list.useorgCloseCnt" :start-val="0" :end-val="Number(list.useorgCloseCnt)" :duration="2600" class="card-panel-num"/>
        </el-row>
      </el-card>
    </el-col> -->
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <el-card shadow="hover">
        <el-row slot="header" type="flex">
          <svg-icon class-name="office_data" icon-class="app"/><p class="office_data">{{ $t('dashboard.app') }} </p>
        </el-row>
        <el-row type="flex" align="middle" justify="space-between" class="data_container">
          <span>{{ $t('dashboard.activity') }}</span>
          <count-to v-if="list.appOkCnt" :start-val="0" :end-val="Number(list.appOkCnt)" :duration="2600" class="card-panel-num"/>
        </el-row>
        <el-row type="flex" align="middle" justify="space-between" class="data_container">
          <span>{{ $t('dashboard.inactivity') }}</span>
          <count-to v-if="list.appCloseCnt" :start-val="0" :end-val="Number(list.appCloseCnt)" :duration="2600" class="card-panel-num"/>
        </el-row>
        <!-- <el-row type="flex" align="middle" justify="space-between" class="data_container">
          <span>{{ $t('dashboard.deExpire') }}</span>
          <count-to v-if="list.appExpireCnt" :start-val="0" :end-val="Number(list.appExpireCnt)" :duration="2600" class="card-panel-num"/>
        </el-row> -->
      </el-card>
    </el-col>
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <el-card shadow="hover">
        <el-row slot="header" type="flex">
          <svg-icon class-name="error_data" icon-class="log"/><p class="error_data">{{ $t('dashboard.wait') }} </p>
        </el-row>
         <el-row v-permission="['ROLE_SYS_ADMIN','ROLE_HFN_SALES']" type="flex" align="middle" justify="space-between" class="data_container">
          <span>{{ $t('dashboard.prd') }}</span>
          <router-link to="/pass">
            <count-to v-if="list.aplvWaitCnt" :start-val="0" :end-val="Number(list.aplvWaitCnt)" :duration="2600" class="card-panel-num"/>
          </router-link>
        </el-row>
        <el-row type="flex" align="middle" justify="space-between" class="data_container">
          <span>{{ $t('dashboard.qna') }}</span>
          <router-link to="/qna">
            <count-to v-if="list.qnaWaitCnt" :start-val="0" :end-val="Number(list.qnaWaitCnt)" :duration="2600" class="card-panel-num"/>
          </router-link>
        </el-row>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
import CountTo from 'vue-count-to'
import permission from '@/directive/permission/index.js'

export default {
  name: 'PanelGroup',
  components: { CountTo },
  directives: { permission },
  props: {
    list: {
      required: true,
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .panel-group {
    .el-card {
      margin-bottom: 20px;
      .el-card__header {
        padding: 15px;
        p {
          margin-left: 20px;
          font-size: 18px;
          color: #999999;
        }
        .api_data {
          font-size: 18px;
          color: #00479d;
        }
        .office_data {
          font-size: 18px;
          color: #2e87e3;
        }
        .app_data {
          font-size: 18px;
          color: #00c4dc;
        }
        .error_data {
          font-size: 18px;
          color: #7a64bb;
        }
        .qna {
          font-size: 18px;
          color: #2f5088;
        }
      }
      .el-card__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 122px;
        padding: 10px;
      }
      .data_container {
        width: 100%;
        span {
          color: #999999;
        }
        .card-panel-num {
          font-size: 28px;
          color: #707070;
        }
      }
    }
  }
</style>
