<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.tokenPolicy') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancelEdit">{{ $t('btn.before') }}</el-button>
          <el-button v-waves :loading="confirmLoading" type="primary" @click="handleConfirm" :disabled="this.dataQuery.useSetting=='false'">{{ $t('btn.save') }}
          </el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="responsive_between_p app-container">
      <el-card v-loading="loading" shadow="hover" class="left">
        <div slot="header">
          <strong>토큰발급 인증실패 제어</strong>
          <span style="font-size: 12px; padding-left: 150px;">
            토큰 발급 실패 제한 횟수를 설정합니다.
           <el-tooltip :content="'Redis Key : '+ value" palcement="top">
             <el-switch v-model="dataQuery.useSetting" active-color="#13ce66" active-value="true" inactive-value="false" @change="handleChange()"></el-switch>
           </el-tooltip>
         </span>
        </div>
        <el-form ref="ruleForm" :model="dataQuery" label-position="left" label-width="130px">
          <el-form-item :label="$t('policy.appNm')">
            <el-input v-model="dataQuery.appNm" style="width: 80%" :disabled="true">{{ dataQuery.appNm }}</el-input>
          </el-form-item>
          <el-form-item :label="$t('policy.failCount')" prop="failCount">
            <el-input v-model="dataQuery.failCount" style="width: 80%" maxlength="5" :disabled="true"/>
            <el-button type="primary" plain @click="handleReset" :disabled="this.dataQuery.useSetting=='false'">초기화
            </el-button>
          </el-form-item>
          <el-form-item :label="$t('policy.limitCount')" prop="limitCount">
            <el-input v-model="dataQuery.limitCount" :disabled="this.dataQuery.useSetting=='false'" style="width: 80%" maxlength="5"/>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { mapGetters } from 'vuex'
import { isEmpty } from '@/utils/validate'
import { getTokenPolicyDetail, getTokenPolicyRegistration, getTokenPolicyReset, getTokenPolicyUseSetting } from '@/api/policy'

export default {
  name: 'GetTokenPolicyDetail',
  directives: { waves },
  components: { Sticky },
  data() {
    return {
      loading: false,
      confirmLoading: false,
      totCnt: 0,
      dataQuery: {
        pageIdx: 1,
        pageSize: 20,
        gubun: '',
        appKey: '',
        clientId: '',
        limitCount: '',
        failCount: '',
        useSetting: ''
      },
      value: 'Del'
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'roles'
    ]),
  },
  created() {
    scrollTo(0, 800)
    this.getList()
  },
  methods: {
    getList() {
      getTokenPolicyDetail(this.$route.query.appKey).then(response => {
        this.loading = false
        this.dataQuery = response
        this.value = this.dataQuery.useSetting =='true' ? 'Set' : 'Del'
      })
    },
    handleCancelEdit() {
      this.$router.push({ path: '/getTokenPolicy' })
    },
    handleConfirm() {
      getTokenPolicyRegistration(this.dataQuery).then(response => {
        this.confirmLoading = false
        this.$message.success(this.$t('message.save'))
        this.$router.push({ path: '/getTokenPolicy' })
      }).catch(() => { this.confirmLoading = false })
    },
    handleReset() {
      getTokenPolicyReset(this.dataQuery).then(response => {
        this.confirmLoading = false
        this.getList()
      }).catch(() => { this.confirmLoading = false })
    },
    handleChange() {
      getTokenPolicyUseSetting(this.dataQuery).then(response => {
        this.confirmLoading = false
        this.getList()
      }).catch(() => { this.confirmLoading = false })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .responsive_between_p {
    .left, .right {
      width: 630px;
    }
    .right {
      flex-direction: column;
      margin-left: 20px;
      .el-table .el-table{
        border-top: 1px solid #ededed;
      }
    }
  }
  @media screen and (max-width: 1650px){
    .responsive_between_p {
      flex-direction: column;
      .right {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
</style>
