<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-if="roles[0] === 'ROLE_SYS_ADMIN'" v-model="listQuery.searchHfnCd" clearable
                 :disabled="roles != 'ROLE_SYS_ADMIN'" class="filter-item" style="width: 150px" @change="handleChange">
        <el-option v-for="item in codeList" v-if="item.commCdId === '1100'" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <el-select v-model="listQuery.searchUserKey" :placeholder="$t('log.user')" class="filter-item" style="width: 170px" clearable @click="handleChange()">
        <el-option v-for="item in userList" :key="item.userKey" :label="item.userNm" :value="item.userKey"/>
      </el-select>
      <div class="filter-item el-input el-input--medium" style="width: 290px;">
        <input v-model="listQuery.searchNm" :placeholder="$t('app.searchNm')" type="text" autocomplete="off" class="el-input__inner">
      </div>
      <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" icon="el-icon-search" @click="handleClick">
        {{ $t('btn.search') }}
      </el-button>
    </div>
    <el-table v-loading="listLoading" :data="list" border highlight-current-row>
      <el-table-column :label="$t('policy.user')" align="center" width="200">
        <template slot-scope="scope">
          <span data-type="date">{{ scope.row.userId | maskingId }}</span>
          <span v-if="scope.row.userNm != 'DEL'">( {{ scope.row.userNm | maskingName }} )</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('policy.appNm')" align="center" width="220">
        <template slot-scope="scope">
          <span>{{ scope.row.appNm }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('policy.limitCount')" align="center" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.limitCount }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('policy.failCount')" align="center" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.failCount }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('policy.actions')" align="center" class-name="small-padding fixed-width" width="85">
        <el-row slot-scope="scope" type="flex" align="start">
          <el-button v-if="scope.row.limitCount == '-'" size="mini" type="success" @click="handleAdd(scope.row)">{{
            $t('btn.add') }}
          </el-button>
          <el-button v-else size="mini" type="danger" style="width: 60px;" @click="handleAdd(scope.row)">{{
            $t('btn.edit') }}
          </el-button>
        </el-row>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize"
                @pagination="getPolicyList"/>
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { selectCommCodeList } from '@/api/product'
import { selectAppUserList } from '@/api/app'
import { getTokenPolicyList } from '@/api/policy'

export default {
  name: 'GetTokenPolicy',
  directives: { waves },
  components: { Pagination },
  data() {
    return {
      totCnt: 0,
      listQuery: {
        searchHfnCd: '',
        searchUserKey: '',
        searchNm: '',
        searchStat: '',
        pageIdx: 1,
        pageSize: 20
      },
      codeList: [],
      userList: [],
      list: [],
      listLoading: false
    }
  },
  computed: {
    ...mapGetters([
      'roles',
      'hfnCd'
    ])
  },
  created() {
    this.getCodeList()
  },
  methods: {
    getCodeList() {
      selectCommCodeList().then(response => {
        this.codeList = response.codeList
        this.listQuery.searchHfnCd = this.hfnCd
        this.getUserList()
        this.getPolicyList()
      })
    },
    getPolicyList() {
      this.listLoading = true
      getTokenPolicyList(this.listQuery).then(response => {
        this.list = response.list
        this.totCnt = response.totCnt
        setTimeout(() => {
          this.listLoading = false
        }, 1000)
      })
    },
    getUserList() {
      selectAppUserList(this.listQuery).then(response => {
        this.userList = response.appReadInfo
        this.userList = [...new Map(this.userList.map(item => [item.userNm, item])).values()]
        setTimeout(() => {
          this.listLoading = false
        }, 1000)
      })
    },
    handleChange() {
      this.getUserList()
    },
    handleClick() {
      this.getPolicyList()
    },
    handleAdd(row) {
      this.$router.push({ path: '/getTokenPolicyDetail?appKey=' + row.appKey  })
    },
    handleDetail(row) {
      this.$router.push({ path: '/getTokenPolicyDetail?appKey=' + row.appKey  })
    }
  }
}
</script>
