<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-model="key1" prop="codeList" :placeholder="$t('policy.type')" class="filter-item" style="width: 200px" clearable>
        <el-option label="전체" value=""/>
        <el-option label="접근제어" value="gw|accessControl|"/>
      </el-select>
      <el-input v-model="key2" :placeholder="$t('policy.pattern')" class="filter-item" style="width: 400px;"/>
      <el-button v-waves style="margin-left: 0px;" size="small" class="filter-item" type="primary" icon="el-icon-search" @click="getList">
        {{ $t('btn.search') }}
      </el-button>
      <el-button v-waves class="filter-item" style="margin-left: 0px;" plain icon="el-icon-refresh-left" size="small" @click="resetSearch">
                {{ $t('btn.resetSearch')}}
      </el-button>
    </div>
    <el-table :data="list" border highlight-current-row>
      <el-table-column label="No." type="index" widht="10" align="center"></el-table-column>
      <el-table-column :label="$t('policy.key')" width="700" align="center">
        <el-row slot-scope="scope" type="flex" align="start">
          <span style="text-align: left;">{{ scope.row.key}}</span>
        </el-row>
        <!-- <template slot-scope="scope">
          <span>{{ scope.row.key }}</span>
        </template> -->
      </el-table-column>
      <el-table-column :label="$t('policy.value')" align="center" min-width="200">
        <el-row slot-scope="scope">
          <span>{{ scope.row.value }}</span>
        </el-row>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { scrollTo } from '@/utils/scrollTo'
import { reqPost } from '@/api/common'
import { isEmpty } from '@/utils/validate'

export default {
  name: 'GetRedis',
  directives: { waves },
  components: { Sticky },
  data() {    
    return {
      key1: '',
      key2: '',
      value: '',
      list: [],
      searchQuery: {
        key: ''
      },
      codeList: []
    }
  },
  computed: {
  },
  created() {
  },
  methods: {
    resetSearch() {
      this.key1 = ''
      this.key2 = ''
      this.list = []
    },
    getList() {
      if(isEmpty(this.key2)) {
        alert(this.$t('message.warning_pattern'))
        return false
      }
      
      this.searchQuery.pattern = this.key1 + this.key2
      reqPost('/api/getRedisSet',this.searchQuery).then(response => {
        this.list = response.redisList
      })
    }
  }
}
</script>
