<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-model="cond.commCdId" :placeholder="$t('code.commCdId')" clearable filterable style="width: 150px" class="filter-item">
        <template v-for="data in infoList">
          <el-option :label="data.commCdNm" :value="data.commCdId" :key="data.commCdId"></el-option>
        </template>
      </el-select>
      <div class="filter-item el-input el-input--medium" style="width: 280px;">
        <input v-model="cond.cdNm" type="text" autocomplete="off" :placeholder="$t('code.cdNm')" @keyup.enter.native="doSearch" class="el-input__inner">
      </div>
      <el-button v-waves class="filter-item" type="primary" @click="selectList" size="small" >{{ $t('btn.search') }}</el-button>
      <el-button v-waves class="filter-item" plain icon="el-icon-refresh-left" size="small" style="margin-left: 0px;" @click="doReset">{{ $t('btn.reset') }}</el-button>
    </div>
    <el-card shadow="never">
      <div slot="header">
        <el-row type="flex" justify="space-between">
          <strong class="strong-only">{{ $t('code.commCdId') }} </strong>
          <div style="display:inline-flex;">
            <el-button type="primary" size="small" plain @click="save">{{ $t('btn.save') }}</el-button>
            <el-button type="primary" size="small" plain @click="addRow">{{ $t('app.add') }}</el-button>
          </div>
        </el-row>
      </div>
      <div class="text item">
        <el-form :rules="rulesInfo" ref="rulesInfo">
          <el-table :current-row-key="curRow" highlight-current-row @current-change="handleCurrentChange" ref="commInfo" v-loading="listLoading" :data="list" height="250" max-height="250" order size="mini">
            <el-table-column label="No" width="50" type="index" fixed>
            </el-table-column>
            <el-table-column :label="$t('code.commCdId')" align="center" width="100" fixed>
              <el-form-item slot-scope="scope" class="el-form-item--mt0" prop="commCdId">
                <span v-if="scope.row.status!='N'">{{scope.row.commCdId}}</span>
                <el-input v-if="scope.row.status=='N'" v-model="scope.row.commCdId" size="small" maxlength="5"></el-input>
              </el-form-item>
            </el-table-column>
            <el-table-column :label="$t('code.cdKorNm')" align="center" width="300" fixed>
              <el-form-item slot-scope="scope" class="el-form-item--mt0" prop="cdKorNm">
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.commCdNm}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.commCdNm" size="small" maxlength="50"></el-input>
              </el-form-item>
            </el-table-column>
            <el-table-column :label="$t('code.cdEngNm')" align="center" width="300">
              <template slot-scope="scope" >
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.commCdEng}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.commCdEng" size="small" maxlength="30"></el-input>
              </template>
            </el-table-column>
            <el-table-column :label="$t('code.cdSort')" align="center" width="140">
              <template slot-scope="scope" >
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.cdSort}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.cdSort" type="number" min="0" size="small"></el-input>
              </template>
            </el-table-column>
            <el-table-column :label="$t('code.cdUseYn')" align="center" width="80">
              <template slot-scope="scope" >
                <el-checkbox :disabled="scope.row.status!='U' && scope.row.status!='N'" v-model="scope.row.cdUseYn" true-label="Y" false-label="N"  maxlength="1"></el-checkbox>
              </template>
            </el-table-column>
            <el-table-column :label="$t('code.connCd')+'1'" align="center" width="150">
              <template slot-scope="scope" >
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.conn1Cd}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.conn1Cd" size="small" maxlength="200"></el-input>
              </template>
            </el-table-column>
            <el-table-column :label="$t('code.connCd')+'2'" align="center" width="150" >
              <template slot-scope="scope" >
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.conn2Cd}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.conn2Cd" size="small" maxlength="200"></el-input>
              </template>
            </el-table-column>
            <el-table-column :label="$t('code.connCd')+'3'" align="center" width="150">
              <template slot-scope="scope" >
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.conn3Cd}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.conn3Cd" size="small" maxlength="200"></el-input>
              </template>
            </el-table-column>
            <el-table-column :label="$t('code.connCd')+'4'" align="center" width="150">
              <template slot-scope="scope" >
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.conn4Cd}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.conn4Cd" size="small" maxlength="200"></el-input>
              </template>
            </el-table-column>
            <el-table-column :label="$t('code.connCd')+'5'" align="center" width="150">
              <template slot-scope="scope" >
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.conn5Cd}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.conn5Cd" size="small" maxlength="200"></el-input>
              </template>
            </el-table-column>
            <el-table-column :label="$t('code.cdDesc')" class-name="status-col" width="400">
              <template slot-scope="scope" >
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.cdDesc}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.cdDesc" size="small" maxlength="200"></el-input>
              </template>
            </el-table-column>
            <el-table-column :label="$t('app.actions')" class-name="status-col" fixed="right" width="140">  
              <el-row slot-scope="scope" type="flex" align="start">
                <el-button v-if="scope.row.status!='U' && scope.row.status!='N'" class="table-button-primary-is-plain" type="primary" size="small" plain @click="editRow(scope.row)">{{ $t('btn.edit') }}</el-button>
                <el-button style="float: right;" class="table-button-danger-is-plain" type="danger" size="small" plain @click="deleteRow(scope.row)">{{ $t('btn.delete') }}</el-button>
              </el-row>
            </el-table-column>
          </el-table>
        </el-form>
      </div>
    </el-card>
    <el-card shadow="never" class="mt20">
      <div slot="header">
        <el-row type="flex" justify="space-between">
          <strong class="strong-only">{{ $t('code.detailCode') }} </strong>
          <div style="display:inline-flex;">
            <el-button :disabled="detailEnable" style="float: right;margin-right:3px;" type="primary" size="small" plain @click="saveDetail">{{ $t('btn.save') }}</el-button>
            <el-button :disabled="detailEnable" style="float: right;margin-right:3px;" type="primary" size="small" plain @click="addRowDetail">{{ $t('app.add') }}</el-button>
          </div>
        </el-row>
      </div>
      <div class="text item">
        <el-form :rules="rulesCode" ref="rulesCode">
          <el-table ref="commCode" v-loading="listLoading" :data="detailList" height="250" max-height="250" order highlight-current-row size="mini">
            <el-table-column label="No" width="50" type="index" fixed>
            </el-table-column>
            <el-table-column :label="$t('code.cdId')" align="center" width="100" fixed>
              <el-form-item slot-scope="scope" class="el-form-item--mt0" prop="cdId">
                <span v-if="scope.row.status!='N'">{{scope.row.cdId}}</span>
                <el-input v-if="scope.row.status=='N'" v-model="scope.row.cdId" maxlength="10"></el-input>
              </el-form-item>
            </el-table-column>
            <el-table-column :label="$t('code.cdKorNm')" align="center" width="300" fixed>
              <el-form-item slot-scope="scope" class="el-form-item--mt0" prop="cdNm">
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.cdNm}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.cdNm" maxlength="50"></el-input>
              </el-form-item>
            </el-table-column>
            <el-table-column :label="$t('code.cdEngNm')" align="center" width="300">
              <template slot-scope="scope" >
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.cdEng}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.cdEng" maxlength="30"></el-input>
              </template>
            </el-table-column>
            <el-table-column :label="$t('code.cdSort')" align="center" width="140">
              <template slot-scope="scope" >
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.cdSort}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.cdSort" type="number" min="0"></el-input>
              </template>
            </el-table-column>
            <el-table-column :label="$t('code.cdUseYn')" align="center" width="80">
              <template slot-scope="scope" >
                <el-checkbox :disabled="scope.row.status!='U' && scope.row.status!='N'" v-model="scope.row.cdUseYn" true-label="Y" false-label="N" maxlength="1"></el-checkbox>
              </template>
            </el-table-column>
            <el-table-column :label="$t('code.connCd')+'1'" align="center" width="150">
              <template slot-scope="scope" >
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.conn1Cd}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.conn1Cd" maxlength="200"></el-input>
              </template>
            </el-table-column>
            <el-table-column :label="$t('code.connCd')+'2'" align="center" width="150">
              <template slot-scope="scope" >
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.conn2Cd}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.conn2Cd" maxlength="200"></el-input>
              </template>
            </el-table-column>
            <el-table-column :label="$t('code.connCd')+'3'" align="center" width="150">
              <template slot-scope="scope" >
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.conn3Cd}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.conn3Cd" maxlength="200"></el-input>
              </template>
            </el-table-column>
            <el-table-column :label="$t('code.connCd')+'4'" align="center" width="150">
              <template slot-scope="scope" >
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.conn4Cd}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.conn4Cd" maxlength="200"></el-input>
              </template>
            </el-table-column>
            <el-table-column :label="$t('code.connCd')+'5'" align="center" width="150">
              <template slot-scope="scope" >
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.conn5Cd}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.conn5Cd" maxlength="200"></el-input>
              </template>
            </el-table-column>
            <el-table-column :label="$t('code.cdDesc')" class-name="status-col" width="400">
              <template slot-scope="scope" >
                <span v-if="scope.row.status!='U' && scope.row.status!='N'">{{scope.row.cdDesc}}</span>
                <el-input v-if="scope.row.status=='U' || scope.row.status=='N'" v-model="scope.row.cdDesc" maxlength="200"></el-input>
              </template>
            </el-table-column>
            <el-table-column :label="$t('app.actions')" class-name="status-col" fixed="right" width="140">  
              <el-row slot-scope="scope" type="flex" align="start">
                <el-button v-if="scope.row.status!='U' && scope.row.status!='N'" class="table-button-primary-is-plain" style="float: right;" type="primary" size="small" plain @click="editRow(scope.row)">{{ $t('btn.edit') }}</el-button>
                <el-button style="float: right;" class="table-button-danger-is-plain" type="danger" size="small" plain @click="deleteDetailRow(scope.row)">{{ $t('btn.delete') }}</el-button>
              </el-row>
            </el-table-column>
          </el-table>
        </el-form>
      </div>
    </el-card>
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import { mapGetters } from 'vuex'
import { selectCommCodeList, reqPost } from '@/api/common'

export default {
  name: 'CodeList',
  directives: { waves },
  filters: {
  },
  components: { },
  data() {
    return {
      infoList: [],
      list: [],
      detailList: [],
      saveObj: {},
      listLoading: false,
      cond: {
        commCdId: '',
        cdNm: '',
      },
      condDetail: {
        commCdId: ''
      },
      currentRow: null,
      curRow:-1,
      detailEnable: false
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'roles',
      'hfnCd'
    ]),
    rulesInfo() {
      return {
        commCdId: [{ required: true, message: '', trigger: 'blur' }],
        cdKorNm: [{ required: true, message: '', trigger: 'blur' }]
      }
    },
    rulesCode() {
      return {
        cdId: [{ required: true, message: '', trigger: 'blur' }],
        cdNm: [{ required: true, message: '', trigger: 'blur' }]
      }
    },
  },
  created() {
    this.getCodeList()
  },
  methods: {
    getCodeList() {
      reqPost('/comm/selectCommInfo', {}).then(response => {
        this.infoList = response.infoList
        this.infoList.unshift({ commCdId: '', commCdNm: '전체'})
      })
    },
    doReset() {
      this.cond = {
        commCdId: '',
        cdNm: '',
      }
      this.list = []
      this.detailList = []
    },
    handleCurrentChange(row) {
      if(row.status == 'N'){
        this.detailEnable=true
      }else{
        this.detailEnable=false
      }

      if(row == null ) {
        this.detailList = [];
        return
      }

      if(this.currentRow == null || this.currentRow == ''){
        this.condDetail.commCdId = this.list[0].commCdId
        this.currentRow = row;
        this.selectDetailList()
      }else{
        if(this.currentRow.commCdId != row.commCdId){
          this.condDetail.commCdId = row.commCdId
          this.currentRow = row;
          this.selectDetailList()
        }
      }
    },
    selectList() {
      reqPost('/comm/selectCommInfo', this.cond).then(response => {
        this.list = response.infoList
        this.$refs.commInfo.setCurrentRow(this.list[0]);
      })
    },
    addRow() {
      const newParam = { 
        cdDesc: null,
        cdEtc: null,
        cdSort: 0,
        cdUseYn: "Y",
        commCdEng: "",
        commCdId: "",
        commCdNm: "",
        conn1Cd: null,
        conn2Cd: null,
        conn3Cd: null,
        conn4Cd: null,
        conn5Cd: null,
        status: 'N'
      }
      this.list.splice(0, 0, newParam);
      this.$refs.commInfo.setCurrentRow(this.list[0]);
      this.detailEnable=true
      this.$refs.commInfo. bodyWrapper.scrollTo(0,0)
    },
    selectDetailList() {
      selectCommCodeList(this.condDetail).then(response => {
        this.detailList = response.codeList
      })
    },
    addRowDetail() {
      const newParam = { 
        cdDesc: null,
        cdEtc: null,
        cdId: '',
        cdSort: 0,
        cdUseYn: "Y",
        cdEng: "",
        commCdId: this.currentRow.commCdId,
        cdNm: "",
        conn1Cd: null,
        conn2Cd: null,
        conn3Cd: null,
        conn4Cd: null,
        conn5Cd: null,
        status: 'N'
      }
      this.detailList.splice(0, 0, newParam);
      this.$refs.commCode.setCurrentRow(this.detailList[0]);
      this.$refs.commCode.bodyWrapper.scrollTo(0,0)
    },
    editRow(row){
      row.status = 'U'
    },
    save(){
      var checkList = this.list.filter(function(e,i,a){
          if(e.commCdId == null || e.commCdId == '' || e.commCdNm == null || e.commCdNm == '') {
            return true
          }
      })
      
      if (checkList.length > 0) {
        this.$message.error("["+this.$t('code.commCdId')+"]"+this.$t('message.valid_all_required'))
      }else{
        var saveFilterList = this.list.filter(function(e,i,a){
          if(e.status =='N' || e.status =='U'){
            return true
          }
        })

        if(saveFilterList.length > 0) {
          this.$confirm("["+this.$t('code.commCdId')+"]"+this.$t('message.saveConfirm'), {
            confirmButtonText: this.$t('btn.save'),
            cancelButtonText: this.$t('btn.cancel'),
            type: 'warning'
          }).then(() => {
            this.saveObj.commInfoList = saveFilterList
            reqPost('/comm/saveCommInfo', this.saveObj).then(response => {
              this.$message.success(this.$t('message.success'))
              this.selectList();
            })
          })
        }else{
          this.$message.error("["+this.$t('code.commCdId')+"]"+this.$t('message.noChangeData'))
        }
      }
    },
    saveDetail(){
      var checkList = this.detailList.filter(function(e,i,a){
          if(e.cdNm == null || e.cdNm == '' || e.cdNm == null || e.cdNm == '') {
            return true
          }
      })

      if (checkList.length > 0) {
        this.$message.error("["+this.$t('code.detailCode')+"]"+this.$t('message.valid_all_required'))
      }else{
        var saveFilterList = this.detailList.filter(function(e,i,a){
          if(e.status =='N' || e.status =='U'){
            return true
          }
        })
        
        if(saveFilterList.length > 0) {
          this.$confirm("["+this.$t('code.detailCode')+"]"+this.$t('message.saveConfirm'), {
            confirmButtonText: this.$t('btn.save'),
            cancelButtonText: this.$t('btn.cancel'),
            type: 'warning'
          }).then(() => {
            this.saveObj.commCodeList = saveFilterList
            reqPost('/comm/saveCommCode', this.saveObj).then(response => {
              this.$message.success(this.$t('message.success'))
              this.selectDetailList();
            })
          })
        }else{
          this.$message.error("["+this.$t('code.detailCode')+"]"+this.$t('message.noChangeData'))
        }
      }
    },
    deleteRow(row){
      if(row.status == 'N'){
        this.list.splice(row.$index, 1)
      }else{
        this.$confirm(this.$t('message.deleteSubAllConfirm'), {
          confirmButtonText: this.$t('btn.delete'),
          cancelButtonText: this.$t('btn.cancel'),
          type: 'warning'
        }).then(() => {
          var param = {
            commCdId: row.commCdId
          }
          reqPost('/comm/deleteCommInfo', param).then(response => {
            this.$message.success(this.$t('message.success'))
            this.selectList();
          })
        })
      }
    },
    deleteDetailRow(row){
      if(row.status == 'N'){
        this.detailList.splice(row.$index, 1)
      }else{
        this.$confirm(this.$t('message.deleteConfirm'), {
          confirmButtonText: this.$t('btn.delete'),
          cancelButtonText: this.$t('btn.cancel'),
          type: 'warning'
        }).then(() => {
          var param = {
            commCdId: row.commCdId,
            cdId: row.cdId
          }
          reqPost('/comm/deleteCommCode', param).then(response => {
            this.$message.success(this.$t('message.success'))
            this.selectDetailList();
          })
        })
      }
    }
  }
}
</script>
