 //replace element-ui style

// ***************  table   *******************
 .el-table{
   th {
     color: #111111;
   }
   .el-table__empty-block {
     border-right: 1px solid #ededed;
     border-bottom: 1px solid #ededed;
   }
 }

 // border-style
 .el-table--group, .el-table--border {
   border : 0px !important;
 }
 .el-table.el-table--group::after, .el-table.el-table--border::after {
   width: 0;
 }
 .el-table.el-table--border::before {
   width: 0;
 }
 .el-table.el-table--border {
   border-top: none;
 }
 .el-table th.is-leaf {
   border-top: 0px solid #ededed;
   border-left: 0px solid #ededed;
   border-right: 0px solid #ededed;
   border-bottom: 1px solid #111111 !important;
 }

 .el-table__fixed-body-wrapper {
  position: absolute;
  left: 0;
  top: 36px !important;
  overflow: hidden;
  z-index: 3;
}

.el-table--border td {
  border-top: 0px solid #ededed !important;
  border-left: 0px solid #ededed !important;
  border-right: 0px solid #ededed !important;
  border-bottom: 1px solid #eeeeee !important;
 }

 .el-breadcrumb__inner, .el-breadcrumb__inner a{
  font-weight: 400!important;
}

 .el-upload {
   input[type="file"] {
     display: none !important;
   }
 }

 .el-upload__input {
   display: none;
 }

 .el-tag {
   margin-right: 5px;
 }
 .cell {
   .el-tag {
     margin-right: 0px;
   }
 }

 .small-padding {
   .cell {
     padding-left: 5px;
     padding-right: 5px;
   }
 }

 .fixed-width{
  .el-button--mini{
    padding: 7px 10px;
    width: 60px;
  }
 }

 .status-col {
   .cell {
     padding: 0 10px;
     text-align: center;
     .el-tag {
       margin-right: 0px;
     }
   }
 }

 //********************   form   **********************

 .el-form--label-left .el-form-item__label {
   padding: 0 8px 0 0;
 }


 //********************   dialog   **********************

 .sign_up_dialog .el-dialog {
   transform: none;
   left: 0;
   position: relative;
   width: 770px;
   margin: 0 auto;
   .el-form {
     padding: 0 30px;
   }
 }

 .dialog_time_picker .el-dialog {
   width: 510px;
 }

 .dialog_form .el-dialog {
   width: 600px;
   .el-form {
     width: 520px;
   }
 }

 .dialog_table .el-dialog {
   width: 770px;
 }

 .el-dialog .el-dialog__title {
   color: $dialogTitle;
   font-weight: 600;
   font-size: 20px;
 }
 
 .el-dialog__header {
  padding: 20px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px;
  background-color: #f7f7f7;
 }

 // *****************   card   *******************
 .el-card__header {
   strong {
    color: #009591;
   }
   p {
     color: #4c4c4c;
   }
 }

 .fit_normal_card {
   width: 670px;
   .el-form {
     width: 520px;
   }
 }

 .article-textarea {
   textarea {
     padding-right: 40px;
     resize: none;
     border: none;
     border-radius: 0px;
     border-bottom: 1px solid #bfcbd9;
   }
 }

 //element ui upload
 .upload-container {
   .el-upload {
     width: 100%;
     .el-upload-dragger {
       width: 100%;
       height: 200px;
     }
   }
 }

//dropdown
 .el-dropdown-menu{
  a{
    display: block
  }
}

// ***************** width  *******************
.w100 {width: 100px !important;}
.w200 {width: 200px !important;}
.w300 {width: 300px !important;}
.w400 {width: 400px !important;}
.w500 {width: 500px !important;}

// ***************** height  *******************
.h10 {height: 10px !important;}
.h20 {height: 20px !important;}
.h30 {height: 30px !important;}
.h40 {height: 40px !important;}
.h50 {height: 50px !important;}
.h80 {height: 80px !important;}

// ***************** margin  *******************
.mg0 {margin: 0 !important;}
.mt0 {margin-top: 0 !important;}
.mt10 {margin-top: 10px !important;}
.mt20 {margin-top: 20px !important;}
.mt30 {margin-top: 30px !important;}
.mt40 {margin-top: 40px !important;}
.mt50 {margin-top: 50px !important;}

.ml0 {margin-left: 0 !important;}
.ml10 {margin-left: 10px !important;}
.ml20 {margin-left: 20px !important;}
.ml30 {margin-left: 30px !important;}
.ml40 {margin-left: 40px !important;}
.ml50 {margin-left: 50px !important;}
.ml456 {margin-left: 456px !important;}

.mr0 {margin-right: 0 !important;}
.mr10 {margin-right: 10px !important;}
.mr20 {margin-right: 20px !important;}
.mr30 {margin-right: 30px !important;}
.mr40 {margin-right: 40px !important;}
.mr50 {margin-right: 50px !important;}

.mb0 {margin-bottom: 0 !important;}
.mb10 {margin-bottom: 10px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb50 {margin-bottom: 50px !important;}

// ***************** padding  *******************
.pd0 {padding: 0 !important;}

.pdt0 {padding-top: 0 !important;}
.pdt10 {padding-top: 10px !important;}
.pdt20 {padding-top: 20px !important;}
.pdt30 {padding-top: 30px !important;}
.pdt40 {padding-top: 40px !important;}
.pdt50 {padding-top: 50px !important;}

.pdr0 {padding-right: 0 !important;}
.pdr10 {padding-right: 10px !important;}
.pdr20 {padding-right: 20px !important;}
.pdr30 {padding-right: 30px !important;}
.pdr40 {padding-right: 40px !important;}
.pdr50 {padding-right: 50px !important;}

.pdl0 {padding-left: 0 !important;}
.pdl10 {padding-left: 10px !important;}
.pdl20 {padding-left: 20px !important;}
.pdl30 {padding-left: 30px !important;}
.pdl40 {padding-left: 40px !important;}
.pdl50 {padding-left: 50px !important;}

.pdb0 {padding-bottom: 0 !important;}
.pdb10 {padding-bottom: 10px !important;}
.pdb20 {padding-bottom: 20px !important;}
.pdb30 {padding-bottom: 30px !important;}
.pdb40 {padding-bottom: 40px !important;}
.pdb50 {padding-bottom: 50px !important;}


// ***************** color  *******************
.green {color: #009591 !important;}

// ***************** border  *******************
.bd0 {border: 0 !important;}
.bdt0 {border-top: 0 !important;}
.bdt10 {border-top: 10px !important;}
.bdt20 {border-top: 20px !important;}
.bdt30 {border-top: 30px !important;}
.bdt40 {border-top: 40px !important;}
.bdt50 {border-top: 50px !important;}

.bdl0 {border-left: 0 !important;}
.bdl10 {border-left: 10px !important;}
.bdl20 {border-left: 20px !important;}
.bdl30 {border-left: 30px !important;}
.bdl40 {border-left: 40px !important;}
.bdl50 {border-left: 50px !important;}

.bdr0 {border-right: 0 !important;}
.bdr10 {border-right: 10px !important;}
.bdr20 {border-right: 20px !important;}
.bdr30 {border-right: 30px !important;}
.bdr40 {border-right: 40px !important;}
.bdr50 {border-right: 50px !important;}

.bdb0 {border-bottom: 0 !important;}
.bdb10 {border-bottom: 10px !important;}
.bdb20 {border-bottom: 20px !important;}
.bdb30 {border-bottom: 30px !important;}
.bdb40 {border-bottom: 40px !important;}
.bdb50 {border-bottom: 50px !important;}


// *****************   button Guide   *******************
.df_button {
  width: 100px; 
  height: 48px; 
  color: #fff !important; 
  font-weight: bold !important; 
  background: #009591 !important; 
  border: none !important; 
  border-radius: 5px !important;
}
.df_button_w {
  height: 48px; 
  color: #fff !important; 
  padding: 0 20px !important; 
  font-weight: bold !important; 
  background: #009591 !important; 
  border: none !important; 
  border-radius: 5px !important;
}
.df_button_c {
  width: 100px; 
  height: 48px; color: #fff !important; 
  font-weight: bold !important; 
  background: #ed1651 !important; 
  border: none !important; 
  border-radius: 5px !important;
}
.df_button_l {
  width: 100px; 
  height: 48px; 
  color: #fff !important; 
  font-weight: bold !important; 
  background: #aaa !important; 
  border: none !important; 
  border-radius: 5px !important;
}
.df_button:disabled {
  width: 100px; 
  height: 48px; 
  color: #999 !important; 
  font-weight: bold !important; 
  background: #eee !important; 
  border: none !important; 
  border-radius: 5px !important;
}
.df_button_g {
  width: 100px; 
  height: 48px; 
  color: #111 !important; 
  font-weight: bold !important; 
  background: #fff !important; 
  border: 1px solid #111 !important; 
  border-radius: 5px !important;
}

.sd_button {
  width: 80px; 
  height: 40px; 
  color: #009591 !important; 
  font-weight: bold !important; 
  background: #e5f4f4 !important; 
  border: 1px solid #a0d7d6 !important; 
  border-radius: 5px !important;
}
.sd_button_w {
  height: 40px; 
  color: #009591 !important; 
  padding: 0 16px !important; 
  font-weight: bold !important; 
  background: #e5f4f4 !important; 
  border: 1px solid #a0d7d6 !important; 
  border-radius: 5px !important;
}
.sd_button_pk {
  width: 80px; 
  height: 40px; 
  color: #de3563 !important; 
  font-weight: bold !important; 
  background: #fef3f6 !important; 
  border: 1px solid #fac6d5 !important; 
  border-radius: 5px !important;
}
.sd_button_gr {
  width: 80px; 
  height: 40px; 
  color: #333 !important; 
  font-weight: bold !important; 
  background: #f3f3f3 !important; 
  border: 1px solid #c5c5c5 !important; 
  border-radius: 5px !important;
}

.bd_button {
  width: 60px; 
  height: 34px; 
  padding: 0 !important; 
  color: #111 !important; 
  font-size: 13px !important; 
  background: #fff !important; 
  border: 1px solid #111 !important; 
  border-radius: 5px !important;
}
.bd_button_w {
  height: 34px; 
  padding: 0 !important; 
  color: #111 !important; 
  padding:0 14px !important; 
  font-size: 13px !important; 
  background: #fff !important; 
  border: 1px solid #111 !important; 
  border-radius: 5px !important;
}

.bd_button_g {
  width: 60px; 
  height: 34px; 
  padding: 0 !important; 
  color: #009591 !important; 
  font-size: 13px !important; 
  background: #fff !important; 
  border: 1px solid #009591 !important; 
  border-radius: 5px !important;
}
.bd_button_r {
  width: 60px; 
  height: 34px; 
  padding: 0 !important; 
  color: #ed1651 !important; 
  font-size: 13px !important; 
  background: #fff !important; 
  border: 1px solid #ed1651 !important; 
  border-radius: 5px !important;
}

.bd_button_b {
  width: 60px; 
  height: 34px; 
  padding: 0 !important; 
  color: #00a8ee !important; 
  font-size: 13px !important; 
  background: #fff !important; 
  border: 1px solid #00a8ee !important; 
  border-radius: 5px !important;
}
.bd_button_o {
  width: 60px; 
  height: 34px; 
  padding: 0 !important; 
  color: #ff7c00 !important; 
  font-size: 13px !important; 
  background: #fff !important; 
  border: 1px solid #ff7c00 !important; 
  border-radius: 5px !important;
}
.bd_button_p {
  width: 60px; 
  height: 34px; 
  padding: 0 !important; 
  color: #9c439c !important; 
  font-size: 13px !important; 
  background: #fff !important; 
  border: 1px solid #9c439c !important; 
  border-radius: 5px !important;
}
.bd_button_y {
  width: 60px; 
  height: 34px; 
  padding: 0 !important; 
  color: #ffbb00 !important; 
  font-size: 13px !important; 
  background: #fff !important; 
  border: 1px solid #ffbb00 !important; 
  border-radius: 5px !important;
}

.up_button {
  width: 43px !important;
  height: 24px !important;
  padding: 5px !important;
  border-radius: 12px !important;
  border: 1px solid #ccc !important;
  color: #666 !important;
  background-color: #fff !important;
}

// *****************   Input Guide   *******************
.df_input {
  height: 34px !important;
  line-height: 34px !important;
  padding: 0 10px !important;
  border-radius: 5px !important;
}
.df_input:focus {
  border-color: #666 !important;
}
.df_input_err {
  height: 34px !important;
  line-height: 34px !important;
  padding: 0 10px !important;
  border-radius: 5px !important;
  border-color: #ed1651 !important;
}
.df_input:disabled {
  background-color: #f5f5f5 !important;
}
// *****************   Textarea Guide   *******************
.df_textarea {
  padding: 10px !important;
}
.df_textarea:focus {
  border-color: #666 !important;
}
.df_textarea_err {
  border-color: #ed1651 !important;
}
.df_textarea:disabled {
  background-color: #f5f5f5 !important;
}
// *****************   Select Guide   *******************
// .el-select .el-input__inner {
//   height: 34px !important;
//   padding: 10px !important;
// }
// .el-select .el-input__inner:focus {
//   border-color: #666 !important;
// }
// .el-select .el-input.is-focus .el-input__inner {
//   border-color: #666 !important; 
//   border-bottom: 0 !important; 
//   border-radius: 4px 4px 0 0 !important;
// }
// .el-popper {
//   margin-top: 0 !important; 
//   border: 1px solid #666 !important; 
//   border-top: 0 !important; 
//   border-radius: 0 0 4px 4px !important;
//   box-shadow: none !important;
// }
// .el-popper li {
//   border-top: 1px solid #666 !important;
// }
// .popper__arrow {
//   display:none !important;
// }
// .el-popper .el-select-dropdown__list {
//   padding: 0 !important;
// }



// .df_radio .el-radio-button__inner {
//   width: 80px !important;
//   height: 34px !important;
//   line-height: 34px !important;
//   padding: 0 10px !important;
// }
// .df_radio .el-radio-button .el-radio-button__inner {
//   border: 1px solid #ccc;
//   border-radius: 5px !important;
// }
// .df_radio .el-radio-button:first-child .el-radio-button__inner {
//   margin-right: 4px !important;
// }
// .df_radio .el-radio-button__orig-radio:checked + .el-radio-button__inner {
//   color: #009591;
//   background-color: #fff;
//   border-color: #009591;
//   box-shadow: none;
// }

// .df_radio_w .el-radio-button__inner {
//   height: 34px !important;
//   line-height: 34px !important;
//   padding: 0 10px !important;
//   margin-right: 4px !important;
// }
// .df_radio_w .el-radio-button .el-radio-button__inner {
//   border: 1px solid #ccc;
//   border-radius: 5px !important;
// }
// .df_radio_w .el-radio-button__orig-radio:checked + .el-radio-button__inner {
//   color: #009591;
//   background-color: #fff;
//   border-color: #009591;
//   box-shadow: none;
// }

// .el-radio-button__inner {
//   //width: 80px !important;
//   height: 34px !important;
//   line-height: 34px !important;
//   padding: 0 10px !important;
// }
// .el-radio-button .el-radio-button__inner {
//   border: 1px solid #ccc !important;
//   border-radius: 5px !important;
// }
// .el-radio-button .el-radio-button__inner {
//   margin-right: 4px !important;
// }
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  // color: #009591 !important;
  // background-color: #fff !important;
  // border-color: #009591 !important;
  // box-shadow: none !important;
}
