@import './variables.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './element-variables.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: MalgunGothic, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;

}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.warn-content{
  background: rgba(66,185,131,.1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a{
    color: #42b983;
    font-weight: 600;
  }
}

// main-container
.app-main {
  /* 80 = nav height  */
  min-height: calc(100vh - 80px);
  position: relative;
  overflow: hidden;
}

.app-container {
  padding: 20px 20px 132px; /* footer height + padding 20px */

  .el-row, .el-row--flex {
    width: 100%;

    .el-card {
      width: 100%;
    }
  }
}

.el-form, .el-table {
  width: 100%;
  .el-row, .el-form-item {
    width: 100%;
    .el-input, .el-select, textarea{
      width: 100%;
    }
  }
}

.has-head-container {
  position: relative;
  top: 0;
  padding: 0;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  //margin-top: 30px;
  text-align: center;
  margin-top: 10px;
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  .filter-item {
    vertical-align: middle;
    margin-bottom: 10px;
  }
  .el-button {
    margin-left: 10px;
  }
}

.el-form-item.is-error .el-input__inner, 
.el-form-item.is-error .el-input__inner:focus, 
.el-form-item.is-error .el-textarea__inner, 
.el-form-item.is-error .el-textarea__inner:focus {
  border-color: #ed1651;
}
.el-form-item__error {
  color: #ed1651;
}

.el-input--medium .el-input__inner .el-input:focus {
  border-color: #666;
}

.el-input--medium .el-input__inner {
  height: 34px;
  line-height: 34px;
}
.el-form-item--medium .el-form-item__content {
  line-height: 34px;
}
// refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

// custom settings
.hidden {
  display: none;
}

// code
code {
  background-color: #f7f7f7;
}

// article chart
.article_chart {
  margin-top: 30px;
  margin-bottom: 20px;
  .el-card {
    margin-bottom: 20px;
    .el-card__body {
      height: 88px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      justify-content: space-between;
      p {
        font-size: 16px;
        line-height: 30px;
        color: #999999;
        &.api_data {
          color: #00479d;
        }
        &.response_data {
          color: #2e87e3;
        }
        &.error_data {
          color: #00c4dc;
        }
        .num {
          font-weight: bold;
          color: #707070;
        }
      }
    }
    &.chart-wrapper {
      padding-top: 20px;
      .el-card__body {
        height: 288px;
      }
    }
  }
}

[v-cloak] {
  opacity: 0;
}

.sub-navbar {
  height: 50px;
  position: relative;
  width: 100%;
  padding: 0 21px;
  transition: position .6s ease .6s;
  background-color: #fafafa;
  border-bottom: 1px solid #ededed;
  >.el-row {
    height: 100%;
  }
  p {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    border-left: 0px solid #009591;
    font-weight: 600;
    font-size: 20px;
    color: #4c4c4c;
  }
  .btn_box {
    position: absolute;
    right: 0;
  }
}

.two_line {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.custom-textarea{
  resize: vertical;
  padding: 5px 15px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  color: #4c4c4c;
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.el-card__header {
  height:59px;
  padding: 15px 20px 10px 20px;
  border-bottom: 1px solid #ededed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: bottom;

  div {
    height: 33px;
    .strong-only {
      position: relative;
      top: 9px;
    }
  }
}

.proc-container {
  float: right;
  margin-bottom: 10px;
  .el-button {
    margin-left: 10px;
  }
}

.button-no-bg {
  border:0px;
  background-color: transparent !important;
}

.table-button-primary-is-plain {
  background: #ffffff !important;
}
.table-button-primary-is-plain:active,.table-button-primary-is-plain:hover,.table-button-primary-is-plain:focus {
  background: #99d5d3 !important;
}

.table-button-danger-is-plain {
  background: #ffffff !important;
}
.table-button-danger-is-plain:active,.table-button-danger-is-plain:hover,.table-button-danger-is-plain:focus {
  background: #f8a2b9 !important;
}

.responsive_between_api {
  display: flex;
  .left, .right {
    width: 780px;
  }
  .right {
    flex-direction: column;
    margin-left: 20px;
    .el-table .el-table{
      border-top: 1px solid #ededed;
    }
    .el-card__header {
      display: flex;
      align-items: center;
      height: 55px;
      padding: 0 20px;
      >div {
        width: 100%;
      }
    }
  }
  .el-table .el-table__expanded-cell {
    padding: 0 0px 0 20px;
  }
  .el-row-index-align-right {
    display: contents;
  }

  .el-table__empty-block {
      display: none!important;
  }
}

.font10 { font-size: 14px !important;}
.font13 { font-size: 14px !important;}
.font14 { font-size: 14px !important;}
.font15 { font-size: 14px !important;}
.font16 { font-size: 14px !important;}
.font17 { font-size: 14px !important;}
.font18 { font-size: 14px !important;}
.font19 { font-size: 14px !important;}
.font20 { font-size: 14px !important;}

.width-auto {
  width:auto !important;
}

.width-half {
  width: 50% !important;
}

.el-form-item--mt0 {
  margin-bottom: 0px !important;
}

.el-table__row:hover {
  cursor: pointer !important;
}

.expand_wrap {
  position: relative;
  width: 100%;
  .el-table {
    box-sizing: content-box;
    border-bottom: 1px solid #cccccc;
  }
}

.el-radio-button__orig-radio:disabled:checked + .el-radio-button__inner {
  background-color: #c3c3c3;
  color: #ffffff;
}

.el-input.is-disabled .el-input__inner {
  background-color: #f7f7f7;
  border-color: #e5e5e5;
  color: #8c8d8e;
  cursor: not-allowed;
}