#app {
  .main-container {
    transition: margin-left .28s;
    padding-top: 60px; /* nav height */
    margin-left: 220px;
    position: relative;
  }
  .sidebar-container {
    width: 220px !important;
    height: 100%;
    background-color: #2b3b4e;
    position: fixed;
    font-size: 0px;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 2001;
    overflow: hidden;
    .scrollbar-wrapper {
      overflow-x: hidden!important;
      .el-scrollbar__view {
        height: 100%;
      }
    }
    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .svg-icon {
      margin-right: 16px;
      width: 16px !important;
      height: 16px !important;
      position: absolute !important;
      top: 17px !important;
    }
    
    .el-submenu__title, .el-menu-item.submenu-title-noDropdown{
      .subTitleAbso {
        position: absolute !important;
        left: 50px !important;
      }
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      padding-top: 20px;
      .menu-wrapper:last-child {
        padding-bottom: 80px; /* nav height */
      }
      .el-menu-item.is-active.submenu-title-noDropdown,.el-menu-item.submenu-title-noDropdown, .el-submenu > .el-submenu__title {
        height: 50px !important;
        line-height: 50px !important;
        border-left: 3px solid transparent;
        font-weight: 500;
        font-size: 14px;
        i {
          color: rgb(142,184,194);
          font-size: 15px;
        }
        &.is-active {
          border-color: $selectColor;
        }
      }

      .el-menu-item {
        height: 40px;
        border-left: 3px solid transparent;
        font-weight: 500;
        font-size: 14px;
        i {
          color: rgb(142,184,194);
          font-size: 15px;
        }
        &.is-active {
          border-color: $selectColor;
          background-color: #00000066 !important;
        }
      }
      .el-submenu .el-menu {
        padding-top: 0;
      }
    }
    .nest-menu .el-submenu>.el-submenu__title,
    .el-submenu .el-menu-item {
      line-height: 38px;
      min-width: 180px !important;
      background-color: $subMenuBg !important;
      &:hover {
        background-color: $menuHover !important;
      }
    }
    .el-menu--collapse .el-menu .el-submenu {
      min-width: 180px !important;
    }
  }

  .nav_bar, .footer {
    &.el-menu {
      border-right: none;
    }
  }

  .mobile {
    .main-container {
      margin-left: 0px;
    }
    .sidebar-container {
      transition: transform .28s;
      width: 180px !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-180px, 0, 0);
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
