<template>
  <div v-loading="isLoading" class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('guide.title') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="primary" @click="requestData">{{ $t('btn.request') }}</el-button>
          <el-button type="info" @click="historyBack">{{ $t('btn.before') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="responsive_between_api app-container">
      <el-row >
        <el-card v-loading="isLoading" shadow="hover" border highlight-current-row >
          <div slot="header">
            <strong class="strong-only">{{ $t('echo.apiInfo') }}</strong>
          </div>
          <el-table :data="[apiInfo]" :show-header="false">
            <el-table-column align="center" :min-width="12">
              <template slot-scope="props">
                <span>{{ props.row.apiNm }}</span>
              </template>
            </el-table-column>
            <el-table-column align="center">
              <template slot-scope="props">
                <el-row class="mt10 mb10" style="border-bottom: 1px solid #ededed;">
                  <el-col :span="12" >
                    <span>{{ props.row.apiUrl }}</span>
                  </el-col>
                  <el-col :span="4" style="border-left: 1px solid #ededed;padding-left:10px;">
                    <span>{{ props.row.ctgrCd | cdNmFilter('', codeApiDivList) }}</span>
                  </el-col>
                  <el-col :span="4" style="border-left: 1px solid #ededed;padding-left:10px;">
                    <span>{{ props.row.gwType | cdNmFilter('', codeGwList) }}</span>
                  </el-col>
                  <el-col :span="4" style="border-left: 1px solid #ededed;padding-left:10px;">
                    <el-tag class="button-no-bg" :type="props.row.apiMthd=='GET'?'warning':props.row.apiMthd=='POST'?'primary':'info'">{{ props.row.apiMthd }}</el-tag>
                  </el-col>
                </el-row>
                <el-row class="mt10 mb10">
                  <el-col :span="24" style="text-align:left">
                    <span v-html="props.row.apiCtnt"></span>
                  </el-col>
                </el-row>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
        <el-card shadow="hover" class="mt20">
          <div slot="header">
            <strong class="strong-only">Header</strong>
          </div>
          <el-form ref="ruleForm" :model="reqData" label-position="left" label-width="130px">
            <el-row type="flex">
              <el-form-item label="ISS">
                <el-input v-model="reqData.iss" placeholder="ISS" clearable />
              </el-form-item>
              <el-form-item label="AUD" class="ml20">
                <el-input v-model="reqData.aud" placeholder="AUD" clearable />
              </el-form-item>
            </el-row>
            <el-row type="flex">
              <el-form-item label="CI">
                <el-input v-model="reqData.ci" placeholder="CI" clearable />
              </el-form-item>
              <el-form-item label="EXP" class="ml20">
                <el-input v-model="reqData.exp" placeholder="EXP" clearable />
              </el-form-item>
            </el-row>
            <el-form-item label="Client_ID">
              <el-input v-model="reqData.clientId" placeholder="Client_ID" clearable />
            </el-form-item>
          </el-form>
        </el-card>
        <el-card shadow="hover" class="mt20">
          <div slot="header">
            <strong class="strong-only">Parameters</strong>
          </div>
          <el-table :data="apiInfo.apiRequestList" :header-cell-style="{textAlign: 'center'}" :default-expand-all="true" border highlight-current-row class="param_table">
            <!--    =========================   child  ===============================    -->
            <el-table-column type="expand">
              <el-row v-if="scope.row.apiColumnList" slot-scope="scope" type="flex" align="middle" style="flex-direction: column;">
                <div v-for="(item, index) in reqData.params[scope.row.clmCd]" :key="item.__key" class="expand_wrap" >
                  <el-table v-if="scope.row.apiColumnList" :data="scope.row.apiColumnList" :default-expand-all="true" :show-header="false" border highlight-current-row>
                    <el-table-column type="expand">
                      <el-row v-if="props.row.apiColumnList" slot-scope="props" type="flex" align="middle" style="flex-direction: column;">
                        <div v-for="(item2, index2) in item[props.row.clmCd]" :key="item2.__key" class="expand_wrap">
                          <el-table v-if="props.row.apiColumnList" :data="props.row.apiColumnList" :show-header="false" 
                                  current-row-key="props.row.apiColumnList.seqNo" border highlight-current-row>
                            <el-table-column align="right" width="102">
                              <template slot-scope="props2">
                                {{ scope.$index+1 }}-{{ props.$index+1 }}-{{props2.$index + 1}}
                              </template>
                            </el-table-column>
                            <el-table-column align="center" width="200">
                              <template slot-scope="props2">
                                {{props2.row.clmCd}}
                              </template>
                            </el-table-column>
                            <el-table-column align="center" width="100">
                              <template slot-scope="props2">
                                <el-input v-if="props2.row.clmType !== 'LIST'" v-model="item2[props2.row.clmCd]" clearable />
                              </template>
                            </el-table-column>
                            <el-table-column align="left" min-width="240">
                              <template slot-scope="props2">
                                <div class="el-input el-input--medium">
                                  {{props2.row.clmCtnt}}
                                </div>
                              </template>
                            </el-table-column>
                            <el-table-column align="center" width="80">
                              <template slot-scope="props2">
                                {{props2.row.clmLength}}
                              </template>
                            </el-table-column>
                            <el-table-column align="center" width="120">
                              <template slot-scope="props2">
                                {{props2.row.clmType}}
                              </template>
                            </el-table-column>
                            <el-table-column align="center" width="100">
                              <template slot-scope="props2">
                                <span v-if="props2.row.required === 'Y'" class="none_optional_parameter">{{ props2.row.required }}</span>
                                <span v-if="props2.row.required === 'N'" class="optional_parameter">{{ props2.row.required }}</span>
                              </template>
                            </el-table-column>
                            <el-table-column align="left" width="150">
                              <el-row slot-scope="props2">
                                <el-button type="danger" class="table-button-danger-is-plain" plain size="mini" @click="handleDeleteOptionChildren(item,index2, props.row)">{{$t('btn.delete') }}</el-button>
                              </el-row>
                            </el-table-column>
                          </el-table>
                        </div>
                      </el-row>
                    </el-table-column>
                    <el-table-column align="right" width="73">
                      <template slot-scope="props">
                        {{ scope.$index+1 }}-{{ props.$index+1 }}
                      </template>
                    </el-table-column>
                    <el-table-column align="center" width="200">
                      <template slot-scope="props">
                        {{props.row.clmCd}}
                      </template>
                    </el-table-column>
                    <el-table-column align="center" width="100">
                      <template slot-scope="props">
                        <el-input v-if="props.row.clmType !== 'LIST'" v-model="item[props.row.clmCd]" clearable />
                      </template>
                    </el-table-column>
                    <el-table-column align="left" min-width="240">
                      <template slot-scope="props">
                        {{props.row.clmCtnt}}
                      </template>
                    </el-table-column>
                    <el-table-column align="center" width="80">
                      <template slot-scope="props">
                        {{props.row.clmLength}}
                      </template>
                    </el-table-column>
                    <el-table-column align="center" width="120">
                      <template slot-scope="props">
                        {{props.row.clmType}}
                      </template>
                    </el-table-column>
                    <el-table-column align="center" width="100">
                      <template slot-scope="props">
                        <span v-if="props.row.required === 'Y'" class="none_optional_parameter">{{ props.row.required }}</span>
                        <span v-if="props.row.required === 'N'" class="optional_parameter">{{ props.row.required }}</span>
                      </template>
                    </el-table-column>
                    <el-table-column align="left" width="150">
                      <template slot-scope="props">
                        <el-button v-if="props.row.clmType === 'LIST'" type="primary" class="table-button-primary-is-plain" plain size="mini" @click="handleAddParamChildList(item,props.row,listSubIndex2)">{{$t('app.add') }}</el-button>
                        <el-button type="danger" class="table-button-danger-is-plain" plain size="mini" @click="handleDeleteOptionChildren(reqData.params ,index, scope.row)">{{$t('btn.delete') }}</el-button>
                      </template>
                    </el-table-column>
                  </el-table>
                </div>
              </el-row>
              <!-------서브 1 종료---------->
            </el-table-column>
            <!--    =========================   parent  ===============================    -->
            <el-table-column label="No" align="right" width="95">
              <el-row slot-scope="scope">
                <span>{{ scope.$index + 1 }}</span>
              </el-row>
            </el-table-column>
            <el-table-column :label="$t('api.item')" align="center" width="200">
              <template slot-scope="scope">
                {{scope.row.clmCd}}
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.value')" align="center" width="100">
              <template slot-scope="scope">
                <el-input v-if="scope.row.clmType !== 'LIST'" v-model="reqData.params[scope.row.clmCd]" clearable/>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.direction')" align="left" min-width="240">
              <template slot-scope="scope">
                {{scope.row.clmCtnt}}
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.length')" align="center" width="80">
              <template slot-scope="scope">
                {{scope.row.clmLength}}
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.type')" align="center" width="120">
              <template slot-scope="scope">
                {{scope.row.clmType}}
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.necessaryYN')" align="center" width="100">
              <template slot-scope="scope">
                <span v-if="scope.row.required === 'Y'" class="none_optional_parameter">{{ scope.row.required }}</span>
                <span v-if="scope.row.required === 'N'" class="optional_parameter">{{ scope.row.required }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('api.actions')" align="left" width="150">
              <template slot-scope="scope">
                <el-button v-if="scope.row.clmType=='LIST'" type="primary" class="table-button-primary-is-plain" plain size="mini" @click="handleAddParamChildList(reqData.params, scope.row, listSubIndex)">{{$t('app.add') }}</el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
        <el-card shadow="hover" class="mt20">
          <div slot="header">
            <strong class="strong-only">{{$t('guide.response')}}</strong>
            <span class="response_result">{{ resCd }}</span>
          </div>
          <div class="article">
            <json-editor :value="resMsg"/>
          </div>
        </el-card>
        <el-card shadow="hover" class="mt20">
          <div slot="header">
            <strong class="strong-only">{{$t('guide.responseInfo')}}</strong>
          </div>
          <el-table :data="apiInfo.apiResponseList" :header-cell-style="getRowClass" border>
            <el-table-column :label="$t('guide.parameter')" align="center" width="200">
              <template slot-scope="scope">
                <span>{{ scope.row.clmCd }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('guide.contents')" align="center">
              <el-row slot-scope="scope" type="flex" align="left">
                <span>{{ scope.row.clmCtnt }}</span>
              </el-row>
            </el-table-column>
            <el-table-column :label="$t('guide.type')" align="center" width="200">
              <template slot-scope="scope">
                <span>{{ scope.row.clmType }}</span>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
      </el-row>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import JsonEditor from '@/components/JsonEditor'
import { fetchApiDetail } from '@/api/api'
import { procGateway } from '@/api/guide'
import { selectCommCodeList } from '@/api/common'

export default {
  name: 'DevGuideDetail',
  components: { JsonEditor, Sticky },
  data() {
    return {
      condCode: [
        {cond: {commCdId: '0110'},list: 'codeApiDivList'},//API분류
        {cond: {commCdId: '0120',cdUseYn: 'Y'},list: 'codeMethodList'},//Method
        {cond: {commCdId: '0230'},list: 'codeGwList'}//게이트웨이
      ],
      codeApiDivList: [],
      codeMethodList: [],
      codeGwList: [],
      codeList: [],
      hfnNm: '',
      isLoading: false,
      apiInfo: {},
      resCd: '',
      resMsg: '',
      clientData: {},
      reqData: {
        appKey: '',
        entrCd: '',
        clientId: '',
        clientSecret: '',
        uri: '',
        url: '',
        gwType: '',
        method: '',
        params: {},
        hfnCd: '',
        apiAuthType: '',
        iss: '',
        scope: '',
        ci: '',
        aud: '',
        exp: ''
      },
      listSubIndex: 0,
      listSubIndex2: 0
    }
  },
  filters: {
    cdNmFilter(code, txtParam, codeList) {
      const value = codeList.reduce((obj, cur) => {
        obj[cur.cdId] = cur.cdNm
        return obj
      }, {})
      return value[code]
    }
  },
  created() {
    this.getCodeList()
    this.getApiDetail()
  },
  methods: {
    //코드조회
    getCodeList() {
      for(var i in this.condCode){
        var codeCond = this.condCode[i];
        selectCommCodeList(codeCond.cond).then(response => {
          //async로인해 함수 밖 파라미터를 재대로 사용할수없어 코드존재여부 확인뒤
          //첫번째 대표코드를 통해서 코드 list에 맵핑 함
          if(response.codeList != null && response.codeList.length > 0){
            var codeObj = this.condCode.filter(function(e,i,a){
              if(e.cond.commCdId ==response.codeList[0].commCdId){
                return true
              }
            })
            this[codeObj[0].list] = response.codeList
            if(codeObj[0].nulldata != null){
              this[codeObj[0].list].unshift({ cdId: codeObj[0].nulldata.cdId, cdNm: codeObj[0].nulldata.cdNm})
            }
          }
        })
      }
    },
    handleAddParamChildList(item, row, listSubIndex) {
      listSubIndex++
      const reqListRow = this.setColumnList(row.apiColumnList, this.listSubIndex)
      reqListRow['__key'] = listSubIndex
      item[row.clmCd].push(reqListRow)
    },
    handleDeleteOptionChildren(item, idx, row) {
      item[row.clmCd].splice(idx, 1)
    },
    setColumnList(dataList, listSubIndex) {
      return dataList.reduce((acc, cur) => {
        if (cur.clmType === 'LIST') {
          const reqListRow = this.setColumnList(cur.apiColumnList, this.listSubIndex2)
            acc[cur.clmCd] = []
            reqListRow['__key'] = listSubIndex
            acc[cur.clmCd].push(reqListRow)
        }else{
          acc[cur.clmCd] = ''
        }
        return acc
      }, {})
    },
    getApiDetail() {
      fetchApiDetail(this.$route.query.id).then(response => {
        this.reqData.params = this.setColumnList(response.apiRequestList, this.listSubIndex)

        this.apiInfo = response
        if (this.apiInfo.apiCtnt) {
          this.apiInfo.apiCtnt = this.apiInfo.apiCtnt.replace(/\n/g, '<br/>')
        }
      })
    },
    requestData() {
      for (let i = 0; i < this.apiInfo.apiRequestList.length; i++) {
        if (this.apiInfo.apiRequestList[i].required === 'Y') {
          if (this.apiInfo.apiRequestList[i].clmType === 'LIST') {
            if (this.reqData.params[this.apiInfo.apiRequestList[i].clmCd].length === 0) {
              this.$message.error(i18n.t('guide.validParameter', { param: this.apiInfo.apiRequestList[i].clmCtnt }))
              return
            }
          } else {
            if (this.reqData.params[this.apiInfo.apiRequestList[i].clmCd] === '') {
              this.$message.error(i18n.t('guide.validParameter', { param: this.apiInfo.apiRequestList[i].clmCtnt }))
              return
            }
          }
        }

        if (this.apiInfo.apiRequestList[i].clmType === 'LIST') {
          for (let j = 0; j < this.apiInfo.apiRequestList[i].apiColumnList.length; j++) {
            if (this.apiInfo.apiRequestList[i].apiColumnList[j].required === 'Y') {
              for (let k = 0; k < this.reqData.params[this.apiInfo.apiRequestList[i].clmCd].length; k++) {
                if (this.reqData.params[this.apiInfo.apiRequestList[i].clmCd][k][this.apiInfo.apiRequestList[i].apiColumnList[j].clmCd] === '') {
                  this.$message.error(i18n.t('guide.validParameter', { param: this.apiInfo.apiRequestList[i].apiColumnList[j].clmCtnt }))
                  return
                }
              }
            }
          }
        }
      }

      this.reqData.hfnCd = this.apiInfo.hfnCd
      //this.reqData.uri = '/api/' + this.apiInfo.apiSvc + '/' + this.apiInfo.apiVer + '/' + this.apiInfo.apiUri
      this.reqData.uri = this.apiInfo.apiUri
      this.reqData.method = this.apiInfo.apiMthd
      this.reqData.url = this.apiInfo.apiUrl
      this.reqData.gwType = this.apiInfo.gwType
      this.reqData.apiAuthType = this.apiInfo.apiAuthType

      this.reqData.scope = this.apiInfo.scope

      this.isLoading = true
      procGateway(this.reqData).then(response => {
        this.isLoading = false
        this.resMsg = response
      }).catch(() => {
        this.isLoading = false
      })
    },
    historyBack() {
      this.$router.back()
    },
    getRowHighlight() {
      return 'none_highlight'
    },
    getRowBorderTop({ rowIndex }) {
      if (rowIndex === 0) {
        return 'height: 0px; padding: 0; line-height: 0; border-top: 0px;'
      } else {
        return ''
      }
    },
    getRowClass({ rowIndex }) {
      if (rowIndex === 0) {
        return 'background: #F7F7F7'
      } else {
        return ''
      }
    }
  }
}
</script>

<style>
  .el-table__row:hover {
    cursor: auto !important;
    background-color: transparent;
  }
</style>