<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-model="condMain.ctgrCd" :placeholder="$t('api.apiDivCd')" clearable style="width: 150px" class="filter-item">
        <el-option v-for="item in codeApiDivList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <div class="filter-item el-input el-input--medium" style="width: 280px;">
        <input v-model="condMain.apiNm" type="text" autocomplete="off" :placeholder="$t('api.searchApi')" @keyup.enter.native="doSearch" class="el-input__inner">
      </div>
      <el-button v-waves class="filter-item" type="primary" plain icon="el-icon-search" size="small" style="margin-left: 0px;" @click="doSearch">{{ $t('btn.search') }}</el-button>
      <el-button v-waves class="filter-item" plain icon="el-icon-refresh-left" size="small" style="margin-left: 0px;" @click="doReset">{{ $t('btn.reset') }}</el-button>
    </div>
    <el-table v-loading="listLoading" :data="list" border highlight-current-row  @row-click="doEdit">
      <el-table-column label="No" type="index" width="50" align="center"></el-table-column>
      <el-table-column :label="$t('api.apiDivCd')" align="center" :min-width="3">
        <template slot-scope="scope">
          <span>{{ scope.row.ctgrCd | cdNmFilter('', codeApiDivList) }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('api.apiName')" align="center" :min-width="4">
        <el-row slot-scope="scope" type="flex" align="start">
          <span style="text-align: left;">{{ scope.row.apiNm }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('api.apiUrl')" align="center" :min-width="6">
        <el-row slot-scope="scope" type="flex" align="start">
          <span>{{ scope.row.apiUrl }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('api.method')" align="center" :min-width="2">
        <template slot-scope="scope">
          <el-tag class="button-no-bg" :type="scope.row.apiMthd=='GET'?'warning':scope.row.apiMthd=='POST'?'primary':'info'">{{ scope.row.apiMthd }}</el-tag>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="condMain.pageIdx" :limit.sync="condMain.pageSize" @pagination="doSearch"/>
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import { devApiList } from '@/api/guide'
import { mapGetters } from 'vuex'
import { selectCommCodeList } from '@/api/common'

export default {
  name: 'guideMain',
  directives: { waves },
  components: { Pagination },
  data() {
    return {
      condCode: [
        {cond: {commCdId: '0110'},list: 'codeApiDivList'}//API구분
      ],
      codeApiDivList: [],
      condMain: {
        apiDivCd: '',
        apiNm: '',
        pageIdx: 1,
        pageSize: 20
      },
      totCnt: 0,    // 총건수
      showHeader: false,
      list: [],
      codeList: []
    }
  },
  filters: {
    cdNmFilter(code, txtParam, codeList) {
      const value = codeList.reduce((obj, cur) => {
        obj[cur.cdId] = cur.cdNm
        return obj
      }, {})
      return value[code]
    }
  },
  computed: {
    ...mapGetters([
      'roles',
      'hfnCd'
    ])
  },
  created() {
    this.getCodeList()
    this.doSearch()
  },
  methods: {
    //코드조회
    getCodeList() {
      for(var i in this.condCode){
        var codeCond = this.condCode[i];
        selectCommCodeList(codeCond.cond).then(response => {
          //async로인해 함수 밖 파라미터를 재대로 사용할수없어 코드존재여부 확인뒤
          //첫번째 대표코드를 통해서 코드 list에 맵핑 함
          if(response.codeList != null && response.codeList.length > 0){
            var codeObj = this.condCode.filter(function(e,i,a){
              if(e.cond.commCdId ==response.codeList[0].commCdId){
                return true
              }
            })
            this[codeObj[0].list] = response.codeList
            if(codeObj[0].nulldata != null){
              this[codeObj[0].list].unshift({ cdId: codeObj[0].nulldata.cdId, cdNm: codeObj[0].nulldata.cdNm})
            }
          }
        })
      }
    },
    doReset() {
      this.condMain = {
        apiType: '',
        searchNm: '',
        pageIdx: 1,
        pageSize: 20,
      }
      this.list = []
    },
    doSearch() {
      this.listLoading = true
      devApiList(this.condMain).then(response => {
        this.list = response.list
        this.totCnt = response.totCnt
        this.listLoading = false
      })
    },
    doEdit(row) {
      this.$router.push({ path: '/guideMain/guideDetail?id=' + row.apiId })
    }
  }
}
</script>