<template>
  <el-scrollbar wrap-class="scrollbar-wrapper">
    <el-menu
      :show-timeout="200"
      :default-active="path"
      :collapse="isCollapse"
      mode="vertical"
      background-color="#2b3b4e"
      text-color="#ffffff"
      active-text-color="#73bebc"
      unique-opened>
      <sidebar-item v-for="route in routers" :key="route.name" :item="route" :base-path="route.path"/>
    </el-menu>
  </el-scrollbar>
</template>

<!-- background-color="#2B5863" -->

<script>
import { mapGetters } from 'vuex'
import SidebarItem from './SidebarItem'

export default {
  components: { SidebarItem },
  computed: {
    ...mapGetters([
      'sidebar',
      'routers'
    ]),
    isCollapse() {
      return !this.sidebar.opened
    },
    path() {
      const count = this.$route.path.match(/\//g).length
      if (count > 1) {
        return this.$route.path.substr(0, this.$route.path.lastIndexOf('/'))
      } else {
        return this.$route.path
      }
    }
  }
}
</script>
