<template>
  <div class="dashboard-container">
    <component :is="currentRole"/>
  </div>
</template>

<script>
import portalDashboard from './dashboardPortal'

export default {
  name: 'Dashboard',
  components: { portalDashboard },
  data() {
    return {
      currentRole: 'portalDashboard'
    }
  }
}
</script>

<style scoped>
</style>
