<template>
  <div class="app-container">
    <div class="filter-container">
      <div class="filter-item el-input el-input--medium" style="width: 245px;">
        <input v-model="listQuery.searchNm" :placeholder="$t('log.searchNm')" @keyup.enter.native="getLogList" type="text" autocomplete="off" class="el-input__inner">
      </div>
      <el-select v-model="listQuery.searchRoleCd" :placeholder="$t('log.site')" clearable style="width: 150px" class="filter-item">
        <el-option v-for="item in codeAuthList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <el-select v-model="listQuery.searchProcStatCd" :placeholder="$t('log.statResult')" clearable style="width: 150px" class="filter-item">
        <el-option v-for="item in codeResultList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <el-date-picker class="filter-item" v-model="listQuery.searchDt" :picker-options="pickerOptions" type="daterange" align="right" style="width: 330px"
                      :start-placeholder="$t('statistics.startDate')" :end-placeholder="$t('statistics.endDate')"/>
      <el-button v-waves style="margin-left: 0px;" class="filter-item" type="primary" icon="el-icon-search" @click="getLogList">
        {{ $t('btn.search') }}
      </el-button>
    </div>
    <el-table v-loading="listLoading" :data="list" border highlight-current-row @row-click="getLogDetailInfo">
      <el-table-column label="No" width="50" align="center">
        <template slot-scope="scope" align="center">
          {{ scope.$index + (listQuery.pageSize * (listQuery.pageIdx-1))+1}}
        </template>
      </el-table-column>
      <el-table-column :label="$t('log.loginId')" align="center" width="120">
        <el-row slot-scope="scope">
          <span>{{ scope.row.userId }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('log.site')" align="center" width="150">
        <template slot-scope="scope">
          <span>{{ scope.row.roleCd | conn1CdFilter('',codeAuthList) }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('log.trxNm')" align="center" min-width="220">
        <el-row slot-scope="scope" type="flex" align="start">
          <span>{{ scope.row.trxNm }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('log.trxDttm')" align="center" width="220">
        <template slot-scope="scope">
          <span>{{ scope.row.regDttm | dtFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('log.status')" align="center" width="90">
        <template slot-scope="scope">
          <el-tag class="button-no-bg" :type="scope.row.procStatCd | statusFilter('', codeResultList)">{{ scope.row.procStatCd | cdNmFilter('', codeResultList) }}</el-tag>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getLogList"/>

    <el-dialog :title="$t('log.title_dialog')" :visible.sync="dialogViewDetail" :modal-append-to-body="false" center class="dialog_table">
      <el-form ref="detailForm" :model="detailForm" label-position="left" label-width="130px">
        <el-row type="flex">
          <el-form-item :label="$t('log.user')">
            <span>{{ detailForm.userId }}</span>
          </el-form-item>
          <el-form-item :label="$t('log.role')">
            <span>{{ detailForm.roleCd | conn1CdFilter('', codeAuthList) }}</span>
          </el-form-item>
        </el-row>
        <el-row type="flex">
          <el-form-item :label="$t('log.trxNm')">
            <span>{{ detailForm.trxNm }}</span>
          </el-form-item>
          <el-form-item :label="$t('log.trxCd')">
            <span>{{ detailForm.trxCd }}</span>
          </el-form-item>
        </el-row>
        <el-row type="flex">
          <el-form-item :label="$t('log.statResult')">
            <el-tag class="button-no-bg" :type="detailForm.procStatCd | statusFilter('', codeResultList)">{{ detailForm.procStatCd | cdNmFilter('', codeResultList) }}</el-tag>
          </el-form-item>
          <el-form-item :label="$t('log.trxDttm')">
            <span>{{ detailForm.regDttm | dtFilter}}</span>
          </el-form-item>
        </el-row>
        <el-form-item :label="$t('log.input')">
          <code style="background: #666666;line-height: initial;">
            <span style="word-wrap:break-word; color: #FFFFFF;">{{ detailForm.inputCtnt }}</span>
          </code>
        </el-form-item>
        <el-form-item :label="$t('log.output')">
          <code style="background: #666666; line-height: initial;">
            <span style="word-wrap:break-word; color: #FFFFFF;">{{ detailForm.outputCtnt }}</span>
          </code>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import moment from 'moment'
import { mapGetters } from 'vuex'
import { fetchPortalLogList, fetchPortalLogDetail } from '@/api/log'
import { selectCommCodeList } from '@/api/common'

export default {
  name: 'PortalDeal',
  directives: { waves },
  filters: {
    statusFilter(code, txtParam, codeList) {
      const tagValue = codeList.reduce((acc, cur) => {
        acc[cur.cdId] = cur.conn1Cd
        return acc
      }, {})
      return tagValue[code]
    },
    cdNmFilter(code, txtParam, codeList) {
      const value = codeList.reduce((obj, cur) => {
        obj[cur.cdId] = cur.cdNm
        return obj
      }, {})
      return value[code]
    },
    conn1CdFilter(code, txtParam, codeList) {
      const value = codeList.reduce((obj, cur) => {
        obj[cur.conn1Cd] = cur.cdNm
        return obj
      }, {})
      return value[code]
    }
  },
  components: { Pagination },
  computed: {
    ...mapGetters([
      'roles',
      'hfnCd'
    ])
  },
  data() {
    return {
      condCode: [
        {cond: {commCdId: '0221'},list: 'codeResultList'},//처리결과
        {cond: {commCdId: '0001'},list: 'codeAuthList'}//권한
      ],
      codeResultList: [],
      codeAuthList: [],
      listQuery: {
        pageIdx: 1,
        pageSize: 20,
        searchDt: [new Date(), new Date()],
        searchStDt: '',
        searchEnDt: '',
        searchHfnCd: '',
        searchNm: '',
        searchProcStatCd: '',
        searchSiteCd: ''
      },
      pickerOptions: {
        shortcuts: [{
          text: this.$t('statistics.lastWeek'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
            picker.$emit('pick', [start, end])
          }
        }, {
          text: this.$t('statistics.lastMonth'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
            picker.$emit('pick', [start, end])
          }
        }]
      },
      listLoading: false,
      totCnt: 0,
      list: [],
      dialogViewDetail: false,
      detailForm: {
        regDttm: '',
        trxCd: null,
        userNm: '',
        roleCd: '',
        procStatCd: '',
        inputCtnt: '',
        outputCtnt: ''
      }
    }
  },
  created() {
    this.getCodeList()
    this.getLogList()
  },
  methods: {
    //코드조회
    getCodeList() {
      for(var i in this.condCode){
        var codeCond = this.condCode[i];
        selectCommCodeList(codeCond.cond).then(response => {
          //async로인해 함수 밖 파라미터를 재대로 사용할수없어 코드존재여부 확인뒤
          //첫번째 대표코드를 통해서 코드 list에 맵핑 함
          if(response.codeList != null && response.codeList.length > 0){
            var codeObj = this.condCode.filter(function(e,i,a){
              if(e.cond.commCdId ==response.codeList[0].commCdId){
                return true
              }
            })
            this[codeObj[0].list] = response.codeList
            if(codeObj[0].nulldata != null){
              this[codeObj[0].list].unshift({ cdId: codeObj[0].nulldata.cdId, cdNm: codeObj[0].nulldata.cdNm})
            }
          }
        })
      }
    },
    getLogList() {
      this.listLoading = true
      if (this.listQuery.searchDt) {
        this.listQuery.searchStDt = moment(this.listQuery.searchDt[0]).format("YYYYMMDD")
        this.listQuery.searchEnDt = moment(this.listQuery.searchDt[1]).format("YYYYMMDD")
      }
      fetchPortalLogList(this.listQuery).then(response => {
        this.list = response.list
        this.totCnt = response.totCnt
        setTimeout(() => {
          this.listLoading = false
        }, 1000)
      })
    },
    getLogDetailInfo(row) {
      fetchPortalLogDetail(row.trxId).then(response => {
        this.detailForm = response
        this.dialogViewDetail = true
      })
    }
  }
}
</script>
