<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-permission="['ROLE_SYS_ADMIN']" v-model="listQuery.searchHfnCd" prop="codeList" :placeholder="$t('paymentHistory.prdCtgy')" class="filter-item" style="width: 150px" clearable>
          <el-option v-for="item in codeList" v-if="item.commCdId === '1100'" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <el-row class="filter-item">
        <el-date-picker v-model="listQuery.searchDate" :picker-options="pickerOptions" type="daterange" align="right" style="width: 330px"
                        :start-placeholder="$t('statistics.startDate')" :end-placeholder="$t('statistics.endDate')"/>
      </el-row>
      <el-button v-waves style="margin-left: 0px;" size="small" class="filter-item" type="primary" icon="el-icon-search" @click="getList">
        {{ $t('btn.search') }}
      </el-button>
      <el-button v-waves style="margin-left: 0px;" size="small" class="filter-item" type="success" icon="el-icon-download" @click="excelDown">{{ $t('btn.excel') }}</el-button>
    </div>
    <el-table v-loading="listLoading" :data="payInfoList" border highlight-current-row>
      <el-table-column :label="$t('settlement.paymentDate')" align="center" width="220">
        <template slot-scope="scope">
          <el-button type="text" @click="showDialog(scope.row)"><span>{{ scope.row.authDate | addDtFilter }}</span></el-button>
        </template>
      </el-table-column>
      <el-table-column :label="$t('settlement.appName')" align="center" width="220">
        <el-row slot-scope="scope">
          <span>{{ scope.row.appNm }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('settlement.payPrdCnt')" align="center" width="180">
        <el-row slot-scope="scope">
          <span>{{ scope.row.prdCnt }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('settlement.payAmt')" align="center" width="180">
        <el-row slot-scope="scope">
          <span>{{ scope.row.amt | wonFilter }}</span>
        </el-row>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getList"/>
    <el-dialog :visible.sync="dialogViewDetail" :title="$t('paymentHistory.dialogPayment')" center class="dialog_table">
      <el-form>
        <el-row type="flex" align="top" justify="space-between" class="between_form_item">
          <el-form-item :label="$t('settlement.paymentDate')">
            <span>{{ this.searchCond.authDate | addDtFilter }}</span>
          </el-form-item>
          <el-form-item :label="$t('settlement.appNm')">
            <span>{{ this.searchCond.appNm }}</span>
          </el-form-item>
        </el-row>
        <el-table :data="payDetaiList" show-summary border style="margin-top:10px;" highlight-current-row>
          <el-table-column :label="$t('settlement.prdNm')" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.prdNm }}</span>
            </template>
          </el-table-column>
          <el-table-column :label="$t('settlement.prdUse')" align="center">
            <template slot-scope="scope">
              <span data-type="date">{{ scope.row.useTeam }}</span>
            </template>
          </el-table-column>
          <el-table-column :label="$t('settlement.payCnt')" align="center">
            <template slot-scope="scope">
              <span data-type="date">{{ scope.row.useCnt }}</span>
            </template>
          </el-table-column>
          <el-table-column :label="$t('settlement.payAmt')" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.amt | wonFilter }}</span>
            </template>
          </el-table-column>
        </el-table>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import i18n from '@/lang'
import axios from 'axios'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import permission from '@/directive/permission/index.js'
import { mapGetters } from 'vuex'
import { getToken } from '@/utils/auth'
import { reqPost } from '@/api/common'
import { selectCommCodeList } from '@/api/product'

export default {
  name: 'Payment',
  directives: { waves, permission },
  components: { Pagination },
  computed: {
    ...mapGetters([
      'roles',
      'userKey',
      'hfnCd'
    ]),
    totalAmt: function() {
      return this.payDetaiList.reduce((pre, value, idx, arr)=>{ return pre + value.amt},0)
    },
    totalCnt: function() {
      return this.payDetaiList.reduce((pre, value, idx, arr)=>{ return pre + parseInt(value.useCnt)},0)
    }
  },
  data() {
    return {
      listQuery: {
        pageIdx: 1,
        pageSize: 20,
        searchHfnCd: '',
        searchDate: [new Date(), new Date()],
        searchStDt: '',
        searchEnDt: ''
      },
      searchCond: {
        moid: '',
        authDate: '',
        appNm: ''
			},
      pickerOptions: {
        shortcuts: [{
          text: this.$t('statistics.lastWeek'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
            picker.$emit('pick', [start, end])
          }
        }, {
          text: this.$t('statistics.lastMonth'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
            picker.$emit('pick', [start, end])
          }
        }]
      },
      dialogViewDetail: false,
      listLoading: false,
      totCnt: 0,
      codeList: [],
      payInfoList: [],
      payDetaiList: []
    }
  },
  created() {
    this.dateRange()
    this.getCodeList()
  },
  methods: {
    dateRange() {
      const end = new Date()
      const start = new Date()
      start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
      this.listQuery.searchDate = [start, end]
    },
    getCodeList() {
      selectCommCodeList().then(response => {
        this.codeList = response.codeList
        this.listQuery.searchHfnCd = this.hfnCd
        this.getList()
      })
    },
    getList() {
      if (this.listQuery.searchDate) {
        this.listQuery.searchStDt = this.format_date_yyyymmdd(this.listQuery.searchDate[0])
        this.listQuery.searchEnDt = this.format_date_yyyymmdd(this.listQuery.searchDate[1])
      } else {
        this.listQuery.searchStDt = ''
        this.listQuery.searchEnDt = ''
      }
      reqPost('/billing/selectPayInfoNice',this.listQuery).then(response => {
        this.payInfoList = response.payInfoList
        this.totCnt = response.totCnt
      })
    },
    showDialog(row) {
      this.searchCond.moid = row.moid
      this.searchCond.authDate = row.authDate
      this.searchCond.appNm = row.appNm

      reqPost('/billing/selectPayDetailInfoNice',this.searchCond).then(response => {
        this.dialogViewDetail = true
        this.payDetaiList = response.payInfoList
      })
    },
    format_date_yyyymmdd(inputDate) {
      const y = inputDate.getFullYear()
      const m = inputDate.getMonth() + 1
      const d = inputDate.getDate()
      const mm = m < 10 ? '0' + m : m
      const dd = d < 10 ? '0' + d : d
      return '' + y + mm + dd
    },
    excelDown() {
      let url = location.origin;
      axios({
        url: url + '/billing/excelPayment',
        method: 'POST',
        headers: { 'Authorization': 'Bearer ' + getToken() },
        responseType: 'blob',
        params: {
          pageIdx: this.listQuery.pageIdx,
          pageSize: this.listQuery.pageSize,
          searchHfnCd: this.listQuery.searchHfnCd,
          searchStDt: this.listQuery.searchStDt,
          searchEnDt: this.listQuery.searchEnDt
        }
      }).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        let fileName = response.headers['content-disposition']
        fileName = this.getFileNameByContentDisposition(fileName)
        link.href = url
        link.setAttribute('download', fileName)
        document.body.appendChild(link)
        link.click()
      })
    },
    getFileNameByContentDisposition(contentDisposition){
      let regex = /filename[^;=\n]*=(UTF-8(['"]*))?(.*)/;
      let matches = regex.exec(contentDisposition);
      let filename;

      if (matches != null && matches[3]) {
        filename = matches[3].replace(/['"]/g, '');
      }
      return decodeURI(filename);
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .between_form_item {
    .el-form-item {
      width: 50%;
    }
  }
</style>
