<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-permission="['ROLE_SYS_ADMIN']" v-model="listQuery.searchHfnCd" @change="handleHfnChange" :placeholder="$t('paymentHistory.prdCtgy')" prop="codeList" class="filter-item" style="width: 150px" clearable>
          <el-option v-for="item in codeList" v-if="item.commCdId === '1100'" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <el-select v-model="listQuery.searchAppKey" @change="handleAppChange" :placeholder="$t('paymentHistory.selectApp')" class="filter-item">
        <el-option v-for="(item, index) in appAllList" :value="item.appKey" :key="index" :label="item.appNm"/>
      </el-select>
      <el-select v-model="listQuery.searchPrdId" :placeholder="$t('paymentHistory.selectPrd')" class="filter-item">
        <el-option v-for="(item, index) in prdList" :value="item.prdId" :key="index" :label="item.prdNm"/>
        <option :value="listQuery.searchPrdId" disabled hidden>선택</option>
      </el-select>
      <el-row class="filter-item">
        <el-date-picker 
          v-model="listQuery.searchDate" :picker-options="pickerOptions" type="daterange" align="right" style="width: 330px"
          :start-placeholder="$t('statistics.startDate')" :end-placeholder="$t('statistics.endDate')"/>
      </el-row>
      <el-button v-waves style="margin-left: 0px;" size="small" class="filter-item" type="primary" icon="el-icon-search" @click="getList">
        {{ $t('btn.search') }}
      </el-button>
      <el-button v-waves style="margin-left: 0px;" size="small" class="filter-item" type="success" icon="el-icon-download" @click="excelDown">{{ $t('btn.excel') }}</el-button>
    </div>
    <el-table v-loading="listLoading" :data="appUseList" border highlight-current-row>
      <el-table-column :label="$t('paymentHistory.appNm')" align="center">
        <el-row slot-scope="scope">
          <el-button type="text" @click="showDialog(scope.row)"><span>{{ scope.row.appNm }}</span></el-button>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('paymentHistory.prdNm')" align="center">
        <el-row slot-scope="scope">
          <span>{{ scope.row.prdNm }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('paymentHistory.reqCnt')" align="center">
        <el-row slot-scope="scope">
          <span>{{ scope.row.reqCnt }}</span>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('paymentHistory.resCnt')" align="center">
        <el-row slot-scope="scope">
          <span>{{ scope.row.resCnt }}</span>
        </el-row>
      </el-table-column>
       <el-table-column :label="$t('paymentHistory.payAmt')" align="center">
        <el-row slot-scope="scope">
          <span>{{ scope.row.payAmt }}</span>
        </el-row>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getList"/>
    <el-dialog :visible.sync="dialogViewDetail" :title="$t('paymentHistory.dialogSettlement')" center class="dialog_table">
      <el-form>
        <el-table :data="appPrdUseList" border style="margin-top:10px;" highlight-current-row>
          <el-table-column :label="$t('paymentHistory.useDt')" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.useDt }}</span>
            </template>
          </el-table-column>
          <el-table-column :label="$t('paymentHistory.appNm')" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.appNm }}</span>
            </template>
          </el-table-column>
          <el-table-column :label="$t('paymentHistory.prdNm')" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.prdNm }}</span>
            </template>
          </el-table-column>
          <el-table-column :label="$t('paymentHistory.reqCnt')" align="center">
            <template slot-scope="scope">
              <span data-type="date">{{ scope.row.reqCnt }}</span>
            </template>
          </el-table-column>
          <el-table-column :label="$t('paymentHistory.resCnt')" align="center">
            <template slot-scope="scope">
              <span data-type="date">{{ scope.row.resCnt }}</span>
            </template>
          </el-table-column>
          <el-table-column :label="$t('paymentHistory.payAmt')" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.payAmt }}</span>
            </template>
          </el-table-column>
        </el-table>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import axios from 'axios'
import Pagination from '@/components/Pagination'
import permission from '@/directive/permission/index.js'
import { mapGetters } from 'vuex'
import { reqPost } from '@/api/common'
import { getToken } from '@/utils/auth'
import { selectCommCodeList } from '@/api/product'

export default {
  name: 'settlement',
  directives: { waves, permission },
  components: { Pagination },
  computed: {
    ...mapGetters([
      'roles',
      'hfnCd'
    ]),
    totalAmt: function() {
      return this.payDetaiList.reduce((pre, value, idx, arr)=>{ return pre + value.amt},0)
    },
    totalCnt: function() {
      return this.payDetaiList.reduce((pre, value, idx, arr)=>{ return pre + parseInt(value.useCnt)},0)
    }
  },
  data() {
    return {
      listQuery: {
        pageIdx: 1,
        pageSize: 20,
        searchHfnCd: '',
        searchDate: [new Date(), new Date()],
        searchStDt: '',
        searchEnDt: '',
        searchPrdId: '',
        appKey: ''
      },
      searchCond: {
        moid: '',
        authDate: '',
        appNm: ''
			},
      pickerOptions: {
        shortcuts: [{
          text: this.$t('statistics.lastWeek'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
            picker.$emit('pick', [start, end])
          }
        }, {
          text: this.$t('statistics.lastMonth'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
            picker.$emit('pick', [start, end])
          }
        }]
      },
      dialogViewDetail: false,
      listLoading: false,
      totCnt: 0,
      codeList: [],
      appAllList: [],
      prdList: [],
      payInfoList: [],
      payDetaiList: [],
      appPrdUseList: [],
      appUseList: []
    }
  },
  created() {
    this.dateRange()
    this.getCodeList()
  },
  methods: {
    dateRange() {
      const end = new Date()
      const start = new Date()
      start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
      this.listQuery.searchDate = [start, end]
    },
    getCodeList() {
      selectCommCodeList().then(response => {
        this.codeList = response.codeList
        this.listQuery.searchHfnCd = this.hfnCd
        this.getAppAll()
      })
    },
    getAppAll() {
      this.appAllList = ''
      this.listQuery.searchAppKey = ''
      reqPost('/billing/selectAppsBeforeNice',this.listQuery).then(response => {
        response.list.unshift({ appKey: '', appNm: i18n.t('statistics.all') })
        this.appAllList = response.list
      })
    },
    getPrdList() {
      this.prdList = ''
      this.listQuery.searchPrdId = ''
      this.listQuery.appKey = this.listQuery.searchAppKey
      reqPost('/billing/selectProdList',this.listQuery).then(response => {
        response.prodList.unshift({ prdId: '', prdNm: i18n.t('statistics.all') })
        this.prdList = response.prodList
        this.getList()
			})
    },
    getList() {
      if (this.listQuery.searchDate) {
        this.listQuery.searchStDt = this.format_date_yyyymmdd(this.listQuery.searchDate[0])
        this.listQuery.searchEnDt = this.format_date_yyyymmdd(this.listQuery.searchDate[1])
      } else {
        this.listQuery.searchStDt = ''
        this.listQuery.searchEnDt = ''
      }

      reqPost('/billing/selectUseInfoNice',this.listQuery).then(response => {
        this.appUseList = response.appUseList
      })
    },
    handleHfnChange() {
      this.prdList = ''
      this.listQuery.searchPrdId = ''
      this.getAppAll()
    },
    handleAppChange() {
      if(this.listQuery.searchAppKey != null && this.listQuery.searchAppKey != ""){
        this.getPrdList()
      }
    },
    showDialog(row) {
      this.listQuery.searchAppKey = row.appKey
      reqPost('/billing/selectUseDetailNice',this.listQuery).then(response => {
        this.dialogViewDetail = true
        this.appPrdUseList = response.appPrdUseList
      })
    },
    format_date_yyyymmdd(inputDate) {
      const y = inputDate.getFullYear()
      const m = inputDate.getMonth() + 1
      const d = inputDate.getDate()
      const mm = m < 10 ? '0' + m : m
      const dd = d < 10 ? '0' + d : d
      return '' + y + mm + dd
    },
    excelDown() {
      let url = location.origin;
      axios({
        url: url + '/billing/excelSettlement',
        method: 'POST',
        headers: { 'Authorization': 'Bearer ' + getToken() },
        responseType: 'blob',
        params: {
          pageIdx: this.listQuery.pageIdx,
          pageSize: this.listQuery.pageSize,
          searchHfnCd: this.listQuery.searchHfnCd,
          searchNm: this.listQuery.searchNm,
          searchRoleCd: this.listQuery.searchRoleCd,
          searchStatus: this.listQuery.searchStatus
        }
      }).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        let fileName = response.headers['content-disposition']
        fileName = this.getFileNameByContentDisposition(fileName)
        link.href = url
        link.setAttribute('download', fileName)
        document.body.appendChild(link)
        link.click()
      })
    },
    getFileNameByContentDisposition(contentDisposition){
      let regex = /filename[^;=\n]*=(UTF-8(['"]*))?(.*)/;
      let matches = regex.exec(contentDisposition);
      let filename;

      if (matches != null && matches[3]) {
        filename = matches[3].replace(/['"]/g, '');
      }
      return decodeURI(filename);
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .between_form_item {
    .el-form-item {
      width: 50%;
    }
  }
</style>
