<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-permission="['ROLE_SYS_ADMIN']" v-model="listQuery.searchPrdCtgy" prop="codeList" :placeholder="$t('pass.prdCtgy')" class="filter-item" style="width: 150px" clearable>
        <el-option v-for="item in codeList" v-if="item.commCdId === '1100'" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <el-select v-model="listQuery.searchAplvStatCd" @change="handleChange()" :placeholder="$t('pass.status')" clearable style="width: 120px" class="filter-item">
        <el-option v-for="item in statusOptions" :key="item.value" :label="item.name" :value="item.value"/>
      </el-select>
      <div class="filter-item el-input el-input--medium" style="width: 180px;">
        <input v-model="listQuery.searchEtc" type="text" autocomplete="off" :placeholder="$t('pass.prdNm')" class="el-input__inner" @keyup.enter.native="handleFilter">
      </div>
      <el-input :placeholder="$t('pass.userId')" v-model="listQuery.searchUserId" style="width: 180px;" class="filter-item" @keyup.enter.native="handleFilter"/>
      <el-row class="filter-item">
       <el-date-picker
        v-model="listQuery.searchDate" :picker-options="pickerOptions" type="daterange" align="right" style="width: 330px" :clearable="false"
        :start-placeholder="$t('statistics.startDate')" :end-placeholder="$t('statistics.endDate')"/>
      </el-row>
      <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" icon="el-icon-search" @click="handleFilter">
        {{ $t('btn.search') }}
      </el-button>
    </div>
    <el-table v-loading="listLoading" :data="list" border highlight-current-row>
      <el-table-column  v-if="checkPermission(['ROLE_SYS_ADMIN'])" :label="$t('product.prdCtgy')" align="center" width="130">
        <template slot-scope="scope">
          <span>{{ scope.row.prdCtgy | svcNmFilter('', codeList) }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('pass.cop')" align="center" width="140">
        <template slot-scope="scope">
          <span v-if="scope.row.copNm != null">{{ scope.row.copNm }}({{ scope.row.copRegNo | maskingCompRegNo('1') }})</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('pass.applyUser')" align="center" width="130">
        <el-row slot-scope="scope">
          <div v-if="scope.row.site === 'ADMIN'">
            <span>{{ scope.row.regUser }}</span>
          </div>
          <div v-if="scope.row.site === 'USER'" >
            <span data-type="date">{{ scope.row.userId | maskingId }}</span>
            <span v-if="scope.row.regUser != 'DEL'">( {{ scope.row.regUser | maskingName }} )</span>
          </div>
        </el-row>
      </el-table-column>
      <el-table-column :label="$t('settlement.appNm')" align="center" width="220">
        <template slot-scope="scope">
          <span>{{ scope.row.appNm }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('pass.prdNm')" align="center" width="220">
        <template slot-scope="scope">
          <span>{{ scope.row.prdNm }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('pass.regDttm')" align="center" width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.regDttm | dtFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('pass.permissionDate')" align="center" width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.procDttm | dtFilter }}</span>
        </template>
      </el-table-column>
       <el-table-column :label="$t('pass.permissionManage')" align="center" width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.procUser }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('pass.status')" class-name="status-col" width="90">
        <template slot-scope="scope">
          <el-tag :type="scope.row.aplvStatCd | statusFilter">{{ scope.row.aplvStatCd | statusTextFilter }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column :label="$t('pass.actions')" align="center" class-name="small-padding fixed-width" width="225">
        <el-row slot-scope="scope" type="flex" align="start">
          <el-button type="primary" size="mini" @click="handleToDetail(scope.row)">
            {{ $t('btn.detail') }}
          </el-button>
          <el-button v-if="scope.row.aplvStatCd==='WAIT' || scope.row.aplvStatCd==='REJECT'" size="mini" type="success" @click="handleApply(scope.row,'APPROVAL')">{{ $t('pass.apply') }}</el-button>
          <el-button v-if="scope.row.aplvStatCd==='WAIT' || scope.row.aplvStatCd==='REJECT'" size="mini" type="danger" @click="handleReject(scope.row,'REJECT')">{{ $t('pass.reject') }}</el-button>
        </el-row>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getList"/>
    <el-dialog :visible.sync="dialogReject" :title="$t('pass.reject')" width="30%" center>
      <el-form ref="ruleForm" :rules="rules" :model="temp" label-width="100px" label-position="left">
        <el-form-item :label="$t('pass.classify')">
          <p>{{ temp.aplvDivCd | classifyFilter }}</p>
        </el-form-item>
        <el-form-item v-if="temp.aplvDivCd === 'APP' || temp.aplvDivCd === 'APPEDIT' || temp.aplvDivCd === 'APPEXP' || temp.aplvDivCd === 'APPDEL'" :label="$t('pass.appName')">
          <p>{{ temp.aplvReqCtnt }}</p>
        </el-form-item>
        <el-form-item :label="$t('pass.rejectContent')" prop="rejectCtnt">
          <textarea v-model="temp.rejectCtnt" maxlength="1000" :class="'custom-textarea'" rows="2"/>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="handleRejectConfirm">{{ $t('pass.reject') }}</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { compRegNoFormatter } from '@/utils/common'
import { prdAplvList, approveApply, approveReject } from '@/api/setting'
import { selectCommCodeList } from '@/api/product'
import { isEmpty } from '@/utils/validate'
import permission from '@/directive/permission/index.js'
import checkPermission from '@/utils/permission'
import moment from 'moment'

const classifyOptions = [
  { key: 'APPPRDREG', name: i18n.t('product.appPrdReg') },
  { key: 'APPPRDDEL', name: i18n.t('product.appPrdDel') }
]

const statusOptions = [
  { key: 'WAIT', name: i18n.t('pass.wait'), tag: 'warning', value: '0'},
  { key: 'APPROVAL', name: i18n.t('pass.appApplied'), tag: 'success', value: '1' },
  { key: 'REJECT', name: i18n.t('pass.reject'), tag: 'danger', value: '9' }
]

export default {
  name: 'Pass',
  directives: { waves, permission },
  filters: {    
    classifyFilter(status) {
      const nameValue = classifyOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.name
        return acc
      }, {})
      return nameValue[status]
    },
    statusFilter(status) {
      const tagValue = statusOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.tag
        return acc
      }, {})
      return tagValue[status]
    },
    statusTextFilter(status) {
      const nameValue = statusOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.name
        return acc
      }, {})
      return nameValue[status]
    }
  },
  components: { Pagination },
  data() {
    return {
      codeList: [],
      listLoading: false,
      totCnt: 0,
      list: [],
      classifyOptions,
      statusOptions,
      listQuery: {
        pageIdx: 1,
        pageSize: 20,
        searchPrdCtgy: '',
        searchUserId: '',
        searchEtc: '',
        searchAplvStatCd: '',
        searchDate: [new Date(), new Date()],
        searchFromDate: '',
        searchToDate: ''
      },
      dialogReject: false,
      temp: {},
      ruleForm: { rejectCtnt: '' },
      rules: { rejectCtnt: [{ required: true, message: this.$t('app.valid_required'), trigger: 'blur' }] },
      pickerOptions: {
        shortcuts: [{
          text: this.$t('statistics.lastWeek'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
            picker.$emit('pick', [start, end])
          }
        }, {
          text: this.$t('statistics.lastMonth'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
            picker.$emit('pick', [start, end])
          }
        }]
      }
    }
  },
  computed: {
    ...mapGetters([
      'roles',
      'userKey',
      'hfnCd'
    ])
  },
  created() {
    this.dateRange()
    this.getCodeList()
    this.listQuery.searchAplvStatCd = '0'
  },
  methods: {
    checkPermission,
    isEmpty,
    dateRange() {
      const end = new Date()
      const start = new Date()
      start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
      this.listQuery.searchDate = [start, end]
    },
    getCodeList() {
      selectCommCodeList().then(response => {
        this.codeList = response.codeList
        this.listQuery.searchPrdCtgy = this.hfnCd
        this.getList()
      })
    },
    getList() {
      this.listLoading = true
      if (this.listQuery.searchDate) {
        this.listQuery.searchFromDate = moment(this.listQuery.searchDate[0]).format("YYYYMMDD")
        this.listQuery.searchToDate = moment(this.listQuery.searchDate[1]).format("YYYYMMDD")
      }
      prdAplvList(this.listQuery).then(response => {
        this.list = response.list
        this.totCnt = response.totCnt

        setTimeout(() => {
          this.listLoading = false
        }, 1000)
      })
    },
    handleFilter() {
      this.listQuery.pageIdx = 1
      this.getList()
    },
    handleToDetail(row) {
      this.$router.push({ path: '/pass/passDetail?aplvSeqNo=' + row.aplvSeqNo +'&prdCtgy=' + row.prdCtgy })
    },
    handleApply(row) {
      this.listLoading = true
      this.info = {}
      this.info.aplvSeqNo = row.aplvSeqNo
      this.info.prdCtgy = row.prdCtgy
      approveApply(this.info).then(response => {
        this.$message.success(i18n.t('message.success'))
        this.listQuery.pageIdx = 1
        this.getList()
      }).catch((e) => {
        this.listLoading = false
      })
    },
    handleReject(row) {
      this.resetData()
      this.temp = row
      this.dialogReject = true
    },
    handleRejectConfirm() {
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          this.temp.hfnCd = this.listQuery.searchPrdCtgy
          approveReject(this.temp).then(response => {
            this.listQuery.pageIdx = 1
            this.getList()
            this.dialogReject = false
            this.$message.success(this.$t('message.success'))
          })
        }
      })
    },
    resetData() {
      if (this.$refs['ruleForm']) {
        this.$refs['ruleForm'].clearValidate()
      }
      this.temp = {}
    },
    handleChange() {
      this.getList()
    }
  }
}
</script>
<style rel="stylesheet/scss" lang="scss">
  .table_like {
    width: 100%;
    overflow: auto;
    margin-top: -20px;
    .el-col {
      width: 120px;
      height: 40px;
      &.content {
        min-width: 220px;
      }
    }
  }
</style>
