<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.passDetail') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleConfirm">{{ $t('btn.before') }}</el-button>
          <el-button v-if="info.aplvStatCd=='WAIT'" type="success" @click="handleApply">{{ $t('pass.apply') }}</el-button>
          <el-button v-if="info.aplvStatCd=='WAIT'" type="danger" @click="handleReject">{{ $t('pass.reject') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="app-container">
      <div class="article_top">
        <el-card shadow="hover" class="left table_like">
          <div slot="header">
            <strong>{{ $t('title.basicInfo') }} </strong>
          </div>
          <el-form ref="ruleFormTop" :rules="rules" :model="info" label-width="150px" label-position="left">
            <template>
              <!--기본정보-->
              <el-form-item :label="$t('pass.prdNm')">
                <p>{{ info.prdNm }}</p>
              </el-form-item>
              <el-form-item :label="$t('pass.prdCtgy')">
                <p>{{ info.prdCtgy | svcNmFilter('', codeList) }}</p>
              </el-form-item>
              <el-form-item v-if="info.regDttm!=null" :label="$t('pass.regInfo')">
                <p>{{ info.regDttm | dtFilter }}</p>
                <div v-if="info.site === 'ADMIN'">
                  <span>{{ info.regUser }}</span>
                </div>
                <div v-if="info.site === 'USER'" >
                  <span data-type="date">{{ info.regId | maskingId }}</span>
                  <span v-if="info.regUser != 'DEL'">( {{ info.regUser | maskingName }} )</span>
                </div>
              </el-form-item>
              <el-form-item v-if="info.procDttm!=null" :label="$t('pass.procInfo')">
                <p>{{ info.procDttm | dtFilter }} {{ info.procUser | maskingName }}</p>
              </el-form-item>
              <el-form-item v-if="info.rejectCtnt!=null" :label="$t('pass.rejectContent')">
                <p>{{ info.rejectCtnt }}</p>
              </el-form-item>
            </template>
          </el-form>
        </el-card>
        <!--APP세부정보-->
        <el-card shadow="hover" class="right table_like">
          <div slot="header">
            <strong>{{ $t('title.appInfo') }} </strong>
          </div>
          <el-form label-width="150px" label-position="left">
            <el-form-item :label="$t('pass.appNm')">
                <p>{{ info.appNm }}</p>
              </el-form-item>
              <el-form-item :label="$t('pass.appUserkey')">
                <p>{{ info.appNm }}</p>
              </el-form-item>
               <el-form-item :label="$t('pass.appCtnt')">
                <p>{{ info.appCtnt }}</p>
              </el-form-item>
          </el-form>
          <el-table :data="apiList" row-class-name="none_highlight">
              <el-table-column label="API">
                <template slot-scope="scope">
                    <span>{{ scope.row.apiNm }}</span>
                </template>
              </el-table-column>
          </el-table>
        </el-card>
        <!--사업장정보-->
        <el-card shadow="hover" class="right table_like">
          <div slot="header">
            <strong>{{ $t('title.copInfo') }} </strong>
          </div>
          <el-form label-width="150px" label-position="left">
            <el-form-item :label="$t('pass.copNm')">
              <p>{{ info.copNm }}</p>
            </el-form-item>
            <el-form-item :label="$t('pass.copRegNo')">
              <p>{{ info.copRegNO }}</p>
            </el-form-item>
              <el-form-item :label="$t('pass.copAddr')">
              <p>{{ info.copAddr1 }} {{ info.copAddr2 }}</p>
            </el-form-item>
            <el-form-item :label="$t('pass.ownNm')">
              <p>{{ info.ownNm }}</p>
            </el-form-item>
            <el-form-item :label="$t('pass.bizCdtn')">
              <p>{{ info.bizCdtn }}</p>
            </el-form-item>
            <el-form-item :label="$t('pass.bizType')">
              <p>{{ info.bizType }}</p>
            </el-form-item>
            <el-form-item :label="$t('pass.dirNm')">
              <p>
                {{ info.dirNm }} <span v-if="info.dirTelNo1">{{ '/ ' + info.dirTelNo1}}</span>{{ info.dirTelNo2}} 
               <span v-if="info.dirEmail">{{ '/ '  +info.dirEmail}}@{{ info.dirDomain}}</span>
              </p>
            </el-form-item>
          </el-form>
        </el-card>
        <!--서비스정보-->
        <el-card shadow="hover" class="right table_like">
          <div slot="header">
            <strong>{{ $t('title.appSvcInfo') }} </strong>
          </div>
          <el-form label-width="150px" label-position="left">
            <el-form-item :label="$t('pass.appSvcNm')">
              <p>{{ info.appSvcNm }}</p>
            </el-form-item>
            <el-form-item :label="$t('pass.appSvcUrl')">
              <p>{{ info.appSvcUrl }}</p>
            </el-form-item>
            <el-form-item :label="$t('pass.mppInfo')">
              <div class="el-input el-input--medium" style="width: 180px;">
                <el-input v-model="info.mppCd1" :placeholder="$t('pass.mppCd1')" maxlength="10" style="width: 150px;"/>
                <el-input v-model="info.mppCd2" :placeholder="$t('pass.mppCd2')" maxlength="10" style="width: 150px;"/>
                <el-input v-model="info.mppCd3" :placeholder="$t('pass.mppCd3')" maxlength="10" style="width: 150px;"/>
              </div>
            </el-form-item>
          </el-form>
        </el-card>
      </div>
    </div>
    <el-dialog :visible.sync="dialogReject" :title="$t('pass.rejectTitle')" width="30%" center>
      <el-form ref="ruleForm" :rules="rules" :model="temp" style="width: 100%;">
        <el-form-item prop="rejectCtnt">
          <textarea v-model="temp.rejectCtnt" :class="'custom-textarea'" rows="2"/>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="rejectConfirm">{{ $t('btn.confirm') }}</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { scrollTo } from '@/utils/scrollTo'
import { mapGetters } from 'vuex'
import { comma } from '@/utils/common'
import { prdAplvDetail, approveApply, approveReject } from '@/api/setting'
import { selectCommCodeList } from '@/api/product'

const statusOptions = [
  { key: 'WAIT', name: i18n.t('pass.wait'), tag: 'warning' },
  { key: 'APPROVAL', name: i18n.t('pass.appApplied'), tag: 'success' },
  { key: 'REJECT', name: i18n.t('pass.reject'), tag: 'danger' }
]

export default {
  name: 'PassDetail',
  directives: { waves },
  components: { Sticky },
  data() {
    return {
      isScroll: false,
      listLoading: false,
      codeList: [],
      rules: {
        appSvcTerm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }]
      },
      info: {
        aplvStatCd: '',
      },
      dialogReject: false,
      ruleForm: { rejectCtnt: '' },
      rules: { rejectCtnt: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }] },
      temp: {
        rejectCtnt: '',
        aplvSeqNo: '',
        hfnCd: ''
      },
      info: {
        hfnCd: '',
        aplvSeqNo: '',
        mppCd1: '',
        mppCd2: '',
        mppCd3: ''
      },
      apiList:[]
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'hfnCd',
      'username'
    ])
  },
  created() {
    scrollTo(0, 800)
    this.getCodeList()
  },
  methods: {
    getCodeList() {
      selectCommCodeList().then(response => {
        this.codeList = response.codeList
        this.getList()
      })
    },
    handleConfirm() {
      this.$router.push({ path: '/pass' })
    },
    handleReject() {
      this.resetTemp()
      this.dialogReject = true
    },
    rejectConfirm() {
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          this.temp.aplvSeqNo = this.info.aplvSeqNo
          this.temp.hfnCd = this.hfnCd
          approveReject(this.temp).then(response => {
            this.$message.success(i18n.t('message.success'))
            this.$router.replace({ path: '/pass' })
            this.dialogReject = false
          }).catch((error) => {})
        }
      })
    },
    handleApply() {
      this.$confirm(i18n.t('pass.passAlertContent'), {
        confirmButtonText: i18n.t('btn.confirm'),
        cancelButtonText: i18n.t('btn.cancel'),
        type: 'warning'
      }).then(() => {
        this.info.hfnCd = this.hfnCd
        approveApply(this.info).then(response => {
          this.$message.success(i18n.t('message.success_approval'))
          this.getList()
        })
      }).catch(() => {})
    },
    getList() {
      this.listLoading = true
      prdAplvDetail(this.$route.query.aplvSeqNo, this.$route.query.prdCtgy).then(response => {
        this.info = response.info
        this.apiList = response.apiList
      })
    },
    resetTemp() {
      if (this.$refs['ruleForm']) {
        this.$refs['ruleForm'].clearValidate()
      }
      this.temp = {
        rejectCtnt: '',
        aplvSeqNo: ''
      }
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
.el-table .success-row {
    background: oldlace;
  }

.article_top {
  display: flex;
  .left, .right {
    width: 670px;
  }
  .right {
    margin-left: 20px;
  }
  .table_like {
    width: 100%;
    overflow: auto;
    margin-top: 0;
    .el-col {
      min-width: 200px;
      height: 40px;
    }
  }
}

.aplSelect input {
  text-align: center !important;
}

#inputData, #inputData2 {
  text-align: right !important;
}

@media screen and (max-width: 1300px){
  .article_top {
    flex-direction: column;
    .right {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}
</style>
