<template>
  <div class="app-container statistics-container">
    <div class="filter-container">
      <el-select v-permission="['ROLE_SYS_ADMIN']" v-model="listQuery.searchHfnCd" :placeholder="$t('statistics.prdCtgy')" class="filter-item" style="width: 150px" @change="handleChange()">
        <el-option v-for="item in codeList" v-if="item.commCdId === '1100'" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <el-input :placeholder="$t('statistics.userId')" v-model="listQuery.searchUserId" style="width: 200px;" class="filter-item" @keyup.enter.native="getList"/>
        <el-row class="filter-item">
        <el-date-picker v-model="listQuery.searchDt" :picker-options="pickerOptions" :start-placeholder="$t('statistics.startDate')" :end-placeholder="$t('statistics.endDate')" type="daterange"/>
      </el-row>
      <el-button v-waves size="small" class="filter-item" type="primary" icon="el-icon-search" @click="getList" style="margin-left: 0px;">
        {{ $t('btn.search') }}
      </el-button>
      <el-button v-waves style="margin-left: 0px;" size="small" class="filter-item" type="success" icon="el-icon-download" @click="excelDown">{{ $t('btn.excel') }}</el-button>
    </div>
    <div class="article_chart">
      <p class="h3">{{ $t('statistics.apiUseInfo') }}</p>
      <el-row :gutter="30">
        <el-col :xs="24" :sm="24" :lg="6">
          <el-card shadow="hover">
            <p class="api_data">{{ $t('dashboard.api') }}</p>
            <p>
              <count-to v-if="list.apiTrxCnt" :start-val="0" :end-val="Number(list.apiTrxCnt)" :duration="2000" class="num"/>
              {{ $t('dashboard.piece') }}
            </p>
          </el-card>
          <el-card shadow="hover">
            <p class="response_data">{{ $t('dashboard.responseTime') }}</p>
            <div>
              <p>
                {{ $t('dashboard.max') }}
                <count-to v-if="list.maxProcTerm" :start-val="0" :end-val="Number(list.maxProcTerm)" :duration="2000" :decimals="2" class="num"/>
                {{ $t('dashboard.ms') }}
              </p>
              <p>
                {{ $t('dashboard.average') }}
                <count-to v-if="list.avgProcTerm" :start-val="0" :end-val="Number(list.avgProcTerm)" :duration="2000" :decimals="2" class="num"/>
                {{ $t('dashboard.ms') }}
              </p>
            </div>
          </el-card>
          <el-card shadow="hover">
            <p class="error_data">{{ $t('dashboard.errorRate') }}</p>
            <div>
              <p>
                G/W
                <count-to v-if="list.gwError" :start-val="0" :end-val="Number(list.gwError)" :duration="2000" :decimals="2" class="num"/>
                %
              </p>
              <p>
                API
                <count-to v-if="list.apiError" :start-val="0" :end-val="Number(list.apiError)" :duration="2000" :decimals="2" class="num"/>
                %
              </p>
            </div>
          </el-card>
        </el-col>
        <el-col :xs="24" :sm="24" :lg="18">
          <el-card shadow="hover" class="chart-wrapper">
            <line-chart v-if="list.dayList" :chart-data="lineChartData" height="284px"/>
          </el-card>
        </el-col>
      </el-row>
    </div>
    <div>
      <el-card>
        <el-table v-loading="listLoading" :data="list.appTrxList" :header-cell-style="getRowClass" border>
          <el-table-column :label="$t('statistics.no')" align="center" type="index"/>
          <el-table-column :label="$t('log.user')" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.userId | maskingId }}({{ scope.row.userNm | maskingName}})</span>
            </template>
          </el-table-column>
          <el-table-column :label="$t('statistics.app')" align="center">
            <template slot-scope="scope">
              <el-button type="text" @click="getDetail(scope.row)">{{ scope.row.appNm }}</el-button>
            </template>
          </el-table-column>
          <el-table-column :label="$t('statistics.prd')" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.prdNm }}</span>
            </template>
          </el-table-column>
          <el-table-column :label="$t('statistics.trxDate')" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.trxDate }}</span>
            </template>
          </el-table-column>
          <el-table-column :label="$t('statistics.useAmount')" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.apiTrxCnt | format }}</span>
            </template>
          </el-table-column>
          <el-table-column :label="$t('statistics.responseTime') + '(' + $t('statistics.ms') + ')'" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.procTerm | filterData }}</span>
            </template>
          </el-table-column>
          <el-table-column :label="$t('statistics.errorRate') + '( % )'" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.apiError | filterData }}</span>
            </template>
          </el-table-column>
        </el-table>
        <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getList"/>
      </el-card>
    </div>
    <el-dialog :visible.sync="dialogDetail" :title="dialogTitle" center class="dialog_table">
      <span slot="title">
        <el-row>
          <el-col :span="23">
            <div class="grid-content bg-purple-dark" style="display:flex;">
              <span style="font-size:13px; color: #409EFF; margin-left:10px;">[{{ detailQuery.searchStDt }}]</span>
              <span style="font-size:13px; font-weight:600"> &nbsp; {{ dialogTitle }}</span>
              <span style="margin:0 auto; margin-right: inherit;"><el-button v-waves size="small" type="success" icon="el-icon-download" @click="excelDetailDown">{{ $t('btn.excel') }}</el-button></span>
            </div>
          </el-col>
        </el-row>
      </span>
      <el-table v-loading="listLoading" :data="listDetail" border style="width: 100%" highlight-current-row>
        <el-table-column :label="$t('statistics.time')" align="center" :min-width="10">
          <template slot-scope="scope">
            <span>{{ scope.row.tm }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('statistics.useAmount')" align="center" :min-width="10">
          <template slot-scope="scope">
            <span>{{ scope.row.apiTrxCnt }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('statistics.average') + $t('statistics.responseTime')+'('+$t('statistics.ms')+')'" align="center" :min-width="10">
          <template slot-scope="scope">
            <span>{{ scope.row.procTerm }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('statistics.errorRate') + '(%)'" align="center" :min-width="10">
            <template slot-scope="scope"><span>{{ scope.row.apiError }}</span></template>
        </el-table-column>
      </el-table>
    </el-dialog>
  </div>
</template>

<script>
import i18n from '@/lang'
import CountTo from 'vue-count-to'
import waves from '@/directive/waves'
import LineChart from '@/views/dashboard/components/LineChart'
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { reqPost, excelDown } from '@/api/common'
import { selectAppUserList } from '@/api/app'
import { selectCommCodeList } from '@/api/product'
import permission from '@/directive/permission/index.js'

export default {
  name: 'UserUse',
  components: { Pagination, CountTo, LineChart },
  directives: { waves, permission },
  computed: {
    ...mapGetters([
      'hfnCd',
      'roles'
    ])
  },
  filters: {
    format(data) {
      data = data + ''
      var str = ''
      for (var i = data.length - 1, j = 1; i >= 0; i--, j++) {
        if (j % 3 === 0 && i !== 0) {
          str += data[i] + ','
          continue
        }
        str += data[i]
      }
      data = str.split('').reverse().join('')
      return data
    },
    filterData(data) {
      data = parseFloat((data + '').replace(/[^\d\.-]/g, '')).toFixed(2) + ''
      var l = data.split('.')[0].split('').reverse()
      var r = data.split('.')[1]
      var t = ''
      for (var i = 0; i < l.length; i++) {
        t += l[i] + ((i + 1) % 3 === 0 && (i + 1) !== l.length ? ',' : '')
      }
      data = t.split('').reverse().join('') + '.' + r
      return data
    }
  },
  data() {
    return {
      totCnt: 0,
      listLoading: false,
      list: {},
      listQuery: {
        pageIdx: 1,
        pageSize: 10,
        searchUserId: '',
        searchHfnCd: '',
        searchDt: [new Date(), new Date()]
      },
      detailQuery: {
        searchUserId: '',
        searchPrdCd: '',
        searchApiId: ''
      },
      pickerOptions: {
        shortcuts: [{
          text: this.$t('statistics.lastWeek'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
            picker.$emit('pick', [start, end])
          }
        }, {
          text: this.$t('statistics.lastMonth'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
            picker.$emit('pick', [start, end])
          }
        }]
      },
      codeList: [],
      appList: [],
      lineChartData: {
        tm: [],
        day: [],
        apiTrxCnt: [],
        resTm: [],
        apiError: [],
        legendData: [i18n.t('dashboard.apiDeal'), i18n.t('dashboard.responseTime'), i18n.t('dashboard.errorRate')],
        yResponseTime: true,
        yErrorRate: true
      },
      dialogDetail: false,
      listDetail: [],
      dialogTitle: ""
    }
  },
  created() {
    this.dateRange()
    this.getCodeList()
  },
  methods: {
    getCodeList() {
      selectCommCodeList().then(response => {
        this.codeList = response.codeList
        this.codeList.unshift({ cdId: '', cdNm: i18n.t('guide.all') })
        this.listQuery.searchHfnCd = this.hfnCd
        this.getList()
      })
    },
    getList() {
      this.resetChartData()
      this.listLoading = true
      if (this.listQuery.searchDt) {
        this.listQuery.searchStDt = this.format_date_yyyymmdd(this.listQuery.searchDt[0])
        this.listQuery.searchEnDt = this.format_date_yyyymmdd(this.listQuery.searchDt[1])
      }
      this.listQuery.searchTrx = 'user'
      reqPost('/api/statsByDate',this.listQuery).then(response => {
        this.list = response
        this.totCnt = response.totCnt
        var that = this
        const keys = ['day', 'apiTrxCnt', 'procTerm', 'apiError']

        response.dayList.forEach(function(object, idx) {
          keys.forEach(function(key) {
            that.lineChartData[key].push(object[key])
          })
        })
        this.lineChartData.tm = this.lineChartData.day
        this.listLoading = false
      }).catch(() => {
        this.listLoading = false
      })
    },
    getDetail(row) {
      this.dialogTitle = row.prdNm
      this.detailQuery.searchStDt = row.trxDate
      this.detailQuery.searchUserId = row.userId
      this.detailQuery.searchAppKey = row.appKey
      this.detailQuery.searchPrdCd = row.prdCd
      reqPost("/api/statsByDateDetail", this.detailQuery).then(response => {
        this.dialogDetail = true
        this.listLoading = false
        this.listDetail = response.dayList
      }).catch(() => {
        this.listLoading = false
      })
    },
    excelDown() {
      var params = {
        searchType: 'userByDate',
        searchStDt: this.listQuery.searchStDt,
        searchEnDt: this.listQuery.searchEnDt,
        searchHfnCd: this.listQuery.searchHfnCd,
        searchUserId: this.listQuery.searchUserId
      }
      excelDown('/api/statsByDateExcelDown', params)
    },
    excelDetailDown(){
      var params = {
        searchType: 'userTimeTable',
        searchStDt: this.detailQuery.searchStDt,
        searchUserId: this.detailQuery.searchUserId,
        searchApiId: this.detailQuery.searchApiId,
        searchPrdCd: this.detailQuery.searchPrdCd
      }
      excelDown('/api/statsByDateExcelDown', params)
    },
    dateRange() {
      const end = new Date()
      const start = new Date()
      start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
      this.listQuery.searchDt = [start, end]
    },
    resetChartData() {
      this.lineChartData = {
        tm: [],
        day: [],
        apiTrxCnt: [],
        procTerm: [],
        apiError: [],
        legendData: [i18n.t('statistics.apiDeal'), i18n.t('statistics.responseTime'), i18n.t('statistics.errorRate')],
        yResponseTime: true,
        yErrorRate: true
      }
    },
    format_date_yyyymmdd(inputDate) {
      const y = inputDate.getFullYear()
      const m = inputDate.getMonth() + 1
      const d = inputDate.getDate()
      const mm = m < 10 ? '0' + m : m
      const dd = d < 10 ? '0' + d : d
      return '' + y + mm + dd
    },
    getRowClass({ rowIndex }) {
      if (rowIndex === 0) {
        return 'background: #F7F7F7'
      } else {
        return ''
      }
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .statistics-container {
    padding: 30px 30px 145px;
    background-color: #f7f7f7;
    .h3 {
      margin-bottom: 10px;
      font-size: 16px;
      color: #999999;
    }
  }
  .bg-purple-light {
    background : #e5e9f2;
  }
  .bg-purple-dark{
    background : #d3dce6;
  }
  .grid-content {
    border-radius: 0px;
    line-height: 30px;
  }
</style>
