<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input class="filter-item" style="width: 250px;" @click.native="selectUseorg" placeholder="기관명" v-model="useorgNm" readonly>
      </el-input>
      <el-select v-model="listQuery.clientId" clearable class="filter-item" placeholder="서비스(APP)명">
          <el-option v-for="item in serviceList" :key="item.appClientId" :label="item.appNm" :value="item.appClientId">
          </el-option>
      </el-select>
      <el-select v-model="listQuery.searchApiType" placeholder="분류" filterable clearable style="min-width: 120px" class="filter-item">
        <el-option v-for="item in apiTypeList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <el-date-picker class="filter-item"  v-model="listQuery.searchDt" :picker-options="pickerOptions" :start-placeholder="$t('statistics.startDate')" :end-placeholder="$t('statistics.endDate')" type="daterange"/>
      <el-button v-waves class="filter-item" size="small" plain  type="primary" icon="el-icon-search" @click="getList" style="margin-left: 0px;">
        {{ $t('btn.search') }}
      </el-button>
      <el-button v-waves class="filter-item" style="margin-left: 0px;" plain icon="el-icon-refresh-left" size="small" @click="resetSearch">
                {{$t('btn.resetSearch')}}
            </el-button>
      <el-button v-waves style="margin-left: 0px;" size="small" class="filter-item" type="info" icon="el-icon-download" @click="excelDown">{{ $t('btn.excel') }}</el-button>
    </div>
    <div>
        <el-table v-loading="listLoading" :data="list" :header-cell-style="getRowClass" border max-height="700" @row-click="detailStats">
          <el-table-column label="No." align="center" >
              <template slot-scope="scope" align="center">
                    {{ scope.$index + (listQuery.pageSize * (listQuery.pageIdx-1))+1}}
                </template>
          </el-table-column>   
          <el-table-column :label="$t('statistics.trxDate')" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.statDate | dateFilter}}</span>
            </template>
          </el-table-column>
          <el-table-column label="기관명" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.userNm }}</span>
            </template>
          </el-table-column>
          <el-table-column label="서비스(APP)명" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.appNm }}</span>
            </template>
          </el-table-column>
          <el-table-column label="분류" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.apiTypeNm }}</span>
            </template>
          </el-table-column>
          <!-- <el-table-column label="시간대" align="center">
            <template slot-scope="scope" slot="header">
            시간대
                <el-popover placement="top-start" width="300px" trigger="hover" title="시간대역">
                    <el-button slot="reference" type="text" size="default" icon="el-icon-question" ></el-button>
                    <div>
                      (00) 09:00:00 ~ 17:59:59 <br> (01) 그 외 (00:00:00 ~ 08:59:59 및 18:00:00 ~ 23:59:59)
                    </div>
                </el-popover>
            </template>
            <template slot-scope="scope">
              <span>{{ scope.row.tmSlot }}</span>
            </template>
          </el-table-column> -->
          <el-table-column label="총 건수" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.maxApiCnt | format }}</span>
            </template>
          </el-table-column>
          <el-table-column label="완료건수" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.successApiCnt | format }}</span>
            </template>
          </el-table-column>
           <el-table-column label="오류건수" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.failApiCnt | format }}</span>
            </template>
          </el-table-column>
        </el-table>
        <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getList"/>
    </div>
    <el-dialog :visible.sync="useorgSearchYN" :title="$t('app.useorgSearch')" width="60%" center @close="closeDialog">
        <div class="filter-container">
              <el-input  v-model="searchDialogQuery.useorgNm" maxlength="1000" type="text" :placeholder="$t('app.useorgNm')" style="width:300px;" class="filter-item"/>
              <el-input v-model="searchDialogQuery.brn" maxlength="1000" type="text" :placeholder="$t('app.brn')" style="width:300px;" class="filter-item"/>
            <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" plain icon="el-icon-search" size="small" @click="handleReleaseConfirm">
                {{ $t('btn.search') }}
            </el-button>
            <el-button v-waves class="filter-item" style="margin-left: 0px;" plain icon="el-icon-refresh-left" size="small" @click="resetDiagSearch">
                {{ $t('btn.resetSearch') }}
            </el-button>
        </div>
        <el-table height="280" :data="useorgList" @row-click="clickUseorg">
          <el-table-column :label="$t('app.useorgNm')" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.useorgNm}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('app.userKey')" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.userKey}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('app.brn')" align="center">
                <template slot-scope="scope">
                    <span v-if="scope.row.brn !== null">{{scope.row.brn | brnFilter}}</span>
                    <span>{{scope.row.brn}}</span>
                </template>
            </el-table-column>
        </el-table>
      </el-dialog>
      <el-dialog :visible.sync="dialogDetail" :title="dialogTitle" center class="dialog_table">
      <span slot="title">
        <el-row>
          <el-col :span="23">
            <div class="grid-content bg-purple-dark" style="display:flex;">
              <span style="font-size:13px; color: #409EFF; margin-left:10px;">[{{ detailQuery.searchStDt | dateFilter }}]</span>
              <span style="font-size:13px; font-weight:600"> &nbsp; {{ dialogTitle }}</span>
              <span style="margin:0 auto; margin-right: inherit;"><el-button v-waves size="small" type="info" icon="el-icon-download" @click="excelDetailDown">{{ $t('btn.excel') }}</el-button></span>
            </div>
          </el-col>
        </el-row>
      </span>
      <el-table v-loading="listLoading" :data="listDetail" border style="width: 100%;" highlight-current-row>
        <el-table-column :label="$t('statistics.time')" align="center" >
          <template slot-scope="scope">
            <span>{{ scope.row.tm }}</span>
          </template>
        </el-table-column>
        <!-- 이용 건수 -->
        <el-table-column label="총건수" align="center">
          <template slot-scope="scope">
            <span>{{ scope.row.maxApiCnt | format }}</span>
          </template>
        </el-table-column>
        <!-- 오류건수 -->
        <el-table-column label="완료건수" align="center">
          <template slot-scope="scope">
            <span>{{ scope.row.successApiCnt | format}}</span>
          </template>
        </el-table-column>
        <!-- 완료건수 -->
        <el-table-column label="오류건수" align="center">
          <template slot-scope="scope">
            <span>{{ scope.row.failApiCnt | format}}</span>
          </template>
        </el-table-column>
      </el-table>
    </el-dialog>
  </div>
</template>

<script>
import i18n from '@/lang'
import { policyGetApiList } from '@/api/policy'
import { searchUseorg } from '@/api/app'
import CountTo from 'vue-count-to'
import waves from '@/directive/waves'
import LineChart from '@/views/dashboard/components/LineChart'
import permission from '@/directive/permission/index.js'
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { excelDown } from '@/api/common'
import { selectServiceAppStatsList } from '@/api/app'
import { statsByDateMydata, statsByDateUseorg, statsByDateDetailMydata } from '@/api/statistics'

export default {
  name: 'PrdUse',
  components: { Pagination, CountTo, LineChart },
  directives: { waves, permission },
  computed: {
    ...mapGetters([
      'hfnCd',
      'roles'
    ])
  },
  filters: {
    format(data) {
      data = data + ''
      var str = ''
      for (var i = data.length - 1, j = 1; i >= 0; i--, j++) {
        if (j % 3 === 0 && i !== 0) {
          str += data[i] + ','
          continue
        }
        str += data[i]
      }
      data = str.split('').reverse().join('')
      return data
    },
    filterData(data) {
      data = parseFloat((data + '').replace(/[^\d\.-]/g, '')).toFixed(2) + ''
      var l = data.split('.')[0].split('').reverse()
      var r = data.split('.')[1]
      var t = ''
      for (var i = 0; i < l.length; i++) {
        t += l[i] + ((i + 1) % 3 === 0 && (i + 1) !== l.length ? ',' : '')
      }
      data = t.split('').reverse().join('') + '.' + r
      return data
    }
  },
  data() {
    return {
      totCnt: 0,
      dialogDetail: false,
      listDetail: [],
      dialogTitle: "",
      listLoading: false,
      tokenList: [],
      list: [],
      searchDialogQuery: {
        pageIdx: 1,
        pageSize: 20,
        brn:'', // 사업자등록번호
        useorgNm: '', // 기관명
      },
      useorgNm: '',
      useorgSearchYN: false, // 기관명
      apiList: [],
      serviceList: [],
      apiTypeList: [
          // 인증 구분
          {cdId: 'AU0', cdNm: '개별인증'}, // AU01, AU02, AU03
          // 공통 구분
          {cdId: 'CM0', cdNm: '공통'}, // CM01, CM02
          // 은행업권
          {cdId: 'BA01', cdNm: '계좌 목록'}, // BA01
          {cdId: 'BA0', cdNm: '수신계좌 정보'}, // BA01을 제외한 나머지
          {cdId: 'BA1', cdNm: '투자상품 정보'}, // BA11, BA12, BA13
          {cdId: 'BA2', cdNm: '대출상품 정보'} // BA21, BA22, BA23
      ],
      listQuery: {
        pageIdx: 1,
        pageSize: 20,
        searchUserKey: '',
        searchApiType: '',
        searchDt: [new Date(), new Date()],
        clientId: ''
        // type: ''
      },
      detailQuery: {
        searchUserKey: '',
        searchStDt: '',
        clientId: '',
        searchApiType: '',
        userNm: '',
        appNm: '',
        apiTypeNm: ''
      },
      sTotCnt: 0,
      useorgList: null,
      pickerOptions: {
        shortcuts: [{
          text: this.$t('statistics.lastWeek'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
            picker.$emit('pick', [start, end])
          }
        }, {
          text: this.$t('statistics.lastMonth'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
            picker.$emit('pick', [start, end])
          }
        }]
      }
    }
  },
  created() {
    this.getAppList()
    this.dateRange()
    this.getList()
  },
  watch: {
      'listQuery.searchUserKey': function(val) {
          this.getAppList()
      }
  },
  methods: {
    excelDetailDown() {
        var params = {
          searchType: 'myDataDateDetail',
          searchStDt: this.detailQuery.searchStDt,
          searchApiType: this.detailQuery.searchApiType,
          searchUserKey: this.detailQuery.searchUserKey,
          clientId: this.detailQuery.clientId
      }
      excelDown('/api/statsByDateMydataExcelDown', params)
    },
    detailStats(data) {
        this.dialogDetail = true
        this.detailQuery.userNm = data.userNm === null ? '' : data.userNm
        this.detailQuery.appNm = data.appNm === null ? '' :  data.appNm
        this.detailQuery.apiTypeNm = data.apiTypeNm === null ? '' : data.apiTypeNm
        this.dialogTitle = data.userNm + (data.appNm === null ? '' : '_' + data.appNm) + (data.apiTypeNm === null ? '' : '_' +data.apiTypeNm)
        
        this.detailQuery.searchStDt = data.statDate
        this.detailQuery.searchApiType = data.apiType
        this.detailQuery.searchUserKey = data.userKey
        this.detailQuery.clientId = data.clientId
        statsByDateDetailMydata(this.detailQuery).then(response => {
            this.listDetail = response.mydataList
        })
    },
    handleReleaseConfirm() {
      if(this.searchDialogQuery.brn === '' && this.searchDialogQuery.useorgNm === '') {
        this.$message.warning(this.$t('message.warning_no_input_useorgSearch'))
      } else {
        searchUseorg(this.searchDialogQuery).then(response => {
          this.useorgList = response.list
          this.sTotCnt = response.totCnt
          for(var i = 0; i < this.useorgList.length; i++) {
            if (this.useorgList[i].useorgStatCd === 'DEL'){
              this.useorgList.splice(i,1)
            }
          }
        })
      }
    },  
    resetDiagSearch() {
      this.sTotCnt = 0;
      this.useorgList = null
      this.searchDialogQuery.useorgNm = ''
      this.searchDialogQuery.brn = ''
    },  
    clickUseorg(data) {
      this.listQuery.searchUserKey = data.userKey
      this.useorgNm = data.useorgNm
      this.useorgSearchYN = false
    },
    closeDialog() {
      this.sTotCnt = 0;
      this.useorgList = null
      this.searchDialogQuery.useorgNm = ''
      this.searchDialogQuery.brn = ''
    },
    selectUseorg(data) {
        this.useorgSearchYN = true
    },
    resetSearch() {
        this.listQuery.pageIdx = 1
        this.listQuery.pageSize = 20
        this.listQuery.searchUserKey = ''
        this.listQuery.clientId = ''
        this.listQuery.searchApiType = ''
        this.useorgNm = ''
        this.dateRange()
        this.getList()
    },
    getAppList() {
        selectServiceAppStatsList(this.listQuery).then(response => {
            this.serviceList = response
        })
    },
    getList() {
        if (this.listQuery.searchDt) {
            this.listQuery.searchStDt = this.format_date_yyyymmdd(this.listQuery.searchDt[0])
            this.listQuery.searchEnDt = this.format_date_yyyymmdd(this.listQuery.searchDt[1])
        } else {
            this.$message.warning('조회시작일자를 입력해주세요.')
            return false
        }
        this.listLoading = true
        statsByDateMydata(this.listQuery).then(response => {
            this.listLoading = false
            this.tokenList = response.tokenData
            this.list = response.mydataList
            this.totCnt = response.totCnt
        })
    },
    excelDown() {
      var params = {
        searchType: 'myDataDate',
        searchStDt: this.listQuery.searchStDt,
        searchEnDt: this.listQuery.searchEnDt,
        searchUserKey: this.listQuery.searchUserKey,
        clientId: this.listQuery.clientId,
        searchApiType: this.listQuery.searchApiType
      }
      excelDown('/api/statsByDateMydataExcelDown', params)
    },
    dateRange() {
      const end = new Date()
      const start = new Date()
      start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
      this.listQuery.searchDt = [start, end]
    },
    format_date_yyyymmdd(inputDate) {
      const y = inputDate.getFullYear()
      const m = inputDate.getMonth() + 1
      const d = inputDate.getDate()
      const mm = m < 10 ? '0' + m : m
      const dd = d < 10 ? '0' + d : d
      return '' + y + mm + dd
    },
    getRowClass({ rowIndex }) {
      if (rowIndex === 0) {
        return 'background: #F7F7F7'
      } else {
        return ''
      }
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .statistics-container {
    padding: 30px 30px 145px;
    background-color: #f7f7f7;
    .h3 {
      margin-bottom: 10px;
      font-size: 16px;
      color: #999999;
    }
  }
  .bg-purple-light {
    background : #e5e9f2;
  }
  .bg-purple-dark{
    background : #d3dce6;
  }
  .grid-content {
    border-radius: 0px;
    line-height: 30px;
  }
  .el-tooltip__popper {
  max-width:30%
}
</style>
