<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-permission="['ROLE_SYS_ADMIN']" v-model="searchQuery.prdCtgy" prop="codeList" class="filter-item" style="width: 150px" :placeholder="$t('product.prdCtgy')" clearable>
        <el-option v-for="item in codeList" v-if="item.commCdId === '1100'" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <div class="filter-item el-input el-input--medium" style="width: 240px;">
        <input v-model="searchQuery.prdNm" type="text" autocomplete="off" :placeholder="$t('product.prdNm')" class="el-input__inner">
      </div>
      <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" size="small" icon="el-icon-search" @click="getList">{{ $t('btn.search') }}</el-button>
      <el-button v-waves v-if="checkPermission(['ROLE_SYS_ADMIN','ROLE_HFN_ADMIN'])" class="filter-item" style="margin-left: 0px;" size="small" type="primary" icon="el-icon-edit" @click="handleCreate">{{ $t('btn.add') }}</el-button>
      <el-button v-waves style="margin-left: 0px;" class="filter-item" size="small" type="success" icon="el-icon-download" @click="excelDown">{{ $t('btn.excel') }}</el-button>
    </div>
    <div>
      <el-table :data="prdList" border highlight-current-row>
        <el-table-column type="index" widht="30" align="center"></el-table-column>
        <el-table-column :label="$t('product.prdCtgy')" align="center" minWidth="90">
          <template slot-scope="scope">
            <span>{{ scope.row.prdCtgy | svcNmFilter('', codeList) }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('product.svcCd')" align="center" minWidth="100">
          <template slot-scope="scope">
            <span>{{ scope.row.serviceCd }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('product.prdKind')" align="center" minWidth="120">
          <template slot-scope="scope">
            <span>{{ scope.row.prdKind | svcNmFilter('', codeList) }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('product.prdNm')" align="center" minWidth="200">
          <template slot-scope="scope">
            <span>{{ scope.row.prdNm }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('product.prdCd')" align="center" minWidth="100">
          <template slot-scope="scope">
            <span>{{ scope.row.prdCd }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('terms.regDttm')" align="center" minWidth="80">
          <template slot-scope="scope">
            <span>{{ scope.row.regDttm | dateFilter }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('product.main')" align="center" minWidth="120">
          <template slot-scope="scope">
            <el-input v-model="scope.row.prdOrder" :disabled="!scope.row.edited" style="width:45px;"></el-input>
            <el-button-group>
              <el-button v-permission="['ROLE_SYS_ADMIN']" icon="el-icon-edit" type="primary" @click="handleEditRow(scope)" size="small"></el-button>
              <el-button v-permission="['ROLE_SYS_ADMIN']" icon="el-icon-check" @click="handleSaveRow(scope)" size="small"></el-button>
            </el-button-group>
          </template>
        </el-table-column>
        <el-table-column :label="$t('community.action.detail')" align="center" class-name="small-padding fixed-width">
          <el-row slot-scope="scope" type="flex" align="start">
            <el-button type="success" size="mini" @click="handleDetail(scope.row.prdId)">{{ $t('community.action.detail') }}</el-button>
            <el-button v-permission="['ROLE_SYS_ADMIN','ROLE_HFN_ADMIN']" type="danger" size="mini" @click.native.stop="handlePolicy(scope.row)">{{ $t('btn.policy') }}</el-button>
        </el-row>
        </el-table-column>
      </el-table>
      <pagination v-show="totCnt>0" :total="totCnt" :page.sync="searchQuery.pageIdx" :limit.sync="searchQuery.pageSize" @pagination="getList"/>
    </div>        
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import axios from 'axios'
import { getToken } from '@/utils/auth'
import { mapGetters } from 'vuex'
import { reqPost } from '@/api/common'
import { selectCommCodeList, updatePrdOrder } from '@/api/product'
import checkPermission from '@/utils/permission'
import permission from '@/directive/permission/index.js'

export default {
  name: 'product',
  directives: { waves, permission },
  components: { Pagination },
  data() {
    return {
      totCnt: 0,
      codeList: [],
      prdList: [],
      searchQuery: {
        pageIdx: 1,
        pageSize: 20,
        prdCtgy: '',
        prdNm: '',
        prdId: '',
        prdOrder: ''
      }      
    }
  },
  computed: {
    ...mapGetters([
      'roles',
      'userKey',
      'hfnCd'
    ])
  },
  created() {
    this.getCodeList()
  },
  methods: {
    checkPermission,
    getCodeList() {
      selectCommCodeList().then(response => {
        this.codeList = response.codeList
        this.searchQuery.prdCtgy = this.hfnCd
        this.getList()
      })
    },
    getList() {
      reqPost('/api/selectPrdList',this.searchQuery).then(response => {
        for (let i = 0; i < response.prodList.length; i++) {
          response.prodList[i].edited = false
        }
        this.prdList = response.prodList
        this.totCnt = response.totCnt
      })
    },    
    handleDetail(prdId) {
      this.$router.push({ path: '/prdDetail?prdId=' + prdId })
    },
    handleCreate() {
      this.$router.push({ path: 'prdCreate' })
    },
    handleEditRow(scope) {
      scope.row.edited = true
    },
    handleSaveRow(scope) {
      this.searchQuery.prdId = scope.row.prdId
      this.searchQuery.prdOrder = scope.row.prdOrder
      updatePrdOrder(this.searchQuery).then(response => {
        scope.row.edited = false
      })
    },
    handlePolicy(row) {
      this.$router.push({ path: '/prdPolicy?prdId=' + row.prdId })
    },
    excelDown() {
      let url = location.origin;
      axios({
        url: url + '/api/excelPrd',
        method: 'POST',
        headers: { 'Authorization': 'Bearer ' + getToken() },
        responseType: 'blob',
        params: {
          pageIdx: this.searchQuery.pageIdx,
          pageSize: this.searchQuery.pageSize,
          prdCtgy: this.searchQuery.prdCtgy,
          prdNm: this.searchQuery.prdNm,
          prdOrder: this.searchQuery.prdOrder
        }
      }).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        let fileName = response.headers['content-disposition']
        fileName = this.getFileNameByContentDisposition(fileName)
        link.href = url
        link.setAttribute('download', fileName)
        document.body.appendChild(link)
        link.click()
      })
    },
    getFileNameByContentDisposition(contentDisposition){
      let regex = /filename[^;=\n]*=(UTF-8(['"]*))?(.*)/;
      let matches = regex.exec(contentDisposition);
      let filename;

      if (matches != null && matches[3]) {
        filename = matches[3].replace(/['"]/g, '');
      }
      return decodeURI(filename);
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .noborder {
    overflow: auto;
    .el-container { height: calc(100vh - 429px); padding-bottom: 2px; }
    .el-aside { border-right: solid 1px #ededed; }
    .el-menu { border-right: 0; }
    .el-table td, .el-table th.is-leaf { border-bottom: 0; }
    .el-table::before { height: 0; }
    .el-table .none_highlight:hover td { background: transparent !important; }
    .list_card .el-card__header{ padding: 6px 20px; }
    .category {
      white-space: nowrap;
      margin-right: 20px;
      font-size: 14px;
      color: #00479d;
    }
    .name {
      white-space: nowrap;
      margin-right: 20px;
      font-size: 15px;
      font-weight: bold;
    }
    .edit-cell {
      min-height: 35px;
      cursor: pointer;
    }
  }
</style>
