<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.productCreate') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button v-waves :loading="confirmLoading" type="primary" @click="handleConfirm">{{ $t('btn.add') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="app_detail app-container">
      <el-row class="left">
        <el-card shadow="hover">
          <div slot="header" class="clearfix">
            <strong>{{ $t('app.basicInfo') }}</strong>
          </div>
          <el-form ref="ruleForm" :rules="rules" :model="prdDetail" label-position="left" label-width="130px" style="width: 520px;">
            <el-form-item :label="$t('product.prdNm')" prop="prdNm">
              <div class="el-input el-input--medium">
                <input v-model="prdDetail.prdNm" type="text" autocomplete="off" maxlength="25" class="el-input__inner">
              </div>
            </el-form-item>
            <el-form-item :label="$t('product.prdCtgy')" prop="prdCtgy"> 
              <el-select v-model="prdDetail.prdCtgy" prop="hfnNm" class="filter-item" clearable :disabled="(this.roles != 'ROLE_SYS_ADMIN') === true">
                <el-option v-for="item in codeList" v-if="item.commCdId === '1100'" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
              </el-select>
            </el-form-item>
             <el-form-item :label="$t('product.prdKind')" prop="prdKind">
              <el-select  v-model="prdDetail.prdKind" class="filter-item" clearable>
                <el-option v-for="item in codeList" v-if="item.commCdId === '1110'" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
              </el-select>
            </el-form-item>
             <el-form-item :label="$t('product.prdDesc')" prop="prdDesc">
              <textarea v-model="prdDetail.prdDesc" :class="'custom-textarea'" rows="4"/>
            </el-form-item>
            <el-form-item :label="$t('product.iconPath')">
              <el-upload ref="upload" class="upload-demo" :on-change="iconPathFile" :file-list="fileList" :auto-upload="false" action="#" :limit="1" accept="image/jpg, image/png">
                <el-button size="small" type="primary" @click="clearUploadedImage('upload')">파일선택</el-button>
                <div slot="tip" class="el-upload__tip" style="display: inline;padding-left: 10px;">상품 이미지 : 370px X 550px</div>
              </el-upload>
            </el-form-item>
            <el-form-item :label="$t('product.filePath')">
              <el-upload ref="upload1" class="upload-demo" :on-change="mainPathFile" :file-list="fileList" :auto-upload="false" action="#" :limit="1" accept="image/jpg, image/png">
                <el-button size="small" type="primary" @click="clearUploadedImage('upload1')">파일선택</el-button>
                <div slot="tip" class="el-upload__tip" style="display: inline;padding-left: 10px;">아이콘 이미지 : 110px X 100px</div>
              </el-upload>
            </el-form-item>
            <el-form-item :label="$t('product.htmlCtnt')" prop="htmlCtnt">
              <textarea v-model="prdDetail.htmlCtnt" :class="'custom-textarea'" rows="4"/>
            </el-form-item>
            <el-form-item :label="$t('product.persYn')" prop="persYn">
              <el-radio-group v-model="prdDetail.persYn" size="small">
                <el-radio-button label="Y">포함</el-radio-button>
                <el-radio-button label="N">불포함</el-radio-button>
              </el-radio-group>
            </el-form-item>
            <el-form-item :label="$t('product.openYn')" prop="openYn">
              <el-radio-group v-model="prdDetail.openYn" size="small">
                 <el-radio-button label="Y">공개</el-radio-button>
                <el-radio-button label="N">비공개</el-radio-button>
              </el-radio-group>
            </el-form-item>
            <el-form-item :label="$t('product.mailSendYn')" prop="batchMailYn">
              <el-radio-group v-model="prdDetail.batchMailYn" size="small">
                <el-radio-button label="Y">대상</el-radio-button>
                <el-radio-button label="N">비대상</el-radio-button>
              </el-radio-group>
            </el-form-item>
            <el-form-item :label="$t('product.scope')" prop="scope">
               <el-checkbox-group v-model="scope" size="small">
                <el-checkbox-button v-for="item in scopeOptions" :label="item.label" :key="item.key" :value="item.key"></el-checkbox-button>
              </el-checkbox-group>
            </el-form-item>
            <el-form-item :label="$t('product.grantType')" prop="grantType">
              <el-checkbox-group v-model="grantType" size="small">
                <el-checkbox-button v-for="item in grantTypeOptions" :label="item.label" :key="item.key" :value="item.key"></el-checkbox-button>
              </el-checkbox-group>
            </el-form-item>
            <el-form-item :label="$t('product.tokenGuideYn')" prop="tokenGuideYn">
              <el-radio-group v-model="prdDetail.tokenGuideYn" size="small">
                <el-radio-button label="Y">대상</el-radio-button>
                <el-radio-button label="N">비대상</el-radio-button>
              </el-radio-group>
            </el-form-item>
            <el-form-item :label="$t('product.devHtmlCtnt')" prop="devHtmlCtnt">
              <textarea v-model="prdDetail.devHtmlCtnt" :class="'custom-textarea'" rows="4"/>
            </el-form-item>
            <el-form-item v-if="prdDetail.prdCtgy === '0100'" :label="$t('product.svcCd')" prop="serviceCd">
              <div class="el-input el-input--medium" style="width: 180px;">
                <input v-model="prdDetail.serviceCd" type="text" autocomplete="off" maxlength="20" class="el-input__inner">
              </div>
              <el-button type="primary" plain @click="handleDialog">검색</el-button>
            </el-form-item>
            <el-form-item :label="$t('product.feeAmount')" prop="feeAmount">
              <el-row type="flex">
                <el-input v-model="prdDetail.feeAmount" maxlength="11" style="width: 180px;" @keydown.native="handleNumber"/>
                <span style="margin-left: 5px;">{{ $t('product.feeAmountTxt') }}</span>
              </el-row>
            </el-form-item>
            <el-form-item :label="$t('product.limitYn')" prop="limitYn">
              <el-radio-group v-model="prdDetail.limitYn" size="small">
                 <el-radio-button label="Y">사용</el-radio-button>
                <el-radio-button label="N">미사용</el-radio-button>
              </el-radio-group>
            </el-form-item>
            <el-form-item :label="$t('product.applDoc')">
              <div class="container">
                <el-checkbox-group v-model="applDoc">
                  <el-checkbox v-for="item in docList" :label="item.seqNo" :key="item.seqNo" :value="item.seqNo" style="padding-left: 5px;">{{item.docNm}}</el-checkbox>
                </el-checkbox-group>
              </div>
            </el-form-item>
            <el-form-item :label="$t('product.prdMemo')" prop="prdMemo">
              <textarea v-model="prdDetail.prdMemo" :class="'custom-textarea'" rows="2"/>
            </el-form-item>
          </el-form>
        </el-card>
      </el-row>
      <el-card shadow="hover" class="right">
        <div slot="header" class="clearfix">
          <strong>{{ $t('app.selApi') }}</strong>
        </div>
        <el-container>
          <el-header>
            <span>{{ $t('app.selApiLabel') }} </span><span>({{ selApi.length }}{{ $t('app.selectCount') }})</span>
          </el-header>
          <el-table :data="selApi" :show-header="false" row-class-name="none_highlight">
            <el-table-column>
              <template slot-scope="scope">
                <el-card shadow="hover">
                  <el-row slot="header" type="flex" align="middle" justify="space-between">
                    <el-row type="flex">
                      <p>[{{ scope.row.cdNm }}]</p>
                      <el-tag :type="scope.row.apiMthd | methodFilter">{{ scope.row.apiMthd }}</el-tag>
                      <span>{{ scope.row.apiNm }}</span>
                    </el-row>
                    <template>
                      <el-button type="danger" size="mini" @click="removeApi(scope.$index, scope.row)">{{ $t('btn.delete') }}</el-button>
                    </template>
                  </el-row>
                  <p>/{{ scope.row.apiSvc }}/{{ scope.row.apiVer }}/{{ scope.row.apiUri }}</p>
                  <el-tag v-for="tagInfo in scope.row.apiTagList" :key="tagInfo.tagOrd" type="warning" style="margin-right: 5px">{{ tagInfo.tagCd }}</el-tag>
                </el-card>
              </template>
            </el-table-column>
          </el-table>
        </el-container>
        <el-container>
          <el-header style="font-size: 14px">
            <div class="filter-container">
              <el-select v-model="prdDetail.prdCtgy" prop="hfnNm" class="filter-item" :disabled="true">
                <el-option v-for="item in codeList" v-if="item.commCdId === '1100'" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
              </el-select>
              <div class="filter-item el-input el-input--medium" style="width: 200px;">
                <input v-model="searchQuery.searchNm" @keyup.enter.native="handleChange" type="text" autocomplete="off" :placeholder="$t('product.api')" class="el-input__inner">
              </div>
              <el-button v-waves class="filter-item" type="primary" style="margin-left: 0px;" icon="el-icon-search" @click="handleChange">{{ $t('btn.search') }}</el-button>
            </div>
          </el-header>
          <el-table :data="apiList" :show-header="false" row-class-name="none_highlight">
            <el-table-column>
              <template slot-scope="scope">
                <el-card shadow="hover">
                  <el-row slot="header" type="flex" align="middle" justify="space-between">
                    <el-row type="flex">
                      <p>[{{ scope.row.cdNm }}]</p>
                      <el-tag :type="scope.row.apiMthd | methodFilter">{{ scope.row.apiMthd }}</el-tag>
                      <span>{{ scope.row.apiNm }}</span>
                    </el-row>
                    <template>
                      <el-button v-if="!scope.row.disabled" type="success" size="mini" @click="addApi(scope.$index, scope.row)">{{ $t('app.add') }}</el-button>
                      <el-button v-if="scope.row.disabled" type="info" size="mini" disabled>{{ $t('app.selected') }}</el-button>
                    </template>
                  </el-row>
                  <p>/{{ scope.row.apiSvc }}/{{ scope.row.apiVer }}/{{ scope.row.apiUri }}</p>
                  <el-tag v-for="tagInfo in scope.row.apiTagList" :key="tagInfo.tagOrd" type="warning" style="margin-right: 5px">{{ tagInfo.tagCd }}</el-tag>
                </el-card>
              </template>
            </el-table-column>
          </el-table>
        </el-container>
      </el-card>
      <el-dialog :visible.sync="dialogVisible" center class="dialog_form">
        <el-form>
          <el-table :data="svcCodeList" border style="margin-top:10px;" highlight-current-row @row-click="handleClick">
            <el-table-column :label="$t('product.svcCd')" align="center">
              <template slot-scope="scope">
                <span>{{ scope.row.serviceCd }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('product.svcDesc')" align="center">
              <template slot-scope="scope">
                <span>{{ scope.row.serviceNm}}</span>
              </template>
            </el-table-column>
          </el-table>
          <!-- <pagination v-show="totCnt>0" :total="totCnt" :page.sync="searchQuery.pageIdx" :limit.sync="searchQuery.pageSize" @pagination="getAppList" small/>  -->
        </el-form>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { scrollTo } from '@/utils/scrollTo'
import { mapGetters } from 'vuex'
import { reqPost } from '@/api/common'
import { fetchApiListNoPaging } from '@/api/api'
import { selectCommCodeList } from '@/api/product'
  
const methodOptions = [
  { key: 'GET', name: 'GET', tag: 'primary' },
  { key: 'POST', name: 'POST', tag: 'success' },
  { key: 'PUT', name: 'PUT', tag: 'info' },
  { key: 'DELETE', name: 'DELETE', tag: 'danger' }
]

export default {
  name: 'PrdCreate',
  directives: { waves },
  components: { Sticky },
  filters: {
    methodFilter(status) {
      const tagValue = methodOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.tag
        return acc
      }, {})
      return tagValue[status]
    }
  },
  data() {
    return {
      scopeOptions : [
        { key: 'default', label: 'default'},
        { key: 'inquiry', label: 'inquiry'}
      ],
      grantTypeOptions : [
        { key: 'client_credentials', label: 'client_credentials'},
        { key: 'authorization_code', label: 'authorization_code'},
        { key: 'refresh_token', label: 'refresh_token'}
      ],
      dialogVisible: false,
      confirmLoading: false,
      isUploaded: false,
      searchQuery: {
        pageIdx: 1,
        pageSize: 20,
        searchApiStatCd: 'OK',
        searchCtgrCd: '1100',
        searchNm: '',
        searchUserKey: '',
        searchHfnCd: '',
        prdCtgy: ''
      },
      prdDetail: {
        prdNm: '',
        ctgrCd: '',
        prdCtgy: '',
        prdKind: '',
        prdDesc: '',
        iconPath: '',
        filePath: '',
        htmlCtnt: '',
        persYn: '',
        openYn: '',
        scope: '',
        grantType: '',
        devHtmlCtnt: '',
        applDoc: [],
        svcCd: '',
        feeAmount: '',
        limitYn: '',
        prdMemo: '',
        serviceCd: '',
        files: [],
        apiList: [],
        batchMailYn: '',
        tokenGuideYn: ''
      },
      svcCodeList: [],
      codeList: [],
      apiList: [],
      selApi: [],
      fileList: [],
      docList: [],
      applDoc: [],
      scope: [],
      grantType: [],
      ruleForm: {
        prdNm: '',
        prdCtgy: '',
        prdKind: '',
        prdDesc: '',
        persYn: '',
        openYn: '',
        scope: '',
        grantType: '',
        limitYn: ''
      },
      rules: {
        prdNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        prdCtgy: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        prdKind: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        prdDesc: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        userKey: [{ required: true, message: this.$t('message.valid_required'), trigger: 'change' }],
        persYn: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        openYn: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        scope: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        grantType: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        limitYn: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        batchMailYn: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        tokenGuideYn: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }]
      }
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'hfnCd',
      'roles'
    ]),
    superAdminOrNot: function() {
      return this.roles.indexOf('ROLE_SYS_ADMIN') !== -1
    }
  },
  created() {
    scrollTo(0, 800)
    this.getCommCodeList()
  },
  methods: {
    getCommCodeList() {
      selectCommCodeList().then(response => {
        this.codeList = response.codeList
        this.prdDetail.prdCtgy = this.hfnCd
        this.getDocList()
      })
    },
    getDocList() {
      reqPost('/doc/selectDocList',this.searchQuery).then(response => {
        this.docList = response.docList
        this.totCnt = response.totCnt
        this.selCnt = response.selCnt

        for(var i = 0; i < this.docList.length; i++){
          this.docList[i].seqNo = '' + this.docList[i].seqNo;
        }
      })
    },  
    getApiList() {
      this.searchQuery.searchHfnCd = this.prdDetail.prdCtgy

      fetchApiListNoPaging(this.searchQuery).then(response => {
        for (let i = 0; i < response.list.length; i++) {
          response.list[i].disabled = false
        }

        for (let i = 0; i < this.selApi.length; i++) { // 0,1
          for (let j = 0; j < response.list.length; j++) {
            if (this.selApi[i].apiId === response.list[j].apiId) {
              response.list[j].disabled = true
            }
          }
        }
        for (let i = 0; i < this.selApi.length; i++) {
          this.selApi[i].disabled = false
        }
        this.apiList = response.list
      })
    },
    handleDialog() {
      this.dialogVisible = true
      this.getServiceCd()
    },
    getServiceCd() {
      this.searchQuery.prdCtgy = this.prdDetail.prdCtgy
      this.searchQuery.searchNm = ''
      reqPost('/api/selectSvcCodeList',this.searchQuery).then(response => {
        this.svcCodeList = response.svcCodeList
      })
    },
    handleClick(row) {
      this.prdDetail.serviceCd = row.serviceCd
      this.dialogVisible = false
    },
    handleConfirm() {
      if (this.selApi.length === 0) {
        this.$message.warning('API를 하나 이상 선택해주세요.')
        return false
      } else {
        for (let i = 0; i < this.selApi.length; i++) {
          this.prdDetail.apiList.push({ apiId: this.selApi[i].apiId, apiUrl : this.selApi[i].apiUrl })
        }
        this.apiList = []
      }

      let formData = new FormData()
      var requestData = JSON.stringify(this.prdDetail.apiList);
      
      this.prdDetail.scope = this.scope.join()
      this.prdDetail.grantType = this.grantType.join()

      formData.append('prdNm', this.prdDetail.prdNm)
      formData.append('prdCtgy', this.prdDetail.prdCtgy)
      formData.append('prdKind', this.prdDetail.prdKind)
      formData.append('prdDesc', this.prdDetail.prdDesc)
      formData.append('iconPath', this.prdDetail.iconPath)
      formData.append('filePath', this.prdDetail.filePath)
      formData.append('htmlCtnt', this.prdDetail.htmlCtnt)
      formData.append('persYn', this.prdDetail.persYn)
      formData.append('openYn', this.prdDetail.openYn)
      formData.append('scope', this.prdDetail.scope)
      formData.append('grantType', this.prdDetail.grantType)
      formData.append('devHtmlCtnt', this.prdDetail.devHtmlCtnt)
      formData.append('applDoc', this.applDoc)
      formData.append('serviceCd', this.prdDetail.serviceCd)
      formData.append('feeAmount', this.prdDetail.feeAmount)
      formData.append('limitYn', this.prdDetail.limitYn)
      formData.append('prdMemo', this.prdDetail.prdMemo)
      formData.append('batchMailYn', this.prdDetail.batchMailYn)
      formData.append('tokenGuideYn', this.prdDetail.tokenGuideYn)
      formData.append('apiList', new Blob([requestData], { type: "application/json"}));

      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          reqPost('/api/insertProduct', formData, 'multipart/form-data').then(response => {
            this.confirmLoading = false
            this.$message.success(this.$t('message.success'))
            this.$router.push({ path: '/product' })
          }).catch(() => {
            this.confirmLoading = false
            this.$router.push({ path: '/product' })
          })
        }
      })
    },
    handleNumber(event) {
      event = event || window.event
      var keyID = (event.which) ? event.which : event.keyCode
      if ((keyID >= 48 && keyID <= 57) || (keyID >= 96 && keyID <= 105) || keyID === 8 || keyID === 46 || keyID === 37 || keyID === 39 || keyID === 190) {
        return
      } else {
        event.preventDefault()
      }
    },
    handleCancel() {
      this.$router.push({ path: '/product' })
    },
    handleChange() {
      this.getApiList()
    },
    addApi(index, row) {
      row.disabled = true
      this.selApi.push(row)
    },
    removeApi(index, row) {
      for (let i = 0; i < this.apiList.length; i++) {
        if (row.apiId === this.apiList[i].apiId) {
          this.apiList[i].disabled = false
        }
      }
      this.selApi.splice(index, 1)
    },
    getUseorgList(value) {
      hfnCd = this.hfnCd
    },
    handleClose() {
      this.isUploaded = false
    },
    iconPathFile (file, fileList) {
      this.prdDetail.iconPath = file.raw;
    },
    mainPathFile (file, fileList) {
      this.prdDetail.filePath = file.raw;
    },
    clearUploadedImage (type) {
      if (type === 'upload') {
        this.$refs.upload.clearFiles();
      } else if (type === 'upload1') {
        this.$refs.upload1.clearFiles();
      }
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
.container { 
  border:1px solid #cccccc; width:390px; height: 100px; overflow-y: scroll; 
}

.app_detail {
  display: flex;
  .left, .right {
    width: 700px;
  }
  .right {
    margin-left: 20px;
    .el-table {
      overflow: auto;
      .el-table__empty-block {
        border: none;
      }
      .cell { padding: 0 5px; }
    }
    .el-table--medium th, .el-table--medium td {
      padding: 5px 0;
    }
    .el-card {
      .el-card__header {
        padding: 8px 10px 5px;
        p {
          margin-right: 10px;
          font-weight: bold;
          font-size: 16px;
        }
        .el-tag {
          margin-right: 5px;
        }
        span {
          margin-left: 5px;
        }
      }
      .el-card__body {
        padding: 5px 10px;
      }
    }
    .el-card__body {
      padding-bottom: 5px;
    }
  }
  .input-new-tag {
    width: 190px;
    vertical-align: bottom;
  }
  .el-header {
    background-color: #f7f7f7;
    font-size: 14px;
    line-height: 60px;
  }
  .el-container {
    height: 500px;
    padding-bottom: 10px;
  }
  .el-menu { border-right: 0; }
  .el-table td, .el-table th.is-leaf { border-bottom: 0; }
  .el-table::before { height: 0; }
  .el-table .none_highlight:hover td { background: transparent !important; }
}
@media screen and (max-width: 1430px){
  .app_detail {
    flex-direction: column;
    .right {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}
</style>
