<template>
  <div class="password-dialog">
    <el-dialog :title="$t('login.resettingPassword')" :visible.sync="dialogPassword" :modal-append-to-body="false" label-position="top" @close="handleClose">
      <p class="h3" v-if="dataChange === '0'" v-html="$t('login.resettingPasswordNotice')"/>
      <p class="h3" v-else v-html="$t('login.resettingPasswordNoticeChange')"/>
      <el-form ref="passwordForm" :rules="rules" :model="passwordForm" label-position="left" label-width="130px">
        <el-form-item :label="$t('login.newPassword')" prop="userPwd">
          <el-input v-model="passwordForm.userPwd" :placeholder="$t('login.placeholderPassword')" type="password"/>
        </el-form-item>
        <el-form-item :label="$t('login.passwordCheck')" prop="newPasswordCheck">
          <el-input v-model="passwordForm.newPasswordCheck" :placeholder="$t('login.placeholderPasswordCheck')" type="password"/>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button :loading="confirmLoading" type="primary" @click="btnConfirm">{{ $t('btn.confirm') }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import i18n from '@/lang'
import { updatePassword } from '@/api/login'
import { getToken, setToken } from '@/utils/auth'
import store from '@/store'

export default {
  name: 'DialogPassword',
  props: {
    propDialogPassword: {
      type: Boolean,
      default: false
    },
    tempToken: {
      type: String,
      default: ''
    },
    change: {
      type: String,
      default: ''
    },
    hfnCd: {
      type: String,
      default: ''
    },
    hfnId: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      dataTempToken: this.tempToken,
      confirmLoading: false,
      dialogPassword: this.propDialogPassword,
      dataChange: this.change,
      loginHfnCd: this.hfnCd,
      loginHfnId: this.hfnId,

      passwordForm: {
        userPwd: '',
        newPasswordCheck: '',
        hfnCd: '',
        hfnId: ''
      },
      rules: {
        userPwd: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
          { pattern: /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,}$/, message: this.$t('login.placeholderPassword'), trigger: 'blur' }
        ],
        newPasswordCheck: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
          { pattern: /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,}$/, message: this.$t('login.placeholderPassword'), trigger: 'blur' }
        ]
      }
    }
  },
  watch: {
    propDialogPassword(val) {
      this.dialogPassword = val
    },
    tempToken(val) {
      this.dataTempToken = val
    },
    change(val) {
      this.dataChange = val
    },
    hfnCd(val) {
      this.loginHfnCd = val
    },
    hfnId(val) {
      this.loginHfnId = val
    }
  },
  methods: {
    btnConfirm() {
      if (store.getters.token) {
      }
      this.$refs['passwordForm'].validate((valid) => {
        if (valid) {
          if (this.passwordForm.userPwd !== this.passwordForm.newPasswordCheck) {
            this.$message.error(i18n.t('message.error_check_password'))
          } else {
            //if (this.pwValidChk(this.passwordForm.newPasswordCheck)) {
              this.confirmLoading = true
              this.passwordForm.hfnCd = this.loginHfnCd
              this.passwordForm.hfnId = this.loginHfnId
              const tokenVal = this.dataTempToken
              updatePassword(this.passwordForm, tokenVal).then(response => {
                if (response.error === 'Accepted') {
                  this.$message.error("이전에 사용했던 비밀번호는 다시 사용할 수 없습니다.")
                  this.confirmLoading = false
                  return false
                }
                this.$alert(this.$t('message.success_editPasswordContent'), this.$t('message.success_editPassword'), {
                  confirmButtonText: this.$t('btn.confirm'),
                  type: 'success',
                  callback: action => {
                    this.$store.dispatch('LogOut').then(() => {
                      this.confirmLoading = false
                      location.reload()
                    }).catch(() => {
                      this.confirmLoading = false
                    })
                  }
                })
              }).catch(() => {
                this.confirmLoading = false
              })
            //}
          }
        }
      })
    },
    handleClose() {
      this.$emit('handle-close')
    },
    pwValidChk(pwd) {
      const max = 3
      let i, j, x, y
      const buff = ["0123456789", "abcdefghijklmnopqrstuvwxyz", "ABCDEFGHIJKLMNOPQRSTUVWXYZ"]
      let src, src2, ptn

      for(i=0; i<buff.length; i++){
        src = buff[i]
        src2 = buff[i] + buff[i]
        for(j=0; j<src.length; j++){
          x = src.substr(j, 1)
          y = src2.substr(j, max)
          ptn += "["+x+"]{"+max+",}|"
          ptn += y+"|"
        }
      }
      ptn = new RegExp(ptn.replace(/.$/, "")) // 맨마지막의 글자를 하나 없애고 정규식으로 만든다.

      if(ptn.test(pwd)) {
        alert('비밀번호에 연속된 숫자나 문자는 사용할 수 없습니다.')
        return false
      }

      return true
    }
  }
}
</script>

<style scoped>
.h3 {
  margin-top: -20px;
  margin-bottom: 20px;
  line-height: 24px;
}
</style>
