<template>
  <div class="sign_up_dialog">
    <el-dialog :title="$t('login.agreeTitle')" :visible.sync="dialogAgree" :modal-append-to-body="false" label-position="top" @close="handleClose">
      <!--<p class="h4" v-html="notice"/>-->
      <el-form ref="agreeForm" :rules="agreeRules" :model="agreeForm" label-position="left" label-width="130px">
        <!--<el-form-item label-width="0">
          <p class="h5">{{ $t('login.portalAgreeTitle') }}</p>
          <div class="terms_box">
            <div v-for="(item,index) in portalTermsList" :key="item.title">
              <p class="h2">{{ index+1 }}. {{ item.title }}</p>
              <p class="content" v-html="item.content"/>
            </div>
          </div>
          <el-row type="flex" justify="end">
            <el-checkbox v-model="agreeForm.portalTosYn" prop="portalTosYn">{{ $t('btn.agreeContent') }}</el-checkbox>
          </el-row>
        </el-form-item>
        <el-form-item label-width="0">
          <p class="h5">{{ $t('login.privateAgreeTitle') }}</p>
          <div class="terms_box private_box">
            <p class="content" v-html="privateDt"/>
            <el-table :data="privateTable" :show-header="false" border style="margin-top: 15px;border-top: 1px solid #ededed;">
              <el-table-column prop="label" width="140"/>
              <el-table-column>
                <template slot-scope="scope">
                  <p v-html="scope.row.value"/>
                </template>
              </el-table-column>
            </el-table>
            <p class="tip">※ 은행의 고의 또는 과실 등 귀책사유로 인한 개인(신용)정보 유출로 고객님에게 발생한 손해에 대해 관계법령 등에 따라 보상받으실 수 있습니다.</p>
          </div>
          <el-row type="flex" justify="end">
            <el-checkbox v-model="agreeForm.privacyTosYn" prop="privacyTosYn">{{ $t('btn.agreeContent') }}</el-checkbox>
          </el-row>
        </el-form-item>-->
        <el-form-item :label="$t('login.newPassword')" prop="userPwd">
          <el-input v-model="agreeForm.userPwd" :placeholder="$t('login.placeholderPassword')" type="password"/>
        </el-form-item>
        <el-form-item :label="$t('login.passwordCheck')" prop="newPasswordCheck">
          <el-input v-model="agreeForm.newPasswordCheck" :placeholder="$t('login.placeholderPasswordCheck')" type="password"/>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button v-loading="confirmLoading" type="primary" @click="handleConfirm">{{ $t('btn.confirm') }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import i18n from '@/lang'
import { updatePasswordAgree } from '@/api/login'

export default {
  name: 'DialogAgree',
  props: {
    propDialogAgree: {
      type: Boolean,
      default: false
    },
    tempToken: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      dataTempToken: '',
      confirmLoading: false,
      dialogAgree: this.propDialogAgree,
      notice: ' 1. 아래의 Portal 이용 및 개인정보 이용 안내를 읽고 동의를 체크하면 사용자 계정정보 입력이 가능합니다.<br/>\n' +
        ' 2. 신청자 본인의 기본 정보를 입력하고 저장하면 해당 기관 관리자에게 승인요청알림 문자가 전송됩니다.<br/>\n' +
        ' 3. 해당 기관 관리자의 승인/반려 결정 즉시 신청자 본인에게 승인결과알림 문자가 전송됩니다.<br/>\n' +
        ' 4. 관리자의 승인을 받은 신청자는 가입신청시 작성한 아이디와 비밀번호를 이용해서 포탈에 로그인할 수 있습니다.',
      portalTermsList: [
        {
          title: '목적',
          content: '하나은행(이하 "은행")에서 제공하는 Open Platform Portal(이하 “포탈”)을 이용함에 있어 “회원”과 “은행”간의 권리, 의무 및 책임사항, 이용조건 및 절차 등 기본적인 사항을 규정합니다.'
        },
        {
          title: '용어 정의',
          content: '1. Open API : 인터넷 이용자가 일방적으로 웹 검색 결과 및 사용자 인터페이스를 제공받는데 그치지 않고 직접 응용프로그램과 서비스를 개발할 수 있도록 공개된 API(Application Programming Interface)<br/>\n' +
            '\n' +
            '2. Open Platform Portal : “은행”이 공개한 API를 “회원”이 이용할 수 있도록 구성되어 있는 웹사이트<br/>\n' +
            '\n' +
            '3. 이용자 : “포탈”에 접속하여 API를 이용하고자 하는 “회원” 및 비회원<br/>\n' +
            '\n' +
            '4. 회원 : “은행”이 제공하는 API를 이용하기 위한 이용기관(개인사업자, 법인 및 단체 등) 및 이용기관의 직원으로 ID(고유번호)와 Password(비밀번호)를 발급받은 이용자<br/>\n' +
            '\n' +
            '5. ID(고유번호) : “회원” 식별과 “회원”의 “서비스” 이용을 위하여 “회원”이 선정하고 “은행”이 승인하는 영문자 또는 숫자의 조합으로 되어 있는 고유번호<br/>\n' +
            '\n' +
            '6. Password(비밀번호) : “회원”의 정보 보호를 위해 “회원” 자신이 설정한 영문 대소문자, 숫자, 특수기호의 조합'
        },
        {
          title: '서비스의 내용',
          content: '1. API관리(등록,변경,삭제 등)<br/>\n' +
            '\n' +
            '2. APP(어플리케이션) 관리(등록,변경,삭제 등)<br/>\n' +
            '\n' +
            '3. 게시물 관리(등록,변경,삭제 등)<br/>\n' +
            '\n' +
            '4. 사용자 관리, 통계 관리 등'
        },
        {
          title: '회원가입 및 이용 약정',
          content: '① "회원”이 되고자 하는 이용기관 및 이용기관의 직원이 “회원”가입 신청을 하고, “은행”이 동 신청을 승낙함으로써 성립합니다<br/>\n' +
            '\n' +
            '② 이용 약정은 “회원”가입이 완료된 “회원”이 이용기관 등록 신청 및 별도 이용계약(“Open API 이용계약서)을 체결하고, “은행”이 동 신청을 승낙함으로써 체결됩니다.<br/>\n' +
            '\n' +
            '③ “은행”은 다음 각 호에 해당하는 신청에 대하여는 거절 할 수 있습니다.<br/>\n' +
            '\n' +
            '1. 만 14세 미만인 자<br/>\n' +
            '\n' +
            '2. 실명이 아니거나, 다른 사람의 명의사용 등 이용자 등록 시 허위로 신청하는 경우<br/>\n' +
            '\n' +
            '3. 이용자 등록 사항을 누락하거나 오기하여 신청하는 경우<br/>\n' +
            '\n' +
            '4. 사회의 안녕질서 또는 미풍양속을 저해하거나, 저해할 목적으로 신청한 경우<br/>\n' +
            '\n' +
            '5. 이전에 “회원” 자격을 상실한 적이 있거나, 탈퇴, 이용중지 등이 있는 경우<br/>\n' +
            '\n' +
            '6. 기타 “은행”이 정한 이용신청 요건에 부합되지 않았을 경우<br/>\n' +
            '\n' +
            '④ “회원”의 자격에 따라 “서비스” 이용 범위가 정해질 수 있으며, 별도 이용계약 체결여부에 따라 “서비스” 이용 범위가 변동될 수 있습니다.'
        },
        {
          title: '서비스의 이용 개시 및 이용 시간',
          content: '① “은행”은 “회원”의 이용 신청을 승낙한 때부터 “서비스”를 개시합니다. 단, 일부 “서비스”의 경우에는 지정된 일로부터 “서비스”를 개시할 수 있습니다.<br/>\n' +
            '\n' +
            '② “은행”의 업무상 또는 기술상의 장애로 인하여 “서비스”를 개시하지 못하는 경우에는 “포탈”에 공지하거나 “회원”에게 이를 통지합니다.<br/>\n' +
            '\n' +
            '③ “서비스”의 이용은 연중무휴 1일 24시간을 원칙으로 합니다. 다만, “은행”의 운영상 또는 기술상의 이유로 “서비스”가 일시 중지될 수 있으며, 이러한 경우 “은행”은 사전 또는 사후에 이를 공지합니다.<br/>\n' +
            '\n' +
            '④ “은행”은 “서비스” 별로 이용 가능한 시간을 정하여 운영 할 수 있습니다.'
        },
        {
          title: '서비스의 변경 및 중지',
          content: '① “은행”은 변경될 “서비스”의 내용 및 제공일자를 “회원”에게 통지하고 “서비스”를 변경하여 제공할 수 있습니다.<br/>\n' +
            '\n' +
            '② “은행”은 다음 각 호에 해당하는 경우 “서비스”의 전부 또는 일부를 제한하거나 중지할 수 있습니다.<br/>\n' +
            '\n' +
            '1. “서비스”용 정보통신설비의 보수·교체 및 고장, 통신의 두절 등으로 인한 부득이한 경우<br/>\n' +
            '\n' +
            '2. 정전, 모든 설비의 장애 또는 이용량의 폭주 등으로 정상적인 “서비스” 이용에 지장이 있는 경우<br/>\n' +
            '\n' +
            '3. “서비스” 제공업자와의 계약 종료 등과 같은 은행의 사정으로 서비스를 유지할 수 없는 경우<br/>\n' +
            '\n' +
            '4. 기타 천재지변, 국가비상사태 등 불가항력적 사유가 있는 경우<br/>\n' +
            '\n' +
            '③ 제2항에 의한 “서비스” 중단의 경우에는 은행은 회원에게 통지합니다. 다만, 은행이 통제할 수 없는 사유로 인한 “서비스”의 중단(운영자의 고의, 과실이 없는 장애, 시스템 다운 등)으로 인하여 사전 통지가 불가능한 경우에는 그러하지 아니합니다.'
        },
        {
          title: '정보의 제공 및 광고의 게재',
          content: '① “은행”은 “서비스”를 운영함에 있어 각종 정보를 “포탈”에 게재하거나 전자우편(E-mail)등의 방법으로 “회원”에게 제공할 수 있습니다.<br/>\n' +
            '\n' +
            '② “은행”은 “서비스”의 운영과 관련하여 “포탈”, SMS, e-mail등에 광고 등을 게재할 수 있습니다.<br/>\n' +
            '\n' +
            '③ “회원”이 “서비스”상에 게재되어 있는 광고를 이용하거나 “서비스”를 통한 광고주의 판촉활동에 참여하는 등의 방법으로 교신 또는 거래를 하는 것은 전적으로 “회원”과 광고주간의 문제입니다. 만약 “회원”과 광고주간에 문제가 발생할 경우에도 “회원”과 광고주가 직접 해결하여야 하며, 이와 관련하여 “은행”은 어떠한 책임도 지지 않습니다.'
        },
        {
          title: '게시물 또는 내용물의 삭제',
          content: '① “은행”은 “회원”이 게시하거나 전달하는 “서비스” 내의 모든 내용물(“회원”간 전달 포함)이 다음 각 호의 경우에 해당한다고 판단되는 경우 사전통지 없이 삭제할 수 있습니다.<br/>\n' +
            '\n' +
            '1. “은행”, 다른 “회원” 또는 제3자를 비방하거나 중상모략으로 명예를 손상시키는 내용인 경우<br/>\n' +
            '\n' +
            '2. 공공질서 및 미풍양속에 위반되는 내용의 정보, 문장, 도형 등의 유포에 해당하는 경우<br/>\n' +
            '\n' +
            '3. 범죄적 행위에 결부된다고 인정되는 내용인 경우<br/>\n' +
            '\n' +
            '4. “은행”의 저작권, 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우<br/>\n' +
            '\n' +
            '5. 제2항 소정의 세부이용지침을 통하여 “은행”에서 규정한 게시기간을 초과한 경우<br/>\n' +
            '\n' +
            '6. “은행”에서 제공하는 “서비스”와 관련 없는 내용인 경우<br/>\n' +
            '\n' +
            '7. 불필요하거나 승인되지 않은 광고, 판촉물을 게재하는 경우<br/>\n' +
            '\n' +
            '8. 기타 관계 법령 및 “은행”의 지침 등에 위반된다고 판단되는 경우<br/>\n' +
            '\n' +
            '② “은행”은 게시물에 관련된 세부 이용지침을 별도로 정하여 시행할 수 있으며, “회원”은 그 지침에 따라 각종 게시물(“회원”간 전달 포함)을 등록하거나 삭제하여야 합니다.'
        },
        {
          title: '게시물의 저작권',
          content: '① “회원”이 “서비스”내에 게시한 게시물(“회원”간 전달 포함)의 저작권은 “회원”이 소유하며 “은행”은 “서비스” 내에 이를 게시할 수 있는 권리를 갖습니다.<br/>\n' +
            '\n' +
            '② “은행”은 게시한 “회원”의 동의 없이 게시물을 다른 목적으로 사용할 수 없습니다.<br/>\n' +
            '\n' +
            '③ “은행”은 “회원”이 “서비스” 내에 게시한 게시물이 타인의 저작권, 프로그램 저작권 등을 침해하더라도 이에 대한 민,형사상의 책임을 부담하지 않습니다. 만일 “회원”이 타인의 저작권, 프로그램 저작권 등을 침해하였음을 이유로 “은행”이 타인으로부터 손해배상청구 등 이의 제기를 받은 경우 “회원”은 “은행”의 면책을 위하여 노력하여야 하며, “은행”이 면책되지 못한 경우 “회원”은 그로 인해 “은행”에 발생한 모든 손해를 부담하여야 합니다.<br/>\n' +
            '\n' +
            '④ “은행”은 “회원”이 해지하거나 적법한 사유로 해지된 경우 해당 “회원”이 게시하였던 게시물을 삭제할 수 있습니다.<br/>\n' +
            '\n' +
            '⑤ “은행”이 작성한 저작물에 대한 저작권은 “은행”에 귀속합니다.<br/>\n' +
            '\n' +
            '⑥ “회원”은 “서비스”를 이용하여 얻은 정보를 가공, 판매하는 행위 등 “서비스”에 게재된 자료를 영리/비영리 목적으로 이용하거나 제3자에게 이용하게 할 수 없으며, 게시물에 대한 저작권 침해는 관계 법령의 적용을 받습니다.'
        },
        {
          title: '은행의 의무',
          content: '① “은행”은 “서비스” 제공과 관련하여 알고 있는 “회원”의 신상정보를 본인의 승낙 없이 제3자에게 누설, 배포하지 않습니다. 단, 관계법령에 의한 수사상의 목적으로 관계기관으로부터 요구 받은 경우나 정보통신윤리위원회의 요청이 있는 경우 등 법률의 규정에 따른 적법한 절차에 의한 경우에는 그러하지 않습니다.<br/>\n' +
            '\n' +
            '② “은행”은 “서비스”와 관련한 “회원”의 불만사항이 접수되는 경우 이를 신속하게 처리하여야 하며, 신속한 처리가 곤란한 경우 그 사유와 처리 일정을 “서비스” 화면에 게재하거나 “회원” 가입시 등록한 전자우편(e-mail)등을 통하여 “회원”에게 통지합니다.<br/>\n' +
            '\n' +
            '③ “은행”이 제공하는 “서비스”로 인하여 “회원”에게 손해가 발생한 경우 “서비스”를 제공하는 “은행”과 이용하는 “회원”간 상호 협의에 의하여 해결하며, 그러한 손해가 고의나 중과실에 기해 발생한 경우에 한하여 “은행”에서 책임을 부담하며, 그 책임의 범위는 통상손해에 한합니다.'
        },
        {
          title: '회원의 의무',
          content: '① “회원”은 “서비스”를 이용할 때 다음 각 호의 행위를 하여서는 아니 됩니다.<br/>\n' +
            '\n' +
            '1. 이용 신청 또는 변경 시 허위 사실을 기재하거나, 다른 “회원”의 ID 및 비밀번호를 도용, 부정하게 사용하는 행위<br/>\n' +
            '\n' +
            '2. “은행”의 “서비스” 정보를 이용하여 얻은 정보를 “은행”의 사전 승낙없이 복제 또는 유통시키거나 상업적으로 이용하는 행위<br/>\n' +
            '\n' +
            '3. 타인의 명예를 손상시키거나 불이익을 주는 행위<br/>\n' +
            '\n' +
            '4. 게시판 등에 음란물을 게재하거나 음란사이트를 연결(링크)하는 행위<br/>\n' +
            '\n' +
            '5. “은행”의 저작권, 제3자의 저작권 등 기타 권리를 침해하는 행위<br/>\n' +
            '\n' +
            '6. 공공질서 및 미풍양속에 위반되는 내용의 정보, 문장, 도형, 음성 등을 타인에게 유포하는 행위<br/>\n' +
            '\n' +
            '7. “서비스” 운영을 고의로 방해하거나 “서비스”의 안정적 운영을 방해할 수 있는 정보 및 수신자의 명시적인 수신거부의사에 반하여 광고성 정보를 전송하는 행위<br/>\n' +
            '\n' +
            '8. 타인으로 가장하는 행위 및 타인과의 관계를 허위로 명시하는 행위<br/>\n' +
            '\n' +
            '9. 다른 “회원”의 개인정보를 수집, 저장, 공개하는 행위<br/>\n' +
            '\n' +
            '10. 자기 또는 타인에게 재산상의 이익을 주거나 타인에게 손해를 가할 목적으로 허위의 정보를 유통시키는 행위<br/>\n' +
            '\n' +
            '11. 재물을 걸고 도박하거나 사행행위를 하는 행위<br/>\n' +
            '\n' +
            '12. 수치심이나 혐오감 또는 공포심을 일으키는 말이나 음향, 글이나 화상 또는 영상을 계속하여 상대방에게 도달하게 하여 상대방의 일상적 생활을 방해하는 행위<br/>\n' +
            '\n' +
            '13. “서비스”에 게시된 정보를 변경하는 행위<br/>\n' +
            '\n' +
            '14. “은행” 직원이나 운영자를 가장하거나 사칭하여 또는 타인의 명의를 도용하여 글을 게시하거나 메일을 발송하는 행위<br/>\n' +
            '\n' +
            '15. 컴퓨터 소프트웨어, 하드웨어, 전기통신 장비의 정상적인 가동을 방해, 파괴할 목적으로 고안된 소프트웨어 바이러스, 기타 다른 컴퓨터 코드, 파일, 프로그램을 포함하고 있는 자료를 게시하거나 e-mail 등으로 발송하는 행위<br/>\n' +
            '\n' +
            '16. 스토킹(stalking) 등 다른 “회원”을 괴롭히는 행위<br/>\n' +
            '\n' +
            '17. 기타 불법적이거나 부당한 행위<br/>\n' +
            '\n' +
            '② “회원”은 관계 법령, 이용안내 및 “서비스”상에 공지한 주의사항, “은행”이 통지하는 사항 등을 준수하여야 하며, 기타 “은행”의 업무에 방해되는 행위를 하여서는 아니 됩니다.<br/>\n' +
            '\n' +
            '③ “회원”은 “은행”에서 공식적으로 인정한 경우를 제외하고는 “서비스”를 이용하여 상품을 판매하는 영업 활동을 할 수 없으며 특히 해킹, 광고를 통한 수익, 음란사이트를 통한 상업행위, 상용소프트웨어 불법배포 등을 할 수 없습니다. 이를 위반하여 발생한 영업 활동의 결과 및 손실, 관계기관에 의한 구속 등 법적 조치 등에 관해서는 “은행”이 책임을 지지 않으며, “회원”은 이와 같은 행위와 관련하여 “은행”에 대하여 손해배상 의무를 집니다.<br/>\n' +
            '\n' +
            '④ “회원”은 “서비스” 이용을 위해 등록할 경우 현재의 사실과 일치하는 완전한 정보(이하 "등록정보") 를 제공하여야 합니다.<br/>\n' +
            '\n' +
            '⑤ “회원”은 “등록정보”에 변경사항이 발생할 경우 즉시 갱신하여야 합니다. “회원”이 제공한 “등록정보” 및 갱신한 “등록정보”가 부정확할 경우, 기타 “회원”이 제1항에 명시된 행위를 한 경우에 “은행”은 “회원”의 “서비스” 이용을 제한 또는 중지 할 수 있습니다.'
        },
        {
          title: '회원 ID, Password 관리에 대한 의무와 책임',
          content: '① “은행”은 “포탈”내에서 일부 “서비스” 신청 시 이용요금을 부과할 수 있으므로, “회원”은 회원 ID, Password 관리를 철저히 하여야 합니다.<br/>\n' +
            '\n' +
            '② 회원 ID, Password 관리 소홀, 부정 사용에 의하여 발생하는 모든 결과에 대한 책임은 “회원” 본인에게 있습니다.<br/>\n' +
            '\n' +
            '③ “회원”은 본인의 회원ID, Password를 제3자에게 이용하게 해서는 안되며, 회원 ID, Password를 도난 당하거나 제3자가 사용하고 있음을 인지하는 경우에는 바로 “은행”에 통보하고 “은행”의 안내가 있는 경우 그에 따라야 합니다.<br/>\n' +
            '\n' +
            '④ “회원”의 ID는 “은행”의 사전 동의 없이 변경할 수 없습니다.'
        },
        {
          title: '회원에 대한 통지',
          content: '① “회원”에 대한 통지를 하는 경우 “은행”은 “회원”이 등록한 전자우편(e-mail) 등으로 할 수 있습니다.<br/>\n' +
            '\n' +
            '② “은행”은 불특정 다수 “회원”에 대한 통지의 경우 “포탈” 등에 게시함으로써 개별 통지에 갈음할 수 있습니다.'
        },
        {
          title: '계약해지 및 이용제한',
          content: '① “회원”이 “서비스” 이용계약을 해지하고자 할 경우에는 “포탈” 또는 “은행”이 정한 별도의 이용방법으로 “은행”에 “회원”탈퇴 신청을 하여야 합니다.<br/>\n' +
            '\n' +
            '② “회원”이 “회원”의 의무를 이행하지 않을 경우, “은행”은 사전 통지 없이 즉시 이용계약을 해지하거나 또는 “서비스” 이용을 중지할 수 있습니다.<br/>\n' +
            '\n' +
            '③ “은행”은 “회원”이 이용계약을 체결하여 ID와 Password(비밀번호)를 부여 받은 후에라도 “회원”의 자격에 따른 서비스 이용을 제한할 수 있습니다.<br/>\n' +
            '\n' +
            '④ “은행”은 “회원” 가입 후 일정기간(6개월) 동안 “서비스” 사용 이력이 없는 “회원”에 대해 이용 계약을 해지할 수 있습니다.<br/>\n' +
            '\n' +
            '⑤ 제2항 및 제3항의 “은행” 조치에 대하여 “회원”은 “은행”이 정한 절차에 따라 이의신청을 할 수 있으며, 이의가 정당하다고 “은행”이 인정하는 경우, “은행”은 “서비스”의 이용을 재개합니다.'
        },
        {
          title: '양도 금지',
          content: '“회원”은 “서비스”의 이용권한, 기타 이용 계약상 지위를 타인에게 양도, 증여할 수 없으며 게시물에 대한 저작권을 포함한 모든 권리 및 책임은 이를 게시한 “회원”에게 있습니다.'
        },
        {
          title: '손해 배상',
          content: '① “회원”이 본 서비스의 규정을 위반함으로 인하여 “은행”에 손해가 발생하게 되는 경우, 위반한 “회원”은 “은행”에 발생하는 모든 손해를 배상하여야 합니다.<br/>\n' +
            '\n' +
            '② “회원”이 “서비스”를 이용함에 있어 행한 불법행위나 위반행위로 인하여 “은행”이 해당 “회원” 이외의 제3자로부터 손해배상 청구 또는 소송을 비롯한 각종 이의제기를 받는 경우 해당 “회원”은 자신의 책임과 비용으로 “은행”을 면책시켜야 하며, “은행”이 면책되지 못한 경우 해당 “회원”은 “은행”에 발생한 모든 손해를 배상하여야 합니다.'
        },
        {
          title: '면책 사항',
          content: '① “은행”은 천재지변 또는 이에 준하는 불가항력으로 인하여 “서비스”를 제공할 수 없는 경우에는 “서비스” 제공에 관한 책임이 면제됩니다.<br/>\n' +
            '\n' +
            '② “은행”은 “회원”의 귀책사유로 인한 “서비스”의 이용장애에 대하여 책임을 지지 않습니다.<br/>\n' +
            '\n' +
            '③ “은행”은 “회원”이 “서비스”를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을 지지 않으며 그 밖에 “서비스”를 통하여 얻은 자료로 인한 손해 등에 대하여도 책임을 지지 않습니다. “은행”은 “회원”이 사이트에 게재한 정보·자료·사실의 신뢰도 및 정확성 등 내용에 대하여는 책임을 지지 않습니다.<br/>\n' +
            '\n' +
            '④ “은행”은 “회원” 상호간 또는 “회원”과 제3자 상호간에 “서비스”를 매개로 발생한 분쟁에 대해서는 개입할 의무가 없으며, 분쟁은 분쟁대상 “회원”이 해결해야 합니다, 또한 “은행”은 이로 인한 손해배상 및 분쟁에 일체의 책임이 없습니다.'
        }
      ],
      privateDt: '(주)하나은행 귀중<br/>\n' +
        '\n' +
        '귀 행과의 비여신(금융)거래와 관련하여 귀 행이 본인의 개인(신용)정보를 수집·이용하는 경우에는「신용정보의 이용 및 보호에 관한 법률」 제15조 제2항, 제32조 제1항, 제33조 및 제34조, 「개인정보 보호법」 제15조 제1항 제1호, 제24조 제1항 제1호, 제24조의2에 따라 본인의 동의가 필요합니다.',
      privateTable: [
        {
          label: '수집 · 이용 목적',
          value: '· (금융)거래관계의 설정 여부 판단<br/>\n' +
            '\n' +
            '· (금융)거래관계의 설정·유지·이행·관리<br/>\n' +
            '\n' +
            '· 금융사고 조사, 분쟁 해결, 민원 처리<br/>\n' +
            '\n' +
            '· 법령상 의무이행'
        },
        {
          label: '수집 · 이용할 항목',
          value: '[필수 정보]<br/>\n' +
            '\n' +
            '· 공통정보 : 성명, 연락처<br/>\n' +
            '\n' +
            '· 고객ID, 접속일시, IP주소, 이용전화번호 등 전자금융거래법에 따른 수집정보<br/>\n' +
            '\n' +
            '※ 본 동의이전에 발생한 개인(신용)정보도 포함됩니다.'
        },
        {
          label: '보유 · 이용 기간',
          value: '위 개인(신용)정보는 (금융)거래 종료일로부터 5년까지 보유·이용됩니다.<br/>\n' +
            '\n' +
            '(금융)거래 종료일 후에는 금융사고 조사, 분쟁 해결, 민원처리, 법령상 의무이행을 위하여만 보유·이용됩니다.'
        },
        {
          label: '동의를 거부할 권리 및 동의를 거부할 경우의 불이익',
          value: '위 개인(신용)정보의 수집·이용에 대한 동의는 계약의 체결 및 이행을 위하여 필수적이므로, 위 사항에 동의하셔야만 (금융)거래관계의 설정 및 유지가 가능합니다.'
        }
      ],
      agreeForm: {
        portalTosYn: true,
        privacyTosYn: true,
        userPwd: '',
        newPasswordCheck: ''
      },
      agreeRules: {
        userPwd: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
          { pattern: /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,}$/, message: this.$t('login.placeholderPassword'), trigger: 'blur' }
        ],
        newPasswordCheck: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
          { pattern: /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,}$/, message: this.$t('login.placeholderPassword'), trigger: 'blur' }
        ]
      }
    }
  },
  watch: {
    propDialogAgree(val) {
      this.dialogAgree = val
    },
    tempToken(val) {
      this.dataTempToken = val
    }
  },
  methods: {
    handleConfirm() {
      this.$refs['agreeForm'].validate(valid => {
        if (valid) {
          if (this.agreeForm.portalTosYn === true && this.agreeForm.privacyTosYn === true && this.agreeForm.userPwd === this.agreeForm.newPasswordCheck) {
            this.confirmLoading = true
            const dataQuery = {
              portalTosYn: 'Y',
              privacyTosYn: 'Y',
              userPwd: this.agreeForm.userPwd
            }
            updatePasswordAgree(dataQuery, this.dataTempToken).then(response => {
              this.$alert(this.$t('message.success_agreePasswordContent'), this.$t('message.success_agreePassword'), {
                confirmButtonText: this.$t('btn.confirm'),
                type: 'success',
                callback: action => {
                  this.$store.dispatch('LogOut').then(() => {
                    this.confirmLoading = false
                    location.reload()
                  }).catch(() => {
                    this.confirmLoading = false
                  })
                }
              })
            }).catch(() => {
              this.confirmLoading = false
            })
          } else if (this.agreeForm.portalTosYn === false || this.agreeForm.privacyTosYn === false) {
            this.$message.error(i18n.t('message.error_agree'))
          } else if (this.agreeForm.userPwd !== this.agreeForm.newPasswordCheck) {
            this.$message.error(i18n.t('message.error_check_password'))
          }
        }
      })
    },
    handleClose() {
      this.$emit('handle-close')
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .h4 {
    margin: -20px 0 20px;
    line-height: 26px;
  }
  .h5 {
    font-weight: bold;
    color: #4c4c4c;
  }
  .terms_box {
    width: 100%;
    height: 160px;
    overflow: auto;
    margin: 0;
    padding: 0 10px 20px;
    border: 1px solid #cccccc;
    .h2 {
      padding-top: 10px;
      font-weight: bold;
      font-size: 18px;
    }
    .content {
      font-size: 14px;
      line-height: 22px;
    }
    &.private_box {
      padding-top: 10px;
    }
  }
  .tip {
    line-height: 16px;
    font-size: 12px;
  }
  .h3 {
    margin: -20px 0 50px;
    font-size: 16px;
  }
</style>
