<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('admin.lockRelease') }}</p>
      </el-row>
    </sticky>
    <div class="app-container">
      <el-card shadow="hover">
        <div slot="header">
          <el-row type="flex" justify="space-between">
            <strong class="strong-only">{{ $t('title.userDetail') }} </strong>
          </el-row>
        </div>
        <div class="text item">
          <el-form label-position="left" label-width="120px">
            <el-form-item :label="$t('security.userId')">
              <el-row type="flex">
                <el-input v-model="searchQuery.hfnId" clearable style="width: calc(100%)"/>
                <el-button type="primary" @click="handleHfnLockRelease" class="ml20" size="medium">{{ $t('admin.release') }}</el-button>
              </el-row>
            </el-form-item>
          </el-form>
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { hfnLoginLockRelease } from '@/api/setting'

export default {
  name: 'LoginLockRelease',
  directives: { waves },
  components: { Sticky },
  data() {    
    return {
      searchQuery: {
        hfnId: ''
      }
    }
  },
  computed: {
  },
  created() {
  },
  methods: {
    handleHfnLockRelease() {
      hfnLoginLockRelease(this.searchQuery).then(response => {
        this.$message.success('잠금이 해제되었습니다.')
      })
    }
  }
}
</script>
