<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.myInfo') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button v-waves :loading="confirmLoading" type="primary" @click="handleConfirm">{{ $t('btn.edit') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="app-container">
      <el-card>
        <div slot="header">
          <strong class="strong-only">{{ $t('user.myInfo') }} </strong>
        </div>
        <el-form v-loading="listLoading" ref="ruleForm" :rules="rules" :model="MyInfo" label-position="left" label-width="130px">
          <el-form-item :label="$t('user.id')">
            <el-input v-model="MyInfo.hfnId" disabled/>
          </el-form-item>
          <el-row type="flex">
             <el-form-item :label="$t('user.name')" prop="userNm">
              <el-input v-model="MyInfo.userNm" disabled/>
            </el-form-item>
            <el-form-item :label="$t('user.contact')" prop="userTel" class="ml20">
              <el-input v-model="MyInfo.userTel" type="tel" maxlength="15" @keydown.native="handleInputNumber" disabled/>
            </el-form-item>
          </el-row>
          <el-form-item :label="$t('user.password')" prop="userPwd">
            <el-input v-model="MyInfo.userPwd" :placeholder="$t('user.password')" maxlength="16" type="password"/>
          </el-form-item>
          <el-form-item :label="$t('user.newPassword')" prop="newUserPwd">
            <el-input v-model="MyInfo.newUserPwd" :placeholder="$t('login.placeholderPassword')" minlength="8" type="password"/>
          </el-form-item>
          <el-form-item :label="$t('user.newPasswordCheck')" prop="newPasswordCheck">
            <el-input v-model="MyInfo.newPasswordCheck" :placeholder="$t('login.placeholderPasswordCheck')" minlength="8" type="password"/>
          </el-form-item>
          <el-form-item :label="$t('user.roleCd')">
            {{ MyInfo.roleNm }}
          </el-form-item>
          <el-form-item :label="$t('app.cnlKey')">
            <el-row type="flex">
              <el-tag :key="tag" v-for="tag in ipTags" closable :disable-transitions="false" type="primary" size="normal" @close="handleClose(tag)"> {{ tag }} </el-tag>
              <el-input v-if="inputVisible" v-model="inputValue" ref="saveTagInput" @keyup.enter.native="handleInputConfirm" @blur="handleInputConfirm" class="input-new-tag" size="small"/>
              <el-button v-if="!inputVisible" class="button-new-tag" size="small" plain @click="showInput">{{ $t('app.add') }}</el-button>
            </el-row>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { mapGetters } from 'vuex'
import { scrollTo } from '@/utils/scrollTo'
import { isEmpty } from '@/utils/validate'
import { getMyInfo, myInfoUpdate } from '@/api/setting'
import { selectCommCodeList } from '@/api/common'

export default {
  name: 'MyInfo',
  directives: { waves },
  components: { Sticky },
  data() {
    var validatePass = (rule, value, callback) => {
      if (value !== this.MyInfo.newUserPwd) {
        callback(new Error(i18n.t('message.error_check_newPassword')))
      } else {
        callback()
      }
    }
    return {
      inputVisible: false,
      inputValue: '',
      ipTags: [],
      ruleCheck: false,
      searchQuery: {
        searchText: '',
        hfnCd: ''
      },
      updateInfo: {
        hfnCd: '',
        hfnId: '',
        userNm: '',
        ipAddr: ''
      },
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() < Date.now() - 8.64e7
        },
        shortcuts: [
          {
            text: this.$t('app.month'),
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              end.setTime(start.getTime() + 3600 * 1000 * 24 * 30)
              picker.$emit('pick', [start, end])
            }
          },
          {
            text: this.$t('app.year'),
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              end.setTime(start.getTime() + 3600 * 1000 * 24 * 365)
              picker.$emit('pick', [start, end])
            }
          }]
      },
      timeout: null,
      listLoading: false,
      confirmLoading: false,
      MyInfo: {
        id: null,
        userNm: '',
        hfnId: '',
        userPwd: '',
        userTel: '',
        newUserPwd: '',
        newPasswordCheck: '',
        signUserYn: '',
        roleCd: '',
        deptNm: '',
        jobNm: '',
        ipAddr: ''
      },
      rules: {
        userPwd: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
          { pattern: /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,}$/, message: this.$t('login.placeholderPassword'), trigger: 'blur' }
        ],
        newUserPwd: [
          {
            validator: function(rule, value, callback) {
              if (value) {
                if (!(/^(?=.*[a-zA-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,}$/).test(value)) {
                  return callback(new Error(i18n.t('login.placeholderPassword')))
                } else {
                  return callback()
                }
              } else {
                return callback()
              }
            },
            trigger: 'blur'
          }
        ],
        newPasswordCheck: [
          { validator: validatePass, trigger: 'blur' }
        ],
        userTel: [
          { required: false, message: this.$t('message.valid_required'), trigger: 'blur' },
          { min: 10, max: 15, message: this.$t('login.userTelRule'), trigger: 'blur' }
        ],
        jobNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        deptNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        hfnId: [{ required: false, message: this.$t('message.valid_required'), trigger: 'blur' }]
      }
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'hfnId',
      'hfnCd'
    ])
  },
  created() {
    scrollTo(0, 800)
    this.getList()
  },
  methods: {
    // 휴대전화 하이픈
    hyphenPhone(data) {
        var phone = ''
        phone += data.substr(0,3)
        phone += '-'
        phone += data.substr(3,4)
        phone += '-'
        phone += data.substr(7)
        return phone
    },    
    handleInputNumber(event) {
      if (!(event.keyCode === 8 || event.keyCode === 46 || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105))) {
        event.preventDefault()
      }
    },
    getList() {
      this.listLoading = true
      getMyInfo(this.userKey).then(response => {
        this.listLoading = false
        this.MyInfo = response.hfnUserVO
        this.MyInfo.userTel = this.hyphenPhone(response.hfnUserVO.userTel)
        if (!isEmpty(this.MyInfo.ipAddr)) {
          this.ipTags = this.MyInfo.ipAddr.split(',')
        }
        setTimeout(() => {
          this.listLoading = false
        }, 1000)
      })
    },
    handleConfirm() {
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          this.updateInfo = this.MyInfo
          this.updateInfo.ipAddr = this.ipTags.toString();
          this.ruleCheck = true

          if (this.ruleCheck) {
            myInfoUpdate(this.updateInfo).then(response => {
              this.confirmLoading = false
              if (this.MyInfo.newUserPwd != '' && this.MyInfo.newUserPwd != undefined) {
                  this.$alert('<p>' + this.$t('message.success_editPassword') + '<br/>' + this.$t('message.success_editPasswordContent') + '</p>', {
                  dangerouslyUseHTMLString: true,
                  confirmButtonText: this.$t('btn.confirm'),
                  type: 'success',
                  callback: action => {
                    this.$store.dispatch('LogOut').then(() => {
                      this.confirmLoading = false
                      this.$router.push({ path: this.redirect || '/login' })
                    })
                  }
                })
              } else {
                this.$message.success(this.$t('message.success'))
                this.getList()
              }
            }).catch(() => {
              this.confirmLoading = false
            })
          }
        }
      })
    },
    handleClose(tag) {
      this.ipTags.splice(this.ipTags.indexOf(tag), 1);
    },
    showInput() {
      this.inputVisible = true;
      this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },
    handleInputConfirm() {
      let inputValue = this.inputValue;
      if (inputValue) {
        this.ipTags.push(inputValue);
      }
      this.inputVisible = false;
      this.inputValue = '';
    }
  }
}
</script>
