<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-model="listQuery.searchRole" clearable style="width: 140px" class="filter-item" :placeholder="$t('user.roleCd')">
        <el-option v-for="item in codePtAuthList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <div class="filter-item el-input el-input--medium" style="width: 280px;">
        <input v-model="listQuery.searchNm" :placeholder="$t('api.apiSearch')" @keyup.enter.native="handleFilter" type="text" autocomplete="off" class="el-input__inner">
      </div>
      <el-button v-waves class="filter-item" type="primary" plain icon="el-icon-search" size="small" style="margin-left: 0px;" @click="handleFilter">{{ $t('btn.search') }}</el-button>
      <el-button v-waves class="filter-item" plain icon="el-icon-refresh-left" size="small" style="margin-left: 0px;" @click="doReset">{{ $t('btn.reset') }}</el-button>
    </div>
    <div class="proc-container">
      <el-button v-waves class="filter-item" type="primary" icon="el-icon-edit" @click="regTrx">{{ $t('btn.add') }}</el-button>
    </div>
    <el-table v-loading="listLoading" :data="trxList" border highlight-current-row @row-click="detailTrx">
      <el-table-column label="No" width="50" align="center">
        <template slot-scope="scope" align="center">
          {{ scope.$index + (listQuery.pageSize * (listQuery.pageIdx-1))+1}}
        </template>
      </el-table-column>
      <el-table-column :label="$t('admin.trxNm')" align="center" min-width="280">
        <template slot-scope="scope" type="flex" align="center">
          <span>{{ scope.row.trxNm }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('admin.trxCd')" align="center" min-width="300">
        <template slot-scope="scope" type="flex" align="center">
          <span>{{ scope.row.trxCd }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('security.menuFunc')" align="center" width="100">
        <template slot-scope="scope" type="flex" align="center">
          <el-tag class="button-no-bg" :type="scope.row.menuFunc | funcFilter('', codePtFuncList)">{{ scope.row.menuFunc | cdNmFilter('', codePtFuncList)}}</el-tag>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getList" />
	</div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { selectTrx } from '@/api/setting'
import { selectCommCodeList } from '@/api/common'

export default {
  name: 'ManageTrx',
  directives: { waves },
  filters: {
    funcFilter(code, txtParam, codeList) {
      const tagValue = codeList.reduce((acc, cur) => {
        acc[cur.cdId] = cur.conn1Cd
        return acc
      }, {})
      return tagValue[code]
    },
    cdNmFilter(code, txtParam, codeList) {
      const value = codeList.reduce((obj, cur) => {
        obj[cur.cdId] = cur.cdNm
        return obj
      }, {})
      return value[code]
    }
  },
  components: { Pagination },
  data() {
    return {
      condCode: [
        {cond: {commCdId: '0001'},list: 'codePtAuthList'},//포탈 접근 권한
        {cond: {commCdId: '0002'},list: 'codePtFuncList'}//포탈 기능 권한
      ],
      codePtAuthList: [],
      codePtFuncList: [],
      totCnt: 0,
      selCnt: null,
      listLoading: true,
			trxList: [],
      listQuery: {
        searchRole: '',
        searchNm: '',
        pageIdx: 1,
        pageSize: 20
      }
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'roles'
    ])
  },
  created() {
    this.getCodeList()
		this.getList()
  },
  methods: {
    //코드조회
    getCodeList() {
      for(var i in this.condCode){
        var codeCond = this.condCode[i];
        selectCommCodeList(codeCond.cond).then(response => {
          //async로인해 함수 밖 파라미터를 재대로 사용할수없어 코드존재여부 확인뒤
          //첫번째 대표코드를 통해서 코드 list에 맵핑 함
          if(response.codeList != null && response.codeList.length > 0){
            var codeObj = this.condCode.filter(function(e,i,a){
              if(e.cond.commCdId ==response.codeList[0].commCdId){
                return true
              }
            })
            this[codeObj[0].list] = response.codeList
            if(codeObj[0].nulldata != null){
              this[codeObj[0].list].unshift({ cdId: codeObj[0].nulldata.cdId, cdNm: codeObj[0].nulldata.cdNm})
            }
          }
        })
      }
    },
    doReset() {
      this.listQuery= {
        searchRole: '',
        searchNm: '',
        pageIdx: 1,
        pageSize: 20
      }
      this.trxList = []
    },
    regTrx() {
      this.$router.push({ path: '/regTrx' })
    },
    handleFilter: function() {
      this.listQuery.pageIdx = 1
      this.getList()
    },
    getList() {
      this.listLoading = true
      selectTrx(this.listQuery).then(response => {
        this.trxList = response.trxList
        this.totCnt = response.totCnt
        this.listLoading = false
      })
    },
    detailTrx(row) {
      this.$router.push({ path: '/detailTrx?trxCd=' + row.trxCd })
    }
  }
}
</script>