<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.regTrx') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button v-permission="['ROLE_SYS_ADMIN']" type="primary" @click="handleConfirm">{{ $t('btn.add') }}</el-button>
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class=" app_detail app-container">
      <el-card shadow="hover">
        <div slot="header" class="clearfix">
          <strong class="strong-only">{{ $t('admin.regTrx') }}</strong>
        </div>
        <el-form :model="trxForm" label-position="left" label-width="130px" style="width: 100%;">
          <el-form-item :label="$t('admin.trxCd')" prop="trxCd">
            <div class="el-input el-input--medium">
              <input v-model="trxForm.trxCd" type="text" autocomplete="off" maxlength="200" class="el-input__inner">
            </div>
          </el-form-item>
          <el-form-item :label="$t('admin.trxNm')" prop="trxNm">
            <div class="el-input el-input--medium">
              <input v-model="trxForm.trxNm" type="text" autocomplete="off" maxlength="200" class="el-input__inner">
            </div>
          </el-form-item>
          <el-form-item :label="$t('admin.trxGrant')" prop="trxGrant">
            <el-checkbox-group v-model="trxGrant" size="small">
              <el-checkbox-button v-for="item in codePtAuthList" :label="item.cdId" :key="item.cdId" :value="item.cdId">{{ item.cdNm }}</el-checkbox-button>
            </el-checkbox-group>
          </el-form-item>
          <el-form-item :label="$t('admin.menuFunc')" prop="menuFunc">
            <el-radio-group v-model="trxForm.menuFunc" size="small">
              <el-radio-button v-for="item in codePtFuncList" :label="item.cdId" :key="item.cdId" :value="item.cdId">{{item.cdNm}}</el-radio-button>
            </el-radio-group>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import permission from '@/directive/permission/index.js'
import { scrollTo } from '@/utils/scrollTo'
import { regTrx } from '@/api/setting'
import { selectCommCodeList } from '@/api/common'

export default {
  name: 'RegTrx',
  directives: { waves, permission },
  components: { Sticky },
  data() {
    return {
      condCode: [
        {cond: {commCdId: '0001'},list: 'codePtAuthList'},//포탈 접근 권한
        {cond: {commCdId: '0002'},list: 'codePtFuncList'}//포탈 기능 권한
      ],
      codePtAuthList: [],
      codePtFuncList: [],
      trxForm: {
        trxCd: '',
        trxNm: '',
        trxGrant: '',
        menuFunc: '',
        pinfoIncl: ''
      },
      trxGrant: []
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ])
  },
  created() {
    this.getCodeList()
	},
  methods: {
    //코드조회
    getCodeList() {
      for(var i in this.condCode){
        var codeCond = this.condCode[i];
        selectCommCodeList(codeCond.cond).then(response => {
          //async로인해 함수 밖 파라미터를 재대로 사용할수없어 코드존재여부 확인뒤
          //첫번째 대표코드를 통해서 코드 list에 맵핑 함
          if(response.codeList != null && response.codeList.length > 0){
            var codeObj = this.condCode.filter(function(e,i,a){
              if(e.cond.commCdId ==response.codeList[0].commCdId){
                return true
              }
            })
            this[codeObj[0].list] = response.codeList
            if(codeObj[0].nulldata != null){
              this[codeObj[0].list].unshift({ cdId: codeObj[0].nulldata.cdId, cdNm: codeObj[0].nulldata.cdNm})
            }
          }
        })
      }
    },
    handleCancel() {
      this.$router.push({ path: '/manageTrx' })
    },
    handleConfirm() {
      this.trxForm.trxGrant = this.trxGrant.join()
      if (this.trxForm.trxCd != null && this.trxForm.trxCd != '') {
        if (this.trxForm.trxNm != null && this.trxForm.trxNm != '') {
          if (this.trxForm.trxGrant != null && this.trxForm.trxGrant != '') {
            regTrx(this.trxForm).then(response => {
              this.$message.success('거래 등록 완료')
              this.$router.push({ path: '/manageTrx' })
            })
          } else {
            this.$message.error('거래 권한을 입력해주세요.')
          }
        } else {
          this.$message.error('거래명을 입력해주세요.')
        }
      } else {
        this.$message.error('거래코드를 입력해주세요.')
      }
    }
  }
}
</script>
