<template>
  <div class="app-container">
    <div class="filter-container">
      <el-date-picker 
        v-model="listQuery.searchStDt" :picker-options="pickerOptions" type="date" format="yyyy-MM-dd" value-format="yyyyMMdd" align="right" style="width: 150px;" placeholder="거래일" class="filter-item"/>
      <el-input class="filter-item" style="width: 250px;" @click.native="selectUseorg" placeholder="기관명" v-model="listQuery.useorgNm" readonly>
      </el-input>
      <el-select v-model="listQuery.clientId" clearable class="filter-item" placeholder="서비스(APP)명">
          <el-option v-for="item in serviceList" :key="item.appClientId" :label="item.appNm" :value="item.appClientId">
          </el-option>
      </el-select>
      <el-select v-model="listQuery.statusCode" clearable class="filter-item" :placeholder="$t('guide.response')" style="width: 100px;">
          <el-option v-for="item in statusOptions" :key="item.key" :label="item.statusName" :value="item.key">
          </el-option>
      </el-select>
      <div class="filter-item el-input el-input--medium" style="width: 200px;">
        <input v-model="listQuery.searchNm" :placeholder="$t('log.apiUrl')" @keyup.enter.native="getLogList" type="text" autocomplete="off" class="el-input__inner">
      </div>
      <el-button v-waves class="filter-item" size="small" plain  type="primary" icon="el-icon-search" @click="getLogList" style="margin-left: 0px;">
        {{ $t('btn.search') }}
      </el-button>
      <el-button v-waves class="filter-item" style="margin-left: 0px;" plain icon="el-icon-refresh-left" size="small" @click="resetSearch">
                {{$t('btn.resetSearch')}}
            </el-button>
    </div>
    <el-table v-loading="listLoading" :data="list" border style="width: 100%" highlight-current-row @row-click="getLogDetailInfo">
      <el-table-column :label="$t('log.trxDttm')" align="center" :min-width="25">
        <template slot-scope="scope">
          <span>{{ scope.row.dealDate }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('log.trId')" align="center" :min-width="30">
        <template slot-scope="scope">
          <span>{{ scope.row.apiTranId }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('app.userKey')" align="center" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.orgCode }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('api.apiTypeCd')" align="center" :min-width="20">
        <template slot-scope="scope">
          <span>{{ scope.row.apiId }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('log.apiUrl')" align="center" :min-width="30">
        <template slot-scope="scope">
          <span>{{ scope.row.requestUri }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('log.host')" align="center" :min-width="20">
          <template slot-scope="scope"><span>{{ scope.row.host }}</span></template>
      </el-table-column>
      <el-table-column :label="$t('log.rsCode')" align="center" :min-width="11">
        <template slot-scope="scope"><span>{{ scope.row.httpStatus }}</span></template>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getLogList"/>
    <el-dialog :title="$t('log.title_dialog')" :visible.sync="dialogViewDetail" :modal-append-to-body="false" center class="dialog_table">
      <el-form ref="detailForm" :model="detailForm" label-position="left" label-width="130px">
        <el-form-item :label="$t('log.trId')">
          <span>{{ detailForm.apiTranId }}</span>
        </el-form-item>
        <el-form-item :label="$t('log.apiUrl')">
          <span>{{ detailForm.requestUri }}</span>
        </el-form-item>
        <el-row type="flex" align="top" justify="space-between" class="between_form_item">
          <el-form-item :label="$t('log.gwType')">
            <span>{{ detailForm.appName }}</span>
          </el-form-item>
          <el-form-item :label="$t('log.rsCode')">
            <span>{{ detailForm.httpStatus }}</span>
          </el-form-item>
        </el-row>
        <el-row type="flex" align="top" justify="space-between" class="between_form_item">
          <el-form-item :label="$t('app.userKey')">
            <span>{{ detailForm.orgCode }}</span>
          </el-form-item>
          <el-form-item :label="$t('api.apiTypeCd')">
            <span>{{ detailForm.apiId }}</span>
          </el-form-item>
        </el-row>
        <el-row type="flex" align="top" justify="space-between" class="between_form_item">
          <el-form-item :label="$t('app.clientID')">
            <span>{{ detailForm.clientId }}</span>
          </el-form-item>
          <el-form-item :label="$t('log.host')">
            <span>{{ detailForm.clientIp }}</span>
          </el-form-item>
        </el-row>
        <el-row type="flex" align="top" justify="space-between" class="between_form_item">
          <el-form-item :label="$t('log.trxDttm')">
            <span>{{ detailForm.dealDate }}</span>
          </el-form-item>
        </el-row>
        <el-form-item :label="$t('log.input')">
          <code style="background: #666666; margin-top: 20px; margin-bottom: 40px; line-height: initial;">
            <span style="word-wrap:break-word; color: #FFFFFF;">{{ detailForm.reqBody }}</span>
          </code>
        </el-form-item>
        <el-form-item :label="$t('log.output')">
          <code style="background: #666666; margin-top: 20px; margin-bottom: 40px; line-height: initial;">
            <span style="word-wrap:break-word; color: #FFFFFF;">{{ detailForm.resBody }}</span>
          </code>
        </el-form-item>
      </el-form>
    </el-dialog>
    <el-dialog :visible.sync="useorgSearchYN" :title="$t('app.useorgSearch')" width="60%" center @close="closeDialog">
      <div class="filter-container">
            <el-input  v-model="searchDialogQuery.useorgNm" maxlength="1000" type="text" :placeholder="$t('app.useorgNm')" style="width:300px;" class="filter-item"/>
            <el-input v-model="searchDialogQuery.brn" maxlength="1000" type="text" :placeholder="$t('app.brn')" style="width:300px;" class="filter-item"/>
          <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" plain icon="el-icon-search" size="small" @click="handleReleaseConfirm">
              {{ $t('btn.search') }}
          </el-button>
          <el-button v-waves class="filter-item" style="margin-left: 0px;" plain icon="el-icon-refresh-left" size="small" @click="resetDiagSearch">
              {{ $t('btn.resetSearch') }}
          </el-button>
      </div>
      <el-table height="280" :data="useorgList" @row-click="clickUseorg">
        <el-table-column :label="$t('app.useorgNm')" align="center">
              <template slot-scope="scope">
                  <span>{{scope.row.useorgNm}}</span>
              </template>
          </el-table-column>
          <el-table-column :label="$t('app.userKey')" align="center">
              <template slot-scope="scope">
                  <span>{{scope.row.userKey}}</span>
              </template>
          </el-table-column>
          <el-table-column :label="$t('app.brn')" align="center">
              <template slot-scope="scope">
                  <span v-if="scope.row.brn !== null">{{scope.row.brn | brnFilter}}</span>
                  <span>{{scope.row.brn}}</span>
              </template>
          </el-table-column>
      </el-table>
    </el-dialog>
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { fetchApiLogList, fetchApiLogDetail } from '@/api/log'
import { selectAppUserList } from '@/api/app'
import permission from '@/directive/permission/index.js'
import checkPermission from '@/utils/permission'
import moment from 'moment'
import { reqPost } from '@/api/common'
import { searchUseorg } from '@/api/app'
import { selectServiceAppStatsList } from '@/api/app'
import { selectCommCodeList } from '@/api/common'
import { dateFormat } from '@/utils/common'

const statusOptions = [
  { key: '200', statusName: i18n.t('log.ok'), tag: 'success' },
  { key: '500', statusName: i18n.t('log.error'), tag: 'danger' }
]

export default {
  name: 'ApiDeal',
  directives: { waves, permission },
  filters: {
    statusFilter(status) {
      const tagValue = statusOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.tag
        return acc
      }, {})
      return tagValue[status]
    },
    statusTextFilter(status) {
      const nameValue = statusOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.statusName
        return acc
      }, {})
      return nameValue[status]
    }
  },
  components: { Pagination },
  data() {
    return {
      condCode: [
        {cond: {commCdId: '0600'},list: 'codeStatTimeList'},//통계코드
      ],
      codeStatTimeList: [],
      searchDialogQuery: {
        pageIdx: 1,
        pageSize: 20,
        brn:'', // 사업자등록번호
        useorgNm: '', // 기관명
      },
      useorgList: [],
      serviceList: [],
      sTotCnt: 0,
      useorgSearchYN: false,
      statusOptions,
      listQuery: {
        useorgNm: '',
        useorg: '',
        pageIdx: 1,
        pageSize: 20,
        searchUserKey: '',
        clientId: '',
        statusCode:'',
        searchNm: '',
        searchStDt: dateFormat('', 'yyyyMMdd'),
        searchEnDt: ''
      },
      pickerOptions: {
        shortcuts: [{
          text: this.$t('statistics.lastWeek'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
            picker.$emit('pick', [start, end])
          }
        }, {
          text: this.$t('statistics.lastMonth'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
            picker.$emit('pick', [start, end])
          }
        }]
      },
      listLoading: false,
      totCnt: 0,
      list: [],
      dialogViewDetail: false,
      detailForm: {},
      codeList: [],
      userList: []
    }
  },computed: {
    ...mapGetters([
      'roles',
      'hfnCd'
    ])
  },
  watch: {
      'listQuery.searchUserKey': function(val) {
          this.getAppList()
      }
  },
  created() {
    this.listQuery.role = this.roles[0]
    this.datetimerange()
    this.getCodeList()
    this.getAppList()
  },
  methods: {
    checkPermission,
    //코드조회
    getCodeList() {
      for(var i in this.condCode){
        var codeCond = this.condCode[i];
        selectCommCodeList(codeCond.cond).then(response => {
          //async로인해 함수 밖 파라미터를 재대로 사용할수없어 코드존재여부 확인뒤
          //첫번째 대표코드를 통해서 코드 list에 맵핑 함
          if(response.codeList != null && response.codeList.length > 0){
            var codeObj = this.condCode.filter(function(e,i,a){
              if(e.cond.commCdId ==response.codeList[0].commCdId){
                return true
              }
            })
            this[codeObj[0].list] = response.codeList
            if(codeObj[0].nulldata != null){
              this[codeObj[0].list].unshift({ cdId: codeObj[0].nulldata.cdId, cdNm: codeObj[0].nulldata.cdNm})
            }
          }
        })
      }
    },
    resetDiagSearch() {
      this.sTotCnt = 0;
      this.useorgList = null
      this.searchDialogQuery.useorgNm = ''
      this.searchDialogQuery.brn = ''
    },  
    selectUseorg(data) {
        this.useorgSearchYN = true
    },
    closeDialog() {
      this.sTotCnt = 0
      this.useorgList = null
      this.searchDialogQuery.useorgNm = ''
      this.searchDialogQuery.brn = ''
    },
    clickUseorg(data) {
      this.listQuery.searchUserKey = data.userKey
      this.listQuery.useorgNm = data.useorgNm
      this.listQuery.useorg = data.userKey
      this.useorgSearchYN = false
    },
    handleReleaseConfirm() {
      if(this.searchDialogQuery.brn === '' && this.searchDialogQuery.useorgNm === '') {
        this.$message.warning(this.$t('message.warning_no_input_useorgSearch'))
      } else {
        searchUseorg(this.searchDialogQuery).then(response => {
          this.useorgList = response.list
          this.sTotCnt = response.totCnt
          for(var i = 0; i < this.useorgList.length; i++) {
            if (this.useorgList[i].useorgStatCd === 'DEL'){
              this.useorgList.splice(i,1)
            }
          }
        })
      }
    },
    getAppList() {
        selectServiceAppStatsList(this.listQuery).then(response => {
            this.serviceList = response
        })
    },
    resetSearch() {
        this.listQuery.pageIdx = 1
        this.listQuery.pageSize = 20
        this.listQuery.searchUserKey = ''
        this.listQuery.clientId = ''
        this.listQuery.useorgNm = ''
        this.listQuery.useorg = ''
        this.listQuery.searchNm = ''
        this.dateRange()
        this.getLogList()
    },
    datetimerange() {
      const start = new Date()
      this.listQuery.searchStDt = moment(start).format("YYYYMMDD")
    },
    getLogList() {
      this.listLoading = true
      fetchApiLogList(this.listQuery).then(response => {
        this.list = response.list
        this.totCnt = response.totCnt
        setTimeout(() => {
          this.listLoading = false
        }, 1000)
      })
    },
    getLogDetailInfo(row) {
      this.detailForm = row
      this.dialogViewDetail = true
    },
    handleHfnChange() {
      selectAppUserList(this.listQuery).then(response => {
        this.userList = response.appReadInfo
        this.userList = [...new Map(this.userList.map(item => [item.userNm, item])).values()]
        setTimeout(() => {
          this.listLoading = false
        }, 1000)
      })
    },
    format_date_yyyymmdd(inputDate) {
      const y = inputDate.getFullYear()
      const m = inputDate.getMonth() + 1
      const d = inputDate.getDate()
      const mm = m < 10 ? '0' + m : m
      const dd = d < 10 ? '0' + d : d
      return '' + y + mm + dd
    }
  }
}
</script>
