<template>
  <div class="login-container">
    <nav-bar :login-page="true"/>
    <el-form ref="loginForm" :model="loginForm" :rules="loginRules" class="login-form" auto-complete="on">
      <div class="title-container">
        <h3 class="title">{{ $t('login.title') }}</h3>
      </div>
      <el-form-item prop="hfnId">
        <span class="svg-container svg-container_login">
          <svg-icon icon-class="user" />
        </span>
        <el-input v-model.trim="loginForm.hfnId" name="username" type="text" auto-complete="on" placeholder="아이디" />
      </el-form-item>
      <el-form-item prop="password" style="margin-bottom:10px;">
        <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
        <el-input :type="pwdType" v-model="loginForm.password" name="password" auto-complete="on" placeholder="비밀번호" @keyup.enter.native="handleLogin" />
        <span class="show-pwd" @click="showPwd">
          <svg-icon icon-class="eye" />
        </span>
      </el-form-item>
      <el-form-item class="login_btn">
        <el-button v-waves :loading="loading" type="primary" @click.native.prevent="handleLogin">{{ $t('login.logIn') }}</el-button>
      </el-form-item>
      <el-row type="flex" justify="space-between" align="middle" style="width: 100%;">
        <el-checkbox v-model="loginForm.isSaveId">{{ $t('btn.idStore') }}</el-checkbox>
      </el-row>
    </el-form>
    <dialog-agree :prop-dialog-agree="dialogAgree" :temp-token="tempToken" @handle-close="dialogAgree=false"/>
    <dialog-password :prop-dialog-password="dialogPassword" :temp-token="tempToken" :change="change" :hfn-cd="loginForm.hfnCd" :hfn-id="loginForm.hfnId" @handle-close="dialogPassword=false"/>
  </div>
</template>

<script>
import { NavBar } from '@/views/layout/components'
import { reqPost } from '@/api/common'
import { getCookie } from '@/utils'
import waves from '@/directive/waves'
import { getInfo, login } from '@/api/login'
import { getWelcomeModal, removeToken } from '@/utils/auth'
import DialogPassword from './components/dialogPassword'
import DialogAgree from './components/dialogAgree'

export default {
  name: 'Login',
  directives: { waves },
  components: {
    DialogAgree,
    DialogPassword,
    NavBar
  },
  data() {
    return {
      hfnOptions: [],
      loginPage: true,
      loginForm: {
        username: '',
        hfnId: '',
        password: '',
        isSaveId: false,
        siteCd: 'adminPortal',
      },
      loginRules: {
        hfnId: [
          { required: true, message: this.$t('login.hfnIdRule'), trigger: 'blur' },
          { message: this.$t('login.hfnIdRule'), trigger: 'blur' }
        ],
        password: [
          { required: true, message: this.$t('login.placeholderPassword'), trigger: 'blur' },
          { pattern: /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,}$/, message: this.$t('login.placeholderPassword'), trigger: 'blur' }
        ]
      },
      loading: false,
      pwdType: 'password',
      redirect: undefined,
      dialogSignIn: false,
      dialogPassword: false,
      dialogAgree: false,
      tempToken: '',
      change: '0',
      mode: ''
    }
  },
  watch: {
    $route: {
      handler: function(route) {
        this.redirect = route.query && route.query.redirect
      },
      immediate: true
    }
  },
  created() {
    const cookieUsername = getCookie('idSaveCheck')

    if (cookieUsername !== undefined) {
      this.loginForm.hfnId = cookieUsername
      this.loginForm.isSaveId = true
    }
  },
  methods: {
    showPwd() {
      if (this.pwdType === 'password') {
        this.pwdType = ''
      } else {
        this.pwdType = 'password'
      }
    },
    afterLogin() {
      getInfo(this.tempToken).then(response => {
        const date = new Date()
        const date2 = new Date(response.pwdChangeDt)
        const currDay = 24 * 60 * 60 * 1000;

        let pwdChangeDt = response.pwdChangeDt
        let accessToken = response.accessToken

        if(pwdChangeDt !== undefined && pwdChangeDt !== null) {
          if( (date - date2) / currDay > 90) {
              this.$store.dispatch('SetTokenNull')
              this.dialogPassword = true
              this.change = '1'
              this.loading = false
          }
          else {
            this.change = '0'
            this.loading = false
            const welcomeModalName = getWelcomeModal()
            this.tempToken = accessToken
            if (welcomeModalName === 'modalA') {
              this.dialogAgree = true
            } else if (welcomeModalName === 'modalB') {
              this.dialogPassword = true
            } else {
              window.sessionStorage.setItem( 'timer', '1800')
              this.$router.push({ path: this.redirect || '/' })
            }
          }
        }
        else {  // PWD_CHANGE_DT NULL이면 로그인 처리
          this.change = '0'
          this.loading = false
          const welcomeModalName = getWelcomeModal()
          this.tempToken = accessToken
          if (welcomeModalName === 'modalA') {
            this.dialogAgree = true
          } else if (welcomeModalName === 'modalB') {
            this.dialogPassword = true
          } else {
            window.sessionStorage.setItem( 'timer', '1800')
            this.$router.push({ path: this.redirect || '/' })
          }
        }
      })
    },
    handleLogin() {
      console.log('handleLogin')
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          //this.loading = true
          this.loginForm.username = this.loginForm.hfnId

          this.$store.dispatch('Login', this.loginForm).then(response => {
            var pwdCheckFlag = false
            this.tempToken = response.accessToken
            this.afterLogin()

          }).catch((error) => {
            if (error.indexOf('3개월') >= 0) {
              this.dialogPassword = true
              this.change = '1'
            }
            this.loading = false
          })
        } else {
          return false
        }
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
/* reset element-ui css */
.login-container {
  .login-form {
    .el-input {
      height: 47px;
      width: 85%;
      input {
        background: transparent;
        border: 0px;
        -webkit-appearance: none;
        border-radius: 0px;
        padding: 12px 35px 12px 23px;
        height: 47px;
      }
    }
    .el-form-item {
      border: 1px solid #ccc;
      border-radius: 4px;
      color: #606266;
      &.login_btn {
        border: none;
        .el-button {
          width: 100%;
          height: 40px;
          font-weight: bold;
          margin-top: 10px;
        }
      }
    }
  }
}

</style>

<style rel="stylesheet/scss" lang="scss" scoped>
.login-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #fff;
  .login-form {
    position: absolute;
    left: 0;
    right: 0;
    width: 520px;
    max-width: 100%;
    padding: 35px 35px 15px 35px;
    margin: 120px auto;
    
    .content {
        padding-top: 3px;
        color:brown;
    }
  }
  .svg-container {
    padding: 6px 5px 6px 15px;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
    &_login {
      font-size: 20px;
    }
  }
  .title {
    font-size: 26px;
    font-weight: 400;
    margin: 0px auto 40px auto;
    text-align: center;
    font-weight: bold;
  }
  .title-container {
    position: relative;
    .title {
      font-size: 26px;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }
  }
  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
  }
 
}



</style>
