<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.docCreate') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button type="primary" @click="handleConfirm">{{ $t('btn.add') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="app_detail app-container">
      <el-row width="100%" >
        <el-card shadow="hover">
          <el-form :model="docDetail" label-position="left" label-width="130px" style="width: 100%;">
            <el-row>
              <el-col >
                <el-form-item :label="$t('doc.docType')" prop="termsCd">
                  <el-select
                    v-model="docDetail.docCd"
                    :placeholder="$t('doc.docType')"
                    prop="codeList"
                    class="filter-item"
                    style="width: 200px"
                    clearable>
                    <el-option v-for="item in codeList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('doc.docName')" prop="docNm">
                  <div class="el-input el-input--medium">
                    <input v-model="docDetail.docNm" type="text" autocomplete="off" maxlength="200" class="el-input__inner">
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
           <el-row>
              <el-col>
                <el-form-item :label="$t('banner.upload')">
                  <el-upload v-if="!isUploaded" drag action="#" :on-change="handleChange" :auto-upload="false" :limit="1">
                    <i class="el-icon-upload"/>
                    <div class="el-upload__text">마우스로 파일을 끌어오거나 <em>클릭하세요</em></div>
                  </el-upload>
                  <el-tag v-if="isUploaded" closable type="info" size="default" @close="handleClose">{{ docDetail.docFileNm }}</el-tag>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-card>
      </el-row>
    </div>
  </div>
</template>

<script>
import { selectCommCodeList, reqPost } from '@/api/common'
import { mapGetters } from 'vuex'
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { scrollTo } from '@/utils/scrollTo'

export default {
  name: 'TermsCreate',
  directives: { waves },
  components: { Sticky },
  filters: {
    termsCdFilter(code) {
      const value = this.codeList.reduce((acc, cur) => {
        acc[cur.key] = cur.cdNm
        return acc
      }, {})
      return value[code]
    }
  },data() {
    return {
      docDetail: {
        seqNo: '',
        docCd: '',
        docNm: '',
        docStat: '',
        docPath: '',
        regId: '',
        regDttm: '',
        modId: '',
        modDttm: '',
        docFileNm: '',
        file: ''
      },
      searchCode: {
        commCdId: '1000',
        cdId: '',
        cdNm: '',
        cdEng: '',
        cdUseYn: ''
      },
      codeList: [],
      isUploaded: false
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ])
  },
  created() {
    this.getCodeList()
  },
  methods: {
    getCodeList() {
      selectCommCodeList(this.searchCode).then(response => {
				this.codeList = response.codeList
      })
    },
    handleCancel() {
      this.$router.push({ path: '/doc' })
    },
    handleConfirm() {
      let docCd = this.docDetail.docCd
      let docNm = this.docDetail.docNm

      if(docCd == null || docCd == ""){
        this.$message.error('문서구분을 입력해주세요.')
        return false;
      }

      if(docNm == null || docNm == ""){
        this.$message.error('문서명을 입력해주세요.')
        return false;
      }

      let formData = new FormData()
          formData.append('docCd', docCd)
          formData.append('docNm', docNm)
          formData.append('FileNm', this.docDetail.docFileNm)
          formData.append('file', this.docDetail.file)

      reqPost('/doc/insertDoc', formData, 'multipart/form-data').then(response => {
        this.$router.push({ path: '/doc' })
      }).catch(() => {
      })
    },
    resetCheckData() {
      this.paramValueCheck = false
      this.responseValueCheck = false
    },
    handleChange(file) {
      const fileUrl = file.url
      this.docDetail.docFileNm = file.name
      this.docDetail.file = file.raw
      this.isUploaded = true
    },
    handleClose() {
      this.isUploaded = false
    }
  }
}
</script>