<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.hfnUserCreate') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button v-waves :loading="confirmLoading" type="primary" @click="handleRegisterHfnUserConfirm">{{ $t('btn.add') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="app-container">
      <el-card shadow="hover" class="fit_normal_card">
        <div slot="header">
          <strong>{{ $t('title.hfnUserInfo') }} </strong>
        </div>
        <el-form ref="ruleForm" :rules="rules" :model="createList" label-position="left" label-width="130px">
          <el-form-item :label="$t('user.hfnCdAndId')" prop="hfnCdAndId">
            <el-row type="flex">
             <el-form-item prop="hfnCd">
                <el-select v-model="createList.hfnCd" :disabled="!adminOrNot">
                  <el-option v-for="item in prdCodeList" v-if="item.commCdId === '1100'" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                </el-select>
              </el-form-item>
              <el-form-item prop="hfnId">
                <el-row type="flex" justify="space-between">
                  <div class="el-input el-input--medium" style="margin-left: 3px; width: 230px;">
                    <input v-model="createList.hfnId" @keydown.native="handleInputNumber" @input="handleInput" @change="checkHfnId = false" type="text" autocomplete="off" maxlength="10" class="el-input__inner">
                  </div>
                  <el-button :disabled="createList.hfnId.length<1" style="position: absolute; right: -95px; width: 90px;" type="success" @click="handleCheckHfnId">{{ $t('btn.checkRepetition') }}</el-button>
                </el-row>
              </el-form-item>
            </el-row>
          </el-form-item>
          <el-form-item :label="$t('user.name')" prop="userNm">
            <div class="el-input el-input--medium">
              <input v-model="createList.userNm" type="text" autocomplete="off" maxlength="10" class="el-input__inner">
            </div>
          </el-form-item>
          <el-form-item :label="$t('user.temporary') + $t('user.password')" prop="userPwd">
            <el-input v-model="createList.userPwd" :placeholder="$t('login.placeholderPassword')" minlength="8" type="password"/>
          </el-form-item>
          <el-form-item :label="$t('user.passwordCheck')" prop="passwordCheck">
            <el-input v-model="createList.passwordCheck" :placeholder="$t('login.placeholderPasswordCheck')" minlength="8" type="password"/>
          </el-form-item>
          <el-form-item :label="$t('user.type')" prop="roleCd">
            <el-radio-group v-model="createList.roleCd" size="small">
              <el-radio-button v-for="item in roleOptions" :label="item.value" :key="item.value">{{ item.label }}</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item v-if="officeSelect" :label="$t('user.office')" prop="userKey">
            <el-select v-model="createList.userKey" style="width: 200px;">
              <el-option v-for="item in officeOptions" :key="item.userKey" :label="item.useorgNm" :value="item.userKey"/>
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('user.jobNm')" prop="jobNm">
            <div class="el-input el-input--medium">
              <input v-model="createList.jobNm" type="text" autocomplete="off" maxlength="10" class="el-input__inner">
            </div>
          </el-form-item>
          <el-form-item :label="$t('user.deptNm')" prop="deptNm">
            <div class="el-input el-input--medium">
              <input v-model="createList.deptNm" type="text" autocomplete="off" maxlength="30" class="el-input__inner">
            </div>
          </el-form-item>
          <el-form-item :label="$t('user.contact')" prop="userTel">
            <el-input v-model="createList.userTel" type="tel" maxlength="15" @keydown.native="handleInputTelNumber"/>
          </el-form-item>
          <el-form-item :label="$t('user.email')" prop="userEmail">
            <el-input v-model="createList.userEmail" type="eamil"  maxlength="200"/>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { scrollTo } from '@/utils/scrollTo'
import { mapGetters } from 'vuex'
import { checkHfnId, addHfnUser } from '@/api/setting'
import { selectCommCodeList } from '@/api/product'

export default {
  name: 'createAccount',
  directives: { waves },
  components: { Sticky },
  data() {
    return {
      prdCodeList: [],
      confirmLoading: false,
      checkHfnId: false,
      officeOptions: [],
      officeSelect: false,
      portalManagerSelect: false,
      roleOptions: [
        { label: '포털관리자', value: 'ROLE_SYS_ADMIN' },
        { label: 'API운영자', value: 'ROLE_HFN_ADMIN' },
        { label: '개발담당자', value: 'ROLE_ORG_ADMIN' },
        { label: '영업담당자', value: 'ROLE_HFN_SALES' }
      ],
      ruleForm: {
        hfnCdAndId: '',
        hfnCd: '',
        hfnId: '',
        roleCd: '',
        useorgNm: '',
        userPwd: '',
        passwordCheck: ''
      },
      createList: {
        hfnCd: '',
        hfnId: '',
        userNm: '',
        userId: '',
        userPwd: '',
        deptNm: '',
        jobNm: '',
        passwordCheck: '',
        roleCd: null,
        userTel: '',
        userEmail: '',
        userKey: ''
      },
      rules: {
        userNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        jobNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        deptNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        hfnCdAndId: [{ required: false, message: this.$t('message.valid_required'), trigger: 'blur' }],
        hfnId: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
          { pattern: /^(?!(?:[0-9]+)$)([a-z]|[0-9a-z]){4,}$/, message: this.$t('login.placeholderHfnId'), trigger: 'blur' }
        ],
        roleCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'change' }],
        hfnCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        userPwd: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
          { pattern: /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,}$/, message: this.$t('login.placeholderPassword'), trigger: 'blur' }
        ],
        passwordCheck: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        userTel: [
          { required: false, message: this.$t('message.valid_required'), trigger: 'blur' },
          { min: 10, max: 15, message: this.$t('login.userTelRule'), trigger: 'blur' }
        ],
        userEmail: [
          { pattern: /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/, message: this.$t('message.warning_check_email_regex'), trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'roles',
      'hfnCd'
    ]),
    adminOrNot: function() {
      return this.roles.indexOf('ROLE_SYS_ADMIN') !== -1
    }
  },
  created() {
    scrollTo(0, 800)
    this.getCommCodeList()
  },
  methods: {
    handleInput(value) {
      //this.createList.hfnId = this.createList.hfnId.toUpperCase()
    },
    getCommCodeList() {
      selectCommCodeList().then(response => {
        this.prdCodeList = response.codeList
        this.createList.hfnCd = this.hfnCd
      })
    },
    handleInputNumber(event) {
      if (!(event.keyCode === 8 || event.keyCode === 46 || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || (event.keyCode >= 65 && event.keyCode <= 90))) {
        event.preventDefault()
      }
    },
    handleInputTelNumber(event) {
      if (!(event.keyCode === 8 || event.keyCode === 46 || event.keyCode === 189 || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105))) {
        event.preventDefault()
      }
    },
    handleCheckHfnId() {
      checkHfnId(this.createList).then(response => {
        if (response.hfnIdDupYn === 'N') {
          this.$message({
            message: i18n.t('message.success_check'),
            type: 'success'
          })
          this.checkHfnId = true
        } else {
          this.$message.error(i18n.t('message.error_check_hfnId'))
        }
      })
    },
    handleCancel() {
      this.$router.push({ path: '/accounts' })
    },
    handleRegisterHfnUserConfirm() {
      this.hfnCdAndId = 'true'
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          if (this.checkHfnId === false) {
            this.$message.warning(i18n.t('message.warning_check_hfnId'))
          } else if (this.createList.userPwd !== this.createList.passwordCheck) {
            this.$message.error(i18n.t('message.error_check_password'))
          } else {
            this.confirmLoading = true
            this.$confirm(this.$t('message.createConfirm'), {
              confirmButtonText: this.$t('btn.confirm'),
              cancelButtonText: this.$t('btn.cancel'),
              type: 'warning'
            }).then(() => {
              console.log(this.createList)
              addHfnUser(this.createList).then(response => {
                this.confirmLoading = false
                this.$message.success(this.$t('message.success'))
                this.$router.push({ path: '/accounts' })
              }).catch(() => {
                this.confirmLoading = false
              })
            }).catch(() => {
              this.confirmLoading = false
            })
          }
        }
      })
    }
  }
}
</script>