<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.hfnUserInfo') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <template v-if="info.userStatCd!='N'">
            <el-button type="warning" @click="handleModifyStatus">{{ $t('security.close') }}</el-button>
          </template>
          <template v-else>
            <el-button type="warning" @click="handleModifyStatus">{{ $t('security.ok') }}</el-button>          
          </template>
          <el-button type="success" @click="handleReleaseDialog" :disabled="releaseYn?'':null">{{ $t('btn.release') }}</el-button>
          <el-button type="primary" @click="handleEditDialog">{{ $t('btn.edit') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="app-container">
      <el-card shadow="hover" class="fit_normal_card">
        <el-form v-loading="listLoading" ref="ruleForm" :rules="rules" :model="info" label-position="left" label-width="130px">
          <el-form-item :label="$t('user.hfnCdAndId')" prop="hfnCdAndId">
            <el-row type="flex">
              <el-form-item prop="hfnCd">
                <el-select v-model="info.hfnCd" :disabled="true">
                  <el-option v-for="item in prdCodeList" v-if="item.commCdId === '1100'" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                </el-select>
              </el-form-item>
              <el-form-item prop="hfnId">
                <el-row type="flex" justify="space-between">
                  <el-input v-model="info.hfnId" type="text" placeholder="통합사번" maxlength="10" disabled @keydown.native="handleInputNumber" @change="checkHfnId=false" style="margin-left:3px;width:230px;"/>
                </el-row>
              </el-form-item>
            </el-row>
          </el-form-item>
          <el-form-item :label="$t('user.name')" prop="userNm">
            <el-input v-model="info.userNm" maxlength="10" disabled/>
          </el-form-item>
          <el-form-item :label="$t('user.type')" prop="roleCd">
            <el-radio-group v-model="info.roleCd" size="small">
              <el-radio-button v-for="item in roleOptions" :label="item.value" :key="item.value" disabled>{{ item.label }}</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item :label="$t('user.status')">
            <el-select v-model="info.userStatCd" disabled>
              <el-option v-for="item in statusOptions" :key="item.key" :label="item.statusName" :value="item.key"/>
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('user.deptNm')" prop="deptNm">
            <el-input v-model="info.deptNm" maxlength="30" disabled/>
          </el-form-item>
          <el-form-item :label="$t('user.jobNm')" prop="jobNm">
            <el-input v-model="info.jobNm" maxlength="10" disabled/>
          </el-form-item>
          <el-form-item :label="$t('user.contact')" prop="userTel">
            <el-input v-model="info.userTel" type="tel" minlength="9" maxlength="11" @keydown.native="handleInputTelNumber" :disabled="releaseYn?null:''"/>
          </el-form-item>
          <el-form-item :label="$t('user.email')" prop="userEmail">
            <el-input v-model="info.userEmail" type="eamil"  maxlength="200" :disabled="releaseYn?null:''" />
          </el-form-item>
          <el-form-item :label="$t('user.temporaryPassword')">
            <div style="min-width: 120px">
              <el-button v-loading="tempBtnLoading" type="warning" size="mini" @click="handleTemporaryPassword">{{ $t('btn.temporaryPassword') }}</el-button>
            </div>
          </el-form-item>
        </el-form>
      </el-card>
      <el-dialog :visible.sync="dialogPassword" :title="$t('btn.release')" width="30%" center>
        <el-form label-width="100px" label-position="left">
          <el-form-item :label="$t('login.password')">
            <el-input v-model="userPassword" maxlength="1000" type="password"/>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click="handleReleaseConfirm">{{ $t('btn.release') }}</el-button>
        </div>
      </el-dialog>
      <el-dialog :visible.sync="dialogEdit" :title="$t('btn.edit')" width="30%" center>
        <el-form label-width="100px" label-position="left">
          <el-form-item :label="$t('login.password')">
            <el-input v-model="userPassword" maxlength="1000" type="password"/>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click="handleEditPageMoveConfirm">{{ $t('btn.edit') }}</el-button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { scrollTo } from '@/utils/scrollTo'
import { mapGetters } from 'vuex'
import { maskingName, maskingTel } from '@/utils/masking'
import { checkPwd } from '@/api/login'
import { updateHfnUser, getTemporaryPassword, registerPrivacyReleaseLog, updAdminUserStatus } from '@/api/setting'
import { selectCommCodeList } from '@/api/product'
import { reqPost } from '@/api/common'

const statusOptions = [
  { key: 'Y', statusName: i18n.t('user.ok') },
  { key: 'N', statusName: i18n.t('user.close') }
]

export default {
  name: 'AccountDetail',
  directives: { waves },
  components: { Sticky },
  data() {
    return {
      sourceInformation: {
        userNm: '',
        userTel: ''
      },
      dialogPassword: false,
      dialogEdit: false,
      releaseYn: false,
      userPassword: '',
      roleOptions: [
        { label: '포털관리자', value: 'ROLE_SYS_ADMIN' },
        { label: 'API운영자', value: 'ROLE_HFN_ADMIN' },
        { label: '개발담당자', value: 'ROLE_ORG_ADMIN' },
        { label: '영업담당자', value: 'ROLE_HFN_SALES' }
      ],
      prdCodeList: [],
      confirmLoading: false,
      listLoading: false,
      tempBtnLoading: false,
      statusOptions,
      officeSelect: false,
      portalManagerSelect: false,
      userInfoCond: {
        userKey: '',
        userPwd: ''
      },
      info: {
        hfnCd: '',
        hfnId: '',
        userNm: '',
        roleCd: '',
        accessCd: '',
        jobNm: '',
        deptNm: '',
        userPwd: ''
      },
      ruleForm: {
        hfnCdAndId: '',
        hfnCd: '',
        hfnId: '',
        userNm: '',
        roleCd: '',
        accessCd: '',
        jobNm: '',
        deptNm: ''
      },
      rules: {
        hfnCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        jobNm: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' }
        ],
        deptNm: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' }
        ],
        userNm: [
          { required: true, message: this.$t('message.valid_required'), trigger: 'blur' }
        ],
        accessCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        roleCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        userTel: [
          { required: false, message: this.$t('message.valid_required'), trigger: 'blur' },
          { min: 10, max: 15, message: this.$t('login.userTelRule'), trigger: 'blur' }
        ],
        userEmail: [
          { pattern: /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/, message: this.$t('message.warning_check_email_regex'), trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'roles',
      'hfnCd'
    ])
  },
  created() {
    scrollTo(0, 800)
    this.getCommCodeList()
  },
  methods: {
    getCommCodeList() {
      selectCommCodeList().then(response => {
        this.prdCodeList = response.codeList
        this.getList()
      })
    },
    getList() {
      this.listLoading = true
      this.userInfoCond.userKey = this.$route.query.userKey
      reqPost('/api/hfnUserByIdMasking', this.userInfoCond).then(response => {
        this.info = response.hfnUserVO
        setTimeout(() => {
          this.listLoading = false
        }, 1000)
      })
    },
    handleEditPageMoveConfirm() {
      if (this.userPassword.length <= 0) {
        this.$message.warning('비밀번호를 입력해 주세요.')
      } else {
        this.info.userPwd = this.userPassword
        reqPost('/api/hfnUserUpdateNice', this.info).then((response) => {
          if (response.success === true){
            this.dialogPassword = false
            this.dialogEdit = false
            this.userPassword = ''
            this.getList()
          } 
        })
      }
    },
    handleReleaseConfirm() {
      if (this.userPassword.length <= 0) {
        this.$message.warning('비밀번호를 입력해 주세요.')
      } else {
        this.userInfoCond.userKey = this.$route.query.userKey
        this.userInfoCond.userPwd = this.userPassword
        reqPost('/api/hfnUserByIdUnMasking', this.userInfoCond).then(response => {
          if (response !== false){
            this.dialogPassword = false
            let data = {
              menuNm: '관리포털 계정 관리',
              userKey: this.$route.query.userKey
            }
            this.userInfoCond.userPwd = ''
            this.info = response.hfnUserVO
            this.releaseYn = true
            registerPrivacyReleaseLog(data)
          }
          else {
            this.$message.error(i18n.t('login.error_check_password'))
          }
        })
      }
    },
    handleEditDialog() {
      if(!this.releaseYn){
        this.$message.warning('해제 후 수정해 주세요.')
        return
      }
      this.$refs['ruleForm'].validate((valid) => {
        if(valid){
          this.releaseYn = false
          this.dialogPassword = false
          this.userPassword = ''
          this.dialogEdit = true
        }
      })
    },
    handleReleaseDialog() {
      this.dialogEdit = false
      this.userPassword = ''
      this.dialogPassword = true
    },
    handleInputNumber(event) {
      if (!(event.keyCode === 8 || event.keyCode === 46 || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105))) {
        event.preventDefault()
      }
    },
    handleInputTelNumber(event) {
      if (!(event.keyCode === 8 || event.keyCode === 46 || event.keyCode === 189 || (event.keyCode >= 35 && event.keyCode <= 40) || (event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105))) {
        event.preventDefault()
      }
    },
    handleTemporaryPassword() {
      this.$confirm(this.$t('message.tempPasswordConfirm'), {
        confirmButtonText: this.$t('btn.issue'),
        cancelButtonText: this.$t('btn.cancel'),
        type: 'warning'
      }).then(() => {
        this.tempBtnLoading = true
        var that = this
        getTemporaryPassword(this.$route.query.userKey).then(response => {
          this.tempBtnLoading = false
          that.$alert(that.$t('user.temporaryPassword') + ': ' + response.tepPwd, {
            callback: action => {}
          })
        }).catch(() => { this.tempBtnLoading = false })
      }).catch(() => {
        this.confirmLoading = false
      })
    },
    handleConfirm() {
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          this.confirmLoading = true
          this.$confirm(this.$t('message.editConfirm'), {
            confirmButtonText: this.$t('btn.confirm'),
            cancelButtonText: this.$t('btn.cancel'),
            type: 'warning'
          }).then(() => {
            updateHfnUser(this.info).then(response => {
              this.confirmLoading = false
              this.$message.success(this.$t('message.success'))
              this.$router.push({ path: '/accounts' })
            }).catch(() => {
              this.confirmLoading = false
            })
          }).catch(() => {
            this.confirmLoading = false
          })
        }
      })
    },
    handleModifyStatus() {
      updAdminUserStatus(this.info.userKey).then(response => {
        this.$message({
          message: this.$t('message.success'),
          type: 'success'
        })
        this.getList()
      })
    },
    handleCancel() {
      this.$router.push({ path: '/accounts' })
    }
  }
}
</script>
