<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-model="listQuery.searchHfnCd" prop="codeList" :placeholder="$t('paymentHistory.prdCtgy')" class="filter-item" style="width: 150px" clearable>
          <el-option v-for="item in codeList" v-if="item.commCdId === '1100'" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <div class="filter-item el-input el-input--medium" style="width: 200px;">
        <input v-model="listQuery.searchNm" type="text" autocomplete="off" :placeholder="$t('security.userId')" class="el-input__inner">
      </div>
      <el-select v-model="listQuery.searchRoleCd" :placeholder="$t('security.roleCd')" class="filter-item" style="width: 150px" clearable>
          <el-option v-for="item in roleOptions" :key="item.key" :label="item.statusName" :value="item.key"/>
      </el-select>
      <el-select v-model="listQuery.searchStatus" :placeholder="$t('security.status')" class="filter-item" style="width: 150px" clearable>
          <el-option v-for="item in statusOptions" :key="item.key" :label="item.statusName" :value="item.key"/>
      </el-select>
      <el-button v-waves style="margin-left: 0px;" size="small" class="filter-item" type="primary" icon="el-icon-search" @click="getList">{{ $t('btn.search') }}</el-button>
      <el-button v-waves class="filter-item" size="small" style="margin-left: 0px;" type="primary" icon="el-icon-edit" @click="handleCreate">{{ $t('btn.add') }}</el-button>
      <el-button v-waves style="margin-left: 0px;" size="small" class="filter-item" type="success" icon="el-icon-download" @click="excelDown">{{ $t('btn.excel') }}</el-button>
    </div>
    <el-table v-loading="listLoading" :data="list" border highlight-current-row>
      <el-table-column type="index" widht="30" align="center"></el-table-column>
      <el-table-column :label="$t('security.userId')" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.hfnId }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('security.userNm')" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.userNm }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('product.prdCtgy')" align="center" minWidth="100">
          <template slot-scope="scope">
            <span>{{ scope.row.hfnCd | svcNmFilter('', codeList) }}</span>
          </template>
        </el-table-column>
      <el-table-column :label="$t('security.roleCd')" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.roleCd | roleNmFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('security.ip')" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.ipAddr }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('security.dept')" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.deptNm }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('security.contact')" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.userTel }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('security.lockStatus')" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.loginLock | lockFilter}}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('security.lockType')" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.lockType }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('security.status')" align="center" width="130">
          <template slot-scope="scope" type="flex">
          <span>
            <el-tag style="width:49px;" :type="scope.row.userStatCd | statusFilter">{{ scope.row.userStatCd | statusTextFilter }}</el-tag>
          </span>
          <el-button type="danger" size="mini" @click="handleDetail(scope.row)">{{ $t('btn.detail') }}</el-button>
          </template>
      </el-table-column> 
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getList" />
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import axios from 'axios'
import { mapGetters } from 'vuex'
import { reqPost } from '@/api/common'
import { getToken } from '@/utils/auth'
import { selectCommCodeList } from '@/api/product'

const roleOptions = [
  { key: 'ROLE_SYS_ADMIN', statusName: i18n.t('security.sysRole'), tag: 'success' },
  { key: 'ROLE_HFN_ADMIN', statusName: i18n.t('security.apiRole'), tag: 'success' },
  { key: 'ROLE_ORG_ADMIN', statusName: i18n.t('security.devRole'), tag: 'danger' },
  { key: 'ROLE_HFN_SALES', statusName: i18n.t('security.salesRole'), tag: 'danger' }
]

const statusOptions = [
  { key: 'Y', statusName: i18n.t('security.normal'), tag: 'success' },
  { key: 'N', statusName: i18n.t('security.stop'), tag: 'warning' }
]

export default {
  name: 'Account',
  directives: { waves },
  filters: {
    statusFilter(status) {
      const tagValue = statusOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.tag
        return acc
      }, {})
      return tagValue[status]
    },
    statusTextFilter(status) {
      const nameValue = statusOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.statusName
        return acc
      }, {})
      return nameValue[status]
    },
    lockFilter(status) {
      const nameValue = {
        'Y': i18n.t('security.lockY'),
        'N': i18n.t('security.lockN')
      }
      return nameValue[status]
    }
  },
  components: { Pagination },
  computed: {
    ...mapGetters([
      'roles',
      'hfnCd'
    ])
  },
  data() {
    return {
      listQuery: {
        pageIdx: 1,
        pageSize: 20,
        searchHfnCd: '',
        searchNm: '',
        searchRoleCd: '',
        searchStatus: ''
      },
      listLoading: false,
      roleOptions,
      statusOptions,
      totCnt: 0,
      codeList: [],
      list: []
    }
  },
  created() {
    this.getCodeList()
  },
  methods: {
    getCodeList() {
      selectCommCodeList().then(response => {
        this.codeList = response.codeList
        this.listQuery.searchHfnCd = this.hfnCd
        this.getList()
      })
    },
    getList() {
      reqPost('/api/adminAccountList',this.listQuery).then(response => {
        this.list = response.list
        this.totCnt = response.totCnt
      })
    },
    handleCreate() {
      this.$router.push({ path: '/createAccount' })
    },
    handleDetail(row) {
      this.$router.push({ path: '/detailAccount?userKey=' + row.userKey })
    },
    excelDown() {
      let url = location.origin;
      axios({
        url: url + '/api/excelAccount',
        method: 'POST',
        headers: { 'Authorization': 'Bearer ' + getToken() },
        responseType: 'blob',
        params: {
          searchHfnCd: this.listQuery.searchHfnCd,
          searchNm: this.listQuery.searchNm,
          searchRoleCd: this.listQuery.searchRoleCd,
          searchStatus: this.listQuery.searchStatus
        }
      }).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        let fileName = response.headers['content-disposition']
        fileName = this.getFileNameByContentDisposition(fileName)
        link.href = url
        link.setAttribute('download', fileName)
        document.body.appendChild(link)
        link.click()
      })
    },
    getFileNameByContentDisposition(contentDisposition){
      let regex = /filename[^;=\n]*=(UTF-8(['"]*))?(.*)/;
      let matches = regex.exec(contentDisposition);
      let filename;

      if (matches != null && matches[3]) {
        filename = matches[3].replace(/['"]/g, '');
      }
      return decodeURI(filename);
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .between_form_item {
    .el-form-item {
      width: 50%;
    }
  }
</style>
