<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.appCreate') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button v-waves :loading="confirmLoading" type="primary" @click="handleConfirm">{{ $t('btn.add') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class=" app_detail app-container">
      <el-row class="left">
        <el-form ref="ruleForm" :rules="rules" :model="createInfo" label-position="left" label-width="130px">
          <el-card shadow="hover">
            <div slot="header" class="clearfix">
              <strong>{{ $t('app.basicInfo') }}</strong>
            </div>
            <el-form-item :label="$t('app.appNm')" prop="appNm">
              <div class="el-input el-input--medium">
                <input v-model="createInfo.appNm" type="text" autocomplete="off" maxlength="50" class="el-input__inner">
              </div>
            </el-form-item>
            <el-form-item :label="$t('app.appCtnt')" prop="appCtnt">
              <textarea v-model="createInfo.appCtnt" :class="'custom-textarea'" maxlength="2000" rows="4"/>
            </el-form-item>
            <el-form-item :label="$t('app.svcNm')" prop="appSvcNm">
              <div class="el-input el-input--medium">
                <input v-model="createInfo.appSvcNm" type="text" autocomplete="off" maxlength="50" class="el-input__inner">
              </div>
            </el-form-item>
            <el-form-item :label="$t('app.svcUrl')" prop="appSvcUrl">
              <div class="el-input el-input--medium">
                <input v-model="createInfo.appSvcUrl" type="text" autocomplete="off" maxlength="256" class="el-input__inner">
              </div>
            </el-form-item>
            <el-form-item :label="$t('app.master')" prop="userNm">
              <el-input v-model="ownerInfo" style="width: 300px;" readonly/>
              <el-button v-waves class="filter-item" size="medium" type="success" style="margin-left: 0px;" icon="el-icon-search" @click="handleOwnerSearch">{{ $t('btn.search') }}</el-button>
            </el-form-item>
          </el-card>
          <el-card shadow="hover" style="margin-top: 20px;">
            <div slot="header" class="clearfix">
              <strong>{{ $t('app.approveInfo') }}</strong>
            </div>
            <el-row type="flex" align="middle">
              <div class="el-form-item is-required el-form-item--medium">
                <label class="el-form-item__label" style="width: 130px;">{{ $t('app.cnlKey') }}</label>
              </div>
              <el-form-item :show-message="showTagMessage" :error="tagErrorMessage" label-width="0" prop="cnlKey">
                <el-tag v-for="(tag, index) in createInfo.cnlKeyList" :key="tag.cnlKey" :disable-transitions="false" type="warning" closable @close="addCnlKeyClose(index)">{{ tag.cnlKey }}</el-tag>
                <el-input v-show="inputVisible" ref="save" v-model="inputValue" class="input-new-tag" size="small" @keydown.native="handleNumber" @blur="handleCnlKeyConfirm"/>
                <el-button v-if="!inputVisible" class="button-new-tag" style="margin:7px;" size="small" type="warning" @click="showCnlKey">{{ $t('app.setIp') }}</el-button>
              </el-form-item>
            </el-row>
            <el-row>
              <el-form-item :label="$t('app.anyCnl')" prop="appAnyCnlYn">
                <el-checkbox v-model="createInfo.appAnyCnlYn" true-label="Y" false-label="N">{{ $t('app.cnl') }}</el-checkbox>&nbsp;&nbsp;&nbsp;{{$t('app.anyCnlCtnt')}}
              </el-form-item>
            </el-row>
            <el-row type="flex" align="middle">
              <div class="el-form-item el-form-item--medium">
                <label class="el-form-item__label" style="width: 130px;">{{ $t('app.blockKey') }}</label>
              </div>
              <el-form-item :show-message="showTagBlockMessage" :error="tagBlockErrorMessage" label-width="0" prop="cnlKey">
                <el-tag v-for="(tag, index) in createInfo.blockKeyList" :key="tag.cnlKey" :disable-transitions="false" type="warning" closable @close="addBlockKeyClose(index)">{{ tag.cnlKey }}</el-tag>
                <el-input v-show="inputBlockVisible" ref="saveBlock" v-model="inputBlockValue" class="input-new-tag" size="small" @keydown.native="handleNumber" @blur="handleBlockKeyConfirm"/>
                <el-button v-if="!inputBlockVisible" class="button-new-tag" style="margin:7px;" size="small" type="warning" @click="showBlockKey">{{ $t('app.setIp') }}</el-button>
              </el-form-item>
            </el-row>
            <el-row>
              <el-form-item :label="$t('app.memo')" prop="appMemo">
                <textarea v-model="createInfo.appMemo" maxlength="2000" :class="'custom-textarea'" style="width:400px;!important;" rows="2"/>
              </el-form-item>
            </el-row>
          </el-card>
          <el-card shadow="hover" style="margin-top: 20px;">
            <div slot="header" class="clearfix">
              <strong>{{ $t('app.copInfo') }}</strong>
            </div>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.copNm')" prop="copNm">
                  <div class="el-input el-input--medium">
                    <input v-model="createInfo.copNm" type="text" autocomplete="off" maxlength="50" class="el-input__inner">
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.copNo')" prop="copRegNo">
                  <el-input v-model="createInfo.copRegNo" maxlength="10" />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.ownNm')" prop="ownNm">
                  <div class="el-input el-input--medium">
                    <input v-model="createInfo.ownNm" type="text" autocomplete="off" maxlength="50" class="el-input__inner">
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :inline="true">
              <el-col>
                <el-form-item :label="$t('app.bizType')" prop="bizType">
                  <div class="el-input el-input--medium" style="width: 160px;">
                    <input v-model="createInfo.bizType" type="text" autocomplete="off" maxlength="20" class="el-input__inner">
                  </div>
                </el-form-item>
              </el-col>
              <el-col>
                <el-form-item :label="$t('app.bizCdtn')" prop="bizCdtn">
                  <div class="el-input el-input--medium" style="width: 160px;">
                    <input v-model="createInfo.bizCdtn" type="text" autocomplete="off" maxlength="20" class="el-input__inner">
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.copPostNo')" prop="copAddrNo">
                  <el-input v-model="createInfo.copAddrNo" maxlength="6" style="width: 160px;"/>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.copAddr1')" prop="copAddr1" >
                  <div class="el-input el-input--medium">
                    <input v-model="createInfo.copAddr1" type="text" autocomplete="off" maxlength="300" class="el-input__inner">
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.copAddr2')" prop="copAddr2">
                  <div class="el-input el-input--medium">
                    <input v-model="createInfo.copAddr2" type="text" autocomplete="off" maxlength="200" class="el-input__inner">
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
          </el-card>
          <el-card shadow="hover" style="margin-top: 20px;">
            <div slot="header" class="clearfix">
              <strong>{{ $t('app.dirInfo') }}</strong>
            </div>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.dirNm')" prop="dirNm">
                  <div class="el-input el-input--medium">
                    <input v-model="createInfo.dirNm" type="text" autocomplete="off" maxlength="50" class="el-input__inner">
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.dirTel2')">
                  <el-col :span="7">
                    <el-form-item prop="dirTelNo1">
                      <el-select
                        v-model="createInfo.dirTelNo1"
                        :placeholder="$t('app.dirTel1')"
                        class="filter-item"
                        clearable
                        @change="validateDropdown">
                        <el-option value="010" label="010"/>
                        <el-option value="02" label="02"/>
                        <el-option value="031" label="031"/>
                        <el-option value="032" label="032"/>
                        <el-option value="033" label="033"/>
                        <el-option value="041" label="041"/>
                        <el-option value="042" label="042"/>
                        <el-option value="043" label="043"/>
                        <el-option value="044" label="044"/>
                        <el-option value="051" label="051"/>
                        <el-option value="052" label="052"/>
                        <el-option value="053" label="053"/>
                        <el-option value="054" label="054"/>
                        <el-option value="055" label="055"/>
                        <el-option value="061" label="061"/>
                        <el-option value="062" label="062"/>
                        <el-option value="063" label="063"/>
                        <el-option value="064" label="064"/>
                      </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="17">
                    <el-form-item prop="dirTelNo2">
                      <el-input v-model="createInfo.dirTelNo2" maxlength="30" style="padding-left:3px;width: 275px"/>
                    </el-form-item>
                  </el-col>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.dirEmail')">
                  <div style="display:inline-flex;line-height:normal;width:430px;">
                    <el-input v-model="createInfo.dirEmail" style="width:auto;">
                      <template slot="append">@</template>
                    </el-input>
                    <el-input v-model="createInfo.dirDomain" style="width:auto;" :disabled="userEmailPostfixDisabled"/>
                    <el-select v-model="createInfo.emailSelect" slot="append" :placeholder="$t('app.dirDomain')" @change="handleEmailPostfixChange" style="width:auto;" clearable>
                      <el-option value="gmail.com" label="gmail.com"/>
                      <el-option value="naver.com" label="naver.com"/>
                      <el-option value="daum.net" label="daum.net"/>
                      <el-option value="직접입력" label="직접입력"/>
                    </el-select>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            
          </el-card>
        </el-form>
      </el-row>
      <el-card shadow="hover" class="right">
        <div slot="header" class="clearfix">
          <strong>{{ $t('product.productInfo') }}</strong>
        </div>
        <el-container>
          <el-header>
            <span>{{ $t('product.selPrdLabel') }} </span><span>({{ createInfo.prdList.length }}{{ $t('app.selectCount') }})</span>
          </el-header>
          <el-table :data="createInfo.prdList" :show-header="false" row-class-name="none_highlight">
            <el-table-column>
              <template slot-scope="scope">
                <el-card shadow="hover">
                  <el-row type="flex">
                    <el-col style="width: 85%">
                      <span>{{ scope.row.dispPrdNm }}</span>
                    </el-col>
                    <el-col style="width: 15%">
                      <el-button type="danger" size="mini" @click="removePrd(scope.$index, scope.row)">{{ $t('btn.delete') }}</el-button>
                    </el-col>
                  </el-row>
                </el-card>
              </template>
            </el-table-column>
          </el-table>
        </el-container>
        <el-container>
          <el-header style="font-size: 14px">
            <div class="filter-container">
              <el-select v-model="createInfo.hfnCd" :placeholder="$t('product.prdCtgy')" clearable style="width: 25%" class="filter-item" @change="handlePrdKindMain">
                <el-option v-for="item in ctgrList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
              </el-select>
              <el-select v-model="prdBA" :placeholder="$t('product.prdKind')" clearable style="width: 28%" class="filter-item" @change="handlePrdKind">
                <el-option v-for="item in prdBAList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
              </el-select>
              <div class="filter-item el-input el-input--medium" style="width: 25%; max-width: 250px; min-width: 120px;">
                <input v-model="searchQuery.searchNm" type="text" autocomplete="off" :placeholder="$t('product.prdNm')" @keyup.enter.native="handleFilter" class="el-input__inner">
              </div>
              <el-button v-waves class="filter-item" type="primary" style="margin-left: 10px;" icon="el-icon-search" @click="handleFilter">{{ $t('btn.search') }}</el-button>
            </div>
          </el-header>
          <el-table :data="prdList" :show-header="false" row-class-name="none_highlight">
            <el-table-column>
              <template slot-scope="scope">
                <el-card shadow="hover">
                  <el-row type="flex">
                    <el-col style="width: 85%">
                      <span>{{ scope.row.dispPrdNm }}</span>
                    </el-col>
                    <el-col style="width: 15%">
                      <el-button v-if="!scope.row.disabled" type="success" size="mini" @click="addPrd(scope.$index, scope.row)">{{ $t('app.add') }}</el-button>
                      <el-button v-if="scope.row.disabled" type="info" size="mini" disabled>{{ $t('app.selected') }}</el-button>
                    </el-col>
                  </el-row>
                </el-card>
              </template>
            </el-table-column>
          </el-table>
        </el-container>
      </el-card>
    </div>
    <el-dialog :visible.sync="dialogOwner" :title="$t('app.master')+' '+$t('btn.search')" center class="dialog_form">
      <el-form ref="ownerForm" :rules="rules" :model="ownerForm" label-position="left" label-width="130px">
        <el-form-item :label="$t('admin.userId')" prop="userId">
          <el-input v-model="ownerForm.userId" type="userId"/>
        </el-form-item>
        <el-form-item :label="$t('app.dirNm')" prop="userNm">
          <div class="el-input el-input--medium">
            <input v-model="ownerForm.userNm" type="userNm" autocomplete="off" class="el-input__inner">
          </div>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button :loading="confirmLoading" type="primary" @click="btnConfirm">{{ $t('btn.add') }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import Sticky from '@/components/Sticky'
  import { appRegister } from '@/api/app'
  import waves from '@/directive/waves'
  import { scrollTo } from '@/utils/scrollTo'
  import { mapGetters } from 'vuex'
  import { maskingId, maskingName } from '@/utils/masking'
  import { reqPost, selectCommCodeList } from '@/api/common'

  export default {
    name: 'AppCreate',
    directives: { waves },
    watch:{
      'createInfo.copRegNo' : function(val) {
        this.createInfo.copRegNo = val.replace(/[^0-9]/g, '')
      },
      'createInfo.hfnCd' : function(val) {
        if(val == '0100'){
          this.hfnValidYn = true
        }else{
          this.hfnValidYn = false
        }
      },
      'createInfo.prdKind' : function(val) {
        if(val == '10' || val == '11'){
          this.kindValidYn = true
        }else{
          this.kindValidYn = false
        }
      }
    },
    components: { Sticky },
    data() {
      return {
        dialogOwner: false,
        hfnValidYn : false,
        kindValidYn : false,
        showTagMessage: false,
        tagErrorMessage: '',
        showTagBlockMessage: false,
        tagBlockErrorMessage: '',
        list: null,
        inputValue: '',
        inputBlockValue: '',
        confirmLoading: false,
        inputVisible: false,
        inputBlockVisible: false,
        pickerOptions: {
          disabledDate(time) {
            return time.getTime() < Date.now() - 8.64e7
          },
          shortcuts: [
            {
              text: this.$t('app.month'),
              onClick(picker) {
                const end = new Date()
                const start = new Date()
                end.setTime(start.getTime() + 3600 * 1000 * 24 * 30)
                picker.$emit('pick', [start, end])
              }
            },
            {
              text: this.$t('app.year'),
              onClick(picker) {
                const end = new Date()
                const start = new Date()
                end.setTime(start.getTime() + 3600 * 1000 * 24 * 365)
                picker.$emit('pick', [start, end])
              }
            }]
        },
        ownerForm: {
          userId: '',
          userNm: ''
        },
        createInfo: {
          userKey: '',
          appNm: '',
          appCtnt: '',
          copRegNo: '',
          copNm: '',
          ownNm: '',
          bizType: '',
          bizCdtn: '',
          copAddrNo: '',
          copAddr1: '',
          copAddr2: '',
          dirNm: '',
          dirTelNo1: '',
          dirTelNo2: '',
          dirEmail: '',
          dirDomain: '',
          appSvcNm: '',
          appSvcUrl: '',
          prdKind: '',
          tempCnlKeyList: [],
          cnlKeyList: [],
          tempBlockKeyList: [],
          blockKeyList: [],
          prdList: [],
          hfnCd: '',
          appMemo: '',
          userId: '',
          userNm: '',
          appAnyCnlYn: 'N'
        },
        ruleForm: {
          appNm: '',
          //userNm: '',
          userKey: '',
          copRegNo: ''
        },
        validYn : false,
        searchQuery: {
          pageIdx: 1,
          pageSize: 20,
          searchApiStatCd: 'OK',
          searchCtgrCd: '',
          searchNm: '',
          searchUserKey: '',
          searchHfnCd: ''
        },
        ctgrList: [],
        subCtgrList: [],
        apiList: [],
        listData: [],
        appkey: '',
        secrchCtgr: {
          commCdId: '1100',
          cdId: '',
          cdNm: '',
          cdEng: '',
          cdUseYn: ''
        },
        secrchPrdBA: {
          commCdId: '1111',
          cdId: '',
          cdNm: '',
          cdEng: '',
          cdUseYn: '',
          uprCdId: ''
        },
        secrchPrdBAKind: {
          commCdId: '1112',
          cdId: '',
          cdNm: '',
          cdEng: '',
          cdUseYn: '',
          uprCdId: ''
        },
        searchCond: {
          searchPrd: '',
          ctgrCd: '',
          prdKind: '',
          prdUseList: []
        },
        prdList: [],
        userEmailPostfixDisabled: true,
        prdBAList: [],
        prdBAKindList: [],
        prdBA: '',
        prdBAKind: '',
        ownerInfo: ''
      }
    },
    computed: {
      ...mapGetters([
        'userKey',
        'hfnCd',
        'roles'
      ])
    },
    created() {
      scrollTo(0, 800)
      this.fetchApiCategoryList()
      this.fetchPrdKindList()
    },
    methods: {
      handleClickButton(){
        this.visible = !this.visible
      } ,
      handleOwnerSearch() {
        this.dialogOwner = true
        this.ownerForm.userNm = ''
        this.ownerForm.userId = ''
      },
      validateDropdown() {
        this.$forceUpdate()
        this.$refs.ruleForm.validateField('dirTelNo1')
      },
      fetchApiCategoryList() {
        selectCommCodeList(this.secrchCtgr).then(response => {
          this.ctgrList = response.codeList
        })
      },
      fetchPrdKindList() {
        selectCommCodeList(this.secrchPrdBA).then(response => {
          this.prdBAList = response.codeList
          this.createInfo.prdKind = ''
          this.$forceUpdate()
          this.fetchPrdBAKindList()
        })
      },
      fetchPrdBAKindList() {
        selectCommCodeList(this.secrchPrdBAKind).then(response => {
          this.prdBAKindList = response.codeList
        })
      },
      handleKindSelectChange(e) {
        this.createInfo.prdList = []
        this.prdList = []
      },
      handleEmailPostfixChange() {
        if (this.createInfo.emailSelect !== '직접입력') {
          this.createInfo.dirDomain = this.createInfo.emailSelect
          this.userEmailPostfixDisabled = true
        } else {
          this.userEmailPostfixDisabled = false
          this.createInfo.dirDomain = ''
        }
      },
      btnConfirm() {
        reqPost('/api/selectOwnerUser',this.ownerForm).then(response => {
          if(response.userKey != null && response.userKey != ""){
            this.createInfo.userKey = response.userKey
            this.createInfo.userNm = response.managerNm
            this.createInfo.userId = response.managerId
            this.dialogOwner = false
            this.ownerInfo = maskingName(response.managerNm) + '('+ maskingId(response.managerId) +')'
          }else{
            this.$alert(this.$t('message.appUserNotFound'),'소유자조회', 'error')
          }
        })
      },
      getPrdList(){
        if (this.createInfo.hfnCd === '') {
          this.$message.warning('카테고리를 선택하세요.')
          return
        } 

        if (this.createInfo.prdKind === '') {
          this.$message.warning('상품 종류를 선택하세요.')
          return
        } 

        this.searchCond.ctgrCd = this.createInfo.hfnCd
        this.searchCond.prdKind = this.createInfo.prdKind
        this.searchCond.prdUseList = []
        reqPost('/apis/selectProdList',this.searchCond).then(response => {
          for (let i = 0; i < response.prodList.length; i++) {
            response.prodList[i].disabled = false
          }

          for (let i = 0; i < this.createInfo.prdList.length; i++) { // 0,1
            for (let j = 0; j < response.prodList.length; j++) {
              if (this.createInfo.prdList[i].prdId === response.prodList[j].prdId) {
                response.prodList[j].disabled = true
              }
            }
          }
          for (let i = 0; i < this.createInfo.prdList.length; i++) {
            this.createInfo.prdList[i].disabled = false
          }

          this.prdList = response.prodList
        })
      },
      handleConfirm() {
        this.$refs['ruleForm'].validate((valid) => {
          if (valid) {
            if (this.createInfo.prdList.length === 0) {
              this.$message.warning(this.$t('message.prdReqAdd'))
              return false
            }

            if (this.createInfo.cnlKeyList.length === 0) {
              this.showTagMessage = true
              this.tagErrorMessage = this.$t('message.valid_required')
            }
            if (!this.showTagMessage) {
              this.confirmLoading = true
              this.$confirm(this.$t('message.createConfirm'), {
                confirmButtonText: this.$t('btn.confirm'),
                cancelButtonText: this.$t('btn.cancel'),
                type: 'warning'
              }).then(() => {
                 reqPost('/api/appRegAdmin',this.createInfo).then(response => {
                  this.confirmLoading = false
                  this.$message.success(this.$t('message.success'))
                  this.$router.push({ path: '/appManage' })
                }).catch(() => {
                  this.confirmLoading = false
                })
              }).catch(() => {
                this.confirmLoading = false
              })
            }
          } else {
            if (this.createInfo.cnlKeyList.length === 0) {
              this.showTagMessage = true
              this.tagErrorMessage = this.$t('message.valid_required')
            }
          }
        })
      },
      addCnlKeyClose(idx) {
        this.createInfo.cnlKeyList.splice(idx, 1)
      },
      showCnlKey() {
        this.inputVisible = true
        this.$nextTick(_ => {
          this.$refs.save.$refs.input.focus()
        })
      },
      handleNumber(event) {
        event = event || window.event
        var keyID = (event.which) ? event.which : event.keyCode
        if ((keyID >= 48 && keyID <= 57) || (keyID >= 96 && keyID <= 105) || keyID === 8 || keyID === 46 || keyID === 37 || keyID === 39 || keyID === 190 || keyID === 110) {
          return
        } else {
          event.preventDefault()
        }
      },
      handleCnlKeyConfirm() {
        const inputValue = this.inputValue
        if (inputValue) {
          if (!(/^(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)$/).test(inputValue)) {
            this.showTagMessage = true
            this.tagErrorMessage = this.$t('message.error_rule_ip')
          } else {
            this.createInfo.cnlKeyList.push({ cnlKey: inputValue })
            this.createInfo.cnlKeyList = this.createInfo.cnlKeyList.filter((li, idx, self) => self.map(itm => itm.cnlKey).indexOf(li.cnlKey) === idx)
            this.inputVisible = false
            this.inputValue = ''
            this.showTagMessage = false
          }
        } else {
          this.inputVisible = false
          this.inputValue = ''
          this.showTagMessage = false
        }
      },
      addBlockKeyClose(idx) {
        this.createInfo.blockKeyList.splice(idx, 1)
      },
      showBlockKey() {
        this.inputBlockVisible = true
        this.$nextTick(_ => {
          this.$refs.saveBlock.$refs.input.focus()
        })
      },
      handleBlockKeyConfirm() {
        const inputValue = this.inputBlockValue
        if (inputValue) {
          if (!(/^(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)$/).test(inputValue)) {
            this.showTagBlockMessage = true
            this.tagBlockErrorMessage = this.$t('message.error_rule_ip')
          } else {
            this.createInfo.blockKeyList.push({ cnlKey: inputValue })
            this.createInfo.blockKeyList = this.createInfo.blockKeyList.filter((li, idx, self) => self.map(itm => itm.cnlKey).indexOf(li.cnlKey) === idx)
            this.inputBlockVisible = false
            this.inputBlockValue = ''
            this.showTagBlockMessage = false
          }
        } else {
          this.inputBlockVisible = false
          this.inputBlockValue = ''
          this.showTagBlockMessage = false
        }
      },
      handleCancel() {
        this.$router.push({ path: '/appManage' })
      },
      handleFilter() {
        this.getPrdList()
      },
      addPrd(index, row) {
        row.disabled = true
        this.createInfo.prdList.push(row)
      },
      removePrd(index, row) {
        for (let i = 0; i < this.prdList.length; i++) {
          if (row.prdId === this.prdList[i].prdId) {
            this.prdList[i].disabled = false
          }
        }
        this.createInfo.prdList.splice(index, 1)
      },
      handlePrdKindMain(e) {
        let vsCtgyCd = this.createInfo.hfnCd
        let prdBA =this.prdBA

        this.createInfo.prdList = []

        if(vsCtgyCd != null && vsCtgyCd != '' && prdBA != null && prdBA != ''){
          let result = this.prdBAKindList.filter(obj => obj.cdId == this.createInfo.hfnCd+this.prdBA)

          if(result != null && result.length > 0){
            this.createInfo.prdKind = result[0].uprCdId
          }else{
            this.createInfo.prdKind = ""
            this.prdBA = ""
          }
        }else{
          this.createInfo.prdKind = ""
          this.prdBA = ""
        }
      },
      handlePrdKind(e) {
        let vsCtgyCd = this.createInfo.hfnCd
        let prdBA =this.prdBA

        this.createInfo.prdList = []

        if(vsCtgyCd != null && vsCtgyCd != '' && prdBA != null && prdBA != ''){
          let result = this.prdBAKindList.filter(obj => obj.cdId == this.createInfo.hfnCd+this.prdBA)
          
          if(result != null && result.length > 0){
            this.createInfo.prdKind = result[0].uprCdId
          }else{
            this.createInfo.prdKind = ""
          }
        }else{
          this.createInfo.prdKind = ""
        }

        this.getPrdList()
      }
    },
    computed: {
      rules() {
        return {
          copNm: [{ required: this.hfnValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          copRegNo: [{ required: this.hfnValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }, { min: 10, message: this.$t('message.copRegMin10'), trigger: 'blur'}],
          dirEmail: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }, 
                     { pattern: /^([a-z0-9_\.-]+)$/, message: this.$t('message.warning_check_email_regex'), trigger: 'blur' }],
          dirDomain: [{ required: !this.userEmailPostfixDisabled && this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' },
                  { pattern: /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,6}$/, message: this.$t('message.warning_check_email_regex'), trigger: 'blur' }],
          bizType: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          bizCdtn: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          copAddrNo: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          copAddr1: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          copAddr2: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          dirNm: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          dirTelNo1: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          dirTelNo2: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          appSvcNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
          appSvcUrl: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
          ownNm: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          userKey: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
          appNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
          userNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }]
        }
      }
    },
  }
</script>

<style rel="stylesheet/scss" lang="scss">
  .app_detail {
    display: flex;
    .left, .right {
      width: 700px;
    }
    .right {
      margin-left: 20px;
      .el-table {
        overflow: auto;
        .el-table__empty-block {
          border: none;
        }
        .cell { padding: 0 5px; }
      }
      .el-table--medium th, .el-table--medium td {
        padding: 5px 0;
      }
      .el-card {
        .el-card__header {
          padding: 8px 10px 5px;
          p {
            margin-right: 10px;
            font-weight: bold;
            font-size: 16px;
          }
          .el-tag {
            margin-right: 5px;
          }
          span {
            margin-left: 5px;
          }
        }
        .el-card__body {
          padding: 5px 10px;
        }
      }
      .el-card__body {
        padding-bottom: 5px;
      }
    }
    .input-new-tag {
      width: 190px;
      vertical-align: bottom;
    }
    .el-header {
      background-color: #f7f7f7;
      font-size: 14px;
      line-height: 60px;
    }
    .el-container {
      height: 300px;
      padding-bottom: 10px;
    }
    .el-menu { border-right: 0; }
    .el-table td, .el-table th.is-leaf { border-bottom: 0; }
    .el-table::before { height: 0; }
    .el-table .none_highlight:hover td { background: transparent !important; }
  }
  @media screen and (max-width: 1430px){
    .app_detail {
      flex-direction: column;
      .right {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
</style>
