<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.appEdit') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button v-waves type="primary" style="margin-left: 10px;" @click="handleOwnerSearch">{{ $t('app.master')+' '+$t('api.modify') }}</el-button>
          <el-button v-waves :loading="confirmLoading" type="primary" @click="handleConfirm">{{ $t('btn.edit') }}</el-button>
          <el-button v-waves v-if="appInfo.appStatCd =='CLOSE'" :loading="confirmLoading" plain type="success" @click="handleStatus">{{ $t('app.status') + $t('app.action.ok') }}</el-button>
          <el-button v-waves v-if="appInfo.appStatCd =='OK'" :loading="confirmLoading" plain type="danger" @click="handleStatus">{{ $t('app.status') + $t('app.action.close') }}</el-button>
          <el-button :loading="confirmLoading" :disabled="appInfo.appStatCd == 'OK'" type="danger" @click="handleDelete">{{ $t('btn.delete') }}</el-button>
          <el-button v-waves v-if="isAdmin && appInfo.useDefresYn == 'Y' && appInfo.appStatCd == 'OK'" :loading="confirmLoading" type="warning" @click="handleUseDefres">{{ $t('app.useDefresN') }}</el-button>
          <el-button v-waves v-if="isAdmin && appInfo.useDefresYn == 'N' && appInfo.appStatCd == 'OK'" :loading="confirmLoading" type="success" @click="handleUseDefres">{{ $t('app.useDefresY') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="app_detail app-container">
      <el-row class="left">
        <el-form ref="appInfo" :rules="rules" :model="appInfo" label-position="left" label-width="130px">
          <el-card shadow="hover">
            <div slot="header" class="clearfix">
              <strong>{{ $t('app.basicInfo') }}</strong>
            </div>
            <el-form-item :label="$t('app.appNm')" prop="appNm">
              <div class="el-input el-input--medium">
                <input v-model="appInfo.appNm" type="text" autocomplete="off" maxlength="50" class="el-input__inner">
              </div>
            </el-form-item>
            <el-form-item :label="$t('app.appCtnt')" prop="appCtnt">
              <textarea v-model="appInfo.appCtnt" maxlength="2000" :class="'custom-textarea'" rows="4"/>
            </el-form-item>
            <el-form-item :label="$t('app.svcNm')" prop="appSvcNm">
              <el-input v-model="appInfo.appSvcNm" maxlength="50"/>
            </el-form-item>
            <el-form-item :label="$t('app.svcUrl')" prop="appSvcUrl">
              <el-input v-model="appInfo.appSvcUrl" maxlength="256"/>
            </el-form-item>
            <el-form-item :label="$t('app.master')" prop="managerNm">
              <p>{{ appInfo.managerId | maskingId }}( {{ appInfo.managerNm | maskingName }} )</p>
            </el-form-item>
            <el-form-item :label="$t('app.cryptoKey.keyCertSearch')">
              <el-button type="warning" size="small" @click="handleKeyDownload">{{ $t('app.cryptoKey.keySearch') }}</el-button>
            </el-form-item>
          </el-card>
          <el-card shadow="hover" style="margin-top: 20px;">
            <div slot="header" class="clearfix">
              <strong>{{ $t('app.approveInfo') }}</strong>
            </div>
            <el-row type="flex" align="middle">
              <div class="el-form-item is-required el-form-item--medium">
                <label class="el-form-item__label" style="width: 130px;">{{ $t('app.cnlKey') }}</label>
              </div>
              <el-form-item :show-message="showTagMessage" :error="tagErrorMessage" label-width="0" prop="cnlKey">
                <el-tag v-for="(tag, index) in appInfo.cnlKeyList" :key="tag.cnlKey" :disable-transitions="false" type="warning" closable @close="addCnlKeyClose(index)">{{ tag.cnlKey }}</el-tag>
                <el-input v-show="inputVisible" ref="save" v-model="inputValue" class="input-new-tag" size="small" @keydown.native="handleNumber" @blur="handleCnlKeyConfirm"/>
                <el-button v-if="!inputVisible" class="button-new-tag" size="small" type="warning" @click="showCnlKey">{{ $t('app.setIp') }}</el-button>
              </el-form-item>
            </el-row>
            <el-row>
              <el-form-item :label="$t('app.anyCnl')" prop="appAnyCnlYn">
                <el-checkbox v-model="appInfo.appAnyCnlYn" true-label="Y" false-label="N">{{ $t('app.cnl') }}</el-checkbox>&nbsp;&nbsp;&nbsp;{{$t('app.anyCnlCtnt')}}
              </el-form-item>
            </el-row>
            <el-row type="flex" align="middle">
              <div class="el-form-item el-form-item--medium">
                <label class="el-form-item__label" style="width: 130px;">{{ $t('app.blockKey') }}</label>
              </div>
              <el-form-item :show-message="showTagBlockMessage" :error="tagBlockErrorMessage" label-width="0" prop="cnlKey">
                <el-tag v-for="(tag, index) in appInfo.blockKeyList" :key="tag.cnlKey" :disable-transitions="false" type="warning" closable @close="addBlockKeyClose(index)">{{ tag.cnlKey }}</el-tag>
                <el-input v-show="inputBlockVisible" ref="saveBlock" v-model="inputBlockValue" class="input-new-tag" size="small" @keydown.native="handleNumber" @blur="handleBlockKeyConfirm"/>
                <el-button v-if="!inputBlockVisible" class="button-new-tag" size="small" type="warning" @click="showBlockKey">{{ $t('app.setIp') }}</el-button>
              </el-form-item>
            </el-row>
            <el-row>
              <el-form-item :label="$t('app.memo')" prop="appMemo">
                <textarea v-model="appInfo.appMemo" maxlength="2000" :class="'custom-textarea'" style="width:400px;!important;" rows="2"/>
              </el-form-item>
            </el-row>
          </el-card>
          <el-card shadow="hover" style="margin-top: 20px;">
            <div slot="header" class="clearfix">
              <strong>{{ $t('app.copInfo') }}</strong>
            </div>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.copNm')" prop="copNm">
                  <div class="el-input el-input--medium">
                    <input v-model="appInfo.copNm" type="text" autocomplete="off" maxlength="50" class="el-input__inner">
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.copNo')" prop="copRegNo">
                  <el-input v-model="appInfo.copRegNo" maxlength="10" disabled />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.ownNm')" prop="ownNm">
                  <div class="el-input el-input--medium">
                    <input v-model="appInfo.ownNm" type="text" autocomplete="off" maxlength="50" class="el-input__inner">
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.bizType')" prop="bizType">
                  <div class="el-input el-input--medium" style="width: 160px;">
                    <input v-model="appInfo.bizType" type="text" autocomplete="off" maxlength="20" class="el-input__inner">
                  </div>
                </el-form-item>
              </el-col>
              <el-col>
                <el-form-item :label="$t('app.bizCdtn')" prop="bizCdtn">
                  <div class="el-input el-input--medium" style="width: 160px;">
                    <input v-model="appInfo.bizCdtn" type="text" autocomplete="off" maxlength="20" class="el-input__inner">
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.copPostNo')" prop="copAddrNo">
                  <el-input v-model="appInfo.copAddrNo" maxlength="6" style="width: 160px;"/>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.copAddr1')" prop="copAddr1" >
                  <div class="el-input el-input--medium">
                    <input v-model="appInfo.copAddr1" type="text" autocomplete="off" maxlength="300" class="el-input__inner">
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.copAddr2')" prop="copAddr2">
                   <div class="el-input el-input--medium">
                    <input v-model="appInfo.copAddr2" type="text" autocomplete="off" maxlength="200" class="el-input__inner">
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
          </el-card>
          <el-card v-if="this.kindValidYn" shadow="hover" style="margin-top: 20px;" >
            <div slot="header" class="clearfix">
              <el-row type="flex">
                <el-col style="width: 85%">
                    <strong>{{ $t('app.dirInfo') }}</strong>
                </el-col>
                <el-col style="width: 15%">
                  <el-button type="warning" size="mini" @click="handleRelease" :disabled="releaseYn?'':null">{{ $t('btn.release') }}</el-button>
                </el-col>
              </el-row>
            </div>  
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.dirNm')" prop="dirNm">
                  <div class="el-input el-input--medium">
                    <input v-model="appInfo.dirNm" :disabled="releaseYn?null:''" type="text" autocomplete="off" maxlength="50" class="el-input__inner" 
                          :style="[!releaseYn ? {'width':'400px', 'background':'#f7f7f7', 'border-color':'#e5e5e5', 'color':'#C0C4CC'} : {'width':'400px'}]">
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.dirTel2')">
                  <el-col :span="7">
                    <el-form-item prop="dirTelNo1">
                      <el-select
                        v-model="appInfo.dirTelNo1"
                        :placeholder="$t('app.dirTel1')"
                        class="filter-item"
                        clearable
                        @change="validateDropdown" :disabled="releaseYn?null:''">
                        <el-option value="010" label="010"/>
                        <el-option value="02" label="02"/>
                        <el-option value="031" label="031"/>
                        <el-option value="032" label="032"/>
                        <el-option value="033" label="033"/>
                        <el-option value="041" label="041"/>
                        <el-option value="042" label="042"/>
                        <el-option value="043" label="043"/>
                        <el-option value="044" label="044"/>
                        <el-option value="051" label="051"/>
                        <el-option value="052" label="052"/>
                        <el-option value="053" label="053"/>
                        <el-option value="054" label="054"/>
                        <el-option value="055" label="055"/>
                        <el-option value="061" label="061"/>
                        <el-option value="062" label="062"/>
                        <el-option value="063" label="063"/>
                        <el-option value="064" label="064"/>
                      </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="17">
                    <el-form-item prop="dirTelNo2">
                      <el-input v-model="appInfo.dirTelNo2" maxlength="30" style="padding-left:3px;width: 250px" :disabled="releaseYn?null:''"/>
                    </el-form-item>
                  </el-col>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('app.dirEmail')">
                  <div style="display:inline-flex;line-height:normal;width:400px;">
                    <el-input v-model="appInfo.dirEmail" style="width:auto;" :disabled="releaseYn?null:''">
                      <template slot="append">@</template>
                    </el-input>
                    <el-input v-model="appInfo.dirDomain" style="width:auto;" :disabled="userEmailPostfixDisabled"/>
                    <el-select v-model="appInfo.emailSelect" slot="append" :placeholder="$t('app.dirDomain')" @change="handleEmailPostfixChange" style="width:auto;" clearable :disabled="releaseYn?null:''">
                      <el-option value="gmail.com" label="gmail.com"/>
                      <el-option value="naver.com" label="naver.com"/>
                      <el-option value="daum.net" label="daum.net"/>
                      <el-option value="직접입력" label="직접입력"/>
                    </el-select>
                  </div>
                </el-form-item>
              </el-col>
            </el-row>
          </el-card>
        </el-form>
      </el-row>
      <el-row  class="right">
        <el-card shadow="hover">
          <div slot="header" class="clearfix">
            <strong>{{ $t('product.productInfo') }}</strong>
          </div>
          <el-container>
            <el-header>
              <span>{{ $t('product.selPrdLabel') }} </span><span>({{ appInfo.prdList.length }}{{ $t('app.selectCount') }})</span>
            </el-header>
            <el-table :data="appInfo.prdList" :show-header="false" row-class-name="none_highlight">
              <el-table-column>
                <template slot-scope="scope">
                  <el-card shadow="hover">
                    <el-row type="flex">
                      <el-col style="width: 85%">
                        <span>{{ scope.row.dispPrdNm }}</span>
                      </el-col>
                      <el-col style="width: 15%">
                        <el-button type="danger" size="mini" @click="removePrd(scope.$index, scope.row)">{{ $t('btn.delete') }}</el-button>
                      </el-col>
                    </el-row>
                  </el-card>
                </template>
              </el-table-column>
            </el-table>
          </el-container>
          <el-container>
            <el-header style="font-size: 14px">
              <div class="filter-container">
                <el-select v-model="appInfo.hfnCd" :placeholder="$t('product.prdCtgy')" clearable disabled style="width: 25%" class="filter-item">
                  <el-option v-for="item in ctgrList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                </el-select>
                <el-select v-model="prdBA" :placeholder="$t('product.prdKind')" clearable style="width: 28%" class="filter-item" disabled>
                  <el-option v-for="item in prdBAList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                </el-select>
                <div class="filter-item el-input el-input--medium" style="width: 25%; max-width: 250px; min-width: 120px;">
                  <input v-model="searchQuery.searchNm" type="text" autocomplete="off" :placeholder="$t('product.prdNm')" @keyup.enter.native="handleFilter" class="el-input__inner">
                </div>
                <el-button v-waves class="filter-item" type="primary" style="margin-left: 10px;" icon="el-icon-search" @click="handleFilter">{{ $t('btn.search') }}</el-button>
              </div>
            </el-header>
            <el-table :data="prdList" :show-header="false" row-class-name="none_highlight">
              <el-table-column>
                <template slot-scope="scope">
                  <el-card shadow="hover">
                    <el-row type="flex">
                      <el-col style="width: 85%">
                        <span>{{ scope.row.dispPrdNm }}</span> 
                      </el-col>
                      <el-col style="width: 15%">
                        <el-button v-if="!scope.row.disabled" type="success" size="mini" @click="addPrd(scope.$index, scope.row)">{{ $t('app.add') }}</el-button>
                        <el-button v-if="scope.row.disabled" type="info" size="mini" disabled>{{ $t('app.selected') }}</el-button>
                      </el-col>
                    </el-row>
                  </el-card>
                </template>
              </el-table-column>
            </el-table>
          </el-container>
        </el-card>
        <el-card shadow="hover" style="margin-top:18px;">
          <div slot="header" class="clearfix">
            <strong>{{ $t('app.appReadUser') }}</strong>
          </div>
          <el-table :data="appInfo.appReadInfo" :show-header="true" row-class-name="none_highlight">
            <el-table-column :label="$t('user.id')" align="center" width="120">
              <template slot-scope="scope">
                <span>{{ scope.row.userId }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('user.name')" align="center" width="130">
              <template slot-scope="scope">
                <span>{{ scope.row.userNm }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('user.contact')" align="center" width="140">
              <template slot-scope="scope">
                <span>{{ scope.row.userTel }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('user.email')" align="center" width="250">
              <template slot-scope="scope">
                <span>{{ scope.row.userEmail }}</span>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
      </el-row>
    </div>
    <el-dialog :visible.sync="dialogOwner" :title="$t('app.master')+' '+$t('btn.search')" center class="dialog_form">
      <el-form ref="ownerForm" :rules="rules" :model="ownerForm" label-position="left" label-width="130px">
        <el-form-item :label="$t('admin.userId')" prop="userId">
          <el-input v-model="ownerForm.userId" type="userId"/>
        </el-form-item>
        <el-form-item :label="$t('app.dirNm')" prop="userNm">
          <div class="el-input el-input--medium">
            <input v-model="ownerForm.userNm" type="userNm" autocomplete="off" class="el-input__inner">
          </div>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button :loading="confirmLoading" type="primary" @click="btnConfirm">{{ $t('btn.add') }}</el-button>
      </span>
    </el-dialog>
    <el-dialog :visible.sync="pwdCheckNeed" :title="$t('app.dialog')" center class="dialog_form" @close="handleClose">
      <el-form label-position="left" label-width="130px">
        <el-form-item :label="$t('login.password')">
          <el-input v-model="userPwd" maxlength="20" type="password" rows="1" style="width:300px;"/>
          <el-button type="primary" @click="handleCheckPwdBtn">{{ $t('btn.confirm') }}</el-button>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer" v-if="this.appClientId!=''">
        <el-form label-position="left" label-width="130px" style="text-align:initial; border:1px solid #ccc; border-radius: 4px; background: #e5e9f2;">
          <el-form-item label="Client ID" style="margin-left:10px;">
          {{ this.appClientId }}
          </el-form-item>
          <el-form-item label="APP Secret Key" style="margin-left:10px;">
          {{ this.appScrKey }}
          </el-form-item>
        </el-form>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import i18n from '@/lang'
  import Sticky from '@/components/Sticky'
  import { fetchAppInfo, updateAppStat, appServiceExtend, reissue, keyDownload } from '@/api/app'
  import waves from '@/directive/waves'
  import { scrollTo } from '@/utils/scrollTo'
  import { appDelete } from '@/api/app'
  import { mapGetters } from 'vuex'
  import { checkPwd } from '@/api/login'
  import { maskingName, maskingId, maskingTel } from '@/utils/masking'
  import { isEmpty } from '@/utils/validate'
  import { fetchAppUseDefresYn, appUseDefresChange } from '@/api/app'
  import { reqPost, selectCommCodeList } from '@/api/common'

  export default {
    name: 'AppEdit',
    directives: { waves },
    watch:{
      'appInfo.copRegNo' : function(val) {
        if(!isEmpty(val)) this.appInfo.copRegNo = val.replace(/[^0-9]/g, '')
      },
      'appInfo.hfnCd' : function(val) {
        if(val == '0100'){
          this.hfnValidYn = true
        }else{
          this.hfnValidYn = false
        }
      },
      'appInfo.prdKind' : function(val) {
        if(val == '10' || val == '11'){
          this.kindValidYn = true 
        }else{
          this.kindValidYn = false
        }
      }
    },
    components: { Sticky },
    data() {
      return {
        releaseYn: false,
        pwdCheckNeed: false,
        userPwd: '',
        listLoading: false,
        showTagMessage: false,
        tagErrorMessage: '',
        showTagBlockMessage: false,
        tagBlockErrorMessage: '',
        confirm: 0,
        serviceExtend: false,
        inputValue: '',
        inputBlockValue: '',
        confirmLoading: false,
        inputVisible: false,
        inputBlockVisible: false,
        appInfo: {
          pubKey: '',
          appStatCd: '',
          userKey: '',
          appNm: '',
          appCtnt: '',
          copRegNo: '',
          copNm: '',
          ownNm: '',
          bizType: '',
          bizCdtn: '',
          copAddrNo: '',
          copAddr1: '',
          copAddr2: '',
          dirNm: '',
          dirTelNo1: '',
          dirTelNo2: '',
          dirEmail: '',
          dirDomain: '',
          appSvcNm: '',
          appSvcUrl: '',
          prdKind: '',
          tempCnlKeyList: [],
          cnlKeyList: [],
          tempBlockKeyList: [],
          blockKeyList: [],
          prdList: [],
          hfnCd: '',
          appMemo: '',
          userId: '',
          userNm: '',
          appAnyCnlYn: 'N'
        },
        searchQuery: {
          pageIdx: 1,
          pageSize: 20,
          searchApiStatCd: 'OK',
          searchCtgrCd: '',
          searchNm: '',
          searchUserKey: ''
        },
        ctgrList: [],
        listData: [],
        selApi: [],
        apiList: [],
        secrchCtgr: {
          commCdId: '1100',
          cdId: '',
          cdNm: '',
          cdEng: '',
          cdUseYn: ''
        },
        secrchPrdBA: {
          commCdId: '1111',
          cdId: '',
          cdNm: '',
          cdEng: '',
          cdUseYn: '',
          uprCdId: ''
        },
        secrchPrdBAKind: {
          commCdId: '1112',
          cdId: '',
          cdNm: '',
          cdEng: '',
          cdUseYn: '',
          uprCdId: ''
        },
        searchCond: {
          searchPrd: '',
          ctgrCd: '',
          prdKind: '',
          prdUseList: [],
        },
        searchScrCond: {
          password: '',
          appKey: ''
        },
        prdList: [],
        prdBAList: [],
        prdBAKindList: [],
        prdBA: '',
        prdBAKind: '',
        userEmailPostfixDisabled: true,
        appScrKey: '',
        appClientId: '',
        errorMsg: '',
        hfnValidYn: false,
        kindValidYn: false,
        dialogOwner: false,
        ownerForm: {
          userId: '',
          userNm: ''
        },
        tmp: {
          dirNm: '',
          dirTelNo2: '',
          dirEmail: ''
        }
      }
    },
    created() {
      scrollTo(0, 800)
      this.fetchApiCategoryList()
      this.fetchPrdKindList()
      this.getAppInfo()
    },
    mounted() {
      
    },
    methods: {
      handleClickButton(){
        this.visible = !this.visible
      } ,
      handleOwnerSearch() {
        this.dialogOwner = true
        this.ownerForm.userNm = ''
        this.ownerForm.userId = ''
      },
      validateDropdown() {
        this.$forceUpdate()
        //this.$refs.ruleForm.validateField('dirTelNo1')
      },
      fetchApiCategoryList() {
        selectCommCodeList(this.secrchCtgr).then(response => {
          this.ctgrList = response.codeList
        })
      },
      fetchPrdKindList() {
        selectCommCodeList(this.secrchPrdBA).then(response => {
          this.prdBAList = response.codeList
          this.appInfo.prdKind = ''
          this.$forceUpdate()
          this.fetchPrdBAKindList()
        })
      },
      fetchPrdBAKindList() {
        selectCommCodeList(this.secrchPrdBAKind).then(response => {
          this.prdBAKindList = response.codeList
          let result = this.prdBAKindList.filter(obj => obj.uprCdId == this.appInfo.prdKind)
          this.prdBA = result[0].cdDesc
        })
      },
      getAppInfo() {
        this.listLoading = true
        let searchData = {
          appKey: this.$route.query.appKey,
          page: 'edit'
        }
        reqPost('/api/appDetailModNiceAdmin',searchData).then(response => {
          this.appInfo = response
          this.appInfo.prdList = response.appPrdInfo
          this.tmp = JSON.parse(JSON.stringify(response))     
          this.getPrdList()
          this.listLoading = false

          // INPUT 마스킹 처리
          this.appInfo.dirNm = maskingName(this.appInfo.dirNm)
          this.appInfo.dirTelNo2 = maskingTel(this.appInfo.dirTelNo2)
          this.appInfo.dirEmail = maskingId(this.appInfo.dirEmail)

          // 대응답 사용여부 불러오기
          this.getAppDefresUseYn()
        })
      },
      addCnlKeyClose(idx) {
        this.appInfo.cnlKeyList.splice(idx, 1)
      },
      showCnlKey() {
        this.inputVisible = true
        this.$nextTick(_ => {
          this.$refs.save.$refs.input.focus()
        })
      },
      handleStatus() {
        this.confirmLoading = true
        updateAppStat(this.appInfo).then(response => {
          this.$message.success(this.$t('app.success_stat'))
          this.appInfo.appStatCd = response.appStatCd
          this.confirmLoading = false
          if (this.appInfo.appStatCd != 'OK') {
            this.handleUseDefres()
          }
        }).catch(() => { this.confirmLoading = false })
      },
      handleCancel() {
        this.$router.push({ path: '/appManage' })
      },
      handleDelete() {
        this.appInfo.appKey = this.$route.query.appKey
        this.appInfo.appStatCd = 'DEL'
        appDelete(this.appInfo).then(response => {
          this.$router.push({ path: '/appManage' })
        })
      },
      handleCnlKeyConfirm() {
        const inputValue = this.inputValue
        if (inputValue) {
          if (!(/^(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)$/).test(inputValue)) {
            this.showTagMessage = true
            this.tagErrorMessage = this.$t('message.error_rule_ip')
          } else {
            this.appInfo.cnlKeyList.push({ cnlKey: inputValue })
            this.appInfo.cnlKeyList = this.appInfo.cnlKeyList.filter((li, idx, self) => self.map(itm => itm.cnlKey).indexOf(li.cnlKey) === idx)
            this.inputVisible = false
            this.inputValue = ''
            this.showTagMessage = false
          }
        } else {
          this.inputVisible = false
          this.inputValue = ''
          this.showTagMessage = false
        }
      },
      addBlockKeyClose(idx) {
        this.appInfo.blockKeyList.splice(idx, 1)
      },
      showBlockKey() {
        this.inputBlockVisible = true
        this.$nextTick(_ => {
          this.$refs.saveBlock.$refs.input.focus()
        })
      },
      handleBlockKeyConfirm() {
        const inputValue = this.inputBlockValue
        if (inputValue) {
          if (!(/^(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)$/).test(inputValue)) {
            this.showTagBlockMessage = true
            this.tagBlockErrorMessage = this.$t('message.error_rule_ip')
          } else {
            this.appInfo.blockKeyList.push({ cnlKey: inputValue })
            this.appInfo.blockKeyList = this.appInfo.blockKeyList.filter((li, idx, self) => self.map(itm => itm.cnlKey).indexOf(li.cnlKey) === idx)
            this.inputBlockVisible = false
            this.inputBlockValue = ''
            this.showTagBlockMessage = false
          }
        } else {
          this.inputBlockVisible = false
          this.inputBlockValue = ''
          this.showTagBlockMessage = false
        }
      },
      handleConfirm() {
        if (this.appInfo.cnlKeyList.length === 0) {
          this.showTagMessage = true
          this.tagErrorMessage = this.$t('message.valid_required')
        } else {
          this.$refs['appInfo'].validate((valid) => {
            if (valid) {{
              this.confirmLoading = true
              this.appInfo.redisCnlList = this.appInfo.cnlKeyList

              this.$confirm(this.$t('message.editConfirm'), {
                confirmButtonText: this.$t('btn.confirm'),
                cancelButtonText: this.$t('btn.cancel'),
                type: 'warning'
              }).then(() => {
                if(!this.releaseYn) {
                  this.appInfo.dirNm = this.tmp.dirNm
                  this.appInfo.dirTelNo2 = this.tmp.dirTelNo2
                  this.appInfo.dirEmail = this.tmp.dirEmail
                }
                reqPost('/api/appUpdateAdmin',this.appInfo).then(response => {
                  this.confirmLoading = false
                  this.$message.success(this.$t('message.success'))
                  this.$router.push({ path: '/appManage' })
                }).catch(() => { this.confirmLoading = false })
              }).catch(() => { this.confirmLoading = false })
            }
            }
          })
        }
      },
      getPrdList(){
        if (this.appInfo.hfnCd === '') {
          this.$message.warning('카테고리를 선택하세요.')
          return
        } 

        if (this.appInfo.prdKind === '') {
          this.$message.warning('상품 종류를 선택하세요.')
          return
        } 
        
        this.searchCond.ctgrCd = this.appInfo.hfnCd
        this.searchCond.prdKind = this.appInfo.prdKind
        this.searchCond.prdUseList = []
        reqPost('/apis/selectProdList',this.searchCond).then(response => {
          for (let i = 0; i < response.prodList.length; i++) {
            response.prodList[i].disabled = false
          }
          for (let i = 0; i < this.appInfo.prdList.length; i++) {
            for (let j = 0; j < response.prodList.length; j++) {
              if (this.appInfo.prdList[i].prdId === response.prodList[j].prdId) {
                response.prodList[j].disabled = true
              }
            }
          }
          for (let i = 0; i < this.appInfo.prdList.length; i++) {
            this.appInfo.prdList[i].disabled = false
          }
          this.prdList = response.prodList
        })
      },
      handleFilter() {
        this.getPrdList()
      },
      addPrd(index, row) {
        row.disabled = true
        this.appInfo.prdList.push(row)
      },
      removePrd(index, row) {
        for (let i = 0; i < this.prdList.length; i++) {
          if (row.prdId === this.prdList[i].prdId) {
            this.prdList[i].disabled = false
          }
        }
        this.appInfo.prdList.splice(index, 1)
      },
      getAppDefresUseYn() {
        fetchAppUseDefresYn(this.$route.query.appKey).then(response => {
          this.appInfo.useDefresYn = response
        })
      },
      handleUseDefres() {
        if (this.appInfo.appStatCd == 'OK') { // 앱이 정상 상태면 대응답 설정 변경
          if (this.appInfo.useDefresYn == 'Y') {
            this.confirmLoading = true
            this.appInfo.useDefresYn = 'N'
            const params = {
              appKey: this.$route.query.appKey,
              useDefresYn: this.appInfo.useDefresYn
            }
            appUseDefresChange(params).then(response => {})
            this.confirmLoading = false
          } else {
            this.confirmLoading = true
            this.appInfo.useDefresYn = 'Y'
            const params = {
              appKey: this.$route.query.appKey,
              useDefresYn: this.appInfo.useDefresYn
            }
            appUseDefresChange(params).then(response => {})
            this.confirmLoading = false
          }
        } else { // 앱이 정상 상태가 아니면 대응답 설정 false 세팅
          this.confirmLoading = true
          this.appInfo.useDefresYn = 'N'
          const params = {
            appKey: this.$route.query.appKey,
            useDefresYn: this.appInfo.useDefresYn
          }
          appUseDefresChange(params).then(response => {})
          this.confirmLoading = false
        }
      },
      handleEmailPostfixChange() {
        if (this.appInfo.emailSelect !== '직접입력') {
          this.appInfo.dirDomain = this.appInfo.emailSelect
          this.userEmailPostfixDisabled = true
        } else {
          this.userEmailPostfixDisabled = false
          this.appInfo.dirDomain = ''
        }
      },
      handleKeyDownload() {
        this.pwdCheckNeed = true
      },
      btnConfirm() {
        reqPost('/api/selectOwnerUser',this.ownerForm).then(response => {
          if(response.userKey != null && response.userKey != ""){
            this.appInfo.userKey = response.userKey
            this.appInfo.managerNm = response.managerNm
            this.appInfo.managerId = response.managerId
            this.dialogOwner = false
          }else{
            this.$alert(this.$t('message.appUserNotFound'),'소유자조회', 'error')
          }
        })
      },
      handleNumber(event) {
        event = event || window.event
        var keyID = (event.which) ? event.which : event.keyCode
        if ((keyID >= 48 && keyID <= 57) || (keyID >= 96 && keyID <= 105) || keyID === 8 || keyID === 46 || keyID === 37 || keyID === 39 || keyID === 190 || keyID === 110) {
          return
        } else {
          event.preventDefault()
        }
      },
      handleCheckPwdBtn() {
        this.searchScrCond.appKey = this.appInfo.appKey
        this.searchScrCond.password = this.userPwd
        if (this.userPwd.length <= 0) {
          this.$message.warning('비밀번호를 입력해 주세요.')
        } else {
          reqPost('/apis/selectAppScrKey',this.searchScrCond).then(response => {
            this.appScrKey = response.appScr
            this.appClientId = response.appClientId
            this.errorMsg = ''
          }).catch(error => {
              this.appScrKey = ''
              this.appClientId = ''
              this.errorMsg = error
          })
        }
      },
      handleClose() {
        this.appScrKey = ''
        this.appClientId = ''
        this.userPwd= ''
      },
      handleRelease() {
        this.releaseYn = true
        this.appInfo.dirNm = this.tmp.dirNm
        this.appInfo.dirTelNo2 = this.tmp.dirTelNo2
        this.appInfo.dirEmail = this.tmp.dirEmail
      }
    },
    computed: {
      ...mapGetters([
        'userKey',
        'hfnCd',
        'roles'
      ]),
      isAdmin: function() {
        if (this.roles == 'ROLE_SYS_ADMIN') {
          return true
        }
        else {
          return false
        }
      },
      rules() {
        return {
          copNm: [{ required: this.hfnValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          copRegNo: [{ required: this.hfnValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }, { min: 10, message: this.$t('message.copRegMin10'), trigger: 'blur'}],
          dirEmail: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }, 
                     { pattern: /^([a-z0-9_\.-]+)$/, message: this.$t('message.warning_check_email_regex'), trigger: 'blur' }],
          dirDomain: [{ required: !this.userEmailPostfixDisabled && this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' },
                  { pattern: /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,6}$/, message: this.$t('message.warning_check_email_regex'), trigger: 'blur' }],
          bizType: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          bizCdtn: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          copAddrNo: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          copAddr1: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          copAddr2: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          dirNm: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          dirTelNo1: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          dirTelNo2: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          appSvcNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
          appSvcUrl: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
          ownNm: [{ required: this.kindValidYn, message: this.$t('message.valid_required'), trigger: 'blur' }],
          pubKey: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
          userKey: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
          appNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
          managerNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }]
        }
      }
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss">
  .app_detail {
    display: flex;
    .left, .right {
      width: 670px;
    }
    .right {
      margin-left: 20px;
      .el-table {
        overflow: auto;
        .el-table__empty-block {
          border-right: 0;
        }
        .cell { padding: 0 5px; }
      }
      .el-table--medium th, .el-table--medium td {
        padding: 5px 0;
      }
      .el-card {
        .el-card__header {
          padding: 18px 20px;
          p {
            margin-right: 10px;
            font-weight: bold;
            font-size: 16px;
          }
          .el-tag {
            margin-right: 5px;
          }
          span {
            margin-left: 5px;
          }
        }
        .el-card__body {
          padding: 5px 10px;
        }
      }
      .el-card__body {
        padding-bottom: 5px;
      }
    }
    .input-new-tag {
      width: 190px;
      vertical-align: bottom;
    }
    .el-header {
      background-color: #f7f7f7;
      font-size: 14px;
      line-height: 60px;
    }
    .date {
      color: #ff0064;
    }
    .el-container {
      height: 500px;
      padding-bottom: 10px;
    }
    .el-menu { border-right: 0; }
    .el-table td, .el-table th.is-leaf { border-bottom: 0; }
    .el-table::before { height: 0; }
    .el-table .none_highlight:hover td { background: transparent !important; }
  }
  @media screen and (max-width: 1500px){
    .app_detail {
      flex-direction: column;
      .right {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
</style>
