<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.appPolicy') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button v-if="!confirmLoading && !isExist" v-waves :loading="confirmLoading" type="primary" @click="handleInsert">{{ $t('btn.add') }}</el-button>
          <el-button v-if="!confirmLoading && isExist" v-waves :loading="confirmLoading" type="danger" @click="handleDelete">{{ $t('btn.delete') }}</el-button>
          <el-button v-if="!confirmLoading && isExist" v-waves :loading="confirmLoading" type="primary" @click="handleUpdate">{{ $t('btn.edit') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="responsive_between_p app-container">
      <el-card v-loading="confirmLoading" shadow="hover" class="left">
        <div slot="header">
          <strong>{{ "APP 사용량 확률 제어" }}</strong>
          <el-popover placement="top-start" title="확률제어란?" width="300px" trigger="hover" content="유입되는 토큰발급요청을 랜덤하게 확률적으로 제어">
            <el-button slot="reference" type="text" style="margin-left: 5px" size="default" icon="el-icon-question" circle></el-button>
          </el-popover>
        </div>
        <el-form label-position="left" label-width="150px">
          <el-form-item :label="$t('app.appNm')">
            <span>{{ dataQuery.appNm }}</span>
          </el-form-item>
          <el-form-item :label="$t('app.policy.ratio')">
            <el-input v-model.number="dataQuery.ratio" maxlength="8" @keyup.native="handleKeyUp" @keydown.native="handleKeyDown" type="text"/>{{' %'}}             
          </el-form-item>
          <el-form-item :label="$t('app.policy.regDttm')">
            <span>{{ dataQuery.regDttm }}</span>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { mapGetters } from 'vuex'
import { scrollTo } from '@/utils/scrollTo'
import { selectAppUsageRatio, insertAppUsageRatio, updateAppUsageRatio, deleteAppUsageRatio } from '@/api/policy'

export default {
  name: 'appPolicy',
  directives: { waves },
  components: { Sticky },
  data() {
    return {
      confirmLoading: false,
      isExist: false,
      isEdit: false,
      dataQuery: {
        appNm: '',
        appKey: '',
        ratio: '',
        regDttm: ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'roles'
    ])
  },
  created() {
    scrollTo(0, 800)
    this.getPolicy()
  },
  methods: {
    getPolicy() {
      this.confirmLoading = true
      this.dataQuery.appKey = this.$route.query.appKey
      selectAppUsageRatio(this.dataQuery).then( response => {
        
        this.dataQuery.appNm = response.appNm
        
        if(response.regDttm == '' || response.regDttm == null) {
          this.dataQuery.regDttm = '-'
        } else {
          this.dataQuery.regDttm = response.regDttm
        }

        if(response.ratio == null) {
          this.isExist = false
        } else {
          this.isExist = true
        }
        this.dataQuery.ratio = response.ratio

        this.confirmLoading = false
      }).catch(() => { this.confirmLoading = false })
    },
    handleInsert() {
      this.confirmLoading = true
      if(this.dataQuery.ratio > 0 && this.dataQuery.ratio < 100) {
        insertAppUsageRatio(this.dataQuery).then( response => {
          this.$message.success('확률 정책을 성공적으로 등록했습니다.')
          this.confirmLoading = false
          // this.$router.push({ path: '/appManage' })
          this.getPolicy()
        }).catch(() => {
          alert('확률 등록 중 에러가 발생했습니다.')
          this.confirmLoading = false
        })
      } else {
        alert('확률은 숫자 1~99까지만 입력할 수 있습니다.')
        this.confirmLoading = false
      }      
    },
    handleUpdate() {
      this.confirmLoading = true

      if(this.dataQuery.ratio > 0 && this.dataQuery.ratio < 100) {
        updateAppUsageRatio(this.dataQuery).then( response => {
          this.$message.success('확률 정책을 성공적으로 업데이트했습니다.')
          this.confirmLoading = false
          // this.$router.push({ path: '/appManage' })
          this.getPolicy()
        }).catch(() => {
          alert('확률 정책 수정 중 에러가 발생했습니다.')
          this.confirmLoading = false
        })
      } else {
        alert('확률은 숫자 1~99까지만 입력할 수 있습니다.')
        this.confirmLoading = false
      }
    },
    handleDelete() {
      deleteAppUsageRatio(this.dataQuery).then( response => {
        this.$message.success('확률 정책을 성공적으로 삭제했습니다.')
        this.confirmLoading = false
        this.$router.push({ path: '/appManage' })
      }).catch(() => {
        alert('확률 정책 삭제 중 에러가 발생했습니다.')
        this.confirmLoading = false })
    },
    handleCancel() {
      this.$router.push({ path: '/appManage' })
    },
    handleKeyDown(event) {
      event = event || window.event
      var keyID = (event.which) ? event.which : event.keyCode
      if ((keyID >= 48 && keyID <= 57) || (keyID >= 96 && keyID <= 105) || keyID === 8 || keyID === 46 || keyID === 37 || keyID === 39 || keyID === 190) {
        return
      } else {
        event.preventDefault()
        event.preventDefault()
      }
    },
    handleKeyUp(e) {
      const notEngExp = /[^A-Za-z]/g
      const koreanExp = /[ㄱ-ㅎㅏ-ㅣ가-힣]/g
      if (notEngExp.test(e.key)) {
        e.target.value = e.target.value.replace(koreanExp, '')
      }
      this.handleKeyDown(e)
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .responsive_between_p {
    .left, .right {
      width: 880px;
    }
    .right {
      flex-direction: column;
      margin-left: 20px;
      .el-table .el-table{
        border-top: 1px solid #ededed;
      }
      .el-card__header {
        display: flex;
        align-items: center;
        height: 55px;
        padding: 0 20px;
        >div {
          width: 100%;
        }
      }
    }
    .el-table .el-table__expanded-cell {
      padding: 0 20px 0 80px;
    }
    .el-input {
      width: 100px;
    }
  }
  @media screen and (max-width: 1650px){
    .responsive_between_p {
      flex-direction: column;
      .right {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
</style>
