<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-permission="['ROLE_SYS_ADMIN']" v-model="listQuery.searchHfnCd" :placeholder="$t('guide.all')" prop="hfnNm"
                 class="filter-item" style="width: 150px" clearable @change="handleHfnChange()">
        <el-option v-for="item in codeList" v-if="item.commCdId === '1100'" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <div class="filter-item el-input el-input--medium" style="width: 240px;">
        <input v-model="listQuery.searchNm" type="text" autocomplete="off" :placeholder="$t('app.searchNm')" class="el-input__inner" @keyup.enter.native="handleFilter">
      </div>
      <el-input v-model="listQuery.searchUserKey" :placeholder="$t('app.userId')" class="filter-item" style="width: 150px;" @keyup.enter.native="handleFilter"/>
      <el-input v-model="listQuery.searchCopRegNo" :placeholder="$t('app.copNo')" class="filter-item" style="width: 140px;" @keyup.enter.native="handleFilter"/>
      <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" icon="el-icon-search" size="small" @click="handleFilter">
        {{ $t('btn.search') }}
      </el-button>
      <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" icon="el-icon-edit" size="small"
                 @click="handleCreate">{{ $t('btn.add') }}
      </el-button>
      <el-button v-waves style="margin-left: 0px;" class="filter-item" size="small" type="success" icon="el-icon-download" @click="excelDown">{{ $t('btn.excel') }}</el-button>
    </div>
    <el-table v-loading="listLoading" :data="list" border style="width: 1100px" highlight-current-row @row-click="handleClick">
      <el-table-column type="index" widht="30" align="center"></el-table-column>
      <el-table-column :label="$t('app.user')" align="center" :min-width="4">
        <template slot-scope="scope">
          <span data-type="date">{{ scope.row.userId | maskingId }}</span>
          <span v-if="scope.row.userNm != 'DEL'">( {{ scope.row.userNm | maskingName }} )</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('office.officeNum')" align="center" :min-width="3">
        <template slot-scope="scope">
          <span>{{ scope.row.copRegNo }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('app.appNm')" align="center" :min-width="5">
        <template slot-scope="scope">
          <span>{{ scope.row.appNm }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('app.appSvcStDt')" align="center" :min-width="2">
        <template slot-scope="scope">
          <span v-if="scope.row.appStatCd === 'OK'">{{ scope.row.appSvcStDt | dateFilter }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('app.appStat')" align="center" :min-width="2">
        <template slot-scope="scope">
          <el-tag :type="scope.row.appStatCd | statusFilter">{{ scope.row.appStatCd | statusTextFilter }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column :label="$t('app.searchAplvStat')" align="center" :min-width="2">
        <template slot-scope="scope">
          <el-tag :type="scope.row.appAplvStatCd | statusFilter">{{ scope.row.appAplvStatCd | statusTextFilter }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column :label="$t('app.actions')" align="center" class-name="small-padding fixed-width" width="150">
        <el-row slot-scope="scope" type="flex" align="start">
          <el-button
            v-if="scope.row.appStatCd == 'CLOSE' || (scope.row.appStatCd == 'OK' && scope.row.appAplvStatCd !== 'REQ') || (scope.row.appStatCd == 'UNUSED' && scope.row.appAplvStatCd !== 'REQ')"
            size="mini" type="primary" @click="handleClick(scope.row,'CLOSE')">{{ $t('app.action.edit') }}
          </el-button>
          <el-button
            v-if="(scope.row.appStatCd == 'WAIT' || scope.row.appStatCd == 'UNUSED') && scope.row.appAplvStatCd == 'REQ' ||  (scope.row.appStatCd == 'OK' && scope.row.appAplvStatCd == 'REQ') "
            size="mini" type="info" style="width: 60px;" @click="handleClick(scope.row,'WAIT')">{{ $t('app.action.detail') }}
          </el-button>
          <el-button
            v-permission="['ROLE_SYS_ADMIN','ROLE_HFN_ADMIN']" v-if="scope.row.appStatCd == 'OK'" type="danger" size="mini" @click.native.stop="handlePolicy(scope.row)">{{ $t('btn.policy') }}
          </el-button>
        </el-row>
      </el-table-column>
    </el-table>
    <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getList"/>
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import permission from '@/directive/permission/index.js'
import axios from 'axios'
import { getToken } from '@/utils/auth'
import { mapGetters } from 'vuex'
import { maskingId } from '@/utils/masking'
import { appList, selectAppUserList } from '@/api/app'
import { selectCommCodeList } from '@/api/product'

const statusOptions = [
  { key: 'UNUSED', statusName: i18n.t('app.stat.UNUSED'), tag: 'danger' },
  { key: 'WAIT', statusName: i18n.t('app.stat.WAIT'), tag: 'warning' },
  { key: 'OK', statusName: i18n.t('app.stat.OK'), tag: 'success' },
  { key: 'CLOSE', statusName: i18n.t('app.stat.CLOSE'), tag: 'danger' },
  { key: 'EXPIRE', statusName: i18n.t('app.stat.EXPIRE'), tag: 'danger' }
]
const aplvStatusOptions = [
  { key: 'REQ', statusName: i18n.t('app.stat.REQ'), tag: 'warning' },
  { key: 'APLV', statusName: i18n.t('app.stat.APLV'), tag: 'success' },
  { key: 'CANCEL', statusName: i18n.t('app.stat.CANCEL'), tag: 'info' },
  { key: 'REJECT', statusName: i18n.t('app.stat.REJECT'), tag: 'danger' }
]
const statusAllOptions = [
  { key: 'WAIT', statusName: i18n.t('app.stat.WAIT'), tag: 'warning' },
  { key: 'OK', statusName: i18n.t('app.stat.OK'), tag: 'success' },
  { key: 'CLOSE', statusName: i18n.t('app.stat.CLOSE'), tag: 'danger' },
  { key: 'EXPIRE', statusName: i18n.t('app.stat.EXPIRE'), tag: 'danger' },
  { key: 'REQ', statusName: i18n.t('app.stat.REQ'), tag: 'warning' },
  { key: 'APLV', statusName: i18n.t('app.stat.APLV'), tag: 'success' },
  { key: 'CANCEL', statusName: i18n.t('app.stat.CANCEL'), tag: 'info' },
  { key: 'REJECT', statusName: i18n.t('app.stat.REJECT'), tag: 'danger' },
  { key: 'UNUSED', statusName: i18n.t('app.stat.UNUSED'), tag: 'danger' },
  { key: 'DEL', statusName: i18n.t('app.stat.DEL'), tag: 'danger' }
]

export default {
  name: 'AppManage',
  directives: { waves, permission },
  filters: {
    statusFilter(status) {
      const tagValue = statusAllOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.tag
        return acc
      }, {})
      return tagValue[status]
    },
    statusTextFilter(status) {
      const nameValue = statusAllOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.statusName
        return acc
      }, {})
      return nameValue[status]
    }
  },
  components: { Pagination },
  data() {
    return {
      totCnt: 0,
      listQuery: {
        pageIdx: 1,
        pageSize: 20,
        searchHfnCd: '',
        searchNm: '',
        searchUserKey: '',
        searchCopRegNo: ''
      },
      list: [],
      codeList: [],
      userList: [],
      statusOptions,
      aplvStatusOptions,
      listLoading: false
    }
  },
  computed: {
    ...mapGetters([
      'userKey',
      'roles',
      'hfnCd'
    ])
  },
  created() {
    this.getCodeList()
  },
  methods: {
    getCodeList() {
      selectCommCodeList().then(response => {
        this.codeList = response.codeList
        this.listQuery.searchHfnCd = this.hfnCd
        this.getUserList()
        
      })
    },
    getUserList() {
      selectAppUserList(this.listQuery).then(response => {
        this.userList = response.appReadInfo
        this.userList = [...new Map(this.userList.map(item => [item.userNm, item])).values()]
        this.getList()
      })
    },
    getList() {
      this.listLoading = true
      appList(this.listQuery).then(response => {
        this.list = response.list
        this.totCnt = response.totCnt

        setTimeout(() => {
          this.listLoading = false
        }, 1000)
      })
    },
    handleHfnChange() {
      selectAppUserList(this.listQuery).then(response => {
        this.userList = response.appReadInfo
        this.userList = [...new Map(this.userList.map(item => [item.userNm, item])).values()]
        setTimeout(() => {
          this.listLoading = false
        }, 1000)
      })
    },
    handleFilter() {
      this.listQuery.pageIdx = 1
      this.getList()
    },
    handleCreate() {
      this.$router.push({ path: '/appManage/appCreate' })
    },
    handleClick(row) {
      if( row.appStatCd == 'CLOSE' || (row.appStatCd == 'OK' && row.appAplvStatCd !== 'REQ') || (row.appStatCd == 'UNUSED' && row.appAplvStatCd !== 'REQ')) {
        this.$router.push({ path: '/appManage/appEdit?appKey=' + row.appKey  })
      } else if (row.appStatCd == 'EXPIRE') {
      } else {
        this.$router.push({ path: '/appManage/appDetail?appKey=' + row.appKey  })
      }
    },
    excelDown() {
      let url = location.origin;
      axios({
        url: url + '/api/excelApp',
        method: 'POST',
        headers: { 'Authorization': 'Bearer ' + getToken() },
        responseType: 'blob',
        params: {
          pageIdx: this.listQuery.pageIdx,
          pageSize: this.listQuery.pageSize,
          searchHfnCd: this.listQuery.searchHfnCd,
          searchUserKey: this.listQuery.searchUserKey,
          searchNm: this.listQuery.searchNm,
          searchStat: this.listQuery.searchStat,
          searchAplvStat: this.listQuery.searchAplvStat
        }
      }).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        let fileName = response.headers['content-disposition']
        fileName = this.getFileNameByContentDisposition(fileName)
        link.href = url
        link.setAttribute('download', fileName)
        document.body.appendChild(link)
        link.click()
      })
    },
    getFileNameByContentDisposition(contentDisposition){
      let regex = /filename[^;=\n]*=(UTF-8(['"]*))?(.*)/;
      let matches = regex.exec(contentDisposition);
      let filename;

      if (matches != null && matches[3]) {
        filename = matches[3].replace(/['"]/g, '');
      }
      return decodeURI(filename);
    },
    handlePolicy(row) {
      this.$router.push({ path: '/appManage/appPolicy?appKey=' + row.appKey  })
    }
  }
}
</script>
