<template>
  <div class="app-container">
    <el-card shadow="hover" style="width: 100%;">
      <div slot="header">
        <strong>{{ $t('route.faq') }}</strong>
      </div>
      <div style="width: 100%; overflow-x: auto">
        <div class="filter-container">
          <el-select v-model="searchQuery.faqGb" :placeholder="$t('community.div')" prop="codeList" class="filter-item" style="width: 200px" clearable>
            <el-option v-for="item in codeList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
          </el-select>
          <div class="filter-item el-input el-input--medium" style="width: 240px;">
            <input v-model="searchQuery.searchFaq" :placeholder="$t('community.search')" @keyup.enter.native="getList" type="text" autocomplete="off" class="el-input__inner">
          </div>
          <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" icon="el-icon-search" @click="getList">{{ $t('btn.search') }}</el-button>
          <el-button v-permission="['ROLE_SYS_ADMIN','ROLE_HFN_ADMIN']" v-waves class="filter-item" style="margin-left: 0px;" type="success" icon="el-icon-edit" @click="handleCreateFaq">{{ $t('btn.add') }}</el-button>
        </div>
        <div>
          <el-table :data="faqList" border highlight-current-row>
            <el-table-column :label="$t('community.seqNo')" align="center" minWidth="60" width="60">
              <template slot-scope="scope">
                <span>{{ scope.row.seqNo }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('community.div')" align="center" width="120">
              <template slot-scope="scope">
                <span>{{ scope.row.faqGb | faqGbFilter('', codeList) }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('community.subject')" align="center" minWidth="200">
              <template slot-scope="scope">
                <div align="left">{{ scope.row.subject }}</div>
              </template>
            </el-table-column>
            <el-table-column :label="$t('echo.api.regUser')" align="center" width="100">
              <template slot-scope="scope">
                <span>{{ scope.row.regUser }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('terms.regDttm')" align="center" width="100">
              <template slot-scope="scope">
                <span>{{ scope.row.regDttm | dateFilter }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('echo.api.modUser')" align="center" width="100">
              <template slot-scope="scope">
                <span>{{ scope.row.modUser }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('terms.modDttm')" align="center" width="100">
              <template slot-scope="scope">
                <span>{{ scope.row.modDttm | dateFilter }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('community.action.detail')" align="center" width="100">
              <template slot-scope="scope">
                <el-button @click="showFaq(scope.row.seqNo)">{{ $t('community.action.detail') }}</el-button>
              </template>
            </el-table-column>
            <el-table-column v-if="checkPermission(['ROLE_SYS_ADMIN'])" :label="$t('community.action.delete')" align="center" width="100">
              <template slot-scope="scope">
                <el-button v-if="scope.row.statCd != 'DEL'" @click="delFaq(scope.row.seqNo)">{{ $t('community.action.delete') }}</el-button>
              </template>
            </el-table-column>
          </el-table>
          <pagination v-show="totCnt>0" :total="totCnt" :page.sync="searchQuery.pageIdx" :limit.sync="searchQuery.pageSize" @pagination="getList"/>
        </div>        
      </div>
    </el-card>
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import permission from '@/directive/permission/index.js'
import checkPermission from '@/utils/permission'
import { selectCommCodeList } from '@/api/common'
import { detailFaq, selectFaqList, deleteFaq } from '@/api/community'
import { mapGetters } from 'vuex'

export default {
  name: 'Faq',
  directives: { waves, permission },
  components: { Pagination },
  filters: {
    faqGbFilter(code, txtParam, codeList) {
      const value = codeList.reduce((acc, cur) => {
        acc[cur.cdId] = cur.cdNm
        return acc
      }, {})
      return value[code]
    }
  },
  data() {
    return {
      totCnt: 0,
      selCnt: null,
      faqList: [],
      faqDetail: {
        seqNo: '',
        subject: '',
        faqGb: '',
        regId: '',
        regUser: '',
        regDttm: '',
        modId: '',
        modUser:'',
        modDttm: '',
        statCd: ''
      },
      searchQuery: {
        pageIdx: 1,
        pageSize: 10,
        searchFaq: '',
        statCd: '',
        faqGb: ''
      },
      searchCode: {
        commCdId: '900',
        cdId: '',
        cdNm: '',
        cdEng: '',
        cdUseYn: ''
      },
      codeList: []
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ])
  },
  created() {
    this.getCodeList()
    this.getList()
  },
  methods: {
    checkPermission,
    getCodeList() {
      selectCommCodeList(this.searchCode).then(response => {
        this.codeList = response.codeList
        this.codeList.unshift({ cdId: '', cdNm: i18n.t('guide.all') })
        this.getList()
      })
    },
    getList() {
      selectFaqList(this.searchQuery).then(response => {
        this.faqList = response.faqList
        this.totCnt = response.totCnt
        this.selCnt = response.selCnt
      })
    },    
    showFaq(seqNo) {
      this.$router.push({ path: '/faqDetail?seqNo=' + seqNo })
    },
    delFaq(seqNo) {
      this.$confirm('정말 삭제하시겠습니까?', {
        confirmButtonText: this.$t('btn.delete'),
        cancelButtonText: this.$t('btn.cancel'),
        type: 'warning'
      }).then(() => {
        deleteFaq(seqNo).then(response => {
          this.$message.success('FAQ 삭제 완료')
          this.getList()
        })
      }).catch(() => {
      })
    },
    handleCreateFaq() {
      this.$router.push({ path: '/faqCreate' })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .noborder {
    overflow: auto;
    .el-container { height: calc(100vh - 429px); padding-bottom: 2px; }
    .el-aside { border-right: solid 1px #ededed; }
    .el-menu { border-right: 0; }
    .el-table td, .el-table th.is-leaf { border-bottom: 0; }
    .el-table::before { height: 0; }
    .el-table .none_highlight:hover td { background: transparent !important; }
    .list_card .el-card__header{ padding: 6px 20px; }
    .category {
      white-space: nowrap;
      margin-right: 20px;
      font-size: 14px;
      color: #00479d;
    }
    .name {
      white-space: nowrap;
      margin-right: 20px;
      font-size: 15px;
      font-weight: bold;
    }
  }
</style>
