<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.faq') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button type="primary" @click="handleConfirm">{{ $t('btn.add') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class=" app_detail app-container">
      <el-row class="left">
        <el-card shadow="hover">
          <div slot="header" class="clearfix">
            <strong>{{ $t('community.faqCreate') }}</strong>
          </div>
          <el-form :model="faqDetail" label-position="left" label-width="130px" style="width: 100%;">
            <el-form-item :label="$t('community.div')" prop="faqGb">
              <el-select
                  v-model="faqDetail.faqGb"
                  :placeholder="$t('community.div')"
                  prop="codeList"
                  class="filter-item"
                  style="width: 200px"
                  clearable>
                  <el-option v-for="item in codeList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                </el-select>
            </el-form-item>
            <el-form-item :label="$t('community.qnas')" prop="faqSubject">
              <div class="el-input el-input--medium">
                <input v-model="faqDetail.subject" type="text" autocomplete="off" class="el-input__inner">
              </div>
            </el-form-item>
            <el-form-item :label="$t('community.answer')" prop="faqCtnt">
              <textarea v-model="faqDetail.ctnt" :class="'custom-textarea'" rows="13"/>
            </el-form-item>
          </el-form>
        </el-card>
      </el-row>
    </div>
  </div>
</template>

<script>
import { selectCommCodeList } from '@/api/common'
import { mapGetters } from 'vuex'
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import { insertFaq } from '@/api/community'
import waves from '@/directive/waves'
import { scrollTo } from '@/utils/scrollTo'

export default {
  name: 'FaqCreate',
  directives: { waves },
  components: { Sticky },
  data() {
    return {
      faqDetail: {
        subject: '',
        ctnt: '',
        faqGb: ''
      },
      searchCode: {
        commCdId: '900',
        cdId: '',
        cdNm: '',
        cdEng: '',
        cdUseYn: ''
      },
      codeList: []
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ])
  },
  created() {
    this.getCodeList()
  },
  methods: {
    getCodeList() {
      selectCommCodeList(this.searchCode).then(response => {
				this.codeList = response.codeList
      })
    },
    handleCancel() {
      this.$router.push({ path: '/faq' })
    },
    handleConfirm() {
      if (this.faqDetail.faqGb != null && this.faqDetail.faqGb != "") {
        if (this.faqDetail.subject != null && this.faqDetail.subject != "") {
          if (this.faqDetail.ctnt != null && this.faqDetail.ctnt != "") {
            let ctnt = this.faqDetail.ctnt
            ctnt = ctnt.replace(/(?:\r\n|\r|\n)/g, '<br/>')
            this.faqDetail.ctnt = ctnt
            insertFaq(this.faqDetail).then(response => {
              this.$router.push({ path: '/faq' })
            }).catch(() => {
              this.$router.push({ path: '/faq' })
            })
          } else {
            this.$message.error('FAQ 답변을 입력해주세요.')
          }
        } else {
          this.$message.error('FAQ 질문을 입력해주세요.')
        }
      } else {
        this.$message.error('구분을 입력해주세요.')
      }
    }
  }
}
</script>
