<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.faq') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button v-permission="['ROLE_SYS_ADMIN','ROLE_HFN_ADMIN']" type="primary" @click="handleConfirm">{{ $t('btn.edit') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class=" app_detail app-container">
      <el-row class="left">
        <el-card shadow="hover">
          <div slot="header" class="clearfix">
            <strong>{{ $t('community.faqDetail') }}</strong>
          </div>
          <el-form :model="faqDetail" label-position="left" label-width="130px" style="width: 100%;">
            <el-row>
              <el-col :span="12">
                <el-form-item :label="$t('community.seqNo')" prop="seqNo">
                  {{ faqDetail.seqNo }}
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item :label="$t('community.div')" prßp="faqGb" style="padding-left:10px">
                <el-select v-model="faqDetail.faqGb" :disabled="!checkRole" :placeholder="$t('community.div')" prop="codeList" class="filter-item" style="minWidth: 200px" clearable>
                    <el-option v-for="item in codeList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
                  </el-select>
              </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('community.title')" prop="faqSubject">
                  {{ faqDetail.subject }}
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col>
                <el-form-item :label="$t('community.content')" prop="faqCtnt">
                  <textarea v-model="faqDetail.ctnt" :class="'custom-textarea'" rows="5" :disabled="!checkRole"/>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="12">
                <el-form-item :label="$t('echo.api.regDttm')" prop="regDttm">
                  {{ faqDetail.regDttm | dtFilter }}
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item :label="$t('echo.api.regUser')" prop="regUser" style="padding-left:10px">
                  {{ faqDetail.regUser }}
                </el-form-item>
              </el-col>
            </el-row>
            <el-row v-if="faqDetail.modUser!=null">
              <el-col :span="12">
                <el-form-item :label="$t('echo.api.modDttm')" prop="modDttm">
                  {{ faqDetail.modDttm | dtFilter }}
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item :label="$t('echo.api.modUser')" prop="modUser" style="padding-left:10px">
                  {{ faqDetail.modUser }}
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-card>
      </el-row>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import permission from '@/directive/permission/index.js'
import waves from '@/directive/waves'
import { mapGetters } from 'vuex'
import { scrollTo } from '@/utils/scrollTo'
import { selectCommCodeList } from '@/api/common'
import { detailFaq, updateFaq } from '@/api/community'

export default {
  name: 'FaqDetail',
  directives: { waves, permission },
  components: { Sticky },
  data() {
    return {
      seqNo: '',
      faqDetail: {
        seqNo: '',
        subject: '',
        ctnt: '',
        regId: '',
        regDttm: '',
        modId: '',
        modDttm: '',
        modUser: '',
        regUser: '',
        faqGb: ''
      },
      searchCode: {
        commCdId: '900',
        cdId: '',
        cdNm: '',
        cdEng: '',
        cdUseYn: ''
      },
      codeList: []
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ]),
    checkRole: function() {
      if (this.roles == 'ROLE_SYS_ADMIN' || this.roles == 'ROLE_HFN_ADMIN') {
        return true
      } else {
        return false
      }
    }
  },
  created() {
    this.getCodeList()
    this.seqNo = this.$route.query.seqNo
    this.getFaq(this.seqNo)
  },
  methods: {
    getCodeList() {
      selectCommCodeList(this.searchCode).then(response => {
				this.codeList = response.codeList
      })
    },
    getFaq(seqNo) {
      detailFaq(seqNo).then(response => {
        this.faqDetail = response.faq

        let ctnt = this.faqDetail.ctnt
        ctnt = ctnt.replace(/<br\/>/g, '\n')
        this.faqDetail.ctnt = ctnt
      })
    },
    handleCancel() {
      this.$router.push({ path: '/faq' })
    },
    handleConfirm() {
      if (this.faqDetail.subject != null && this.faqDetail.subject != "") {
        if (this.faqDetail.ctnt != null && this.faqDetail.ctnt != "") {
          let ctnt = this.faqDetail.ctnt
          ctnt = ctnt.replace(/(?:\r\n|\r|\n)/g, '<br/>')
          this.faqDetail.ctnt = ctnt
          updateFaq(this.faqDetail).then(response => {
            this.$router.push({ path: '/faq' })
          })
        } else {          
          this.$message.error('FAQ 답변을 입력해주세요.')
        }
      } else {
        this.$message.error('FAQ 제목을 입력해주세요.')
      }
    }
  }
}
</script>
