<template>
  <div class="app-container">
    <el-card shadow="hover" style="width: 100%;">
      <div slot="header">
        <strong>{{ $t('community.notice') }}</strong>
      </div>
      <div style="width: 100%; overflow-x: auto">
        <div class="filter-container">
          <el-select
            v-model="searchQuery.statCd"
            :placeholder="$t('community.noticeStat')"
            v-permission="['ROLE_SYS_ADMIN']"
            prop="noticeStat"
            class="filter-item"
            style="width: 150px"
            clearable>
            <el-option v-for="item in noticeStat" :key="item.statCd" :label="item.statNm" :value="item.statCd"/>
          </el-select>
          <div class="filter-item el-input el-input--medium" style="width: 240px;">
            <input v-model="searchQuery.searchNotice" :placeholder="$t('community.search')"  @keyup.enter.native="getList" type="text" autocomplete="off" class="el-input__inner">
          </div>
          <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" icon="el-icon-search" @click="getList">{{ $t('btn.search') }}</el-button>
          <el-button v-waves v-permission="['ROLE_SYS_ADMIN','ROLE_HFN_ADMIN']" class="filter-item" style="margin-left: 0px;" type="success" icon="el-icon-edit" @click="handleCreateNotice">{{ $t('btn.add') }}</el-button>
        </div>
        <div>
          <el-table :data="noticeList" style="width: 1100px" border highlight-current-row>
            <el-table-column :label="$t('community.seqNo')" align="center" :min-width="2">
              <template slot-scope="scope">
                <span>{{ scope.row.seqNo }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('community.subject')" align="center" :min-width="8">
              <template slot-scope="scope">
                <div align="left">{{ scope.row.noticeSubject }}</div>
              </template>
            </el-table-column>
            <el-table-column :label="$t('community.regDttm')" align="center" :min-width="2">
              <template slot-scope="scope">
                <span>{{ scope.row.regDttm | dateFilter }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('community.viewCnt')" align="center" :min-width="2">
              <template slot-scope="scope">
                <span>{{ scope.row.viewCnt }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('community.noticeStat')" align="center" :min-width="2">
              <template slot-scope="scope">
                <span>{{ scope.row.statCd | statCdFilter }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('community.action.detail')" align="center" :min-width="2">
              <template slot-scope="scope">
                <el-button @click="showNotice(scope.row.seqNo)">{{ $t('community.action.detail') }}</el-button>
              </template>
            </el-table-column>
            <el-table-column v-if="checkPermission(['ROLE_SYS_ADMIN'])" :label="$t('community.action.delete')" align="center" :min-width="2">
              <template slot-scope="scope">
                <el-button v-if="scope.row.statCd != 'DEL'" @click="delNotice(scope.row.seqNo)">{{ $t('community.action.delete') }}</el-button>
              </template>
            </el-table-column>
          </el-table>
          <pagination v-show="totCnt>0" :total="totCnt" :page.sync="searchQuery.pageIdx" :limit.sync="searchQuery.pageSize" @pagination="getList"/>
        </div>        
      </div>
    </el-card>
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import permission from '@/directive/permission/index.js'
import checkPermission from '@/utils/permission'
import { detailNotice, selectNoticeList, deleteNotice } from '@/api/community'
import { mapGetters } from 'vuex'

const statCdOptions = [
  { key: 'OK', statusName: '정상' },
  { key: 'DEL', statusName: '삭제' }
]

export default {
  name: 'Notice',
  directives: { waves, permission },
  components: { Pagination },
  filters: {
    statCdFilter(chk) {
      const value = statCdOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.statusName
        return acc
      }, {})
      return value[chk]
    },
  },
  data() {
    return {
      totCnt: 0,
      selCnt: null,
      noticeList: [],
      noticeDetail: {
        seqNo: '',
        noticeSubject: '',
        viewCnt: '',
        regId: '',
        regDttm: '',
        modId: '',
        modDttm: '',
        statCd: '',
      },
      searchQuery: {
        pageIdx: 1,
        pageSize: 20,
        searchNotice: '',
        statCd: ''
      },
      noticeStat: []
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ])
  },
  created() {
    this.getList()
    this.fetchNoticeStat()
  },
  methods: {
    checkPermission,
    fetchNoticeStat() {
      this.noticeStat.push({statCd: 'ALL', statNm: '전체'})
      this.noticeStat.push({statCd: 'OK', statNm: '정상'})
      this.noticeStat.push({statCd: 'DEL', statNm: '삭제'})
    },
    getList() {
      selectNoticeList(this.searchQuery).then(response => {
        this.noticeList = response.noticeList
        this.totCnt = response.totCnt
        this.selCnt = response.selCnt
      })
    },    
    showNotice(seqNo) {
      this.$router.push({ path: '/noticeDetail?seqNo=' + seqNo })
    },
    delNotice(seqNo) {
      this.$confirm('정말 삭제하시겠습니까?', {
        confirmButtonText: this.$t('btn.delete'),
        cancelButtonText: this.$t('btn.cancel'),
        type: 'warning'
      }).then(() => {
        deleteNotice(seqNo).then(response => {
          this.$message.success('공지사항 삭제 완료')
          this.getList()
        })
      }).catch(() => {
      })
    },
    handleCreateNotice() {
      this.$router.push({ path: '/noticeCreate' })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .noborder {
    overflow: auto;
    .el-container { height: calc(100vh - 429px); padding-bottom: 2px; }
    .el-aside { border-right: solid 1px #ededed; }
    .el-menu { border-right: 0; }
    .el-table td, .el-table th.is-leaf { border-bottom: 0; }
    .el-table::before { height: 0; }
    .el-table .none_highlight:hover td { background: transparent !important; }
    .list_card .el-card__header{ padding: 6px 20px; }
    .category {
      white-space: nowrap;
      margin-right: 20px;
      font-size: 14px;
      color: #00479d;
    }
    .name {
      white-space: nowrap;
      margin-right: 20px;
      font-size: 15px;
      font-weight: bold;
    }
  }
</style>
