<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.notice') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button v-permission="['ROLE_SYS_ADMIN','ROLE_HFN_ADMIN']" type="primary" @click="handleConfirm">{{ $t('btn.edit') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class=" app_detail app-container">
      <el-row class="left">
        <el-card v-if="checkPermission(['ROLE_SYS_ADMIN','ROLE_HFN_ADMIN'])" shadow="hover">
          <div slot="header" class="clearfix">
            <strong>{{ $t('community.noticeDetail') }}</strong>
          </div>
          <el-form :model="noticeDetail" label-position="left" label-width="130px" style="width: 100%;">
            <el-form-item :label="$t('community.seqNo')" prop="seqNo">
              <span> {{ noticeDetail.seqNo }} </span>
            </el-form-item>
            <el-form-item :label="$t('community.title')" prop="noticeSubject">
              <el-input v-model="noticeDetail.noticeSubject" maxlength="1000"/>
            </el-form-item>
            <el-form-item :label="$t('community.viewCnt')" prop="viewCnt">
              <span> {{ noticeDetail.viewCnt }} </span>
            </el-form-item>
            <el-form-item :label="$t('community.content')" prop="noticeCtnt">
              <textarea v-model="noticeDetail.noticeCtnt" :class="'custom-textarea'" rows="20"/>
            </el-form-item>
            <el-form-item :label="$t('community.regDttm')" prop="regDttm">
              <span> {{ noticeDetail.regDttm | dtFilter }} </span>
            </el-form-item>
             <el-form-item :label="$t('community.regId')" prop="regId">
              <span> {{ noticeDetail.regUser }} </span>
            </el-form-item>
            <el-form-item v-if="noticeDetail.modDttm != null" :label="$t('community.modDttm')" prop="modDttm">
              <span> {{ noticeDetail.modDttm | dtFilter }} </span>
            </el-form-item>
            <el-form-item v-if="noticeDetail.modUser != null" :label="$t('community.modUser')" prop="modId">
              <span> {{ noticeDetail.modUser }} </span>
            </el-form-item>
          </el-form>
        </el-card>
        <el-card v-else shadow="hover">
          <div slot="header" class="clearfix">
            <strong>{{ $t('community.noticeDetail') }}</strong>
          </div>
          <el-form :model="noticeDetail" label-position="left" label-width="130px" style="width: 100%;">
            <el-form-item :label="$t('community.seqNo')" prop="seqNo">
              <span> {{ noticeDetail.seqNo }} </span>
            </el-form-item>
            <el-form-item :label="$t('community.title')" prop="noticeSubject">
              <span> {{ noticeDetail.noticeSubject }} </span>
            </el-form-item>
            <el-form-item :label="$t('community.viewCnt')" prop="viewCnt">
              <span> {{ noticeDetail.viewCnt }} </span>
            </el-form-item>
            <el-form-item :label="$t('community.content')" prop="noticeCtnt">
              <span> {{ noticeDetail.noticeCtnt }} </span>
            </el-form-item>
            <el-form-item :label="$t('community.regDttm')" prop="regDttm">
              <span> {{ noticeDetail.regDttm | dtFilter }} </span>
            </el-form-item>
            <el-form-item :label="$t('community.regId')" prop="regId">
              <span> {{ noticeDetail.regUser }} </span>
            </el-form-item>
            <el-form-item v-if="noticeDetail.modDttm != null" :label="$t('community.modDttm')" prop="modDttm">
              <span> {{ noticeDetail.modDttm | dtFilter }} </span>
            </el-form-item>
            <el-form-item v-if="noticeDetail.modUser != null" :label="$t('community.modUser')" prop="modId">
              <span> {{ noticeDetail.modUser }} </span>
            </el-form-item>
          </el-form>
        </el-card>
      </el-row>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { scrollTo } from '@/utils/scrollTo'
import { mapGetters } from 'vuex'
import permission from '@/directive/permission/index.js'
import checkPermission from '@/utils/permission'
import { detailNotice, updateNotice } from '@/api/community'

export default {
  name: 'NoticeDetail',
  directives: { waves, permission },
  components: { Sticky },
  data() {
    return {
      seqNo: '',
      noticeDetail: {
        seqNo: '',
        noticeSubject: '',
        noticeCtnt: '',
        viewCnt: '',
        regId: '',
        regDttm: '',
        modId: '',
        modDttm: '',
      }
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ])
  },
  created() {
    this.seqNo = this.$route.query.seqNo
    this.getNotice(this.seqNo)
  },
  methods: {
    checkPermission,
    getNotice(seqNo) {
      detailNotice(seqNo).then(response => {
        this.noticeDetail = response.notice

        let ctnt = this.noticeDetail.noticeCtnt
        ctnt = ctnt.replace(/<br\/>/g, '\n')
        this.noticeDetail.noticeCtnt = ctnt
      })
    },
    handleCancel() {
      this.$router.push({ path: '/notice' })
    },
    handleConfirm() {
      if (this.noticeDetail.noticeSubject != null && this.noticeDetail.noticeSubject != "") {
        if (this.noticeDetail.noticeCtnt != null && this.noticeDetail.noticeCtnt != "") {
          let ctnt = this.noticeDetail.noticeCtnt
          ctnt = ctnt.replace(/(?:\r\n|\r|\n)/g, '<br/>')
          this.noticeDetail.noticeCtnt = ctnt
          updateNotice(this.noticeDetail).then(response => {
            this.$router.push({ path: '/notice' })
          })
        } else {          
          this.$message.error('공지사항 내용을 입력해주세요.')
        }
      } else {
        this.$message.error('공지사항 제목을 입력해주세요.')
      }
    }
  }
}
</script>
