<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.notice') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button v-permission="['ROLE_SYS_ADMIN','ROLE_HFN_ADMIN']" type="primary" @click="handleConfirm">{{ $t('btn.add') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class=" app_detail app-container">
      <el-row class="left">
        <el-card shadow="hover">
          <div slot="header" class="clearfix">
            <strong>{{ $t('community.noticeCreate') }}</strong>
          </div>
          <el-form :model="noticeDetail" label-position="left" label-width="130px" style="width: 100%;">
            <el-form-item :label="$t('community.title')" prop="noticeSubject">
              <div class="el-input el-input--medium">
                <input v-model="noticeDetail.noticeSubject" type="text" autocomplete="off" class="el-input__inner">
              </div>
            </el-form-item>
            <el-form-item :label="$t('community.content')" prop="noticeCtnt">
              <textarea v-model="noticeDetail.noticeCtnt" :class="'custom-textarea'"/>
            </el-form-item>
          </el-form>
        </el-card>
      </el-row>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import permission from '@/directive/permission/index.js'
import { scrollTo } from '@/utils/scrollTo'
import { mapGetters } from 'vuex'
import { insertNotice } from '@/api/community'

export default {
  name: 'NoticeCreate',
  directives: { waves, permission },
  components: { Sticky },
  data() {
    return {
      noticeDetail: {
        seqNo: '',
        noticeSubject: '',
        noticeCtnt: '',
        statCd: '',
        viewCnt: '',
        regId: '',
        regDttm: '',
        modId: '',
        modDttm: ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ])
  },
  methods: {
    handleCancel() {
      this.$router.push({ path: '/notice' })
    },
    handleConfirm() {
      if (this.noticeDetail.noticeSubject != null && this.noticeDetail.noticeSubject != "") {
        if (this.noticeDetail.noticeCtnt != null && this.noticeDetail.noticeCtnt != "") {
          let ctnt = this.noticeDetail.noticeCtnt
          ctnt = ctnt.replace(/(?:\r\n|\r|\n)/g, '<br/>')
          this.noticeDetail.noticeCtnt = ctnt
          insertNotice(this.noticeDetail).then(response => {
            this.$router.push({ path: '/notice' })
          }).catch(() => {
            this.$router.push({ path: '/notice' })
          })
        } else {
          this.$message.error('공지사항 내용을 입력해주세요.')
        }
      } else {
        this.$message.error('공지사항 제목을 입력해주세요.')
      }
    }
  }
}
</script>
