<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-permission="['ROLE_SYS_ADMIN']" v-model="searchQuery.prdCtgy" :placeholder="$t('admin.prdCtgy')" class="filter-item" style="width: 150px"  @change="getList">
        <el-option v-for="item in ctgrCodeList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <el-select v-model="searchQuery.qnaType" :placeholder="$t('community.qnaType')" class="filter-item" style="width: 150px" clearable>
        <el-option v-for="item in qnaType" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <el-select v-model="searchQuery.statCd" :placeholder="$t('community.statCd')" class="filter-item" style="width: 150px" clearable>
        <el-option v-for="item in qnaStat" :key="item.statCd" :label="item.statNm" :value="item.statCd"/>
      </el-select>
      <el-select v-model="searchQuery.answerYn" :placeholder="$t('community.answerYn')" class="filter-item" style="width: 150px" clearable>
        <el-option v-for="item in answerStat" :key="item.statCd" :label="item.statNm" :value="item.statCd"/>
      </el-select>
      <el-input :placeholder="$t('community.userId')" v-model="searchQuery.searchUserId" style="width:180px;" class="filter-item" @keyup.enter.native="handleFilter"/>
      <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" icon="el-icon-search" @click="getList">
        {{ $t('btn.search') }}
      </el-button>
    </div>
    <div>
      <el-table :data="qnaList" border highlight-current-row @row-click="showQna">
        <el-table-column :label="$t('community.seqNo')" align="center" :min-width="1">
          <template slot-scope="scope">
            <span>{{ totCnt-(searchQuery.pageIdx-1)*searchQuery.pageSize-scope.$index }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('api.category')" align="center" :min-width="3">
          <template slot-scope="scope">
            <span>{{ scope.row.prdCtgy | prdCtgyFilter('', prdCtgyList) }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('community.qnaType')" align="center" :min-width="3">
          <template slot-scope="scope">
            <span>{{ scope.row.qnaType | qnaTypeFilter('', qnaType) }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('community.reqTitle')" align="center" :min-width="6">
          <template slot-scope="scope">
            <div align="left">{{ scope.row.reqTitle }}</div>
          </template>
        </el-table-column>
        <el-table-column :label="$t('community.regDttm')" align="center" :min-width="3">
          <template slot-scope="scope">
            <span>{{ scope.row.regDttm | dttmFilter }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('community.regId')" align="center" :min-width="3">
          <template slot-scope="scope">
            <span data-type="date">{{ scope.row.userId | maskingId }}</span>
            <span v-if="scope.row.userNm != 'DEL'">( {{ scope.row.userNm | maskingName }} )</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('community.answerDttm')" align="center" :min-width="3">
          <template slot-scope="scope">
            <span>{{ scope.row.modDttm | dttmFilter }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('community.answerUser')" align="center" :min-width="2">
          <template slot-scope="scope">
            <span>{{ scope.row.hfnUserNm }}</span>
          </template>
        </el-table-column>
         <el-table-column :label="$t('community.noticeStat')" align="center" :min-width="2">
          <template slot-scope="scope">
            <el-tag :type="scope.row.statCd | statusFilter">{{ scope.row.statCd | statusTextFilter }}</el-tag>
          </template>
        </el-table-column>
        <el-table-column v-if="checkPermission(['ROLE_SYS_ADMIN'])" :label="$t('community.actions')" align="center" width="100">
          <template slot-scope="scope">
            <el-button v-if="scope.row.statCd != 'DEL'" @click.native.stop="delQna(scope.row.seqNo)">{{ $t('community.action.delete') }}</el-button>
         </template>
        </el-table-column> 
      </el-table>
      <pagination v-show="totCnt>0" :total="totCnt" :page.sync="searchQuery.pageIdx" :limit.sync="searchQuery.pageSize" @pagination="getList"/>
    </div>
  </div>
</template>

<script>
import i18n from '@/lang'
import waves from '@/directive/waves'
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { isEmpty } from '@/utils/validate'
import { selectQnaList, deleteQna } from '@/api/community'
import { selectCommCodeList } from '@/api/common'
import checkPermission from '@/utils/permission'
import permission from '@/directive/permission/index.js'

const statCdOptions = [
  { key: 'OK', statusName: '정상', tag: 'success' },
  { key: 'DEL', statusName: '삭제', tag: 'danger' }
]

const answerOptions = [
  { key: 'Y', statusName: '답변완료' },
  { key: 'N', statusName: '답변대기' }
]

export default {
  name: 'Notice',
  directives: { waves, permission },
  components: { Pagination },
  filters: {
    prdCtgyFilter(code, txtParam, codeList) {
      const value = codeList.reduce((acc, cur) => {
        acc[cur.cdId] = cur.cdNm
        return acc
      }, {})
      return value[code]
    },
    qnaTypeFilter(code, txtParam, codeList) {
      const value = codeList.reduce((acc, cur) => {
        acc[cur.cdId] = cur.cdNm
        return acc
      }, {})
      return value[code]
    },
    statusFilter(status) {
      const tagValue = statCdOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.tag
        return acc
      }, {})
      return tagValue[status]
    },
    statusTextFilter(status) {
      const nameValue = statCdOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.statusName
        return acc
      }, {})
      return nameValue[status]
    },
    answerTypeFilter(chk) {
      const value = answerOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.statusName
        return acc
      }, {})
      return value[chk]
    },
    answerFilter(data) {
      const value = data.substring(0, 30) + ' ...'
      return value
    },
    dttmFilter(dttm) {
      if (!isEmpty(dttm)) {
        const dt = dttm.substring(0,19)
        return dt
      } else {
        return '대기'
      }
    }
  },
  data() {
    return {
      totCnt: 0,
      selCnt: null,
      qnaList: [],
      prdCtgyList: [],
      hfnList: [],
      codeCtgrCd: {
        commCdId: '1100',
      },
      ctgrCodeList: [],
      searchQuery: {
        pageIdx: 1,
        pageSize: 10,
        searchQna: '',
        searchUserId: '',
        prdCtgy: '',
        statCd: '',
        answerYn: '',
        qnaType: '',
        roleNm: ''
      },
      seqList: [],
      qnaStat: [],
      answerStat: [],
      secrchprdCtgy: {
        commCdId: '1100',
        cdId: '',
        cdNm: '',
        cdEng: '',
        cdUseYn: ''
      },
      secrchQnaType: {
        commCdId: '950',
        cdId: '',
        cdNm: '',
        cdEng: '',
        cdUseYn: ''
      },
      qnaType: [],
      seqNo: '',
    }
  },
  computed: {
    ...mapGetters([
      'hfnCd',
      'roles'
    ])
  },
  created() {
    this.searchQuery.roleNm = this.roles[0]
    this.qnaStatFetch()
    this.answerStatFetch()
    this.getQnaTypeList()
    this.getPrdCtgyList()
    this.getCtgrCodeList()
  },
  methods: {
    checkPermission,
    getCtgrCodeList() {
      selectCommCodeList(this.codeCtgrCd).then(response => {
        this.ctgrCodeList = response.codeList
        this.ctgrCodeList.unshift({ cdId: '', cdNm: '전체'})
        this.searchQuery.prdCtgy = this.hfnCd
        this.getList()
      })
    },
    getPrdCtgyList(){
      selectCommCodeList(this.secrchprdCtgy).then(response => {
        this.prdCtgyList = response.codeList
        this.prdCtgyList.unshift({ cdId: '', cdNm: '전체'})
      })
    },
    qnaStatFetch() {
      this.qnaStat.push({statCd: 'ALL', statNm: '전체'})
      this.qnaStat.push({statCd: 'OK', statNm: '정상'})
      this.qnaStat.push({statCd: 'DEL', statNm: '삭제'})
    },
    answerStatFetch() {
      this.answerStat.push({statCd: 'ALL', statNm: '전체'})
      this.answerStat.push({statCd: 'Y', statNm: '답변완료'})
      this.answerStat.push({statCd: 'N', statNm: '답변대기'})
    },
    getQnaTypeList() {
      selectCommCodeList(this.secrchQnaType).then(response => {
        this.qnaType = response.codeList
        this.qnaType.unshift({ cdId: '', cdNm: '전체'})
      })
    },
    getList() {
      selectQnaList(this.searchQuery).then(response => {
        this.qnaList = response.qnaList
        this.totCnt = response.totCnt
      })
    },
    showQna(row) {
      this.$router.push({ path: '/qnaDetail?seqNo=' + row.seqNo })
    },
    delQna(seqNo) {
      this.$confirm('정말 삭제하시겠습니까?', {
        confirmButtonText: this.$t('btn.delete'),
        cancelButtonText: this.$t('btn.cancel'),
        type: 'warning'
      }).then(() => {
        this.seqList.push(seqNo)
        deleteQna(this.seqList).then(response => {
          this.getList()
          this.seqList.pop()
        })
      }).catch(() => {
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .noborder {
    overflow: auto;
    .el-container { height: calc(100vh - 429px); padding-bottom: 2px; }
    .el-aside { border-right: solid 1px #ededed; }
    .el-menu { border-right: 0; }
    .el-table td, .el-table th.is-leaf { border-bottom: 0; }
    .el-table::before { height: 0; }
    .el-table .none_highlight:hover td { background: transparent !important; }
    .list_card .el-card__header{ padding: 6px 20px; }
    .category {
      white-space: nowrap;
      margin-right: 20px;
      font-size: 14px;
      color: #00479d;
    }
    .name {
      white-space: nowrap;
      margin-right: 20px;
      font-size: 15px;
      font-weight: bold;
    }
  }
</style>
