<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{ $t('title.qnaDetail') }}</p>
        <el-row type="flex" class="btn_box">
          <el-button type="info" @click="handleCancel">{{ $t('btn.before') }}</el-button>
          <el-button type="warning" @click="handleReleaseDialog">{{ $t('btn.release') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <div class="app_detail app-container">
      <el-row class="left">
        <el-card shadow="hover">
          <div slot="header" class="clearfix">
            <strong>{{ $t('community.qnas') }}</strong>
          </div>
          <el-form :model="qnaDetail" label-position="left" label-width="130px" style="width: 100%;">
            <el-form-item :label="$t('community.seqNo')" prop="seqNo">
              <span>{{ qnaDetail.seqNo }}</span>
            </el-form-item>
            <el-form-item :label="$t('admin.prdCtgy')" prop="prdCtgy">
              <span>{{ qnaDetail.prdCtgy | prdCtgyFilter('', prdCtgyList)  }}</span>
            </el-form-item>
            <el-form-item :label="$t('community.qnaType')" prop="qnaType">
              <span>{{ qnaDetail.qnaType | qnaTypeFilter('', qnaType)  }}</span>
            </el-form-item>
            <el-form-item :label="$t('community.reqTitle')" prop="reqTitle">
              <span>{{ qnaDetail.reqTitle }}</span>
            </el-form-item>
            <el-form-item :label="$t('community.reqCtnt')" prop="reqCtnt">
              <span v-html="qnaDetail.reqCtnt" style="overflow-y: scroll; height: 130px;display: block; border: 1px solid #cccccc; padding:10px;background-color:white;line-height:1.5em;"></span>
            </el-form-item>
            <el-form-item :label="$t('community.statCd')">
              <span>{{ qnaDetail.statCd | statCdFilter }}</span>
            </el-form-item>
            <el-form-item :label="$t('community.regDttm')" prop="regDttm">
              <span>{{ qnaDetail.regDttm }}</span>
            </el-form-item>
            <el-form-item :label="$t('community.regId')" prop="userNm">
              <span>{{ qnaDetail.userId | maskingId }}( {{ qnaDetail.userNm | maskingName }} )</span>
            </el-form-item>
          </el-form>
        </el-card>
      </el-row>
      <!-- 관리자 답변 -->
      <el-card shadow="hover" class="right" v-if="qnaDetail.statCd == 'OK'">
        <div slot="header" class="clearfix">
          <strong>{{ $t('community.answer') }}</strong>
        </div>
        <el-form :model="qnaDetail" style="width: 100%;">
          <el-form-item prop="answer">
            <textarea v-model="qnaDetail.answer" maxlength="1000" :class="'custom-textarea'" rows="20"/>
          </el-form-item>
          <el-button v-if="qnaDetail.answerYn == 'Y'" v-waves type="danger" align="right" @click="handleAnswerEdit">{{ $t('community.answerEdit') }}</el-button>
          <el-button v-if="qnaDetail.answerYn == 'N'" v-waves type="primary" align="right" @click="handleAnswerEdit">{{ $t('community.answerReg') }}</el-button>
        </el-form>
      </el-card>
      <el-dialog :visible.sync="dialogPassword" :title="$t('btn.release')" width="30%" center>
        <el-form ref="ruleForm" label-width="100px" label-position="left">
          <el-form-item :label="$t('login.password')">
            <el-input v-model="userPassword" maxlength="1000" type="password"/>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click="handleReleaseConfirm">{{ $t('btn.release') }}</el-button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import i18n from '@/lang'
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { mapGetters } from 'vuex'
import { scrollTo } from '@/utils/scrollTo'
import { getToken } from '@/utils/auth'
import { checkPwd } from '@/api/login'
import { isEmpty } from '@/utils/validate'
import { registerPrivacyReleaseLog } from '@/api/setting'
import { detailQna, updateAnswer } from '@/api/community'
import { selectCommCodeList } from '@/api/common'

const statCdOptions = [
  { key: 'OK', statusName: '정상' },
  { key: 'DEL', statusName: '삭제' }
]

export default {
  name: 'QnaDetail',
  directives: { waves },
  components: { Sticky },
  filters: {
    prdCtgyFilter(code, txtParam, codeList) {
      const value = codeList.reduce((acc, cur) => {
        acc[cur.cdId] = cur.cdNm
        return acc
      }, {})
      return value[code]
    },
    qnaTypeFilter(code, txtParam, codeList) {
      const value = codeList.reduce((acc, cur) => {
        acc[cur.cdId] = cur.cdNm
        return acc
      }, {})
      return value[code]
    },
    statCdFilter(chk) {
      const value = statCdOptions.reduce((acc, cur) => {
        acc[cur.key] = cur.statusName
        return acc
      }, {})
      return value[chk]
    }
  },
  data() {
    return {
      secrchPrdCtgy: {
        commCdId: '1100',
        cdId: '',
        cdNm: '',
        cdEng: '',
        cdUseYn: ''
      },
      secrchQnaType: {
        commCdId: '950',
        cdId: '',
        cdNm: '',
        cdEng: '',
        cdUseYn: ''
      },
      prdCtgyList: [],
      qnaType: [],
      seqNo: '',
      answer: '',
      dialogPassword: false,
      dialogEdit: false,
      userPassword: '',
      sourceInformation: {
        userNm: ''
      },
      qnaDetail: {
        seqNo: '',
        compNm: '',
        statCd: '',
        qnaType: '',
        userNm: '',
        userTel: '',
        apiNm: '',
        hfnCd: '',
        reqTitle: '',
        reqCtnt: '',
        uploadFile01: '',
        uploadFile02: '',
        regUser: '',
        regDttm: '',
        answerYn: '',
        modId: '',
        answer: '',
        modDttm: '',
        prdCtgy: ''
      },
      isTechPage: true
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ])
  },
  created() {
    this.seqNo = this.$route.query.seqNo
    this.getQna(this.seqNo)
    this.getQnaTypeList()
    this.getPrdCtgyList()
  },
  methods: {
    getPrdCtgyList() {
      selectCommCodeList(this.secrchPrdCtgy).then(response => {
        this.prdCtgyList = response.codeList
        this.prdCtgyList.unshift({ cdId: '', cdNm: '선택'})
      })
    },
    getQnaTypeList() {
      selectCommCodeList(this.secrchQnaType).then(response => {
        this.qnaType = response.codeList
        this.qnaType.unshift({ cdId: '', cdNm: '선택'})
      })
    },
    handleReleaseConfirm() {
      if (this.userPassword.length <= 0) {
        this.$message.warning('비밀번호를 입력해 주세요.')
      } else {
        checkPwd(this.userPassword).then((response) => {
          if (response === true){
            // 마스킹 처리된 정보를 원본 정보로 원복
            this.qnaDetail.userNm = this.sourceInformation.userNm

            this.dialogPassword = false

            let data = {
              menuNm: '이용기관 정보',
              userKey: this.$route.query.userKey
            }
            registerPrivacyReleaseLog(data)
          }
          else {
            this.$message.error(i18n.t('login.error_check_password'))
          }
        })
      }
    },
    handleReleaseDialog() {
      this.dialogEdit = false

      this.userPassword = ''
      this.dialogPassword = true
    },
    getQna(seqNo) {
      detailQna(seqNo).then(response => {
        this.qnaDetail = response.qna
        this.answer = response.qna.answer
        if (this.qnaDetail.qnaType == "TECH") {
          this.isTechPage = true
        }
        else {
          this.isTechPage = false
        }
        let ctnt = this.qnaDetail.reqCtnt
        this.qnaDetail.reqCtnt = ctnt.replace(/<br\/>/g, '\n')


        if(!isEmpty(this.qnaDetail.uploadFile01)) {
          this.qnaDetail.uploadFile01 = this.qnaDetail.uploadFile01.split('/')[4]
        }
        if(!isEmpty(this.qnaDetail.uploadFile02)) {
          this.qnaDetail.uploadFile02 = this.qnaDetail.uploadFile02.split('/')[4]
        }
      })
    },
    handleCancel() {
      this.$router.push({ path: '/qna' })
    },
    handleAnswerEdit() {
      if(this.qnaDetail.answer != '' && this.qnaDetail.answer != null) {
        if(this.answer == this.qnaDetail.answer) {
          this.$message.error('답변이 변경되지 않았습니다.')
        } else {
          updateAnswer(this.qnaDetail).then(response => {
            this.$message.success('답변을 등록했습니다.')
            this.$router.push({ path: '/qna' })
          })
        }
      } else {
        this.$message.error('답변을 등록해주세요.')
      }
    },
    fileDownload(att) {
      const address = location.origin
      axios({
        url: address + '/api/downloadAttachment',
        method: 'POST',
        headers: { 'Authorization': 'Bearer ' + getToken() },
        responseType: 'blob',
        params: {
          seqNo: this.seqNo,
          att: att
        }
      }).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        let fileName = response.headers['content-disposition']
        fileName = this.getFileNameByContentDisposition(fileName)
        link.href = url
        link.setAttribute('download', fileName)
        document.body.appendChild(link)
        link.click()
      })
    },
    getFileNameByContentDisposition(contentDisposition){
      var regex = /filename[^;=\n]*=(UTF-8(['"]*))?(.*)/;
      var matches = regex.exec(contentDisposition);
      var filename;

      if (matches != null && matches[3]) {
        filename = matches[3].replace(/['"]/g, '');
      }
      return decodeURI(filename);
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  .app_detail {
    display: flex;
    .left, .right {
      width: 700px;
    }
    .right {
      margin-left: 20px;
      .el-table {
        overflow: auto;
        .el-table__empty-block {
          border: none;
        }
        .cell { padding: 0 5px; }
      }
      .el-table--medium th, .el-table--medium td {
        padding: 5px 0;
      }
      .el-card {
        .el-card__header {
          padding: 8px 10px 5px;
          p {
            margin-right: 10px;
            font-weight: bold;
            font-size: 16px;
          }
          .el-tag {
            margin-right: 5px;
          }
          span {
            margin-left: 5px;
          }
        }
        .el-card__body {
          padding: 5px 10px;
        }
      }
      .el-card__body {
        padding-bottom: 5px;
      }
    }
    .input-new-tag {
      width: 190px;
      vertical-align: bottom;
    }
    .el-header {
      background-color: #f7f7f7;
      font-size: 14px;
      line-height: 60px;
    }
    .el-container {
      height: 500px;
      padding-bottom: 10px;
    }
    .el-menu { border-right: 0; }
    .el-table td, .el-table th.is-leaf { border-bottom: 0; }
    .el-table::before { height: 0; }
    .el-table .none_highlight:hover td { background: transparent !important; }
  }
  @media screen and (max-width: 1430px){
    .app_detail {
      flex-direction: column;
      .right {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
</style>
