<template>
<!-- app-container -->
    <div class="app-container">
        <div class="filter-container">
            <el-input :placeholder="$t('useorg.useorgCdNm')" v-model="searchQuery.useorgNm" style="width:180px;" class="filter-item"></el-input>
            <el-input :placeholder="$t('useorg.brn')" v-model="sBrn" style="width:180px;" class="filter-item" maxlength="10"></el-input>
            <el-select v-model="searchQuery.useorgStatCd" :placeholder="$t('useorg.status')"
                 clearable style="width: 150px" class="filter-item">
                <el-option v-for="item in codeStatusList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
            </el-select>
            <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" plain icon="el-icon-search" size="small" @click="getList">
                {{ $t('btn.search') }}
            </el-button>
            <el-button v-waves class="filter-item" style="margin-left: 0px;" plain icon="el-icon-refresh-left" size="small" @click="resetSearch">
                {{$t('btn.resetSearch')}}
            </el-button>
        </div>
        <div class="proc-container">
            <el-button v-waves class="filter-item" style="margin-left: 0px;" type="primary" icon="el-icon-edit" size="small" @click="regUseorg">
                {{$t('btn.add')}}
            </el-button>
        </div> 
        <el-table v-loading="listLoading" :data="list" border highlight-current-row @row-click="detailUseorg">
            <el-table-column label="No." align="center">
                <template slot-scope="scope" align="center">
                    {{ scope.$index + (searchQuery.pageSize * (searchQuery.pageIdx-1))+1}}
                </template>
            </el-table-column>
            <el-table-column :label="$t('useorg.useorgNm')" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.useorgNm}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('useorg.userKey')" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.userKey}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('useorg.brn')" align="center">
                <template slot-scope="scope">
                    <span v-if="scope.row.brn !== null">{{scope.row.brn | brnFilter}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('useorg.useorgDomain')" align="center">
                <template slot-scope="scope">
                    <span>{{scope.row.useorgDomain}}</span>
                </template>
            </el-table-column>
            <el-table-column :label="$t('useorg.status')" align="center">
                <template slot-scope="scope">
                    <el-tag class="button-no-bg" :type="scope.row.useorgStatCd=='OK'?'primary':scope.row.useorgStatCd=='CLOSE'?'info':'danger'">{{ scope.row.useorgStatCd | cdNmFilter('', codeStatusList)}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column :label="$t('useorg.actions')" align="center">
                <template slot-scope="scope">
                    <el-button v-if="scope.row.useorgStatCd === 'CLOSE'" size="mini" plain @click.native.stop="handleModifyStatus(scope.row)">
                        {{ $t('api.ok')}}
                    </el-button>
                    <el-button v-if="scope.row.useorgStatCd === 'OK'" size="mini" plain @click.native.stop="handleModifyStatus(scope.row)">
                        {{ $t('api.close') }}
                    </el-button>    
                    
                </template>
            </el-table-column>
        </el-table>
        <pagination v-show="totCnt>0" :total="totCnt" :page.sync="searchQuery.pageIdx" :limit.sync="searchQuery.pageSize" @pagination="getList"/>
<!-- /app-container -->
    </div>
</template>

<script>
import { useOrgList, useOrgStatusUpd, insertUseOrgHis } from '@/api/useOrg'
import waves from '@/directive/waves'
import { selectCommCodeList } from '@/api/common'
import { mapGetters } from 'vuex'
import Pagination from '@/components/Pagination' // 페이징
export default {
     name: 'useOrgList',
     directives: { waves },
     components: { Pagination },
     filters: {
        cdNmFilter(code, txtParam, codeList) {
        const value = codeList.reduce((obj, cur) => {
            obj[cur.cdId] = cur.cdNm
            return obj
        }, {})
        return value[code]
        }
    },
     data() {
      return {
        totCnt: 0, // 총건수
        sBrn: '', // 검색조괸 - 사업자등록번호
        condStatusCode: {
            commCdId: '0030'
        },
        form: {
          name: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          listLoading: true,
          type: [],
          resource: '',
          desc: ''
        },
        codeStatusList: [], // 상태코드
        list: null,
        searchQuery: {
            pageIdx: 1,
            pageSize: 20,
            useorgNm: '',    // 이용기관명
            brn: '',         // 사업자등록번호
            useorgStatCd: '' // 이용기관상태
        }
      }
    },
    watch: {
        sBrn: function() {
            return this.sBrn = this.sBrn.replace(/[^0-9]/g, '')
        }
    },
    computed: {
    ...mapGetters([
      'roles',
      'userKey'
    ])
    },
    created() {
      this.getList()
      this.getCodeList()
    },
    
    methods: {
        getCodeList() {
            selectCommCodeList(this.condStatusCode).then(response => {
                this.codeStatusList = response.codeList
                this.codeStatusList.unshift({ cdId: '', cdNm: '상태'})
            })
        },
        detailUseorg(data) {
            this.$router.push({path: '/useOrgList/useOrgEdit?userKey=' + data.userKey})
        },
        handleModifyStatus(row) {
            const data = { userKey: row.userKey, useorgStatCd: row.useorgStatCd }
            this.$confirm(this.$t('message.changeConfirm'), {
            }).then(() => {
                useOrgStatusUpd(data).then(response => {
                    this.$message.success(this.$t('message.success_stat'))
                    this.getList()
                })
            })
        },
        regUseorg() {
            this.$router.push({ path: '/useOrgList/useOrgCreate'})
        },
        resetSearch() {
            this.searchQuery.pageIdx = 1
            this.searchQuery.pageSize = 20
            this.searchQuery.useorgNm = ''
            this.searchQuery.brn = ''
            this.sBrn = ''
            this.searchQuery.useorgStatCd = ''
            this.getList()
        },
        getList() {
            this.searchQuery.brn = this.sBrn // 사업자등록번호 값 세팅
            this.listLoading = true
            useOrgList(this.searchQuery).then(response => {
                this.list = response.list
                this.totCnt = response.totCnt
                this.listLoading = false
            })
        }
    }
}
</script>

<style>

</style>