<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{$t('title.regUseorg')}}</p>
        <el-row type="flex" class="btn_box">
          <el-button v-waves type="primary" @click="handleReg">{{ $t('btn.add') }}</el-button>
          <el-button v-waves type="info" @click="handleCancel">{{ $t('btn.list') }}</el-button>
        </el-row>
      </el-row>
    </sticky>
    <!-- app-container -->
    <div class="app-container">
      <el-card shadow="hover">
        <div slot="header">
              <div style="display: table-cell; width: 95%;">
                <strong>{{$t('title.infoUseorg')}}</strong>
              </div>
        </div>
        <el-form ref="ruleForm" :rules="rules" :model="createList" label-position="left" class="demo-form-inline">
           <el-row type="flex">
               <el-form-item ref="test" :label="$t('useorg.useorgNm')" prop="useorgNm" label-width="200px">
                 <el-input v-model="createList.useorgNm" maxlength="20" :placeholder="$t('useorg.useorgNm')"></el-input>
               </el-form-item>
               <el-form-item :label="$t('useorg.userKey')" prop="useorgId"  class="ml20" label-width="200px">
                 <el-input v-model="createList.useorgId" maxlength="10" :placeholder="$t('useorg.userKey')"></el-input>
               </el-form-item>
          </el-row>
          <el-row type="flex">
              <el-form-item label="기관구분" prop="useorgGb" label-width="200px">
                  <el-select v-model="createList.useorgGb" clearable class="filter-item">
                    <el-option v-for="item in useorgGbList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"></el-option>
                  </el-select>
              </el-form-item>
              <el-form-item label="업권" prop="entrCd"  class="ml20" label-width="200px">
                  <el-select v-model="createList.entrCd" clearable class="filter-item">
                    <el-option v-for="item in useorgSelApiList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"></el-option>
                  </el-select>
              </el-form-item>  
          </el-row>
          <el-row type="flex">
              <el-form-item :label="$t('useorg.brn')" prop="brn" label-width="200px">
                  <el-input v-model="createList.brn" maxlength="10" :placeholder="$t('useorg.brn')"></el-input>
              </el-form-item>
              <el-form-item :label="$t('useorg.useorgNo')" prop="useorgNo"  class="ml20" label-width="200px">
                  <el-input v-model="createList.useorgNo" maxlength="13" :placeholder="$t('useorg.useorgNo')"></el-input>
              </el-form-item>
          </el-row>
          <el-row type="flex">
            <el-form-item :label="$t('useorg.useorgAddr')" prop="useorgAddr" label-width="200px">
                <el-input v-model="createList.useorgAddr" maxlength="65" :placeholder="$t('useorg.useorgAddr')"></el-input>
            </el-form-item>
            <el-form-item :label="$t('useorg.relorgCd')" prop="relorgCd" class="ml20" label-width="200px">
                  <el-input v-model="createList.relorgCd" maxlength="10" :placeholder="$t('useorg.relorgCd')"></el-input>
            </el-form-item>
            <!-- <el-form-item :label="$t('useorg.useorgDomain')" prop="useorgDomain" class="ml20">
             <el-input v-model="createList.useorgDomain" maxlength="20" :placeholder="$t('useorg.useorgDomain')" ></el-input>
            </el-form-item> -->
          </el-row>
          <el-row type="flex">
            <!-- 추가 TLS 인증서 시리얼 넘버 -->
              <el-form-item label="TLS 인증서 시리얼넘버" prop="serialNum" label-width="200px">
                  <el-input v-model="createList.serialNum" maxlength="20" placeholder="TLS 인증서 시리얼넘버"></el-input>
              </el-form-item>
              <el-form-item :label="$t('useorg.provCertCd')" prop="provCertCd"  class="ml20" label-width="200px">
                 <el-select v-model="createList.provCertCd" clearable class="filter-item">
                      <el-option v-for="item in provCertList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"></el-option>
                 </el-select>
              </el-form-item>
          </el-row>
          <!-- 추가 API 서버 공인 IP / 통합인증기관 DN값 -->
          <el-row type="flex">
              <el-form-item label="통합인증기관 DN값" prop="certIssuerDn" label-width="200px">
                <el-input v-model="createList.certIssuerDn" maxlength="15" placeholder="통합인증기관 DN값"></el-input>
              </el-form-item>
              <el-form-item label="정보수신자여부" prop="isRcvOrg" class="ml20" label-width="200px">
                <el-radio-group v-model="createList.isRcvOrg" size="small">
                        <el-radio-button label="Y"></el-radio-button>
                        <el-radio-button label="N"></el-radio-button>
                </el-radio-group>
              </el-form-item>
          </el-row>
          <el-form-item :label="$t('useorg.useorgDomain')" prop="useorgDomain" label-width="200px">
             <el-input v-model="createList.useorgDomain" maxlength="100" :placeholder="$t('useorg.useorgDomain')" ></el-input>
          </el-form-item>
          <el-form-item :show-message="showTagMessageDomainIp" :error="tagErrorMessageDomainIp" label-width="200px" label="API 서버 공인 IP" prop="domainIp">  
              <el-tag v-for="(tag, index) in createList.useorgDomainIPs" :key="tag.domainIp" :disable-transitions="false" type="primary" plain closable @close="addCnlKeyCloseDomainIp(index)">{{ tag.domainIp }}</el-tag>
              <el-button v-if="!inputVisibleDomainIp" class="button-new-tag" style="margin-bottom: 5px; margin-left: 0px;" plain  @click="showCnlKeyDomainIp">{{ $t('app.add') }}</el-button>
              <el-input style="width: 150px;" v-show="inputVisibleDomainIp" maxlength="21" ref="domain" @focus="inputVisibleDomainIp = true" v-model="inputValueDomainIp" class="input-new-tag" size="small" @keydown.native="handleNumber" @blur="handleCnlKeyConfirmDomainIp"/>
          </el-form-item>
          <!-- 추가 허용 통합인증서 OID -->
          <el-form-item :label="$t('useorg.oid')" label-width="200px">
              <span slot="label">{{this.$t('useorg.oid')}}
                <el-popover placement="top-start" width="300px" trigger="hover" :content="$t('useorg.oidTooltip')">
                    <el-button slot="reference" type="text" size="default" icon="el-icon-question" ></el-button>
                </el-popover>
              </span>  
              <el-input v-model="createList.certOid" type="textarea" :rows="2" maxlength="650" :placeholder="$t('useorg.oid')"></el-input>
          </el-form-item>
          <!-- 추가 IP 및 PORT -->
          <el-row type="flex" align="left">
            <div class="el-form-item el-form-item--medium" style="width: 200px;">
                <label class="el-form-item__label" style="width: 200px;">{{this.$t('useorg.ipPort')}}
                  <el-popover placement="top-start" width="300px" trigger="hover" :content="$t('useorg.ipPortTooltip')">
                    <el-button slot="reference" type="text" size="default" icon="el-icon-question" ></el-button>
                </el-popover>
                </label>
            </div>
            <el-form-item :show-message="showTagMessage" :error="tagErrorMessage" label-width="" label="" prop="cnlKey">  
                <el-tag style="margin-left:0px;" v-for="(tag, index) in createList.clientIPs" :key="tag.cnlKey" :disable-transitions="false" type="primary" plain closable @close="addCnlKeyClose(index)">{{ tag.cnlKey }}</el-tag>
                <el-button v-if="!inputVisible" class="button-new-tag" style="margin-bottom: 5px;" plain @click="showCnlKey">{{ $t('app.add') }}</el-button>
                <el-input style="width: 150px;" maxlength="20" v-show="inputVisible" ref="save" @focus="inputVisible = true" v-model="inputValue" class="input-new-tag" size="small" @keydown.native="handleNumber" @blur="handleCnlKeyConfirm"/>
            </el-form-item>
          </el-row>
          <!-- 정기적 전송가능 시간 -->
          <el-row type="flex" align="left">
            <div class="el-form-item el-form-item--medium" style="width: 200px;">
                <label class="el-form-item__label" style="width: 200px;">{{this.$t('useorg.npTime')}}
                  <el-popover placement="top-start" width="300px" trigger="hover" :content="$t('useorg.npTimeTooltip')">
                    <el-button slot="reference" type="text" size="default" icon="el-icon-question" ></el-button>
                </el-popover>
                </label>
            </div>
            <el-form-item :show-message="showTagMessageNptime" :error="tagErrorMessageNptime" label-width="" label="" prop="npTime">  
                <el-tag style="margin-left:0px;" v-for="(tag, index) in createList.nptimes" :key="tag.npTime" :disable-transitions="false" type="primary" plain closable @close="addCnlKeyCloseNptime(index)">{{ tag.npTime }}</el-tag>
                <el-button v-if="!inputVisibleNptime" class="button-new-tag" style="margin-bottom: 5px;" plaind @click="showNptime">{{ $t('app.add') }}</el-button>
                <el-input style="width: 150px;" maxlength="20" v-show="inputVisibleNptime" ref="npTime" @focus="inputVisibleNptime = true" v-model="inputValueNptime" class="input-new-tag" size="small" @keydown.native="handleNumber" @blur="handleNptimeConfirm"/>
            </el-form-item>
          </el-row>
          <el-form-item :label="$t('useorg.memo')" label-width="200px">
              <el-input v-model="createList.useorgCtnt" type="textarea" :rows="2" maxlength="650" :placeholder="$t('useorg.memo')"></el-input>
          </el-form-item>
          
        </el-form>   
          
      </el-card>
    </div>
    <!-- /app-container -->
  </div>
</template>
<script>
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { useOrgReg } from '@/api/useOrg'
import { selectCommCodeList } from '@/api/common'

export default {
  name: 'useOrgCreate',
  directives: { waves },
  components: { Sticky },
  data() {
    return {
      sBrn:'', // 사업자등록번호
      sUseorgNo: '', // 법인등록번호
      sUseorgUserTel: '', // 연락처
      ruleForm: {
      },
      showTagMessage: false,
      tagErrorMessage: '',
      inputVisible: false,
      inputValue: '',
      showTagMessageDomainIp: false,
      tagErrorMessageDomainIp: '',
      showTagMessageNptime:false,
      tagErrorMessageNptime:'',
      inputVisibleDomainIp: false,
      inputValueDomainIp: '',
      inputVisibleNptime: false,
      inputValueNptime: '',
      createList: {
        useorgNm: '',        // 기관명
        useorgId: '',        // 기관코드
        useorgGb: '',        // 기관구분
        entrCd: 'bank',          // 업권
        brn: '',             // 사업자등록번호
        useorgNo: '',        // 법인등록번호
        useorgAddr: '',      // 주소
        useorgDomain: '',    // API 도메인명
        relorgCd: '',        // 중계기관코드
        provCertCd: '',      // 제공인증방식
        serialNum: '',
        certIssuerDn: '',
        isRcvOrg: 'N',
        certOid: '',
        clientIPs: [], // 허용IP
        useorgDomainIPs: [],
        nptimes: []
      },
      useorgGbList: [],
      condOrggbCode: {
        commCdId: '0010'
      },
      // 업권 코드리스트(은행만 출력)
      useorgSelApiList:[],
      condSelLCode: {
        commCdId: '0000', conn1Cd: 'Y'

      },
      // 제공인증방식 코드리스트
      provCertList: [],
      condProvCode: {
        commCdId: '0020'
      },
    }
  },
  computed: {
    rules() {
      return {
        useorgNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        useorgId: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
                   { min: 10, message: this.$t('message.warning_check_useorgId'), trigger: 'blur'}],
        useorgGb: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }]
        // entrCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }]
        // brn: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
        //       { min: 10, message: this.$t('message.warning_check_brn'), trigger: 'blur'},
        //       { pattern: /^[0-9]*$/, message: this.$t('message.warning_check_number'), trigger: 'blur' }],
        // useorgNo: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
        //            { min: 13, message: this.$t('message.warning_check_useorgNo'), trigger: 'blur'},
        //            { pattern: /^[0-9]*$/, message: this.$t('message.warning_check_number'), trigger: 'blur' }],
        // useorgAddr: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        // useorgDomain: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        // relorgCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
        //            { min: 10, message: this.$t('message.warning_check_relorgCd'), trigger: 'blur'}],
        // provCertCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
      }
    }
    
  },
  created() {
    this.getCodeList()
  },
  watch: {
    'createList.brn': function(val){
      return this.createList.brn = this.createList.brn.replace(/[^0-9]/g, '')
    },
    'createList.useorgNo': function(val){
      return this.createList.useorgNo = this.createList.useorgNo.replace(/[^0-9]/g, '')
    }
  },
  methods: {
    showCnlKey() { 
      this.inputVisible = true
      this.$nextTick(_ => {
        this.$refs.save.$refs.input.focus()
      })
    },
    showCnlKeyDomainIp() { 
      this.inputVisibleDomainIp = true
      this.$nextTick(_ => {
        this.$refs.domain.$refs.input.focus()
      })
    },
    showNptime() { 
      this.inputVisibleNptime = true
      this.$nextTick(_ => {
        this.$refs.npTime.$refs.input.focus()
      })
    },
    handleNumber(event) {
      event = event || window.event
        var keyID = (event.which) ? event.which : event.keyCode
        if ((keyID >= 48 && keyID <= 57) || keyID === 9 || keyID === 16  || keyID === 186 || (keyID >= 96 && keyID <= 105) || keyID === 8 || keyID === 46 || keyID === 37 || keyID === 39 || keyID === 190 || keyID === 110) {
          return
        } else {
          event.preventDefault()
        }
    },
    handleCnlKeyConfirm() {
        const inputValue = this.inputValue
        if (inputValue) {
          var indexYN = inputValue.indexOf(':')
          if (indexYN === -1) {
            if (!(/^(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)$/).test(inputValue)) {
              this.showTagMessage = true
              this.tagErrorMessage = this.$t('message.error_rule_ip') // IP형식에 맞춰서 입력하세요.
            } else { // ip 형식에 맞음
              this.createList.clientIPs.push({ cnlKey: inputValue })
              this.createList.clientIPs = this.createList.clientIPs.filter((li, idx, self) => self.map(itm => itm.cnlKey).indexOf(li.cnlKey) === idx)
              this.inputVisible = false
              this.inputValue = ''
              this.showTagMessage = false
              this.tagErrorMessage = ''
           }
          } else {
            if (!(/^(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*){1}([:][0-9]{2,4})$/).test(inputValue)) {
              this.showTagMessage = true
              this.tagErrorMessage = this.$t('message.error_rule_ip') // IP형식에 맞춰서 입력하세요.
            } else { // ip 형식에 맞음
              this.createList.clientIPs.push({ cnlKey: inputValue })
              this.createList.clientIPs = this.createList.clientIPs.filter((li, idx, self) => self.map(itm => itm.cnlKey).indexOf(li.cnlKey) === idx)
              this.inputVisible = false
              this.inputValue = ''
              this.showTagMessage = false
              this.tagErrorMessage = ''
             }
          }
        } else {
          this.inputVisible = false
          this.inputValue = ''
          this.showTagMessage = false
        }
      },
    handleNptimeConfirm() {
      const inputValue = this.inputValueNptime
      if (inputValue) {
        if (!(/^(([1-9]|[01][0-9]|2[0-3])([0-5][0-9])){1}([:](([1-9]|[01][0-9]|2[0-3])([0-5][0-9])))$/).test(inputValue)) {
          this.showTagMessageNptime = true
          this.tagErrorMessageNptime = this.$t('message.error_nptime') // IP형식에 맞춰서 입력하세요.
        } else { // ip 형식에 맞음
          this.createList.nptimes.push({ npTime: inputValue })
          this.createList.nptimes = this.createList.nptimes.filter((li, idx, self) => self.map(itm => itm.npTime).indexOf(li.npTime) === idx)
          this.inputVisibleNptime = false
          this.inputValueNptime = ''
          this.showTagMessageNptime = false
          this.tagErrorMessageNptime = ''
        }
      } else {
        this.inputVisible = false
        this.inputValue = ''
        this.showTagMessage = false
      }
    },
    handleCnlKeyConfirmDomainIp() {
        const inputValueDomainIp = this.inputValueDomainIp
        // ip 작성이후 focus out
        if (inputValueDomainIp) {
          var indexYN = inputValueDomainIp.indexOf(':')
          if (indexYN === -1) {
            if (!(/^(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)$/).test(inputValueDomainIp)) {
              this.showTagMessageDomainIp = true
              this.tagErrorMessageDomainIp = this.$t('message.error_rule_ip') // IP형식에 맞춰서 입력하세요.
            } else { // ip 형식에 맞음
              this.createList.useorgDomainIPs.push({ domainIp: inputValueDomainIp })
              this.createList.useorgDomainIPs = this.createList.useorgDomainIPs.filter((li, idx, self) => self.map(itm => itm.domainIp).indexOf(li.domainIp) === idx)
              this.inputVisibleDomainIp = false
              this.inputValueDomainIp = ''
              this.showTagMessageDomainIp = false
              this.tagErrorMessageDomainIp = ''
           }
          } else {
            if (!(/^(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*){1}([:][0-9]{2,4})$/).test(inputValueDomainIp)) {
              this.showTagMessageDomainIp = true
              this.tagErrorMessageDomainIp = this.$t('message.error_rule_ip') // IP형식에 맞춰서 입력하세요.
            } else { // ip 형식에 맞음
              this.createList.useorgDomainIPs.push({ domainIp: inputValueDomainIp })
              this.createList.useorgDomainIPs = this.createList.useorgDomainIPs.filter((li, idx, self) => self.map(itm => itm.domainIp).indexOf(li.domainIp) === idx)
              this.inputVisibleDomainIp = false
              this.inputValueDomainIp = ''
              this.showTagMessageDomainIp = false
              this.tagErrorMessageDomainIp = ''
             }
          }
        } else {
          this.inputVisibleDomainIp = false
          this.inputValueDomainIp = ''
          this.showTagMessageDomainIp = false
        }
      },  
    addCnlKeyClose(idx) {
      this.createList.clientIPs.splice(idx, 1)
    },
    addCnlKeyCloseDomainIp(idx) {
      this.createList.useorgDomainIPs.splice(idx, 1)
    },
    addCnlKeyCloseNptime(idx) {
      this.createList.nptimes.splice(idx, 1)
    },
    getCodeList() {
        // 제공인증방식 코드리스트
        selectCommCodeList(this.condProvCode).then(response => {
          this.provCertList = response.codeList
        })
        // 기관구분 코드리스트
        selectCommCodeList(this.condOrggbCode).then(response => {
          this.useorgGbList = response.codeList
        })
        // 업권 코드리스트
        selectCommCodeList(this.condSelLCode).then(response => {
          this.useorgSelApiList = response.codeList
        })
    },
    handleCancel() {
      // 목록버튼
      this.$router.push({ path: '/useOrgList'})
    },
    handleReg() {
        this.$refs['ruleForm'].validate((valid) => {
          if (valid) {
             this.$confirm(this.$t('message.createConfirm'), {
            }).then(() => {
              useOrgReg(this.createList).then(response => {
                if (response.error === 'Accepted') {
                  this.$message.warning(this.$t('message.error_reg_useorg'))
                } else {
                  this.$message.success(this.$t('message.save'))
                  this.$router.push({ path: '/useOrgList'})
                }
            })
          })

          }
        })
    }

  }
}
</script>

<style>

</style>