<template>
  <div class="has-head-container">
    <sticky :class-name="'sub-navbar'">
      <el-row type="flex" align="middle" justify="space-between">
        <p>{{$t('title.updUseorg')}}</p>
        <el-row type="flex" class="btn_box">
          <el-button v-if="editList.useorgStatCd === 'OK'" @click="handleModifyStatus">{{$t('btn.close')}}</el-button>
          <el-button v-if="editList.useorgStatCd === 'CLOSE'" @click="handleModifyStatus">{{$t('btn.ok')}}</el-button>
          <el-button v-waves type="primary" @click="handleUpd">{{$t('btn.edit')}}</el-button>
          <el-button v-if="editList.useorgStatCd !== 'DEL'" v-waves type="danger" @click="handleDel">{{$t('btn.delete')}}</el-button>
          <el-button v-waves type="info" @click="handleCancel">{{$t('btn.list')}}</el-button>
      </el-row>
       </el-row>
    </sticky>
    <!-- app-container -->
    <div class="app-container">
      <el-card shadow="hover">
        <div slot="header">
          <strong>{{$t('title.infoUseorg')}}</strong>
        </div>
        <el-form ref="ruleForm" :rules="rules" :model="editList" label-position="left" class="demo-form-inline">
          <el-row type="flex">
            <el-form-item :label="$t('useorg.useorgNm')" prop="useorgNm" label-width="200px">
              <el-input v-model="editList.useorgNm" maxlength="20" :placeholder="$t('useorg.useorgNm')"></el-input>
            </el-form-item>
            <el-form-item :label="$t('useorg.userKey')" class="ml20" prop="useorgId" label-width="200px">
              <el-input v-model="editList.useorgId" maxlength="10" :placeholder="$t('useorg.userKey')" disabled></el-input>
            </el-form-item>
          </el-row>
          <el-row type="flex">  
            <el-form-item :label="$t('useorg.useorgGb')" prop="useorgGb" label-width="200px">
              <el-select v-model="editList.useorgGb" clearable class="filter-item">
                <el-option v-for="item in useorgGbList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item :label="$t('useorg.entrCd')" prop="entrCd"  class="ml20" label-width="200px">
              <el-select v-model="editList.entrCd" clearable class="filter-item">
                <el-option v-for="item in useorgSelApiList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"></el-option>
              </el-select>
            </el-form-item>
          </el-row>
          <el-row type="flex">  
            <el-form-item :label="$t('useorg.brn')" prop="brn" label-width="200px">
              <el-input v-model="editList.brn" maxlength="10" :placeholder="$t('useorg.brn')"></el-input>
            </el-form-item>
            <el-form-item :label="$t('useorg.useorgNo')" prop="useorgNo"  class="ml20" label-width="200px">
              <el-input v-model="editList.useorgNo" maxlength="13" :placeholder="$t('useorg.useorgNo')"></el-input>
            </el-form-item>
          </el-row>
          <el-row type="flex">
            <el-form-item :label="$t('useorg.useorgAddr')" prop="useorgAddr" label-width="200px">
              <el-input v-model="editList.useorgAddr" maxlength="65" :placeholder="$t('useorg.useorgAddr')"></el-input>
            </el-form-item>
            <el-form-item :label="$t('useorg.relorgCd')" prop="relorgCd" class="ml20" label-width="200px"> 
              <el-input v-model="editList.relorgCd" maxlength="10" :placeholder="$t('useorg.relorgCd')"></el-input>
            </el-form-item>
          </el-row>
          <el-row type="flex">
            <el-form-item label="TLS 인증서 시리얼넘버" prop="serialNum" label-width="200px">
              <el-input v-model="editList.serialNum" maxlength="20" placeholder="TLS 인증서 시리얼넘버"></el-input>
            </el-form-item>
            <el-form-item :label="$t('useorg.provCertCd')" prop="provCertCd"  class="ml20" label-width="200px">
              <el-select v-model="editList.provCertCd" clearable class="filter-item">
                <el-option v-for="item in provCertList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"></el-option>
              </el-select>
            </el-form-item>
          </el-row>
          <el-row type="flex">
              <el-form-item label="통합인증기관 DN값" prop="certIssuerDn" label-width="200px">
                <el-input v-model="editList.certIssuerDn" maxlength="15" placeholder="통합인증기관 DN값"></el-input>
              </el-form-item>
              <el-form-item label="정보수신자여부" prop="isRcvOrg"  class="ml20" label-width="200px">
                <el-radio-group v-model="editList.isRcvOrg" size="small">
                        <el-radio-button label="Y"></el-radio-button>
                        <el-radio-button label="N"></el-radio-button>
                </el-radio-group>
              </el-form-item>
          </el-row>
          <el-form-item :label="$t('useorg.useorgDomain')" prop="useorgDomain" label-width="200px">
              <el-input v-model="editList.useorgDomain" maxlength="100" :placeholder="$t('useorg.useorgDomain')"></el-input>
          </el-form-item>
          <el-form-item :show-message="showTagMessageDomainIp" :error="tagErrorMessageDomainIp" label-width="200px" label="API 서버 공인 IP" prop="domainIp">  
              <el-tag v-for="(tag, index) in editList.useorgDomainIPs" :key="tag.domainIp" :disable-transitions="false" type="primary" plain closable @close="addCnlKeyCloseDomainIp(index)">{{ tag.domainIp }}</el-tag>
              <el-button v-if="!inputVisibleDomainIp" class="button-new-tag" style="margin-bottom: 5px; margin-left: 0px;" plain  @click="showCnlKeyDomainIp">{{ $t('app.add') }}</el-button>
              <el-input style="width: 150px;" v-show="inputVisibleDomainIp" maxlength="21" ref="domain" @focus="inputVisibleDomainIp = true" v-model="inputValueDomainIp" class="input-new-tag" size="small" @keydown.native="handleNumberDomainIp" @blur="handleCnlKeyConfirmDomainIp"/>
          </el-form-item>
          <el-form-item :label="$t('useorg.oid')" label-width="200px">
              <span slot="label">{{this.$t('useorg.oid')}}
                <el-popover placement="top-start" width="300px" trigger="hover" :content="$t('useorg.oidTooltip')">
                    <el-button slot="reference" type="text" size="default" icon="el-icon-question" ></el-button>
                </el-popover>
              </span>  
              <el-input v-model="editList.certOid" type="textarea" :rows="2" maxlength="650" :placeholder="$t('useorg.oid')"></el-input>
          </el-form-item>
          <el-row type="flex" align="left">
            <div class="el-form-item el-form-item--medium" style="width: 200px;">
                  <label class="el-form-item__label" style="width: 200px;">{{this.$t('useorg.ipPort')}}
                    <el-popover placement="top-start" width="300px" trigger="hover" :content="$t('useorg.ipPortTooltip')">
                      <el-button slot="reference" type="text" size="default" icon="el-icon-question" ></el-button>
                  </el-popover>
                  </label>
              </div>
            <el-form-item :show-message="showTagMessage" :error="tagErrorMessage" label-width="" label="" prop="cnlKey">  
                <el-tag style="margin-left:0px;" v-for="(tag, index) in editList.clientIPs" :key="tag.cnlKey" :disable-transitions="false" type="primary" plain closable @close="addCnlKeyClose(index)">{{ tag.cnlKey }}</el-tag>
                <el-button v-if="!inputVisible" class="button-new-tag" style="margin-bottom: 5px;" plain  @click="showCnlKey">{{ $t('app.add') }}</el-button>
                <el-input style="width: 150px;" maxlength="20" v-show="inputVisible" ref="save" @focus="inputVisible = true" v-model="inputValue" class="input-new-tag" size="small" @keydown.native="handleNumber" @blur="handleCnlKeyConfirm"/>
            </el-form-item>
          </el-row>
          <!-- 정기적 전송가능 시간 -->
          <el-row type="flex" align="left">
            <div class="el-form-item el-form-item--medium" style="width: 200px;">
                <label class="el-form-item__label" style="width: 200px;">{{this.$t('useorg.npTime')}}
                  <el-popover placement="top-start" width="300px" trigger="hover" :content="$t('useorg.npTimeTooltip')">
                    <el-button slot="reference" type="text" size="default" icon="el-icon-question" ></el-button>
                </el-popover>
                </label>
            </div>
            <el-form-item :show-message="showTagMessageNptime" :error="tagErrorMessageNptime" label-width="" label="" prop="npTime">  
                <el-tag style="margin-left:0px;" v-for="(data, index) in editList.nptimes" :key="data.npTime" :disable-transitions="false" type="primary" plain closable @close="addCnlKeyCloseNptime(index)">{{ data.npTime }}</el-tag>
                <el-button v-if="!inputVisibleNptime" class="button-new-tag" style="margin-bottom: 5px;" plaind @click="showNptime">{{ $t('app.add') }}</el-button>
                <el-input style="width: 150px;" maxlength="20" v-show="inputVisibleNptime" ref="npTime" @focus="inputVisibleNptime = true" v-model="inputValueNptime" class="input-new-tag" size="small" @keydown.native="handleNumber" @blur="handleNptimeConfirm"/>
            </el-form-item>
          </el-row>
          <el-form-item :label="$t('useorg.memo')" prop="useorgCtnt" label-width="200px">
            <el-input v-model="editList.useorgCtnt" type="textarea" maxlength="650" :rows="2" :placeholder="$t('useorg.memo')"></el-input>
          </el-form-item>
          <el-row type="flex">
              <el-form-item :label="$t('useorg.status')" label-width="200px">
                  <el-tag class="button-no-bg" :type="editList.useorgStatCd=='OK'?'primary':editList.useorgStatCd=='CLOSE'?'info':'danger'">{{ editList.useorgStatCd | cdNmFilter('', codeStatusList)}}</el-tag>
              </el-form-item>
          </el-row>  
        </el-form>    
      </el-card>
    </div>
    <!-- /app-container -->
  </div>
</template>
<script>
import Sticky from '@/components/Sticky'
import waves from '@/directive/waves'
import { useOrgStatusUpd, useOrgUpd, useOrgDetail } from '@/api/useOrg'
import { selectCommCodeList } from '@/api/common'

export default {
  name: 'useOrgCreate',
  directives: { waves },
  components: { Sticky },
  filters: {
        cdNmFilter(code, txtParam, codeList) {
        const value = codeList.reduce((obj, cur) => {
            obj[cur.cdId] = cur.cdNm
            return obj
        }, {})
        return value[code]
        }
  },
  data() {
    return {
      dialogPassword: false, // PW dialog visible
      userPwdChk: '', // 마스킹해제시 pw
      userKey: '',
      ruleForm: {},
      showTagMessage: false,
      tagErrorMessage: '',
      inputVisible: false,
      inputValue: '',
      showTagMessageDomainIp: false,
      tagErrorMessageDomainIp: '',
      showTagMessageNptime:false,
      tagErrorMessageNptime:'',
      inputVisibleDomainIp: false,
      inputValueDomainIp: '',
      inputVisibleNptime: false,
      inputValueNptime: '',
      editList: {
      },
      useorgGbList: [],
      condOrggbCode: {
        commCdId: '0010'
      },
      // 업권 코드리스트(은행만 출력)
      useorgSelApiList:[],
      condSelLCode: {
        commCdId: '0000', conn1Cd: 'Y'

      },
      // 제공인증방식 코드리스트
      provCertList: [],
      condProvCode: {
        commCdId: '0020'
      },
      condStatusCode: {
            commCdId: '0030'
        },
      codeStatusList: []
    }
  },
  computed: {
    rules() {
      return {
        useorgNm: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        useorgId: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
                   { min: 10, message: this.$t('message.warning_check_useorgId'), trigger: 'blur'}],
        useorgGb: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }]
        // entrCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }]
        // brn: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
        //       { min: 10, message: this.$t('message.warning_check_brn'), trigger: 'blur'},
        //       { pattern: /^[0-9]*$/, message: this.$t('message.warning_check_number'), trigger: 'blur' }],
        // useorgNo: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
        //            { min: 13, message: this.$t('message.warning_check_useorgNo'), trigger: 'blur'},
        //            { pattern: /^[0-9]*$/, message: this.$t('message.warning_check_number'), trigger: 'blur' }],
        // useorgAddr: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        // useorgDomain: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
        // relorgCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' },
        //            { min: 10, message: this.$t('message.warning_check_relorgCd'), trigger: 'blur'}],
        // provCertCd: [{ required: true, message: this.$t('message.valid_required'), trigger: 'blur' }],
      }
    }
    
  },
  watch: {
    'editList.brn': function(val){
      if (val !== null) {
        return this.editList.brn = this.editList.brn.replace(/[^0-9]/g, '')
      }
    },
    'editList.useorgNo': function(val){
      if (val !== null) {
        return this.editList.useorgNo = this.editList.useorgNo.replace(/[^0-9]/g, '')
      }
    }
  },
  created() {
    this.detailList()
    this.getCodeList()
  },
  methods: {
    showCnlKey() {
      this.inputVisible = true
      this.$nextTick(_ => {
        this.$refs.save.$refs.input.focus()
      })
    },
    showCnlKeyDomainIp() { 
      this.inputVisibleDomainIp = true
      this.$nextTick(_ => {
        this.$refs.domain.$refs.input.focus()
      })
    },
    showNptime() { 
      this.inputVisibleNptime = true
      this.$nextTick(_ => {
        this.$refs.npTime.$refs.input.focus()
      })
    },
    handleNumberDomainIp(event) {
      event = event || window.event
        var keyID = (event.which) ? event.which : event.keyCode
        if ((keyID >= 48 && keyID <= 57) || keyID === 9 || keyID === 16  || keyID === 186 || (keyID >= 96 && keyID <= 105) || keyID === 8 || keyID === 46 || keyID === 37 || keyID === 39 || keyID === 190 || keyID === 110) {
          return
        } else {
          event.preventDefault()
        }
    },
    handleNumber(event) {
      event = event || window.event
        var keyID = (event.which) ? event.which : event.keyCode
        if ((keyID >= 48 && keyID <= 57) || keyID === 9 || keyID === 16  || keyID === 186 || (keyID >= 96 && keyID <= 105) || keyID === 8 || keyID === 46 || keyID === 37 || keyID === 39 || keyID === 190 || keyID === 110) {
          return
        } else {
          event.preventDefault()
        }
    },
    handleCnlKeyConfirm() {
        const inputValue = this.inputValue
        if (inputValue) {
          var indexYN = inputValue.indexOf(':')
          if (indexYN === -1) {
            if (!(/^(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)$/).test(inputValue)) {
              this.showTagMessage = true
              this.tagErrorMessage = this.$t('message.error_rule_ip') // IP형식에 맞춰서 입력하세요.
            } else { // ip 형식에 맞음
              this.editList.clientIPs.push({ cnlKey: inputValue })
              this.editList.clientIPs = this.editList.clientIPs.filter((li, idx, self) => self.map(itm => itm.cnlKey).indexOf(li.cnlKey) === idx)
              this.inputVisible = false
              this.inputValue = ''
              this.showTagMessage = false
              this.tagErrorMessage = ''
           }
          } else {
            if (!(/^(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*){1}([:][0-9]{2,4})$/).test(inputValue)) {
              this.showTagMessage = true
              this.tagErrorMessage = this.$t('message.error_rule_ip') // IP형식에 맞춰서 입력하세요.
            } else { // ip 형식에 맞음
              this.editList.clientIPs.push({ cnlKey: inputValue })
              this.editList.clientIPs = this.editList.clientIPs.filter((li, idx, self) => self.map(itm => itm.cnlKey).indexOf(li.cnlKey) === idx)
              this.inputVisible = false
              this.inputValue = ''
              this.showTagMessage = false
              this.tagErrorMessage = ''
             }
          }
        } else {
          this.inputVisible = false
          this.inputValue = ''
          this.showTagMessage = false
        }
      },
      handleCnlKeyConfirmDomainIp() {
        const inputValueDomainIp = this.inputValueDomainIp
        if (inputValueDomainIp) {
          var indexYN = inputValueDomainIp.indexOf(':')
          if (indexYN === -1) {
            if (!(/^(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)$/).test(inputValueDomainIp)) {
              this.showTagMessageDomainIp = true
              this.tagErrorMessageDomainIp = this.$t('message.error_rule_ip') // IP형식에 맞춰서 입력하세요.
            } else { // ip 형식에 맞음
              this.editList.useorgDomainIPs.push({ domainIp: inputValueDomainIp })
              this.editList.useorgDomainIPs = this.editList.useorgDomainIPs.filter((li, idx, self) => self.map(itm => itm.domainIp).indexOf(li.domainIp) === idx)
              this.inputVisibleDomainIp = false
              this.inputValueDomainIp = ''
              this.showTagMessageDomainIp = false
              this.tagErrorMessageDomainIp = ''
           }
          } else {
            if (!(/^(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*)\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9]|\*){1}([:][0-9]{2,4})$/).test(inputValueDomainIp)) {
              this.showTagMessageDomainIp = true
              this.tagErrorMessageDomainIp = this.$t('message.error_rule_ip') // IP형식에 맞춰서 입력하세요.
            } else { // ip 형식에 맞음
              this.editList.useorgDomainIPs.push({ domainIp: inputValueDomainIp })
              this.editList.useorgDomainIPs = this.editList.useorgDomainIPs.filter((li, idx, self) => self.map(itm => itm.domainIp).indexOf(li.domainIp) === idx)
              this.inputVisibleDomainIp = false
              this.inputValueDomainIp = ''
              this.showTagMessageDomainIp = false
              this.tagErrorMessageDomainIp = ''
             }
          }
        } else {
          this.inputVisibleDomainIp = false
          this.inputValueDomainIp = ''
          this.showTagMessageDomainIp = false
        }
      },  
    handleNptimeConfirm() {
      const inputValue = this.inputValueNptime
      if (inputValue) {
        if (!(/^(([1-9]|[01][0-9]|2[0-3])([0-5][0-9])){1}([:](([1-9]|[01][0-9]|2[0-3])([0-5][0-9])))$/).test(inputValue)) {
          this.showTagMessageNptime = true
          this.tagErrorMessageNptime = this.$t('message.error_nptime') // IP형식에 맞춰서 입력하세요.
        } else { // ip 형식에 맞음
          this.editList.nptimes.push({ npTime: inputValue })
          this.editList.nptimes = this.editList.nptimes.filter((li, idx, self) => self.map(itm => itm.npTime).indexOf(li.npTime) === idx)
          this.inputVisibleNptime = false
          this.inputValueNptime = ''
          this.showTagMessageNptime = false
          this.tagErrorMessageNptime = ''
        }
      } else {
        this.inputVisible = false
        this.inputValue = ''
        this.showTagMessage = false
      }
    },
    addCnlKeyClose(idx) {
      this.editList.clientIPs.splice(idx, 1)
    },
    addCnlKeyCloseDomainIp(idx) {
      this.editList.useorgDomainIPs.splice(idx, 1)
    },
    addCnlKeyCloseNptime(idx) {
      this.editList.nptimes.splice(idx, 1)
    },
    handleDel() {
      const data = { userKey: this.editList.userKey, useorgStatCd: 'DEL' }
      this.$confirm(this.$t('message.deleteConfirm'), {}).then( () => {
            useOrgStatusUpd(data).then(response => {
                if(response.success !== null && response.success !== '') {
                  this.$message.success(this.$t('message.success_delete'))
                  this.$router.push({ path: '/useOrgList'})
                } else {
                  this.$message.warning(this.$t('message.error_upd_status'))
                }
            })
          })
    },
    getCodeList() {
        // 제공인증방식 코드리스트
        selectCommCodeList(this.condProvCode).then(response => {
          this.provCertList = response.codeList
        })
        // 기관구분 코드리스트
        selectCommCodeList(this.condOrggbCode).then(response => {
          this.useorgGbList = response.codeList
        })
        // 업권 코드리스트
        selectCommCodeList(this.condSelLCode).then(response => {
          this.useorgSelApiList = response.codeList
        })
        // 상태
        selectCommCodeList(this.condStatusCode).then(response => {
                this.codeStatusList = response.codeList
                this.codeStatusList.unshift({ cdId: '', cdNm: '전체'})
        })
    },
    handleModifyStatus() {
        const data = { userKey: this.editList.userKey, useorgStatCd: this.editList.useorgStatCd }
        this.$confirm(this.$t('message.changeConfirm'), {

        }).then(() => {
          useOrgStatusUpd(data).then(response => {
            this.$message.success(this.$t('message.success_stat'))
            this.detailList()
            })
        })
            
    },
    // 기관정보 수정
    handleUpd() {
        this.$refs['ruleForm'].validate((valid) => {
          if (valid) {
            this.$confirm(this.$t('message.editConfirm'), {
            }).then(() => {
              useOrgUpd(this.editList).then((response) => {
                if (response.error === 'Accepted') {
                  this.$message.warning(this.$t('message.error_upd_useorg'))
                } else {
                  this.$message.success(this.$t('message.success_upd'))
                  this.$router.push({ path: '/useOrgList'})
                  
                }
                  
              })
          })
        }
       })
    },
    handleCancel() {
      // 목록버튼
      this.$router.push({ path: '/useOrgList'})
    },
    detailList() {
        const data = { userKey: this.$route.query.userKey }
        useOrgDetail(data).then(response => {
            this.editList = response
            this.userKey = this.editList.userKey
        })
    }
  }
}
</script>

<style>

</style>