<template>
  <div class="app-container statistics-container">
    <div class="filter-container">
      <el-select v-model="listQuery.searchApiType" placeholder="분류" filterable clearable style="min-width: 120px" class="filter-item">
        <el-option v-for="item in apiTypeList" :key="item.cdId" :label="item.cdNm" :value="item.cdId"/>
      </el-select>
      <el-date-picker class="filter-item"  v-model="listQuery.searchDt" :picker-options="pickerOptions" :start-placeholder="$t('statistics.startDate')" :end-placeholder="$t('statistics.endDate')" type="daterange"/>
      <el-button v-waves class="filter-item" size="small" plain  type="primary" icon="el-icon-search" @click="getList" style="margin-left: 0px;">
        {{ $t('btn.search') }}
      </el-button>
      <el-button v-waves class="filter-item" style="margin-left: 0px;" plain icon="el-icon-refresh-left" size="small" @click="resetSearch">
                {{$t('btn.resetSearch')}}
            </el-button>
      <el-button v-waves style="margin-left: 0px;" size="small" class="filter-item" type="info" icon="el-icon-download" @click="excelDown">{{ $t('btn.excel') }}</el-button>
    </div>

    <div class="article_chart">
      <p class="h3">API 사용정보</p>
      <el-row :gutter="10">  
        <el-col :xs="24" :sm="24" :lg="6" style="">
          <el-card shadow="hover">
            <p class="api_data">총 건수</p>
            <p>
              <count-to v-if="list.maxApiCnt" :start-val="0" :end-val="Number(list.maxApiCnt)" :duration="2000" class="num"/>
              건
            </p>
          </el-card>
          <el-card shadow="hover">
            <p class="response_data">이용 결과</p>
            <div>
              <p>
                성공
                <count-to v-if="list.successApiCnt" :start-val="0" :end-val="Number(list.successApiCnt)" :duration="2000" class="num"/>
              </p>
              <p>
                실패
                <count-to v-if="list.failApiCnt" :start-val="0" :end-val="Number(list.failApiCnt)" :duration="2000" class="num"/>
              </p>
            </div>
          </el-card>
          <el-card shadow="hover">
            <p class="error_data">에러율</p>
            <div>
              <p>
                <count-to v-if="list.apiError" :start-val="0" :end-val="Number(list.apiError)" :duration="2000" :decimals="2" class="num"/>
                %
              </p>
            </div>
          </el-card>
        </el-col>
        
        <el-col :xs="24" :sm="24" :lg="18" style="padding-right: 0px;">
          <el-card shadow="hover" class="chart-wrapper">
            <line-chart v-if="list.dayList" :chart-data="lineChartData" height="284px"/>
          </el-card>
        </el-col>
      </el-row>
    </div>
    <div>
      <el-card>
        <el-table v-loading="listLoading" :data="list.appTrxList" :header-cell-style="getRowClass" border @row-click="detailStats">
          <el-table-column label="No." align="center" >
              <template slot-scope="scope" align="center">
                    {{ scope.$index + (listQuery.pageSize * (listQuery.pageIdx-1))+1}}
                </template>
          </el-table-column>   
          <el-table-column :label="$t('statistics.trxDate')" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.statDate | dateFilter}}</span>
            </template>
          </el-table-column>
          <el-table-column label="분류" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.apiTypeNm}}</span>
            </template>
          </el-table-column>
          <!-- <el-table-column label="시간대" align="center">
            <template slot-scope="scope" slot="header">
            시간대
                <el-popover placement="top-start" width="300px" trigger="hover" title="시간대역">
                    <el-button slot="reference" type="text" size="default" icon="el-icon-question" ></el-button>
                    <div>
                      (00) 09:00:00 ~ 17:59:59 <br> (01) 그 외 (00:00:00 ~ 08:59:59 및 18:00:00 ~ 23:59:59)
                    </div>
                </el-popover>
            </template>
            <template slot-scope="scope">
              <span>{{ scope.row.tmSlot }}</span>
            </template>
          </el-table-column> -->
          <el-table-column label="총 건수" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.maxApiCnt | format }}</span>
            </template>
          </el-table-column>
          <el-table-column label="완료건수" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.successApiCnt | format }}</span>
            </template>
          </el-table-column>
           <el-table-column label="오류건수" align="center">
            <template slot-scope="scope">
              <span>{{ scope.row.failApiCnt | format }}</span>
            </template>
          </el-table-column>
        </el-table>
        <pagination v-show="totCnt>0" :total="totCnt" :page.sync="listQuery.pageIdx" :limit.sync="listQuery.pageSize" @pagination="getList"/>
      </el-card>
    </div>
    <el-dialog :visible.sync="dialogDetail" :title="dialogTitle" center class="dialog_table">
      <span slot="title">
        <el-row>
          <el-col :span="23">
            <div class="grid-content bg-purple-dark" style="display:flex;">
              <span style="font-size:13px; color: #409EFF; margin-left:10px;">[{{ detailQuery.statDate | dateFilter }}]</span>
              <span style="font-size:13px; font-weight:600"> &nbsp; {{ dialogTitle }}</span>
              <span style="margin:0 auto; margin-right: inherit;"><el-button v-waves size="small" type="info" icon="el-icon-download" @click="excelDetailDown">{{ $t('btn.excel') }}</el-button></span>
            </div>
          </el-col>
        </el-row>
      </span>
      <el-table v-loading="listLoading" :data="listDetail" border style="width: 100%;" highlight-current-row>
        <el-table-column :label="$t('statistics.time')" align="center" >
          <template slot-scope="scope">
            <span>{{ scope.row.tm }}</span>
          </template>
        </el-table-column>
        <!-- 이용 건수 -->
        <el-table-column label="총건수" align="center">
          <template slot-scope="scope">
            <span>{{ scope.row.maxApiCnt | format }}</span>
          </template>
        </el-table-column>
        <!-- 오류건수 -->
        <el-table-column label="완료건수" align="center">
          <template slot-scope="scope">
            <span>{{ scope.row.successApiCnt | format}}</span>
          </template>
        </el-table-column>
        <!-- 완료건수 -->
        <el-table-column label="오류건수" align="center">
          <template slot-scope="scope">
            <span>{{ scope.row.failApiCnt | format}}</span>
          </template>
        </el-table-column>
      </el-table>
    </el-dialog>
  </div>
</template>

<script>
import i18n from '@/lang'
import { policyGetApiList } from '@/api/policy'
import CountTo from 'vue-count-to'
import waves from '@/directive/waves'
import LineChart from '@/views/dashboard/components/LineChart'
import permission from '@/directive/permission/index.js'
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { reqPost, selectPrdCodeList, excelDown } from '@/api/common'
import { statsByDateApi, statsByDateDetailApi } from '@/api/statistics'

export default {
  name: 'PrdUse',
  components: { Pagination, CountTo, LineChart },
  directives: { waves, permission },
  computed: {
    ...mapGetters([
      'hfnCd',
      'roles'
    ])
  },
  filters: {
    format(data) {
      data = data + ''
      var str = ''
      for (var i = data.length - 1, j = 1; i >= 0; i--, j++) {
        if (j % 3 === 0 && i !== 0) {
          str += data[i] + ','
          continue
        }
        str += data[i]
      }
      data = str.split('').reverse().join('')
      return data
    },
    filterData(data) {
      data = parseFloat((data + '').replace(/[^\d\.-]/g, '')).toFixed(2) + ''
      var l = data.split('.')[0].split('').reverse()
      var r = data.split('.')[1]
      var t = ''
      for (var i = 0; i < l.length; i++) {
        t += l[i] + ((i + 1) % 3 === 0 && (i + 1) !== l.length ? ',' : '')
      }
      data = t.split('').reverse().join('') + '.' + r
      return data
    }
  },
  data() {
    return {
      totCnt: 0,
      listLoading: false,
      list: {},
      condStatusCode: {
          commCdId: '0100'

      },
      apiTypeList: [
          // 인증 구분
          {cdId: 'AU0', cdNm: '개별인증'}, // AU01, AU02, AU03
          // 공통 구분
          {cdId: 'CM0', cdNm: '공통'}, // CM01, CM02
          // 은행업권
          {cdId: 'BA01', cdNm: '계좌 목록'}, // BA01
          {cdId: 'BA0', cdNm: '수신계좌 정보'}, // BA01을 제외한 나머지
          {cdId: 'BA1', cdNm: '투자상품 정보'}, // BA11, BA12, BA13
          {cdId: 'BA2', cdNm: '대출상품 정보'} // BA21, BA22, BA23
      ],
      apiList: [],
      listQuery: {
        pageIdx: 1,
        pageSize: 10,
        searchApiType: '',
        searchDt: [new Date(), new Date()]
      },
      detailQuery: {
        statDate: '',
        apiType: '',
        apiTypeNm: ''
      },
      pickerOptions: {
        shortcuts: [{
          text: this.$t('statistics.lastWeek'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
            picker.$emit('pick', [start, end])
          }
        }, {
          text: this.$t('statistics.lastMonth'),
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
            picker.$emit('pick', [start, end])
          }
        }]
      },
      codeList: [],
      prdCodeList: [],
      apiCodeList: [],
      lineChartData: {
        tm: [],
        day: [],
        // apiTrxCnt: [], // 이용건수
        apiTrxCnt: [],
        // 추가
        errApiTrxCnt: [], // 오류건수
        okApiTrxCnt: [], // 정상건수
        resTm: [],
        legendData: ['총 건수', '오류건수', '완료건수', '최소응답시간', '최대응답시간', '평균응답시간'],
        // legendData: [i18n.t('dashboard.apiDeal'), i18n.t('dashboard.responseTime'), i18n.t('dashboard.errorRate')],
        yResponseTime: true,
        yErrorRate: true
      },
      dialogDetail: false,
      listDetail: [],
      dialogTitle: ""
    }
  },
  created() {
    this.dateRange()
    this.getList()
  },
  methods: {
    detailStats(data) {
        this.dialogDetail = true
        this.dialogTitle = data.apiTypeNm
        this.detailQuery.statDate = data.statDate
        this.detailQuery.apiType = data.apiType
        statsByDateDetailApi(this.detailQuery).then(response => {
            this.listDetail = response.dayList
        })
    },
    resetSearch() {
        this.listQuery.pageIdx = 1
        this.listQuery.pageSize = 20
        this.listQuery.searchApiType = ''
        this.dateRange()
        this.getList()
    },
    getList() {
        if (this.listQuery.searchDt) {
            this.listQuery.searchStDt = this.format_date_yyyymmdd(this.listQuery.searchDt[0])
            this.listQuery.searchEnDt = this.format_date_yyyymmdd(this.listQuery.searchDt[1])
        } else {
            this.$message.warning('조회시작일자 종료일자를 입력해주세요.')
            return false
        }
        this.resetChartData()
        this.listLoading = true
        statsByDateApi(this.listQuery).then(response => {
            this.listLoading = false
            this.list = response
            this.totCnt = response.totCnt
            var that = this

            // const keys = ['day', 'apiTrxCnt', 'errApiTrxCnt', 'okApiTrxCnt', 'minProcTerm', 'maxProcTerm', 'procTerm'] // 일자, api거래, 응답시간, 에러율
            const keys = ['day', 'maxApiCnt', 'failApiCnt', 'successApiCnt'] // 일자, api거래, 응답시간, 에러율
            response.dayList.forEach(function(object, idx) {
                keys.forEach(function(key) {
                    that.lineChartData[key].push(object[key])
                })
            })
            this.lineChartData.tm = this.lineChartData.day
        })
    },
    excelDown() {
      var params = {
        searchType: 'apiByDate',
        searchStDt: this.listQuery.searchStDt,
        searchEnDt: this.listQuery.searchEnDt,
        searchApiType: this.listQuery.searchApiType
      }
      excelDown('/api/statsByDateMydataExcelDown', params)
    },
    excelDetailDown() {
      var params = {
        searchType: 'apiByDateDetail',
        searchStDt: this.detailQuery.statDate,
        statDate: this.detailQuery.statDate,
        apiType: this.detailQuery.apiType
      }
      excelDown('/api/statsByDateMydataExcelDown', params)
    },
    dateRange() {
      const end = new Date()
      const start = new Date()
      start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
      this.listQuery.searchDt = [start, end]
    },
    resetChartData() {
      this.lineChartData = {
        tm: [],
        day: [],
        maxApiCnt: [],
        failApiCnt: [],
        successApiCnt: [],
        apiError: [],
        // legendData: [i18n.t('statistics.apiDeal'), i18n.t('statistics.responseTime'), i18n.t('statistics.errorRate')],
        legendData: ['총 건수', '오류건수', '완료건수'],
        yResponseTime: true,
        yErrorRate: true
      }
    },
    format_date_yyyymmdd(inputDate) {
      const y = inputDate.getFullYear()
      const m = inputDate.getMonth() + 1
      const d = inputDate.getDate()
      const mm = m < 10 ? '0' + m : m
      const dd = d < 10 ? '0' + d : d
      return '' + y + mm + dd
    },
    getRowClass({ rowIndex }) {
      if (rowIndex === 0) {
        return 'background: #F7F7F7'
      } else {
        return ''
      }
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .statistics-container {
    padding: 30px 30px 145px;
    background-color: #f7f7f7;
    .h3 {
      margin-bottom: 10px;
      font-size: 16px;
      color: #999999;
    }
  }
  .bg-purple-light {
    background : #e5e9f2;
  }
  .bg-purple-dark{
    background : #d3dce6;
  }
  .grid-content {
    border-radius: 0px;
    line-height: 30px;
  }
</style>
